[2016-01-01 20:55] Refactoring commented on #2309
明白. 谢啦.

[2016-01-01 20:55] #2309 closed

[2016-01-01 20:56] codewisdom commented on #2318
I know I've rebuilt it multiple times.  I went back and forth between different release tags on the master branch and was unable to repo this exact issue when moving back to a late 7.x version.  Each time, I deleted the binary before compiling.

See the version confirmation screenshots below:

<img width="599" alt="gogsversion" src="https://cloud.githubusercontent.com/assets/20617/12072134/a38cd57

[2016-01-01 21:01] Unknwon commented on #2318
OK, let me check again later.

[2016-01-02 01:10] drsect0r commented on #2287
![screenshot from 2016-01-02 02-09-31](https://cloud.githubusercontent.com/assets/9106228/12072812/e2683f1a-b0f5-11e5-9491-36e8cfd9334e.png)

[2016-01-02 01:57] Unknwon commented on #662
@Fnux great points!

Is it a one-way sync or two-way sync?

[2016-01-02 01:59] Unknwon commented on #2318
@codewisdom is it possible to upload the problematic repository to the https://try.gogs.io ?

[2016-01-02 02:05] Unknwon commented on #2287
Thank you!

[2016-01-02 03:04] Unknwon commented on #2179
@barracks510 I don't know why, but `ssh.ParsePublicKey` always returns `ssh: short read` error...

[2016-01-02 03:31] mindfocus commented on #2314
yeah,解决嘞...谢谢

[2016-01-02 03:31] #2314 closed

[2016-01-02 03:32] Unknwon commented on #2314
:trollface:

[2016-01-02 06:21] barracks510 commented on #2179
Sorry about that. I have sent you another patch that should fix the issue.

[2016-01-02 07:25] pudovmaxim commented on #2254
pong. I am updated gogs and now all work correctly. Thanks :)

[2016-01-02 14:58] dabaer opened #2324 "CSRF Handling with Ajax components"
This issue is slightly similar to others, but is more of a UX suggestion than anything else:

When using a component that utilizes ajax (i.e. editing an issue) sometimes the CSRF token will be invalid (browsed another tab, etc) and the submitted content will erase itself and the action does not complete (with no way to retrieve what you typed and tried to submit).

This should have a check before

[2016-01-02 17:19] FGM opened #2326 "Cannot delete user with at least one public key"
If a user has entered a public key, their account can no longer be deleted, without any information in the UI : after the confirmation popup, the browser returns to the unchanged user list and the user is still in the DB. Apparently, this is because gogs is fails deleting the user key info.

The logs contain this error:
DeleteUser()] [E] DeleteUser: deletePublicKey: open /home/gogs/.ssh/authorized

[2016-01-02 19:33] xor-gate commented on #2275
I have exactly the same problem by playing with gogs on the `try.gogs.io`:

https://try.gogs.io/admin1/cmaketest/releases

<img width="614" alt="screen shot 2016-01-02 at 20 33 25" src="https://cloud.githubusercontent.com/assets/1050166/12075869/1b6ccbb0-b190-11e5-9c67-a80b9474c3c0.png">

[2016-01-02 21:17] Unknwon commented on #2179
@barracks510 thanks. It would be much easier for me to just post patch here actually.

[2016-01-02 21:18] Unknwon commented on #2179
[code]

[2016-01-02 21:18] Unknwon commented on #2254
:trollface:

[2016-01-02 21:18] #2254 closed

[2016-01-02 21:22] Unknwon commented on #2275
@xor-gate thanks!

Can you provide steps to reproduce this?

[2016-01-02 21:26] xor-gate commented on #2275
1. Mirror repo https://github.com/Eyescale/CMake
2. Select `2015.12` branch and create `0.0.1-beta` release
3. View the `-171 commits` in the release tab

Maybe this has something todo where Gogs looks as reference point against the release (git HEAD pointer)? Probably it sees there are 171 commits to "master" since the release?

[2016-01-02 21:30] Unknwon commented on #2275
Thanks again, but it still not very clear to me. I'll test out later ASAP.

[2016-01-02 21:32] Unknwon commented on #2326
Hi, is `/home/gogs/.ssh/authorized_keys` the real/correct path for the file?

[2016-01-02 23:19] barracks510 commented on #2179
Ok. I will keep that in mind with future patches. Would you be against a rewrite of the ssh_keys.go file to use the Google maintained golang.org/x/crypto/ssh library?

[2016-01-03 04:24] l2dy opened #2327 "A duplicate in conf/license"
Creative Commons CC0 1.0 Universal and Creative Commons Zero v1.0 Universal have the same content.

[2016-01-03 08:45] FGM commented on #2326
Yes /home/gogs is the home directory for user gogs, which was created during install from the packager.io package for Ubuntu 12.04 LTS. As you can see, the end of the line for the remaining key does contain the usual info for a public key: the key itself and an associated name.

[2016-01-03 13:29] xiegeo opened #2329 "Repositories created though the api allows illegal characters"
I created repos with the api using go-gogs-client, with names containing some characters such as '+' and '='. When editing such a repo's description using the web interface I got "Repository name must be valid alpha or numeric or dash(-_) or dot characters."

[2016-01-03 21:27] Unknwon commented on #2179
@barracks510

Which one?

[2016-01-03 21:29] Unknwon commented on #2326
Yes, it is very strange that the error is confusing.

Are you able to reproduce this error 100%?

[2016-01-03 21:53] Unknwon commented on #2327
@l2dy you're right!

Which name is more commonly used then?

[2016-01-03 21:57] Unknwon commented on #2329
Thanks your report!

[2016-01-04 01:59] quantonganh commented on #2285
I also got this problem:

[code]

It happened a lot and I'm not sure it's reason that caused the built-in ssh server [seems to be hang](https://github.com/gogits/gogs/issues/1681#issuecomment-167065203) or not.

[2016-01-04 07:01] quantonganh opened #2330 "Error 500 when creating a pull request"
[code]

I have just suddenly got an error when creating a PR:

[code]

I understand what it said, but where does Gogs keep the local copy?
How to solve this problem?

According to the issue #2183, I guess that I should not delete the PR from the filesystem (`/var/lib/gogs/repositories/dev/common.git/pulls/12.patch`).

[2016-01-04 07:14] biji opened #2331 "Line break in email notification should be in html format"
Currently email notification for new issue is just one line text. Should be in html formatted to make it more pretty

thanks

[2016-01-04 09:21] xor-gate opened #2332 "User profile organisations and teams"
Maybe it would be nice to show in the user profile the organisations and teams it is part of like on github.

Something like this:
![2016-01-04 10_19_26-spf13 steve francia](https://cloud.githubusercontent.com/assets/1050166/12086705/eb5751fa-b2cc-11e5-80e6-4dedb4caf70f.png)

[2016-01-04 09:25] xor-gate opened #2333 "User profile contributions"
Also for the user profile it would be nice to see contributions as on github. With outstanding issues and recent commits.

Like this:
![2016-01-04 10_23_18-xor-gate jerry jacobs](https://cloud.githubusercontent.com/assets/1050166/12086774/6ca2f552-b2cd-11e5-9957-1a09661b1ab6.png)

[2016-01-04 10:01] velislav commented on #2221
This was my first setup and the authentication is not working for user.name if the user is created with user.name@example.com:

Username attribute: sAMAccountName
User Filter: (&(objectClass=Person)(|(sAMAccountName=%[1]s)(mail=%[1]s)))

Note that User Filter: (&(objectClass=Person)(|(sAMAccountName=%[1]s)|(mail=%[1]s))) suggested from nanoant should be (&(objectClass=Person)(|(sAMAccountName=%[1]

[2016-01-04 10:35] nanoant commented on #2221
@velislav I don't understand, what do you mean by *"if the user is created with  `user.name@example.com`"*. Created where? In Gogs on 1st login? If you use `Username attribute: sAMAccountName` setting then Gogs user names shouldn't be email. Does it mean you have some users that were created when there was no `Username attribute`?

Moreover are you sure your BindDN user has permissions to search o

[2016-01-04 11:04] l2dy commented on #2327
I think the first one is the official name. Because it's the first line in both files and see https://creativecommons.org/publicdomain/zero/1.0/legalcode and https://tldrlegal.com/license/creative-commons-cc0-1.0-universal.

[2016-01-04 11:57] velislav commented on #2221
@nanoant If you log in for first time in gogs with mail like user.name@example.com the user that is created in gogs is NOT user.name but user.name@example.com even with Username attribute set to: sAMAccountName

Both queries works and return dn, cn, mail and sAMAccountName but in my case is not "uid" but "sAMAccountName" because of the AD:

ldapsearch -H ldap://example.com -b 'OU=Users,OU=Company,

[2016-01-04 13:11] nestabur commented on #662
+1

I would also add a third option to select the team and rights. In order to distinguish between read, write and admin access. So given the LDAP groups:
-  group1
-  group1-admin
Then in gogs there would be 1 organization (group1) with 2 teams (admin and default?), the first one with admin rights by default. The organization and team are created after the configuration, and then the users are ad

[2016-01-04 14:12] hcvst opened #2334 "Migration repository URL should be stripped of whitespace"
I accidentally pasted http://migration.source.url/repo.git followed by some whitespace into the migration source field. Not a big deal but I think trailing whitespace ought to be trimmed as it fails otherwise.

[2016-01-04 16:06] starwarsfan commented on #662
Usage of LDAP groups is a must have if using Gogs in a company. As @nestabur said: Automatic distinction between different permissions will be a great advantage.

[2016-01-04 18:08] brandonsturgeon commented on #2319
Actually, just having the same (if not more) webhook capabilities as Github would be a good goal.

https://developer.github.com/v3/activity/events/types/

[2016-01-04 18:43] simonszu commented on #1270
Well, maybe it should? I have set the ulimit to 300k files - gogs was greedy and snatched them all. So i increased to 1 million open files, gogs was greedy and snatched them all. All while just browsing one repository with 500 commits and around 1000 files in sum. Regarding the fact that the default value is around 65k files, i would assume that there is something weird happening with gogs's file

[2016-01-04 19:07] stonerl opened #2337 "Cannot edit users"
With version `0.8.15.123` I'm not able to edit user-details. When I click on the edit button I get an empty white page.

[2016-01-04 22:44] brandonsturgeon opened #2338 "Truncate links to commits"
For example, `/commit/440c62a29faa6bf113da2d9eeb820d88a105f340` to `a href="/commit/440c62a29faa6bf113da2d9eeb820d88a105f340" 440c62a29f`

This is especially nice in comments on issues (eg: `resolved in 440c62a29f`)

Edit: I see this is already done in email alerts.

[2016-01-04 23:34] ddelpero opened #2339 "Release download file name doesn't include tag number"
When I create a new release, the zip or tar file that gets downloaded is project-commitnumber instead of tag name. For example at https://try.gogs.io/jh/gogs/releases, if you download the zip file for v0.8.10 you get a file named gogs-09c981846b.zip. However if you right click and copy link, you get the following link: https://try.gogs.io/jh/gogs/archive/v0.8.10.zip, which would seem to indicate t

[2016-01-04 23:40] strahlc opened #2340 "Please add avatars for repositories"
It would be great to select an avatar for a repository like in gitlab (see gitlab [merge request](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/304) for details).

This way you can identify your repositories easier.
- show repository avatar on dashboard, projects page, project page
- add a default repository avatar
- copy the icon on repository forking

[2016-01-05 04:44] Unknwon commented on #2327
OK, just pushed fix to `develop` branch and you can also test on https://try.gogs.io/repo/create

[2016-01-05 04:49] Unknwon commented on #662
Thanks @nestabur ! Will consider that definitely.

[2016-01-05 04:52] Unknwon commented on #1270
@simonszu Currently Gogs only reads all files/directories of current browsing level.

If you want to dive into this problem more, you should provide more information about your Gogs version, system, etc. And where the error occurs.

[2016-01-05 04:55] Unknwon commented on #2330
Thanks your feedback!

Can you make a 500 error on https://try.gogs.io as well?

[2016-01-05 04:56] Unknwon commented on #2331
Thanks your feedback!

Can you give a more specific example?

[2016-01-05 04:59] Unknwon commented on #2337
It means there is a panic, can you post errors here?

[2016-01-05 05:00] Unknwon commented on #2338
Hmm... can you give some visual comparison for this?

[2016-01-05 05:06] biji commented on #2331
When I create new issue, all watcher get notification email, email source follow:

[code]

When opening in mail client it will shown as:
[code]

It would be good if the email formatted using markdown as shown in issue page

Thanks

[2016-01-05 05:09] Unknwon commented on #2331
It is markdown formatted before sending...

[2016-01-05 05:09] Unknwon commented on #2331
What is the actual content of issue thought?

[2016-01-05 05:10] Dasoren commented on #2340
+1 Also maybe a way to add an email to the repo to pull the avatar from Gravatar, just a thought.
also (little off topic), and email option for an organization with a Gravatar for them as well.

[2016-01-05 08:44] GeminiGoldSaint opened #2341 "车乎"

[2016-01-05 09:08] simonszu commented on #1270
Okay, sure.
So, details to the affected repository: 8652 files, 492 commits. It is an /etc-Directory of one of my hosts, managed by etckeeper.
The host which i run gogs on is a VPS with Debian Jessie. 6GB RAM, Dualcore with 2.2GHz each. I am using gogs from binary, version 0.8.10.

So, i will startup gogs manually (usually via systemd) and check how many open files will appear there after each pag

[2016-01-05 09:38] bashtoni commented on #2304
OK this gives some more details - it seems to be trying to trigger the task via a callback over HTTP instead of HTTPS?

[code]

[2016-01-05 10:14] Unknwon commented on #1270
Thanks... but I still don't see the error message line..?

[2016-01-05 10:16] Unknwon commented on #2304
You may want to change this value: https://github.com/gogits/gogs/blob/master/conf/app.ini#L54

[2016-01-05 10:16] #2341 closed

[2016-01-05 10:44] bashtoni commented on #2304
Thanks, that fixed it!

[2016-01-05 10:44] #2304 closed

[2016-01-05 10:45] Unknwon commented on #2304
:trollface:

[2016-01-05 12:01] vilppuvuorinen commented on #1666
Maybe this issue should be reopened. It seems that `LDAPv2` and `ldaps` have been deprecated since 2003. In addition, the `gopkg.in/ldap.v2` library is `LDAPv3` implementation that should support `StartTLS`. Any `ldaps` compatibility is there for legacy support.

[2016-01-05 12:10] #2327 closed

[2016-01-05 13:33] simonszu commented on #1270
Yeah. I had to use gogs until the error occured the next time. This is now. The error is:
`Jan 05 14:25:43 tharan gogs[5630]: 2016/01/05 14:25:43 [...routers/repo/view.go:134 Home()] [E] GetCommitsInfo: GetCommitByPath (/subuid-): pipe2: too many open files`

which is strange, because of the ouptut of lsof, gogs has currently 408 open files.

I got this error when i browsed to a tree view of a cer

[2016-01-05 14:13] crohr commented on #1761
The init script can't be updated on packager.io, because we can't assume that all apps packaged with that solution want that change to their init script. The solution here is to implement #2305 (which is what Rails apps do for instance), or have users setup `monit` to restart failing services.

[2016-01-05 15:31] hchungi opened #2343 "Tidb to SQLite"
Hi, I just wanna know
Is there any way to transfer data from TiDB to SQLite?

[2016-01-05 15:46] StdioA opened #2344 "Still serving static files from the server instead of the CDN when offline-mode is off"
我没有开启Offine Mode, 可是很多静态文件（比如`semantic-2.1.6.min.css`）都从服务器下载而不是CDN. 如何改为从CDN获取所有静态资源？

[2016-01-05 17:03] M5oul commented on #2289
[OpenID](https://github.com/gogits/gogs/issues/1297) is a better proposition than my idea.

[2016-01-05 19:28] ayr-ton commented on #2293
Pong @Unknwon
I will be moving the discussion to the forum and then I will be posting the results here :)

[2016-01-05 19:52] stonewareslord opened #2345 "Disallow wiki for empty project"
Currently, the tabs for issues,wiki... are only shown when the repository is not empty:

![i](https://cloud.githubusercontent.com/assets/7482347/12125707/e4a0b5c4-b3ba-11e5-9d4e-83849d50bb4f.png)

![i](https://cloud.githubusercontent.com/assets/7482347/12125847/b40f6c10-b3bb-11e5-90cf-342bc0ba18eb.png)

However, if you go to http://gogs/test/repo-2/wiki, you can add a wiki to an empty project:

![

[2016-01-05 19:54] ayr-ton commented on #2293
Related post:
http://forum.gogs.io/topic/21/testability-strategy

[2016-01-05 20:04] codewisdom commented on #2318
Nope, not that codebase. I'm not sure it is the codebase.  I couldn't repo when I compiled gogs on OS X.

[2016-01-05 20:32] jamadams commented on #2276
I also am unable to add an SSH key. I have checked that there is no extra white space in the pasted data. The error returned is:

Sorry, we're not able to verify your SSH key: Invalid key format

[2016-01-05 20:42] Unknwon commented on #1666
@vilppuvuorinen Thanks your info!

If `gopkg.in/ldap.v2` already supports `StartTLS`, I think the issue is solved by itself. Otherwise, nothing has changed.

So... can you offer help to test it?

[2016-01-05 20:44] Unknwon commented on #1270
The error line seems outdated, can you upgrade to latest release then try again?

[2016-01-05 20:45] Unknwon commented on #1761
Thanks @crohr

[2016-01-05 20:48] simonszu commented on #1270
Of course. I see on Github that you are in release 0.8.15, but the latest
binaries on gogs.io are 0.8.10. Where can I get the newest binaries?

On Tue, Jan 5, 2016, 21:45 无闻 <notifications@github.com> wrote:

[2016-01-05 20:52] Unknwon commented on #2289
@M5oul thanks for following up!

So I'm going to do is close this one and let you follow on https://github.com/gogits/gogs/issues/1297

[2016-01-05 20:53] #2289 closed

[2016-01-05 21:05] Unknwon commented on #2318
OK... what is the content of `templates/.VERSION`?

[2016-01-05 21:10] Unknwon commented on #1270
@simonszu  OK, never mind I can find it by viewing tag on GitHub.

So how many files in the directory you browser in reality?

[2016-01-05 21:12] Unknwon commented on #1270
And, is it possible that your max open file limit didn't apply to the context that runs Gogs (start Gogs in service)?

[2016-01-05 21:14] Unknwon commented on #2343
Hi, currently you can't.

You can follow on https://github.com/gogits/gogs/issues/1388

[2016-01-05 21:14] #2343 closed

[2016-01-05 21:15] Unknwon commented on #2344
Hi, these kind of files are always get from server, you can't get it from CDN.

Some of files are modified version, so CDN does not apply.

[2016-01-05 21:15] #2344 closed

[2016-01-05 21:15] Unknwon commented on #2345
Yes, I think this is a UI bug. Thanks for your report!

[2016-01-05 21:17] Unknwon commented on #2276
Which key format you're using actually? SSH2?

[2016-01-05 22:05] Dasoren opened #2346 "Repo file search"
Would it be possible to add in a search option like github so that I can put in a string and any file in the selected repo will show, maybe even with a little preview of that part of the file with that string?

[2016-01-05 22:17] barsanuphe commented on #2017
This would be very useful indeed. I hope this idea gets picked up.

[2016-01-05 23:06] xor-gate commented on #2313
I think gogs should have *real* debian package building instead of https://packager.io as I tried it myself on a simple http server package and installed 23 MByte of crap and weird init scripts on my system and was not conforming to the the Debian Maintainers Guide (https://www.debian.org/doc/manuals/maint-guide/). Then the debian package could have recommended depencies.

[2016-01-06 01:26] Unknwon commented on #2313
@xor-gate that's cool. But no one here knows how to do `real debian package building` and let someone contribute seems will end up same situation as right now.

[2016-01-06 02:10] codewisdom commented on #2318
Just updated to 0.8.15.1231.  Recompiled.  Same issue on startup with ````./gogs web````

Screenshot evidence:
<img width="744" alt="gogstemplateversion" src="https://cloud.githubusercontent.com/assets/20617/12133171/7d6f0b9a-b3d7-11e5-8e8b-8cbb795564fb.png">

[2016-01-06 04:48] Unknwon commented on #2318
OK. I need you repost full error output here...

[2016-01-06 05:19] #2329 closed

[2016-01-06 05:21] Unknwon commented on #2329
Please update `go-gogs-client` and help test again!

[2016-01-06 05:32] Unknwon commented on #1925
This is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2296

[2016-01-06 05:48] xiegeo commented on #2329
I am confused, shouldn't I be also updating the Gogs server? Since it was the server API that is also allowing the illegal characters through.

[2016-01-06 05:49] Unknwon commented on #2329
No, Gogs uses go-gogs-client as well.

[2016-01-06 07:44] xiegeo commented on #2329
Fixed, although the error message   <code>json: cannot unmarshal array into Go value of type map[string]interface {}</code> when using illegal characters is not descriptive.

[2016-01-06 07:46] codewisdom commented on #2318
No problem. Startup and error output attached.

[gogserr.txt](https://github.com/gogits/gogs/files/79485/gogserr.txt)
[startup.txt](https://github.com/gogits/gogs/files/79486/startup.txt)

[2016-01-06 08:22] Unknwon commented on #2329
That is type error, which I think is not even reach to illegal characters check yet.

[2016-01-06 08:23] Unknwon commented on #2318
Thanks. What is your Go version?

[2016-01-06 08:25] Unknwon commented on #2318
The actual error line is `panic: template: repo/view_list:33: function "AppUrl" not defined`.

Where the template function is obviously defined here: https://github.com/gogits/gogs/blob/master/modules/template/template.go#L37

[2016-01-06 08:48] codewisdom commented on #2318
I noticed that error message.  It's the title of this issue.   My Go version is: ````Go1.5.1````

Not a Go programmer by any means, but I could see the definition.  Did you notice my platform is FreeBSD?  A FreeBSD jail running on a FreeNAS box.

[2016-01-06 08:50] Unknwon commented on #2318
Never used that, what is different from other Linux systems?

PS: I think it should be same in the Go level, so must be something else.

[2016-01-06 08:54] codewisdom commented on #2318
FreeBSD?  Quite different from Linux. :)  See [FreeBSD] (https://www.freebsd.org).

However, I agree it is probably a issue at teh Go level.  Maybe an issue with Go on FreeBSD.  I'll look into that a bit later.

[2016-01-06 11:48] Fchen48 commented on #1783
git hooks work with 0.8.X - no change of hooks since 0.6.16.X

[2016-01-06 14:47] Ingramz opened #2349 "PANIC: interface conversion: interface is []uint8, not int64"
After adding PAM as an authentication method, I am immediately greeted with a blank page and following panic.

Installed from source with pam tag using [this guide](https://gogs.io/docs/installation/install_from_source). Using Debian 8 if that matters.

[code]

[2016-01-06 14:50] donbowman commented on #165
@Unknwon above you say the default password is same as username (for auto created user via ENABLE_REVERSE_PROXY_AUTO_REGISTRATION for operations such as delete-repo).
But I am finding I cannot delete a repo specifying the user name as the password.
I do see the code sets it:
https://github.com/gogits/gogs/commit/069486d169d7adac902a310e10b6580857735880
but it doesn't seem to work. Do others see th

[2016-01-06 15:14] deavmi opened #2350 "Grammar error found whilst deleting non-empty organisation"
Grammar error.

It should say:

`This organization still has ownership of the repositories, you have to delete or transfer them first.`

![2016-01-06 17_13_22-settings - notabug org_ free code hosting](https://cloud.githubusercontent.com/assets/5207740/12145778/e06720ea-b498-11e5-9a94-fa9265636ef3.png)

[2016-01-06 15:21] bitbyt3r commented on #2349
I am seeing this same issue adding any type of external authentication.

[2016-01-06 15:25] micaelsutherland commented on #2330
Hi,

Think i am having the same issue. tried mirroring a repo

https://github.com/RealJohnGalt/OpenELEC.tv

seems to mirror correctly but when i try to access it i get "Error 500" page.

is there any more information i can give you to help?

[2016-01-06 15:40] Walkman100 commented on #2350
Or even better: `This organization still has ownership of repositories, you must delete or transfer them first.`

[2016-01-06 15:53] deavmi commented on #2350
@Walkman100 Your's is better.

[2016-01-06 17:40] stonewareslord opened #2351 "Long repo name formatting issues"
Gogs Version: 0.7.33.1205 Beta

When repositories have long names, they break formatting of gogs:

![selection_005](https://cloud.githubusercontent.com/assets/7482347/12149353/52e243b6-b471-11e5-919c-4c55b8d912b3.png)

The names stretch past the "My Repositories" box and push the stars down. The second repo's star shifts `repo-2`'s star to the left. In the news feed, the name overlaps with the rep

[2016-01-06 21:18] bkcsoft commented on #1925
shouldn't this be closed? as the feature was merged with #2296 :)

[2016-01-06 22:39] tryrrtfghghf opened #2353 "Show who forked my repos"
Please add an option to see who forked my repositories

[2016-01-07 00:48] Unknwon commented on #1783
Thanks @Fchen48 , so do you mean there is no problem using Git hooks right now for you?

[2016-01-07 00:57] Unknwon commented on #165
@donbowman based on the code it should work. Do you have any other info you may consider helpful to debug this issue?

[2016-01-07 00:58] Unknwon commented on #2330
Thanks @micaelsutherland ! I see the repository you post does not have `master` branch, maybe that's the problem.

[2016-01-07 00:58] Unknwon commented on #2330
Also by `mirror`, do you mean `mirroring` or `migrate`?

[2016-01-07 01:10] Unknwon commented on #1925
@bkcsoft auto-close happens with commits are merged to `master`.

[2016-01-07 01:16] Unknwon commented on #2349
Thanks your feedback!

But I can't reproduce this locally, can you provide more details on steps?

[2016-01-07 01:19] Unknwon commented on #2351
Thanks your feedback!

But this is duplicated to https://github.com/gogits/gogs/issues/2287 .

It would be very helpful if you post these details on that thread.

[2016-01-07 01:19] #2351 closed

[2016-01-07 01:21] Unknwon commented on #2353
Thanks your feedback!

But your Gogs version is too old: https://try.gogs.io/unknwon/html-test/forks

[2016-01-07 01:21] #2353 closed

[2016-01-07 01:26] stonewareslord commented on #2287
From my duplicate issue:

Here's a screenshot of the sidebar and news feed:

https://cloud.githubusercontent.com/assets/7482347/12149353/52e243b6-b471-11e5-919c-4c55b8d912b3.png

The names stretch past the "My Repositories" box and push the stars down. The second repo's star shifts `repo-2`'s star to the left. In the news feed, the name overlaps with the repo icon. Github has some examples of of h

[2016-01-07 01:28] Unknwon commented on #2350
I just pushed a fix for this to `develop` branch, you can also test on https://try.gogs.io

[2016-01-07 01:28] Unknwon commented on #2287
Thanks your info @stonewareslord !

[2016-01-07 01:49] bash99 opened #2354 "Installation instructions wrong for CentOS7"
in
https://packager.io/gh/pkgr/gogs/install?bid=404#centos-7-gogs
you can easy found the script is for centos 6(which use service not systemctl, mysql instead of mariadb)
I've made a correct one

APP_NAME="gogs"
MYSQL_PASSWORD="change_me"
HOSTNAME="YOUR_HOSTNAME"

# setup mysql
yum install mariadb-server -y
systemctl start mariadb
systemctl enable mariadb

mysqladmin -u root password "${MYSQL_PASS

[2016-01-07 03:06] Unknwon commented on #2354
cc @crohr

[2016-01-07 03:08] Unknwon commented on #2345
I just pushed a fix to `develop` and you can also test on https://try.gogs.io/

[2016-01-07 03:51] Fchen48 commented on #1783
Yes, that's right

[2016-01-07 03:53] Unknwon commented on #1783
OK, great.

[2016-01-07 03:57] xiuchanghu opened #2355 "ssh方式怎样支持多个ip"
您好，我看到gogs目录下custom/conf/app.ini
[server]
DOMAIN = 192.168.1.2
可否支持多个ip

[2016-01-07 04:12] Unknwon commented on #2355
No, it is not possible...

[2016-01-07 04:12] #2355 closed

[2016-01-07 04:52] xiuchanghu commented on #2355
谢谢，我采用域名就可以了

[2016-01-07 04:55] Unknwon commented on #2355
:trollface:

[2016-01-07 06:13] bkcsoft commented on #1925
Aah, that explains it :)

[2016-01-07 06:50] deavmi commented on #2350
Awesome.

Sent from my iPod

[2016-01-07 06:50] deavmi commented on #2350
Did you use the one by @Walkman100?

Sent from my iPod

[2016-01-07 07:15] Unknwon commented on #2350
Yes.

[2016-01-07 07:22] deavmi commented on #2350
@Unknwon **awesome** (lol) thanks.

[2016-01-07 07:53] xiegeo commented on #2349
@Ingramz  @bitbyt3r Which databases are you using?

[2016-01-07 08:09] micaelsutherland commented on #2330
HI,

Yes when mirroring the repo mentioned above i just get an error 500 page

[2016-01-07 08:12] Unknwon commented on #2330
Hi, @micaelsutherland

1. You did not answer my question.
2. Please post your server side error log.

[2016-01-07 08:24] #2350 closed

[2016-01-07 08:31] micaelsutherland commented on #2330
Hi,

By mirror i mean "

[gogs.zip](https://github.com/gogits/gogs/files/80851/gogs.zip)

mirroring"

[2016-01-07 08:34] Unknwon commented on #2330
Thanks, but I don't see why its content has anything to do with mirroring.

And error indicates you're running out of memory.

I think you're following on the wrong issue.

[2016-01-07 08:44] micaelsutherland commented on #2330
Apologies then for following the wrong issue.

[2016-01-07 08:54] Ingramz commented on #2349
@xiegeo mysql 5.5.46

[2016-01-07 08:54] micaelsutherland commented on #2330
It appears i have plenty of memory no?

![image](https://cloud.githubusercontent.com/assets/5029232/12166214/311df4d6-b51c-11e5-8929-807d0574bdc2.png)

[2016-01-07 08:55] Unknwon commented on #2330
@micaelsutherland the error could not be wrong, when it says out of memory, it can't get more memory to use.

[2016-01-07 09:01] micaelsutherland commented on #2330
ok,

Apologies if i sound like i haven't got a clue what i am talking about. would this be an error with gogs or my system? (1&1 VPS)

[2016-01-07 09:06] micaelsutherland commented on #2330
there sems to be an awful lot of memory instances for gogs
![image](https://cloud.githubusercontent.com/assets/5029232/12166433/e12e99ba-b51d-11e5-8990-6005273cd9d8.png)

[2016-01-07 10:02] Ingramz commented on #2349
Here's a way to reproduce this using docker.

Install from docker official debian:latest **with port 3000 exposed if needed**, so you can access it from your host machine

enter that container's shell and run:

[code]

Now browse that address (for me it was localhost:3000)

install as usual (I disabled self-registration and created an user), mysql password is change_me

go to /admin/auths

add a n

[2016-01-07 10:12] vilppuvuorinen commented on #1666
I'm afraid I cannot provide any solid unit tests covering this issue. However, the `func ldapDial(ls *Source) (*ldap.Conn, error)` function could be modified to accommodate conditional/adaptive StartTLS promotion.

I could provide a pull request for this, but I don't know if the way I would implement this covers all bases. Extending models would be pretty much overkill at this point making some so

[2016-01-07 10:16] vilppuvuorinen commented on #1666
On the other hand. Openshift does have pretty compelling implementation for `ldaps` and `StartTLS` selection: https://github.com/openshift/origin/blob/89d213ab9a04acaaa8def766c5f3e5c8ebd953be/pkg/auth/ldaputil/client.go#L79

[2016-01-07 10:22] chazzbg opened #2357 "Prestashop is not a language, unlike PHP"
http://prntscr.com/9n3jxn
This is nonsense ... most of the used php frameworks and apps are there, but not the language itself.

[2016-01-07 10:31] i00 opened #2358 "Add Permissions to Branches"
I would like the feature of allowing Gogs to be able to set different users up with individual permissions for various branches.

For Eg (my case).
If I have a user called Jack I want to be able to give him permissions to publish new branches that start with Jack/ only (so I know exactly what user published a branch at a glance and don't end up with "junk" branches everywhere).
I want to be the on

[2016-01-07 10:36] r0cknfire commented on #2357
And... What should be ignored by default on PHP ? I mean, frameworks and Prestashop have things that shouldn't be committed (caches, config files...), but PHP itself, I can't really think of a gitignore for it.

[2016-01-07 11:05] MathB opened #2359 "Wiki editing conflict"
Thanks again for the great work on gogs.

If two people edit the same page simultaneously on the wiki, the last one who save will overwrite the other-one changes...
Is it possible to prevent or warn user that a newer version of the page exist and save the page will result in content loss ?

Gogs Version: 0.8.15.1231

[2016-01-07 11:20] chazzbg commented on #2357
I'm sorry, i really didn't realized that this selection is just for file templates for initializing repository.
I've used bitbucket a lot for our company projects, and thought that language selection is for some repository categorization.
Please excuse my ignorance and ignore this issue . I'll be more  observant next time.

Regards.

[2016-01-07 11:20] #2357 closed

[2016-01-07 12:25] Unknwon commented on #2349
Thanks @Ingramz ,

not talking adding PAM first, the way you compile Gogs does not support PAM anyway...

[2016-01-07 12:27] Ingramz commented on #2349
@Unknwon I did it like that on purpose, because the issue isn't related to PAM directly.

[2016-01-07 12:37] Unknwon commented on #2349
@Ingramz does add a dummy LDAP auth source panic too?

[2016-01-07 12:38] Ingramz commented on #2349
@Unknwon yes. Adding any auth source does that.

[2016-01-07 12:39] Unknwon commented on #2349
OK... can you dump the database table `login_source` see what is the value of filed `type`?

[2016-01-07 12:48] Unknwon commented on #2358
Hi, I think this is duplicated to https://github.com/gogits/gogs/issues/776 .

You can leave your feedback on that thread.

[2016-01-07 12:48] #2358 closed

[2016-01-07 12:49] Unknwon commented on #2359
Yes, that's indeed a problem. Don't have any idea yet.

[2016-01-07 12:49] Ingramz commented on #2349
Added LDAP this time.

[code]

[2016-01-07 12:55] Unknwon commented on #2349
Thanks.

Suppose you're using the `master` version,

it would be very helpful if you can add a line right after [this line](https://github.com/gogits/gogs/blob/master/models/login.go#L110):

[code]

[2016-01-07 13:05] Ingramz commented on #2349
I'm getting `[50]` which is ASCII code for `2`

[2016-01-07 13:06] MathB commented on #2359
I tried on github wiki : it disable the save button and there is a message in red
![wikiconflicts](https://cloud.githubusercontent.com/assets/6626821/12171181/d24a8844-b547-11e5-8dc9-2090b73c4021.png)

[2016-01-07 13:09] Unknwon commented on #2359
OK... sounds good, still need some think on how to implement it though.

[2016-01-07 13:10] Unknwon commented on #2349
Thanks. Though I don't know why it gets `[]int8`, but I think I know how to convert :trollface:

[2016-01-07 13:15] Ingramz commented on #2349
Also `/admin/users/new` and `/admin/users/1` are failing to load for the same reason, seems like they all enumerate the `login_source` in some way.

[2016-01-07 13:16] Unknwon commented on #2349
OK... seems to be a bigger problem.

What if you use compiled binary (not compile by yourself)?

[2016-01-07 13:18] Ingramz commented on #2349
originally I tried packages from https://packager.io/gh/pkgr/gogs, these had the same problem.

[2016-01-07 13:20] Unknwon commented on #2349
By `compiled binary`, I mean https://dl.gogs.io/ , packager.io is no difference from compiling yourself.

[2016-01-07 13:23] Ingramz commented on #2349
`gogs_v0.8.10_linux_amd64.tar.gz` is working perfectly

[2016-01-07 13:24] kernel164 opened #2360 "API Admin Users - create public key for user - fails"
Tried this api - https://github.com/gogits/go-gogs-client/wiki/Administration-Users#create-a-public-key-for-user

Body:
[code]

PANIC in server:
[code]

[2016-01-07 13:42] andreynering opened #2361 "Highlight.js not working for diff view"
I just noted that highlight.js is not working for the diff view, just when seeing the whole file.

[2016-01-07 15:41] stonerl commented on #2337
@Unknwon
[code]

[2016-01-07 15:57] brandonsturgeon commented on #2338
Sorry, how do you mean?

When you paste a full link to a specific commit, I was suggesting that it gets truncated to a link with the only text being the first 10 or so characters of the commit hash.

For example:
`https://github.com/gogits/gogs/commit/e0f0f72a362e98073980d9e3c70cde8cd161614b` when pasted here becomes https://github.com/gogits/gogs/commit/e0f0f72a362e98073980d9e3c70cde8cd161614b

[2016-01-07 18:25] elzofranklin opened #2362 "Auto Migration Failed between version 0.8.5 and 0.8.17"
Using sqlite engine in our version of gogs, 32 bit linux build.

For a certain repository we have about 180 issue records, pre-migrate.  After migration to 0.8.17, the same repo only shows about 140 issues.  It looks like the last 2 weeks of new issues did not translate over correctly.  The migration logs shows "Updating issue count" for the first 140 issues.

btw, we migrated to 0.8.5 from a much

[2016-01-07 20:24] stonerl commented on #2362
maybe related to this one #2269?

[2016-01-07 20:40] ddelpero commented on #2339
I'm fixing this in a fork, and I can submit a pull request to development. However, should the file name be projectname-releasename or only the releasename? For example, if project name is gogs and release is v0.8.10, should the file name be gogs-v0.8.10.zip or v0.8.10.zip?

[2016-01-07 21:35] i00 commented on #776
I don't like the idea of votes, just want branch permissions... but also want to take it a step further...

For eg (my case).
 If I have a user called Jack I want to be able to give him permissions to publish new branches that start with Jack/ only (so I know exactly what user published a branch at a glance and don't end up with "junk" branches everywhere).
 I want to be the only one who can push

[2016-01-07 21:40] i00 commented on #13
+ :100:

[2016-01-07 22:22] stonerl commented on #2337
#2349 seems to have the same panic message

[2016-01-08 00:31] Unknwon commented on #2337
Thanks, I think this is duplicated to #2349 .

[2016-01-08 00:31] #2337 closed

[2016-01-08 00:33] Unknwon commented on #2338
Thanks.

Why would you paste link in the commit message?

[2016-01-08 00:38] Unknwon commented on #2339
I think `gogs-v0.8.10.zip` makes more sense.

Be sure to read https://github.com/gogits/gogs/wiki/Contributing-Code before submitting the PR.

[2016-01-08 00:39] Unknwon commented on #2361
Thanks your feedback!

But this is duplicated to https://github.com/gogits/gogs/issues/733

[2016-01-08 00:39] #2361 closed

[2016-01-08 00:42] Unknwon commented on #2362
Thanks your report!

If 0.8.5 works correctly, then there is no migration between 0.8.5 and 0.8.17.

If this is the case, are you sure database has 180 records instead of old counter was wrong?

[2016-01-08 00:46] Unknwon commented on #2362
SQL to query count: `SELECT COUNT(*) FROM issue WHERE repo_id={repo_id}`

[2016-01-08 00:49] techzilla opened #2363 "memcached caching not caching anything"
I attempted to connect to Memcached, via a Unix Socket and then again on 127.0.0.1:11211, but could not see any objects cached.

[code]

[2016-01-08 00:49] Unknwon commented on #2360
Thanks your feedback!

I just pushed a fix to `develop` branch, please help test again!

[2016-01-08 00:50] Unknwon commented on #2363
Thanks your feedback!

Because Gogs currently almost cache nothing :trollface:

[2016-01-08 00:50] #2363 closed

[2016-01-08 00:59] michaelgibson opened #2364 "Error building tidb support"
When including -tags "tidb" I was running into this error:

src/github.com/pingcap/tidb/parser/yy_parser.go:42: undefined: NewLexer
src/github.com/pingcap/tidb/parser/yy_parser.go:44: undefined: yyParse

According to this issue:
https://github.com/pingcap/tidb/issues/88

You need to first compile tidb's parser before you can compile yy_parser
I was able to get around it by adding the following bui

[2016-01-08 01:10] Unknwon commented on #2364
Thanks your feedback!

[2016-01-08 01:15] #2364 closed

[2016-01-08 01:22] Unknwon commented on #2271
Close due to lack of feedback.

[2016-01-08 01:22] #2271 closed

[2016-01-08 01:23] Unknwon commented on #2311
Close as fixed.

[2016-01-08 01:23] #2311 closed

[2016-01-08 02:36] cusspvz commented on #809
+1

[2016-01-08 02:52] blackss2 opened #2365 "Require Sign in View does not work after install until restart"
Hi.
I'm using gogs by docker use this command

docker run -d -p 80:3000 gogs/gogs

with this options

Application Name : TNIC Git
　　Domain : MYDOMAINADDR
　　SSH Port :
　　HTTP Port : 3000
　　Application URL : http://MYDOMAINADDR/
　　Optional Settings > Serve and Other Services Settings > Disable Self-regestration : Check
　　Optional Settings > Serve and Other Services Settings > Enable Requires Sign In

[2016-01-08 04:59] Unknwon commented on #2365
Thanks your feedback!

But I don't see anywhere that you describe a problem?

[2016-01-08 05:17] blackss2 commented on #2365
Sorry, not public but private repo

[2016-01-08 05:28] Unknwon commented on #2365
Thanks.

Why can't you?

[2016-01-08 05:48] blackss2 commented on #2365
I am sorry about lack of description.

1) Start and setup gogs using docker
2) I make private repository with admin.
3) I open chrome private window and connect to this private repo(obviously not signed in).
4) [Connetable]
5) I restart docker container
6) I open chrome private window and connect to this private repo(obviously not signed in).
7) [Unable to connect]

[2016-01-08 05:50] Unknwon commented on #2365
How do you determine it is signed in or not? `obviously` is not appropriate unless you see you're not signed in.

[2016-01-08 06:09] blackss2 commented on #2365
At right top, sign in button is exist and if i click that, email and password input element are showing up.

[2016-01-08 07:04] kernel164 commented on #2360
Thanks. I will do some test by today. I wasn't able to compile in RHEL 6.6 due to proxy issues go get fails. Is there a way to get binary for devlop branch?

[2016-01-08 07:08] kernel164 commented on #1692
Are these api's "create team under the org, add user to team, add repo to team" planned for next release.

[2016-01-08 07:35] jens-a-e commented on #1272
:+1: I am still running gitlab for this reason.

[2016-01-08 09:02] Unknwon commented on #2365
Please take screenshot to justify that you can view a private repository without sign in.

[2016-01-08 09:03] Unknwon commented on #2360
No official binaries for non-releases...

[2016-01-08 09:03] Unknwon commented on #1692
Depends on how much time I get...

[2016-01-08 10:55] BruinY opened #2366 "Collaborators can't kick the single set labels and designated personnel"
Collaborators can't kick the single set labels and designated personnel, offered to library Settings, whether open label set functions, personnel assigned to function, so that we can better development and production team collaboration.

[2016-01-08 10:57] Unknwon commented on #2366
Thanks your feedback!

But I think this is duplicated to https://github.com/gogits/gogs/issues/1779

[2016-01-08 10:57] #2366 closed

[2016-01-08 17:26] bkcsoft commented on #1947
I think putting something like this in gogs.js would suffice: http://stackoverflow.com/questions/11844256/alert-for-unsaved-changes-in-form

[2016-01-08 19:09] elzofranklin commented on #2362
Thanks for the response guys.  You comments made me realize I had inadvertantly copied in the wrong database to 0.8.17, and thats why I lost the issues, NOT because of migration software.

Very sorry for wasting your time.

[2016-01-08 19:09] #2362 closed

[2016-01-08 19:30] pohy commented on #796
+1, we want to use gogs as a code review tool, and this is a much needed feature.

[2016-01-08 19:32] pohy commented on #1597
+1, this is much needed

[2016-01-08 20:40] brandonsturgeon commented on #2338
Sorry, the link wouldn't be in a commit message. The link would be on a comment in an issue.

For example,

Someone opens up an issue "We need to speed up our app" and it sits there for awhile.

Someone else makes a bunch of changes, one of the changes speeds up the app. This person didn't reference the issue # in the commit message.

When cleaning up issues, you could post in the comments "This w

[2016-01-08 21:33] VoyTechnology commented on #2359
I think the simplest implementation would just include getting the hash of the wiki page before editing it, and once the user presses "Save" send the new data together with the old hash. If they mismatch then show the warning to the user, if they are the same - proceed.

Otherwise possibly continuously pinging the server asking did it the hash change would give the user an earlier warning

I know

[2016-01-08 22:23] km4efp opened #2367 "Unable to delete repos v8.10? Latest binary"
On user view I am unable to delete a repo when I click on delete or change ownership there is no pop up.  Nothing happens in multiple browsers.

On administrator view nothing happens either when clicking on the red trash can.

Anny suggestions?

I was able to manual delete the repos on the OS level and run the cleanup missing repo script from web admin panel.

[2016-01-08 22:47] km4efp commented on #2367
Also another issue is when disabling gravatar and viewing user profile and clicking the avatar it still takes you to the gravatar website

[2016-01-09 01:50] Unknwon commented on #2362
:trollface:

[2016-01-09 01:56] Unknwon commented on #2338
Please see https://try.gogs.io/gogs/gogs/issues/1 ... is that what you're looking for?

[2016-01-09 03:01] Unknwon commented on #1666
Looks like one comment is missing?

[2016-01-09 03:23] Unknwon commented on #2359
Thanks @VoyTechnology , yeah that's a workable way. But it still can't prevent two or more people submitting the content.

I think the GitHub way is preventing two or more people editing at the very first step, so people wouldn't edit anything therefore can't lose any data.

[2016-01-09 03:25] Unknwon commented on #1947
@bkcsoft looks good! I'll try.

[2016-01-09 03:26] Unknwon commented on #2367
Thanks your feedback!

Please use Chrome and open web console see if any errors there?

[2016-01-09 03:39] cnwangzd opened #2368 "500 Error,delete and rebuild the same name of the repo"
Delete and rebuild the same name of the repo, the system reported 500 error.

please, what is the reason? thanks!

[2016-01-09 03:39] blackss2 commented on #2365
I am terribly sorry.
I have mistaken about settings.
It is public repogitory.
If i didn't restart, I can access public registry without sign in.

1) Start and setup gogs using docker(require Sign in View = true)(clean all volumes)
2) I make public repository with admin.
3) I open chrome private window and connect to this public repo(obviously not signed in).
4) [Connetable]
5) I restart docker con

[2016-01-09 04:03] Unknwon commented on #2365
Thanks.

So the problem you're trying to indicate is that `require sign in view` is not taking effect until you restart Gogs?

[2016-01-09 05:03] Unknwon commented on #2368
I think it's same as https://github.com/gogits/gogs/issues/1738 ?

[2016-01-09 06:15] km4efp commented on #2367
Nothing related to my knowledge

gogs.js?v=86fbae3d4ac88fbee334e9f57e7bd750:869 Uncaught ReferenceError: emojify is not defined(anonymous function) @ gogs.js?v=86fbae3d4ac88fbee334e9f57e7bd750:869j @ jquery-1.11.3.min.js:2k.fireWith @ jquery-1.11.3.min.js:2m.extend.ready @ jquery-1.11.3.min.js:2J @ jquery-1.11.3.min.js:2

[2016-01-09 06:21] Unknwon commented on #2367
OK... so I see there is an error, which makes JS stops working.

Please take screenshots for web console.

[2016-01-09 06:23] km4efp commented on #2367
I figured it out based off that error!
You were actually a ton of help.
Apparently the footer.tmpl loads a lot of background stuff and it was in there.  I removed the file without looking at its contents.  So it was my mistake.
I had modified the template.

[2016-01-09 06:24] Unknwon commented on #2367
So problem solved?... :trollface:

[2016-01-09 06:25] km4efp commented on #2367
Yes resolved, though unrelated...
The gravatar error persists though when you disable gravatar in config file and view your profile and click on image it still takes you to gravatar.  Unless you go to settings and disable fetch from gravatar.  It would be nice to take you to upload a custom image in your profile page instead.

[2016-01-09 06:28] km4efp commented on #2367
I would really like custom templates in the future.
So far this has been a great product!
I just see updating and manually editing my template every time may lead to troubleshooting.  :-)

[2016-01-09 06:30] blackss2 commented on #2365
Yes, right!
I just want to inform about this to you.
It may be not critical issue, but I want to give little help to you who give great apps to us.
We decide gogs as our company git private repository that part of in-house continuous integration.

Thanks for your effors.

[2016-01-09 06:45] Unknwon commented on #2367
Just pushed a fix to `develop` for this.

[2016-01-09 07:06] vilppuvuorinen commented on #1666
Yeah. I ended up deleting for some reason. Sorry about that.

However, the approach from Openshift should work, but it will break insecure ldap auth on some of currently running instances where insedure tls is not explicitly set. Running a migration toggling insecure TLS on when use tls is not checked could prevent this.

[2016-01-09 07:06] Unknwon commented on #2365
Thanks, I'll test it ASAP.

[2016-01-09 07:08] Unknwon commented on #1666
I'm confused somehow, shouldn't the work already be done by the ldap.v2 package?

[2016-01-09 07:13] km4efp commented on #2367
Excellent.  No other complaints.  Keep up the good work.

[2016-01-09 07:20] vilppuvuorinen commented on #1666
The support is there, but StartTLS elevates the connection from regular one.

`ldaps`

[code]

`ldap` over TLS'

[code]

In Openshift the insecure TLS flag is used to select correct protocol:

[code]

_Enable TLS Encryption_ could be used instead of the `scheme` field and _Skip TLS Verify_ instead of `insecure`field. Current configuration parameters are sufficient, but the labels are a bit off.

[2016-01-09 07:53] Unknwon commented on #1666
Thanks @vilppuvuorinen !

Maybe it's a good chance to propose a PR?

[2016-01-09 07:54] vilppuvuorinen commented on #1666
That's what I was thinking. I'll try to cook up one.

[2016-01-09 15:30] kisst commented on #1597
+1

[2016-01-09 16:14] sailsup commented on #1048
+1

[2016-01-09 16:18] bkcsoft commented on #1048
I'll have a look at it after the weekend. The hard part is adding the checklist-feature to the markdown-parser, the easy part is making them interactive ^.^

[2016-01-09 16:44] hermanbergwerf commented on #1597
+1

[2016-01-09 18:05] SirCmpwn commented on #1496
:+1:

[2016-01-09 21:35] helli72 opened #2371 "Unable to access from Xcode (401)"
Just found Gogs and tried it. Looks very good! But when I want to access Gogs from Xcode, I get following error:
[Macaron] Started GET /adm/test1.git/info/refs?service=git-upload-pack for 192.168.1.6
[Macaron] Completed /adm/test1.git/info/refs?service=git-upload-pack 401 Unauthorized in 107.980111ms

Gogs is installed without any special settings for now (sqlite, http, user: adm, pw: test..., no

[2016-01-10 01:22] bkcsoft commented on #2272
Only semi-related, but it would be nice to show all readme-files one after the other. E.g. I have a Repo with `readme.md` (basically 'about this project') , `readme.build.md`(build instructions) and `readme.install.md`(installation instructions). Would be nice to show all three :)

IMO the order would be readme.md, readme, readme.* (in whatever order) (assuming they exist of course)

[2016-01-10 05:02] congeal opened #2373 "500 when filename starts with ':'"
I tried migrating an existing repo into Gogs, but it shows 500 server error.
Log message showed like below:
routers/repo/view.go:134 Home()
[E} GetCommitsInfo: GetCommitByPath (/:source): Length must be 40.
I found out that the filename ':source' caused the error.
After I renamed the filename to be without ':', pushed the original repo and retried migration, it works without any error.
However, si

[2016-01-10 05:18] Unknwon commented on #1048
@bkcsoft maybe you can look at [CustomRender](CustomRender) and use interface feature to implement the method [ListItem](https://gowalker.org/github.com/russross/blackfriday#Html_ListItem) or [List](https://gowalker.org/github.com/russross/blackfriday#Html_List). Then check if the item content has `[ ]` or [x]` prefix?

[2016-01-10 05:23] Unknwon commented on #2371
Hi, 401 means you're accessing a private repository without authorization.

[2016-01-10 05:26] Unknwon commented on #2373
Thanks your report!

[2016-01-10 08:52] helli72 commented on #2371
Yes, if testing works it should be accessable from the Internet, user+pass is a must-have.

Really using a very basic config for now. Gogs runs on TCP 3000, no Webserver acting as a reverse proxy. Also tried Webserver (Apache) with proxypass, but behaves the same.

I tried 0.7.6 and 0.8.10 (and some versions in-between from "install the binary")

Also I tried Xcode with try.gogs.io and this works.

[2016-01-10 08:54] Unknwon commented on #2371
No.

401 error is too obvious to have any logs.

You should try command line first determine it works, then try GUI tools.

[2016-01-10 10:24] xDShot opened #2375 "Nicknames are lower-cased in Dashboard panel"
Users' nicknames contain both UPPER and lower case letters, but in Dashboard they all sometimes appear lower-cased. Here is screenshot:
![_2016-01-10_13-22-25](https://cloud.githubusercontent.com/assets/4261659/12221087/7565f16a-b79d-11e5-9c67-04db4f573a86.png)

[2016-01-10 11:07] helli72 commented on #2371
git command from Shell works, but there isn't always a "command line". I also want/need to use Dringend App on iOS with Gogs:
http://dringend.cc

Dringend App behaves the same like Xcode. Xcode is just better known, so I used Xcode.

But both, Xcode and Dringend App, works with Gitlab (on premise), github.com and a basic Apache/git-backend-http setup without problems even with authentication.

[2016-01-10 11:09] Unknwon commented on #2371
Gogs only support smart HTTP and basic HTTP auth, any tools that does not support that can't work with Gogs, and we don't have any plan for doing that.

It seems to me that more about this app supports Gogs other than in the opposite way.

[2016-01-10 11:18] drym3r commented on #2272
Well, I wouldn't agree on that because in the case I said my readme files are all the same.

[2016-01-10 11:22] helli72 commented on #2371
Ok, thanks.

[2016-01-10 11:22] #2371 closed

[2016-01-10 12:57] cyqluowang commented on #2271
我在你们的网站还原不了。

[2016-01-10 12:58] cyqluowang commented on #2271
我是用tower打的标签，推送过来，显示的是不对的，但是如果直接在浏览器里打标签是可以的。

[2016-01-11 02:49] i00 opened #2377 "Add participants to issue tracker"
In the issue tracker in github, when you have an issue open, there is a list of "contributers" to the discussion on the right hand side.

Is it possible to add this to Gogs?

[2016-01-11 03:18] codingfishman commented on #1597
+1

[2016-01-11 04:25] Unknwon commented on #2271
What does this mean exactly?

And do not skip my comments:

- What is your version of Gogs?
- What is the server error log?

[2016-01-11 05:17] Unknwon commented on #2377
Hi, isn't it `participant`?

[2016-01-11 06:34] Unknwon commented on #2349
Hi @Ingramz , can you help test `develop` branch again?

[2016-01-11 06:36] Unknwon commented on #2373
@congeal is that repository public so I can directly test against it?

[2016-01-11 06:52] congeal commented on #2373
Yeah, you reproduced it! I think it has something to do with git-module that is another github project of yours.

[2016-01-11 06:53] Unknwon commented on #2373
Yes, I've found the way to solve it, working on it.

[2016-01-11 06:57] congeal commented on #2373
:thumbsup:

[2016-01-11 07:00] Unknwon commented on #2373
OK, `go get -u github.com/gogits/git-module` then recompile Gogs should solve the problem.

[2016-01-11 07:03] Unknwon commented on #2373
See in action: https://try.gogs.io/unknwon/issue-2373

[2016-01-11 07:39] Ingramz commented on #2349
@Unknwon I tried and that won't work for 2 reasons. `[]int8` should be `[]uint8` and if you simply take the first value of the byte array, you'll get the ASCII integer value, which for digits is in range 48-57. So it would  give `PANIC: unrecognized login source type: 4` from https://github.com/gogits/gogs/blob/develop/models/login.go#L130 where it constructs a string from `*val` - in this case th

[2016-01-11 07:44] Unknwon commented on #2349
Actually I don't know why MySQL driver could return different type in different system... I believe it supposed to be in a unified format. Yeah, maybe it's ORM's problem.

[2016-01-11 07:48] Unknwon commented on #2349
Just pushed another fix to `develop`.

[2016-01-11 07:58] Ingramz commented on #2349
@Unknwon now seems to be working. I added also a trace for `int64` and now I see that on some pages (like when logging in) it uses `int64` and for instance on `/admin/auths` it uses `[]uint8`, very strange.

[2016-01-11 07:59] Unknwon commented on #2349
@Ingramz great... quite hard to trace the original bug location.

[2016-01-11 08:28] Unknwon commented on #1925
Close as fixed.

[2016-01-11 08:28] #1925 closed

[2016-01-11 08:29] Unknwon commented on #2276
Close due to lack of feedback.

[2016-01-11 08:29] #2276 closed

[2016-01-11 08:29] Unknwon commented on #2302
Any updates?

[2016-01-11 08:30] Unknwon commented on #2326
Close due to lack of feedback.

[2016-01-11 08:30] #2326 closed

[2016-01-11 08:30] Unknwon commented on #2330
ping @quantonganh

[2016-01-11 08:30] Unknwon commented on #2331
ping @biji

[2016-01-11 08:32] Unknwon commented on #2368
ping @cnwangzd

[2016-01-11 08:32] #2360 closed

[2016-01-11 08:32] #2367 closed

[2016-01-11 08:34] Arylo commented on #2302
Recently busy for working, not yet tried

[2016-01-11 08:36] Unknwon commented on #2302
Understandable, but lack of feedback will make this issue be closed.

[2016-01-11 08:39] biji commented on #2331
Hi Unknwon,

Issue entered as:
TODO
1. Task 1
1. Task 2
1. Task 3
1. Task 4

Gogs shown as:
TODO
1. Task 1
2. Task 2
3. Task 3
4. Task 4

Email sent should be:
TODO<br>
1. Task 1<br>
2. Task 2<br>
3. Task 3<br>
4. Task 4<br>

Thanks

[2016-01-11 08:41] Arylo commented on #2302
I will reply before Wednesday.

[2016-01-11 08:44] Unknwon commented on #2331
Thanks for following up!

[2016-01-11 08:45] Unknwon commented on #2302
OK, no problem!

[2016-01-11 08:57] Ingramz commented on #2349
Only difference I can see is that in stack trace. https://www.diffchecker.com/ldcgb7fr - this is what is done differently. I have very little experience with go and xorm, so I'll just leave it here. The current solution is good enough to work around the problem.

[2016-01-11 09:00] Unknwon commented on #2349
Very helpful!

I think the driver may behave differently for `Get` (get on record) and `Find` (get all records).

[2016-01-11 09:15] Veitor opened #2378 "SSH无法clone，还是does not appear to be a git repository问题"
通过地址ssh://root@xxxx.com/hc/test.git无法clone下来
会出现
[code]
这个问题通过https://gogs.io/docs/intro/troubleshooting#git看了
还有这个问题https://github.com/gogits/gogs/issues/545
都没解决，我的`~/.ssh/authorized_keys`中没有重复的key

=========================================
但还发现一个奇怪的现象，我的电脑A上生成了一个公钥分别放到服务器B和服务器C上的`~/.ssh/authorized_keys`中，用于通过SSH登录到这两个服务器。

其中服务器B上搭建gogs存放版本库，服务器C上用于部署项目。

然后在服务器C上生成一个公钥加到了项目test的部署密钥中，此时服务器B上的`

[2016-01-11 09:27] Unknwon commented on #2378
What is the commands you use to clone? Please post full input and output here.

[2016-01-11 10:54] ghost opened #2380 "Real-time synchronization mirror"
Hello,

We'd like to use Gogs 0.8.15 and Gitolite to manage our Git repositories.
We need Gitolite for advanced access control (per-branch write access, and
so on).

We need to have a real-time synchronization between our Gitolite repository
and Gogs (which are both hosted on the same server).
Is there a way to do this, or is there a plan to add this feature?  We've
only found an hourly update fea

[2016-01-11 11:40] Unknwon commented on #2380
Hi, there is no such solution, but the only way could work is this: https://github.com/gogits/gogs/issues/2235

[2016-01-11 12:44] Unknwon commented on #2287
Hi all, please test out `develop` branch or https://try.gogs.io/

[2016-01-11 13:15] renewsorensen commented on #2014
Sorry for a delayed answer, i have been on a long vacation, but i can
confirm that it is fixed, thanks...

*Med Venlig Hilsen / Best RegardsRené Sørensen*

Egevej 44
7470  Karup J
Mobil: +45 2283 8469

rene@egevej44.dk

2015-12-20 7:07 GMT+01:00 无闻 <notifications@github.com>:

[2016-01-11 14:28] Unknwon commented on #2014
Thanks your confirmation!

[2016-01-11 14:35] cusspvz commented on #1232
Does drone mark commits as valid/invalid? I've set it up with gogs but i cannot see those kind of checks.

[2016-01-11 15:46] randy-girard commented on #1597
+1

[2016-01-11 18:12] wsidl commented on #1071
:+1:

[2016-01-11 18:22] km4efp opened #2382 "Commit shows local git user and not authenticated"
The commits pushed via http show up as the local git config user and not the authenticated user on the gogs server.

[2016-01-11 18:30] joubertredrat commented on #1071
:+1:

[2016-01-11 19:51] joubertredrat commented on #2252
hi guys,

@Unknwon on this case, isnt' good idea to consider role permissions as future feature?

[2016-01-11 19:53] joubertredrat commented on #936
:+1:  +1 with love

[2016-01-12 00:26] Veitor commented on #2378
我是直接在页面上复制项目右上角的ssh地址，然后git clone
[code]
但通过http输入密码clone是有用的

================================================

另外又发现一个现象，我换台电脑D，并且电脑D上的SSH密钥对从电脑C上拷过来的，所以通过电脑D我也能登录两个服务器，此时我通过电脑D在服务器C上`clone root@git.veitor.net:veitor/ceshi.git`是可以的
所以我开始怀疑会不会是电脑A上的配置问题？至少感觉不是gogs的问题
不知作者您凭经验觉得是哪出问题了？

[2016-01-12 00:57] exmex commented on #2375
![](http://i.imgur.com/pAxhgPB.png)

Same here.

[2016-01-12 02:14] Veitor commented on #2378
ok..我最后找到原因了，是我电脑A本身原因，使用的secureCRT版本太低，导致了这问题。。。现在升级了新版的secureCRT就可以了

[2016-01-12 03:07] km4efp opened #2384 "Feature request fail2ban"
Enable user auth fail log for use with fail2ban in preventing brute force attacks

[2016-01-12 04:03] Eriner opened #2385 ".gopmfile needs to update git-module"
After the change introduced by https://github.com/gogits/gogs/commit/db719abff2d645672b686ea69c94683f49340761, the following error occurs upon running gogs:
[code]

Relevant git-module commit https://github.com/gogits/git-module/commit/081966e117b616a730296a19c55fa8dd2152ec56

[2016-01-12 04:58] biji commented on #2263
Yes, new feature to upload images to __wiki__ would be great. just like adding images to __Issue__

Currently I push images to master repository , then permalink it to __wiki__ pages

[2016-01-12 05:23] kybin opened #2386 "what's inside gogs/data/session directory?"
Hi, I backup my gogs/data directory with syncthing.

Recently I found files in the session directory keep changing.
I assume those are http session file. Is it correct?
If so, should I keep backup the session files?

Thank you!

[2016-01-12 06:28] bojoyzhou opened #2387 "Trigger webhook when publish a new release"
git在服务端进行git tag tagname操作的时候不会触发钩子,gogs是否可以代替git做这个操作?
另外建议使用git tag -a tag -m message方式来打tag这样能够从git命令中获取到tagger属性,从而知道是谁提交的tag.

[2016-01-12 07:29] bkcsoft commented on #1048
working on it :)

[2016-01-12 08:59] congeal commented on #2373
I confirmed that the problem has gone.
Thank you a lot.

[2016-01-12 09:00] xor-gate commented on #2387
It would be appreciated to write your issues in english so !chinese people can collaborate :-)

[2016-01-12 09:09] bkcsoft commented on #2272
@drym3r if both are the same, why does it matter which one it shows?

[2016-01-12 14:02] winsx commented on #1270
I have the same problem to use gogs browse a git repository that one directory have so many files,then it shows 500 or 400
* Gogs's version is 0.8.19.0111
*  go's version is go1.6beta1 linux/amd64
*  in fedora 23 use systemd start Gogs as service
*  check log file and find infomation below
[code]

I stop gogs as service and start gogs in a shell session then re-browse git repository that failure 5

[2016-01-12 14:12] simonszu commented on #1270
@winsx Yes, this was exactly the same problem i had. Starting gogs manually works fine, starting gogs via systemd raises the "too many open files" error.
So i found out that systemd has a `LimitNOFILE` directive, and ignores the normal ulimit setting. Setting this directive works for me. I will create a pull request, i think.

[2016-01-12 14:25] winsx commented on #1270
@simonszu nice job,the problem solved,thans very much

[2016-01-12 15:10] simonszu opened #2389 "Sorting repositories into sections"
Hi,

it would be great if there could be a feature that you can sort repositories into sections to clean up your profile a bit. Currently i have around 60 repositorys in my profile, this starts to get messy.
Maybe provide each section an own URL as well, so instead of 'git@git.hostname.tld:user/repo.git' you have 'git@git.hostname.tld:user/section/repo.git'. I think, gitlab has this feature as wel

[2016-01-12 16:06] trobert2 commented on #2246
+1
I also want this for a job in a CI

[2016-01-12 16:10] yurivict commented on #2246
For the record, #2253 is the reverse of this one: API for the pull requests.

[2016-01-12 16:24] sapk commented on #2389
You could maybe use organization for that ?
You could make url like that 'git@git.hostname.tld:user-section/repo.git'

[2016-01-12 16:54] sapk commented on #2375
Find this : https://github.com/gogits/gogs/blob/4993ab1a767bea5645a65b5639cc00bb107fdfd3/models/issue.go#L1598

L1603 and L1604 same problem

[2016-01-12 16:58] sapk commented on #2375
@exmex What is the diff between the two push ? You use http for one and ssh for the other ?

[2016-01-12 16:59] exmex commented on #2375
These are different repositories. I use http pushing only.

[2016-01-12 17:03] exmex opened #2390 "Emoji in old commits"
So we recently switched from gitbucket to gogs because gitbucket was using far too much resources.

After the "migration", (changed all origin urls to the new gogs system and pushing it). I noticed that emojis don't work for older commits. This commit is not the newest one (The newest is 3 commits newer)
![](http://i.imgur.com/KBI3vFH.png)

Same emoji in an issue comment:
![](http://i.imgur.com/6b

[2016-01-12 17:06] exmex commented on #2386
Maybe not use issues to ask questions. There is a forum if you didn't know:
http://forum.gogs.io

[2016-01-12 17:08] brandonsturgeon commented on #2338
Yup! That seems like the kind of thing I'm looking for!

[2016-01-12 17:09] kybin commented on #2386
ah, sorry. I will ask it there.

[2016-01-12 17:09] #2386 closed

[2016-01-12 17:16] dacresni opened #2391 "dev mode redirects to /install instead of ./install, causes proxy issues"
I can't proxy to /gogs because the initial redirect is to /install instead of ./install which causes example.com/gogs/install to redirect to example.com/install  which doesn't exist

[2016-01-12 18:11] Wargog opened #2392 "Gogs under subdomain with CloudFlare timeout"
Gogs will not allow me to connect through a subdomain of my businesses website, but it will let me use my server's DNS name to connect. I have checked gogs-nssm.txt and there no errors coming through, and my browser goes from `Waiting for proxy tunnel` (even though I'm not using one, other than CloudFlare which I had disabled on that subdomain but it did nothing) to `ERR_TIMED_OUT`. The odd thing

[2016-01-12 19:58] drym3r commented on #2272
@bkcsoft Because they are in different formats. One in md, for git repos, and the other in rst, for pypi. (in my case). Since gogits does not render rst and pypi does not suprenderport md, I have to have both of them.

[2016-01-12 20:23] sapk commented on #2375
Don't know if this line should also be edited for consistency : https://github.com/gogits/gogs/blob/19423957b17fe583e9a04f45aafe91335354d6e2/models/action.go#L539
cc @Unknwon

[2016-01-12 20:35] hellochenwang commented on #1071
:+1:

[2016-01-12 22:47] sapk commented on #2375
I think for the push it come from here https://github.com/gogits/gogs/blob/4993ab1a767bea5645a65b5639cc00bb107fdfd3/routers/repo/http.go#L137 and that it should be outside of the error handling.
But since it touch to the auth, I don't want to mess it all.
A simpler solution could be to edit this line https://github.com/gogits/gogs/blob/4993ab1a767bea5645a65b5639cc00bb107fdfd3/routers/repo/http.go#

[2016-01-13 02:13] cusspvz commented on #813
+1

[2016-01-13 05:03] novaeye commented on #2391
in [GOGS_ROOT]/custom/conf/app.ini

[code]

[2016-01-13 05:22] novaeye commented on #2392
[code]
HTTP_PORT access by https?

[2016-01-13 09:05] bobdog1986 opened #2395 "cannot install on window7-64bit because cannot identify git cmd"
Hello everyone!
I try to install it on my windos7-64bit pc, but fail because:
无法识别 'git' 命令：exec: "git": executable file not found in %PATH%

After add  C:\Program Files (x86)\Git\bin as PATH, still not work.

![image](https://cloud.githubusercontent.com/assets/9330555/12289687/ca9979e6-ba17-11e5-882c-88b0c9fea73e.png)

[2016-01-13 10:17] xPaw commented on #2392
https://support.cloudflare.com/hc/en-us/articles/200169156-Which-ports-will-CloudFlare-work-with-

This is probably the case?

[2016-01-13 13:35] bkcsoft commented on #2272
@drym3r well, if gogs can't render the .rst-file, it seems like a non-issue really ^.^ but I get your point.
I'd like it to be a settings that takes a list "readme.md,readme.build.md,[etc]", something like this (only a mock, havn't written any code yet)
<img width="960" alt="screenshot 9" src="https://cloud.githubusercontent.com/assets/4726179/12295649/b7dcb620-ba02-11e5-9f9d-f2e29dc541a1.png">

[2016-01-13 14:05] Wargog commented on #2392
I'll try it, but the weird thing is even disabling CloudFlare for that subdomain didn't work

[2016-01-13 16:24] drym3r commented on #2272
The thing its that it tries to render it, if the name is 'README'. But it just shows the raw file.
Btw, that mock would be awesome, since the user can choose which is the main readme x)

[2016-01-13 16:33] Dasoren commented on #2272
If this could support repo paths as well that would be cool, like "/Docs/README.md" vs just the "/README.md" file. This way I could store all .md files in the Docs folder and have the README file in the root at a CLI file and not a markdown file. Organization if the files is why I would like this option. :)

[2016-01-13 18:59] xiegeo commented on #2395
在命令行（cmd.exe）里运行一下set path看看PATH有没有更新。命令行得从起一下才能显示新的设置，还有确保设置PATH和运行命令行是一个用户（专门开的管理员命令行可能不管你的用户设置）。

[2016-01-13 19:12] FyinInc opened #2400 "Wild Card SSL"
The GoGS website works great with our wild card SSL.  However, we can only pull/push files using SSH.  If we switch the certs back to our self signed certs - the HTTPS works perfect.

Over HTTPS we get:

---Git Client---
/fyin.com/project.git/': SSL certificate problem: unable to get local issuer certificate
git did not exit cleanly (exit code 128) (515 ms @ 1/13/2016 12:03:02 PM)

---Console App-

[2016-01-13 19:45] Wargog commented on #2392
Thanks @xPaw, switching a proxy supported port worked

[2016-01-13 19:45] #2392 closed

[2016-01-13 22:17] i00 commented on #2377
Oh yea :)

[2016-01-13 22:23] ChristianAE opened #2401 "Using HTTPS not working (Error code: ssl_error_rx_record_too_long)"
I just installed gogs using Docker. The command I used to run it looks like this:

I used ./go cert to generate key and cert for HTTPS. My config files looks like this:

When I try to open the website I get this error: An error occurred during a connection to devbox:9080. SSL received a record that exceeded the maximum permissible length. (Error code: ssl_error_rx_record_too_long)

Looking in the

[2016-01-13 22:24] i00 opened #2402 "Commits time does not match up"
On the Dashboard when I commit something it says that it was committed 1 min ago.

When I go into the commits it says 18 hours ago... I am in Australia, all the times in gogs seem to be in PST.  The dashboard screen seems to take my local time zone into account, the +18 is the -8 to +10 timezone difference.

I don't know if there is a way to change the time-zone (please let me know)

Regardless, i

[2016-01-13 23:06] nanoant commented on #1270
@Unknwon I humbly ask to reopen this issue. While initially back in August 2015 this looked reasonably as system config issue. Now it isn't really.

Last month in gogs/git-module@ebd9fb225390f534bb01953bb66feeedeec7b28c you have introduced parallel `GetCommitsInfo` running multiple `git` commands at once to speed up the process. While it is generally desired to do that, your implementation does no

[2016-01-14 00:58] cusspvz opened #2404 "Logs are appearing inspite we've set logging to console"
We are using latest version available on *Docker Hub* of *Gogs*.

Inspite we've set on `app.ini` to log on *console*, the folder `/data/gogs/log/` have logs from `http`, `update` and `xorm`.

Is that an expected behavior from the *docker image*?

[2016-01-14 01:10] stoneStyle opened #2405 "想问下，copssh和gogs如何关联在一起"
官方文档的安装前置条件是需要有copssh，但是怎么配置copssh使其和gogs关联在一起没有详细的说明。我配置的目标是可以让gogs的注册用户通过privite key直接拉取代码，无需每次更新都输入密码，这个该如何配置

[2016-01-14 01:13] bkcsoft commented on #2387
@xor-gate or just use google translate? :smile:
anyhow, title is `Git hooks when not trigger a new release` and text is

Also recommended to use git tag -a tag -m message this way to play tag can be obtained from the git command to tagger property, so they know who is the tag submitted.

I read that as "I want webhooks for newly pushed tags, also would be nice if one can see who tagged the release

[2016-01-14 01:15] bobdog1986 commented on #2395
你好，xiegeo！
我set path之后，又重启cmd，输入path还是看不到Git的Path，但是有Git Extensions的：
Microsoft Windows [版本 6.1.7601]
版权所有 (c) 2009 Microsoft Corporation。保留所有权利。

C:\Users\Administrator>path
PATH=C:\Perl\site\bin;C:\Perl\bin;C:\Windows\system32;C:\Windows;C:\Windows\Syst
em32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Program Files (x86)\MyS
QL\MySQL Fabric 1.5 & MySQL Utilities 1.5\;C:\Program Files (x8

[2016-01-14 01:45] bobdog1986 commented on #2395
你好，xiegeo！
我自己二了，小白不太懂哈。PATH已经设置好了，谢谢！将git.exe的路径添加到PATH。

[2016-01-14 01:45] #2395 closed

[2016-01-14 01:46] bkcsoft commented on #1270
+1 on re-opening for reasons stated by @nanoant

[2016-01-14 04:44] bkcsoft commented on #2390
does it work on any commit? or just not on older ones?

[2016-01-14 04:48] bkcsoft commented on #2389
gitlab doesn't have this feature, they have "groups" which are equivalent of "organizations" :)
and I suggest the same as above

[2016-01-14 04:49] Unknwon commented on #2252
@joubertredrat you mean side-wide role permissions?

[2016-01-14 04:59] Unknwon commented on #1270
Agree...

[2016-01-14 05:05] Unknwon commented on #2378
:sweat: ....epic discovery!

[2016-01-14 05:05] #2378 closed

[2016-01-14 05:06] Unknwon commented on #2263
Thanks @biji .

Any suggestions to solve this problem will be appreciate!

[2016-01-14 05:08] Unknwon commented on #2373
:beers:

[2016-01-14 05:08] #2373 closed

[2016-01-14 05:32] Unknwon commented on #2338
Great... then this issue is no longer needed.

[2016-01-14 05:32] #2338 closed

[2016-01-14 05:43] Unknwon commented on #2375
Thanks @sapk !

I agree this is the problem.

[2016-01-14 05:48] Unknwon commented on #2272
I think setting which one to render is good enough? It seems that other priority isn't matter at all?

[2016-01-14 06:26] Unknwon commented on #2382
Thanks your feedback!

But I don't understand the problem?

[2016-01-14 06:27] Unknwon commented on #2384
Thanks your feedback!

How does this work?

[2016-01-14 06:28] Unknwon commented on #2385
Thanks your report!

I've pushed fix to `develop` branch, please help test again.

[2016-01-14 06:32] bkcsoft commented on #2384
@Unknwon Basically the authentication route has to log failed login-attempts to file with the offending IP
http://www.fail2ban.org/wiki/index.php/Main_Page

actually it would be simplest if Macaron just printed the ip-address to the log as-well :smile:

[2016-01-14 06:33] Unknwon commented on #2384
Thanks @bkcsoft !

Sounds like a simple integration (log-level) to fail2ban?

[2016-01-14 06:36] Unknwon commented on #2391
ping @dacresni

[2016-01-14 06:41] bkcsoft commented on #2384
@Unknwon well, it's a simple integration, _if_ the logs from gogs printed out ip-addresses ;)

[2016-01-14 06:43] Unknwon commented on #2384
Only IP addresses? To any file?

[2016-01-14 06:45] Unknwon commented on #2400
Hi, are you using any reserve proxy?

[2016-01-14 06:48] Unknwon commented on #2401
It seems like you did not change your config correctly, how did you change it?

[2016-01-14 06:52] Unknwon commented on #2402
Hi, can you take screenshots of commits time (in hover) and actual time of commit (in command line)?

[2016-01-14 06:53] Eriner commented on #2385
Commit https://github.com/gogits/gogs/commit/ab89be33a9d02cf12e55c12bfe5367c33faac8d5 has fixed the issue. Thanks!

[2016-01-14 06:54] Unknwon commented on #2385
Thanks your confirmation!

[2016-01-14 06:54] #2385 closed

[2016-01-14 06:56] Unknwon commented on #2339
This is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2403

[2016-01-14 07:03] renewsorensen opened #2407 "View diff file on submodule gives a 404 page"
In one of my project i use submodules. When i commit changes that includes changes in a submodule. Submodules appears on the page that shows changes in a commit hash. The url below here is an example
url http://servername/SCADA/vob.server/commit/9352a729485ed1eac4e81bf655c21c46e96c2ee7

Now if i press the view file button marked in the picture, a 404 page appear.
![capture_commithash](https://clou

[2016-01-14 07:07] Unknwon commented on #2404
@cusspvz yes, it is expected behavior of all Gogs installation.

[2016-01-14 07:08] Unknwon commented on #2404
Close according to:

http://forum.gogs.io/

[2016-01-14 07:08] #2404 closed

[2016-01-14 08:07] bobdog1986 opened #2408 "Cannot start gogs service -system error 1067: win7 64bit"
Hello everyone.
I can start gogs by using command line: gogs web
But I cannot register gogs as windows service by following guide.
If I try "net start gogs", there will be a system error code as "1067":
It seem like ref to mysql , but I cannot find reason , anyone can help?

c:\>net start gogs
gogs 服务正在启动 .    //gogs is starting
gogs 服务无法启动。  //gogs cannot start

系统出错。                 //system err

[2016-01-14 08:19] Unknwon commented on #2405
No, it does not.

[2016-01-14 08:20] Unknwon commented on #2387
Why would you tag something on Gogs managed repository?

[2016-01-14 08:25] Unknwon commented on #2390
What is your version of Gogs?

[2016-01-14 08:26] Unknwon commented on #2389
Same as above ...

[2016-01-14 08:27] ChristianAE commented on #2401
I created an new app.ini file at /mnt/data/programs/gogs/gogs/custom/conf
It contains:

The certificate and key I placed at:
/mnt/data/programs/gogs/gogs/custom/https

The original app.ini file created during intallation I did not alter.
Could this problem somehow be related to wrong permissions? At the moment I need to sudo to be able to edit the app.ini.
And what is the right way to set the log

[2016-01-14 08:28] Unknwon commented on #2408
Thanks your feedback!

Which guide? And how did you get/install your Gogs?

[2016-01-14 08:34] Unknwon commented on #2401
According to the https://github.com/gogits/gogs/tree/master/docker , I think you're editing something that Gogs will never read from it...

[2016-01-14 08:39] prologic opened #2409 "SSH prompts for password in Docker"
Not sure how to debug this through s6; not even sure where the typical `/var/log/auth` is?

I'm running gogs via Docker. Here is my docker-compose.yml:
[code]

When I clone a repo I just get prompted for a password:
[code]

I added my public `id_rsa.pub` key contents via the Web UI -> Settings -> SSH Keys

[2016-01-14 08:39] ChristianAE commented on #2401
By my understanding by using the parameter "-v /mnt/data/programs/gogs:/data" when running the docker file I bin it's internal data folder to /mnt/data/programs/gogs.
Creating a repository I could confirm that it is accessible from outside the container at /mnt/data/programs/gogs/git/gogs-repositories.
Shouldn't this also apply to the app.ini?
Can I log this somehow?

[2016-01-14 08:41] Unknwon commented on #2401
OK in your case I think it should be `/mnt/data/programs/gogs/gogs/conf/app.ini`.

This file should already there after installation.

[2016-01-14 08:42] Unknwon commented on #2409
Please check the `auth.log` of SSH server.

Docker sometimes changes the directory permission which lead to auth fail.

[2016-01-14 08:45] bobdog1986 commented on #2408
Hi, follow this link: https://gogs.io/docs/installation/run_as_windows_service
I had try to register as windos service but fail. I used built-in way.

I  had already solve this issue by add a link to a batch file to start "c:\gogs\gogs web" to the windows start-up folder.
But I must login administrator on my pc after power on .............

[2016-01-14 08:47] bobdog1986 commented on #2408
I install gogs by binary way.
run c:\gogs\gogs web
after that I can use browers.

[2016-01-14 08:48] Unknwon commented on #2408
For this case, did you download the version with `mws`?

[2016-01-14 08:51] bobdog1986 commented on #2408
Yes ,I use the mws package.
Doed this issue related to mysql?

[2016-01-14 08:52] ChristianAE commented on #2401
I didn't just alter the created app.ini because of in this articel(https://gogs.io/docs/advanced/configuration_cheat_sheet)  it says: "Before we get started, make sure you know that any change of configuration should be made in custom/conf/app.ini or any corresponding location."

But you are definetly on to something. I now made my changes directly in the conf/app.ini.
The log now prints:

Which i

[2016-01-14 08:55] Unknwon commented on #2408
Have you followed the **exactly** same commands provided in the docs?

Especially,

[2016-01-14 08:56] Unknwon commented on #2408
Oh, I think you also need to check windows service log? And `path/to/gogs/log/gogs.log`?

[2016-01-14 08:58] prologic commented on #2409
Where is this ``auth.log`` file? :) I don't mean to be silly or pretentious; but there is nothing in ``/var/log``:
[code]

[2016-01-14 08:58] Unknwon commented on #2401
You setting configurations with relative path, you may want to change it to absolute path.

[2016-01-14 08:59] prologic commented on #2409
Also:
[code]

[2016-01-14 09:00] Unknwon commented on #2409
This should help: http://stackoverflow.com/questions/22526016/docker-container-sshd-logs

[2016-01-14 09:02] ChristianAE commented on #2401
Still the same result:

Here is the folder it is stored in:

[2016-01-14 09:05] Unknwon commented on #2401
/mnt/data/programs/gogs/gogs/custom/https

Not same path as I see?

[2016-01-14 09:06] Unknwon commented on #2401
What is the config values right now in `[server]` section?

[2016-01-14 09:09] prologic commented on #2409
I think you've mis-read this. I'm more than happy to dig around in the running container to debug this; but I shouldn't have to! Why aren't there logs setup already in the `Dockerfile`? As it stands right now; no-one can just ``docker run ... gogs/gogs`` and expect to get a working git+ssh experience. It's broken in 0.8.10 and latest.

[2016-01-14 09:16] ChristianAE commented on #2401
Here it is:

[2016-01-14 09:19] Unknwon commented on #2409
I just tested tag 0.8.10, SSH server works out of box..

[2016-01-14 09:22] prologic commented on #2409
Did you use a volume (Docker 1.9 feature)?

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Thu, Jan 14, 2016 at 1:19 AM, 无闻 <notifications@github.com> wrote:

[2016-01-14 09:26] xsteadfastx opened #2410 "Getting branches from the API"
I need to get a list of branches from a repo for using it with the Jenkins DSL plugin. To create jobs for each branch in the repo. The GitHub-API has something like `/repos/:user:/:repo:/branches`. This didnt worked in gogs.

And btw: thanks for this wonderful piece of software. Im using it daily and loving it so far.

[2016-01-14 09:27] ChristianAE commented on #2401
I'll try next to place the file inside of the container. I don't see why that should make a difference since the configuration can also be changed outside from it. But it might pinpoint the problem further.

I might only find time to do that tomorrow. If you have any suggestions in the meantime let me know.

[2016-01-14 09:32] bkcsoft commented on #2384
well, fail2ban needs a status-code and an IP... preferably turn this:
[code]
into:
[code]

[2016-01-14 09:34] bkcsoft commented on #2409
it's in `/data/gogs/logs/auth.log`

[2016-01-14 09:35] bojoyzhou commented on #2387
when i use `/:user/:repo/releases/new` to public release, i wish i can capture that and do something. for example i can write some script to sync file to another server.

[2016-01-14 09:38] prologic commented on #2409
No; there is no ``auth.log`` configured for the Docker image:
[code]

Unless you run this on stock standard Linux host; sure :)

[2016-01-14 09:46] sapk commented on #2263
Normally it should be possible to clone the wiki and directly add image via git. I think it is how github permit it.
https://help.github.com/articles/adding-images-to-wikis/
http://mikehadlow.blogspot.fr/2014/03/how-to-add-images-to-github-wiki.html

[2016-01-14 10:15] sapk commented on #2410
Should not be too hard to do. I will propose something in a PR.

[2016-01-14 10:16] Unknwon commented on #2401
Don't have any ideas yet, the path looks correct to me... :sweat:

[2016-01-14 10:17] Unknwon commented on #2384
Thanks. Does it have any so-called standard form of log?

[2016-01-14 10:18] Unknwon commented on #2387
Sorry I'm confused.

Are you performing all operations through Gogs web UI?

[2016-01-14 10:20] ChristianAE commented on #2401
Any chance for you to try to reproduce it using docker?

[2016-01-14 10:21] Unknwon commented on #2409
Can you check permission for `/data/git/.ssh` and all its files?

[2016-01-14 10:21] bojoyzhou commented on #2387
just code review and manage release

[2016-01-14 10:21] Unknwon commented on #2409
I'm not pro on Docker... I volumed my directory but don't know what it differs from older version?

[2016-01-14 10:22] Unknwon commented on #2387
Thank for following up, but I don't think you're answering my question.

How did you make the tag? You said you use command `git tag tagname` on your server?

[2016-01-14 10:25] Unknwon commented on #2263
I think directly use images in the repository is the best way.

[2016-01-14 10:28] Unknwon commented on #2401
I think I may know the problem.

You should use `/data/gogs/conf/cert.pem`, etc. This is the real path inside container.

[2016-01-14 10:30] bojoyzhou commented on #2387
when i make the tag through Gogs web UI, i found that don't trigger hook. i hope i can sync file to another server when i make the tag.

我使用页面里面的发布新版本进行打tag的时候,后台无法捕捉到事件进行回调,我希望在打tag的时候进行文件同步到另一台机器

[2016-01-14 10:30] exmex commented on #2390
Newest self-compiled source ;).
--------
We didn't tested it yet with newer commits. But the old ones are definitely not working.

[2016-01-14 10:33] joubertredrat commented on #2252
@Unknwon

https://en.wikipedia.org/wiki/Role-based_access_control

[2016-01-14 10:35] Unknwon commented on #2390
OK, reproduced here: https://try.gogs.io/unknwon/issue-2390

[2016-01-14 10:36] Unknwon commented on #2390
I think it is caused by bug https://github.com/Ranks/emojify.js/issues/154

[2016-01-14 10:38] exmex commented on #2390
=). That sucks. But at least we know now where it comes from..

[2016-01-14 10:39] Unknwon commented on #2387
Thanks, I got it now.

I think Git itself does not detect tag event maybe.

So the only thing you could do it use Gogs's webhook.

However, Gogs does not trigger the event too when you publish new release through web UI.

I suggest turn this issue into `trigger webhook and publish a new release`, what do you think?

[2016-01-14 10:39] Unknwon commented on #2252
Thanks @joubertredrat , I think that's may be possible after 1.0 release...

[2016-01-14 10:49] Unknwon commented on #2390
I'm thinking handle this directly in Go...

[2016-01-14 10:50] exmex commented on #2390
The emoji conversion? I thought you'd already do this. But after I looked I noticed you're not. It would certainly be better to convert it directly and just send the emoji url to the page.

[2016-01-14 10:52] Unknwon commented on #2390
Yes, agree.

[2016-01-14 10:55] bojoyzhou commented on #2387
Thanks. It's OK

[2016-01-14 10:58] exmex commented on #2390
So If a couple guys from us are implementing it, where do you think should we put it? As 3rd party library (I'm not a fan of this idea.), in the template.go file, or as a seperate module in the modules folder?

[2016-01-14 10:58] exmex commented on #2408
Yes I tested that too. And the windows service doesn't work. It's broken.

[2016-01-14 11:03] bojoyzhou commented on #2387
I try to use `git tag -a tagname -m "message" && git push --tags` to make a tag. Git detect tag event like  `refs/tags/1233 0000000000000000000000000000000000000000 2b25fb255b5c0bce7457d7c665f449e529d68531`.

[2016-01-14 11:06] Unknwon commented on #2387
It only detects when you push, but it's not what happening on the server side.

[2016-01-14 11:07] Unknwon commented on #2390
Actually, I'm going to implement as 3rd party library because somewhere else is using empjify.js and met the same problem...

[2016-01-14 11:11] bkcsoft commented on #2409
I'm running gogs in Docker 1.9.1 with a named volume and ssh-keys for access, works just fine. though I noticed now that ssh is indeed not producing any logs :unamused:

[2016-01-14 11:16] ChristianAE commented on #2401
Spot on!

Now using

to create/run the container and editing conf/app.ini, placing cert and key also in conf works!

It still bothers me a little that the documentation recommends not to alter the conf/app.ini but to create a separate one placed at "custom/conf/app.ini" on just override the neccessary parameter. When I find the time I'll have another look at this and might open a separate issue fo

[2016-01-14 11:19] Unknwon commented on #2401
The one you see is already the custom one without `custom` in the path: https://github.com/gogits/gogs/blob/master/Dockerfile#L12 :trollface:

Everything is special inside Docker container...

[2016-01-14 11:19] #2401 closed

[2016-01-14 11:33] bojoyzhou commented on #2387
Thanks, that explains a lot.

[2016-01-14 11:36] bkcsoft commented on #2390
I'd have a look at this: https://github.com/shurcooL/github_flavored_markdown/issues/1 :smile:

[2016-01-14 11:41] Unknwon commented on #2390
It's not just markdown, but everywhere... needs something more general. I've already got some idea.

[2016-01-14 13:08] wqweto commented on #2384
@Unknwon `fail2ban` uses flexible set of filtering rules based on filter/ignore regexes e.g. something like this
[code]
. . . can be used to filter failed logon attempts *and* gather IP through \<HOST\> capture.

[2016-01-14 13:09] Unknwon commented on #2384
Thanks @wqweto !

[2016-01-14 13:14] Unknwon commented on #2384
I think it is now as easy as adding a [NewLogger](https://github.com/gogits/gogs/blob/master/modules%2Flog%2Flog.go#L22) with `file` type and filename `fail2ban.log`, and record failures in https://github.com/gogits/gogs/blob/master/routers%2Fuser%2Fauth.go#L63

[2016-01-14 13:14] FyinInc commented on #2400
No

______________________________________________________
Fyin, Incorporated  :  david@fyin.com
Phone  :  414.274.0101  :  Fyin.com

On Wed, Jan 13, 2016 at 10:45 PM -0800, "无闻" <notifications@github.com> wrote:

Hi, are you using any reserve proxy?

—
Reply to this email directly or view it on GitHub.

[2016-01-14 13:16] Unknwon commented on #2400
OK... what I recommend is use a reverse proxy such as NGINX to do such wild card SSL, because I don't know whether Go supports it or not. If Go supports it that's great but I've never used so don't know how exactly... if not, mostly like Gogs won't be able to have it...

[2016-01-14 13:45] uranium62 commented on #1851
I have a similar problem
When I use:

`$ docker exec -it gogs bash
`$ ping <linkdb>

ping goes...

[2016-01-14 13:55] uranium62 commented on #2408
I have a similar problem...

[2016-01-14 14:29] matt-h commented on #2400
Another thing to check would be it you have the full chain in your certificate. I think that not having the full chain can cause this issue with git.

[2016-01-14 15:17] prologic commented on #2409
I had already checked permissions; but here's a paste:
[code]

As @bkcsoft mentions though; in this Docker image no sshd logging seems to have been set up; so without horribly hacking the running container I can't easily debug this :/

[2016-01-14 15:20] prologic commented on #2409
Note there should be no theoretical difference between a "bind mounted volume" (``docker run -v /path/on/host:/path/on/container``) to "named volumes" (``docker volume create -d foo gogs; docker run -v foo:/data ...``).

[2016-01-14 15:27] bobdog1986 commented on #2408
Hello Unknwon:
下午试了不同的mws和non-mws包，在non-mws包里也试着delete\add gogs服务几次。貌似现在已经可以start gogs service，但是还是有些问题，应该是我的custom\conf\app.ini设置的问题。
如果，我在局域网内，PC固定的IP=10.76.100.124，PC的computername=11-PC，想让其他用户直接通过像类似http://10.76.100.124:3000的方式直接访问，应该怎么设置app.ini等文件呢？

[2016-01-14 15:28] FyinInc commented on #2400
Would you like to use TeamViewer to see what is going on?
The confusing part is the GoGS web server runs perfectly. We just cannot connect GIT via https. 

______________________________________________________
Fyin, Incorporated  :  david@fyin.com
Phone  :  414.274.0101  :  Fyin.com

On Thu, Jan 14, 2016 at 6:29 AM -0800, "Matt" <notifications@github.com> wrote:

Another thing to check would be i

[2016-01-14 16:20] cusspvz commented on #2404
@Unknwon just asked for courtesy and to have sure if it was intentional or not.

Now, my request is to log them as specified on the `app.ini`. I don't want to have logs on the FS since we use console for gathering logs from services end we also keep the FS synced between nodes. Because iof its logging into FS, we're having issues between syncs because of constantly changing log files.

[2016-01-14 16:21] cusspvz commented on #2404
`app.ini`

[code]

[code]

[2016-01-14 17:24] loongw commented on #211
如果暂时找不到完美的go rst渲染引擎，能否实现一个扩展机制：
可以通过配置，让特定的文件类型交由另一个http server来渲染。这样，我们就可以用Python来实现渲染后端，也能保证完美的语法兼容性。

[2016-01-14 20:00] xiegeo commented on #2185
Run into the same problem, so here are more test cases:
The gb files are Chinese simplified, utf files show what's expected.
- https://try.gogs.io/xiegeo/detect-charset-test/commit/2db9592320681fa9c33f6539ce4a48160f358d06 detected encoding is ISO-8859-1

- https://try.gogs.io/xiegeo/detect-charset-test/commit/b67cf435602a9b2cc51473eaed3460c66e2acfb2 this is a fun one, refresh the page a few times

[2016-01-14 23:40] barracks510 commented on #2179
I believe that the golang project (and thereby Google) maintains the golang.org/x/ repository as a staging code. The following excerpt is from the website.

[2016-01-14 23:53] stonewareslord commented on #2287
It almost works well. The repo names are truncated correctly on the dashboard:

![selection_001](https://cloud.githubusercontent.com/assets/7482347/12341345/f4851bd4-baee-11e5-97bb-9194828f4b3d.png)

The repo URL on the right (in `My Repositories`) works, but the URL in the news feed doesn't. It is linking to `try.gogs.io/username/repon...` instead of `try.gogs.io/username/reponame` which gives a

[2016-01-15 02:38] HorexC opened #2411 "remote: no basic auth and digit auth"
没有权限是为什么啊。我创建了一个组织。在那里创建了仓库。我可以push 。但是我拉进来的成员只能clone不能push
ssh也添加了。就是不能提交是为什么啊
remote: no basic auth and digit auth
fatal: Authentication failed for 'http://10.21.200.**:****/Demo/Demo.git/'

[2016-01-15 03:37] bobdog1986 opened #2412 "Sometime cannot add a issue - win7"
Hello everyone!
I meet a 'bug' that sometime user cannot add a new issue on his repo. And retry is ok.
My usage is:
1. user repo has 5 issue tags like:bug\feedback\enhancement\issue\new feature.
2. user repo has 1 milestone: 2.0
3. user add a new issue and select tag and milestone , after that commit issue then someting wrong happen . There is a 500 error code on web page
Follow is the console log

[2016-01-15 03:56] bojoyzhou commented on #2409
Ensure that all keys are begin with `command="/home/git/gogs/gogs` in `authorized_keys`.
I have met the same question because of i have tried to add my `id_rsa.pub` to `authorized_keys` by myself.
It works after i delete all keys except begin with `command="/home/git/gogs/gogs` in `authorized_keys`

[2016-01-15 04:09] soaringloong opened #2413 "发布版本不能添加附件?"
如题,没有找到添加附件的地方,只能写文本,发布之后只能下载源代码.不方便

[2016-01-15 04:22] prologic commented on #2409
Okay so I finally figured this out; and to be honest I feel a bit stupid.

I will submit a PR to close this issue to update relevant docs on this.

The TL;DR is that if you run gogs via Docker; *most* Docker hosts already have an sshd service running and listening on the default port 22 for management of the host(s). This is "incompatible" with the default gogs sshd setting of port 22. You have to

[2016-01-15 04:36] bojoyzhou commented on #2413
可以放ftp上面,然后把连接写进去

[2016-01-15 05:35] Unknwon commented on #2408
You must have a public IP.

@exmex @uranium62  what is your system? and what's your response to my [comment](https://github.com/gogits/gogs/issues/2408#issuecomment-171575445)?

[2016-01-15 05:37] Unknwon commented on #2413
Thanks your feedback!

But this is duplicated to https://github.com/gogits/gogs/issues/1614

[2016-01-15 05:37] #2413 closed

[2016-01-15 05:41] Unknwon commented on #2400
What did you do with Gogs to use `wild card SSL`?

[2016-01-15 05:43] Unknwon commented on #2404
The quick answer is they are in (different) files because they can't be printed on console.

[2016-01-15 05:44] Unknwon commented on #211
@loongw sounds workable...

[2016-01-15 05:45] Unknwon commented on #2185
@xiegeo try https://github.com/gogits/gogs/blob/master/conf/app.ini#L15

[2016-01-15 05:47] Unknwon commented on #2179
@barracks510 Gogs is using the one you're talking...

[2016-01-15 05:50] Unknwon commented on #2411
Hi, because they have no access to anything by default, you must add them to team that has access to the repository.

[2016-01-15 05:50] #2411 closed

[2016-01-15 08:18] mbi opened #2414 "Build process on packager.io is failing"
https://packager.io/gh/pkgr/gogs

Logs suggest that: `ln: creating symbolic link /opt/gogs/code: No such file or directory`

[2016-01-15 10:02] Unknwon commented on #2287
@stonewareslord URL fixes are pushed to `develop`.

And I found `word-break: break-all` does not work on Firefox, but perfectly under Chrome. I suggest you open another issue for this problem specifically since the main purpose of this issue is completed.

[2016-01-15 10:04] Unknwon commented on #2412
Hi, what database are you using?

[2016-01-15 10:08] Unknwon commented on #2409
Oh, OK... that's great news.... :joy:

You can help update [README](https://github.com/gogits/gogs/blob/master/docker/README.md) by adding a notice.

[2016-01-15 10:14] Unknwon commented on #2414
Thanks your feedback!

But sadly we can do nothing about it...

[2016-01-15 10:14] Unknwon commented on #2414
cc @crohr

[2016-01-15 10:17] Unknwon commented on #2345
Close as fixed.

[2016-01-15 10:17] #2345 closed

[2016-01-15 10:25] crohr commented on #2414
I'll have a look this weekend

[2016-01-15 10:26] Unknwon commented on #2414
@crohr thank you!

[2016-01-15 10:36] Unknwon commented on #2179
@barracks510 your code works right now, thanks again!

@david-at would you mind checkout `develop` and test again?

[2016-01-15 10:41] l2dy opened #2415 "Unable to stop migration"
Migration cannot be manually canceled before it is finished.

[2016-01-15 11:08] uranium62 commented on #2408
I found a source of error (-system error 1067)
I changed the service to start under the current user.

[2016-01-15 11:45] Unknwon commented on #2408
Thanks @uranium62

[2016-01-15 12:50] exmex commented on #2408
Service creation works fine, starting doesn't work. I'm running Windows Server 2008 R2

[2016-01-15 12:53] cowai opened #2416 "DisableMinimumKeySizeCheck is not a field of struct type interface {}"
template: admin/config:82:38: executing "admin/config" at <.Service.DisableMini...>: DisableMinimumKeySizeCheck is not a field of struct type interface {}

I get that when I try to enter the configuration in "latest" docker tag. If I use 0.8.10 as docker tag, it works.
I chose blank ssh port and sqlite for db. Otherwise everything totally default.

[2016-01-15 13:12] cusspvz commented on #2404
Are they specific to gogs or to third party software running on Docker?

[2016-01-15 13:42] xor-gate commented on #829
We have experienced the same issue when mirroring a big repository (PHP source) from github to our internal gogs setup.

* Frontend proxy: NGINX
* Server: Gogs
* Mirror: https://github.com/php/php-src

When a mirror is created it looks like it hangs, but gogs initially created the repository for the dashboard and suspended the clone to the background. Nothing is written to the browser after the PO

[2016-01-15 14:03] kokororin opened #2417 "Chinese character encoding problem"
Chinese words in php file has a encoding problem:
[problem in src](https://git.kotori.love/Changle/v2ex/src/master/App/Controller/UserController.class.php)
[the same code with no problem in commits](https://git.kotori.love/Changle/v2ex/commit/a9a67943e3286421a1d79abc66b82370c39fa92f)
[the same code with no problem in raw](https://git.kotori.love/Changle/v2ex/raw/master/App/Controller/UserControlle

[2016-01-15 14:27] hickscorp commented on #793
You're welcome, i'm sorry for the delay. Please tell me if there are limitations, or if my idea is not feasible like i'm explaining. I will be happy to think about it more.

[2016-01-15 14:39] mhartkorn commented on #2416
Can confirm. Seems like `DisableMinimumKeySizeCheck` is missing from the [`Service` struct in `modules/setting/setting.go`](https://github.com/gogits/gogs/blob/7ef9a055886574655d9f2be70c957bc16bf30500/modules/setting/setting.go#L445).

[2016-01-15 14:55] bobdog1986 commented on #2412
mysql 5.7
If I keep stay at that page, this error will always be there. I must click other title or menu buttons to leave that page and get a update , after that I will be able to add a new issue.Shown as picture above.

In addtion, this issue happens two time today. I just user another laptop and test gogs server.
Next time it happens , I will do more test and hope give you more detail info.

[2016-01-15 15:05] ivanmarban commented on #2409
Since you are mapping port XX of host machine to port 22 of container, you will need to change the URI(s) presented by de UI on Gogs while using SSH protocol.

You will need to add `git clone ssh://` in front of the command and put port XX in front of your user name.

`git clone git@host:username/repo.git`
becomes
`git clone ssh://git@host:port/username/repo.git`

[2016-01-15 15:24] getson opened #2418 "Error 500 when creating a pull request"
cat templates/.VERSION
0.8.10.1217
I have just suddenly got an error when creating a pull request,

log:
[...routers/repo/pull.go:632 CompareAndPullRequestPost()] [E] NewPullRequest: testPatch: UpdateLocalCopy: Pull: exit status 128 - fatal: Not a git repository (or any of the parent directories): .git

[2016-01-15 15:36] prologic commented on #2409
I'll have a PR ready soon to close this issue so others don't make the same
mistake I did :)

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Fri, Jan 15, 2016 at 7:05 AM, Ivan Marban <notifications@github.com>
wrote:

[2016-01-15 16:53] jesusvpct commented on #2060
Hello! I was looking for CAS, and I've found this library written in Go lang, https://github.com/go-cas/cas

This could be useful?

[2016-01-15 19:07] raymontag opened #2420 "Get 500 when editing or creating new users"
Hey,

since the last update from packager.io I get error code 500 in nginx when I want to create new users or editing existing ones. My gogs-version is 0.8.10-1451618975.4993ab1.jessie.

access.log

    x.x.x.x - - [15/Jan/2016:18:50:41 +0000] "GET /gogs/admin/users/new HTTP/1.0" 500 0 "-" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.111 Safari/537.36"

[2016-01-15 20:15] xiegeo commented on #2185
@Unknwon thinks, that was exactly what I was look for.

[2016-01-15 21:05] xiegeo commented on #2417
Related to issue #2185.

If you can, change all you files to use utf-8 encoding. This will work best.

Alternatively, you can change https://github.com/gogits/gogs/blob/master/conf/app.ini#L15 to <code>ANSI_CHARSET = GB18030</code> for Simplified Chinese.

[2016-01-15 22:58] km4efp commented on #2382
Commits show up on webui as root(local git config) instead of the remote user being authenticated via http

[2016-01-16 00:09] km4efp commented on #2382
When you push it asks you to authenticate with a user/pass and that user being authenticated isnt displayed on gogs but instead the git default user on the client machine.

[2016-01-16 00:15] EtienneBruines commented on #2217
Would FastCGI help?

https://golang.org/pkg/net/http/fcgi/

[2016-01-16 00:52] #2417 closed

[2016-01-16 06:02] bkcsoft commented on #2382
I can't reproduce this on `master`... @km4efp can you take a screenshot where this is shown?

[2016-01-16 09:00] bkcsoft commented on #2387
@Unknwon you realize that the WebUI for webhooks actually mentions "creation of tags" right? so according to the WebUI this should work :)
![gogs_webhook](https://cloud.githubusercontent.com/assets/4726179/12371554/e5ad7e90-bc37-11e5-9d2c-fc70e557efac.png)

[2016-01-16 09:36] emil-nasso opened #2421 "Error when accessing admin/config"
I get this error when accessing `admin/config`.

I installed using the officiall docker image ( https://github.com/gogits/gogs/tree/master/docker )

[2016-01-16 09:49] l2dy commented on #2421
Duplicate of #2416

[2016-01-16 09:49] zzvv opened #2422 "Bug 迁移外部仓库出现异常"
添加github仓库为镜像仓库,短时间内频繁添加,界面会出现异常
后台也卡在
[code]

怀疑是因为触发了github的安全机制,短时间频繁clone导致无法成功.

fix:添加授权账号信息后,能正常镜像

希望添加友善的相关提醒机制..谢谢!

[2016-01-16 10:07] emil-nasso commented on #2421
I restarted the container and now the webserver seems to be down. I can't access port 10080/3000 anymore. If i try starting the container without mounting my shared volume with the configuration, everything starts up as it should. So my guess would be that there is some corruption in the configuration.

Is there any part of the configuration i should share here?

[2016-01-16 10:17] emil-nasso commented on #2421
I "fixed" this by doing this:

* Moved to `/var/gogs` contents to `/var/gogs-backup`
* changed the docker container to use the 0.8.10 image: `docker run -d --name=gogs -p 10022:22 -p 10080:3000 -v /var/gogs:/data gogs/gogs:0.8.10`
* went through the installation process
* copied back the sqlite-database and the git-repositories from the backup into `/var/gogs`.

Might not be a solution for everyon

[2016-01-16 20:59] TheBlusky commented on #1641
+1

[2016-01-16 21:00] tex0l commented on #1641
+1 :)

[2016-01-16 21:43] barracks510 commented on #2179
@Unknwon I believe the built in SSH module is using the Google crypto libs, but there is a lot of duplicate code being written in the model/ssh_keys.go file that has only just included the Google crypto libs.

[2016-01-16 23:41] focmb commented on #2416
Same error here.

gogs version  0.8.22.0115 on a raspberry 2

[2016-01-17 02:50] km4efp commented on #2382
![screenshot_2016-01-16-21-49-16](https://cloud.githubusercontent.com/assets/9044667/12375661/1b3c3214-bc9b-11e5-9412-73d843fc20a3.png)

[2016-01-17 02:52] km4efp commented on #2382
All commits are via http no ssh.
I dont remember setting up a local git profile to get my name to show up on commits for github.  I thought it just used the username you were authenticating as when pushing the commit.

Also being able to edit files from the webui would be great.

[2016-01-17 04:02] jlbribeiro commented on #1597
*+1*.
(And thank you, @Unknwon, for the amazing work, Gogs is amazing! The memory footprint <3

[2016-01-17 08:24] exmex commented on #2416
I guess @Unknwon is currently busy with real life or other stuff. Anyway, I have a fix in my repository. So just download my fix, and apply it.

[2016-01-17 12:26] focmb commented on #2416
This fix works. Thanks.

[2016-01-17 13:53] brechsteiner opened #2426 "macaron should honor gogs log-levels"
macaron has Trace as default loglevel, it should use the loglevel from app.ini config file

[2016-01-17 19:11] arvislacis opened #2427 "Question about using Git Attributes (filters) with Gogs"
Hi,

Just wanted to ask if it is possible in Gogs web interface to view blob file diff using Git Attribute filters? More info at https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes I am trying to use odt2txt filter, I think that I have configured everything to work (also git command-line utility now diffs files in text mode) but in Gogs interfece I still see file diff as blob. Thanks for

[2016-01-17 19:17] arvislacis commented on #2427
Found solution for this problem myself.

[2016-01-17 19:17] #2427 closed

[2016-01-17 20:36] CloudSurgeon opened #2428 "post-receive hook: remote: fatal: cannot exec 'hooks/post-receive': Exec format error"
Using the gogs/gogs:latest container. I have logged into the container and successfully executed the hook via bash shell. I cannot find anything in any of the logs to help me diagnose where the issue lies. I have also successfully tested this hook in my other git repository.

docker logs -f gogs:
Jan 17 20:28:48 sshd[1144]: Accepted publickey for git from 192.168.2.192 port 53500 ssh2: RSA SHA256:

[2016-01-17 21:23] bkcsoft commented on #2428
Can you post the contents of the post-recieve-hook?

[2016-01-17 21:30] TilmannBach commented on #2412
i can confirm this happens sometimes on my installation on a Windows Server 2008 R2

the website says something with * invalid token *

[2016-01-17 22:52] CloudSurgeon commented on #2428
It was at the bottom:
post-receive hook:
curl http://linuxtarget.delphix.local:8080/git/notifyCommit?url=ssh://git@linuxtarget:10022/user/test_repo.git

[2016-01-18 00:09] kotchuprik commented on #1597
I need it! :fire_engine:

[2016-01-18 00:18] ivanlemeshev commented on #1597
+1

[2016-01-18 05:57] zhuchun commented on #270
@Unknwon Super awesome! I tried GitLab and its configuration is full of pain. Gogs is perfect if it have wiki support!

[2016-01-18 07:31] vilppuvuorinen commented on #2281
I am looking at this very same thing. The location of this elusive data directory does not seem all that constant and cannot be configured. The entire gogs home directory (`/gogs`) is writable by gogs user/process, but for some reason `data/tmp/local` exists outside of this path.

Most likely the process is initialized from wrong directory context and gogs tries to create a directory to wrong path

[2016-01-18 09:32] markramakers commented on #1597
+1

[2016-01-18 11:22] beowulf13th commented on #1639
Hi! What about pull request from branch to branch?

[2016-01-18 12:37] CloudSurgeon commented on #2428
I slept on it and figured out the issue this morning. The same error message occurs, even if I commented out the line. So, I put a shebang at the top and everything worked fine. Final hook:
[code]

[2016-01-18 14:08] bkcsoft commented on #2377
If no-one else is working on this I'll take it :smile:

[2016-01-18 15:12] Richard-Payne commented on #2416
@exmex your fix did not work for me.  I downloaded copied out my copy of setting.go, added the extra field to the Service struct as per your change and then volume linked the changed file into the correct path in my docker run script.

I have confirmed that the changed file is accessible in the running container but I still get the error message described in the OP.

The differences in config from

[2016-01-18 15:28] exmex commented on #2416
Then you did not rebuild the scripts. Because the error is only related to missing that one key. If you still get the same error, then you didn't rebuild.

[2016-01-18 15:30] focmb commented on #2416
I tried the same way. First I added the changes to the settings.go und retstarted the go-git-service and the error message was not gone. Then I deleted the gogs-folder and did a new git clone. After that I made the changes in the settings.go and did a go build. Now the error is gone and gogs is running fine.

[2016-01-18 15:50] nd opened #2431 "TeamCity CI server fails fetch from gogs"
TeamCity uses java git and ssh implementation (JGit & Jsch). When it tries to list refs of the remote repository hosted by Gogs it fails with timeout exception. Debugging shows that Jsch sets WantReply flag for its ssh requests and waits for reply from Gogs but never gets one. It seems like Gogs doesn't handle ssh requests with WantReply flag set to true.

Gogs Version: v0.8.10 @ 2015-12-18, as we

[2016-01-18 16:05] arantes555 commented on #1641
+1 :)

[2016-01-18 18:59] NiklasRosenstein opened #2434 "Migrate from SSH URI"
Is there a way to make it work? Do I have to use a different URI format? I've already generated a keypair for the `gogs` user on my server and added it to GitHub, but that does not seem to be the problem.

![screen shot 2016-01-18 at 19 58 20](https://cloud.githubusercontent.com/assets/1318438/12400027/eea953f6-be1d-11e5-8b90-d703cfb4e808.png)

[2016-01-18 20:13] bkcsoft commented on #2434
clone it locally on the server running gogs, then "migrate" using `or local server path`

IMO, until the WebUI have support for generating and getting keypairs, this shouldn't be supported in the UI, since it would only be a "half solution" (incomplete)

[2016-01-18 21:15] mhartkorn opened #2435 "unknown key algorithm: <nil> for ed25519 SSH keys"
I am running Gogs version 0.8.22.0115 in Docker with the official image tagged `latest`.

When I try to add a new ed25519 SSH key to my account, it shows the following error message on the top of the page:

The key is definitively valid because it is the same key I use to commit to GitHub. RSA keys are working fine.

[2016-01-18 22:34] NiklasRosenstein commented on #2434
@bkcsoft  I'd be happy without the keypair generator first as I can easily generate a pair myself. But being able to migrate via SSH would've saved me a lot of work.

[2016-01-18 23:15] i00 commented on #2377
Thanks bkcsoft :+1:

[2016-01-18 23:31] i00 commented on #2402
Here is the screenshot of the web page...
![screenshot](https://cloud.githubusercontent.com/assets/1435262/12405369/3e453760-be8f-11e5-98be-c7ab569c61b0.png)
Will have to check @ home for the command line as I am @ work.

[2016-01-18 23:45] mehrad-rafigh commented on #796
Is the commenting on commit or even PR like in Guthub already available in the current released version?

[2016-01-18 23:46] NiklasRosenstein commented on #936
+1

[2016-01-19 00:08] qbit commented on #2435
Looks like support upstream hasn't landed yet: https://github.com/golang/go/issues/8581

Hopefully it hits soon!

[2016-01-19 01:48] NiklasRosenstein opened #2436 "Support for adding release information with attachments to tags"
GitHub and GitLab both support this, and I find it extremely useful.

[2016-01-19 02:10] NiklasRosenstein opened #2437 "404 for tag with slash"
I have a repository that contains tags with slashes, like `something/v1.3`. Only for some of them (interestingly all with the same prefix so the full tag format would be `darkroomtv/vX.Y`), I get a 404 page when I want to browse the source at that tag. I can browse the source at the respective commit without problem though.

The gogs.log shows the following line

    2016/01/19 01:59:05 [...router

[2016-01-19 02:59] NiklasRosenstein opened #2438 "Support a plugin infrastructure"
It would be very cool if we could write plugins for Gogs. These should be easy to deploy, too.

[2016-01-19 03:01] NiklasRosenstein commented on #2436
I just noticed that creating releases is already possible and I just didn't see it! Uploading additional files for a release would still be a very useful feature.

[2016-01-19 03:05] NiklasRosenstein commented on #2436
Found a bug related to this: When I go to "New Release" I can only select branches, not tags. I can however insert the name of an existing tag in the "Tag name" field. That works! But when I delete this release, the tag is deleted, too.

[2016-01-19 07:32] Gibheer commented on #2179
@Unknwon that patch removed the ability to blacklist specific kinds of keys and minimum key lengths. I will create a patch to add it again, as I and some others were using the feature. Is that okay with you?

Apart from that, I think we should support both ssh-keygen and golang ssh. When the system sshd is used, we should also accept keys the server supports, so use ssh-keygen. When using the inte

[2016-01-19 07:54] cnwangzd commented on #2368
13311595834@189.cn

Best Regards,
===========================================
Email: cnwangzd@gmail.com

2016-01-09 13:03 GMT+08:00 无闻 <notifications@github.com>:

[2016-01-19 09:20] Richard-Payne commented on #2416
ahh, ok.  I'm slightly ignorant on Go and didn't realise that there was a build process.  Normally "script" implies run-time evaluation or, at best, JIT compilation.

How do I build it?

[2016-01-19 10:09] bygreencn commented on #2287
are you tried the full function test, this fix may cause the error message about  "template: user/dashboard/feeds:10:52: executing "user/dashboard/feeds" at <.ShortActUserName>: ShortActUserName is not a field of struct type *models.Action".

[2016-01-19 10:58] alimy commented on #2421
fixed #2440 - a simple resoved solution

[2016-01-19 11:04] alimy commented on #2421
Fixes #2440 - simple resoved solution

[2016-01-19 11:05] Fnux opened #2441 "SSH issues"
I already installed gogs 2-3 times without any problem, but I really don't understand this one.

Basic setup : PostgresSQL + Gogs + Nginx

The HTTP(S) clone works fin but I can't use ssh :

[code]

The `ssh -T  gogs@server` works but returns nothing. I think that `/srv/gogs/app/gogs serv key-1 --config='/srv/gogs/app/custom/conf/app.ini'` is not executed when I use `ssh -T` or `git clone`, which w

[2016-01-19 12:15] xor-gate opened #2442 "Admin user should be able to create repos without being in the organisation itself."
Currently when I am the admin user I need to add myself to the organisation to create a repository for it. But when I am on the Admin dashboard i'm able to see all the repos and can remove them.
When many organisations exist this is a pain to have them all in the "admin" user list.

[2016-01-19 15:01] mhartkorn commented on #2435
It seems like that this is not a problem of Go or Gogs. I tried to add an ed25519 key on try.gogs.io and it was successful. Pushing and pulling is also no problem.

Does anybody have an idea what the difference between try.gogs.io and the Docker image is?

[2016-01-19 15:29] Fnux commented on #2441
Nevermind, I was able to find the issue with sshd in debug mode + `ssh -Tvvv gogs@server`. My bad. Looks like the gogs user need a shell.
My bad.

[2016-01-19 15:29] #2441 closed

[2016-01-19 15:58] david-at commented on #2179
@Gibheer It was specifcially the SELinux issue, I used audit2allow to create a rule to allow ssh-keygen in /tmp.

Would a better solution be to move the check/tmp folder into the gogs directory? I know we're not talking about it, but I think it would never be acceptable to disable SELinux.

[2016-01-19 16:02] qbit commented on #2435
Not sure, my gogs instance shows newer than try.gogs: Gogs Version: 0.8.22.0115

[2016-01-19 18:44] exmex commented on #2416
I don't know about docker but.

https://gogs.io/docs/installation/install_from_source

[2016-01-19 20:37] mhartkorn commented on #2435
The issue indeed lies within the go package `golang.org/x/crypto/ssh` as @qbit said. 7ef9a05 made the SSH validation function use `golang.org/x/crypto/ssh` which does not support ed25519 keys, yet.

I will close this issue because #2179 already has some comments about the commit.

[2016-01-19 20:39] mhartkorn commented on #2179
`golang.org/x/crypto/ssh` does not support ed25519 keys, yet. At least adding them is not possible in `0.8.22.0115`. See golang/go#8581

[2016-01-20 01:13] cusspvz commented on #2404
ping @Unknwon

[2016-01-20 05:46] barracks510 commented on #2179
Gitlabs &ldquo;solved&rdquo; this problem in [this commit](https://gitlab.com/ashby/omnibus-gitlab/commit/89bc0bf45a2728c54cb7dd36cb2b993c622aedb0) by inserting a new SELinux policy module to allow ssh-keygen to operate on `/tmp`. To me, this is unacceptable as a permanent solution on production systems. I would much rather sacrifice the use of EdDSA keys than to allow a Gogs service to inject SEL

[2016-01-20 09:53] Unknwon commented on #2408
@exmex how you checked `path/to/gogs/log/gogs.log`?

[2016-01-20 09:56] Unknwon commented on #2060
Thanks @jesusvpct , yes it would be very useful if it is usable and someone could help test.

[2016-01-20 09:58] Unknwon commented on #2217
@EtienneBruines I think FCGI is already supported: https://github.com/gogits/gogs/blob/master/cmd/web.go#L566

[2016-01-20 16:08] FSMaxB commented on #2435
So when is this going to be fixed? Is there some plan to use another way to validate ssh keys before this is fixed upstream? Are there any efforts upstream to fix this? Because the current Situation really sucks (I have to generate RSA keys just to be able to use Gogs).

[2016-01-20 16:25] mhartkorn commented on #2435
I don't think that ed25519 will be in `golang.org/x/crypto/ssh` soon. It might never be integrated because upstream says that they wait for a CFRG decision which might not use ed25519 but something similar.

See: https://github.com/golang/go/issues/8581#issuecomment-154903261

[2016-01-20 16:28] ayosec commented on #2233
It will be nice if there is an option to disable the bright (i.e. remove the `1` in the ANSI sequence `ESC[1`).

The current messages are hard to read on a white background.

[2016-01-20 16:29] FSMaxB commented on #2435
If this isn't fixed upstream, gogs should use a different method for key validation.

If I'm understanding this correctly, this is only a validation to make sure that everything went right when copy pasting the keys in. The actual crypto is still done by OpenSSH (or whatever is installed on the server), right? And OpenSSH does have proper support for Ed25519.

[2016-01-20 16:33] qbit commented on #2435
In the mean time, you can become your git user on your gogs instance and manually add the key to ~/.ssh/authorized_keys, make sure you copy an existing line to get all the command stuff in there.

If you really need to have the key listed in the "Keys" section of the web site, add it to the `public_key` table in gogs.db

[2016-01-20 16:33] yurivict commented on #2233
@ayosec  Please open a separate bug for this, because this has nothing to do with this bug.

[2016-01-20 16:38] FSMaxB commented on #2435
@qbit Thanks for the workaround.

[2016-01-20 16:52] EtienneBruines commented on #2217
@Unknwon If you'd replace the `nil` parameter with something that actually created a unix socket, then you'd have fixed this issue. Roughly, you could do things like:

[code]

When you keep the `nil` parameter (in the code-reference you sent me), you only accept FCGI from Stdin. When replacing it with the `l` in the example, a socket is created. (Of course, you'd have to handle permissions for tha

[2016-01-20 17:47] pentix commented on #1597
:+1: +1

[2016-01-20 18:37] exmex commented on #2408
I didn't tried creating a service again, so the last answer is still valid:
[code]

[2016-01-20 21:26] migibert commented on #1597
+1

[2016-01-20 21:39] tebanep commented on #776
+1

[2016-01-20 22:02] crohr commented on #2414
This is now fixed (https://packager.io/gh/pkgr/gogs/build_runs/409#48315).

[2016-01-20 22:23] techzilla commented on #2442
Agreed, It's quite painful.

[2016-01-20 22:36] techzilla commented on #2434
I have a large amount of repositories on a legacy git server, all using file-system to organize hierarchically.  I also needed a way to have the developers handle their own migrations easily.

So I wrote a shell script, It's meant to be run from a developer workstation.
It mirror clones the current git repo, uses the Gogs API to create a matching empty repo , and then does a git push.

I uploaded

[2016-01-20 22:53] dakira commented on #1496
HTML email is really a big no no. Just remove the HTML from the template and send a plain-text message. There's no added value.

[2016-01-21 03:03] JohnMaguire opened #2447 "Delete public key does not update '.ssh/authorized_keys' file"
![2016-01-20-220054_849x98_scrot](https://cloud.githubusercontent.com/assets/440033/12470339/4b89ea8c-bfc1-11e5-9b89-5a42ca672af1.png)

[code]

[code]

[code]

I created a key, deleted the key (to rename it), and then re-added it. I now can't seem to push. Pulling does seem to work, however it's a public repo (is any SSH key allowed for pulls on public repos?)

v0.8.19.0111. I tried restarting gog

[2016-01-21 05:49] exmex commented on #2033
+1 (y) could this please be implemented? It's VERY hard to read some labels..

[2016-01-21 05:51] techzilla commented on #2281
@vilppuvuorinen

Thank you for posting that info, it wasn’t working with my init script due to doing a chdir before starting the process.

[2016-01-21 05:51] #2281 closed

[2016-01-21 08:09] dotwoo opened #2448 "News feed crash when have emoji in commit message"
登录后回到主页显示失败
返回下面内容：
template: user/dashboard/feeds:41:18: executing "user/dashboard/feeds" at <$push.Commits>: nil pointer evaluating *models.PushCommits.Commits

gogs.log日志显示：
[Macaron] Completed / 500 Internal Server Error in 182.872403ms

其它日志没有发现相关问题。
其它页面正常。
版本为：
当前版本: 0.8.10.1217
Go1.5.1
mysql-server-5.1.73-5.el6_6.x86_64
CentOS release 6.7 (Final)

[2016-01-21 09:28] biji commented on #2263
I cant find raw premalink for images when adding image to cloned wiki. But if I add image to repository, I can find raw permalink to add to wiki

[2016-01-21 10:01] bkcsoft commented on #2281
@vilppuvuorinen the data directory is configurable with envvar `GOGS_CUSTOM`
source: https://github.com/gogits/gogs/blob/7ef9a055886574655d9f2be70c957bc16bf30500/modules/setting/setting.go#L263-L270

[2016-01-21 10:10] vilppuvuorinen commented on #2281
Aren't `/data` and `/custom` pretty much parallel elements in the directory structure and both of them are located inside the presumed `gogs` directory?

If `GOGS_CUSTOM` really can be used to move the `/data` dir, it is more of a design issue than fix. I did not go through the code, but I hope I would not find the following statement in there:

[code]

[2016-01-21 10:21] bkcsoft commented on #2281
heh, I confused `/data` and `/custom` ^.^ `/data` is hard-coded here https://github.com/gogits/gogs/blob/7ef9a055886574655d9f2be70c957bc16bf30500/modules/setting/setting.go#L56

[2016-01-21 10:54] dotwoo commented on #2448
使用开发版也无更详细的错误输出。

[2016-01-21 13:08] drsect0r opened #2449 "DisableMinimumKeySizeCheck"
Updated today to the latest version © 2016 Gogs Version: 0.8.22.0115

On page /admin/config I encounter the following issue:

`template: admin/config:82:38: executing "admin/config" at <.Service.DisableMini...>: DisableMinimumKeySizeCheck is not a field of struct type interface {}`

[2016-01-21 13:10] drsect0r commented on #2449
Muppets, this is a duplicate! my fault..

[2016-01-21 13:10] #2449 closed

[2016-01-21 13:39] xor-gate opened #2450 "Repository commit search doesn't work when search for a specific SHA1 hash"
Currently with gogs 0.8.21.0114 (on https://try.gogs.io), we can browse commits. When I try to search for a commit sha1 hash it doesn't work. It should also not matter one which branch/commit/tag we are currently browsing on.

Suggestions for sha1 searches:

* Gogs length hash (10 characters): faf497c2ed
* Git log shorthash (7 characters) faf497c2
* Full-hash: faf497c2ed60abfab0e8a6782bcd1df51fb73

[2016-01-21 14:08] NiklasRosenstein opened #2451 "Clone over HTTPS: HEAD refers to nonexistent ref, unable to checkout"
If I check out any repository over HTTPS from Gogs on my server, I get

[code]

Could this be a configuration issue?

[code]

[2016-01-21 15:08] xor-gate opened #2452 "Admin user should be able to clone/push to all repositories"
I think the admin user should be able to clone and push to all repositories without being in a organisation and team.

This is somewhat related to this issue: https://github.com/gogits/gogs/issues/1146

[2016-01-21 15:56] jmtd opened #2453 "Mac OS X binary offers only MySQL and Postgres support"
[code]

When running `./gogs web`, the install/setup page offers a choice of PostgreSQL or MySQL DB backends only. However the [downloads page](https://gogs.io/docs/installation/install_from_binary) suggests that SQLite should also be supported.

[2016-01-21 15:57] jmtd commented on #2453
The `0.8.0` binary *does* offer SQLite.

[2016-01-21 16:04] emansom commented on #2252
I have a public accessible gogs instance with registration enabled so users of my software can create issues if so desired. I do however not want those users to be able to do anything else besides creating issues. Currently i'm using `MAX_CREATION_LIMIT = 0` and set the maximum for admin accounts to 100. This feels like a hack. A role based access control system seems a better fit.

[2016-01-21 17:03] bkcsoft commented on #2452
give me a valid use-case and I'll give you a PR :laughing:

on a more serious note, why would you want this? I get that admins should be able to remove/disable offending repos/users, but commit-access? :weary:

[2016-01-21 21:01] xor-gate commented on #2452
@bkcsoft, you are probably right about the commit access. Better would be to have only read-only (clone) access then. Because the admin is able to fork even private repos where he is not in the organisation, so read access is indirectly allowed.

[2016-01-21 22:44] ChangePlaces opened #2454 ""News Feed" to just "Feed"?"
I just upgraded today - it was easy and painless! Gogs rocks!

However, I see the "News feed" tab which usually implies an external source for news, and so how about the term "feed" which is usually used for local data. Or, maybe just "Timeline"?

[2016-01-21 23:00] ChangePlaces opened #2455 ""Code" tab to "Files"?"
Git isn't just about code files, but could be other text-based files. Maybe change the "Code" tab to "Files" to reflect this?

[2016-01-22 00:12] emansom commented on #2455
What about "Source"?

[2016-01-22 01:56] ChangePlaces commented on #2455
"Source" would just be short for "source code". Again, git isn't all about code! "Files" covers it all, including image files, config files, documentation etc etc

[2016-01-22 02:09] exmex commented on #2408
Yup @uranium62 's approach worked.

[code]

[2016-01-22 08:34] sluedecke opened #2456 "Current version: 0.8.22 -> no binary packages, no tag"
Github names 0.8.22 as the current version, but I cannot find neither a binary nor a tag in te repository.  Looking in the wrong place?

[2016-01-22 08:40] exmex commented on #2390
Sooo. I tinkered with it and the result was.... The emojify.js is either old or broken. The current from the website works!

http://hassankhan.me/emojify.js/javascripts/emojify.min.js

![](http://i.imgur.com/eSTqxpS.png)

[2016-01-22 08:42] exmex commented on #2436
Yuo. This would be really nice. I thought it would be already in there. But I guess I was wrong :+1:

[2016-01-22 08:44] alimy commented on #2456
in develop branch of this repository is version of 0.8.22 now. develop branch is the newest version of gogs.

[2016-01-22 08:57] alimy commented on #2456
@sluedecke maybe [gogs-upgrade tool](https://github.com/alimy/gogs-upgrade) can help you update gogs to the newest version from source build.

[2016-01-22 09:03] sluedecke commented on #2456
Upgrade tool is good stuff - I'll use it!  Still a 'official' binary download would be great!

[2016-01-22 09:24] exmex commented on #2455
Gog is inspired by github. And github has also a "Code" tab.

[2016-01-22 11:15] dakira commented on #1692
Any update on creating issues via API? I'm in the same boat as @rogeriolino. I need an interface for my users to create issues.

[2016-01-22 12:05] esiao commented on #2448
I have the same error. After some digging it seems related to a commit in my commit history which don't have any Diff : Diff Data Not Available.
If I go to my Dashboard I have the same error :
[code]

My coworkers don't have it on their own, so it's linked to my activity and we verified this because if I give the link to my `profile?tab=activity` they also see the error.

[2016-01-22 12:32] skgsergio opened #2457 "Packager builds have no sqlite support (but binary does)."
Hi,

The packager builds lacks of sqlite support (and I don't know if they have PAM support since I couldn't test it), it would be nice if you can enable both sqlite and pam support.

Binary distribution from https://gogs.io/docs/installation/install_from_binary have support for both,

Regards,
Sergio Conde.

[2016-01-22 12:53] dakira opened #2458 "Emojis are removed when issue is edited"
When you create an issue with emoji, they are removed as soon as you click the edit button.

[2016-01-22 13:26] jeppech opened #2459 "Type error when accessing admin/config"
When accessing above mentioned url, this error occurs `template: admin/config:82:38: executing "admin/config" at <.Service.DisableMini...>: DisableMinimumKeySizeCheck is not a field of struct type interface {}`

I'm on version `0.8.22.0115`

DISABLE_MINIMUM_KEY_SIZE_CHECK is not set in custom/conf/app.ini

[2016-01-22 13:44] MattAndDev commented on #2448
In our case the json.Unmarshal func in ActionContent2Commits was failing since the JSON on the DB was not valid/broken.

[code]

Primary cause of this was an emoj in a commit message breaking the content JSON.
Fixed the JSON on the DB fixed the problem.

[2016-01-22 13:47] esiao commented on #2448
To complete this information :
I use emojis in my commits message mainly at the starting of the message to inform about the content. This time it was in the middle and after a comma. It may be linked like a bad interpretation and the json object wasn't completed/closed because of that.

If this can help to solve the issue this was the culprit commit message :
`fix #7, 🐛 need to refresh the thumbna

[2016-01-22 13:57] Wirzi commented on #2447
Same problem here!

[2016-01-22 14:05] MattAndDev opened #2460 "Emojis in commit messages breaks json"
Adding Emojis to commit messages causes the JSON inserted in DB to be broken.
The broken JSON causes error while displaying the dashboard of the User who did the commit.

This is the error:
[code]

Coming from failure in JSON validation here:
[code]

Hope this helps to find a workaround and fix the issue.

[2016-01-22 14:05] onnimonni commented on #2416
I'm also having this issue:
[code]

This happens when I try to click the configuration page:
<img width="258" alt="configuration-error-gogs" src="https://cloud.githubusercontent.com/assets/5691777/12512558/c3d79e74-c121-11e5-805c-118293fa5b26.png">

URL: `localhost:3000/admin/config`
Version: 0.8.22.0115
System: Ubuntu 14.04

[2016-01-22 14:07] drsect0r commented on #2459
Hi! I also posted this issue https://github.com/gogits/gogs/issues/2449. This is a duplicate off https://github.com/gogits/gogs/issues/2416

[2016-01-22 14:12] jeppech commented on #2459
Oh sorry, I forgot to search for the issue before posting. Closing this :)

[2016-01-22 14:12] #2459 closed

[2016-01-22 14:13] drsect0r commented on #2459
Thanks! :+1:

[2016-01-22 14:27] NiklasRosenstein opened #2461 "Can not view closed issues"
__Gogs 0.8.10.1217__ -- I can not view the list of closed issues. It actually follows to the new URL, but still displays the open issues. URI for open issues and closed issues compared:

* nrplugins/someproject/issues?type=all&sort=&state=open&labels=0&milestone=0&assignee=0
* nrplugins/someproject/issues?type=all&sort=&state=closed&labels=0&milestone=0&assignee=0

[2016-01-22 14:28] NiklasRosenstein commented on #2461
The same seems to apply for closed Milestones.

[2016-01-22 14:39] TilmannBach commented on #2456
you can find the commit in gogs.go history
there you can see that develop-release 0.8.22 is tree
https://github.com/gogits/gogs/tree/7ef9a055886574655d9f2be70c957bc16bf30500

[2016-01-22 14:49] drsect0r opened #2462 "Comparing commits results in an empty changelog"
A picture is worth a thousand words; I would expect that text would be present here.
![screenshot from 2016-01-22 15-48-08](https://cloud.githubusercontent.com/assets/9106228/12513725/a15a87be-c11f-11e5-9d3f-8e2a7bf8d924.png)

Aditional information:
Version: 0.8.22.0115

This only happens when clicking on the link 'View comparison for these x commits' from the dashboard. The differences from the i

[2016-01-22 16:00] NiklasRosenstein commented on #2461
In fact, none of the issue filters seem to have any effect.

[2016-01-22 16:12] yuansf opened #2463 "当提交一个0kb的空文件时，code列表出现重复文件名"
提交一个空文件a
再提交一个空文件b
列表里显示两个a文件，没有b文件

[2016-01-22 16:13] floorish opened #2464 "Cannot allocate memory when viewing repository"
On v0.8.10 I get a 500 error whenever I want to open a repo with more than one file. I can access the other tabs (Issues/commits etc.), but the Code tab always results in an error.

[code]

Just a simple test repository with a single `readme.md` works fine, but when I add another file I can't view the Code tab anymore.

Gogs works perfectly fine on v0.8.0 using the exact same config.

Actual memor

[2016-01-22 18:13] Overv commented on #1306
I am still unable to clone any repository after following all these steps.

[2016-01-22 19:11] timshannon commented on #1543
Looks like this has since been done:

https://apps.sandstorm.io/app/d9ygf47xrtnw12j92cyt6cu8ut75esx01u4q3kcrn8415w9qzzgh

[2016-01-22 19:11] #1543 closed

[2016-01-23 00:16] JohnMaguire commented on #2447
@Wirzi I'm guessing your repository is marked secret/private? Mine is public, I think that's why I can pull!

[2016-01-23 00:22] Wirzi commented on #2447
I have deleted the content of the authorized_keys file and created the ssh keys again on gogs and it worked good. The only problem is deleting and readding the same key again.

[2016-01-23 01:17] nikdoof opened #2465 "Long web hook URL trimmed"
I'm trying to configure a webhook for Puppet Enterprise Code Manager which accepts Github style webhooks, PE requires that the authentication token is included as either a URL parameter (```&token=```) or as ```X-Authentication``` which Gogs doesn't support. As such the URL is extremely long, for example:

    https://puppetpe.xxxxxxxx.com:8170/code-manager/v1/webhook?type=github&token=eyJhbGciOiJ

[2016-01-23 09:11] exmex commented on #2465
You're using an outdated version.. The current version is 0.8.22.

[2016-01-23 09:13] exmex commented on #2458
I can confirm this.

[2016-01-23 09:17] exmex commented on #2460
Works fine here. Don't have any problems with it. Is it every commit with emoji's?

[2016-01-23 09:18] exmex commented on #2461
You're using an outdated version. The current version is 0.8.22.

Works fine here.

![](http://i.imgur.com/ubCJaOx.png)

[2016-01-23 09:27] NiklasRosenstein commented on #2461
Thanks for checking. 0.8.10 is the recent binary release from [here](https://gogs.io/docs/installation/install_from_binary). Guess I'll need to compile it from source to get the recent version. :)

[2016-01-23 10:05] MattAndDev commented on #2460
Yes it appears to be, I made 3 test with different emojis to reproduce the error and I always got the exact same result.
This is true for the two environment I tested with, both virtual servers.
All the Emojis have been typed on Osx using the cmd+ctrl+space shortcut.

1.
Ubuntu 15.10
git 2.5.0
go 1.4.2
gogs 8.10

2.
Ubuntu 13.4.3
Ubuntu 15.10
git 2.5.0
go 1.4.2
gogs 8.10

Can I do something else t

[2016-01-23 10:12] exmex commented on #2460
Couple of questions still remain:
- Tried with the newest 8.22?
- Where are the emojis? Start, end, middle?
- What json in DB do you mean?

[2016-01-23 10:23] MattAndDev commented on #2460
Tried all three: start, middle, end.
In the action Table the content column.

Just updated to 8.22 and made another test:

[code]

caused the JSON for this entry in the described column to be:
[code]

[2016-01-23 10:25] exmex commented on #2460
Problem is with mac. gogits is NOT expecting the characters from emoji. Just the raw string.

[2016-01-23 10:32] nmaas87 commented on #936
+1 :)

[2016-01-23 10:40] MattAndDev commented on #2460
Thanks for the reference, I tried this but the Emojis are not displayed:

<img width="236" alt="screen shot 2016-01-23 at 11 37 04" src="https://cloud.githubusercontent.com/assets/4579203/12529795/b44b5de8-c1c5-11e5-8572-b10ee8660dd0.png">

You can see the last one is working, this I achieved by closing up the broken JSON on the DB that I described before:
[code]
to
[code]

I can surely live witho

[2016-01-23 10:42] exmex commented on #2460
The (:) has to be replaced with :. Or else github transforms it. :bug: <-- replaced (:) with :

[2016-01-23 10:48] MattAndDev commented on #2460
Yes this was my first try:
<img width="685" alt="screen shot 2016-01-23 at 11 46 14" src="https://cloud.githubusercontent.com/assets/4579203/12529829/27d0e4a8-c1c7-11e5-936d-deec7602a25e.png">

Typed directly to the terminal.

[2016-01-23 10:49] exmex commented on #2460
As I said. The emojify that is shipped with gog is somewhat broken. Taking the file from the link and replacing
*GOG DIRECTORY*/public/js/libs/emojify-1.1.0.min.js

works.

[2016-01-23 10:56] MattAndDev commented on #2460
Sorry my bad, replacing file fixes the issue.

Thank you very much!

[2016-01-23 10:57] exmex commented on #2460
Glad I could help you,
If this issue is fixed, please close it :)

[2016-01-23 10:58] exmex commented on #2464
Please test if it still happens in the latest 0.8.22 version.

[2016-01-23 10:58] MattAndDev commented on #2460
Yes, once last note for reference, with the new file also mac-type Emojis work. (:
Thanks for the effort and great job (:

[2016-01-23 10:59] #2460 closed

[2016-01-23 11:04] exmex opened #2466 "Emojify 1.0.0 is broken"
#2460
#2390

The js is broken. Replacing it with an older (0.8.0) from their website works however.

[2016-01-23 11:08] exmex commented on #2462
Please add more information. Diffing works on 0.8.22 on our end.

[2016-01-23 11:10] exmex commented on #2454
Again. Gogs is github inspired. And github uses the term News Feed also.

I don't see any reason for rambling about naming things.

![](http://i.imgur.com/Yu8nX76.png)

[2016-01-23 11:48] drsect0r commented on #2462
@exmex I updated my original post.

[2016-01-23 13:32] ChangePlaces commented on #2454
Excuse me? I've put forwards some good ideas which have been invorporated into Gogs.  Again, I don't see any reason for _your_ ramblings. See What I did there.

"Naming things" as you refer to it, is about useability. I don't care what Github does, I use gogs as my repo manager, not github. When I put an image into a git repo, is that "code" or is the fact that I've just committed something "news"

[2016-01-23 13:40] nikdoof commented on #2465
Updated to 0.8.22.0115. Still had the same problem.

After a bit of digging in the database it seems that hook_task table still had a 255 len varchar URL field, once upped to a medium text everything worked as expected. I'm guessing the schema has changed slightly since 0.8.15 but with no migration.

[2016-01-23 14:33] mbi commented on #2414
Thank you @crohr!

[2016-01-23 14:33] #2414 closed

[2016-01-23 15:47] pentix commented on #2310
Any updates here? I tried to understand gogs models & code to try to implement this at my own, however I'm new to Go, those Templates and I don't understand gogs structure fully.

AFAIK, there is no branch struct/class to check the last modification date, is there?

[2016-01-23 16:35] floorish commented on #2464
There currently aren't any binaries available for that version right? I cannot compile it on the VPS:

    $ go get -u -tags "sqlite" github.com/gogits/gogs
    go build github.com/codegangsta/cli: /home/git/local/go/pkg/tool/linux_386/compile: fork/exec /home/git/local/go/pkg/tool/linux_386/compile: cannot allocate memory

And cross-compiling locally doesn't work either:

    $ env GOOS=linux GOA

[2016-01-24 00:28] xxxtonixxx commented on #936
+1 :+1:

[2016-01-24 08:36] cweagans commented on #2015
I'm having this problem too. Using the docker hostname in a PHP app definitely works, so it's not a Docker problem. Gogs is the only application I've ever had this problem with (but it's also the only Go app that I've ever deployed with Docker too).

[2016-01-24 08:42] cweagans opened #2468 "Add CLI install method"
The web installer is nice, but I'd love to be able to do `./gogs install [params]` as part of my deployment scripts, so that when they finish running, I have a fully configured Gogs instance that's ready to go with no further configuration.

[2016-01-24 11:51] cweagans commented on #2409
Note that you can also add an entry to your `~/.ssh/config` file:

[code]

and then use the normal `git clone git@git.example.com:myuser/myproject.git` command.

[2016-01-24 12:14] cweagans commented on #2015
Related: https://github.com/drone/drone/issues/1269

[2016-01-24 16:33] prologic commented on #2409
Good idea; probably helpful to make a note of this too :) As most Docker
"machines" usually have a listening SSH port on the default port anyway;
it's easy to forget to bind the container port so something not 22 :)

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Sun, Jan 24, 2016 at 3:51 AM, Cameron Eagans <notifications@github.com>
wrote:

[2016-01-24 19:17] ChangePlaces opened #2469 "Convert new repo filename to lowercase"
When creating a new repo, should the filename be converted to lowercase, e.g. a new repo with title "FooBar", could become "foobar.git" - it's easier to type, and a nice way of making repo names constant.

[2016-01-24 20:47] cboddy commented on #1071
Hullo, I would also like to add that this would be a very useful feature to add to gogs (which is great).

I see on the trello board it  is  im progress for 0.9.0, Ppease let me know if I can assist with the implementation.  A cursory look suggests CodeMirror would be  a good choice?

[2016-01-24 21:17] dakira commented on #2465
So the actual bug is a missing migration. Maybe rename the issue to reflect that? BTW: looking at "releases" the latest version is 0.8.10 and not 0.8.22.

[2016-01-24 21:26] dakira opened #2470 "Referenced issues not linked correctly"
When I look at a commit with a URL like this that as a reference to an issue:
https://server.com/{org}/{repo}/commit/{commit-hash}

The link to the issue is not set correctly. It is missing the repository. The link I expect would look like this
https://server.com/{org}/{repo}/issues/18

But the link I get actually looks like this:
https://server.com/{org}/issues/18

[2016-01-24 22:32] dakira commented on #1531
I also think this would be a helpful feature.

[2016-01-24 23:34] dakira commented on #1580
+1

[2016-01-25 00:04] dakira commented on #2470
This appears to be everywhere where issues are linked.

[2016-01-25 00:14] dakira commented on #2470
Looks like this is a duplicate if #2229.

[2016-01-25 00:14] #2470 closed

[2016-01-25 00:16] dakira commented on #2229
I've got the same problem. Any workaround available until this is fixed? I need to run gogs in a sub-path because the root needs to be available for letsencrypt so that it can auto-renew TLS-certificates.

[2016-01-25 00:53] emansom commented on #1580
++

[2016-01-25 01:15] nioc opened #2471 "Synchronize issues with Github"
Is there a way to synchronize issues with Github?
I write a little php script that reads gogs database and calls [Github issue API](https://developer.github.com/v3/issues) to create it. I think this feature should be a part of the issue creation in gogs.
Another way, user should querying Github issues and create/update its in Gogs

[2016-01-25 05:19] renannprado opened #2472 "Where can I find the smart commits documentation?"

[2016-01-25 11:05] drsect0r commented on #2469
Why? Both GitHub and GitLab don't have this behaviour. I think it best to let the people decide if they want to use repository names with upper, lower or mixed case?

[2016-01-25 11:09] vtolstov commented on #2469
2016-01-25 14:05 GMT+03:00 Jorrit Klein Bramel <notifications@github.com>:

Internally github uses lowercase as i see? Why we need this feature?

--
Vasiliy Tolstov,
e-mail: v.tolstov@selfip.ru

[2016-01-25 12:30] 0rax commented on #2015
Hi there, sorry for my inactivity this past month.

@cweagans I've tested the solution provided in your link and it seems to work perfectly. By that I mean I was able to make Gogs resolve pgsql to the ip of my database removing the need for the socat link.

I will push a fix to provide name lookup to the go driver making evrybody able to reference their databases as their dns name instead of needi

[2016-01-25 12:49] onnimonni opened #2474 "Github authentication causes redirect loop on self hosted drone"
Hey!

I'm running drone 0.4 in docker behind nginx reverse proxy (nginx handles https).

My configs:
[code]

Github redirects me into url:
[code]
Which redirects back to:
[code]
It seems that my application is wrongly configured.

Should drone handle the error parameters from Github, At least give user notification that the settings are wrong?

I'm using ```/authorize``` endpoint in Github applica

[2016-01-25 12:49] onnimonni commented on #2474
Whoops wrong project! Sorry!

[2016-01-25 12:49] #2474 closed

[2016-01-25 14:46] ChangePlaces commented on #2469
It's impossible to set a filename when creating a repo, so to create a repo of lowercase, your title must be lowercase. I think converting to lowercase will be good because of case-inconsistent OS's that don't care for caps.

[2016-01-25 16:17] hydandata opened #2476 "Syntax highlihgting in comments"
Syntax highlighting does not seem to work for code blocks in comments. Would be really nice to have some day. Nothing urgent by any means I understand.

Gogs Version: 0.8.10.1217

[2016-01-25 16:38] loosebits opened #2477 "Add option for showing a user list"
Please make a non admin page for listing users (enabled via configuration perhaps)

We have small team (~10 devs) and we've set up gogs so all of our "main" repos are in a single organization however many users have one-off repos in their own name for smaller libraries they wrote being used in the main repos.

It would be nice to have a page (similar to /admin/users) showing a user list so that te

[2016-01-25 17:46] M5oul opened #2478 "Issue when transfering propriety from a user to an organisation?"
When transfering propriety of a repository from a Gogs user to a Gogs organisation, the address of the repository of the mirror now looks: `https://user:@github.com/<org>/<repo>`

`user:@` part isn't present on a new mirror. with `user`where gogs user,
Is there an issue?

I am using Gogs 0.8.10.

[2016-01-25 17:47] Unknwon commented on #2387
@bkcsoft yes, but detection only happens when you `push`.

[2016-01-25 18:03] Unknwon commented on #2382
@km4efp thanks your info!

Can you post results of command `git log -10` here?

[2016-01-25 18:04] M5oul opened #2479 "Main branch when migrating repository"
When migrating a repository, the main branch become the first alphabetically branch. I have just tried it for mirrorring.

Can we do something to keep main branch from the original repository

I am using Gogs 0.8.10.

[2016-01-25 18:04] Unknwon commented on #2412
Thanks your info!

Which version of Gogs are you using?

[2016-01-25 18:14] Unknwon commented on #1639
@beowulf13th please follow on https://github.com/gogits/gogs/issues/1597

[2016-01-25 18:20] Unknwon commented on #2431
This issue is claimed to be fixed by merging #2432

[2016-01-25 18:23] Unknwon commented on #2349
Close as fixed.

[2016-01-25 18:23] #2349 closed

[2016-01-25 18:27] Unknwon commented on #2287
@bygreencn I think you update the source code but did not recompile the Gogs..?

[2016-01-25 18:31] Unknwon commented on #2179
@Gibheer

Yes of course if you know how to achieve that.

SSH key verification does not relate to builtin server or external SSH server... but what we could provide an option to let user choose which one to use? This could also solve problem @mhartkorn describes.

[2016-01-25 18:47] Unknwon commented on #2389
Close due to lack of feedback.

[2016-01-25 18:47] #2389 closed

[2016-01-25 18:57] Unknwon commented on #1048
This is claimed to be implemented by merging #2396

[2016-01-25 19:10] Unknwon commented on #1048
See in action: https://try.gogs.io/gogs/gogs/issues/3

[2016-01-25 19:23] redoz commented on #2431
I'll try to get this fix verified as soon as possible (probably end of this week, beginning of next).

[2016-01-25 19:26] Unknwon commented on #2368
Close due to lack of feedback.

[2016-01-25 19:26] #2368 closed

[2016-01-25 19:33] Unknwon commented on #2402
@i00 , thanks your info!

But I think you have misunderstanding between **time of activity** and **time of commitment**, they are obviously different, and no guarantee to be the same.

[2016-01-25 19:34] Unknwon commented on #2404
They are specific to gogs

[2016-01-25 19:39] cusspvz commented on #2404
So, if we are configuring `logs` to land into process's `stdout`, should them also respect that choice?

Can you please point me why we can't do that? Maybe I could help you with this, I'm not good with Go, but I'm an expert on streams / piping.

[2016-01-25 19:41] cusspvz commented on #2404
Also, as I see this as a bug once it is doing something it shouldn't, can you re-open please?

[2016-01-25 19:42] Unknwon commented on #2404
If logs in `serv.log`, `update.log` and `xorm.log`are printed to stdout always, all SSH connections will just break because content of logs are never part of SSH protocol.

For `http.log`, it may possible to print to stdout.

[2016-01-25 19:44] Unknwon commented on #2404
For SSH connections, there will be handled by another Gogs process, not the main process started by `gogs web`, so `stdout` won't work for those processes.

[2016-01-25 20:10] Unknwon commented on #2217
Thanks @EtienneBruines !

Since I've not familiar with socket thing, someone who does and want to help this issue with a PR would be awesome!

[2016-01-25 20:12] Unknwon commented on #2442
This is claimed to be fixed by merging #2445

[2016-01-25 20:20] Unknwon commented on #2263
@biji yes, we need a way/link similar to GitHub that allows you access the raw image.

[2016-01-25 20:29] Unknwon commented on #2466
Aha... good to know.. I'll check it out ASAP.

[2016-01-25 20:52] xor-gate commented on #2442
Thanks @Unknwon & @bkcsoft for fixing!

[2016-01-25 21:14] bkcsoft commented on #1048
I'd prefer to have this open still, since I wanna give interactive checkboxes a try. Though I need to fix an API-endpoint first IIRC :)

[2016-01-25 23:52] i00 commented on #2402
The time was the same.. It was pushed when it was committed.

[2016-01-26 00:44] bygreencn commented on #2287
i use there commands as:
go clean -a
go clean -a -tags "tidb sqlite cert"
go build -a -tags "tidb sqlite cert"
but it is the same, anything wrong?

[2016-01-26 01:33] cusspvz commented on #2404
But couldn't just you pipe them into the main process?

[2016-01-26 01:38] cusspvz commented on #2404
Is `gogs update` being called by `gogs web` somehow?

[2016-01-26 01:40] 0rax commented on #2404
@cusspvz something that can be done with the logs inside the docker container is to create a special service that replace those log files with fifo file that are then piped to a `cat` process. I dont know how effective this could be but it might be a solution for your problem.

We can make that this behaviour is enabled using an enironment variable inside the container.

[2016-01-26 01:48] cusspvz commented on #2404
[I see](https://github.com/gogits/gogs/blob/master/cmd/update.go#L19). Just a note, on this, SSH already means shell (Secure Shell) :smile:

Tomorrow I will take a deep look on entire Gogs code and try to help with hints on the better way to do it.

@0rax that could work! But if they want all sub-processes of `gogs web` we can arrange a way to pipeline their data streams. Also, `s6` is equipped wi

[2016-01-26 01:50] bobdog1986 commented on #2412
© 2015 Gogs 当前版本: 0.8.10.1217

[2016-01-26 01:51] 0rax commented on #2404
I was aware of `s6-log` but wasnt sure if I would be able to handle sshd logs using it, will look more into it when I have more time. Same goes for the fifo thing, I might try to do this during this week depending on my free time.

[2016-01-26 06:03] Unknwon commented on #2442
Just curios, though #2445 provide logic possibility to create repo for an organization, but I can't recall which web UI allows a admin to do that?

[2016-01-26 06:04] Unknwon commented on #1048
@bkcsoft I think that could be put into another issue, since you can always edit the comment/issue content to change the checklist. It's not a must-thing to have.

[2016-01-26 06:06] Unknwon commented on #2402
I need you to hover on the time to get exact time of commit:

![image](https://cloud.githubusercontent.com/assets/2946214/12573606/e80a75c4-c3c8-11e5-961b-fc5ae45ce2c1.png)

And exact time from command line such as output of `git log -1`.

Relative time adds no value for debugging.

[2016-01-26 06:07] Unknwon commented on #2287
@bygreencn I see, I think you're talking about this: https://github.com/gogits/gogs/issues/2416

[2016-01-26 06:16] Unknwon commented on #2412
Thanks. Can you try `go get -u github.com/go-sql-driver/mysql` then recompile the Gogs, and try again?

[2016-01-26 06:18] Unknwon commented on #2404
1. `gogs serv` is called by SSH server, in the builtin server case, it is indeed called by `gogs web`.
2. `gogs update` is called by Git, `gogs web` completely has no control to it.

[2016-01-26 06:31] Unknwon commented on #2281
Maybe we could use `GOGS_DATA` to config `/data` path as well?

[2016-01-26 06:33] Unknwon commented on #2252
@emansom agree.

[2016-01-26 06:34] Unknwon commented on #2408
@exmex I see, so I believe it's the `RUN_USER` check prevents Gogs itself to start.

[2016-01-26 07:00] #2416 closed

[2016-01-26 07:00] #2431 closed

[2016-01-26 07:00] Unknwon commented on #2416
Pushed a fix to `master`, please help test!

[2016-01-26 07:07] Unknwon commented on #1306
:trollface:

[2016-01-26 07:09] Unknwon commented on #1071
I'm not sure use Ace or CodeMirror...

[2016-01-26 07:32] Unknwon commented on #2015
This is claimed to be fixed by merging #2475

[2016-01-26 07:49] xor-gate commented on #2442
@Unknwon what do you mean exactly. That there is currently no git repository management UI which allows admins to create repositories for organisations (groups)? When you look at gitolite (console only), then admins are able to create and delete (of course) repositories of groups (organisations). I think Gogs will be one step ahead by providing a nice GUI to manage organisation repos by admins :+1

[2016-01-26 07:51] Unknwon commented on #2442
I mean in the create repository page, you can't choose organization you don't own...

[2016-01-26 07:52] Unknwon commented on #2474
:trollface:

[2016-01-26 07:52] Unknwon commented on #2441
:trollface:

[2016-01-26 07:53] Unknwon commented on #2427
:trollface:

[2016-01-26 07:53] xor-gate commented on #2442
I see, so #2445 is just "half the fix" because the UI filters non-owned organisations for the admin user in the create repository page.

[2016-01-26 07:55] Unknwon commented on #2442
Yes.

So we have two options here:

1. List all organizations for admin in repository creation page (UI may crash when you have a lot organizations)
2. Make a special page on the admin panel.

[2016-01-26 07:56] Unknwon commented on #2463
Hi, what's your version of Gogs?

And can you reproduce on https://try.gogs.io?

[2016-01-26 07:57] Unknwon commented on #2456
0.8.22 is a version marker but not an official release, so we currently do not provide downloads for it. Sorry about it. :mask:

[2016-01-26 07:57] #2456 closed

[2016-01-26 08:08] Unknwon commented on #2462
This is claimed to be fixed by merging #2480

[2016-01-26 08:14] Unknwon commented on #2437
Thanks your feedback!

What is your version of Gogs?

[2016-01-26 08:26] mbi commented on #2416
Confirmed: the packages on packager.io (that were also affected by this issue) are fixed, thank you!

[2016-01-26 08:26] xor-gate commented on #2442
1. This should be forgotten, because it makes it more complex (user/admin checking) and can indeed hang. The dropdown can also because way to long.
2. The admin panel is the place to put "admin stuff" and we already have nice pagination there when there are many organisation/repositories. Maybe on the organisations page per row (organisation) an extra icon could be added to add repositories?

See

[2016-01-26 08:29] Unknwon commented on #2442
Agree to add add repository button on the list. But the repo number clickable does not make much sense since you can just visit the organization home page to see what are the repositories.

[2016-01-26 08:30] Unknwon commented on #2416
Thanks @mbi !

[2016-01-26 08:33] xor-gate commented on #2442
You are right, then things are implemented twice for the same feature.

[2016-01-26 09:24] raymontag commented on #2420
Works since last update from packager.io

[2016-01-26 09:24] #2420 closed

[2016-01-26 09:58] beowulf13th commented on #1597
+1 :)

[2016-01-26 10:22] Unknwon commented on #2453
Thanks your report!

Updated: https://dl.gogs.io/?sort=time&order=desc

[2016-01-26 10:22] #2453 closed

[2016-01-26 10:27] #2462 closed

[2016-01-26 10:30] drsect0r commented on #2462
:+1: Thanks!

[2016-01-26 10:42] vtolstov commented on #2469
@ChangePlaces i think you right +1 for this

[2016-01-26 13:01] NiklasRosenstein commented on #2437
It's 0.8.10.1217 (the latest binary package from [here](https://gogs.io/docs/installation/install_from_binary)

[2016-01-26 14:01] evook commented on #1891
Hi,

I still get this error sometimes. How long is the CSRF Token valid and in which assets is it safed, I guess javascript? I think it has something to do with my proxy caching to deliver statics via http2 and the cache keep-alive.

[2016-01-26 14:12] bkcsoft commented on #2468
I can have a look at this later today :smile:

[2016-01-26 14:24] bkcsoft commented on #2477
There's the "Explore"-page in the header :) https://try.gogs.io/explore

[2016-01-26 14:28] bkcsoft commented on #2479
main branch isn't a concept that git understands, so this would have to be fetched from wherever you're migrating from, which isn't' possible with HTTP/HTTPS/GIT-urls :disappointed:

[2016-01-26 15:05] mhartkorn commented on #2435
The newly released [RFC 7748](https://www.rfc-editor.org/rfc/rfc7748.txt) defines Curve25519, so it will most likely be implemented in `golang.org/x/crypto/ssh` within a reasonable time span.

[2016-01-26 15:39] loosebits commented on #2477
That just shows the last 20 recently updated repos across all users.

[2016-01-26 15:43] Unknwon commented on #2437
Thanks! Would you be able to produce this on https://try.gogs.io with tag names that have problem?

[2016-01-26 15:44] Unknwon commented on #1891
@evook thanks! I think it's problem with Gogs, I'll reopen this issue.

[2016-01-26 15:48] floorish opened #2481 "Mirror doesn't update repository"
I might have a wrong understanding of how the mirror option works, but it does not update commits for me. I have a local bare repository to which new commits are pushed. In Gogs I created a new mirrored repo and set update interval to every hour.

When I push new commits to the bare repo, the mirrored Gogs repo won't show those commits (Log shows only `[T] Doing: MirrorUpdate`)

I checked the code

[2016-01-26 16:31] Unknwon commented on #2435
We may use add back the old approach to support two ways of validations under your configuration. So people who do not have problem with old approach could config to use it. This should work?

[2016-01-26 16:31] ChangePlaces commented on #1891
can confirm this still happens - same steps to repeat. open issues pages. open a new issue page in a new tab, submit new issue and you hit 'invalid csrf token'.

[2016-01-26 16:33] Unknwon commented on #2464
@floorish how many files in the directory that fails?

[2016-01-26 16:35] FSMaxB commented on #2435
This would be a temporary fix at least. But in the long term, all the keys supported by OpenSSH should be supported by Gogs in the default configuration.

[2016-01-26 16:36] Unknwon commented on #2435
@FSMaxB OK, agreed.

[2016-01-26 16:46] redoz commented on #2431
I can confirm that this works now. (Running x64 version on Windows)

[2016-01-26 16:48] Unknwon commented on #2431
Thanks @redoz !

[2016-01-26 17:02] vroomanj commented on #1294
@Unknwon : I'm also interested in seeing this feature.

[2016-01-26 17:08] nikdoof commented on #2465
Looking at the code, its not a missing migration issue as its exactly the same as when the webhook_task table was introduced into the codebase. Maybe @exmex is running his dev instance of Gogs on Sqlite, which generally ignores length limits on strings.

[2016-01-26 17:16] nikdoof commented on #2465
Just checked, v0.8.10 running on Sqlite works as expected.

At a guess, the solution to this would be correct [the URL field](https://github.com/gogits/gogs/blob/master/models/webhook.go#L288) to be the same as the [Webook table](https://github.com/gogits/gogs/blob/master/models/webhook.go#L87) and create a migration as needed. I have very little golang skills so can't really generate the pull for

[2016-01-26 17:22] bkcsoft commented on #2477
Oh right, missed that...

If all users are in the Org you should be able to see them listed under "People" in the Organization-page.

Listing all users (even paginated) is very rarely useable, since for any setup larger than 20-30 people it'd be next to useless. Though a search-bar (like Github has) would be very useful :smile:

[2016-01-26 17:24] bkcsoft commented on #2477
Erm, totally missed the part about not having to know their Username

[2016-01-26 17:37] bkcsoft commented on #2471
No there's no way to synchronize issue with Github at the moment. Only way to do it is manually like you're doing now.

For the Feature-Request part, I'd argue that it'd be more useful to implement webhooks for issues, since otherwise Gogs would have to implement a new 'issue-provider' everytime someone wants to use YetAnotherIssueTracker (I'm fairly certain that that exists btw :laughing:). And y

[2016-01-26 17:43] bkcsoft commented on #2478
I can't reproduce this. The repo, is it a mirror or a plain repo?

[2016-01-26 18:34] Unknwon commented on #2418
Try delete `path/to/gogs/data/tmp` and try again.

[2016-01-26 18:38] Unknwon commented on #2434
Thank you all!

However, please move discussion to https://github.com/gogits/gogs/issues/1565

[2016-01-26 18:38] #2434 closed

[2016-01-26 18:39] Unknwon commented on #2422
Hangs when certificates are required but not provided.

Seems no way to fast fails by simply pass a Git option.

[2016-01-26 18:40] Unknwon commented on #2426
Thanks your feedback!

I don't think Macaron has log level at all.

[2016-01-26 18:44] Unknwon commented on #2428
Hmm, so what is the status of this issue now?

[2016-01-26 18:44] Unknwon commented on #2421
It should be fixed already, thanks all!

[2016-01-26 18:44] #2421 closed

[2016-01-26 18:45] barsanuphe commented on #1891
I can also confirm this bug; no need to open a new issue in a new tab though.

[2016-01-26 18:46] Unknwon commented on #2450
I think this is rather a feature request.... the search feature is searching for commit message right now...

[2016-01-26 18:47] Unknwon commented on #2438
Plugin is a quite big topic... I don't have any idea. :dizzy_face:

Please give more specific details.

[2016-01-26 18:48] Unknwon commented on #2451
How did you setup the HTTPS? Revere proxy?

[2016-01-26 18:52] Unknwon commented on #2436
It is on purposed.

Duplicated to #1614

So I suggest you change the purpose of this issue `Add a checkbox to choice whether to delete tag or not when delete corresponding release`.

[2016-01-26 18:53] Unknwon commented on #2455
Hmm... I'm open for votes. :trollface:

[2016-01-26 18:53] nioc commented on #2471
If we can have bidirectional synchronization through webhook, i'll sign this deal :smile
@bkcsoft do you have any tutorial on how to set up issues webhook?
If i my understanding is correct, system A (github ie) triggers the webhook on event (issue creation /modification ie) and calls an url in system b (gogs ie). And what next? There is a way to create gogs issue at this call receiving?

[2016-01-26 18:54] Unknwon commented on #2457
Thanks your feedback!

cc @crohr

[2016-01-26 18:56] Unknwon commented on #2448
Thanks your feedback!

@dotwoo is your case same as @esiao ?

@esiao can you confirm that non-emoji commits works fine?

[2016-01-26 19:05] CloudSurgeon commented on #2428
Ultimately, we could just close it as a non-issue, if you like. But a more descriptive error message would have been beneficial.

[2016-01-26 19:05] floorish commented on #2464
When I add a second file to the repository, I can't open the `code` tab. When I remove the second file, commit and push with just 1 file it's fine.
So with 2 files it fails on 0.8.10

[2016-01-26 19:06] Unknwon commented on #2428
Hmm, right.

I think it is returned by Git (all hooks are called by Git itself), not by Gogs.

[2016-01-26 19:06] #2428 closed

[2016-01-26 19:08] Unknwon commented on #2464
OK... how much memory do you have on VPS... I can't convert for bad math :sweat:

[2016-01-26 19:10] floorish commented on #2464
`$ free -h` shows 750MB, so not too much ;)

![screen shot 2016-01-26 at 20 09 53](https://cloud.githubusercontent.com/assets/623528/12591583/ca0521f0-c468-11e5-8430-c63c50714116.png)

[2016-01-26 19:11] NiklasRosenstein commented on #1565
+1

[2016-01-26 19:13] Unknwon commented on #2464
750MB should be enough...

Just to confirm you're sure about this?

[2016-01-26 19:16] floorish commented on #2464
100% looking at it right now with lots of files

[2016-01-26 19:17] Unknwon commented on #2464
Thanks, got it...

[2016-01-26 19:32] xor-gate commented on #2450
You are right, but then the search box text is misleading currently:

<img width="294" alt="screen shot 2016-01-26 at 20 29 43" src="https://cloud.githubusercontent.com/assets/1050166/12592220/cf32db7e-c46b-11e5-87e2-591e2d65e05a.png">

The text would better be: *Search commit message*

[2016-01-26 19:33] Unknwon commented on #2450
Yes...

[2016-01-26 21:09] esiao commented on #2448
Yes they do. It was explained further down here : https://github.com/gogits/gogs/issues/2460
And it's related to https://github.com/gogits/gogs/issues/2466

[2016-01-26 21:22] NiklasRosenstein commented on #2438
Some examples that I believe would make sense to implement as "plugins" or "add-ons" rather than being merged into the code base:

* Import from other Git hosting services (eg. GitHub, BitBucket, GitLab including Issues and Wiki)
* Overall new features/apps (eg. Code Snippets)
* Third Party Issue Tracker integration

and stuff like that. It would make contributions of new features easier as it wou

[2016-01-26 21:23] Unknwon commented on #2447
@Wirzi  @JohnMaguire Can you reproduce this by same steps on https://try.gogs.io?

[2016-01-26 21:24] Unknwon commented on #2461
@NiklasRosenstein can you reproduce this on https://try.gogs.io？

[2016-01-26 21:26] NiklasRosenstein commented on #2461
No, I can't. Must have been fixed in the meantime, I think that is what @exmex was saying. When I find the time, I'll try to upgrade to 0.8.22 and let you know if its fixed.

[2016-01-26 21:27] Unknwon commented on #2454
Hmm... why "News Feed" is bad?

[2016-01-26 21:28] Unknwon commented on #2310
Sad but nothing happens about this... but there is a PR for API to list all branches of given repository.

[2016-01-26 21:29] Unknwon commented on #2472
What is `smart commits documentation`?

[2016-01-26 21:30] Unknwon commented on #2469
I don't understand this issue?

All repositories' directories are converted to lowercase on file system.

[2016-01-26 21:31] Unknwon commented on #2471
Thanks your feedback!

What is the use case of sync issues from GitHub?

[2016-01-26 21:32] Unknwon commented on #2468
@cweagans Just set this value to `true` in your custom configuration file: https://github.com/gogits/gogs/blob/master/conf/app.ini#L97

[2016-01-26 21:32] renannprado commented on #2472
It's basically when you put special "commands" in the comment of a commit.
For example "this change fixes #(ISSUE_ID)" and then the referenced ISSUE_ID gets actually closed in gogs.
Take a look at here:
https://confluence.atlassian.com/fisheye/using-smart-commits-298976812.html

If gogs doesn't support it, I'm sorry. But I've seen some sample commits in the demo where I see references to issues, s

[2016-01-26 22:11] pentix commented on #2310
@Unknwon  Thanks for pinging. Looks like PR #2419 would implement #2410 and give an easy solution to access the branches. I'll try again to implement this as soon as #2419 has been merged.

[2016-01-26 22:15] cweagans commented on #2468
@Unknwon Right, but that requires that I have a configuration file. As part of my deployment automation, I need to do the following:

* Run `gogs install --flag1=whatever --flag2=whatever` (and so forth) and have Gogs generate the initial directory structure for me (inc. the config file and all that)
* Tell the system to make sure Gogs is running on boot using those files ^

Right now, I have to s

[2016-01-26 22:49] cioccir6 commented on #13
+1

[2016-01-26 23:01] bkcsoft commented on #2468
@cweagans `Tell the system to make sure Gogs is running on boot` not really part of what gogs does, and generally can't be expected to do since every single init-system has their own way of doing it...
The other part I can agree with. Though I'd expect `gogs dump` to save the config-file as well (and be able to extract it with `gogs install/restore`

[2016-01-26 23:02] bkcsoft commented on #2478
Can't reproduce with a mirrored repo either...

[2016-01-26 23:03] cioccir6 commented on #1071
:thumbsup:

[2016-01-26 23:07] cweagans commented on #2468
@bkcsoft Right, I don't expect Gogs to handle that. That's something that would be in my provisioning scripts as something completely separate from the actual Gogs software. The main point I was trying to make is that I need to install Gogs if it's not already installed, and then run it however I'm going to run it. Without the first step, the second step is kind of useless.

[2016-01-26 23:09] nioc commented on #2471
I want to use github as a public repo where users should create issues, synchronize these issues on gogs (which is used as our private repo with dev comments on issues).

[2016-01-26 23:09] bkcsoft commented on #2471
@nioc bi-directional would require you to setup webhooks both ways, so github fires a webhook to update gogs, and gogs would fire a webhook to update github. Github has this feature, so you can today do unidirectional syncing from github to gogs (e.g. for using gogs as a backup-site), but Gogs doesn't have this type of webhook (only push-events and branch/tag-events are handled) so you can't do it

[2016-01-26 23:12] ChangePlaces commented on #2454
It isn't 'bad' as such, I don't think commit, and issue etc is "news". like you can subscribe to a blog's "feed", not a blog's "news feed". I think 'feed' is more apt because it's a feed of activity, rather than news.

[2016-01-26 23:13] ChangePlaces commented on #2469
I updated to 0.8.1 the other day, created a repo called FooBar, and I have to push to FooBar.git

[2016-01-26 23:14] bkcsoft commented on #2471
If Gogs where to get on par with Github webhook-wise, one could write third-party services to synchronize everything between github and gogs, for redundancy if one of the sites goes down (network-issues, harddrive-failures, etc) (Generally a good idea :wink: )

[2016-01-26 23:19] bkcsoft commented on #2469
cloning derp/FooBaz with `http://example.com/derp/foobaz.git` works just fine, though the WebUI says `http://example.com/derp/FooBaz.git` so if anything it's a UI-bug, not a system-bug

[2016-01-26 23:51] nioc commented on #2471
@bkcsoft understood. If you can explain me what to set in the github webhook for create / update issues on gogs side, I'll be grateful :smiley:

[2016-01-27 00:18] ChangePlaces opened #2482 "tabbing from body of issue textarea and pressing space doesn't submit"
1. create a new issue
2. tab from the issue title into the body textarea, type description
3. tab from body and press space (which is a button press when a button is highlighted) and issue is not submitted. instead the page just moves down.

[2016-01-27 00:45] bkcsoft commented on #2482
Tabbing from the body actually makes it select the gogs-logo in the header (FWIW, still a bug)

[2016-01-27 00:51] bkcsoft commented on #2471
In the repo-page goto `Settings=>WebHooks=>Add Webhook` then check `Let me select individual events.` and check `Issues` (nothing else). set the URL to wherever you have your php-script running (preferably have it check the secret...) and see these two links for payload-description for Issues
https://developer.github.com/v3/activity/events/types/#issuecommentevent
https://developer.github.com/v3/a

[2016-01-27 00:59] bkcsoft commented on #2471
Unless someone actually wants an out-of-the-box integration with github (generally not what you want), this would be a duplicate of #2319 :smiley:

[2016-01-27 01:02] nioc commented on #2471
Thanks for the links. If i write such a script, i'll post it as a gist for sharing.
Agreed with the duplicate, i'll close mine.

[2016-01-27 01:02] #2471 closed

[2016-01-27 02:02] bkcsoft commented on #2454
GitLab calls it `Activity Feed` and Bitbucket calls it `Recent Activity`, which IMO makes more sense :)

[2016-01-27 02:08] bkcsoft commented on #2455
"Source" isn't short for "source code", it's short for "source" and can be pretty much anything, like documentation, notes, music, images, song-lyrics, old receipts and images.

Oh, and "Files" isn't correct either since gogs is also showing directories :trollface:

[2016-01-27 02:15] bkcsoft commented on #2442
I can add repos to orgs in the webui, you open the org-page and press "New Repository"

[2016-01-27 03:19] mathicalee opened #2485 "Multiple Webhooks sends wrong payload"
I had 2 webhooks registered to my gogs repository: to slack and to drone.
The slack webhook works fine, but the drone webhook has a payload that should be sent to slack, which leads to 500 error in drone.

If I remove the slack webhook, then the drone webhook works fine.

[2016-01-27 03:27] ChangePlaces commented on #2455
In the context of where my water comes from, it would be correct. In the context of coding, it's wrong. Read some old programming books that classically trained programmers have read (think C, C++, assembler) and see how they mention source code, not source.

Again, nope; a directory is a file...

[2016-01-27 03:30] ChangePlaces commented on #2469
what os are you using for client, and git server?

[2016-01-27 03:53] bkcsoft commented on #2469
Linux/Arch for client and Linux/Debian for server. I can test more
combinations if you want, though I don't think that the result will change
:)

[2016-01-27 05:38] JohnMaguire commented on #2447
I cannot with a different key. Perhaps it has been resolved since 0.8.19? I will try again with the key that was failing on my own installation within the next few days.

[2016-01-27 05:39] JohnMaguire commented on #2447
I'm not sure how Gogs stores SSH keys, but could this be a permissions issue somewhere on my machine?

[2016-01-27 05:47] JohnMaguire commented on #2447
Interestingly it seems to have added the key three times to my `.ssh/authorized_keys` -- as if it didn't remove it when I deleted the key.
[code]

[2016-01-27 05:51] exmex commented on #2408
Yup.

[2016-01-27 05:53] JohnMaguire commented on #2447
I updated to v0.8.23, removed the old key, added a new key, and deleted it, and I now have four lines in my `.ssh/authorized_keys`.

And I'm still unable to push. :( I'm guessing it's finding the first key in `.ssh/authorized_keys`, calling "gogs serv key-5", but since it was deleted in the DB, it's causing gogs to error out.

[2016-01-27 05:54] JohnMaguire commented on #2447
**INTERIM SOLUTION**: I deleted the lines from `.ssh/authorized_keys` and added the key again -- everything works as intended.

[2016-01-27 07:33] Mad-Onion commented on #19
The gitgraph.js-implementation is a great feature, especially for git-beginners. It would definitely help me to force the usage of git in my company.

[2016-01-27 08:07] hchungi opened #2486 "Source file be recognized as a BIN"
I have a repository which contains many C# source files(.cs). When I tried to modify them then push to Gogs, some files cannot be recognized as a source file(.cs) and show diff content. They all become a BIN.

I really have no idea, because not all *.cs like that.

Hope you can help me out!

Thanks.

[2016-01-27 08:14] t-oster commented on #1496
...or at least "convert" the html templates to plain text by stripping the tags? maybe replace <br/> by newline..

[2016-01-27 08:22] Unknwon commented on #2438
Thanks your info!

I suggest use APIs instead.

The Code Snippets will eventually be implemented, so... any other examples?

How deep the integration would be?

Sorry I don't have a clear idea about plugin thing, never done that before and sounds too general to me.

[2016-01-27 08:24] Unknwon commented on #2472
I think Gogs only has reference by `xxx #id yyy`, and close and reopen: https://github.com/gogits/gogs/blob/master/models/action.go#L50-L51

Do you mean docs for these features?

[2016-01-27 08:30] Unknwon commented on #2468
Even if you don't need, where do you remember arguments of `gogs install --flag1=whatever --flag2=whatever`?

Directly give a configuration file is the most obvious and simple way. You have default everything here: https://github.com/gogits/gogs/blob/master/conf/app.ini

[2016-01-27 08:32] Unknwon commented on #2471
Wouldn't two-way sync of issues be a mess ... :sweat:

[2016-01-27 08:33] Unknwon commented on #2454
+1 for `Recent Activity`...

[2016-01-27 08:34] Unknwon commented on #2442
@bkcsoft isn't this way creating conflicts on UI?

[2016-01-27 08:36] Unknwon commented on #2455
Why `File` is better than `Code`? I prefer `Code` more.

[2016-01-27 08:38] Unknwon commented on #2469
It might be a bug with SSH push in 0.8.1, but I'm sure it is fixed in recent versions.

[2016-01-27 08:38] Unknwon commented on #2408
ping @bobdog1986

[2016-01-27 08:41] Unknwon commented on #2447
@JohnMaguire I see the problem... the delete operation somehow did not delete the old keys.

But regenerate ` .ssh/authorized_keys` file operation on admin panel should work?

[2016-01-27 08:42] bobdog1986 commented on #2408
ping what?

[2016-01-27 08:43] Unknwon commented on #1496
@t-oster Yes... that's what I'm planning to do... :smile:

[2016-01-27 08:46] Unknwon commented on #2408
Please check your `RUN_USER` if you still have problem start service. Or maybe the problem have be solved already?

[2016-01-27 08:47] Unknwon commented on #2479
Thanks your feedback!

I think this is basically duplication to https://github.com/gogits/gogs/issues/2225?

[2016-01-27 08:55] Unknwon commented on #2481
Hmm... this is interesting...

As you can see, all mirror repositories are working properly on demo site ASAIK, example: https://try.gogs.io/gogs/gogs

Which the command itself shouldn't have problem? See https://git-scm.com/docs/git-remote

Did you miss any errors that are presents on log? Or `/admin/notices` page?

[2016-01-27 08:57] bobdog1986 commented on #2408
I use gogs in local network. No public ip.
I had added a exe-link to windows system start-up folder to solve this issue.

[2016-01-27 09:00] floorish commented on #2455
It all comes down to what is clear to the user, not what is 100% semantically correct. A `Code` tab is clear to the user coming to Gogs as a git service: it shows the code of the repository. It doesn't matter that it is not 100% code, you'll know what to find there. `Files` could also mean uploaded files, or downloadable binaries.

Note that Git is a SCM, i.e. source control management system (or

[2016-01-27 09:04] Unknwon commented on #2465
This is claimed to be fixed by merging #2483

BTW, my MySQL server creates TEXT in current version... don't know what happened...

[2016-01-27 09:05] Unknwon commented on #2408
Can't help on this.. sorry

So the service is working now?

[2016-01-27 09:08] Unknwon commented on #2477
Hmm, doesn't this help?

[2016-01-27 09:13] sluedecke opened #2487 "History of files should optionally show include logs from a rename (git log --follow)"
Currently the  history of a renamed / moved file starts after the rename.  It would be great to have an option to show the complete history.

[2016-01-27 09:13] Unknwon commented on #2478
Thanks your feedback!

Can you rephrase this sentence?

[2016-01-27 09:16] Unknwon commented on #2485
Thanks your feedback!

What's your Gogs version?

[2016-01-27 09:17] Unknwon commented on #2486
Thanks your feedback!

Can you reproduce this on https://try.gogs.io?

[2016-01-27 09:17] floorish commented on #2481
Yes, it is weird, don't know what's the problem/why it works.
Logging shows no errors, neither does `/admin/notices`. I think it executes the git command just fine, just the branches in the mirrored repository are not updated. Might be due to an old git version? (using git version 1.7.10.4)

I'm using a local mirror (i.e. `/home/floorish/myRepo`), that might be different than a remote link (i.e. g

[2016-01-27 09:26] Unknwon commented on #2481
It is not the right command to create a mirror repo I think?

You should use `git clone --mirror originalRepo mirrorRepo`.

[2016-01-27 09:27] Unknwon commented on #2487
Thanks your feedback!

Never used this, would you mind given a detailed example by using the `--follow`?

[2016-01-27 09:29] bobdog1986 commented on #2408
Yes. I built gogs for my colleages(3-4 people). Until now , only I pushed 3 repos on gogs(these repos had git on cloud).
They had never use any version-control tool , just save a .rar file on local computer for every offical release version...

[2016-01-27 09:30] floorish commented on #2481
Ah, you're right, sorry. Couldn't find how Gogs created a mirror repository in the code ;)
Ok that works just fine. Then I think there is some problem with my setup. I will check it out and let you know.

[2016-01-27 09:31] Unknwon commented on #2408
:joy: Welcome to Git!

[2016-01-27 09:31] #2408 closed

[2016-01-27 09:32] Unknwon commented on #2481
Maybe it's really the version problem...

[2016-01-27 09:32] floorish commented on #2481
Quick follow-up question: should issues automatically close in the mirrored repository when a commit message includes `fixes #1`, or does that only work when pushing to Gogs directly?

[2016-01-27 09:33] Unknwon commented on #2481
Yes.

[2016-01-27 09:35] floorish commented on #2481
Thanks, you can close this issue for now. I will reopen if it doesn't work with newer version ;)

[2016-01-27 09:36] Unknwon commented on #2481
:trollface:

[2016-01-27 09:36] #2481 closed

[2016-01-27 09:51] mathicalee commented on #2485
I use gogs/gogs latest docker image, it's 0.8.23.0126.

[2016-01-27 09:57] hchungi commented on #2486
Here is my commits
https://try.gogs.io/hsuci/exceptionpush/commits/master

As you can see, I can't preview changes unless I click **View File**, because the source file be recognized as a BIN.

[2016-01-27 10:03] Unknwon commented on #2485
Thanks. Does this problem happen 100%?

[2016-01-27 10:03] Unknwon commented on #2486
Thanks, got it!

[2016-01-27 11:11] gtrs opened #2488 "LDAP authentication: fetch SSH public keys from LDAP"
LDAP user entries can also contain SSH public keys. For example, in a FreeIPA setup, the SSH public keys of a user are contained in attributes of the type "ipaSshPubKey" (each key in a separate attribute field). Gogs could use these keys for SSH authentication.

[2016-01-27 11:26] linquize commented on #2486
Do you have BOM in the file?

[2016-01-27 11:41] ytifle commented on #2457
I tried to make it work, but it seems that
https://packager.io/
is using the heroku builder,
https://github.com/heroku/heroku-buildpack-go
that itself uses godep,
https://github.com/tools/godep
and it does not support -tags
https://github.com/tools/godep/issues/59

So, the build tags needed ( -tags "sqlite cert pam" ), are not called, instead, the command
 -----> Running: go get -tags heroku ./...

[2016-01-27 12:22] chrisbrookes opened #2489 "Pull request diff has no text"
Gogs Version: 0.8.19.0111

When creating a pull request I don't see any text in the diff at the bottom of the page. The diff colouring appears correct however, were the text to be there.

![s1](https://cloud.githubusercontent.com/assets/1110134/12612946/3584a8a8-c4ee-11e5-9b02-63fb45350af1.png)

Whereas the actual commit diff shows:

![s2](https://cloud.githubusercontent.com/assets/1110134/1261301

[2016-01-27 12:45] chrisbrookes commented on #2489
Confirmed after local upgrade that 0.8.23.0126 fixes this for the diff in *Files Changed* tab, but is still a problem in the initial pull request create (*Compare Changes*) page.

[2016-01-27 13:22] renewsorensen opened #2490 "Pull request issue on Windows"
We have been using pull request for a time now and on one project, where the user created 6 pull requests the last 2 weeks, we now encounter a situation where gogs show a page with a big 500.

So my user prepares the pull request
![pull request4](https://cloud.githubusercontent.com/assets/10239939/12614445/52b386e4-c500-11e5-93ef-9dd9b1c612cf.png)

Then he push the *Create Pull Request*

And this

[2016-01-27 13:44] loosebits commented on #2477
Yeah, that's what we're doing, it's a lost of mouse clicks to get there.. why not another section under "Explore" to show a user list if enabled in the app.ini?

[2016-01-27 14:34] BlackVoid commented on #1221
+1

[2016-01-27 15:11] nd2s commented on #1496
@t-oster @Unknwon You can't just strip tags, links etc. would be messed up.

[2016-01-27 15:15] ChangePlaces commented on #2455
According to this thread,  "source" means "code", but not sure what code you want as an answer... I'm not your personal search assistant, try to help yourself.

Git is a VCS - a version control system; a distributed one at that. I quote from the site:

Git is easy to learn and has a tiny footprint with lightning fast performance. <b>It outclasses SCM tools</b> like Subversion, CVS, Perforce, and C

[2016-01-27 15:16] ChangePlaces commented on #2469
Interesting, I'll have a play and report back!

[2016-01-27 15:18] ChangePlaces commented on #2454
"Recent Activity" / "Activity Feed" all take up more space than just "feed" and the top of the screen is starting to look cluttered as it is

[2016-01-27 15:47] t-oster commented on #1496
I am not talking about blindly removing all tags. I talk about smothing like [PHP's strip_tags function](http://php.net/manual/de/function.strip-tags.php) or [jQuery's .text() function](http://api.jquery.com/text/) meaning you remove the tags but keep all the text-nodes

[2016-01-27 15:50] bkcsoft commented on #2479
@Unknwon it is :)

[2016-01-27 16:00] bkcsoft commented on #2489
Duplicate of #2462 and fixed in #2480

[2016-01-27 16:06] hchungi commented on #2486
I just checked the file, it seems has BOM with **Unicode / UTF-16LE** (0xff, 0xfe).
Visual Studio can edit and compiler the file properly.
Anyway, I am not sure whether this is a bug or not?

[2016-01-27 16:23] bkcsoft commented on #2455
@ChangePlaces could you please make up your mind, first you say

and then you say

Obviously people are gonna think in the context of whatever they're using it for (except for now when it's called "Code", "Code" is really niched for coding and I don't think that anyone here disagrees with that).
Musicians will think of "source" as whatever files they use for their music-project (samples, project-f

[2016-01-27 16:29] bkcsoft commented on #2454
In the profile it says "Public Activity", so WRT keeping it consistent it should be named something with "Activity" in it at least.

Looking at it and comparing to the other buttons/tabs that are there, I'd go for just `Activity` TBH. Since it's short, to-the-point, and consistent with the rest :smile:

[2016-01-27 16:56] ChangePlaces commented on #2454
@bkcsoft  +1 I like "Activity"

[2016-01-27 17:00] Unknwon commented on #2457
Thanks @ytifle !

Indeed you made a good trick by adding `heroku` tag. If you and @crohr can confirm this does work, I'll merge the PR.

[2016-01-27 17:02] ChangePlaces commented on #2455
When I work in photoshop on a project with a graphic designer, I don't think of the output of Photoshop as a source (where stuff comes from), I think of it as a PSD file. Github may be catering to the majority of their userbase (free and / or premium paying users) and that may be code-related, but using a self-hosted git service allows you the freedom to upload large files without having to worry

[2016-01-27 17:04] crohr commented on #2457
@Unknwon sorry, but which PR?

[2016-01-27 17:07] ytifle commented on #2457
I deleted my fork, I couldn't make it work, as I am not that proficient in Go.

I believe it's a step in the right direction, but I could not manage to make it work. (That's why I deleted the fork)

[2016-01-27 17:31] Unknwon commented on #2477
Ultimately, I would like to add user search/list like the way GitHub does.

[2016-01-27 17:35] Unknwon commented on #2486
I'll pull your demo files and do some tests to see where is the problem.

[2016-01-27 17:35] Unknwon commented on #2454
Looks like we have an agreement on `Activity`?

[2016-01-27 17:37] Unknwon commented on #2457
@crohr Hmm... sorry no PR, but a commit: https://github.com/gogits/gogs/commit/64ad51c3795b503563c6fd89bd499a66d56ffc2c

[2016-01-27 17:40] Unknwon commented on #2488
Thanks your info!

I think it could only work when you use builtin SSH server... otherwise, Gogs needs to constantly pull the SSH key and update the `.ssh/authorized_keys` file which sounds like a mess...

[2016-01-27 17:43] Unknwon commented on #2490
Thanks your feedback!

Can you find out what is the repo ID of the repository you're sending PR to?

If you can, can you check if `path/to/gogs/data/tmp/local/{ID}` is a Git directory or not?

[2016-01-27 17:44] Unknwon commented on #2489
ping @chrisbrookes

[2016-01-27 17:55] lilmike opened #2491 "A few accessibility problems with gogs"
Hi,
I am blind, so use a screen reader called jaws for windows, though there are others such as NVDA (nonvisual desktop access), and Gogs seems to have a few accessibility issues with the dashboard. The main ones I've noticed are that the menu that opens up to sign out, view admin panel, etc, is not labelled properly. It seems to be an unknown unicode character (unknown to jaws, that is), so it re

[2016-01-27 18:04] Kegeruneku commented on #165
Greetings @Unknwon !

I would also be interested in having a way to have a way to fill basic info about the user auto-created by ENABLE_REVERSE_PROXY_AUTO_REGISTERATION.

As said by previous commenters, it could either be passed using http headers, or if available using a configured LDAP provider (this is what others application usually do when applicable)

The use case is simple: I would love to

[2016-01-27 18:08] Unknwon commented on #165
@Kegeruneku thanks your info!

I suggest you open up another issue with same comment you posted, and name it `Fill basic info when auto-created user by reverse proxy`.

[2016-01-27 18:12] ytifle commented on #2457
It is just a partial commit, it doesn't include all the necessary code.

Sorry
On 27 Jan 2016 18:38, "无闻" <notifications@github.com> wrote:

[2016-01-27 18:20] Kegeruneku commented on #165
Can do! And thanks for that awesome software btw :-)

[2016-01-27 18:22] Unknwon commented on #2491
Thanks your feedback!

I'll take a look ASAP.

[2016-01-27 18:23] Unknwon commented on #2457
Oops, that's sad...

[2016-01-27 18:43] chrisbrookes commented on #2489
Appears to be same issue as #2462, assuming it uses same page/template (/.../compare/branch...owner:branch)? Agree, looks like it'll be fixed with #2480.

[2016-01-27 18:50] floorish commented on #2455
@bkcsoft thanks, that gives me enough sources indeed :smile:

@ChangePlaces

You're a user of Gogs, open a repository and expect to find Gogs code in the `Code` tab? That does not make sense. Let's be honest, nobody expects that.

My point is that it does not need to be 100% semantically correct, for it to be intuitive. But let's agree to disagree.

I never did say that.

I guess your source is ht

[2016-01-27 18:52] bkcsoft commented on #2489
@chrisbrookes

Have you tried? If it isn't working @andreynering has more stuff to fix :laughing:

[2016-01-27 21:21] chrisbrookes commented on #2489
I'm struggling to test if it's currently fixed in develop because I'm using the docker image, and it seems to be that develop == latest == Version: 0.8.23.0126. Something not right with the docker builds?

[2016-01-27 21:27] ChangePlaces commented on #2455
Tomatoes. I like tomatoes. I propose we call the files tab, "tomatoes". It doesn't have to be semantically correct, and we all know that tomatoes refers to whatever is in your git repo.

Tomatoes.

[2016-01-27 21:37] andreynering commented on #2489
@chrisbrookes

I tested it myself and the problem exists.

I already submited a PR with (another) fix: https://github.com/gogits/gogs/pull/2493

[2016-01-27 21:54] chrisbrookes commented on #2489
Ok, thanks!

[2016-01-27 21:59] mhartkorn opened #2495 "Pull Requests create errors when its creator changes their name"
I am using Gogs version 0.8.23.0126 in Docker (`gogs/gogs:latest`).

Changing the name of a user breaks some links on the Pull Request pages.

- 500 Server Error on the "Files changed" tab (URL: /:user/:repo/pulls/:id/files)
- 404 Not Found on the "Commits" tab when you click a revision number of a commit

This is because Gogs does not update the column `head_user_name` in the table `pull_request`

[2016-01-28 02:40] bignose-debian commented on #19
@Unknwon, can you edit the description of this issue (the initial comment?) to state what the feature request is. I think you mean a commit log graph (like from `git log --graph --oneline`), but the issue description doesn't help to understand exactly what you're asking for.