[2016-01-28 02:47] hchungi commented on #2486
got it, thanks anyway!

[2016-01-28 07:53] renewsorensen commented on #2490
There is 2 directories in path *d:\gogs\data\tmp\local*, both of them contains a *.git* folder, and both of the folders only contains 1 folder, and that is *objects* folder from the git structure
![pull request5](https://cloud.githubusercontent.com/assets/10239939/12638304/541277c4-c59c-11e5-844a-2505e6c72d0e.png)

![pull request6](https://cloud.githubusercontent.com/assets/10239939/12638305/58046

[2016-01-28 08:29] ciruz opened #2497 "Create a team with blacklisted name causes error 500"
Hi guys,

if you create a organization team called "admin" or "user" (I guess this are blacklisted) you get an error 500. Creating teams with name "Owner" or another taken team name, gives you the correct alert that this name has been taken.

http://i.imgur.com/NobOfwk.gifv

Gogs Version: 0.8.23.0126

[2016-01-28 09:56] Kegeruneku opened #2498 "Fill basic info for users auto-created using a reverse proxy"
As quoted from #/165:

Greetings @Unknwon !

I would also be interested in having a way to have a way to fill basic info about the user auto-created by ENABLE_REVERSE_PROXY_AUTO_REGISTERATION.

As said by previous commenters, it could either be passed using http headers, or if available using a configured LDAP provider (this is what others application usually do when applicable)

The use case is s

[2016-01-28 10:31] Unknwon commented on #2455
1. Why `Code` has to be replaced?
2. If `Code` can't do the job perfectly, why the new word can?

[2016-01-28 10:33] Unknwon commented on #2489
This is claimed to be fixed by merging #2491

[2016-01-28 10:34] sluedecke commented on #2487
Sure, just create a git repository as follows and check the history of the file bar.txt both from the command line and after you imported the repository into gogs.  Gogs only shows the history of bar.txt after the renaming

[code]

[2016-01-28 10:44] Unknwon commented on #19
@bignose-debian good catch,done!

[2016-01-28 10:46] lucacervasio commented on #1597
+1

[2016-01-28 10:50] Unknwon commented on #2490
Thanks! Which system are you using? Feels like Gogs tried to delete the directory but failed to delete `.git` ones (and made it think the directory was not deleted).

[2016-01-28 10:50] Unknwon commented on #2498
Thanks your feedback!

[2016-01-28 10:53] Unknwon commented on #2487
Thanks!

So if not use `--follow`, the history of file `bar.txt` will only show the commit `'renamed foo to bar'`?

[2016-01-28 10:59] Unknwon commented on #2495
This issue is claimed to be fixed by merging #2494

[2016-01-28 11:07] #2489 closed

[2016-01-28 11:07] #2495 closed

[2016-01-28 11:17] Unknwon commented on #2497
Thanks your feedback!

Can you post what exactly the error content is from server side of Gogs?

[2016-01-28 11:25] lucacervasio opened #2499 "Team's permission per repository"
Hi All,
I couldn't find this elsewhere so sorry if this is a well-know question.

Is it possible to set permission per repository ?
In my team we have 10 repositories, i want to invite a team member and give him access only to 2 of them, then another team member seeing 3 of them and so on...

Thanks

[2016-01-28 11:28] Unknwon commented on #2229
@dakira I think here is the problem: https://github.com/gogits/gogs/blob/master/modules/base/markdown.go#L198

[2016-01-28 11:38] renewsorensen commented on #2490
I use a Windows 2012 R2.
Will i be able to delete the folders under *d:\gogs\data\tmp\local* and make the pull request work, or will that ruin something?

![pull request7](https://cloud.githubusercontent.com/assets/10239939/12642990/a36487f0-c5b9-11e5-93bc-bbc48952231b.png)

[2016-01-28 11:43] garygreen commented on #2017
@Unknwon any updates on this? I'm trying to figure out how gogs updates the activity log exactly (for even standard repositories / non mirrored)... when you add a repository to goggs does it automatically add some form of git update hook to that repository and call `gogs serv` ?

[2016-01-28 11:45] Unknwon commented on #2490
Yes, delete by hand will work, `tmp/local` is some kind of cache.

[2016-01-28 11:45] Unknwon commented on #2490
Actually, can you help check, if these directory are read-only mode?

[2016-01-28 12:14] ciruz commented on #2497
Hey @Unknwon sure, here you go:

[code]

[2016-01-28 12:20] Unknwon commented on #2497
Thanks! I think forgot to detect reserved error.

[2016-01-28 12:22] Unknwon commented on #2499
Hi, I think it is not implemented...

[2016-01-28 12:23] Unknwon commented on #2017
Yes.

But the logic for detecting what commits are updated for mirror repositories might be different, not sure...

[2016-01-28 12:59] garygreen commented on #2017
In [this function](https://github.com/gogits/gogs/blob/19423957b17fe583e9a04f45aafe91335354d6e2/models/update.go#L68) what passes the extra parameters `userName, repoUserName, repoName string, userID` ? It seems the git hook only provides the ref, old commit id and new commit id. How does it determine what repository it was for?

I looked in https://github.com/gogits/gogs/blob/e030109b5af9015c018c

[2016-01-28 13:02] Unknwon commented on #2017
Here you go: https://github.com/gogits/gogs/blob/e030109b5af9015c018cdc6f18655e201f6008bf/cmd/serve.go#L97

[2016-01-28 13:12] ciruz opened #2500 "Markdown different from GitHub? Problem with Image size"
Hi guys,

I've created a `readme.md` with an `<img>` tag inside and noticed that Gogs filters out the `height` and `width` information in the file preview.

My `readme.md` looks like this:
[code]

I expected that the image is resized to 100px height (like on GitHub), instead this happend and you see the image in original size:

<img src="http://i.imgur.com/HCkKpmL.png">

Also happens with `width`

[2016-01-28 13:18] ciruz commented on #2500
It works perfect without the `px`, damn css and html mixture. My Mistake. Closed! :-)

[2016-01-28 13:18] #2500 closed

[2016-01-28 13:35] TilmannBach commented on #1820
+1

[2016-01-28 13:36] Unknwon commented on #2500
:trollface:

[2016-01-28 15:25] askannon opened #2503 "Add TLS option to MySQL connections"
It would be great if you could enable TLS encryption for the MySQL DB connections. I have added [`PR 2501`](https://github.com/gogits/gogs/pull/2501) to outline what I mean. Of course it would be even better if there was an option to choose between skipping TLS cert validation or actually provider the CA cert for the server but to get at least some kind of encryption going adding the "skip-verify"

[2016-01-28 16:41] fredsmith commented on #1071
:+1:

[2016-01-28 16:46] joubertredrat commented on #1071
@Unknwon need to be go lib or javascript?

[2016-01-28 16:48] Unknwon commented on #1071
@joubertredrat hmm? What do you mean?

[2016-01-28 16:48] xelfe opened #2504 "nginx + ssl = bad gateway"
I'm trying to use a signed certificate for the https protocol.é I'm using nginx like proxy;

[code]

My custom server app.ini is like;
[code]
If I put  "proxy_pass http://127.0.0.1:3000;" instead of  "proxy_pass https://127.0.0.1:3000;" and replace into app.ini the protocol http instead of https It's working with the browser but dont with a git client.

Did i something wrong ?

[2016-01-28 16:50] joubertredrat commented on #1071
@Unknwon for create web edtior, you intend to use one go library is exists or javascript libraries, as codemirror or ace?

[2016-01-28 16:51] Unknwon commented on #1071
@joubertredrat yes, I'm not sure to use codemirror or ace...

[2016-01-28 16:53] joubertredrat commented on #1071
@Unknwon then have Ymacs (old) or Markitup to consider, if I found more on my old bookmarks, I put here.

[2016-01-28 16:53] Unknwon commented on #2504
Yes, with reverse proxy, you only need to setup Gogs as HTTP server, the only place you need to tell Gogs you're using HTTPS is the `ROOT_URL`.

[code]

Is good enough.

[2016-01-28 16:55] Unknwon commented on #1071
Hmm.. that seems too powerful.

Don't intend to make Gogs a online development env, but just for quick editing.

Thoughts? My use case may limit my understanding of this feature.

[2016-01-28 17:00] joubertredrat commented on #1071
Hmmm,

Then Why not only textarea with support to indentation only for files texplain to test and see if this is good feature for next releases?

[2016-01-28 17:00] wsidl commented on #1071
Would it be possible to provide a simple text editor? You could use
CodeMirror or even something smaller for the interface and provide a method
in the server that provides the commit to the repository. Once you do this,
it would be possible to provide their own interface for editing files.

I would be willing to build an interface for DocBook or AsciiDoc editing,
just as long as the server side po

[2016-01-28 17:06] maxchill opened #2505 "Fork a mirror feature"
Since the mirrors are readonly, it would be handy to still have the ability to fork, even if you can't push it back to origin.

[2016-01-28 18:04] xelfe commented on #2504
yeah like I said, it's working with only the http server set and the root url of app.ini set to https but it's not working with git client from any IDE (Eclipse, Netbean, Webstorm, etc)

[2016-01-28 18:54] Unknwon commented on #2504
What is the error?

[2016-01-28 18:56] Unknwon commented on #1071
I'll try CodeMirror first see how it goes.

[2016-01-28 18:56] mhartkorn commented on #2504
My reverse proxy nginx is working fine. Try this in your nginx config:

            listen *:443 ssl;

[2016-01-28 18:57] Unknwon commented on #2505
Thanks your feedback!

But it may have very low priority...

[2016-01-28 19:07] sluedecke commented on #2487
Exactly.

[2016-01-28 19:10] renewsorensen commented on #2490
The directories is not, but the files is?
![pull request8](https://cloud.githubusercontent.com/assets/10239939/12655828/27d6bc42-c5fb-11e5-8274-35fa4b884ce1.png)

[2016-01-28 19:11] Unknwon commented on #2490
I see... then we have the same problem here: https://github.com/gogits/gogs/issues/1738

[2016-01-28 21:27] jeppech opened #2507 "Feature: expose repo as composer package."
I've seen over at GitLab that someone is in the making of [Composer Service](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/1921), that makes it possible to expose a repository, as a Composer package for PHP.

That would be a pretty cool feature, if you'd like to host your own private packages. Atm, it's possible to have a static package repo, by using the static repository generator [Sati

[2016-01-28 21:42] dakira commented on #2229
@Unknwon yeah, that clearly doesn't work at all with subdirectories. So I'm not at all a Go developer (yet), but my solution would be this:

We already have ROOT_URL. Maybe count the number of slashes in that and use the number to cut of the part of the urlPrefix you don't want? I'm not sure how to access config variables but that should be the fix, right?

[2016-01-28 22:04] dakira commented on #2229
Totally untested, but this should fix it, right?

[code]

[2016-01-28 22:07] binford2k commented on #1071
Code editing with the ability to create files and directories is the only feature stopping us from using Gogs today.

[2016-01-28 22:10] xelfe commented on #2504
Nevermind. It was a registrar issue with the java cacerts. Thanx for all your help !!

[2016-01-28 22:10] #2504 closed

[2016-01-28 22:26] Unknwon commented on #2504
:trollface:

[2016-01-28 22:26] BLamy commented on #1071
+1 For a simple solution. I mostly use this on github to edit my readme.

[2016-01-28 22:28] Unknwon commented on #2507
Indeed, sounds like a good use case of #2438.

BTW, how does composer package of PHP work? Never used PHP... sorry.

[2016-01-28 22:31] Unknwon commented on #2229
Thanks @dakira ! This is very similar to what I have in mind.

[2016-01-28 23:11] joubertredrat commented on #1071
@binford2k create files and directory isn't good feature on Gogs for now. Edit files is good because you can make small fixes or edit document files as example.

[2016-01-28 23:17] hellochenwang commented on #1071
everyone's need is slightly different. it would be nice if @Unknwon  can create a simple sample so that anyone can build whatever on top of it.

[2016-01-28 23:27] renannprado commented on #2472
Yep. That's what I meant.
It would be nice to have that pointed in the documentation instead inside of the code.

https://help.github.com/articles/closing-issues-via-commit-messages

Thanks!

[2016-01-28 23:53] M5oul commented on #2479
So, let's follow #2225.

[2016-01-28 23:53] #2479 closed

[2016-01-28 23:58] M5oul commented on #2478
address of the repository mirrored is: https://user:@github.com//.

user:@ shouldn't be here.

I couldn't reproduced it.

[2016-01-29 00:34] dakira commented on #2464
I'm getting this from time to time, but it works after a reload. The log shows messages like these:

[code]

There's more than enough memory available, though:

[code]

[2016-01-29 04:03] AmbareeshV opened #2510 "cloning with ssh doesn't work"
C:\Users\username\git>git clone git@some.com:cid/test.git
Cloning into 'test'...
/usr/bin/bash: git@some.com: No such file or directory
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

https is working when used with clone but ssh isn't working,please hel[p me to find it out

[2016-01-29 04:41] AmbareeshV commented on #2510
I found solution to this problem
http://stackoverflow.com/questions/2499331/git-with-ssh-on-windows

[2016-01-29 04:41] #2510 closed

[2016-01-29 05:03] binford2k commented on #1071
@joubertredrat why would that be not a good feature? You know that creating and changing a file isn't really all that different to git, right?

[2016-01-29 07:45] jeppech commented on #2507
Heh, no need to be sorry :)

Basically every, project kan be a composer package. It just need to have `composer.json` file in the root folder structure. The composer file, describes the project and its dependencies. The very basics for requiring some dependencies, could be something like this:
[code]
To install the above dependency, you'll type `composer install`, and the Composer CLI tool, will l

[2016-01-29 08:57] joubertredrat commented on #1071
@binford2k as @Unknwon saw, "Don't intend to make Gogs a online development env, but just for quick editing." and I agree.

Create folders and files will be first step for make Gogs similar online development and this isn't the objective for now.

The GitHub itself decided to implement the option to create files only now and is only files, not folders.

If it is for the future, so might be a good

[2016-01-29 10:39] Unknwon commented on #2464
@dakira how many files in the directory that is having problem?

[2016-01-29 10:40] Unknwon commented on #2478
@M5oul Can you try to test on `master` branch version see if this problem still exists?

[2016-01-29 10:50] Unknwon commented on #1071
Hmm.. as Git does not care directories, I think edit and create file is all we need. But the editor is meant to be simple (or as less customization for Gogs as possible).

[2016-01-29 10:53] Unknwon commented on #2510
:+1:

[2016-01-29 11:14] bkcsoft commented on #2507
This would indeed be a valid use-case for plugins. The `/search.json` you mention is (at least) referenced here https://packagist.org/apidoc . Though it isn't much help :unamused:

[2016-01-29 11:16] joubertredrat commented on #1071
@Unknwon I don't know how to work git core, but I'm afraid the ability to create folders create excessive commits, hindering the reading of legitimate commits.

And I agree with you about editor need to be more simple than possible.

[2016-01-29 11:17] Unknwon commented on #1071
You can't create an empty directory in Git, it just ignores. So create file would create (or add to Git history) all necessary folder at the same time.

[2016-01-29 11:21] #2472 closed

[2016-01-29 11:21] Unknwon commented on #2472
Here you go: https://gogs.io/docs/features/smart_commits

[2016-01-29 11:27] jeppech commented on #2507
I think I figured out what it's used for, when executing `composer -vvv search monolog/monolog` you can see that the composer app actually looks up `/search.json?q=monolog/monolog`, to retrieve some info:

[code]

But when requiring the actual package it does not use the search method
[code]

You'll see that it downloads all those references it can find in the packages.json, and probably parsing t

[2016-01-29 11:33] Unknwon commented on #2507
Thanks for the great details!

So... what exactly is missing from Gogs side?

[2016-01-29 11:37] MarcosBL opened #2511 "Dashboard history pagination"
Add a pagination to dashboard, so user can easily see recent work done, not just the latest

Related to discussion at http://forum.gogs.io/topic/26/recent-activity/2

[2016-01-29 11:51] simonszu opened #2512 "Delete corrupt repository"
Hi,

i have a problem with a corrupt repository on my server. I cannot access it via gogs (Error 500) or push/pull from it. So i want to completely remove it from my server and push a clean working copy. But there is a problem: I cannot delete it from gogs due to the error 500 i get every time i try to access the repository. I can physically delete it from my disk, though, but gogs has it still ma

[2016-01-29 12:27] ivanmarban commented on #2512
What about Repository Manage Panel on admin settings?

[2016-01-29 12:51] Misterke opened #2513 "Add support for large commits"
Issue submitted on input of Jiahua Chen:

Currently gogs has a hard limit on the maximum size of diff for which the commit view will display the deltas.  This is good as it ensures things don't slow down or overload the system, but at the same time it seriously limits the use of this view in case of large commits.

Hence the proposal here would be that in case of such a large commit, the commit vi

[2016-01-29 13:10] Unknwon commented on #2512
Update to latest version ,then go to `/admin/repos`, you can delete it with ease :100:

[2016-01-29 13:12] Unknwon commented on #2513
Somehow.. I just realized this is same as https://github.com/gogits/gogs/issues/2062 ?

[2016-01-29 13:34] simonszu commented on #2512
I will check the next time. For now, i physically deleted the repo from the disk, and went through the Database manually and removed every reference of the repo_id manually.
But thanks for your help, i will use it next time.

[2016-01-29 13:34] #2512 closed

[2016-01-29 13:35] Unknwon commented on #2512
:trollface:

[2016-01-29 14:00] binford2k commented on #1071
@joubertredrat by that metric, ms notepad is an IDE

Try this in github. Click the new file button and add a new file of "a/very/long/path/that/does/not/exist.txt"

[2016-01-29 14:06] Misterke commented on #2513
It's not completely the same I think, as this one adds the drill-down to get a diff for a specific file when clicking it.  This typically is useful when either merging major changes from a development branch into the master or the other direction if the master had other major changes incorporated.  Of course, in such a case, you can do the merge locally instead of view the diff in Gogs, but ...

T

[2016-01-29 15:19] the-useless-one opened #2514 "Can't push using SSH keys"
Hi,

my coworker and I deployed a Gogs server internally, but we're having problem using SSH keys as an authentication method.

We get the following error:
[code]
The serv.log file says:
[code]

If we try to login via SSH, we obtain this successful message:
[code]

We already tried using the "Rewrite the .ssh/authorized_keys file" functionality, or linking the conf/app.ini to the custom/conf/app.i

[2016-01-29 15:58] bkcsoft commented on #2438
With regards to #2507 we now have a valid reason for a plugin-system. Since I've written a few of those I'd like to express my take on this from a purely architectural point of view.

First of, I'd recommend setting it up as external services that plugin to Gogs REST-APIs, so it would use the regular API for accessing gogs-data, and expose its own API (standardized of course) for injecting data (m

[2016-01-29 16:17] NiklasRosenstein commented on #2438
I like the idea with plugins over a REST API. This would also allow to implement them in any language. I only have concerns regarding the speed of the communication. Wouldn't there be much overhead if the server is talking to the plugin via REST (eventually on a different server?) and only then sends the resulting webpage to the user?

[2016-01-29 16:33] andreynering commented on #2438
Writting a plugin infraestructure is hard and I don't know if it is worth. I am not the best person to propose somrething, but will try to do some brainstorming :smile:.

### Backend

An alternative to what @bkcsoft proposed would be doing it with Go itself. Since Go doesn't support dinamic libraries (`.so` or `.dll`) a recompile would be necessary. Gogs would have to have Plugin API to make possi

[2016-01-29 16:36] bkcsoft commented on #2438
@NiklasRosenstein Speed is obviously an issue when talking about micro-services (which is what this is called BTW). On the other hand, REST-APIs should be as light as possible, and should never send entire webpages :wink:.

Information on where menus and panels should be could easily be send on initialization and stored by Gogs so as to not ask on each page-render "does anyone wanna render here??"

[2016-01-29 16:43] bkcsoft commented on #2438
@andreynering Actually it wouldn't take much to implement this within Gogs (except for the lacking API...). I could probably implement a rough draft over the week.

There are X key components that needs implementation:
- Config storage (a model is required)
- Initialization (token generation, exchanging configs, storing templates)
- And templates needs to be changed in some places to allow for men

[2016-01-29 16:48] andreynering commented on #2438
@bkcsoft Sorry. Which alternative are you talking about? Doing it in Go or using a REST API?

[2016-01-29 16:53] bkcsoft commented on #2438
@andreynering REST-API.

A few thoughts on your ideas:

- Backend
Generally speaking a good idea, and could be made simple and contained enought. Though like you say, you'd have to recompile for at least installing plugins (plugins could be disabled at run-time). Generally this isn't something you'd wanna do :unamused:
Also the slight issue of having to merge back into Gogs-repo...

- Client-side

[2016-01-29 16:53] Unknwon commented on #2514
Hi,

1. What is your version of Gogs?
2. Can you try use absolute path to SQLite3 file path? (in some cases Gogs can't find the right file, which it thinks you're not registered.)

[2016-01-29 17:05] the-useless-one commented on #2514
1. According to the web interface, we're running version 0.8.24.0128.
2. We tried putting the absolute path to the SQLite3 file, but it didn't work. We couldn't even connect to the web interface.

[2016-01-29 17:06] Unknwon commented on #2514
What does this mean?

[2016-01-29 17:13] the-useless-one commented on #2514
Never mind, my worker didn't put the correct SQLite3 full path (shame on him). We put the correct path and everything works now, even the SSH connection!

Is there somewhere in the documentation where it's advised to put the full path to the SQLite3 file?

Thanks again.

[2016-01-29 17:14] Unknwon commented on #2438
My initial idea seems too big right now... I was thinking to support both code modifications and REST APIs...

[2016-01-29 17:16] Unknwon commented on #2514
@the-useless-one no... because in most of cases, the Gogs can correctly detect its binary location and then find the correct location for SQLite3 as well.

I've experienced this problem under Windows, so I know this is the solution, but don't know the cause :D

I'll add this to troubleshooting page ASAP.

[2016-01-29 17:16] #2514 closed

[2016-01-29 17:16] Unknwon commented on #2513
You're right, the main idea is different. :D

[2016-01-29 17:16] andreynering commented on #2438
Also the slight issue of having to merge back into Gogs-repo...

This would require the user to manually download the plugin files, paste in a specific folder (package) and compiling. Not much intuitive, but it is an idea. And it would be very powerful. Maybe there's a better alternative to link Go code?

I disn't get what would be the security issue here. If you could change the HTML, why not the

[2016-01-29 17:18] Unknwon commented on #1048
Close as implemented.

If someone thinks `interactive checkboxes` is necessary, please open up a new issue. :trollface:

[2016-01-29 17:18] #1048 closed

[2016-01-29 17:19] bkcsoft commented on #2438
@Unknwon well, with a complete REST-API the compiled version wouldn't be necessary, since everything would be exposed over an API.

Though most of this could be implemented with webhooks, though you couldn't inject the returned data into Gogs (yet... that could also be possible)

[2016-01-29 17:21] Unknwon commented on #2438
I am thinking using gRPC or protobuf, might be faster?

[2016-01-29 17:47] bkcsoft commented on #2438
@Unknwon well, protobuf is just a packer/unpacker so it wouldn't do that much difference. Websockets is more interesting since it can be used from within the browser as well (live updating of comments etc)

WRT auth-plugins (talk from gitter, to mention it here as well), this I wouldn't be comfortable with putting in a REST-plugin and should be implemented like @andreynering mentioned with compile

[2016-01-29 17:52] bkcsoft commented on #2438
@andreynering WRT #1956 and #1126. Themeing shouldn't be implemented by changing the templates, but rather by changing (or appending) css-files.
And I don't really see any point in being able to change or override templates, since they're tightly coupled with the template-model (the `.go`-files in `/routers/` :smiley: )

And for those that wanna change them anyway, you can do that today, though yo

[2016-01-29 18:03] bkcsoft commented on #1048
@Unknwon nah, I'll just open a PR when Icve implemented it :trollface:

[2016-01-29 18:03] andreynering commented on #2438
And I don't really see any point in being able to change or override templates, since they're tightly coupled with the template-model (the .go-files in /routers/ :smiley: )

Yep. We have to think whether we want to be possible to replace the entire template or just inject more HTML on the existing templates.

See my comment above:

Agree that for theming CSS would be better.

[2016-01-29 18:11] bkcsoft commented on #2438
Well, I'd want to both inject templates into existing templates, and inject entirely new ones :smile:. Though never replace, don't think that a plugin should be allowed to TBH...

On the topic of "not worth it", since Gists could be implemented thusly, and both Issues and Wikis could be migrated to such, I'd say it's worth it.

Reasons:
- Less cruft in the main application.
  Everyone might not ne

[2016-01-29 20:30] Unknwon commented on #2491
Hi, I've added some fixes for screen reader on dashboard, though I'm using Mac and can't test it very well.

You can test on https://try.gogs.io/ and give feedback.

[2016-01-29 20:31] Unknwon commented on #2287
Close as fixed.

[2016-01-29 20:31] #2287 closed

[2016-01-29 20:32] Unknwon commented on #2179
@david-at focus on this issue specifically, does the validation problem have been solved?

[2016-01-29 22:07] Unknwon commented on #2497
Hi, I just pushed a fix to `develop` branch, feel free to test on https://try.gogs.io/

[2016-01-29 23:33] arctican opened #2515 "Can clone & push private repository when using apache proxy"
Hi. I've created an instance of Gogs on a subdomain in apache, using a proxy in the VirtualHost, but it allows anyone to clone, and push to a private repository.

Setting it up using `example.com:3000` results in an authentication check, but using the proxy, and `git.example.com` simply allows all access.

The web interface works as expected, and stops access to the repo, its just the command line

[2016-01-29 23:45] Unknwon commented on #2515
What are the steps to reproduce this on your server?

[2016-01-29 23:54] arctican commented on #2515
It is over HTTP.

After creating a private repo on my Gogs instance, I run `git clone http://git.example.com/arctican/test.git` from a completely separate machine, and it clones it without asking for username/password. I can then make changes, and upload to the repository using `git push`.

[2016-01-29 23:58] Unknwon commented on #2515
Thanks.

Have you tried another machine?

[2016-01-30 00:03] arctican commented on #2515
Yes, I tried to clone from my brother's machine, with the same result.

[2016-01-30 00:07] Unknwon commented on #2515
Would you be possible to do tests directly use http://localhost:3000 without Apache?

[2016-01-30 00:09] km4efp commented on #2382
From the client machine pushing the commit or from gogs server?

[2016-01-30 00:11] Unknwon commented on #2382
From the client machine pushing the commit

[2016-01-30 00:15] arctican commented on #2515
Sure.

I SSH'd into the machine and stopped apache.
Running `git clone http://localhost:3000/arctican/test.git` successfully asks for a password.

[2016-01-30 00:17] Unknwon commented on #2515
OK... there is no chance anyone could bypass authorization and pull/push through HTTP.

Any chance you have saved user/pass info in git config for the domain?

[2016-01-30 00:37] arctican commented on #2515
Sorry, you are correct. It appears to have stored my git username/password. I created a new user on my machine, and it asked for the username/password.

However, I don't know why my brother's machine allowed a clone. He has never used git so it can't have stored anything in the past. I possibly changed the apache config between testing his machine and creating this issue, and it was incorrectly se

[2016-01-30 00:39] Unknwon commented on #2515
Maybe you tested with a public repository? :trollface:

[2016-01-30 00:39] #2515 closed

[2016-01-30 04:21] tebanep commented on #2293
Happened exactly the same to me, when looking for tests. Hope an strategy can be set so the confidence in the program increases. Though, I'm using gogs in production right now without problems. Thanks for it!

[2016-01-30 11:42] fnkr opened #2516 "Ability to edit a release if the content field is empty"
I can create a release with an empty content but not edit an existing one, if content is empty. It should be possible to save a release, even if the content field is empty.

![gogs-release-content-bug](https://cloud.githubusercontent.com/assets/616991/12695385/b503b6c2-c74c-11e5-8d74-822c7f3a29b7.gif)

Gogs Version: 0.8.10.1217 (stable)
Git Version: 2.6.2
System Type: prod

[2016-01-30 12:35] dakira commented on #2464
@Unknwon  It's the root of the repo. 12 files, 8 folders.

[2016-01-30 14:41] Gibheer commented on #2179
On Mon, 25 Jan 2016 10:31:50 -0800
无闻 <notifications@github.com> wrote:

The SSH key verification does relate to the builtin server as long as
both implementations can't handle all key types.
At the moment the go ssh implementation does not handle DES and ed25519
keys (wether one wants to use DES or not).
I would therefore make it the default to use ssh-keygen when using the
system sshd, but use t

[2016-01-30 14:42] Unknwon commented on #2464
@dakira thanks, can you help confirm that 0.8.0 works fine?

[2016-01-30 15:09] dakira commented on #2464
@Unknwon I'm on 0.8.10. I'm not always getting this. When I hit reload all the time, I'm getting this in 1 out of 10 reloads.

If it helps I can set up a new installation with 0.8.0 and try with that.

[2016-01-30 15:11] Unknwon commented on #2464
@dakira that would be best to try again 0.8.0, so we can be more sure about where the problem is.

[2016-01-30 15:12] #2516 closed

[2016-01-30 15:25] carli2 opened #2518 "Global issue list empty when issues are in organization's issues"
reproduce:
 - create organization
 - create repos in organization
 - create issue in repos
 - assign issue to you
 - browse to gogs/issues
 - that list is empty

[2016-01-30 15:45] Unknwon commented on #2518
What is `Global issue list`?

[2016-01-30 15:50] carli2 commented on #2518
![gogs](https://cloud.githubusercontent.com/assets/852396/12696701/8583eed8-c771-11e5-8448-98256f70f7c6.png)

[2016-01-30 15:51] Unknwon commented on #2518
Thanks, I think this is duplicated to https://github.com/gogits/gogs/issues/1820 ?

[2016-01-30 16:41] emansom commented on #2455
You shouldn't use git for data anyway. There's [dat](http://dat-data.com/) now.

[2016-01-30 18:01] bkcsoft commented on #2438
@NiklasRosenstein @andreynering Feel free to comment on this :smiley:

[2016-01-30 18:03] dakira commented on #2464
Looks like I can't reproduce this with 0.8.0 while I can with 0.8.10 and 0.8.25 (by mercilessly hitting F5).

[2016-01-30 18:38] xxxtonixxx opened #2519 "Markdown doesn't work in dashboard"
I have done a comment in a PR and in my dashboard the markdown code doesn't show how it must be... (it show [repositorio de Examenes](URL...)

- An image
![image](https://cloud.githubusercontent.com/assets/7110786/12697617/b9f91370-c788-11e5-995c-e9f470fd546f.png)

- In PR is okay!

![image](https://cloud.githubusercontent.com/assets/7110786/12697625/d25c71e6-c788-11e5-892d-ab4c71b5a9a2.png)

Than

[2016-01-30 19:10] xxxtonixxx opened #2520 "To add updates of labels in PRs"
When I remove or add labels doesn't show activity of them (if I remove or add one).

- For ex:
![image](https://cloud.githubusercontent.com/assets/7110786/12697853/6f2dd5ec-c78d-11e5-9df0-3e81bfa8a4d6.png)

Saludos and sorry for my bad english!

[2016-01-30 19:38] mafrashteh opened #2521 "Some errors happend after I sent an comment under a issue"
I got this error after send an comment

template: repo/issue/view_content:56:39: executing "repo/issue/view_content" at <.Poster.Id>: nil pointer evaluating *models.User.Id

I checked my ID in User table in MySQL but I have this problem now!

[2016-01-30 19:45] Unknwon commented on #2464
@dakira Got it, thank you!

[2016-01-30 20:20] M5oul opened #2522 "Add redirection when changing repository owner"
When changing a repository owner, the old URL is broken. It would be great if there could be a redirection toward that new URL.

[2016-01-30 20:23] M5oul commented on #2478
I can't reproduce it. I close the issue.

[2016-01-30 20:23] #2478 closed

[2016-01-30 21:50] squishykid commented on #1597
+1

[2016-01-30 23:29] renannprado opened #2525 "Plugin for Jenkins"
I'am happy to say that I've just released my first open source project!
It's a plugin for **Jenkins** to integrate with Gogs (http://gogs.io).

Please check it out:
https://github.com/renannprado/gogs-repository-viewer-plugin

[2016-01-31 00:13] bkcsoft commented on #1660
This would be a security issue, since you can then hit the server with random URLs and see which ones exist and which don't by checking if it's 404 or 401...

[2016-01-31 00:20] bkcsoft commented on #2522
Almost a duplicate of #1566 :trollface: Though I don't agree with @Naxiz. Github keeps the old URLs around as a redirect to the new one, so it would not be too much to ask of Gogs to do the same :stuck_out_tongue_winking_eye:

[2016-01-31 04:06] galaktor opened #2526 "LDAP: Pass through user/pass via `%s` token in BindDN"
Hi guys. First of all, gogs is awesome!

I'm trying to hook it into LDAP at a company. The problems is, I need to use simple LDAP so they login user ("%s") is passed into the LDAP bind credentials (can't store a hard-coded user).

For this, I set the _User DN_ to be `DOM\%s`, where `DOM` is the AD domain and the login name in gogs is used as the username for AD. So when a user `bob` logs into gogs

[2016-01-31 06:00] GameXG commented on #809
Team does not currently plan to provide import functions performed by gogs itself?
Since the existence of migrate function, it is recommended to provide through github, Bitbucket, gitlab import function.

issues whether to keep the original author information? gitlab import all responses will be merged into one, it does not feel good within each issues.
However, if the original author to retain ne

[2016-01-31 17:10] Unknwon commented on #2521
Hi, what is your version of Gogs? And can you reproduce this on https://try.gogs.io ?

[2016-01-31 17:15] Unknwon commented on #2525
Thanks for letting us know!

Next time it would be better to post this kind of information on http://forum.gogs.io/ .

BTW, put some screenshots may help people (like me) to know what exactly this plugin does.

[2016-01-31 17:15] #2525 closed

[2016-01-31 17:16] Unknwon commented on #2522
as @bkcsoft suggested, maybe we should combine this as same issue of #1566? cc @M5oul

[2016-01-31 17:18] renannprado commented on #2525
I didn't know you guys had a forum. Cool. I'll add more information as you asked, some description and then post in the forum!

[2016-01-31 17:19] Unknwon commented on #2526
Do you guys have time to take a look?

cc @nanoant @SergioBenitez

[2016-01-31 17:20] Unknwon commented on #2525
:100:

[2016-01-31 18:27] fnkr opened #2529 "URLs to a non-existing user/org result in a blank page"
URLs to a non-existing user/org result in a blank page.

- https://try.gogs.io/give_me_404 <-- blank page
- https://try.gogs.io/give_me_404/with_nice_ui <-- nice error page

![screenshot from 2016-01-31 19-24-01](https://cloud.githubusercontent.com/assets/616991/12703958/4fc35e3e-c850-11e5-88ea-973a7af6fcfa.png)
![screenshot from 2016-01-31 19-24-12](https://cloud.githubusercontent.com/assets/6169

[2016-01-31 18:34] Unknwon commented on #2529
Thanks your feedback!

Just pushed a fix to `develop` and you can test on https://try.gogs.io/give_me_404

[2016-01-31 18:39] galaktor commented on #2526
I think what I need is what [kanboard's *user mode*](http://kanboard.net/documentation/ldap-authentication) for Active Directory via LDAP is.

It separates the DN from the LDAP authentication user.

Fwiw I'm no AD or LDAP expert, so if this is already possible using gogs, I'd love to know how to make it work.

Cheers guys

[2016-01-31 18:54] fnkr commented on #2529
Works for me. Thanks for fixing.

[2016-01-31 18:54] #2529 closed

[2016-01-31 19:56] ekozan commented on #813
+1

[2016-01-31 20:12] Rickou412 opened #2532 "Error after upgrading from 0.8.10 to 0.8.25, while restarting"
[code]

Application seems to work normally and display correctly followers and followings

[2016-01-31 20:23] Unknwon commented on #2532
Thanks your feedback!

Just to clarify, there is no database migration from 0.8.10 to 0.8.25.

Can you help translate to English?

[2016-01-31 20:38] Unknwon commented on #2229
@dakira can you try out latest `develop` branch?

[2016-01-31 20:52] Rickou412 commented on #2532
pq: the column "num_following" from the relation "user" already exists

[2016-01-31 20:57] Unknwon commented on #2532
Thanks. Is this 100% reproducible?

[2016-01-31 21:16] SergioBenitez commented on #2526
The BindDN method allows you to accomplish exactly what you'd like, as you've identified. Unfortunately, the way you've tried using it isn't the way it's meant to be used.

The idea behind the BindDN is that there is an unprivileged LDAP user with read-only permissions to a few user fields. That user is used as the BindDN. This way, no privileged information is stored in the database.

[2016-01-31 21:36] galaktor commented on #2526
@SergioBenitez The issue is that I do not want BindDN - I want Simple DN, where the login user is used to authenticate on LDAP.

The problem with SImpleDN is that it doesn't allow me to provide a base DN, it only let's me set the User DN for authentication (in my case needs to be "DOMAIN\username"), but then seems to use that for the User *query* as well (not just authentication).

If the Simple D

[2016-01-31 21:46] SergioBenitez commented on #2526
I understand what it is that you'd like, and it seems reasonable to allow this in the future. I'll look into implementing this.

At the moment, however, assuming you can create users on the LDAP server, using a BindDN should meet your needs. What's holding you back from using a BindDN?

[2016-01-31 21:52] galaktor commented on #2526
I'm afraid I can't create users, it's a highly regulated corporate environment, making changes to AD is not done lightly. Plus I use other tools like this already and they support this for AD.

If it's any help, maybe the following images will illustrate my issue. I need to use Simple DN, but that won't allow me to specify query+filter and auth credentials separately.

![1-ldap-works](https://clou

[2016-01-31 21:55] galaktor commented on #2526
Notice the LDAP query bombs out because it won't tolerate "DOMAIN\username" as valid DN syntax - which it isn't. It's the authentication user. If I put in a query, I get credential errors on LDAP because it wants "DOMAIN\username" for auth...

[2016-01-31 21:59] nanoant commented on #2526
@galaktor What if Gogs escaped properly the backslash character? Would it work then? I dunno if LDAP spec wants the `\` to be escaped but Active Directory apparently does.
Anyways, if yes, then it is just a matter of patching Gogs so it properly escapes the characters, no extra functionality needed.

[2016-01-31 22:08] galaktor commented on #2526
I'm not sure what exactly LDAP is tripping over when using "DOMAIN\username" for the query, and if that would even work on AD. When I do try to use a query rather than "DOMAIN\username" for SimpleDN User DN, I get the below credentials error.

![4-ldap-cred-error](https://cloud.githubusercontent.com/assets/1070055/12705300/aab1dd5a-c866-11e5-978f-2070ac73dde2.png)

What about allowing to specify a

[2016-02-01 00:40] Unknwon commented on #2514
Updated: https://gogs.io/docs/intro/troubleshooting#connect-to-wrong-sqlite3-database

[2016-02-01 09:22] simonszu opened #2535 ""Cannot unmarshal" error when creating a repo via the API"
Hi,

for an undergoing ansible setup, i want to create some repos via the API. So i made a POST-request against the API with the following json content to test the creation of repos via the API:
`"{\"name\": \"test1\", \"private\": true, \"description\": \"etc files of calad server\"}"`.

Unfortunately i get an HTTP error 400 with the following content:
`{\"classification\":\"DeserializationError\

[2016-02-01 09:22] burgerga commented on #2205
Is there a workaround for 0.8.25?

[2016-02-01 09:26] Strongc opened #2536 "Buggy support for Chinese characters"
1.从hggit导入的库，如果目录里有中文名的文件，试图打开这个目录，则报500错误
如果在根目录有中文名目录或者有中文名文件，仓库首页报500
https://pypi.python.org/pypi/hg-git （hggit 0.84版)
TortoiseHg 3.62版
Gogs使用数据库是Sqlite，win8主机
客户端是谷歌浏览器，Win10

经测试，报500错的，也可以克隆出来。
但中文名的文件或目录已经是乱码了。

2.在仓库首页，Readme.txt文件中的中文都是乱码。
经过比较，发现commit里的中文是utf-8，而文件中的是gbk或18030

3.浏览文件，文件中的中文注释是乱码，尝试使用gbk,18030等编码也无法正确显示。
但克隆出来的文件中中文仍是正确的。

4.不支持中文仓库名，而bitbucket.org是支持的
![default](https

[2016-02-01 10:32] Kegeruneku commented on #2498
Also, it might be a good idea to be able to set a default identification provider for newly created users, in case the user that was auto created comes from an identification provider known to Gogs (a LDAP server, maybe). This way, you would be able to provision automatically all user details

I think the best approach would be, in case a new user unknown to Gogs just authenticated using headers,

[2016-02-01 13:24] Rickou412 commented on #2532
From a fresh install of gogs 0.8.10, it's not reproductible (tested in a docker container)

My installation was pretty old, with frequent migration from version 0.5.x

[2016-02-01 13:29] Unknwon commented on #1891
I plan to use JWT to completely solve this issue.

[2016-02-01 13:30] Unknwon commented on #2536
Thanks your feedback!

What is your Gogs version and can you reproduce this on https://try.gogs.io?

[2016-02-01 14:09] Unknwon commented on #2532
Thanks. I meant is this error happens every time you try to start Gogs?

[2016-02-01 15:00] Unknwon commented on #2205
@burgerga what workaround?

[2016-02-01 16:51] burgerga commented on #2205
I am on 0.8.25 and I have this issue on a repo that I transfered from my personal account to an organizational account. I can still read the wiki, but if I try to edit I get a 500. I was wondering if I could fix it without updating gogs.

[2016-02-01 17:17] Unknwon commented on #2205
@burgerga are you using windows?

[2016-02-01 18:27] burgerga commented on #2205
No, docker on a ubuntu server

[2016-02-01 20:12] Unknwon commented on #2498
Thanks for your comments!

Just want to point out that the basic rule of this feature is: everything come from header is valid, not check process perform by Gogs. This is my understanding...

[2016-02-01 20:20] Unknwon commented on #2205
@burgerga thanks. Can you check directories of `data/tmp/local/` under volume path that they are empty but have `.git` directories only?

[2016-02-01 20:27] Unknwon commented on #2535
Hi, which version of Gogs are you using?

I just tried with following simple example:

[code]

And works...

[2016-02-01 20:35] burgerga commented on #2205
@Unknwon Which directory do you mean? I have `git`, `gogs` and `ssh` directories only in the `/data` directory. If I browse the `/data/git/gogs-repositories/<organization>/<repo>` directory, I can see that the `wiki.git` is there.

[2016-02-01 20:37] Unknwon commented on #2205
In your case, it should be `gogs/data/tmp/local/`.

[2016-02-01 20:37] burgerga commented on #2205
@Unknwon I can reproduce it with new repositories and new organizations.

[2016-02-01 20:38] Unknwon commented on #2205
Good to know, but this does not answer to the question...

[2016-02-01 20:38] burgerga commented on #2205
Ah yes, in `gogs/data/tmp/local-wiki` I have a directory `3` and a directory `5`

[2016-02-01 20:42] Unknwon commented on #2205
@burgerga OK... then looks like you're having different problem. Can you check the server log from Gogs for 500 error?

[2016-02-01 20:45] burgerga commented on #2205
Got it:

[code]

The actual path should be `/data/git/gogs-repositories/TEST/test_bug.wiki.git` where `TEST` is the organization.

[2016-02-01 20:48] Unknwon commented on #2205
Thanks.

Which version of Gogs are you running? 0.8.25?

[2016-02-01 20:50] burgerga commented on #2205
0.8.24.0128

[2016-02-01 20:55] Unknwon commented on #2205
Well... according to https://github.com/gogits/gogs/blob/master/models/repo.go#L133 , a restart should delete the `tmp` directories.

[2016-02-01 21:28] maxchill opened #2541 "Sort projects by stars"
Would be nice to have option of sorting by stars, to see the most popular repositories for an organization.

[2016-02-01 21:32] burgerga commented on #2205
Yes thank you, I can confirm that this works!

[2016-02-01 21:33] Unknwon commented on #2447
This issue is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2540

[2016-02-01 21:39] Unknwon commented on #2205
:100:

[2016-02-01 22:28] Asara commented on #952
As an update for anyone who was interested, gogs still isn't in the fBSD repo, but can be installed easily using: https://github.com/gogits/gogs/issues/952#issuecomment-84351879

[2016-02-01 22:40] tobiastom commented on #952
@idefix6 is there a pull request to follow your progress?

[2016-02-01 22:54] asmartin opened #2543 "jpegPhoto LDAP Integration"
Gogs looks like a fantastic git repository management system, and the LDAP support is great! To that end, would it be possible to add support for pulling avatars from the `jpegPhoto` attribute in LDAP? This would be ideal for my use case

[2016-02-01 22:54] Rickou412 commented on #2532
The error appears only on the first start after the upgrade. I only see it one time.

[2016-02-01 23:11] Unknwon commented on #2532
So you're able to use Gogs normally now?

[2016-02-01 23:20] Rickou412 commented on #2532
Yes gogs is 100% functionnal

[2016-02-01 23:22] Unknwon commented on #2532
:joy::joy::joy:

[2016-02-01 23:22] #2532 closed

[2016-02-01 23:24] Rickou412 commented on #2532
thank you! With your questions I realize how stupid was this new issue.

[2016-02-01 23:48] idefix6 commented on #952
There is already a package ready that can be tested, see here: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=205283#c34

[2016-02-02 01:32] Unknwon commented on #2377
This is claimed to be implemented by merging #2444.

[2016-02-02 01:38] Strongc commented on #2536
我用的版本是  © 2015 Gogs 当前版本: 0.8.10.1217

测试的库已经上传到https://try.gogs.io/cztest/test1.git
当前版本是  : 0.8.26.0201

测试方法是先用TortoiseHg 3.62版建立hg库。
创建中文文件名，包含中文的Readme.txt等
然后通过hg-git提交到 https://try.gogs.io/cztest/test1.git

try.gogs.io中的库没有因为中文文件名或路径名出现500错，可能是升级解决了此问题。
但中文的文件名仍然是乱码的的，下载下来也是错的。

另外，首页预览中的Readme.Txt中的中文仍旧是乱码。
看原始文件没有问题。

通过git提交到gogs库里可以正确处理中文路径名。
 “中文目录”就是用git提交的。

如果通过hg-git再次拉到hg库里，这个"中文目

[2016-02-02 01:42] Unknwon commented on #2536
Thanks... You may want to set a good value for [this config option](https://github.com/gogits/gogs/blob/master/conf/app.ini#L15).

[2016-02-02 02:13] Strongc commented on #2536
https://try.gogs.io/cztest/test1/raw/master/main.c 中的中文显示是乱码的，下载后文件没问题
https://try.gogs.io/cztest/test1/raw/master/Readme.txt  中的中文显示是正确的

这说明不同后缀预览处理不一致。
谷歌浏览器

[2016-02-02 02:14] Unknwon commented on #2536
https://try.gogs.io/cztest/test1/raw/master/Readme.txt 中的中文显示是正确的

Thanks... but I don't see any valuable points here.

And, please do not skip my comments.

[2016-02-02 03:23] Strongc commented on #2536
app.ini中设置了
ANSI_CHARSET = GB18030
更新Gogs到 0.8.25.0129

浏览原来有500错的库，问题依旧。

再次使用TortoiseHg 提交到一个新的库，问题还是存在。
浏览包含中文路径或文件名路径仍然出现500页面。

可能升级到与try.gogs.io相同的版本能解决，但这需要编译，我再试试。

提交到https://github.com/Strongc/test222.git的库
首页预览Readme.txt，中文可以正确显示。
但 https://github.com/Strongc/test222/blob/master/main.c 中的中文与gogs一样是乱码
改变浏览器字符集也不能正确显示。
我猜想这些问题与hg-git有关系，我再研究研究hg-git吧

[2016-02-02 03:57] Unknwon commented on #2536
What is the error log for 500?

[2016-02-02 04:51] Strongc commented on #2536
就是显示个大大的500。
路径中有中文或包括中文文件名就是这样。

在try.gogs.io上没有这个问题。

[2016-02-02 04:53] Unknwon commented on #2536
Please check log on the server side.

[2016-02-02 05:36] Strongc commented on #2536
错误都是类似这样：
 2016/02/02 10:24:18 [...routers/repo/view.go:134 Home()] [E] GetCommitsInfo: GetCommitByPath (/发布): Length must be 40:
2016/02/02 10:24:26 [...routers/repo/view.go:134 Home()] [E] GetCommitsInfo: GetCommitByPath (/opc消息指令协议.txt): Length must be 40:

[...routers/repo/view.go:134 Home()] [E] GetCommitsInfo: GetCommitByPath (doc//说明 2.docx): Length must be 40:
2016/02/02 11:11:38 [.../runt

[2016-02-02 07:16] Strongc commented on #2536
我还没有go环境，对go,git也不熟悉，尝试着搜索了一番，感觉好像是这里出错了。

https://github.com/gogits/git-module/blob/d86a90f801dbe279db095437a8c7ea42c60e8d98/tree.go

`step = 40
id, err := NewIDFromString(string(data[pos : pos+step]))`

[2016-02-02 07:30] Strongc commented on #2536
https://try.gogs.io/cztest/test2/src/master/doc

使用谷歌浏览器，更多工具，编码，选择GB18030，则路径中的中文文件名正确显示。
但网页其他部分是乱码。

https://try.gogs.io/cztest/test2/src/master/main.c
无论设置什么编码，都无法正确显示文件中的中文
https://try.gogs.io/cztest/test2/src/master/Readme.txt
设置GB18030，则可以正确显示中文

说明gogs对这两种文件使用了不同的处理方式

[2016-02-02 07:55] redoz opened #2544 "When changing profile avatar mention size recommendations/requirements"
Would be nice if it would mention the recommended/required image properties (width,height, etc).

![image](https://cloud.githubusercontent.com/assets/1670030/12742947/877ac002-c98a-11e5-8250-e4a9bf60fc9f.png)

[2016-02-02 07:59] getson commented on #2418
the same with #2490

[2016-02-02 07:59] #2418 closed

[2016-02-02 08:55] simonszu commented on #2535
Hmm...this is funny. I have updated gogs to version 0.8.25.0129 and now it works via curl and the command line. But i still have problems with accessing the API via ansible.

Just for the records: This is the task executed by ansible:
[code]
And this is the result:
[code]

What is funny is the following: In the same ansible playbook i make sure that the user's public key is already in gogs's datab

[2016-02-02 09:44] dakira commented on #2229
@Unknwon Yup. Can confirm this fixes it! Thanks.

[2016-02-02 09:47] kolis commented on #2346
:+1:  very useful feature

[2016-02-02 09:57] dakira commented on #2464
Can confirm for develop, too.

[2016-02-02 12:19] Semyazz commented on #1741
+1 Kanban board

[2016-02-02 12:42] exmex opened #2545 "Relative Links in markdown"
Relative links are a great thing. I'd like to have them in gogs too.

https://github.com/blog/1395-relative-links-in-markup-files

I've tried it like so:
`[Sample File](REPONAME/SampleFile.obj)`

it didn't show a link to it.

[2016-02-02 13:00] fnkr commented on #2545
Try it like this:

[code]

Demo: https://try.gogs.io/fnkr/demo/issues/1

[2016-02-02 13:11] simonszu commented on #2535
Well - i think i fixed it. Somehow i had a double-json-casting in my ansible task. In the task was a normal json created, which then was encapsulated in json again. This was no problem with the API-access of /users/keys, since a jsonified string becomes a string again.
The problem was the boolean in the /users/repo API access. A jsonified boolean becomes a string, and this is clearly not what the

[2016-02-02 13:11] #2535 closed

[2016-02-02 13:16] qunabu commented on #1597
+1

[2016-02-02 13:35] Unknwon commented on #2536
What is the real encoding of this file?

[2016-02-02 13:36] Unknwon commented on #2535
:trollface: Great!

[2016-02-02 13:41] simonszu commented on #2535
Why do you always attach a trollface to my issues? :D
It isn't so that i want to just troll you, although it could seem so. I just spent two days debugging this stuff. Glad i figured it out at last ;)

[2016-02-02 13:43] Unknwon commented on #2535
No, it means **shit happens and I understand you** :trollface:

[2016-02-02 13:43] Unknwon commented on #2229
@dakira Cool, thanks your confirmation!

cc @kolesar-andras

[2016-02-02 13:52] Unknwon commented on #2544
OK... so... for example?...

[2016-02-02 13:58] Unknwon commented on #2545
Hi @exmex , your comments isn't very clear to me...?

https://try.gogs.io/unknwon/issue-2545

[2016-02-02 13:58] exmex commented on #2545
`[Sample.fpm](/src/master/File%20Definitions/FPM/Sample.fpm)`

Doesn't get resolved for me.

[2016-02-02 13:59] Unknwon commented on #2545
In which page and how to reproduce?

[2016-02-02 14:01] exmex commented on #2545
I have a file in

src/master/File Definitions/FPM/FPM Definition.md

which should link to a sample file in
src/master/File Definitions/FPM/Sample.fpm

but it doesn't show a link.

Markdown file:
`[Sample.fpm](/src/master/File%20Definitions/FPM/Sample.fpm)`

Displayed:
![](http://i.imgur.com/HyWU9ih.png)

[2016-02-02 14:01] M5oul commented on #2522
Yep, I close that one.

[2016-02-02 14:01] #2522 closed

[2016-02-02 14:04] Unknwon commented on #2545
What is the raw content of your markdown?

And by `Doesn't work`, what does it mean? No link at all? Wrong link?

[2016-02-02 14:06] exmex commented on #2545
See comment above. the Markdown file content is there.

\/ This is the raw markdown. (Tried both. Not working)
Markdown file:
`[Sample.fpm](/src/master/File%20Definitions/FPM/Sample.fpm)` <- Doesn't work
`[Sample.fpm](File%20Definitions/FPM/Sample.fpm)` <- Doesn't work

See screenshot. No link at all. It's truncated.
![](http://i.imgur.com/VrMjxIk.png)

[2016-02-02 14:10] Unknwon commented on #2545
See here: https://try.gogs.io/unknwon/issue-2545/issues/1

The one with `%20` does work.

[2016-02-02 14:11] exmex commented on #2545
In the issue page yes. But not in a markdown (md) file.

[2016-02-02 14:12] Unknwon commented on #2545
No? ... https://try.gogs.io/unknwon/issue-2545

[2016-02-02 14:13] exmex commented on #2545
Hm.. Doesn't work for me.. Weird.

[2016-02-02 14:13] Unknwon commented on #2545
Always make sure you have the latest version?

[2016-02-02 14:24] exmex commented on #2545
We're using a fork of gogits (latest developer branch), but on the local copy (sqlite) it works for some reason. Not on the production server (mysql). I'll look into this and will report back.

[2016-02-02 14:25] NiklasRosenstein commented on #2461
I've upgrade to Gogs 0.8.25.0129 but the problem persists. I will try to reproduce this on http://try.gogs.io

[2016-02-02 14:30] exmex commented on #2545
Reproduced here:
https://try.gogs.io/exmex/issue-2545-test/src/master/File%20Definitions/FPM/fpm%20Definition.md

[2016-02-02 14:32] exmex commented on #2544
I think he means like:

[2016-02-02 14:42] Unknwon commented on #2545
OK, great!

[2016-02-02 14:54] basilosaurus opened #2547 "Gist Functionality"
Would love to see something like this as my company doesn't want anything on an external server. Our chat client doesn't support ``` Markdown Code Blocks ```

[2016-02-02 14:56] Unknwon commented on #2547
Thanks your feedback!

But this is duplicated to https://github.com/gogits/gogs/issues/936 ...

[2016-02-02 14:56] #2547 closed

[2016-02-02 15:01] dakira commented on #2513
:+1:

[2016-02-02 15:17] asmartin commented on #936
+1

[2016-02-02 16:27] congeal commented on #2490
I have similar problem too.
Dogs showed 500 server error when I created a pull request, but I got a different message:

[2016-02-02 16:31] Unknwon commented on #2490
Error is ...???

[2016-02-02 16:37] congeal commented on #2490
I changed the filename following 'error:' to <filename>.
What I can see in my terminal was '?? ???? ????'
I'm not sure what it is.

[2016-02-02 16:45] Unknwon commented on #2490
.... I can't get any info from `????` ..... :joy:

[2016-02-02 16:58] Strongc commented on #2536
看起来应该是GB18030，就是普通的中文win10下用记事本做的文件

[2016-02-02 16:58] Unknwon commented on #2536
You must be sure...

[2016-02-02 17:55] NiklasRosenstein commented on #2461
Turns out this issue isn't related to Gogs at all but just an error in my NGinx config. Sorry for the troubles! :disappointed:

[2016-02-02 17:55] #2461 closed

[2016-02-02 18:09] Unknwon commented on #2461
:trollface:

[2016-02-02 22:04] Unknwon commented on #2491
ping @lilmike

[2016-02-02 22:04] Unknwon commented on #2497
ping @ciruz

[2016-02-02 23:12] bkcsoft commented on #2346
There's an open issue for this :smiley:  It has a nice link to https://github.com/etsy/hound that I've been looking at integrating. though I'm sorta busy on the plugin-thingie first :stuck_out_tongue:

[2016-02-02 23:29] sapk commented on #2410
This one could be close since PR #2506 is merge if it is ok for @xsteadfastx.

[2016-02-02 23:35] sapk commented on #2310
The API is implemented and merge in dev in PR #2506. You may need some extra info to show all the same information as in the example.

[2016-02-03 02:52] Strongc commented on #2536
我确定，证据看附图。
使用了二进制查看工具，还有一些工具性网站。
其中个GB2312，GBK，GB18030之间的关系是范围越来越大的关系，从右向左向下兼容。

这是一个查内码，提供乱码恢复的网站
http://www.mytju.com/classCode/tools/messyCodeRecover.asp

这是自动检测GB18030和UTF8的例子
http://blog.csdn.net/firstboy0513/article/details/7349854
你的目标是彻底国际化，所以全自动探测编码有困难，这个我理解。

现在显示乱码就是在中文win10环境下生成的中文编码是GB18030，在网页预览时，被识别为Windows-1252，因此显示为乱码。但强行设置网页编码为GB18030也无效，原因不清楚。
https://try.gogs.io/cztest/test2/sr

[2016-02-03 02:54] Strongc commented on #2536
原始的文件
[Readme.txt](https://github.com/gogits/gogs/files/115020/Readme.txt)

[main.c.txt](https://github.com/gogits/gogs/files/115022/main.c.txt)
[说明  2.docx](https://github.com/gogits/gogs/files/115029/2.docx)

[2016-02-03 05:07] congeal commented on #2490
I did 'git apply' with the new pull request patch the same way gog does, and then I realized that the PR tried to patch a file that is not exist anymore.
I think you can reproduce this problem:
1) 'git rm' a file from a repsoitory (upstream)
2) modify the removed file in a forked repository
3) create PR
You should be able to see 500 server error.

[2016-02-03 08:11] ciruz commented on #2497
Hey @Unknwon, thanks for the ping, I really missed the notification.

We already tested your fix and everything works fine, thank you, you're pretty fast.
Right now we're running version 0.8.25.0129 :sunglasses:

[2016-02-03 08:11] #2497 closed

[2016-02-03 13:29] Unknwon commented on #2490
@congeal what is your version of Gogs?

[2016-02-03 13:33] congeal commented on #2490
The version of Gogs that I'm using is 0.8.20.0111.
Do I need to update Gogs?

[2016-02-03 13:37] Unknwon commented on #2490
Can you try to reproduce this on https://try.gogs.io?

[2016-02-03 14:21] pentix commented on #2310
Thank you @sapk ! I'll have a look at it!

[2016-02-03 14:28] baby-gnu commented on #1297
+1

[2016-02-03 17:07] congeal commented on #2490
@Unknwon I reproduced this problem on https://try.gogs.io.
You should be able to see 500 server error when you create a pull request at branch, 'new_feature' in repository, freezer/gogs_test.
I changed my password to 'qwerty' so you can log-in with the account.

[2016-02-03 17:11] Unknwon commented on #2536
Thanks for the details but I'm sorry I have no idea about what you're trying to say...

ANSI_CHARSET = GB18030
更新Gogs到 0.8.25.0129

Would you be able to reproduce this 500 on https://try.gogs.io ?

[2016-02-03 17:12] Unknwon commented on #2490
Thanks!

What is the error log from Gogs backend?

[2016-02-03 17:14] Unknwon commented on #2490
@congeal BTW, please file another issue and we continue dicussion. Yours is completely different from this.

[2016-02-03 17:21] adrien-thebault opened #2549 "Gogs web interface broken after update"
Hello,

I just updated Gogs on my server and now it doesn't work anymore when I try to access the web interface, it wants me to download some file that seems empty and meaningless.

(You can try by yourself by going here https://src.adrien-thebault.fr/)

stderr.log only contains this :

but stdout.log contains this :

followed by the trace

I don't understand why this is happening, any idea?

- Go

[2016-02-03 17:29] Unknwon commented on #2490
@congeal anyway, just pushed [a fix](https://github.com/gogits/gogs/commit/a47baa1b7ae08fbcc6946b6c168e69cd4c9894b4) to `develop` branch, and you can retest on https://try.gogs.io now.

[2016-02-03 17:34] Unknwon commented on #2549
Hi @adrien-thebault , how did you upgrade?

[2016-02-03 17:37] adrien-thebault commented on #2549
using `go get -u github.com/gogits/gogs` and then `go build` in `$GOPATH/src/github.com/gogits/go-gogs-client` & `$GOPATH/src/github.com/gogits/gog`

[2016-02-03 17:40] Unknwon commented on #2549
Thanks. If you can't view web, how do you know you're in version 0.8.25?

[2016-02-03 17:41] adrien-thebault commented on #2549
It's written in README.md :

(Thanks for your help)

[2016-02-03 17:44] adrien-thebault commented on #2549
Hmm, maybe the problem is not coming from Gogs, when I try `wget localhost:3131/`, it seems to work (I'm able to get the index.html), but nothing changed in my nginx config, did I miss something ?

[2016-02-03 17:45] Unknwon commented on #2549
When you do `wget localhost:3131/`, the content looks like normal?

[2016-02-03 17:48] adrien-thebault commented on #2549
Well, it looks like a perfectly normal web page. Also, the footer contains `© 2016 Gogs Version: 0.8.25.0129 Page: <strong>3ms</strong> Template: <strong>2ms</strong>` which tends to confirm that I'm in version 0.8.25.

What is even more strange is that it also works with "wget src.adrien-thebault.fr/" from the server and from my computer (which is on another network), but it doesn't work on Chrom

[2016-02-03 18:20] Unknwon commented on #2549
I have no idea... the only thing I can think of is you have broken source code of Gogs but I don't think that's possible.

[2016-02-03 18:21] Unknwon commented on #2497
Thanks your confirmation!

[2016-02-03 19:10] getson opened #2550 "Network attached story for repository"
Hi,
I tried to use a network attached storage path for  my repositories but doesn't work. Can you do it possible?
The result is the same as with a normal folder in network storage, I use Windows server 2012.
This will be a great thing for this project,because in most cases the data and application are stored in different servers.

Thank you for this awsome project :-)

[2016-02-03 19:32] Unknwon commented on #2550
Thanks your feedback!

But,

Basically I still don't know what is going on...?

[2016-02-03 19:46] getson commented on #2550
The path seems to be incorrect, I tried in this form the \\mynasserver\repositories

[2016-02-03 19:55] Unknwon commented on #2550
What is the error Gogs complains about?

[2016-02-03 20:26] getson commented on #2550
i put this  in the  repository root path  as in this screenshot  http://screencast.com/t/91owtrnqt and the error message is "Repository root path is invalid: mkdir //imb-nas: The specified path is invalid.",
http://screencast.com/t/RKirOlbPc

[2016-02-03 20:28] Unknwon commented on #2550
Thanks, this is indeed a problem...

[2016-02-03 20:56] getson commented on #2550
in asp.net web app http://www.codeproject.com/Articles/19830/How-to-Access-Network-Files-using-asp-net , if I find any solution I will let you know

[2016-02-03 22:20] adrien-thebault commented on #2549
Sure, but I don't think it will help much, it's quite a basic config :

Where *ssl.conf* is SSL/TLS related stuff (Cipher list, DH Params, HPKP, HSTS, Elliptic Curves & OCSP Stapling)

[2016-02-03 22:35] adrien-thebault commented on #2549
Made a fresh install, I only kept my old config, here's what happens :

`[Macaron] PANIC: middleware render hasn't been registered` and what follows happens each time I try to access the web interface

[2016-02-03 22:44] Unknwon commented on #2549
At this point, I suggest you use compiled version for now... have no idea at the moment...

[2016-02-03 22:49] adrien-thebault commented on #2549
It must be something that comes from my config, I removed my custom/conf/app.ini and now it works, do you mind if I put my config here so you have a look?

[2016-02-03 22:52] Unknwon commented on #2549
... Sure, you can join https://gitter.im/gogits/gogs and DM to me.

[2016-02-03 23:14] #2549 closed

[2016-02-03 23:50] dan-hughes commented on #2550
Does making the network share a mapped drive resolve?

[2016-02-04 02:14] Strongc commented on #2536
在 try.gogs.io 上没有 500 错

[2016-02-04 03:16] lostsnow commented on #2319
+1

[2016-02-04 03:16] lostsnow commented on #1597
+1

[2016-02-04 07:09] getson commented on #2550
I tried this, but the same result

[2016-02-04 07:25] lovrenca commented on #1597
+1

[2016-02-04 07:26] dmavrin commented on #1597
+1

[2016-02-04 10:19] rjrudman opened #2551 "SSH on Windows with OpenSSH failing"
Hi,

I've spent the last few hours trying to get this working. I've installed OpenSSH on a windows machine, and that all works perfectly when manually adding keys into authorized_keys, etc.

Going through the Gogs UI and adding the same key produces this file:

`command="c:/Gogs/gogs.exe serv key-1 --config='c:/Gogs/custom/conf/app.ini'",no-port-forwarding,no-X11-forwarding,no-agent-forwarding,no-

[2016-02-04 10:29] rjrudman opened #2552 "Clone this repository does not include HTTP Port"
When using a custom port, the 'clone this repository page' gives an invalid address for HTTP(s):

[See here](http://i.imgur.com/Uy7MG4Q.png)

[2016-02-04 13:11] galaktor commented on #2263
I was trying to do this same thing. What I expected to be able to do is add images to the `<repo>.wiki.git` repository and reference them with relative paths in markdown. I tried various permutations of *raw* and *blob* links but to no avail. I wouldn't want to host the images for the wiki in a separate repository.

[2016-02-04 13:16] galaktor commented on #2526
I am willing to try hack this in myself, but don't know the frameworks (macaron etc.). Can anyone point me at the right place to change

* Authentication UI form for simple LDAP
* Backend that operates on LDAP / AD

I am familiar with golang so it's the architecture that I could use some pointers for.

[2016-02-04 13:27] jag3773 commented on #1071
For my purposes, just having the wiki editor (MarkDown capable) available to edit files in the main repo would be perfect!

Keep up the good work, gogs is awesome!

[2016-02-04 13:50] tkausl commented on #2552
Cannot reproduce on develop-branch:
http://i.imgur.com/1L9lBGZ.png

[2016-02-04 14:09] NiklasRosenstein opened #2553 "Fail to initialize ORM engine: migrate: sync"
Hi! I'm using a MySQL database. I'm not sure what changed, but now it shuts down after some time. I get this error in `gogs.log`:

    2016/02/04 13:35:11 [...s/routers/install.go:70 GlobalInit()] [E] Fail to initialize ORM engine: migrate: sync: dial tcp 127.0.0.1:3306: getsockopt: connection refused

This is my database configuration

    [database]
    DB_TYPE = mysql
    HOST = 127.0.0.1:3306

[2016-02-04 16:26] Unknwon commented on #2263
@galaktor sorry for the trouble, but wiki repository does not handle anything other than `md` files...

[2016-02-04 16:28] Unknwon commented on #2526
Here you go:

1. UI: https://github.com/gogits/gogs/tree/master/templates/admin/auth
2. Backend: https://github.com/gogits/gogs/blob/master/routers/admin/auths.go

[2016-02-04 16:33] Unknwon commented on #2551
Thanks your feedback!

So bad I can't see any obvious reason why connection fails.

But for special care of Windows users, if you're running version higher than 0.8, you can use [this config option](https://github.com/gogits/gogs/blob/master/conf/app.ini#L58) to enable builtin SSH server of Gogs which should work very smoothly.

[2016-02-04 16:34] Unknwon commented on #2552
+1 to @tkausl 's solution.

[2016-02-04 16:35] Unknwon commented on #2553
Hi, based on the error it means connection failed.... maybe there is a bug in the Go MySQL driver...

`PATH = data/gogs.db` and `SSL_MODE` are ignored when you use MySQL.

[2016-02-04 16:39] loosebits opened #2554 "Admin tool to initialize all repos from the db"
When bringing up gogs on a new box (e.g. after a system failure of the current box), each repo in the database needs to be manually initialized (e.g. `git init --bare user/repo.git`) before users can repush all their code.

An admin tool to reinitialize all missing repos from the db would be handy.

[2016-02-04 16:49] Unknwon commented on #2554
Hi,

What kind of this situation is...? Where does Gogs know what repos should have?

[2016-02-04 17:05] loosebits commented on #2554
Sorry, here's the scenario..

Gogs DB is hosted on a different box from Gogs.  The Gogs box dies and we bring up a new Gogs instance on another box and point it to the existing DB.  To recover, we have to query the gogs tables to build a list of paths for the repos and init them all.  It would be nice if there was an admin tool to handle this much like the inverse of "Delete all repository records

[2016-02-04 17:07] Unknwon commented on #2554
Thanks for the explanation!

But where are the old files..? Or you just want empty new repos?

[2016-02-04 17:09] loosebits commented on #2554
You mean where are the actual repos?  They are on the dev's machines, they just need to do a `git push origin *:*` to rebuild the gogs repos.  Ah, the beauty of git.

[2016-02-04 17:12] Unknwon commented on #2554
I see..........

OK.. not hard to implement, just the situation is true weird for me :trollface:

[2016-02-04 17:24] galaktor commented on #2263
No problem, I figured that much. That said, I did push an image to the `.wiki` repo, but just wasn't able to reference it via markdown URL. It would be brilliant to have wiki + assets inside the same wiki repo. Technically the wiki is incomplete without it's attachments.

[2016-02-04 17:41] galaktor commented on #2554
Out of curiosity, in the reverse case where gogs dies and I want to re-add the git repos to a new install of gogs... will gogs automatically find and add the repos inside of its repo URL, or are additional steps needed to make it re-scan the file system, update DB or similar?

[2016-02-04 17:45] Unknwon commented on #2554
No, you would need to make a scripts to call migrate APIs (as admin user) to migrate repos from a local path.

[2016-02-04 17:51] Unknwon commented on #2554
Just pushed a commit for this to `develop` branch.

[2016-02-04 17:55] loosebits commented on #2554
Wow, that was fast.

[2016-02-04 19:15] NiklasRosenstein commented on #2553
It used to work before so I'm not sure what has changed. This one's still running 8.10 maybe an upgrade would fix it. Is there a way to debug the MySQL connection?

[2016-02-04 19:20] Unknwon commented on #2553
Is it failing 100% at start?

[2016-02-04 19:23] NiklasRosenstein commented on #2553
No only after some time (last time about 19 hours later). Here's some more from the log:

[code]

[2016-02-04 19:25] Unknwon commented on #2553
If I search error `getsockopt: connection refused` on Google.... it happens all around Go community :joy:

[2016-02-04 22:18] galaktor commented on #2210
doing this would give gogs a significant edge over GitHub IMHO

[2016-02-04 22:21] galaktor commented on #1597
This feature is very important if I want to get more people to use our gogs server.

[2016-02-05 02:21] NiuXWolf opened #2556 "Image path break when it contains space"
like this ![redis](./pic/220px-Redis_Logo.svg.png)  in *.md file ,it can't show the picture in the web.

[2016-02-05 02:34] Unknwon commented on #2556
Picture is broken...

[2016-02-05 02:55] NiuXWolf commented on #2556
picture is not broken ,i think is the path not map to right path in server.

[2016-02-05 02:56] Unknwon commented on #2556
... Sorry I don't understand what is going on?

[2016-02-05 03:16] NiuXWolf commented on #2556
![capture](https://cloud.githubusercontent.com/assets/8829072/12837058/b54723b0-cbf9-11e5-8caa-e0baeade9367.PNG)

i insert a pic in the markdown file ,but the web do not show it .In the github.com,it works well.

[2016-02-05 03:18] Unknwon commented on #2556
So what is the raw markdown?

[2016-02-05 03:19] NiuXWolf commented on #2556
![capture](https://cloud.githubusercontent.com/assets/8829072/12837128/5d80f1c8-cbfa-11e5-9681-2ba68875b2e8.PNG)

[2016-02-05 03:21] Unknwon commented on #2556
Try replace `%20` when ` ` see if it work.

[2016-02-05 03:23] NiuXWolf commented on #2556
![capture](https://cloud.githubusercontent.com/assets/8829072/12837159/bec96c9e-cbfa-11e5-8039-3396dd885aeb.PNG)

the url not have blank

[2016-02-05 03:24] Unknwon commented on #2556
Can you reproduce on https://try.gogs.io/?

[2016-02-05 03:27] NiuXWolf commented on #2556
Application Version: 0.8.25.0129

http://52.76.244.92:3000/yang/Training/src/master/WEB%20101/Files/text.md
you can use my site

[2016-02-05 03:39] Unknwon commented on #2556
Thanks, I can reproduce now.

[2016-02-05 03:52] Unknwon commented on #2556
OK, I found the problem, it's because you have space in your path and Gogs does not handle it.

You can update to `develop` branch, or if you don't want, you can remove all spaces in your directory name for the moment.

Test: https://try.gogs.io/unknwon/issue-2556/src/master/WEB%20101/Files/text.md

[2016-02-05 07:07] steiler commented on #2301
+1
Feed for releases / tags.

[2016-02-05 08:02] rjrudman commented on #2552
I thought I had tried that - guess not. Fixes the problem, thanks! :+1:

[2016-02-05 08:05] rjrudman commented on #2551
Thank you - that works perfectly now. I am not sure if it's an issue, but sshing (not pushing with git) causes the process to hang (instead of showing the MOTD/Greeting). Minor issue though, since it works perfectly with git. Thanks! :+1:

[2016-02-05 08:05] #2551 closed

[2016-02-05 08:05] #2552 closed

[2016-02-05 08:09] Techwolf12 commented on #1597
+1

[2016-02-05 10:00] TilmannBach commented on #1146
i think organization collaborators should be able to close issues, even if they are not the owner of them

[2016-02-05 11:29] mbugeia commented on #2468
Provide a configuration then start gogs. I do this for the yunohost package https://github.com/mbugeia/gogs_ynh and it works well.

[2016-02-05 13:14] arnehormann opened #2558 "wiki: 500 errors on save after transfer"
We have problems when
* ownership of a repository is changed or
* a repository is renamed

Under these conditions, Wiki pages can no longer be saved; doing so always causes a 500 error.

We use Gogs 0.8.25.0129

Sidenote: Thanks for Gogs!

[2016-02-05 15:04] Unknwon commented on #2551
How to reproduce this?

[2016-02-05 15:06] Unknwon commented on #2558
Hi, for now you can restart Gogs to solve this problem automatically. Or delete `path/to/gogs/data/tmp` manually.

[2016-02-05 15:07] Unknwon commented on #2229
Close as fixed.

[2016-02-05 15:07] #2229 closed

[2016-02-05 15:07] bkcsoft commented on #2551
@Unknwon mostlikely do doing `ssh git@gogs-host` :trollface:

[2016-02-05 15:10] Unknwon commented on #2551
Ah... what is the error though?

[2016-02-05 15:14] Unknwon commented on #1146
@TilmannBach I think they should at least have `write` permission.

[2016-02-05 15:20] Unknwon commented on #2468
@mbugeia Thanks, added to https://github.com/gogits/gogs/tree/develop#deploy-to-cloud

Close due to lack of feedback.

[2016-02-05 15:20] #2468 closed

[2016-02-05 17:18] Tim91084 commented on #1738
This ever make it in?  Having the same issue myself - I have to manually delete the repo from the working directory.  Just wanted to note another (perhaps more prevalent) usecase.

1.) Fork repo "ABC"
2.) Do work, submit PR ...
3.) Delete Forked repo
4.) Realize you need to make another change
5.) Try to fork repo again -> 500 error

[2016-02-05 17:20] Unknwon commented on #1738
@Tim91084 does [this comment](https://github.com/gogits/gogs/issues/1738#issuecomment-164065321) work on your system?

[2016-02-05 18:20] #2377 closed

[2016-02-05 18:20] #2447 closed

[2016-02-05 18:54] andreynering opened #2560 "Repository panel jumps to the bottom"
I don't how to reproduce it, but the repository panel sometimes jump to the bottom of the page. It usually happens or back normal when someone pushes something or open an issue, etc. So the feed in the left is probably causing this.

AFIK, it happen in all version. The pictures below were taken in 5d192c2ebf0703fa0e7a5af7adbcaaec0d3b7dc9

![1](https://cloud.githubusercontent.com/assets/7011819/128

[2016-02-05 19:13] Unknwon commented on #2560
What browser are you using?

[2016-02-05 19:14] Unknwon commented on #2558
Hi, please try out `develop` branch now!

Or on https://try.gogs.io

[2016-02-05 19:21] andreynering commented on #2560
Chrome.

[2016-02-05 19:23] Unknwon commented on #2560
I'm not seeing this on Chrome Mac 48.0.2564.103 (64-bit) no matter how I resize the Window...

[2016-02-05 19:24] Unknwon commented on #2560
Not In Safari and Firefox as well.

Maybe check web console?

[2016-02-05 19:31] andreynering commented on #2560
Will do when have the time, but I think it might be someting with the CSS/HTML, not the JS.

I think it depends on the content of the feed. I may take a look in the CSS when have the time.

[2016-02-05 19:40] Unknwon commented on #2560
It's possible....

[2016-02-05 19:40] Tim91084 commented on #1738
@Unknwon sorry for my ignorance, but what should I do with that line?  Do you want me to recompile the gogs source with that change, or just test the command in command prompt?

If recompiling the source, could you point me in the general direction where I would make that change?

[2016-02-05 19:47] Unknwon commented on #1738
@Tim91084 No.. i just want your help to verify that command works on your Windows shell/xyz.

[2016-02-05 20:29] Tim91084 commented on #1738
[code]

The /S /Q args seem to mitigate the issue or removing a directory that is not empty.  If that is the root cause of this issue, it's likely that adding those arguments will fix it.

[2016-02-05 21:15] Unknwon commented on #1864
I'll close this one until someone else reports on it.

[2016-02-05 21:15] #1864 closed

[2016-02-05 21:15] Unknwon commented on #2015
Close as fixed.

[2016-02-05 21:15] #2015 closed

[2016-02-05 21:16] Unknwon commented on #2318
I'll close this until someone else reports on it.

[2016-02-05 21:16] #2318 closed

[2016-02-05 21:17] Unknwon commented on #2330
Close due to lack of feedback.

[2016-02-05 21:17] #2330 closed

[2016-02-05 21:17] Unknwon commented on #2339
Close as fixed.

[2016-02-05 21:17] #2339 closed

[2016-02-05 21:17] Unknwon commented on #2391
Close due to lack of feedback.

[2016-02-05 21:17] #2391 closed

[2016-02-05 21:18] Unknwon commented on #2402
Close due to lack of feedback.

[2016-02-05 21:18] Unknwon commented on #2405
Close due to lack of feedback.

[2016-02-05 21:18] #2405 closed

[2016-02-05 21:21] Unknwon commented on #2410
Close as implemented.

[2016-02-05 21:21] #2410 closed

[2016-02-05 21:21] Unknwon commented on #2412
Close due to lack of feedback.

[2016-02-05 21:21] #2412 closed

[2016-02-05 21:21] Unknwon commented on #2426
Thoughts?

[2016-02-05 21:22] Unknwon commented on #2437
Close due to lack of feedback.

[2016-02-05 21:22] #2437 closed

[2016-02-05 21:23] Unknwon commented on #2451
Close due to lack of feedback.

[2016-02-05 21:23] #2451 closed

[2016-02-05 21:24] Unknwon commented on #2455
I'll stay with `Code`. :mask:

[2016-02-05 21:24] #2455 closed

[2016-02-05 21:24] Unknwon commented on #2463
Close due to lack of feedback.

[2016-02-05 21:24] #2463 closed

[2016-02-05 21:24] Unknwon commented on #2469
ping @ChangePlaces

[2016-02-05 21:25] Unknwon commented on #2518
Close due to lack of feedback.

[2016-02-05 21:25] #2518 closed

[2016-02-05 21:25] Unknwon commented on #2521
ping @mafrashteh

[2016-02-05 21:26] Unknwon commented on #2554
Close as implemented.

[2016-02-05 21:26] #2554 closed

[2016-02-05 21:26] Alphanumerix opened #2563 "DueDate field on creating/editing milestones modify date by -1 day"
Issue found on https://try.gogs.io (v0.8.31.0205).

On the right side of the screen we can see two fields. Shorter one have label "Due Date (optional)" and it allow us to set end date for given milestone. There is a problem with field on saving changes. After save date is modified by 1 day backward.

This issue can be connected somehow with #2564

[2016-02-05 21:27] Unknwon commented on #2563
Thanks your feedback!

Does the server runs on the different timezone that you're located?

[2016-02-05 21:28] Alphanumerix opened #2564 "Form for creating/editing milestones does not have all labels or datetimepicker isn't loaded correctly"
Issue found on https://try.gogs.io (v0.8.31.0205).

On the right side of the screen we can see two fields. Shorter one have label "Due Date (optional)". Longer one should be hidden or evaluated somehow. I believe, that it should be used by DateTimePicker, but it's not loading correctly. FX console reports:

[2016-02-05 21:34] Alphanumerix commented on #2563
If viewdns.info is correct and http://try.gogs.io IP is 159.203.18.145 (located in Palatine, Illinois, USA), than yes. I'm testing it from Poland, Europe (my timezone is GMT+1).

[2016-02-05 21:36] Unknwon commented on #2563
OK... I might know the problem, which I've noticed... but no solution yet. :sweat:

[2016-02-05 21:53] tkausl commented on #2564
[code]

[2016-02-05 22:19] #2564 closed

[2016-02-05 22:20] Unknwon commented on #2564
Fixed, thanks!

[2016-02-05 22:22] Alphanumerix commented on #2564
We should thank you.
Good job.

[2016-02-05 22:23] Unknwon commented on #2564
:wink:

[2016-02-05 23:03] tkausl commented on #2563
Found the problem, I'll open a PR for it.

[2016-02-05 23:08] Unknwon commented on #2563
@tkausl looking forward!

[2016-02-06 01:27] tkausl commented on #2563
Added pr #2563, however `regulateTimeZone` is just a bad hack to fix a bug in the orm-engine. We should either get the orm-owner to fix it or fork the orm and fix it ourselfs. See https://github.com/go-xorm/xorm/pull/226 (its a pr for mssql but mysql has the exact same problem)

[2016-02-06 01:32] misugijunz commented on #1597
Hi. As I post in your blog article's comment section. The scenario will be like this https://confluence.atlassian.com/bitbucketserver/using-pull-requests-in-bitbucket-server-776639997.html

a. There will be a master branch that will updated periodically.
b. There will be several dev branches. Let say we have R1 for release one dev branch.
c. Developer should create a new branch when working on a f

[2016-02-06 02:14] rjrudman commented on #2551
@Unknwon There is no error. It gives a warning about 'PTY allocation request failed on channel 0' and then ends the connection. Removing the `no-pty` gets rid of the warning, but the connection immediately closes. I wasn't able to find any logs or output about what went wrong, the above verbose ssh is as much information as I was able to get.

[2016-02-06 02:15] Unknwon commented on #2551
@rjrudman you should looks at gogs backend console see if any log prints (upgrade to latest version first `master`). If no log, which means the request never arrives to Gogs...

[2016-02-06 02:30] 0rax commented on #2235
:+1: Can be useful when proxying build through a private gogs instance !

[2016-02-06 02:40] rjrudman commented on #2551
@Unknwon There was no output at all on the gogs console (using the latest binaries - amd | ZIP w/ mws). I wasn't able to find any logs, unfortunately. Though it does definitely seem that it never executed the `gogs.exe`

[2016-02-06 02:41] Unknwon commented on #2551
Well... I'm lost..

[2016-02-06 02:55] Unknwon commented on #2563
@tkausl you're absolutely right.

[2016-02-06 03:03] i00 commented on #2402
The time zone when I hover it is in PST ... my computer is set to EST (Australia Eastern time, Brisbane), also I use the Windows version of Git.

The commits in the screenshots were committed and pushed at the same time ... the screenshots were taken at the same time ... therefore the X Hours ago should be the same???

[2016-02-06 03:05] i00 commented on #2402
I will check the other things that you stated when I get back to work on Monday.

[2016-02-06 05:01] ChangePlaces commented on #2469
sorry, i haven't had time to update and check this out due to personal life. i've penciled it in for the weekend

[2016-02-06 07:04] carli2 commented on #2518
I uploaded a screenshot, but seems that the upload failed

[2016-02-06 14:46] Flayks opened #2568 "Gogs returns me 404 errors with nginx as proxy and sub-url"
Hey there,
Just installed Gogs, looking so good! I have some issues with nginx returning me 404 errors when I access to my install.

Here is my nginx conf:
[code]

and my Gogs conf:
[code]
What Gogs gives me:
[code]

When accessing `https://server.domain.com/GIT/user/login`, I got a 404 page (also for every page btw), but can see assets!
Any idea?

[2016-02-06 15:31] fnkr commented on #2487
This would have huge performance implications. Git does not store rename operations. Instead, it uses some advanced file comparison algorithms every time you use commands like `git status`, `git show` or `git log --follow`. These are slow.

[code]

[2016-02-06 15:40] fnkr commented on #2568
Change
[code]
to
[code]

[2016-02-06 15:41] sluedecke commented on #2487
Good point. Still if it would be an option it is useful. Like a check box which reloads the page.

On February 6, 2016 4:31:19 PM GMT+01:00, Florian Kaiser <notifications@github.com> wrote:

--
Sascha Lüdecke
+49 179 9210765

[2016-02-06 15:45] Flayks commented on #2568
@fnkr just tested, it now returns me 404 for the page but also the assets…!

[2016-02-06 15:46] fnkr commented on #2568
Maybe
[code]
?

[2016-02-06 17:07] absolutelyNoWarranty opened #2569 "500 error for PR creation after repo transfer to a team"
The issue in the title was found on https://try.gogs.io while investigating a 500 error on a locally-hosted gogs server.

The local issue I have is similar to #1711 : I sent a PR to a team-owned repo. When a team member tried to merge, the result was a 500 page.

I went to try.gogs.io to see if I could replicate the local issue; I could not. However I found the issue stated in the title.

To repro

[2016-02-06 18:05] tkausl commented on #2568
Try:

[code]

[2016-02-06 18:10] Flayks commented on #2568
@tkausl: ha! you got it! Thank you :)
![](https://s-media-cache-ak0.pinimg.com/originals/ae/8c/c2/ae8cc213de60a604a13f7ed05b62a952.jpg)

[2016-02-06 18:11] #2568 closed

[2016-02-06 18:18] andreynering commented on #2560
@Unknwon Found the problem.

I investigated and found that the layout problem was caused by a unclosed `<a></a>` tag.

In a deeper look in the translation I found that some strings that should contains backtick `` ` `` actually had a single quote `'` in portuguese, which was causing the unclosed tag:

- English: https://github.com/gogits/gogs/blob/10fbb1aa2f641546c4fdaee6c6ef7111586bd4e3/conf/loca

[2016-02-06 18:18] #2560 closed

[2016-02-06 18:43] jacobhands commented on #1158
I'm going to take a shot at this.

[2016-02-06 19:31] jamierocks opened #2571 "Profile shows organisations if you are an admin"
Profiles only show organisations that your are an owner of.
![img](https://i.lexteam.xyz/zlBmMKOCng.png)
The profile should really show all organisations that your are part of and have set public visibility.

[2016-02-06 21:41] fnkr commented on #2571
Is already fixed in develop branch.

See #2527.
Related: #2530, #2567.

[2016-02-06 21:54] jamierocks commented on #2571
Oh - my bad.

[2016-02-06 21:56] fnkr commented on #2571
@jamierocks Don't you want to close this issue? :-)

[2016-02-06 22:09] Unknwon commented on #2560
Thanks! I remember you have the permission to approve, right?

[2016-02-06 22:25] fnkr opened #2572 "Let collaborators & team members (with write permissions) update issues, wiki"
Collaborators and team members with write permissions should be able to:

- edit issue labels
- edit issue milestone
- edit issue assignee
- write wiki

Current permission set:

Action | Collaborators | Team members (write) | Team members (admin)
--- | --- | --- | ---
edit issue labels | no | no | yes
edit issue milestone | no | no | yes
edit issue assignee | no | no | yes
write wiki | yes | no |

[2016-02-06 22:26] andreynering commented on #2560
Yes. Already changed and approved the changes.

[2016-02-07 01:17] openscript opened #2574 "Failed to get repository owner (user): no such table: user"
First of all, I like gogs very much! Thank you for your effort :+1:

For the last hour I've been struggling with the following error:

[code]

My `app.ini` looked like this (shortened):
[code]

Gogs lives in `/opt/gogs` and the SQLite database was created in `/var/repositories/data/gogs.db`. Somehow when I try to clone a repo, gogs looks up the user in `/opt/gogs/data/gogs.db` instead of `/var/rep

[2016-02-07 01:25] prologic commented on #2409
CLosed by 894946c319aa0e961388227c7cff11b1392edfc7

[2016-02-07 01:25] #2409 closed

[2016-02-07 01:35] Unknwon commented on #2409
:100:

[2016-02-07 01:56] Unknwon commented on #552
Anyone knows better can review this?

[2016-02-07 02:09] Unknwon commented on #2174
@z0rr0 what is the situation of this issue now...?

[2016-02-07 02:10] Unknwon commented on #2221
Any updates could for this issue?

[2016-02-07 02:14] Unknwon commented on #2313
@crohr sorry for bothering you over and over.. do you have comments on this?

[2016-02-07 02:14] Unknwon commented on #2380
Merge this thread to https://github.com/gogits/gogs/issues/2235

[2016-02-07 02:14] #2380 closed

[2016-02-07 02:15] Unknwon commented on #2400
ping @FyinInc

[2016-02-07 02:15] Unknwon commented on #2426
Close due to lack of feedback.

[2016-02-07 02:15] #2426 closed

[2016-02-07 02:15] Unknwon commented on #2436
Force changing purpose due to lack of feedback.

[2016-02-07 02:18] Unknwon commented on #2457
ping for any updates...

[2016-02-07 02:19] Unknwon commented on #2476
I think this is... implemented... https://try.gogs.io/gogs/gogs/issues/4

[2016-02-07 02:19] #2476 closed

[2016-02-07 02:20] Unknwon commented on #2521
Close due to lack of feedback.

[2016-02-07 02:20] #2521 closed

[2016-02-07 02:24] Unknwon commented on #2382
ping @km4efp

[2016-02-07 02:25] Unknwon commented on #2465
Close as fixed.

[2016-02-07 02:25] #2465 closed

[2016-02-07 02:26] Unknwon commented on #2485
ping @mathicalee

[2016-02-07 02:26] Unknwon commented on #2491
Close due to lack of feedback.

[2016-02-07 02:26] #2491 closed

[2016-02-07 03:34] theroyalstudent opened #2575 "Renaming of SSH Keys"
Users should be able to rename SSH Keys in:

- /user/settings/ssh
- /\<user\>/\<repo\>/settings/keys

Is this possible? I feel that this feature would make it easier for me to manage my keys.

[2016-02-07 03:59] Unknwon commented on #2402
Thanks for following up!

I need to know exact (absolute) time, not `same time`, and such relative time.

[2016-02-07 04:00] Unknwon commented on #2518
@carli2 ....what does that suppose to mean... next?

[2016-02-07 04:06] Unknwon commented on #2572
Thanks for the details!

I think Collaborators should not be consider in an individual category. After https://github.com/gogits/gogs/issues/1146 , access rights are unified to `read`, `write`, and `admin`.

[2016-02-07 04:07] Unknwon commented on #2569
Thanks your feedback!

Can you post what error for 500 logged in Gogs server console?

[2016-02-07 04:07] Unknwon commented on #2569
And what is your version of Gogs?

[2016-02-07 04:08] Unknwon commented on #2571
I think @jamierocks 's point is admin could view all organization no matter public or private membership?

[2016-02-07 04:11] Unknwon commented on #2574
@openscript Can you try to use absolute path for SQLite3 database?

[2016-02-07 05:43] absolutelyNoWarranty commented on #2569
Unfortunately I don't have access to the local Gogs right now (also I'm not the admin so I'll have to ask him about the server console logs.) Judging from what I remember about the UI I think it's an older version.

Also, I forgot to mention that on try.gogs.io if you create a PR *before* the repo transfer to a team, it can still be accepted after.

[2016-02-07 05:46] Unknwon commented on #2569
OK, you can test it ASAP and report back :smile:

[2016-02-07 05:50] absolutelyNoWarranty commented on #2569
OK but it'll be a while because CNY ...
(Just to clarify, all the detailed info discussed in this Issue is for what I observed on try.gogs.io and not on the local Gogs.)

[2016-02-07 07:41] FyinInc commented on #2400
?

______________________________________________________
Fyin, Incorporated  :  david@fyin.com
Phone  :  414.274.0101  :  Fyin.com

On Sat, Feb 6, 2016 at 6:15 PM -0800, "无闻" <notifications@github.com> wrote:

ping @FyinInc

—
Reply to this email directly or view it on GitHub.

[2016-02-07 09:53] fnkr commented on #2572
That would be great. It seems like #1146 also contains giving edit issue labels/milestone/assignee permissions to people with `write` access.

---

Duplicate of #1146, closed.

[2016-02-07 09:53] #2572 closed

[2016-02-07 10:03] fnkr commented on #1146
I would suggest the following permission scheme:

Action | Read | Write | Admin
--- | --- | --- | ---
browse & clone code/wiki | yes | yes | yes
create issues | yes | yes | yes
push & add/edit releases | no | yes | yes
edit issue labels/milestone/assignee | no | yes | yes
write & push wiki | no | yes | yes
everything in the `Settings` tab | no | no | yes

[2016-02-07 11:20] openscript commented on #2574
@Unknwon Yes, I did that in the end and it worked!

[2016-02-07 13:03] jamierocks commented on #2571
My point was that the profile doesn't adhere to the visibility of that organisation ;)

[2016-02-07 13:06] fnkr commented on #2571
So #2527 did what you wanted to be done?

[2016-02-07 13:40] jamierocks commented on #2571
Yes.

[2016-02-07 13:41] fnkr commented on #2571
So, why don't you close this issue? :D

[2016-02-07 13:46] jamierocks commented on #2571
My bad - I thought it was closed after your original comment :P

[2016-02-07 13:46] #2571 closed

[2016-02-07 15:11] Unknwon commented on #1146
@fnkr :+1:

[2016-02-07 15:20] Unknwon commented on #2574
Oh, great! https://gogs.io/docs/intro/troubleshooting#connect-to-wrong-sqlite3-database

[2016-02-07 15:20] #2574 closed

[2016-02-07 15:46] Unknwon commented on #1738
Can anyone follow this thread help test `develop` branch as we merged a fix 2570?

[2016-02-07 17:04] Unknwon commented on #733
This is claimed to be implemented by merging #2528

[2016-02-07 17:22] nanoant commented on #2221
@velislav @Unknwon PR #2579 contains fix-up for that. My fault, forgot to fetch the username attribute value from the server on LDAP search query. With PR it should work fine now.

[2016-02-07 18:58] z0rr0 commented on #2174
@Unknwon I don't know how to set custom configuration properly.

One my project uses ubuntu-based docker image with gogs deb package. It rewrited a custom config file and worked well before.

[2016-02-07 19:00] Unknwon commented on #2174
What does this mean?

[2016-02-07 19:53] z0rr0 commented on #2174
@Unknwon `properly` means a proper file, `/opt/gogs/custom/conf/app.ini` and `/etc/gogs/conf/app.ini` don't work. My usecase is: 1) install gogs 2) create a custom config 3) run gogs

Do I right understand that gogs replaces `/etc/gogs/conf/app.ini` during the first start?

[2016-02-07 19:54] Unknwon commented on #2174
@z0rr0 No, Gogs replaces nothing. It was replaced by packager.io builder, but I think they have fixed this problem.

[2016-02-07 20:00] z0rr0 commented on #2174
@Unknwon I see this behavior using a package `0.8.25-1454711359.e797a22.trusty`

[2016-02-07 20:02] Unknwon commented on #2174
According to https://github.com/gogits/gogs/blob/master/packager/hooks/postinst#L18 , you should use `/etc/gogs/conf/app.ini`.

[2016-02-07 20:33] z0rr0 commented on #2174
I use this `app.ini` and can login through web, but `git pull` returns:

[code]

And `/var/log/gogs/serv.log` contains:

[code]

Why IP `127.0.0.1` is used to connect to database? My configuration has no this value.

[2016-02-07 20:35] Unknwon commented on #2174
If you use MySQL, `127.0.0.1` is the default value.

[2016-02-07 20:52] z0rr0 commented on #2174
@Unknwon yes, it's expected, but can I set another value? My custom `app.ini` contains a name of remote MySQL host `HOST = mysqlhost:3306` in section `[database]`.

I used a configuration file `/opt/gogs/custom/conf/app.ini` with gogs deb package `0.7.33`, it worked without any problems. I moved the file to `/etc/gogs/conf/app.ini` and tried to use new version of the package, but got "database con

[2016-02-07 20:54] Unknwon commented on #2174
Can you the stdout of Gogs? Because Gogs prints which custom file it uses there.

[2016-02-07 20:54] tobigue commented on #1597
+1

[2016-02-07 21:06] z0rr0 commented on #2174
[code]

[code]

[2016-02-07 21:11] Unknwon commented on #2174
@z0rr0 Please try this: https://gogs.io/docs/intro/troubleshooting#incorrect-binary-path-for-update-hook

[2016-02-07 21:24] z0rr0 commented on #2174
@Unknwon It helped! All works perfect. Thank you very much!

[2016-02-07 21:26] Unknwon commented on #2174
@z0rr0 Great, so there was an old binary lives somewhere that still reads wrong configuration.

[2016-02-07 21:26] #2174 closed

[2016-02-07 22:18] Unknwon commented on #2482
This is claimed to be fixed by merging #2582

[2016-02-08 00:19] guillemcanal commented on #1597
+1

[2016-02-08 03:14] ChangePlaces commented on #2482
works a treat :)

[2016-02-08 03:19] Unknwon commented on #2482
Thanks your confirmation!

[2016-02-08 03:19] #2482 closed

[2016-02-08 05:58] i00 commented on #2402
Hrm... strange...
![ss](https://cloud.githubusercontent.com/assets/1435262/12879283/bb31c48a-ce7c-11e5-940a-67ed34607ffb.png)
Both my client and my server are set up as AEST??

[2016-02-08 09:41] k0lter commented on #2426
Here is the the feedback :

With this configuration :

[code]

gogs (macaron) is still logging in syslog like the following :

[code]

So there is 2 issues:
- Events with apparently Trace log level are logged with level Info
- Even if a log file is defined for logging, syslog is used

[2016-02-08 10:55] TilmannBach commented on #2454
+1 `Activity`

[2016-02-08 11:15] redoz commented on #2544
Forgot about this, but indeed, that's exactly what I meant. Also what image formats are acceptable. JPG, GIF, PNG etc.

[2016-02-08 11:59] garygreen opened #2583 "Disable HTTP cloning"
Is it possible to disable the HTTP cloning method?

![gogsclone](https://cloud.githubusercontent.com/assets/1702638/12885139/68bb0296-ce5b-11e5-8116-67d085506f73.JPG)

[2016-02-08 12:05] arnaudruffin commented on #1597
+1

[2016-02-08 15:27] antechrestos commented on #1597
+1

[2016-02-08 15:36] pykiss commented on #2283
what if somebody want a raw html rendered.

To get something like gitpages, or so.

Use case:
I want to have a tiddlywiky in my repo, and to serve it directly from gogs.

[2016-02-08 16:42] dacresni commented on #2391
sorry, I'll try this out. Commenting doesn't open this does it?

[2016-02-08 17:24] dakira commented on #2464
This happens more often when there are more files and when Gogs has been running longer. It doesn't happen for a while after it has been restarted. Again with tons of memory available. Is there a workaround @Unknwon ?

[2016-02-08 19:01] TilmannBach commented on #1146
* CLOSE issues - no - yes -yes

[2016-02-08 19:02] Unknwon commented on #2402
Yes, and please do:

[2016-02-08 19:21] Unknwon commented on #2391
:trollface:

[2016-02-08 19:25] Unknwon commented on #2426
Thanks, but

[2016-02-08 19:27] Unknwon commented on #2283
@pykiss Hmm... maybe you can file another issue and ask likes `Allow request header to set HTML rendered` in raw mode?

[2016-02-08 19:31] Unknwon commented on #2583
Currently... no, but can be a feature request...

[2016-02-08 20:01] Unknwon commented on #2464
@dakira Are you using precompiled binary or installed from source code?

[2016-02-08 20:07] nanoant opened #2586 "Git push --force is painfully slow for larger repositories"
It happens sometimes that you want quickly amend some commit that is already pushed to remote server and you do `git commit --amend` then `git push --force` to overwrite remote HEAD. This is not a big deal, but Gogs stalls for at least 5-10 seconds when the repository you are trying is larger project.

This problem can be quickly reproduced:
1. forking Gogs
2. cloning the fork
3. doing `git commit

[2016-02-08 20:19] nanoant opened #2587 "Protected branches: git push --force/--delete should be available only to administrators"
Right now Gogs allows `git push --force/--delete` to anyone having write permissions. This is pretty dangerous, and potentially security hole, because some "evil" developer, eg. dude that is getting fired from the company, can reset whole Git history pushing forcefully some stupid stuff or deleting some important branches.

Therefore Gogs should introduce idea of "protected branch" list repository

[2016-02-08 20:35] fnkr commented on #1146
@TilmannBach Good catch! Updated my comment.

[2016-02-08 20:35] Unknwon commented on #2587
Thanks, maybe you should follow on https://github.com/gogits/gogs/issues/776?

[2016-02-08 21:48] xxxtonixxx opened #2588 "Path to repository forked must be org(or org)/nameOfRepository"
I have a alias configured in Apache2 that is `mydomain.com/gogs/` and when I fork a repository take `/gogs/` to complete the path to repository that I have forked when this must take `user/nameRepository` only... but in previous version of Gogs doesn't happen. For example:
- My repository forked of `DAW(org)/Ejercicios`
![image](https://cloud.githubusercontent.com/assets/7110786/12900082/c63c9840-

[2016-02-08 22:14] Unknwon commented on #2588
Thanks your feedback!

I don't understand this part?

[2016-02-08 22:55] xxxtonixxx commented on #2588
yeah, sorry... Hmmm, I forked any repository of any org (e.g `gogits/gogs`), its URL would be (using subpath) `try.gogs.io/subpath1/gogits/gogs`, then I have created a fork of gogits/gogs, no subpath1/gogits/gogs how you can see in the first image... better? :sweat_smile:

- This image

![image](https://cloud.githubusercontent.com/assets/7110786/12902075/2d10319e-cebf-11e5-9b96-35c95b60d7eb.png)

[2016-02-08 23:07] Unknwon commented on #2588
I see, thanks. So you mean only the UI is incorrect, others work fine?

[2016-02-08 23:11] xxxtonixxx commented on #2588
Yes!! :+1:

[2016-02-09 11:37] mmoya commented on #945
+1

[2016-02-09 11:49] dakira commented on #2464
As I mentioned, I can also reproduce this in develop, compiled from source code (as of 7 days ago).

[2016-02-09 13:19] loosebits opened #2589 "Dashboard cannot show tag names contain '/' correctly"
Tag names with a `/` in them only show the text after the `/` in both the name and the URL (giving 404s) in the Dashboard.

Our CI build process pushes tags like `build/123` and the dashboard shows it as `123`.  The tag shows correctly in other places and navigating to `/user/repo/src/build/123` works as well.

Gogs version:  0.8.10.1217
Git version: 2.0
OS: OS X (10.11)

[2016-02-09 13:36] SkyzohKey commented on #698
Bump. First thanks for the awesome app you built.
I think that being able to attach a binaries to a release (+ maybe a hook that we could trigger from a CI service (travis, gitlab ci, jenkins, etc) to auto-attach the binary when a new release is available).

I :+1: this feature request. :)

[2016-02-09 17:14] keuv-grvl opened #2590 "Malformed SSH authorized_keys file"
Hi! I successfully ran Gogs v0.8.25 (`/home/git/gogs/gogs web`) with SQLite on Ubuntu 15.10 (x86_64) as user `git` but I have an issue cloning repos via SSH.

Linux user `kgravouil` have its own SSH key (generated using `ssh-keygen`). Uploading the public key to Gogs *via* `http://localhost:3000/user/settings/ssh` just works fine. But cloning an existing repo (created within Gogs) using `git clone

[2016-02-09 17:42] Unknwon commented on #2590
Thanks your feedback!

But this is exact duplicated of https://github.com/gogits/gogs/issues/2574

[2016-02-09 17:42] #2590 closed

[2016-02-09 21:12] Unknwon commented on #2558
ping @arnehormann

[2016-02-09 23:50] floffel03 opened #2591 "Fail to initialize ORM engine: Can't create/write to file"
Hi! I'm using a MySQL Database for gogs.
Everything was running perfect, until one day i tried to push and the push wasn't successfull.
The error was simple - too simple: no space left on the hdd. So I cleand everything up & tried to restarded gogs (the webinterface throwed some 500 Errors and some endless redirections)..

But gogs won't restart anymore:
`Feb 10 00:33:14 blubb.minnecker.com system

[2016-02-10 00:39] Unknwon commented on #2591
Sorry about your situation, but this error is directly throwing from MySQL and Gogs can't help with it at all.

Maybe help: http://dev.mysql.com/doc/refman/5.7/en/cannot-create.html

[2016-02-10 04:49] misugijunz commented on #2569
Hi, I've experience the same thing with similar scenario but I didn't transfer the repo to the team. The repo was created under the team. At first, my team member was able to make a pull request to this team repo but after restarting gogs (due to CNY, our servers went for regular maintenance), we can't do PR to our team repo from fork repository by a team member

[2016-02-10 04:50] Unknwon commented on #2569
Hmm... what is `CNY`?

@misugijunz what is your definition of `can't do PR`?

[2016-02-10 04:52] misugijunz commented on #2569
Chinese (Lunar) New Year. can't do PR means blocked by 500 (internal server error), I'll have my friend posted the error message, etc.

[2016-02-10 04:54] misugijunz commented on #2569
After removing tmp folder, we are able to solve the issue. I wonder why it is not deleted if it is blocking

[2016-02-10 04:56] Unknwon commented on #2569
@misugijunz Good info! What is your version of Gogs?

[2016-02-10 04:56] billy93 commented on #2569
![error gogs](https://cloud.githubusercontent.com/assets/1745697/12938992/1c5cced2-cfed-11e5-8903-78389d092012.PNG)

This is the error message that is intended by @misugijunz

[2016-02-10 04:58] billy93 commented on #2569
My current version is 0.8.25, is the fix already on 0.8.31?

[2016-02-10 05:02] Unknwon commented on #2569
Thanks @billy93 , will check it.

Maybe not, will keep you posted.

[2016-02-10 05:03] Unknwon commented on #2569
@billy93 Did you do any thing like rename a repo? Rename the org?

[2016-02-10 05:31] Thibauth opened #2592 "Git operations in pure Go"
If I understand correctly, git operations are actually performed through the gogits/git-module package and shell calls to the git command. Is the long term plan to use gogits/git and native access to the git repository? If so, what is preventing from transitioning to gogits/git? What is the expected performance gain if any?

[2016-02-10 05:51] Unknwon commented on #2592
Good question, but there is simply no pure go Git implementation.

[2016-02-10 06:03] Thibauth commented on #2592
Isn't this what gogits/go claim to be? What are the main features missing from it? An alternative solution would be to use git2go (a wrapper around libgit2). But then it is not clear how the overhead of calling C code would compare to a pure implementation.

[2016-02-10 06:07] Unknwon commented on #2592
gogits/go is a good start but it is not a **fully featured pure go Git implementation**, git2go uses cgo and it is not acceptable right now.

[2016-02-10 06:56] misugijunz commented on #2569
I asked him, he said no.

[2016-02-10 07:43] tkschmidt commented on #2283
@pykiss have you already filed a new issue? I would also have such a feature back. All my analysis in R (statistics) are rendered in the end to a html page. Normally I just compare different reports by looking in my git history but now it is broken. It worked until last release.

![image](https://cloud.githubusercontent.com/assets/409660/12941407/4dd4e58c-cfd2-11e5-9746-3d4ea326dcf1.png)

[2016-02-10 08:38] arnehormann commented on #2558
@Unknwon I just tried on try.gogs.io, it still failed. Sorry...

Steps to reproduce:

1. create organisation
2. create project initialized with default files
3. add Wiki page (I called mine "Page")
4. transfer project to organisation
5. on organisation page, add new Wiki page ("Home")

-> 500 error on save

[2016-02-10 09:08] pykiss opened #2593 "Allow request header to set HTML rendered in raw mode"
It would be nice, if we can configure gogs some way, to allow get HTML files rendered in raw mode.

Maybe other people need configure it diferently for each repository (or even folder...), but for my case use, It would be enough  to configure it globally to all repos in the gogs configuration files for instance.

[2016-02-10 11:38] nanoant commented on #2587
@Unknwon I think #776 mixes two concepts/ideas in one single issue (may be bad for Gogs project management). Code review is good idea, but it is somehow complicated, not well defined and "big" feature. This issue here is more simple and about security, and has nothing to do with #776 code review functionality.

I think the security concern about NOT letting to `--force/--delete` to anyone but admi

[2016-02-10 12:08] nanoant commented on #2452
I do agree that admins should be able to clone the repo for some Gogs installations, eg. to investigate if repo contains some malware or infringes some copyrights. If Gogs admin is server admin too, this will make the task just easier.

But agree with @bkcsoft that admins should NOT have commit access. They don't own the code, so should not be given implicit permissions to alter it, at least not w

[2016-02-10 12:09] floorish commented on #2464
Just to confirm, on 0.8.25 (precompiled, 386) I get the same error.

I installed Gogs 0.8.25 on a different vps, there it works fine. They're totally different setups though, so hard to compare unfortunately.

[2016-02-10 12:18] xor-gate commented on #2452
This also means that admins should be able to fork all repos and create a pull request for changes.

[2016-02-10 12:21] nanoant commented on #2543
Looks very similar to #2488. The idea is nice, but the problem is about syncing this data with Gogs. Gogs would need to either have some extra bg process to sync avatars, or feed avatar directly from LDAP. But this technically could overload LDAP with "avatar" request on each page render.

I wonder if wouldn't be easier if Gogs would let you provide some URL template for an avatar image?

[2016-02-10 12:23] nanoant commented on #2452
@xor-gate Yup, being able to clone all repos and make PRs if you're admin makes sense.

[2016-02-10 12:57] Rydekull opened #2594 "Proxy for outgoing traffic when mirroring"
I\m having some slight trouble finding any configurable setting for proxy when doing outgoing/external traffic from GOGS, for example when trying to mirror content from github.

I've tried setting http_proxy, https_proxy and no_proxy but it doesn't seem like it's getting picked up.

Any suggestion or is this considered a RFE?

[2016-02-10 15:19] asmartin commented on #2543
Reading directly from LDAP would be best since then there's no need to store or update a cache of LDAP avatars locally. Once you do the LDAP query to get the other information about the user (e.g. first name and last name) if you also get the jpegPhoto attribute (and store it in the `$jpegPhoto` PHP variable), you can display it as an image as follows:
[code]

I don't think you can access jpegPhot

[2016-02-10 15:24] Miminoux commented on #2387
Hell, I fell in the same headacke, adding tags in gogs doesn't trigger webhook.
Will it be left the way it is ? I see it removed from the next milestone (0.9.0) 4 days ago, why so ?

[2016-02-10 16:15] Unknwon commented on #2283
@tkschmidt

What does this mean specifically?

[2016-02-10 16:18] Unknwon commented on #2587
In my point of view, disable `--force/--delete` is part of the protected branch feature, so I still think you should follow #776.

[2016-02-10 16:20] Unknwon commented on #2387
Too many issues in 0.9, which makes it never come..

[2016-02-10 16:34] Unknwon commented on #2543
Yes I think Gogs still needs a bg process as @nanoant mentioned, to periodically fetching the information.

[2016-02-10 16:35] Unknwon commented on #2594
Hmm... Gogs currently does not have this feature, what would be the use case of this?

[2016-02-10 17:26] congeal opened #2595 "500 Server error when PR with a patch to a file that is removed is created"
This issue has been fixed, but I posted this to another issue(#2490) that is not the same as this.
For the record, I submit a new issue about this.

[2016-02-10 17:26] #2595 closed

[2016-02-10 17:27] congeal commented on #2595
@Unknwon, thanks a lot

[2016-02-10 17:32] Unknwon commented on #2595
:sweat_smile:

[2016-02-10 18:24] hexadecy opened #2596 "500 error in releases after deleting an user"
2016/02/10 11:27:09 [...ters/repo/release.go:50 Releases()] [E] GetUserById: user does not exist [uid: 2, name: ]

I finally recreated the user and updated the uid in the database.

[2016-02-10 18:25] Kyosfonica opened #2597 "Add crond to the dockerfile"
Currently the docker container contains crond (the cron daemon) installed but it is not started automatically at start.
Could you guys fix this?

Thanks

[2016-02-10 18:33] Unknwon commented on #2597
cc @0rax

[2016-02-10 18:34] Unknwon commented on #2596
Thanks your feedback!

What is your version of Gogs?

[2016-02-10 18:53] geromueller opened #2598 "Allow GET webhooks"
Jenkins uses simple GETs to trigger builds. It would be great to be able to use the variables from the json file to format the url.

[2016-02-10 18:56] Unknwon commented on #2598
Thanks your feedback!

Can you rephrase this sentence?

[2016-02-10 19:00] geromueller commented on #2598
You can add &cause=reason to the url, which is then shown for the build. I would like to format the url like:

https://myjenkins.org/job/mybuild/build?token=abc&cause=Pushed+by+{{pusher.name}}

[2016-02-10 19:02] Unknwon commented on #2598
Thanks, so what does this to do with GET webhooks in the title?

[2016-02-10 19:08] geromueller commented on #2598
The main request ist: add the option to use GET instead of POST.
But then there is no JSON to transmit. Insetad, add the possibility to use the variables from the json file, in building the GET URL.
Thanks!

[2016-02-10 19:12] thehowl commented on #2485
I just got the same problem. And here's all the info I could get:

Custom built hook which gets push events works fine, and outputs standard payload.

Slack hook with default settings, outputs slack payload.

Drone hook which gets push events outputs slack payload.

They were ordered in the database in the same order I wrote them (std -> slack -> std)

Removing the slack hook, test delivery and ev

[2016-02-10 19:35] mhartkorn commented on #2596
The corresponding code is in the `master` branch in `/routers/repo/release.go` line 46 and 106 (both the same code):

	rel.Publisher, err = models.GetUserByID(rel.PublisherID)
	if err != nil {
		ctx.Handle(500, "GetUserByID", err)
		return
	}

It should use a placeholder in the template if the user got deleted instead of fail with HTTP 500. I can prepare a PR within a few hours. If nobody else wan

[2016-02-10 19:39] Unknwon commented on #2598
Thanks, got it now!

But this feature request may have low priority, and involves a design problem of how to make a way to build the GET URL.

[2016-02-10 19:41] Unknwon commented on #2485
@thehowl thanks for the info!

[2016-02-10 19:42] strahlc commented on #1322
+1 for LFS

[2016-02-10 19:43] hexadecy commented on #13
Issues before

[2016-02-10 20:25] Unknwon commented on #2485
Just pushed a fix to `develop` branch, welcome to test on it and demo site.

[2016-02-10 20:28] Unknwon commented on #2596
Thanks @mhartkorn !

You can call [this function](https://github.com/gogits/gogs/blob/master/models%2Fuser.go#L465) in the `/routers/repo/release.go` if the error is https://github.com/gogits/gogs/blob/master/models%2Ferror.go#L62

[2016-02-10 20:53] geromueller commented on #2598
I guess text/template would be the natural choice.

[2016-02-10 20:57] jacobhands commented on #1253
I like this, excluding the part about making repo's cloneable via label, that's what orgs are for.

[2016-02-10 21:12] Unknwon commented on #2596
This issue is claimed to be fixed by merging #2599

[2016-02-10 21:19] ChangePlaces opened #2600 "Marketing Gogs To Audiences"
This isn't an issue with the code as such, but as Gogs is an absolutely awesome lightweight git repo manager, I wanted to raise some discussion about how to get the word out and who to advertise to.

Here are a few thoughts, and if you can, feel free to chime in!

## Audiences (the not so obvious)
- Raspberry Pi / Hard Kernal users
- Small entrpreneural teams working on a low-budget kick-starter-t

[2016-02-10 21:39] steffansk1997 opened #2601 "SSL certificate problem: unable to get local issuer certificate"
When I submit git requests through https I get this error: SSL certificate problem: unable to get local issuer certificate

The certificate is a wildcard signed by comodo, Should I include the ca somewhere?
[server]
DOMAIN = git.skblue.com
HTTP_PORT = 3000
PROTOCOL = https
ROOT_URL = https://git.skblue.com/
CERT_FILE = custom/STAR_skblue_com.crt
KEY_FILE = custom/skblue.com.key
DISABLE_SSH = false

[2016-02-10 21:44] geromueller commented on #2598
Hi! Just to let you know: Jenkins also works with POST requests. It was an authorization problem before. I suggest you make this request very low priority, or even drop it.

[2016-02-10 21:47] Unknwon commented on #2598
:sweat_smile: Cool, so I'll reopen if someone else requests for it.

[2016-02-10 21:49] Unknwon commented on #2600
Thanks your suggestions, but what is the motivation behind this?

[2016-02-10 21:51] Unknwon commented on #2601
Hi, looks like you setup the HTTPS but still tell Apache to talk through HTTP to Gogs.

Please read [this article](https://unknwon.io/setup-gogs-with-https/) which may help you solve the problem.

[2016-02-10 22:12] steffansk1997 commented on #2601
So I updated the gogs config to work as http and the apache to work as reverseproxy, but it still thows the unable to get local issuer error

[server]
DOMAIN = git.skblue.com
HTTP_PORT = 3000
ROOT_URL = https://git.skblue.com/
DISABLE_SSH = false
SSH_PORT = 22
OFFLINE_MODE = false

        ServerName git.skblue.com
        ServerAlias git
		SSLEngine on
		SSLProxyEngine On
		SSLCertificateFile /ss

[2016-02-10 22:14] Unknwon commented on #2601
Did a google search: http://stackoverflow.com/questions/24372942/ssl-error-unable-to-get-local-issuer-certificate

[2016-02-10 22:20] richmahn commented on #1577
I am wondering if when this change was made, that now no pager is shown. I have over 500 repos, but no pager on the Explore page. I noticed try.gogs.io/explore also has no pager. I'm sure there are many more repos than displayed.

[2016-02-10 22:22] Unknwon commented on #1577
Ah... @richmahn I think you're right... the code is done, but templates didn't update.

[2016-02-10 22:30] sluedecke commented on #776
+1, definitely an important feature!

[2016-02-10 22:31] Unknwon commented on #1577
@richmahn Pushed fixed to `develop`, test on https://try.gogs.io/explore

[2016-02-10 23:17] ChangePlaces commented on #2600
@Unknwon The motivation is simply to get even more people using gogs!

[2016-02-11 02:59] Unknwon commented on #2600
Thanks, but I think people (like you) spread the words to your friends who need a self-hosted Git service to use Gogs is very good enough. :100:

I personally do not like word **marketing** for the open source project because I'm not doing business but making something cool.

[2016-02-11 04:16] linquize commented on #1322
+1 because LFS is developed by github

[2016-02-11 04:39] allustin commented on #2600
@ChangePlaces simply add to you site something like this

![](https://try.gogs.io/img/favicon.png)
**[Gogs is Awesome !!!](https://github.com/gogits/gogs)**

in the open source projects i think maintainer need a collaborators, who make a pull request to a projects

![image](https://cloud.githubusercontent.com/assets/55323/12969502/6d25889a-d092-11e5-9122-e24014d89dcf.png)

[2016-02-11 07:46] tkschmidt commented on #2283
sry, for bad wording. Until last release while looking at the raw file type i got my rendered html. Now, because it is wrapped into another html it is broken and I get the view above.

[2016-02-11 10:08] 0rax commented on #2597
Hi there, I will add this feature later today and will reference this issue in my PR when ready.

Thanks for your report.

[2016-02-11 10:18] paper-pauper opened #2602 "Email-based issues and pull-requests"
Git is decentralized, but services like Github (and even free ones like Gitlab and Gogs) take away some of this decentralization by having users create an account on them to submit issues and pull requests.

If Gogs implemented email-based issues and pull-requests, nobody would need an account in order to submit them. One would simply send an email containing the issue and/or the pull request to t

[2016-02-11 10:29] steffansk1997 commented on #2601
Fixed the problem with a new startssl cert, it's working fine now

[2016-02-11 10:47] Rydekull commented on #2594
Well, exactly as I mentioned in the first post. But I can explain a bit further.

- - -

Imagine a scenario with the following:
You have a internal server on which you deploy gogs. This is to be used as your internal git server and all is well and all until you realize:
"Hey, I want some content from github appearing in my gogs automagically"
At which point you discover that there is a nifty mirro

[2016-02-11 11:34] Kyosfonica commented on #2597
Thanks this will help me a lot :)

[2016-02-11 11:48] alangrafu commented on #1301
Thanks for the great work!

User can still create organizations and migrations, will that be limited as well?

[2016-02-11 13:22] NiuXWolf commented on #2556
Thank you

[2016-02-11 13:22] #2556 closed

[2016-02-11 13:56] MoBe80 commented on #890
@Unknwon thanks for the implementation, but in our case it runs too short. In our issue tracker (JIRA) we've got several project for different teams (Quality, Support, Development). These project have different "issue id formats" like QM-55, SUP-879 or DEV-357 they should redirect to _https://url/browse/DEV-357_. So it would be great to take up the idea of @rojaro again and if necessary to support

[2016-02-11 15:19] dakira commented on #2558
I can reproduce this with @arnehormann's steps.

[2016-02-11 15:49] Unknwon commented on #2283
@tkschmidt OK.. I think this is intended to not render.

You may want to follow up on https://github.com/gogits/gogs/issues/2593

[2016-02-11 15:50] Unknwon commented on #2601
:joy: Let's encrypt is cool, too!

[2016-02-11 15:50] #2601 closed

[2016-02-11 15:55] Unknwon commented on #2594
Thanks for the great detail!

Gogs currently calls `git clone --mirror xxx` for migration so I think the proxy you want to is this: http://stackoverflow.com/questions/783811/getting-git-to-work-with-a-proxy-server

Even if Gogs lets you set a config option, it still affects global.

[2016-02-11 15:56] Unknwon commented on #1301
@alangrafu Yes... somewhere is the issues... can't remember which one exactly...

[2016-02-11 15:57] Unknwon commented on #2556
:beers:

[2016-02-11 16:00] Unknwon commented on #890
@MoBe80 thanks for the info!

I suggest you open another issue for this feature request.

[2016-02-11 16:06] Unknwon commented on #2602
Thanks for your feedback!

But Gogs currently does not have control over receive emails, so may not be considered to implement in the near feature.

[2016-02-11 17:14] sksullivan commented on #1597
+1

[2016-02-11 17:22] mccordnate commented on #1597
+1

[2016-02-11 21:14] paper-pauper commented on #2602
I think an easy and quick solution would be to integrate Gogs with GNU Mailman. This also would offer (optional) mailing list integration in Gogs.

[2016-02-11 22:04] #2589 closed

[2016-02-11 22:09] Unknwon commented on #2589
This issue is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2603

Can you help test on `develop` or https://try.gogs.io/?

[2016-02-12 01:02] Unknwon commented on #2558
This is is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2604 .

Please help test on `develop` branch or https://try.gogs.io/

[2016-02-12 02:00] loosebits commented on #2589
Looks good.

[2016-02-12 03:00] 0rax commented on #2597
The PR is made see :arrow_up:, I've made this feature opt-in (using the `RUN_CROND` environment variable) as I dont think everybody will require this feature.

I just have a quick question, why do you need the cron daemon to be running inside your docker container as gogs is handling its cron jobs using its own scheduler ?

PS: Sorry for the commit spam, I had to make a change and forgot to add it

[2016-02-12 08:38] Kyosfonica commented on #2597
Because gogs do not perform autobackups, so I made my own script to handle them but need cron to launch it at the given time.

[2016-02-12 13:04] hhenkel opened #2606 "Add blame page to file view"
Github gives us to look at a blame page for a file:
![github](https://cloud.githubusercontent.com/assets/2813782/13007516/2d5f6ae6-d191-11e5-9aaa-f8c30d0cf55d.png)
Resulting in something like https://github.com/gogits/gogs/blame/master/CONTRIBUTING.md

It would be nice to have this feature in Gogs as well.

[2016-02-12 13:15] Unknwon commented on #2597
This is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2605

[2016-02-12 13:43] hhenkel opened #2607 "Add ability to alter an existing repository from "mirroring" to "normal" behavior"
IMHO it would be nice if one could create a repository mirror and decide later, if that this repository should be standalone from now on. I guess that could be handy to have if one is doing preparations for moving towards gogs. It would be possible to keep the repositories in sync, till everything is in place.

[2016-02-12 14:14] djcf opened #2608 "Using SSH as well (or: not having to specify the alternative port)"
Hi there,

First off, truly excellent piece of software. Gogs is one of my favourite projects on github.

Like most people I run GOGS on a remote server for which I also access using SSH. If I set Gogs to run on port 22, I'd like to have it so that admins can ssh into the server without having to specify the port, or conversely, if Gogs is running on some alternative port e.g. port 2222, I'd like

[2016-02-12 14:29] joshfng commented on #733
I can confirm this works.

<img width="560" alt="screen shot 2016-02-12 at 9 28 46 am" src="https://cloud.githubusercontent.com/assets/302764/13009562/0bd33f9a-d16b-11e5-80eb-95288678892d.png">

[2016-02-12 14:32] Unknwon commented on #733
@joshfng thanks, though the screenshot you have only shows diff highlight, not the **syntax** highlight, [this is the example](https://try.gogs.io/gogs/gogs/commit/ce3708b3ea1e2c5dcfeb4cf852651cbda2dfd88c) that shows the highlight of syntax :laughing:

[2016-02-12 14:36] joshfng commented on #733
Ah ok. I misunderstood.

[2016-02-12 14:39] Unknwon commented on #2608
Hi @djcf , thanks for the great details!

I think you have something misunderstandings here. (or maybe I understand wrongly)

1. How HTTP proxy is configed has no effect to how SSH should be configed.
2. If you're running Gogs under user `ethel`, then I supposed you have configed Gogs the `RUN_USER` to be `ethel` otherwise you can't even start Gogs. Then, you should just copy the SSH clone URL Gog

[2016-02-12 14:52] djcf commented on #2608
Yasss... :-)

I'm sorry. ethel. is the name of the server, i.e. ethel.domain.com. I of course realise entirely that the way the HTTP proxy works is entirely unrelated to the way SSH works. I am asking because there are two solutions that I can see:

- Configure the SSH daemon on labs.domain.com in a way I do not know how to forward SSH requests to ethel.domain.com when they are for the git user.

[2016-02-12 14:55] Unknwon commented on #2608
If you're running Gogs in a separate user, what is the matter of using port 22?

[2016-02-12 14:58] djcf commented on #2608
Well the thing is I would like administrators (e.g. daniel@domain.com, tom@domain.com, etc.) to be able to SSH into the machine named labs.domain.com on port 22, and also for developers to be able to connect to the labs.domain.com repositories without having to configure their SSH client to use a different port.

Maybe I am not understanding something here. I thought GOGs uses a separate custom SS

[2016-02-12 15:00] Unknwon commented on #2608
If you run Gogs and use SSH, users are **not** be able to login and use shell anymore.

[2016-02-12 15:04] #733 closed

[2016-02-12 15:04] #2563 closed

[2016-02-12 15:04] #1738 closed

[2016-02-12 15:04] #2221 closed

[2016-02-12 15:04] #2558 closed

[2016-02-12 15:04] #2597 closed

[2016-02-12 15:05] djcf commented on #2608
I see. And there is no way round this?

[2016-02-12 15:09] Unknwon commented on #2608
@djcf No...

But if you must run under same user with different port, you can enable builtin SSH server: https://github.com/gogits/gogs/blob/master/conf/app.ini#L65

[2016-02-12 15:11] djcf commented on #2608
I'm sorry, I do not understand the part of your answer about the same linux user.

For example, we have one administration, daniel@example.com, and we have one SSH server running at example.com on port 22, and we have GOGs installed in example.com. The Gogs SSH server listens for git push and pull etc. on port 2222. The GOGS service runs under the "gogs" user.

[2016-02-12 15:18] Unknwon commented on #2608
Please see http://nerderati.com/2011/03/17/simplify-your-life-with-an-ssh-config-file/

[2016-02-12 15:23] Unknwon commented on #691
This is claimed to be implemented by merging 2609

[2016-02-12 15:38] arnehormann commented on #2558
@Unknwon following my steps again just now crashed try.gogs.io for me. Really crashed - I can't even reach the welcome page. Maybe you're deleting too much now?

[2016-02-12 15:39] Unknwon commented on #2558
@arnehormann no, I was just updating the Caddy web server... try again...

[2016-02-12 15:42] arnehormann commented on #2558
@Unknwon all fine, works as intended :+1:

[2016-02-12 15:46] Unknwon commented on #2558
:trollface: Thanks your confirmation!

[2016-02-12 15:47] baby-gnu opened #2610 "Add some information about workload in documentation"
Hello,

I try to review several Git hosting services and I wonder how many users/repository Gogs can handle correctly.

The documentation introduction speak about **self-hosted** Git service but how big can it be?

Regards.

[2016-02-12 16:10] dakira commented on #2464
@Unknwon as this is a regression, can I help somehow locating the problem if you can't reproduce yourself?

[2016-02-12 16:21] 0rax commented on #2597
@Kyosfonica I see, my guess would be the easiest (and cleanest) way to implement that would be to mount the data volume in another container running only crond (so that you dont rely on the same container to backup & proide your data).

But as gogs already uses a process manager to run everything needed, it does not really add a layer of complexity to the container so why not :) I was just wonderi

[2016-02-12 16:31] dakira commented on #2558
Can confirm the fix in my own install, too.

[2016-02-12 17:40] tkausl commented on #2610
This depends on many factors, how big the repositories are, how good the server is, harddrive, the database-system, and so on. It can probably handle thousands of repositories if they are not all accessed at the same time but it might slow down if hundred users are browsing a repository like the linux-kernel, but this all depends.

[2016-02-12 17:43] Longshot123 commented on #279
Is is required to use SSH to fix this problem? We are having the same issue pushing 1.4GB repo with 1255 commits over http.

[2016-02-12 17:51] louwers opened #2613 "Ubuntu 14:04 Cannot select SQLite"
This shows on the /install page:

![screenshot_2016-02-12_18-49-37](https://cloud.githubusercontent.com/assets/649392/13015451/64a4706e-d1b9-11e5-9855-d6a15566fdb0.png)

The settings show up in the HTML source though:
[code]

[2016-02-12 18:05] tkausl commented on #2613
If you compiled gogs yourself from sourcecode read the Documentation at https://gogs.io/docs/installation/install_from_source
The **Build with Tags**-Section handles sqlite

[2016-02-12 18:17] louwers commented on #2613
RTFM! Thanks!

[2016-02-12 18:17] #2613 closed

[2016-02-12 19:46] Unknwon commented on #279
@Longshot123

Yes...

[2016-02-12 19:46] Unknwon commented on #2597
Actually I'm wondering the same thing...

[2016-02-12 19:56] Unknwon commented on #2610
As @tkausl mentioned, and there is no answer even with given hardware requirement, mostly relates to user activities, repo size, etc.

This is the simple stats of demo site, but rarely user activities is performing, $5 DO VPS could handle them all.

![image](https://cloud.githubusercontent.com/assets/2946214/13018659/c9cc11ac-d198-11e5-8e42-d5bc45ffcbe0.png)

[2016-02-12 20:48] rajder commented on #1146
Awesome project! Good feature request, I might dig into this project and try to contribute... just not right now :)

[2016-02-12 21:52] Unknwon commented on #1059
This is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2614

[2016-02-13 00:02] IaBurton opened #2615 "Cannot recognize MySQL password correctly when contains ';'"
Hello,

I seem to be running into an issue when trying to upgrade from Gogs version 0.7.22 to any newer version (I've tried 0.7.33, 0.8 and 0.8.25). The machine is a Centos 6 box with MySQL 5.1.69 and Git version 1.8.3.1

[code]

The mysql password hasn't changed (and I can log into mysql with the password fine), but everytime I try to upgrade I get this access denied error. When reverting back to

[2016-02-13 00:04] Unknwon commented on #2615
Thanks your feedback!

But the requirement for MySQl is 5.5.3... https://gogs.io/docs/installation

[2016-02-13 00:08] IaBurton commented on #2615
Ha, I tried looking around for as much info as possible before creating the issue and cannot believe I missed that. Ok so I shouldn't have used mysql to begin with, thanks. Do you have any suggestions to moving the data out and into something else, or upgrading? I suppose my next action will be to upgrade our mysql version if nothing else

[2016-02-13 00:09] Unknwon commented on #2615
Yeah... you can only do that. But you can first backup data as SQL. In case data lost, you can import them back.

[2016-02-13 00:17] PokeAcer549 commented on #2435
I got my ED25519 key added thanks to this :stuck_out_tongue:
You need to add a regular RSA key so that the line is added to gogs' authorized keys, then go into said file and edit the key. If you want to change the key in the keys area, as stated before, you must edit it in the keys line (SQLite editor if a .db file, or some MySQL editor otherwise).

If you don't want to add a key, use this SQL que

[2016-02-13 00:20] Unknwon commented on #2435
@PokeAcer549 Good hack...!

[2016-02-13 00:21] PokeAcer549 commented on #2435
Ty,  I might as well share it as I got it working.

[2016-02-13 00:37] IaBurton commented on #2615
Ok I updated it to 5.5.48 and I'm still seeing it. So I have a few questions for you then before I try something else.

Could the issue be that the database was originally created under 5.1 and is now a lost cause?
Have you ever seen a duplicate column issue with sqlite3?
If I turn the install lock off and start over but leave my gogs-repositories how will Gogs treat that?

Thanks again for your h

[2016-02-13 00:40] Unknwon commented on #2615
I'm confused by what database are you using?

[2016-02-13 00:41] IaBurton commented on #2615
I upgraded MySQL from 5.1 to 5.5.48 and I'm still getting the access denied error with the newer gogs versions, but not 0.7.22

[2016-02-13 00:42] Unknwon commented on #2615
So what is the error for MySQL?

[2016-02-13 00:45] IaBurton commented on #2615
`2016/02/12 16:30:02 [...s/routers/install.go:70 GlobalInit()] [E] Fail to initialize ORM engine: migrate: sync: Error 1045: Access denied for user 'root'@'localhost' (using password: YES)`

Access denied for using a password. As I mentioned earlier, this lead me to issue #385 and that post on the troubleshooting page but I cannot determine whats causing it, since without changing the password gog

[2016-02-13 00:49] IaBurton commented on #2615
I should mention that the password works fine for all other apps, including gitlab which is what we're moving from to gogs, and gogs version 0.7.22, but not newer versions of gogs. I turned production mode off for gogs but didn't see any additional output about that error

[2016-02-13 00:50] Unknwon commented on #2615
Thanks for the explanation but isn't the error is very clear your password is not correct?

[2016-02-13 00:51] Unknwon commented on #2615
Cause is listed on https://gogs.io/docs/intro/troubleshooting.html#outdated-mysql-password-setting ... that's all I know for now.

[2016-02-13 00:52] Unknwon commented on #2615
So, are you able to access web UI?

[2016-02-13 00:58] IaBurton commented on #2615
I know the error seems straight forward, and that the password must be wrong, but it works everywhere else except newer gogs versions. Thats why I tried enabling debug mode for gogs and mysql to see what the actual password was that was being attempted (silly but thats all I could think of)

Our password didn't match the "old" or insecure style of passwords for mysql which is what that link refere

[2016-02-13 01:06] Unknwon commented on #2615
Thanks,

Are you able to access web UI?

[2016-02-13 01:07] IaBurton commented on #2615
Of the old gogs version yes, of the new version no.

[2016-02-13 01:08] Unknwon commented on #2615
How did you setup the newer version?

[2016-02-13 01:10] IaBurton commented on #2615
Exactly as demonstrated here https://gogs.io/docs/upgrade/upgrade_from_binary

I've tried all versions newer than 0.7.22 using that method

[2016-02-13 01:18] Unknwon commented on #2615
@IaBurton So how did you finish install if you can't access database?

[2016-02-13 01:23] IaBurton commented on #2615
I'm not sure what you mean.

The password works fine for me and other apps to connect to mysql. I can login and see all of gogs tables/data. When upgrading from the binary, the last step which is running gogs itself fails because it gets the access denied. But if I move back the old version of gogs and start it it accesses the database just fine.

If you're referring to the /install step, that was

[2016-02-13 01:24] IaBurton commented on #2615
If I turn off the install lock I can get to the UI at /install, but as I asked earlier, I didn't know what that would do to existing data and hadn't read anywhere that /install was necessary again

[2016-02-13 01:27] Unknwon commented on #2615
Can you dump the database config section here again for MySQL (without password)?

[2016-02-13 01:37] IaBurton commented on #2615
[database]
DB_TYPE = mysql
HOST = 127.0.0.1:3306
NAME = gogs
USER = root
PASSWD = **********

I've tried using localhost:3306 as well as the external ip and hostname for the server (just to see if that would work) and nada. The password has semicolons in it btw, if that makes a difference in how it is read

[2016-02-13 01:44] Unknwon commented on #2615
That somehow could be the problem but I can't entirely sure, may try something without it?

The Gogs code for treating MySQL password is the same between 0.7.22 and `master` branch, but no insurance that dependency or MySQL driver might change its behaviors.

[2016-02-13 01:58] IaBurton commented on #2615
Success! Honestly not sure why I didn't try that earlier, would have saved us a lot of time.

I made a new MySQL user for gogs just to use, with a different password without the special characters of the other one, and now its working, 0.8.25 didn't get the access denied error and the upgrade was successful.

It seems the mysql driver or some other package changed between versions and caused this.

[2016-02-13 01:59] Unknwon commented on #2615
I might know how to solve this because someone else reported this problem with PostgreSQL as well.

I'll change the purpose of this issue and try to fix it.

Thanks for following up!

[2016-02-13 02:01] IaBurton commented on #2615
No problem! I'll be checking back to figure out what the issue was as I'm curious, so let me know if you need anything else.

[2016-02-13 02:01] Unknwon commented on #2615
@joshfng would you like help with this?

A reference: https://github.com/gogits/gogs/blob/master/models/models.go#L143

Not sure if this is going to fix the problem as PosgreSQL does, but will be a good try!

[2016-02-13 03:15] joshfng commented on #2615
@Unknwon yep I'll take a look

[2016-02-13 04:29] joshfng commented on #2615
This is not a code problem, it's an ini limitation. `;` is a comment in `ini`, so everything after the `;` was disregarded by the ini parser.

In order to get this to work you need to quote the password in the ini file using "`"

example app.ini that failed:
[code]

Resulting log output with password debugging:
[code]

app.ini with correctly quoted password:
[code]

Correct output and startup:
[co

[2016-02-13 04:29] joshfng commented on #2615
Note: no code needed to change. Adding `url.QueryEscape()` to the values actually broke it.

[2016-02-13 04:31] Unknwon commented on #2615
Good catch! @joshfng Should add this to documentation.

cc @IaBurton

[2016-02-13 04:40] joshfng commented on #2615
I can update the docs for those who manually edit the ini file.

We should change the installer to write the mysql password inside of `` ` `` also.

[2016-02-13 04:47] Unknwon commented on #2615
@joshfng thanks, yes, I think we need to change the INI package.

The `Write` method in INI package does not detect `#;` etc, so the backquote will be ignored when to rewrite.

[2016-02-13 04:51] Unknwon commented on #2615
Oh... didn't expect this is already implemented in INI package: https://github.com/go-ini/ini/blob/master/ini.go#L1135

[2016-02-13 04:52] Unknwon commented on #2615
So if @IaBurton was using install page, the backquotes should be added automatically.

[2016-02-13 04:52] joshfng commented on #2615
Yep! I just did an install with `something;random` as the password and it correctly wrote it to the ini file as `` `something;random` ``. I think this was just an issue with older versions and existing PASSWD values.

[2016-02-13 05:06] IaBurton commented on #2615
Interesting. Glad the "fix" is so painless :smile:

I've been using gogs since version 0.5.x or 0.6.x and did use the installer on the very first use. Not sure if I edited the password sometime after that or it wasn't escaped in those versions, I just know I started having issues with versions after 0.7.22 and didn't have time to dig into it until today. Thanks @Unknwon and @joshfng

[2016-02-13 05:08] Unknwon commented on #2615
@IaBurton thanks for your support along the way, hope upgrade is smooth except this password problem  :trollface:

[2016-02-13 05:11] joshfng commented on #2615
Docs were updated and I confirmed the INI package correctly quotes illegal characters during install. I think this is safe to close.

[2016-02-13 05:13] #2615 closed

[2016-02-13 05:19] joshfng commented on #691
Preview of new setting:

<img width="633" alt="screen shot 2016-02-13 at 12 18 11 am" src="https://cloud.githubusercontent.com/assets/302764/13026038/4f64e372-d1e7-11e5-8e05-d6971b7e2dbe.png">

[2016-02-13 08:10] yackitotreeville opened #2618 "Installing in macosx is not so easy"
I installed bower, go, gopm, git and postgresql

1. The Instructions here https://gogs.io/docs/installation/install_gogs_on_mac doesn't work any more

Alternatively

1. I downloaded gogs-master.zip
2. I ran gogs-master/gopm get -v
3. I ran gogs-master/gopm build -v

This is the strack trace:

[GOPM] 02-13 03:01:15 [ INFO] ===== application outputs start =====

github.com/gogits/gogs/routers/api/v1

[2016-02-13 11:21] romainreuillon commented on #1531
+1

[2016-02-13 12:59] McLive opened #2619 "Send more emails"
I'd like to receive E-Mails when someone pushes new commits to a project I'm watching.

[2016-02-13 14:20] #1059 closed

[2016-02-13 16:32] moritzheiber commented on #2549
I just hit the same roadblock, and it turns out I had to disable `gzip` in the configuration:

    ENABLE_GZIP = false

For some reason it used to work before, but now it doesn't anymore. I'm also using nginx as a proxy, and it does indeed do `gzip` (Chrome/Firefox are requesting gzipped content and are getting back gzipped content). My log looks exactly the same:

[code]

I'm guessing

    web --

[2016-02-13 17:37] NiklasRosenstein opened #2620 "Can't add localhost as webhook payload URL"
When I enter a URL like `http://localhost:4042/hook/push` as webhook to a repository, Gogs errors with "Invalid Payload URL". Luckily `http://127.0.0.1:4042/hook/push` works, too. But I feel like it should work with `localhost` as well.

PS: Gogs 0.8.25.0129

[2016-02-13 18:01] Unknwon commented on #2549
If used to work... I think it was bug.

Now it is fixed?

[2016-02-13 18:05] Unknwon commented on #2618
Thanks your report!

It might be a wrong commit SHA tag in the .gopmfile but I've checked it is up-to-date in the `master` so it could be some problem with gopm.

I'll delete the page, and you can just download packed zip from https://dl.gogs.io/

[2016-02-13 18:06] #2618 closed

[2016-02-13 18:08] Unknwon commented on #2619
Thanks your feedback!

But this is duplicated to https://github.com/gogits/gogs/issues/1441

[2016-02-13 18:08] #2619 closed

[2016-02-13 18:11] McLive commented on #1441
:+1:

[2016-02-13 18:12] Unknwon commented on #2620
Reference: https://github.com/go-macaron/macaron/issues/69

[2016-02-13 18:23] Unknwon commented on #1891
Got some ideas, will give another shot in 0.9.

Note: use redirect instead of auto-signin.

[2016-02-13 18:23] moritzheiber commented on #2549
It really is. And yes, without `gzip` enabled (i.e. `ENABLE_GZIP = false`) is works. So I guess this is .. ok?

[2016-02-13 18:24] Unknwon commented on #2549
@moritzheiber yeah, if you already used gzip in NGINX, there is no point gzip again between NGINX and Gogs (both local to each other) other than wasting CPU?

[2016-02-13 18:28] moritzheiber commented on #2549
I concur. I wonder why it left it as enabled in the first place.

Cheers for the help :+1:

[2016-02-13 18:29] Unknwon commented on #2549
It is `false` by default... https://github.com/gogits/gogs/blob/master/conf/app.ini#L85

[2016-02-13 18:30] moritzheiber commented on #2549
Oh, sorry, didn't mean to imply it was a default. I meant more like "Why did I leave it enabled after going through the file, testing options". Entirely my fault :smiley:

[2016-02-13 18:33] Unknwon commented on #2549
@moritzheiber Oh... not sure how old version you were using, but there was a bug that gzip isn't taking effect at all in very very old time.

[2016-02-13 18:38] moritzheiber commented on #2549
I feel like I've been using Gogs for ages now. That might be the case :)

[2016-02-13 18:55] Unknwon commented on #2549
:joy:

[2016-02-13 20:59] kpande commented on #2550
seems like Golang doesn't support UNC paths. There is no CIFS / SMBFS support in Golang?

[2016-02-13 21:09] Unknwon commented on #2550
@kpande I hope I know the answer... but I never heard that.. :sweat:

[2016-02-14 02:29] lunny commented on #1891
I think this is because xsrf check timeout is longer than cookie timeout.

[2016-02-14 02:32] cFINNY commented on #308
+1 Would love to see some JIRA integration as well! Just switched from Gitlab and loving it, thanks for all the hard work!

[2016-02-14 02:34] cFINNY commented on #890
+! Would love to see this as well, a simple regex matching pattern type of system to link (for example) JIRA Issues from the commit messages

[2016-02-14 02:36] Unknwon commented on #1891
@lunny good point! I'll keep in mind.

[2016-02-14 02:37] Unknwon commented on #890
@cFINNY thank your feedback.

But this is an closed issue, please open another issue for the regexp match specificity.

[2016-02-14 03:45] ChangePlaces opened #2621 "comment changes are retained after a cancel"
if i edit a comment to an issue, and cancel the change, if i choose to edit the comment again, the previous cancelled changes are still there.

should they be?

[2016-02-14 03:54] ChangePlaces opened #2622 ""No selected milestone" to "All Milestones"?"
I think "No selected milestone" reads like: `Show all the issues that do not have a selected milestone`
when infact the option shows all issues.

Would it be possible to see issues that are not assigned to a particular milestone?

[2016-02-14 03:57] Unknwon commented on #2621
Yes, this is expected behavior.

[2016-02-14 03:57] #2621 closed

[2016-02-14 13:12] NiklasRosenstein opened #2623 "Webhook response sometimes monospace, sometimes not"
See screenshot below. Looks like a bug in Gogs to me, the response Content-type is `text/plain` in both cases. Seems to depend on the actual content of the output whether its monospaced or not. So every time the second version is returned by the webhook, it's not monospaced.

![screen shot 2016-02-14 at 14 09 55](https://cloud.githubusercontent.com/assets/1318438/13033834/be9c9ff8-d324-11e5-8aa3-7

[2016-02-14 18:44] Unknwon commented on #2620
Do `go get -u github.com/go-macaron/binding` and recompile Gogs should solve the problem.

[2016-02-14 18:46] Unknwon commented on #2623
Thanks your report!

Can you use Chrome/Firefox web console inspect to see how HTML elements are different under the **Body** section?

[2016-02-14 19:01] NiklasRosenstein commented on #2620
Thanks! I'll try it during this week.

On 14 February 2016 at 19:44, 无闻 <notifications@github.com> wrote:

[2016-02-14 19:05] NiklasRosenstein commented on #2623
The monospaced version has `<pre class="raw"><code class="hljs nimrod">...` and the non-monospaced version is `<pre class="raw"><code class="hljs markdown">...`

[2016-02-14 19:07] Unknwon commented on #2623
OK... I guess `markdown` class is the problem... try hack it to `nimrod`?

[2016-02-14 19:12] NiklasRosenstein commented on #2623
Yes, then it's monospaced. There seems to be syntax highlighting in both cases, I would suggest disabling that. If the idea was to do syntax highlighting eg. for JSON responses, then the syntax highlighting could be based on the response Content-Type. Eg. use no syntax highlighting for `text/plain`, JSON highlighting for `application/json` etc.

[2016-02-14 19:15] Unknwon commented on #2623
It might be good to merge your last comment into https://github.com/gogits/gogs/issues/2255 , core problem is basically the same.

[2016-02-14 21:07] oOHenry opened #2625 "GOGs Webeditor Support"
it would be nice when the GOGs webinterface have an webeditor for quick changes.

and thanks for your nice work i love how fast GOGs is :+1:

[2016-02-14 21:10] Unknwon commented on #2625
Thanks your feedback!

But this is duplicated to https://github.com/gogits/gogs/issues/1071

[2016-02-14 21:10] #2625 closed

[2016-02-14 21:12] Gibheer commented on #2179
As a small update, I am working on the issue, but it will take much longer than expected. The ssh key API is not built in a way, that it is easily usable. To make things easier, I wanted to use as much from their API as possible, but much of what I need is hidden or not even available. So that will take some more time to figure out.
The other thing taking up time at the moment are private matters,

[2016-02-14 21:15] Unknwon commented on #2179
@Gibheer which way are you working on?

I think revert back the delete code (old approach) and make two methods of validation both exist and a config option to let user choose should fix the problem?

[2016-02-14 21:32] Gibheer commented on #2179
@Unknwon that was my initial plan, but the golang ssh code doesn't provide a way to check the key length, which the other part I wanted to restore. I'm currently trying to figure out if I can implement that feature somehow or not.

[2016-02-14 21:36] Unknwon commented on #2179
@Gibheer OK. That's a good try!

As the old approach had been used for a fairly long time, revert that back wouldn't hurt. (I might do that first, but if you just work on check key length, then our work shouldn't have conflict parts)

[2016-02-15 00:45] Unknwon commented on #2569
@misugijunz can you update to `develop` branch test again?

[2016-02-15 01:13] yackitotreeville opened #2626 "Please provide Macosx 64 bit installation guide"
I tried to Install   https://dl.gogs.io/  but don't know which one to pick for Macosx 64 bit.

It would be nice if instructions on how to install in macosx is provided. I am trying to evaluate the product.

[2016-02-15 01:14] Unknwon commented on #2148
This should have been fixed by merging https://github.com/gogits/gogs/pull/2567

[2016-02-15 01:16] Unknwon commented on #2490
Since https://github.com/gogits/gogs/issues/1738 is fixed.

@renewsorensen can you help retest with `master` branch?

[2016-02-15 01:21] Unknwon commented on #2626
You should use `gogs_v0.8.25_darwin_amd64.zip` for Mac 64bit.

[2016-02-15 01:21] #2626 closed

[2016-02-15 01:33] Unknwon commented on #2454
Please test on `develop` and https://try.gogs.io

[2016-02-15 02:29] Gfurst commented on #1322
+1 for LFS too, is a unique feature to have embed in the server,
why is this the issue closed still?

[2016-02-15 03:07] absolutelyNoWarranty commented on #2569
Hi, this morning we updated to 0.8.33.0210 which appears to have fixed our PR merge issues.

[2016-02-15 03:15] Unknwon commented on #2569
@absolutelyNoWarranty thanks!

It would be better to do some more testings... with lastest `develop` branch.

[2016-02-15 06:39] mrexodia opened #2627 "username in HTTPS URL"
When you create a new repo it says:

[code]

Tt would be nice if the `user` was in the https clone url like so:

[code]

This saves time typing the user/password when cloning.

[2016-02-15 07:39] Gibheer commented on #2179
Yes, I could just restore the previous behavior, but I would like to not break stuff for people again :) My pull request will come when I have worked out a way, that it works for most people without problems with the next update.

[2016-02-15 08:47] BruinY commented on #2157
It seems that in 0.9 milestone cannot be achieved

[2016-02-15 12:06] nd2s commented on #2592
Why would you want to use a (very likely bad) clone of git instead of the original? Makes no sense and just causes trouble and work.

http://c2.com/cgi/wiki?UnixDesignPhilosophy

[2016-02-15 15:22] unclegaara commented on #1587
Hello!
I'm tried to update container from 0.6.5 to latest (0.8.33) and got the following error:
[code]
I'm ran commands at /admin page:

but without result.

Can you help me with that?

[2016-02-15 17:36] xxxtonixxx commented on #2627
Yeah, that would be a good feature when you are logged :+1:

[2016-02-15 18:34] kop opened #2628 "LDAP Search failed unexpectedly"
Hi,

I'm trying to configure Gogs to use LDAP service from [JumpCloud](https://jumpcloud.com/) and having the following error during the auth:

[code]

Can't really understand what does this mean.

And here is the config I'm using:

![gogs-auth](https://cloud.githubusercontent.com/assets/645148/13059605/058522ea-d434-11e5-96df-3e4710efb219.png)

[2016-02-15 18:36] LukeMauldin opened #2629 "Authentication Question"
I have LDAP authentication setup to connect to Active Directory.  I went to create a new user account and I put in my username/password that matched my Active Directory account and the account creation worked.  How can I make sure that Gogs is authenticating that user against the LDAP authentication configuration I setup vs just creating the user locally?

[2016-02-15 19:00] Thibauth commented on #2592
@n2s, the purpose would be to improve performance and reduce the memory footprint of Gogs, even if this would have to be quantified precisely before deciding to transition. As much as I like the Unix design philosophy, imagining the Gogs process forking and creating a child process on every incoming request violates my taste for simplicity.

Furthermore, designing the pure git library as a separat

[2016-02-15 19:20] Unknwon commented on #2157
Yes, too many issues make 0.9 impossible.

[2016-02-15 19:55] lukasdietrich opened #2630 "Wrong avatar_url in webhook payload"
The payload of webhooks has a field `sender.avatar_url`, which is set at [routers/repo/webhook.go](https://github.com/gogits/gogs/blob/dce2a9e7e1146293f711c0dbd9725ac7eb0b8a16/routers/repo/webhook.go#L367).

This results in the wrong avatar url in the form of `https://my_host.com/https://secure.gravatar.com/avatar/avatar_hash`

[2016-02-15 19:55] Unknwon commented on #1587
@unclegaara looks like the rewrite `.ssh/authorized_keys` isn't successful, can you check the content of that file?

[2016-02-15 19:57] Unknwon commented on #2607
This feature is claimed to be implemented by merging #2624

[2016-02-15 20:04] mrexodia commented on #2627
I looked at how to implement it but I never programmed it Go so I'm now
sure I can do it. There should also be checks on if you have access to the
repository and stuff.
On Mon, 15 Feb 2016 at 18:37, Toni <notifications@github.com> wrote:

[2016-02-15 20:08] Unknwon commented on #2627
Note for who wants to help:

1. This information will only be shown for who has write access to the empty repository.
2. We can show the user name by using template variable `{{.SignedUserName}}` to whoever signed in and view this page.

[2016-02-15 20:09] Unknwon commented on #2628
Hi, I think it means nothing return/found by the information you provide.

[2016-02-15 20:09] Unknwon commented on #2628
cc @SergioBenitez @nanoant

[2016-02-15 20:12] Unknwon commented on #2629
Go to admin dashboard `/admin/users` see the user account type, you will find out. :trollface:

Closed by

[2016-02-15 20:12] #2629 closed

[2016-02-15 20:16] sapk commented on #2627
I can do it

[2016-02-15 20:17] kop commented on #2628
@Unknwon, I thought about this too, however it looks strange because it says that it's binded to userDN. No user data found (like first name, last name, etc)? But it should be there and I'm using all field names provided by JumpCloud support.

[2016-02-15 20:19] LukeMauldin commented on #2629
I navigated to `/admin/users` but I don't see an Account Type listed?  Please see attached screenshot. I am using the latest released version of Gogs

![useraccount](https://cloud.githubusercontent.com/assets/1440808/13059338/0b7ea27e-d3ef-11e5-82db-d360a8438dc5.png)

[2016-02-15 20:20] Unknwon commented on #2629
Why don't you click the the edit?

[2016-02-15 20:23] LukeMauldin commented on #2629
I clicked on the edit, I didn't realize it would show me a different view for a user authenticated via LDAP.  I a manually created a user and selected the Authorization Source: LDAP. However, I now cannot login with that user.  How can I turn on logging to troubleshoot the problem more?

[2016-02-15 20:23] Unknwon commented on #2627
Thanks @sapk

[2016-02-15 20:24] Unknwon commented on #2630
Thanks your report!

Just pushed a fix to `develop` and you can test on https://try.gogs.io as well.

[2016-02-15 20:24] Unknwon commented on #2628
I think you would have to take a screenshot of your config first..

[2016-02-15 20:25] Unknwon commented on #2629
What does this mean?

[2016-02-15 20:28] LukeMauldin commented on #2629
I went to `/admin/users/new` and selected `Authentication Source` Active Directory.  I was able to view more of the logs by stopping the Gogs systemd service and launching 'gogs web' and viewing the stdout to fix the LDAP bindings. Thank you for the help.

[2016-02-15 20:30] Unknwon commented on #2629
:sweat:....

[2016-02-15 20:33] kop commented on #2628
Sure, config is added.

[2016-02-15 20:37] Unknwon commented on #2628
Thanks! I don't know LDAP very well, we'll wait who knows better come to help. :sweat:

[2016-02-15 20:39] nanoant commented on #2628
@Unknwon this is something else, because user lookup using BindDN succeeds, but then we Gogs tries to bind the user and using his/her password then it queries again for the user attributes in `modules/auth/ldap/ldap.go:154`. For some reason this query does not return anything.

@kop It looks like your server does not return anything on user asking for his/her own attributes, which is weird. Though

[2016-02-15 20:41] Unknwon commented on #2628
@nanoant ah, good to learn!

[2016-02-15 20:48] lukasdietrich commented on #2630
Can confirm, working as intended :+1:

Thanks!

[2016-02-15 20:48] #2630 closed

[2016-02-15 20:51] nanoant commented on #2628
@Unknwon just wondering maybe we should do the attributes lookup in BindDN context, not in user context, as user may not have rights to do any search in LDAP, even if the result will be him/herself, which is probably the case of JumpCloud?

I think the implementation for BindDN mode arrived in 7d84d4a8 done by @SergioBenitez. Just curious why @SergioBenitez made the attribute search in the UserDN

[2016-02-15 20:59] kop commented on #2628
@nanoant I think you are right with UserDN context. In JumpCloud there are a special switch that allows a user to perform a search in LDAP.

My BindDN user has this enabled while user I'm trying logging with don't have such permissions.

[2016-02-15 21:04] Unknwon commented on #2630
Thanks your confirmation!

[2016-02-15 21:17] nanoant commented on #2628
@kop @Unknwon Okay I'll submit a PR so when using BindDN the attribute fetch is done in user context but not using the LDAP filter, which may need extra permissions for regular users, so instead just querying user own attributes.

@kop in meantime you may check if you can successfully execute this, ensuring user is able to lookup its own attributes (which is IMHO minimum requirement)
[code]

[2016-02-15 21:19] Unknwon commented on #2628
How would this affect existing users who want to query under  in user context?

[2016-02-15 21:25] nanoant commented on #2628
First of all you don't need LDAP filter to do query. It is optional, but Gogs makes it required, but it makes completely no sense to use it, because if the user is logged then it does not need to filter (lookup) himself, because he/she is the search base, so we need just to grab own attributes.

[2016-02-15 21:27] Unknwon commented on #2628
OK... just wonder why no one else reports this that I know some people is using the admin filter? Does that somehow make any differences?

[2016-02-15 21:33] sapk commented on #2627
Just to do the right thing, can we apply to all clone (also wiki) url or just for the init of the repo ?

[2016-02-15 21:34] Unknwon commented on #2627
I think that's enough.

[2016-02-15 21:35] nanoant commented on #2628
Because some LDAP servers are so smart/or dumb and let you use filter when it is gonna to match yourself. Still I need to make sure @kop can run this filter-less query successfully, because if not then there's something wrong with JumpCloud config.

Btw. shouldn't LDAP module be external, rather than merged with Gogs source? Is it a fork of https://github.com/mmitton/ldap? Because if you move out

[2016-02-15 21:36] Unknwon commented on #2628
No, the core lib is 3rd party, `modules/auth/ldap` is just a wrapper specifically for Gogs.

[2016-02-15 21:42] xxxtonixxx commented on #2627
why?, I think that it would be well for everything... are there differences between a repo doesn't initialized and a repo already initialized?

[2016-02-15 21:42] nanoant commented on #2628
Ahh... I am blind as usual, I've overlooked that you've switched to `gopkg.in/ldap.v2` in aaa3f1b2b9de437386185670bcc135202f1d8099 :)

[2016-02-15 21:48] Unknwon commented on #2627
Init page is more meant to be inited and push, URLs in other pages are not.

[2016-02-15 21:49] Unknwon commented on #2628
:sweat_smile:

[2016-02-15 21:52] xxxtonixxx commented on #2627
Ok, make sense! :+1:

[2016-02-15 21:55] kop commented on #2628
@nanoant, just tested the given query. Everything works:

[code]

[2016-02-15 22:06] nanoant commented on #2628
@kop @Unknwon Okay then it may be the search scope problem not the filter. For some reason we test `userFilter` and `adminFilter` using `ScopeWholeSubtree` and this may be the reason JumpCloud refuses to return anything for such scope.

@kop Can you try:
[code]
And it it works, please remove `-s base`, this will work in subtree mode (same as currently Gogs), and see if it fails now.

[2016-02-15 22:21] kop commented on #2628
@nanoant, tested.

Again, I've used two different LDAP accounts for bind DN: `service.gogs` (aka `<bind username>`) and `ivan.koptiev` (aka `<username>`).

`service.gogs` has permissions to search LDAP. With this account data returned for both commands (with `-s base` and without it).

`ivan.koptiev` ( with this account I'm trying to enter Gogs) does not have LDAP search permissions, it always ret

[2016-02-15 22:26] SergioBenitez commented on #2628
Using the BindDN to search for the user's attributes may not be the best idea, @kop, @nanoant. The reason I implemented the LDAP BindDN authentication this way (binding as the user to search for his/her own attributes) is because the user is likely to have the most permissions on his/her own account details. The BindDN, on the other hand, should only have as few permissions as possible, which may

[2016-02-15 22:27] nanoant commented on #2628
@kop @Unknwon Hmmzzz.... okay it seem then you are only allowed to bind but not to search, even your own attributes. Ouch that weird. This may be exactly the opposite to how the many other LDAP servers work, including mine.
In my case BindDN user is only capable to search using `mail` and `uid` attributes and retrieve them, this is safety measure and BindDN user is limited account. But User should

[2016-02-15 22:30] nanoant commented on #2628
@SergioBenitez Thanks for you feedback. Yeah I think your implementation is correct, with one exception I am not sure about is why we use `WholeSubtree` scope, I was just suspecting that JumpCloud was refusing to return anything because of that. But it seems it refuses to do any search even for own attributes, which is weird and wrong.

[2016-02-15 22:35] SergioBenitez commented on #2628
Why not? I used it mostly for completeness and to handle strange LDAP configurations where users may be nested several levels deep. If a user doesn't have permissions to read some subnode, the query results simply won't include information in those subnodes. This seems like reasonable behavior to me.

[2016-02-15 22:41] kop commented on #2628
@SergioBenitez,

I would be glad to allow users to search their own data, however, JumpCloud doesn't provide such ability. And I don't really want to work on own LDAP server, as it's an overkill for 5 man team.

They also have examples of configuration for Jenkins, Docker Registry, Wordpress, Apache and others, so I assume all this software is using Bind DN user (in fact have no idea, as I'm very

[2016-02-15 22:41] nanoant commented on #2628
@SergioBenitez Agreed. But since the final (2nd) attribute search is done with UserDN base, does it really make sense for user node to have subnodes? I am not talking about BaseDN initial search to get UserDN for password check and attribute lookup, but the 2nd search in UserDN context.

But indeed any sane LDAP server shouldn't really care if subtree or just base scope is requested, and return wh

[2016-02-15 22:49] nanoant commented on #2628
Reading https://jumpcloud.com/engineering-blog/how-to-connect-your-application-to-ldap/ seems JumpCloud does not really want regular users to be able to read their attributes.
@kop I think in such case there could be a check-box *read attributes using in BindDN context* (OFF by default) I can imagine many ppl want to use JumpCloud.

[2016-02-15 22:49] mrexodia commented on #2627
I disagree. It should be also in the clone Url (like bitbucket). Including
it there saves typing a username which is never a bad thing in my opinion.
On Mon, 15 Feb 2016 at 22:52, Toni <notifications@github.com> wrote:

[2016-02-15 22:51] kop commented on #2628
@nanoant Agreed.

[2016-02-15 22:52] SergioBenitez commented on #2628
That's ridiculous and doesn't make much sense. It also encourages bad practices.

Does JumpCloud provide support? Perhaps you can ping them, @kop.

[2016-02-15 22:53] Unknwon commented on #2627
I do not think this saving is necessary.

[2016-02-15 22:54] kop commented on #2628
@SergioBenitez Sure, they have support :)
I'll invite their representative to this thread.

[2016-02-15 23:03] mrexodia commented on #2627
Well in that case add an option to enable/disable adding a username to the
HTTPS url. Bitbucket has been doing this for years now (for clone URLs) and
I never had any trouble with it.

Now that I think of it, I did see some option to customize the HTTPs URL.
Is it possible to include this in there?
On Mon, 15 Feb 2016 at 23:54, 无闻 <notifications@github.com> wrote:

[2016-02-15 23:18] nanoant commented on #2628
I can imagine they don't want to give the regular users permission to read their own records, for some reason. But on the other hand, if somehow the BindDN user and pw leaks, then the whole user database can be dumped, if I understand correctly that JumpCloud Bind user can search for just anything.

@kop FYI the sane approach @SergioBenitez is talking, is to give BindDN user minimal search capabil

[2016-02-15 23:19] Unknwon commented on #2627
Is it possible to include this in there?

Good suggestion, but I don't think worth it? Isn't the same you use https://git-scm.com/docs/git-credential-store ?

[2016-02-15 23:21] mrexodia commented on #2627
I do use credential store but why make me type my username when it's not
needed? What are the downsides of putting a username in the clone url?
On Tue, 16 Feb 2016 at 00:19, 无闻 <notifications@github.com> wrote:

[2016-02-15 23:23] Unknwon commented on #2627
@mrexodia people who just want to clone and no wish to push.

[2016-02-15 23:25] mrexodia commented on #2627
Oh, the username would only be added to repositories you actually have push
access to. I will check what Bitbucket's behavior is on this matter and
report back here.
On Tue, 16 Feb 2016 at 00:23, 无闻 <notifications@github.com> wrote:

[2016-02-15 23:26] kop commented on #2628
@nanoant Thank you for clarification. I got what @SergioBenitez was talking about, and I think I'm agreed with him - it would be interesting to hear something from JumpCloud team about why such policy is chosen.

But policies are theoretical stuff while in practice it would be very nice to have Gogs working with any possible LDAP configurations. I believe a switch to use BindDN for searching may b

[2016-02-15 23:42] mrexodia commented on #2627
So Bitbucket just puts your username in from of every clone url even if you have no write access to the repository (this is just a random repo I found, not affiliated with it):

[code]

If the repo is public the username is completely ignored so adding it doesn't matter. I don't have any public repositories on my Gogs server so I cannot test what Gogs does right now but I will soon and report back

[2016-02-16 00:25] codyjc commented on #2628
@kop @SergioBenitez Joining on the discussion here from JumpCloud.  This is an interesting from our perspective, as we generally see two very well-established patterns over the hundreds of applications which have been configured with LDAP connectivity. Bind only for raw user/password authentication, and bind as a search user to scan the entire directory.  Our application is designed such that Jump

[2016-02-16 00:31] Unknwon commented on #2628
@codyjc thanks for joining the discussion. (I can see you just joined GitHub today :sweat_smile:)

[2016-02-16 00:52] codyjc commented on #2628
@Unknwon Ha, yeah just opened an account for JumpCloud specifically since I am a member of our customer success team.  Our engineering folks who I've been chatting with have been on here for quite some time and keep our https://github.com/TheJumpCloud up-to-date.  Still glad to be part of the discussion however and am happy to add any feedback I can from the team.

[2016-02-16 01:40] km4efp commented on #2382
commit 4e86f79a66dd71e3574d84c1912d60ff03edb50b
Author: root <root@localhost.localdomain>
Date:   Thu Jan 7 03:57:45 2016 -0500

    updating readme

    updating readme

commit cdf60bcd53435c438dadd81f27d901959b5addf4
Author: root <root@localhost.localdomain>
Date:   Thu Jan 7 01:20:48 2016 -0500

    Updating readme

    Updating readme

commit 58cd3bf013fdd75fccfbcb7500fa509e8d10d8fa
Author: ro

[2016-02-16 01:41] km4efp commented on #2382
I am authenticating as sploit using http but root appears since its the local git user.

I would prefer to have the authenticated user show when posting.

I believe thats how github does it.

[2016-02-16 01:48] Unknwon commented on #2382
You committed as `root`, that is the client side problem. Please check your local Git settings.

[2016-02-16 03:14] usagirei commented on #1864
Sorry to bring up the dead:
But i ran on the same issue using 0.8.25.0129 on a Raspberry PI 2 while testing gogs out (I love it so far btw :+1:)
Pushing via SSH does not update either the feed nor creates the WebUI view
Not a major problem since over HTTP it works, and i mainly connect to the PI over a VPN connection, but it's an issue nonetheless

The SSH Key is being detected as used (it updates

[2016-02-16 03:21] Unknwon commented on #1864
@usagirei check your `path/to/gogs/log/serv.log` file.

[2016-02-16 03:26] usagirei commented on #1864
2016/02/16 00:58:25 [T] No update task is presented: 80f6dd5b-c4e4-4e74-938f-730854ad9cf8
2016/02/16 00:59:05 [T] No update task is presented: db1e0ad8-a16e-48e7-8d3d-19586373e2a4
2016/02/16 01:01:58 [T] No update task is presented: 3c510ea9-f3f5-4eac-bd96-ad5cb46c0b8a
2016/02/16 01:02:29 [T] No update task is presented: 754431c6-c749-4302-87e4-fc576ec54250
2016/02/16 01:18:41 [T] No update task i

[2016-02-16 03:28] Unknwon commented on #1864
@usagirei thanks. Are those lines just logged? Please try another time to verify.

[2016-02-16 03:30] usagirei commented on #1864
correct, just pushed an empty commit after it:

2016/02/16 01:22:36 [T] No update task is presented: 10cc3d5d-39cd-4132-a6eb-bc424b36aefd
2016/02/16 01:30:02 [T] No update task is presented: 8787fac8-cb32-4e6d-9820-4950c74de457 <- new line

[2016-02-16 03:31] Unknwon commented on #1864
OK, so changes are been made right? (You can verify by web UI)

[2016-02-16 03:34] usagirei commented on #1864
They are, this one is a test repo i created just now to push stuff, but even without WebUI (since i've only used SSH on this test repo) i can pull it and the files are there, with complete git log

[2016-02-16 03:36] Unknwon commented on #1864
Now, check your `path/to/gogs/log/update.log` file.

[2016-02-16 03:39] usagirei commented on #1864
There's no update.log, neither on ~/gogs/log or /var/log, should i enable some option in the config then restart the service?
It's the default configuration from the provided Raspbian binaries, on prod level

[2016-02-16 03:42] Unknwon commented on #1864
When you test, are you pushing with real changes or just keep pushing `up-to-date`?

[2016-02-16 03:45] usagirei commented on #1864
Pushed a few changes to the README.md with new content on each commit:

* updated over SSH, no webui
* updated over HTTP, created web ui
* updated again over SSH with new content, file content does get refreshed  on WebUI, commits show on the commits tab and on the commit column
* added new file and pushed over SSH, file gets listed on WebUI, as expected,

none of the SSH commits show up on the da

[2016-02-16 03:53] Unknwon commented on #1864
@usagirei How you done this? https://github.com/gogits/gogs/issues/1864#issuecomment-152756107

[2016-02-16 03:54] usagirei commented on #1864
If you're asking if i did ran those commands, yes, i did, one of the first things i tried when i found the existing issue

[2016-02-16 03:55] Unknwon commented on #1864
@usagirei what is your system shell type, `sh`, or `bash`?

[2016-02-16 03:57] usagirei commented on #1864
the git user shell defaults to bash, let me change to the default shell and try it

[2016-02-16 04:06] usagirei commented on #1864
changed shell to /bin/sh, recreated the repo, pushed over ssh, and still no luck

[2016-02-16 04:07] Unknwon commented on #1864
Are you able to build from `develop` branch? Just pushed something to add more logs. (found a silent return)

[2016-02-16 04:13] usagirei commented on #1864
sure i'll give it a shot, still, will depend on how long it'll take to install all the stuff to be able to build the go sources

[2016-02-16 04:16] Unknwon commented on #1864
@usagirei http://dave.cheney.net/unofficial-arm-tarballs

[2016-02-16 05:36] usagirei commented on #1864
0.8.33.0210 on production runtime (should i run it under development?), same deal,

serv.log
2016/02/16 03:31:51 [T] No update task is presented: f86e9908-2c70-4d5a-abe0-a41e04fb7190
2016/02/16 03:32:29 [T] No update task is presented: c3adb264-c714-4abc-88e8-39abfcd7f185
2016/02/16 03:32:54 [T] No update task is presented: b9211cc3-35d2-4a42-a67d-134491e4557a

gogs.log
2016/02/16 03:23:41 [I] Run

[2016-02-16 06:19] usagirei commented on #1864
OK, build ok, now on develop branch (0.8.37.0215), and it now works under SSH (at least on dev runtime)

Update.log was now created, but is empty, even after a few pushes

Upon pushing over SSH, the console output for ./gogs web under development runtime does show:

2016/02/16 04:18:15 [D] Session ID: b25b52ce62a0a595
2016/02/16 04:18:15 [D] CSRF Token: _zlSZq4jAnp4y2Ja8ndrvgOBmdk6MTQ1NTYwMzQ5NTA3

[2016-02-16 07:56] redoz commented on #2375
It also converts the repository names to lower case, it would be nice if the original casing was preserved there too.

[2016-02-16 08:51] ChangePlaces opened #2632 "page titles across pages"
The dashboard for your home account and for an organisation account has the same title "Dashboard - ..."

Could there be some sort of identification for which user the dashboard is for such as "MyCompany Dashboard" or "Dashboard MyCompany" for an organisation called "MyCompany"? It'd make things easier when you have multiple tabs open!

[2016-02-16 09:16] focmb opened #2633 "Error message in Admin Config Panel"
When I am logged in in my googs an go to the admin panel und click on "Configuration" I get an error message:
`template: admin/config:78:38: executing "admin/config" at <.Service.EnableCache...>: EnableCacheAvatar is not a field of struct type interface {}`

I am using the gogs version 0.8.37.0215 with go language 1.5.3

[2016-02-16 10:50] slaskis commented on #1388
Could [this](https://github.com/go-xorm/cmd/blob/master/README.md#dump) be used perhaps?

[2016-02-16 14:33] emansom commented on #2592
When browsing the web I came across this: https://github.com/src-d/go-git

Quote from the README.md file:
"A low level and highly extensible git client library for reading repositories from git servers. It is written in Go from scratch, without any C dependencies."

Might it be an option for Gogs?

[2016-02-16 14:36] unclegaara commented on #1587
I think problem with app path. Old is /gopath/src/github.com/gogits/gogs/gogs new is /app/gogs

[2016-02-16 14:59] lunny commented on #1388
This is an interesting question. The dump will automatically generate create table, create index and insert into SQLs. For all kind of databases, the differences between them are  create table and create index.

[2016-02-16 15:44] vtolstov commented on #2592
I thnik best of all - create git interface and modify current operations to use this interface.
After that implement other git providers not very hard. @Unknwon what you say?

[2016-02-16 15:47] icefoxen commented on #2227
This is perfectly reasonable, but, I love Gogs and want hg support...

Would you be willing to accept patches that add it? Or should I fork Gogs and make it do what I want?  (Maybe call the new program Ghogs...)

[2016-02-16 15:52] Thibauth commented on #2592
@vtolstov, if I understood what you said correctly, I think this is the approach that [git-native-module](https://github.com/mechmind/git-native-module) is following: trying to stay compatible with the interface that gogs requires while re-implementing the internals in pure Go.

[2016-02-16 16:02] emansom commented on #2592
Please no pure go. It will cause gogs to have issues that will be long solved in libgit2. There's a reason Github and Bitbucket use it in production.

[2016-02-16 16:24] Thibauth commented on #2592
I see, I think libgit2 (and probably its go wrapper git2go?) is a good alternative and yes, I am also all for not re-inventing the wheel if possible. As a side question, I am curious about how the overhead of calling C code compares to a pure go implementation though.

[2016-02-16 16:33] emansom commented on #2592
The overhead will be considerably less than the current way of operation; spawning a process.

[2016-02-16 16:39] usagirei commented on #1864
Woke up and made some more tests:

* Yesterday i had configured it to run under the default gogs-repositories directories, SSH push updates OK
* Today, i made a symlink to ~/git to a mounted drive, reconfigured the app.ini to use that directory, SSH Pushes won't update
* Removed the symlink and made it a standard directory, SSH Pushes work again
* Renamed git to git2, and created a symlink git ->

[2016-02-16 18:04] Unknwon commented on #1587
@unclegaara yes, but the rewrite should correct them all, unless the file path of ` .ssh/authorized_keys` that Gogs thinks is not right. Or Gogs does not have permissions to rewrite.

[2016-02-16 18:06] Unknwon commented on #2227
@icefoxen you should probably fork Gogs...

[2016-02-16 18:07] bouffa opened #2636 "Image with link in markdown not working properly"
Hi,

Image links in markdown are not working properly. Sometimes, the link is replaced with the image url.

For example, this markdown command :
`[![Project Stats](image_url)](link_url)`

**sometimes** produces a link to image_url instead of link_url :

`<a href=image_url><img src=image_url /> </a>`

instead of

`<a href=link_url><img src=image_url /> </a>`

The problem can be reproduced on https:

[2016-02-16 18:09] Unknwon commented on #2592
I agree with @vtolstov 's idea.

@emansom libgit2 is written in C and it is a plain pain to compile on Windows. Will consider this option but at first we need to make things work, then better.

[2016-02-16 18:12] Unknwon commented on #1864
@usagirei thanks for the great detail!

The problem looks like is the `symlink` thing?

[2016-02-16 18:14] icefoxen commented on #2227
Okay, thanks.

[2016-02-16 18:16] Unknwon commented on #2227
A side note: Gogs may abstract Git operation level that allows any implementation to plugin with Gogs, but not sure when...

[2016-02-16 18:23] usagirei commented on #1864
As far as my testing went, issue is not exactly with symlinks, since a local symlink works, but mount points won't neither with symlinks nor with direct path

[2016-02-16 18:27] Unknwon commented on #2633
Just pushed a fix to `develop`, can you help test again?

[2016-02-16 18:27] emansom commented on #2592
@Unknwon You're sacrificing quality over potential userbase growth now. I don't think that's a wise choice.

[2016-02-16 18:28] Unknwon commented on #1864
OK, `symlink with mount` maybe?

Or just `mount` isn't working as well?

[2016-02-16 18:29] usagirei commented on #1864
simply having the repositories root inside a mount point will make SSH pushes not work

[2016-02-16 18:29] Unknwon commented on #2592
@emansom CGO could not be cross-compiled in Go, that is the real sacrifice quality of potential userbase growth. You would have to compile you own in many platforms.

[2016-02-16 18:31] Unknwon commented on #1864
@usagirei thanks!

Finally we found the problem?

[2016-02-16 18:32] usagirei commented on #1864
If more people could confirm by trying to set the root inside a mount, i'd say it is.
Then all we'd need is to find a solution, mount points are rather important on an embedded system with limited storage like the PI

[2016-02-16 18:33] Unknwon commented on #2636
Right now, only image path ends with `.svg` will produce a link to link, not image itself...

[2016-02-16 18:35] Unknwon commented on #1864
Somebody has noticed that Go has problem with finding right files for NAS (put repositories on NAS, pretty much same as your case, which put repositories on mount). Maybe it is the same thing in terms of some low level?

[2016-02-16 18:38] usagirei commented on #1864
Chances are, if they were on a unix based system, they were using mount points (i do the same for another mount point for downloading stuff over the PI), so i'd argue its probably that.

[2016-02-16 18:41] Unknwon commented on #1864
@usagirei Would you mind post the `mount` problem in [this thread](https://github.com/gogits/gogs/issues/2550) in a comment?

[2016-02-16 18:41] emansom commented on #2592
@Unknwon Seems implemented; https://github.com/golang/go/issues/4714. There are also https://github.com/karalabe/xgo and https://github.com/inconshreveable/gonative which might offer a solution.

[2016-02-16 18:43] usagirei commented on #2550
As linked above, issue #1864 may be related
When using a mount point to a local usb disk, the WebUI won't update over SSH (you can still push and clone over ssh, but updates only happen over HTTP/S)

Were you using a cifs mount? And does the repository work (but no updates, try fetching after pushing something on the nfs)

[2016-02-16 18:49] icefoxen commented on #2227
That would be nice eventually, but unless you want me to write that module for you it sounds like I'm probably better off making a fork...

[2016-02-16 18:51] Unknwon commented on #2592
@emansom thanks for the pointers, but still, I believe the quality of libgit2 as developed by GitHub, but not in git2go.

Currently, I know where to locate and fix the problem in the current implementation, but switch to git2to, no, no to say they would accept pull request efficiently, that is a road blocker and many other uncertainties. So at least for a long time, current implementation will sti

[2016-02-16 18:52] Unknwon commented on #2227
:sweat_smile:

[2016-02-16 18:58] Thibauth commented on #2592
I completely agree, I think a good starting point would be to create a list of all the functions from git-module that are called by gogs. Stabilize this as a _git backend_ interface and see if such an interface could easily be implemented using already existing libraries like git2go or pure go implementations.

I am still new to Go but it seems that the interface/type system of Go is really well-s

[2016-02-16 19:02] Unknwon commented on #2592
@Thibauth yes, you could change the title of this issue to `Abstract the Git operation level` or something similar, but not likely would be able to implemented in the near feature as we still have many tasks ahead.

[2016-02-16 19:26] focmb commented on #2633
Cloned the last develop branch and it works

[2016-02-16 19:27] Unknwon commented on #2633
Thanks your confirmation!

[2016-02-16 19:27] #2633 closed

[2016-02-16 21:49] felipesere commented on #1597
+1

[2016-02-16 22:33] maxhq commented on #2080
If the Wiki is seen as part of the repo, setting the base URL to the repo seems OK.

But to comply with *All the Wikis in the world* (tm) it should be easier to point to another Wiki page. The need to prepend each link with `wiki/` (and to specify the link title again) is not very convenient.

Is it possible to implement the classic `[[Wiki-Page]]` style links?

[2016-02-16 22:37] Unknwon commented on #2080
What does this mean?

[2016-02-16 22:44] km4efp commented on #2382
Can you add a toggle option to choose to show the authenticated user if one wishes?

[2016-02-16 22:50] jag3773 commented on #2046
This would be really nice, Github has a little publicized feature to do this by visiting `/compare` path for any repo.  Github doc at https://help.github.com/articles/comparing-commits-across-time/.

[2016-02-17 00:03] Unknwon commented on #2382
It is not about authenticated user, Git does not care who authenticated the push, but who did the committment.

[2016-02-17 00:07] Unknwon commented on #2382
The only possible to link them together is use the same email address.

[2016-02-17 00:29] maxhq commented on #2080
It means to link to another Wiki page by just specifying its name. This is the basic feature and idea of Wikis.

Basically the translation would be:
[code]
For more info see e.g. *Internal link* and *Piped link* at https://www.mediawiki.org/wiki/Help:Links#Internal_links.

[2016-02-17 01:01] Unknwon commented on #2080
@maxhq thanks, doesn't look like Markdown syntax but I get the idea.

[2016-02-17 03:01] MIYU-G opened #2638 "how to config an external issue tracker in gogs?"
I can't any config option about it in repos setting,just "External Issue Tracker URL Format"

[2016-02-17 03:01] #2454 closed

[2016-02-17 03:03] Unknwon commented on #2638
Yes, that is all Gogs have. :sweat_smile:

Close according to:

[2016-02-17 03:03] #2638 closed

[2016-02-17 03:05] Unknwon commented on #691
Close as implemented.

[2016-02-17 03:05] #691 closed

[2016-02-17 03:07] Unknwon commented on #2485
ping @mathicalee

[2016-02-17 03:08] Unknwon commented on #2302
ping @Arylo

[2016-02-17 03:08] Unknwon commented on #2313
Any updates?

[2016-02-17 03:08] Unknwon commented on #2400
Close due to lack of feedback.

[2016-02-17 03:09] Unknwon commented on #2402
ping @i00

[2016-02-17 03:09] Unknwon commented on #2457
Close due to lack of feedback.

[2016-02-17 03:09] #2457 closed

[2016-02-17 03:10] Unknwon commented on #2499
You should create different teams...

[2016-02-17 03:11] Unknwon commented on #2587
ping @nanoant

[2016-02-17 03:11] Unknwon commented on #2591
ping @floffel03

[2016-02-17 03:11] Unknwon commented on #2594
ping @Rydekull

[2016-02-17 03:11] Unknwon commented on #2596
Close as fixed.

[2016-02-17 03:11] #2596 closed

[2016-02-17 03:13] Unknwon commented on #2600
Close for now but open for continuing discussion.

[2016-02-17 03:13] #2600 closed

[2016-02-17 03:13] Unknwon commented on #2608
ping @djcf

[2016-02-17 03:13] Unknwon commented on #2610
ping @baby-gnu

[2016-02-17 06:28] NiklasRosenstein opened #2639 "Webhook test deliver wrong Git ref"
Doing a Webhook test delivery sends "master" as Git ref instead of "refs/heads/master". Gogs 0.8.25

[2016-02-17 06:46] MIYU-G commented on #2638
you mean I can't set the external issue tracker url now like external wiki ?

[2016-02-17 08:12] ChangePlaces opened #2640 "when an issue number is used, insert issue title?"
in an issue, if I refer to another issue by `#123`, then it'd be nice if it inserted the issue title as well as the link. but like here, if the issue is inserted in between code tags,for it to be ignored.

[2016-02-17 08:41] hhenkel commented on #2607
I will give it a try tomorrow when I'm back to work.

[2016-02-17 09:26] biji opened #2641 "Ability to download diff as patch"
Please add feature to download as patch while viewing commit detail:
[Split View]  [Show Diff Stats] [Download as patch]

Thanks

[2016-02-17 09:31] ultimatedirty commented on #2464
Same problem on 0.8.25.0129 (precompiled, amd64). Used Gogs Migration from freebsd/freebsd-ports and get those 500 errors in. Used Gogs Migration on gogits/gogs and its seems OK.

VPS: Ubuntu 14.04, 6 vCores, 8GB Ram

[2016-02-17 09:46] ckrack commented on #1306
I am running gogs on a shared hosting where i only have one user.

I was intedning to use the same public key for ssh and git/gogs.
The one for ssh was added before and is further up in .ssh/authorized_keys

This leads to gogs not identifying you.
The solutions is to generate a new ssh key and add this as your gogs key.

[2016-02-17 10:09] baby-gnu commented on #2610
Thanks.

We thought about switching our Redmine + [Redmine Backlog](https://github.com/backlogs/redmine_backlogs) to Gogs + [kanboard](http://kanboard.net/plugin/gogs-webhook) but it does not fit our requirements:

1. Synchronize tasks between Gogs and kanboard (kanboard/plugin-gogs-webhook#1)
2. Creating project hierarchies sharing the same taskboard.

Now, we keep redmine for our internal work a

[2016-02-17 10:17] Twisterat57 opened #2642 "Problem of links in wiki"
Hi great gogs developers.
First of all, many thanks for this amazing open source project!
I would like to be able to **share setup links on the wiki page** of the projects (ie: we have a team that prepares our Windows CE devices with specific customer applications to be installed on it) and also with Sales team for example.

### Sharing Wiki (read only) and issues (Read/Write) for specific teams:

[2016-02-17 10:18] ExiaSR commented on #2354
When I open up the installation page, I got an error from nginx. (It's running on centos 7 as well)

[2016-02-17 11:26] andreynering commented on #2640
I thought on this too. GitHub puts it in the `title` tag:

[code]

Maybe we could use a tooltip: http://semantic-ui.com/modules/popup.html

The implementation is not trivial, though:

- We should know the user/repository to search the issue title in the database
- We should handle when the issue doesn't exists
- We should handle different styles: `#123`, `user/repo#123`, etc
- Links can point to o

[2016-02-17 12:13] dakira commented on #2464
@ultimatedirty what exactly do you mean by Gogs Migration?

[2016-02-17 13:24] ultimatedirty commented on #2464
@dakira Top Menu Create -> New Migration

[2016-02-17 13:27] dakira commented on #2464
@ultimatedirty oh, okay. The error will appear for gogits/gogs if you hit F5 a couple of times. ;) Out of curiosity: what hoster are you using for your VPS?

[2016-02-17 13:41] ultimatedirty commented on #2464
@dakira Oh, I see it. My hoster is [server4you.com](http://www.server4you.com/)

[2016-02-17 14:09] TheCherry opened #2643 "Maximum Repository Creation Limit "exploit""
At the moment it make no sense to set the limit of creation maximum for a user.
The user can just add a organization and then can create multiple repository’s.

reproduce:
- Create a new user, set the "Maximum Repository Creation Limit" to 0.
- Login with the new user
- Try to create a repository. (Fine don't work)
- Create a organization
- Create a Repository with the organization as owner.
- Fin

[2016-02-17 14:57] pollend opened #2644 "Can't clone over https Invalid Token"
I can't seem to clone my repository over https. I have this configured over an apache reverse proxy if that is potentially an issue. the log just reads this:

2016/02/17 06:55:38 [...routers/repo/http.go:122 HTTP()] [E] invalid token

[2016-02-17 16:16] NiklasRosenstein opened #2645 "RAM usage"
Should I expect Gogs to perform well for moderately sized projects? I have a project with over 1000 commits with a repository size of "only" 7.5 MB. However, my server with 2GB of RAM runs out of memory when viewing the "Code" page of the repository and shows a 500 error. I can still view the "Commits" history page and Issues etc.

[code]

[2016-02-17 17:43] mbentley opened #2646 "panic on pushing repository"
When trying to push a repository for the first time, I am getting a panic:

[code]

You can test this by cloning this repo, https://github.com/mbentley/docker-demo, and then adding a remote and then try to push to Gogs.  I am now getting error 500s for the repository and I can't delete it.

As a test, I tried to clone the repo from GitHub (which was successful) and then tried to push a new branch

[2016-02-17 18:34] Vorlif commented on #2646
The same error here.
Go version: 1.5.3
Gogs version: 0.8.37.0215

[2016-02-17 18:57] mbentley commented on #2646
I just tested using the `gogs/gogs:0.8.25` docker image and it works as expected for me.

[2016-02-17 19:47] Unknwon commented on #2638
@MIYU-G

This is exactly what you need, the help description is right near the input box.

[2016-02-17 19:51] Unknwon commented on #2610
Thanks your info!

However you did not answer the question at all, how many people and how often for a push.

[2016-02-17 19:52] Unknwon commented on #2354
I have literally no control of packager.io 's documentation, I might close this one if the author of that site not responding to this thread. (he is a busy man) :sweat:

[2016-02-17 19:54] Unknwon commented on #2464
Thanks @ultimatedirty , but the problem you encounter with is different from this one.

[2016-02-17 20:05] Unknwon commented on #2639
Hi, please test on `develop` branch or https://try.gogs.io again.

[2016-02-17 20:11] Unknwon commented on #2642
Thanks your feedback!

I think you're talking private repository with public wiki and issues?

I suggest you open another issue for this and discuss.

[2016-02-17 20:12] Unknwon commented on #2640
This is cool but requires extra db query, may be considered after Gogs has cache layer.

[2016-02-17 20:13] Unknwon commented on #2643
Thanks your feedback!

I suggest you follow on https://github.com/gogits/gogs/issues/1556

[2016-02-17 20:14] Unknwon commented on #2644
Hi,

I think you're cloning with wrong user name and password.

[2016-02-17 20:16] Unknwon commented on #2645
Thanks your feedback!

But this is duplicated to https://github.com/gogits/gogs/issues/2464

[2016-02-17 20:16] #2645 closed

[2016-02-17 20:18] Unknwon commented on #2646
Thanks your feedback!

I just pushed a fix to `master` and you can test on https://try.gogs.io as well.

[2016-02-17 20:19] pollend commented on #2644
It never requested a username and password.

[2016-02-17 20:19] Unknwon commented on #2644
Because you set git to remember one?

[2016-02-17 20:25] pollend commented on #2644
this is only a problem with private repositories.

[2016-02-17 20:27] Unknwon commented on #2644
If it is a private repository, Gogs will always ask for a username and password.

If you did not see Gogs ask, that means Git remembers that.

[2016-02-17 20:31] Twisterat57 commented on #2642
Many thanks for your feedback @Unknwon ...
You mean that i should open a new issue named "private repository with public wiki and issues"?
Should i open a new issue for the links which are not working on wiki or should this one stay?

Best regards