[2016-05-23 16:07] thoraxe commented on #3114
I just noticed the warning:

`# PLEASE MAKE CHANGES ON CORRESPONDING CUSTOM CONFIG FILE`

Where is the "custom config file"???

[2016-05-23 16:20] sapk commented on #3114
it's generated after install and contain all modification from this base file. It's should be in  /opt/gogs/custom if gogs is installed in /opt/gogs

[2016-05-23 16:23] thoraxe commented on #3114
So actually it looks like there were permissions issues on reading /etc/gogs and, after those were fixed, gogs started running no problem -- even if the system didn't think my ID was the "gogs" user... so that's good I guess.

It still might require some tweaking for me, but, we'll see.

[2016-05-23 17:51] #3114 closed

[2016-05-23 19:00] laoshaw commented on #2924
Same here need docs on how to backup gogs, until then it's just nervous to put gogs for serious use.

[2016-05-23 20:42] Unknwon commented on #1311
@flyingoctopus no, it has nothing to do with `go build`. And docs asks you do `./gogs web` not `gogs web` explictly.

[2016-05-23 20:51] Unknwon commented on #1294
@bkcsoft seems the best idea right now.

The ideal solution would be able to prevent/reject git push that exceeds size limitation right now. Both the `du` and `filepath.WalkTree` can't prevent a super large push that exceeds size limitation a lot.

[2016-05-23 20:51] thoraxe opened #3119 "Can't configure logs at install for console"
- Gogs version (or commit ref): gogs-0.9.13-1462579758.3c0c7a9.centos7.x86_64
- Git version: not relevant
- Operating system: CentOS 7
- Database: (not really relevant)
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
## Description

When going through the installation dialogue, the

[2016-05-23 20:52] thoraxe commented on #2798
I'm about to hit this issue I think... is there an ETA for a fix?

[2016-05-23 20:54] Unknwon commented on #2058
@bkcsoft no... only hard line breaks are possible because blackfriday provides as an option, not for others.

[2016-05-23 20:55] Unknwon commented on #2464
@bkcsoft yes, I think it is possible as a config option.

[2016-05-23 20:56] tony commented on #1311
my thing with this is i want to hit the ground running for developing on gogs.

what is your work flow when you're developing on gogs for local development @Unknwon ?

here is what i do:

[code]

Do you run ``go install``, or do you run ``go build`` when a change happens? Do you use any tools to automatically run tests or build when developing gogs on your local environment?

[2016-05-23 20:56] captainark opened #3120 "PID file"
Hi,

I use [Monit](https://mmonit.com/monit/) to monitor daemons running on my systems. It needs a PID file to be able to check whether a process is running or not.

Could you please provide an option to generate a PID file when gogs starts ?

Thanks.

[2016-05-23 21:16] laoshaw commented on #3087
indeed a hierarchy is neede for wiki, otherwise it should not be called wiki, even file with folders can have a layout, the current wiki is a few files under one folder only.

hopefully this can be added soon, otherwise gogs is so promising and light weight

[2016-05-23 23:34] bkcsoft commented on #3111
Closed as duplicate

[2016-05-23 23:34] #3111 closed

[2016-05-23 23:35] bkcsoft commented on #2981
@Fastidious not exactly, this extends that issue

[2016-05-23 23:43] cstroe commented on #3006
I have a fix in this PR https://github.com/gogits/gogs/pull/3121
Please feel free to test and suggest any changes.

[2016-05-24 00:10] Unknwon commented on #3069
This is claimed to be fixed by merging #3086, please help test on `develop` branch.

[2016-05-24 01:21] i00 opened #3122 "When viewing details on a commit have a section to see what branches contain the commit"
When viewing the details on a specific commit it would be nice to see what branches this commit has been applied to

Kris

[2016-05-24 01:23] i00 opened #3123 "See code base?"
On GitHub when you are viewing the files there is a bit "up top" to allow you to see what code bases are used (the colorful line under the commit, branch, release, and contributer, counts) that you can click on for more info...

Can this be implemented in GoGit?

Kris

[2016-05-24 01:23] renyanwei opened #3124 "从gogs上删除一个仓库， 再添加一个同名的仓库， 发现所有原来的提交历史什么都还在。"
版本: 0.9.13.0319

[2016-05-24 02:08] Unknwon commented on #2486
@nawa thanks for the info!

ping @hchungi

[2016-05-24 02:27] Unknwon commented on #809
@herby thanks! This is indeed a bug!

[2016-05-24 07:24] robinkanters commented on #308
+1

[2016-05-24 17:42] oleersoy opened #3126 "Docker root repository setting documentation needs updating"
The Docker documentation says this:

I think this is out of date.  I don't see a symbolic link being created in start.sh and /data/gogs/conf/app.ini has the following settings:
[code]

[2016-05-24 23:23] mbuchner commented on #662
+100 We also definitely need this feature - this would make "!the!" big difference against gitlab

[2016-05-25 03:44] terrywh opened #3128 "delete single user cause all users ssh pub key missing from .ssh/authorized_keys file"
Delete single user cause all users ssh pub key missing from .ssh/authorized_keys file.

version: 0.9.13.0318
database: sqlite
os: CentOS 7

use admin account and delete a normal user account after which .ssh/authorized_keys is emptied; all other users have to remove ssh key and add it again.

[2016-05-25 08:05] lifehome commented on #176
Can someone reopen this issue?
As the repo/package on AUR is now broken, both three package is not build-able.

[2016-05-25 08:15] stevenroose opened #3129 "Provide checksums for releases"
Would it be a lot of hassle to provide checksums for the archives for every release? Just a `archive.tar.md5` file next to every archive file would be ok.

[2016-05-25 09:24] terrywh commented on #3110
0.9.13.0318 same problem, this is serious.

[2016-05-25 09:50] stevenroose commented on #1297
Any updates on this?

[2016-05-25 10:32] strk commented on #1297
I could start working on this if my pull requests weren't all stuck in the queue :(
The single-man management might be showing its limits here. With @Unknwon being busy things don't seem to move easily.

[2016-05-25 10:33] strk commented on #1297
@stevenroose but maybe you could put the "usage restriction" part into a separate issue as I think it's independent of the OpenID support (ie: I'd like to have that also for LDAP-only authentication setup)

[2016-05-25 10:46] stevenroose opened #3130 "Restrict certain users to only issues/PRs"
As suggested by @strk in https://github.com/gogits/gogs/issues/1297:

It would be useful to restrict certain users (f.e. new users or external users (see OpenID)) until they are approved. More generally, permission levels could be `none`, `feedback-only` (being issues and PRs) and `full` (being also able to have repositories). Ideally of course, this would be defined for each individual user so th

[2016-05-25 10:48] stevenroose commented on #1297
@strk done in https://github.com/gogits/gogs/issues/3130.

And I agree. @Unknwon's single-man management was the reason the Gitea fork came in existence some time ago, until Unknwon appeared again.

I would urge Unknwon to try to select at least another contributor to have permission to review PR's so that the project would move along when he has no time to do all the reviews.

[2016-05-25 11:17] strk commented on #3130
I think one issue with PR is that making a PR _implies_ the ability to create a repository (to hold the PR branch). So granting PR would automatically be granting creation of repositories.

Ideally, federated PR should be supported (ie: PR linking to branches residing elsewhere)

[2016-05-25 11:22] stevenroose commented on #3130
@strk True. However, I remember making an issue for that too, but I can't find it. Perhaps it was just a discussion on the Gitter.

[2016-05-25 11:24] stevenroose opened #3131 "Support federated pull requests"
Currently, users can only make pull requests if they have an account on the same Gogs instance. It should also be possible to make pull request from external repositories like GitHub or other Gogs/GitLab repo's.

This could be integrated with https://github.com/gogits/gogs/issues/1297 and https://github.com/gogits/gogs/issues/3130.

[2016-05-25 11:24] stevenroose commented on #3130
I made a new one here: https://github.com/gogits/gogs/issues/3131

[2016-05-25 11:41] stevenroose commented on #3120
@captainark I don't think it is up to Gogs to create PID files. I suggest using [`start-stop-daemon`](http://manpages.ubuntu.com/manpages/trusty/man8/start-stop-daemon.8.html) to maintain and monitor daemons and their PID files.

[2016-05-25 11:49] stevenroose commented on #3123
You mean what programming languages?

[2016-05-25 11:51] DeKugelschieber opened #3132 "My issues don't show up when repo belongs to organisation"
- Gogs version (or commit ref): 0.9.13.0318
- Operating system: Ubuntu 14.04 LTS (Server)
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not tried yet

## Description

Issues assigned to me won't show up below the "Issues" section when the repo the issue is created for belongs to an

[2016-05-25 12:09] roblabla commented on #3131
Somewhat related : https://github.com/gogits/gogs/issues/2210

[2016-05-25 12:32] theredcat commented on #1644
@ work We use gitlab but I'm looking for an alternative since their update and deployment process was written by crazy monkey in lack of caffeine.

But since pull request code line comments feature is missing we won't be able to switch to gogs since this is mandatory to do easy code review

[2016-05-25 13:05] sid3windr commented on #2498
I'd greatly prefer to keep everything inside GOGS; it's nice that accounts are now autocreated but they are indeed missing the name and e-mail fields currently. It would be nice to have a "default provider" for that (i.e. a configured LDAP auth backend), and have it pull the user's data from that backend upon creation.

I think we'll make do for now with an outside script that fills in missing dat

[2016-05-25 13:51] i00 commented on #3123
Yes

[2016-05-25 14:33] rbukovansky commented on #3074
Hm... We are using osTicket http://osticket.org for customer support and I'm able to do exactly that (1 mailbox, 3 aliases, and e-mails are sent with correct From: as they should).

[2016-05-25 16:34] crohr commented on #2354
@Unknwon really sorry for the wait. I think it would be best to put that doc in `gogits/docs`, and have a single file per distribution? Then I can update the page on `pkgr/gogs` on packager.io so that it points to the doc.

[2016-05-25 19:33] edacval commented on #176
You can use https://github.com/edacval/pkgbuilds/ as starting point . Works for me perfectly.

[2016-05-25 20:24] bkcsoft commented on #176
As I use arch on my workstation, and have extensive knowledge of pkgbuilds,
I can take at look at the package in AUR :)

[2016-05-25 20:27] bkcsoft commented on #3123
There's already an issue for this (search for code statistics). Close #3123
as duplicate
On May 25, 2016 15:52, "Kris Bennett" <notifications@github.com> wrote:

[2016-05-25 20:27] #3123 closed

[2016-05-25 20:42] edacval commented on #176
I also started from the AUR version. Deeply rewrote and simplified PKGBUILD, package can be easily upgraded or replaced with another upstream branch version.

[2016-05-25 20:57] bkcsoft commented on #3129
This seems fairly simple, I can have a look tomorrow. Golang has built-in
support for different chechsums so generating one is easy.

[2016-05-25 22:34] stevenroose commented on #3129
Yeah, I just don't know how the releases are made. Probably not Go, but some kind of GitHub WebHook feature, no?

[2016-05-25 23:59] bkcsoft commented on #648
PR #3109 is a WIP for `gogs restore`

[2016-05-26 00:01] bkcsoft commented on #2925
Closing as duplicate of #648
Also see PR #3109

[2016-05-26 00:01] #2925 closed

[2016-05-26 00:15] edacval commented on #3132
#1820 ?

[2016-05-26 00:27] DeKugelschieber commented on #3132
Yes, sound familiar :)

[2016-05-26 00:27] #3132 closed

[2016-05-26 01:16] bkcsoft commented on #353
Wouldn't this be better setup as a cronjob that runs `gogs dump`? That way you can have the backup-script upload/place/move the file anywhere :smiley:

@Unknwon

[2016-05-26 02:14] bkcsoft commented on #551
I've had a look at this and it seems almost terribly simple to implement (with regards to go-git-module). Performance-wise (at least for `git`-commands) I don't see any reason to cache it either to be honest...

(all time-related things are ran on the gogs-repo, on a Core i5-3317U @ 1.70GHz )

## Top Commtters
[code]
which is easy to parse:
[code]

[code]

Though for Gogs we'd need to do `sort|uni

[2016-05-26 02:29] bkcsoft commented on #552
@barracks510 I'm guessing anyone (everyone even) running Gogs behind a reverse proxy would have these Headers (if any) be set by said proxy as well :smiley:

[2016-05-26 02:50] bkcsoft commented on #636
https://github.com/gogits/gogs/blob/master/routers/repo/http.go#L362 `input, err = ioutil.ReadAll(reqBody)` is **the** line that makes Gogs use a lot of RAM when pushing/pulling over HTTP. Not sure why that block is required either to be honest @Unknwon ?

[2016-05-26 06:52] fanningert commented on #176
Thanks, I will update the packages.

[2016-05-26 07:58] binaryben commented on #96
+1 for this feature please! Would be good to have my own Git repo available on GitHub when needed.

[2016-05-26 08:19] bkcsoft commented on #2305
Could put Gogs into a maintenance-mode (this would be nice for when running backups as well)

[2016-05-26 08:37] fanningert commented on #176
[Gogs AUR package](https://aur.archlinux.org/packages/gogs/) - Build options "sqlite pam cert"
The current version of the gogs package is possible to build.

[Gogs-Git AUR package](https://aur.archlinux.org/packages/gogs-git/) - Build options "sqlite pam cert"
The package is updated to current commit. Build on my machine with positive result.

[Gogs-Git-Dev AUR package](https://aur.archlinux.org/p

[2016-05-26 08:39] fanningert commented on #176
@edacval My package is not so simple, because I read the .gopmfile and load the correct commit version from the repository.

[2016-05-26 08:52] LucksBoy commented on #776
i need this feature

[2016-05-26 09:42] kinnarr commented on #3110
I have the same behavior, if my account has an access token. After deleting this, cloning with empty username and password doesn't work any more.

[2016-05-26 10:07] Der-Arzt opened #3134 "Admin passwort stored in clear text in Config-File"
- Git version: newest stable in Debian repositories
- Operating system: Debian
- Database:
  - [ ] PostgreSQL
  - [x ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x ] Not relevant

## Description
I recognized that my password for the admin user I created during the installation is stored in clear in the config-file. Why

[2016-05-26 10:10] kinnarr commented on #3110
I found the source for this behavior and will submit a pull request later today

[2016-05-26 10:11] Der-Arzt commented on #3134
Version: v0.9.13

[2016-05-26 10:13] bkcsoft commented on #3134
It does not store the admin password in `app.ini`. Unless you mean the
database password, which have to stored in plain-text AFAIK

[2016-05-26 10:33] bkcsoft commented on #2778
Entire EU, by law. Easy to add :smile:

[2016-05-26 10:43] bkcsoft commented on #3016
@joubertredrat reason for closing it? to the best of knowledge Gogs still doesn't have audit logs? :)

[2016-05-26 13:04] alfiepates opened #3135 "Configurable minimum password length requirement"
As per a conversation in the gogits/gogs gitter room, the ability to set a minimum password length requirement for passwords would be a valuable security feature. Right now, the minimum password length seems to be a hardcoded... 1. Not great, by any means.

Some poking around in the codebase tells me that [at some point, there was a hardcoded 6char password minimum, but this was removed](https://g

[2016-05-26 13:07] jhasse commented on #3135
Related trollo ticket: https://trello.com/c/inVvHNWT/352-password-security-policy

A minimum password length would be more then enough for me :)

[2016-05-26 13:58] homme commented on #1703
@Fusty I had the same symptoms and checked `log/serv.log` as suggested by @Unknwon. This showed errors containing this string:

    2016/05/26 13:06:06 [...ts/gogs/cmd/serve.go:128 handleUpdateTask()] [E] Fail to trigger task: Head http://localhost:3000/geodata/web-observatory-geoapi/tasks/trigger?branch=master&secret=xxx: malformed HTTP response "\x15\x03\x01\x00\x02\x02"

This led me to fix the

[2016-05-26 14:58] grunmin commented on #1864
Same question or even worse. When I first push my code to an empty repo with ssh, the gogs service shutdown and  even system halt for a while. As a comparison, that I push to an empty repo with https or I push to a repo which first init by https with ssh work fine.
There is something in log file
[code]

[2016-05-26 16:24] lifehome commented on #176
@fanningert Any idea why would this always happen?

[code]

[2016-05-26 16:58] Jitsusama commented on #936
+1

[2016-05-26 17:42] fanningert commented on #176
@lifehome Please look at this post https://bbs.archlinux.org/viewtopic.php?id=160829

[2016-05-26 18:19] Der-Arzt commented on #3134
Ok, sorry - I mixed things up. The password in the config-file was the
password for the SMTP-Server.
But thanks a lot for your help.

[2016-05-26 19:46] captainark commented on #3120
Most apps that run as a daemon do provide a way to write a PID file when they start.

I can't use `start-stop-daemon` since I run systemd.

For the time being, I've added the following in my gogs.service unit file :
[code]

I've also created a `/etc/tmpfiles.d/gogs.conf` file to manage the `/run/gogs` folder creation when the server reboots :
[code]

I still hope PID file management will get imple

[2016-05-26 20:54] Crafter6432 commented on #2217
Wouldn't it be easier to support binding to localhost for now?

[2016-05-26 21:03] #3134 closed

[2016-05-26 21:29] ccatlett2000 commented on #552
If this is implemented, please allow disabling these headers being set. I set options for most of these headers via an apache2 reverse proxy, and would prefer to not have to try to strip them out of every response.

[2016-05-27 01:52] lifehome commented on #176
Uh, I have not messed up my system with i686 and x86_64 libs, so thanks for your concern.
However after reading the whole post didn't really solve my question, any two cents?

[2016-05-27 05:37] kychan92 commented on #796
:+1:  This would be a great addition to the (already great) tool :)! How difficult is this to realize? I might give a try contributing.

[2016-05-27 06:06] fanningert commented on #176
I test the package build (on x86_64, armv6h, armv7h) with yaourt , packer and manually with makepkg. But I don't get your error.

[2016-05-27 08:21] nobecutan commented on #2384
+1

[2016-05-27 08:57] weisong-icarbonx opened #3139 "迁移失败"
迁移失败：Clone: execution is timeout [duration: 10m0s] - error: unable to write sha1 filename /data/gogs/gogs-repositories/icarbonx/cos-java-sdk.git/objects/pack/pack-522c4ac57b9e6e51220d7da87a313ce6d3ac1652.pack: No such file or directory fatal: cannot store pack file fatal: index-pack failed

src:https://github.com/tencentyun/cos-java-sdk

[2016-05-27 09:31] genofire commented on #144
It should not be so difficult just add
[code]
and add on the most element with class `grid` or `menu` the class `stackable`.
(So it look not good on mobile, but is useable -> https://github.com/genofire/gogs/commit/14fcd38a7566b5f3ee483ad6ad04ae67605214ab)

[2016-05-27 11:34] jmptbl opened #3140 "Add repo timestamps to API output"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.9.25.0506
- Git version: 2.1.4
- Operating system: Debian 8
- Database:
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] SQLite
- Can you reproduce

[2016-05-27 18:36] fanningert opened #3141 "Problem on build of package with TIDB flag (using Glide)"
- Gogs version (or commit ref): 84d9aff (develop branch)
- Git version: 2.8.3
- Operating system: ArchLinux
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
  - [x] TiDB
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [X] Not relevant
- Log gist:
[code]

## Description
I tested the build with the `tidb` flag. But I get this build error

[2016-05-27 20:00] optikfluffel commented on #952
Any updates on this?

[2016-05-28 00:38] stevenroose opened #3142 "Support authentication source config file"
We are trying to [package](https://github.com/YunoHost-Apps/gogs_ynh) Gogs to work with [YunoHost](https://yunohost.org/), but this issue affects anyone packaging Gogs automatic installation.

We want to enable LDAP authentication during installation, but when automating the installation, it is hard to inject the authentication config into the SQL table because the table is only initialized on the

[2016-05-28 01:26] Unknwon commented on #809
@herby `develop` branch and demo site are now correct!

It corrects all wrong count at start, so you don't need to do anything to fix old values.

[2016-05-28 01:34] Unknwon commented on #3045
Fix has been pushed to `master`, closing.

[2016-05-28 01:34] #3045 closed

[2016-05-28 06:49] mbi commented on #3045
@Unknwon 👍 thank you!

[2016-05-28 10:10] xufanghui opened #3143 "通过ssh远程登录服务器（root账号），出现账号没有shell的权限问题"
通过ssh远程登录服务器（root账号），出现账号没有shell的权限问题，下面是提示内容
PTY allocation request failed on channel 0
Hi there, You've successfully authenticated, but Gogs does not provide shell access.
If this is unexpected, please log in with password and setup Gogs under another user.

有没有好的解决方法，最不幸的是我gogs服务已经关了

[2016-05-28 10:22] bkleef commented on #3003
Same here on Gogs 0.9.25.0506 and Go 1.6.2. Strange is that only one user has this issue.

[2016-05-28 12:38] sluedecke commented on #211
This is related to https://github.com/gogits/gogs/issues/2097 and an external renderer might be a solution for both.

[2016-05-28 13:57] irstacks opened #3144 "Repository `official website` field disallows non-standard top-level domain public suffixes"
- Gogs version (or commit ref): 0.9.13.0318
- Git version: 2.7.3
- Operating system: Linux
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [x] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant

## Description
Repository `official website` field (via __Settings__) disallows non-standard public suffixes/top-level domains like

[2016-05-28 15:37] bkcsoft commented on #3144
I'll have a look at fixing this tomorrow :)

[2016-05-29 10:52] lifehome opened #3146 "SSH and port is not supported"
- Gogs version (or commit ref): 0.9.28.0527
- Git version: e9ae926e040c94ce66666ae6c330c93918fa321c
- Operating system: ArchLinux
- Database:
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [X] No
  - [ ] Not relevant
- Log gist:

## Description

I am creating a migration repo, however the following error appe

[2016-05-29 13:00] lifehome opened #3147 "[Suggestion] Supporting PGP signed commit"
- Gogs version (or commit ref): 0.9.28.0527
- Git version: e9ae926e040c94ce66666ae6c330c93918fa321c
- Operating system: ArchLinux
- Database:
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [X] Yes, URL: https://try.gogs.io/lifehome/viu-proxy/commits/master
  - [ ] No
  - [ ] Not relevant
- Log gist: N/A

## Description

I am creating a mirror

[2016-05-29 13:55] ekozan commented on #3147
Dupe of https://github.com/gogits/gogs/issues/2321 and https://github.com/gogits/gogs/issues/2981

Work in progress here : https://github.com/gogits/gogs/pull/3127

[2016-05-29 13:57] #3147 closed

[2016-05-29 19:51] Marko-M commented on #3045
Thanks @Unknwon.

[2016-05-29 20:05] james2doyle commented on #3045
👍

On Sun, May 29, 2016, 12:52 PM Marko Martinović <notifications@github.com>
wrote:

[2016-05-29 21:50] bkcsoft commented on #2217
We already do that :)

[2016-05-30 04:19] bkcsoft commented on #2971
Closing as duplicate of #2903

[2016-05-30 04:19] #2971 closed

[2016-05-30 04:33] Marcel-Robitaille opened #3148 "Gogs fails to start"
- Gogs version (or commit ref): 1:0.9.13-3
- Git version: 2.8.3
- Operating system: Arch linux (`uname -a`: `Linux nas 4.5.4-1-ARCH #1 SMP PREEMPT Wed May 11 22:21:28 CEST 2016 x86_64 GNU/Linux`)
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist: https://gist.gi

[2016-05-30 09:12] Unknwon commented on #1313
@arnehormann That's a good news! But we have to wait until Gogs stops supporting Go 1.6 I guess.

[2016-05-30 09:13] Unknwon commented on #1311
@tony I do `go build -tags "sqlite"` and `./gogs web`. Never `go run`.

[2016-05-30 09:18] arnehormann commented on #1313
@Unknwon thankfully not, the x/crypto release cycle is decoupled from Go itself.

[2016-05-30 09:25] Unknwon commented on #2354
@crohr No problem! Just tell me which files should I have on that repository, I'll update them, and you can make a initial PR for those files which could be the best :D

[2016-05-30 09:34] tboerger commented on #2438
Caddy is an example how to integrate plugins, it's compiled into the binary as already suggested, you extend the source similar to caddyext.

[2016-05-30 09:36] tboerger commented on #2438
For further reference https://github.com/caddyserver/caddyext

[2016-05-30 10:04] Unknwon commented on #636
@bkcsoft good point! Maybe you could try to use a continuous reader see if it works?

[2016-05-30 10:44] jeppech opened #3149 "[Feature] Multiple assignees"
I'm gonna reference another feature that Github just implemented, [multiple assignees](https://github.com/blog/2178-multiple-assignees-on-issues-and-pull-requests)

This would be a nice-to-have feature, in Gogs aswell.

[2016-05-30 11:24] bkcsoft commented on #636
I can try :)

[2016-05-30 13:20] edacval commented on #3148
According to log , something is already listening on port 3000 (nodejs?) .   `sudo ss -lptn|grep 3000` will give an answer

[2016-05-30 16:09] bkcsoft commented on #636
This will be a much larger task than I anticipated... Involving goroutines and channels :cry:

[2016-05-30 16:16] Timetopretend commented on #636
Excited to see movement here :)

[2016-05-30 17:39] Marcel-Robitaille commented on #3148
Thanks @edacval, I should have caught that one. Changing the port in `/srv/gogs/conf/app.ini` seems to have fixed it.

[2016-05-31 01:45] sun5495 opened #3150 "group users of gogs can not read commit code to project belongs to a group"
Gogs: You do not have sufficient authorization for this action
User **** does not have level 2 access to repository opdev/watch.git
fatal: Could not read from remote repository.

when a project is converted to a group, the member of the group can not commit code.

[2016-05-31 05:19] atomi opened #3152 "glide breaks raspberry pi/arm docker build"
- Gogs version (or commit ref):
https://github.com/gogits/gogs/commit/bcd4adb3a0b59581ee3ddca2c31ae8d339b92cfd
- Operating system:
arch linux docker/raspberry pi
- Can you reproduce the bug at http://try.gogs.io:
  - [x ] Not relevant
## Description

This commit https://github.com/gogits/gogs/commit/bcd4adb3a0b59581ee3ddca2c31ae8d339b92cfd which adds glide, breaks the raspberry pi docker build.
Gl

[2016-05-31 07:35] bkcsoft commented on #636
@Unknwon is there a reason for not using the `post-recieve`-hook instead of the callback that requires that line? seems like it would be way easier to implement it correctly that way :smiley:

[2016-05-31 07:36] relipa commented on #776
So do I

[2016-05-31 08:13] kakamessi99 opened #3153 "can not fetch golang.org/x/.. package"
when i use glide upate the project ,some errors occurred like this

![1](https://cloud.githubusercontent.com/assets/7124009/15667764/813b8d70-274a-11e6-82b4-f1ce25c678cc.png)
what shoud i do to make it work

[2016-05-31 11:17] richmahn commented on #1071
The PR is now #3151

[2016-05-31 11:22] roblabla opened #3154 "Duplicate issue race condition"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref):0.9.13.0318
- Git version: 2.7.4
- Operating system: NixOS (Linux)
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you repro

[2016-05-31 13:28] san- opened #3156 "May be interesting to have pull-request from a branch to another, on same repository."
I have the version 0.9.13.0318, and the ability to do pull-request between two branches on same repo, but it is not possible when the repo is a fork.

What about to introduce this aproach?

[2016-05-31 14:36] shyim opened #3157 "Change Owner of Repository, Whitescreen"
- Gogs version (or commit ref): 0.9.28.0527
- Git version: git version 2.6.4 (Apple Git-63)
- Operating system: Mac OSX
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [X] No
  - [ ] Not relevant
- Log gist:
https://gist.github.com/shyim/763f4c8ca24c8271b4758550e19fd553

[code]
## Description

Open

[2016-06-01 02:41] irstacks commented on #3144
I think I'm wrong -- it seems instead it requires an _http://_-esque prefix. Oops.

[2016-06-01 02:41] #3144 closed

[2016-06-01 06:44] terrywh commented on #3128
gdb backtrace to ssh_key.go:595 `RewriteAllPublicKeys` method which generate a empty `authorized_keys.tmp` file

[2016-06-01 08:09] terrywh commented on #2944
你这个日志就是还没升级完成，正在做 migrate，我这个升级等了好久的。。。

[2016-06-01 08:12] Unknwon commented on #636
@bkcsoft no worries, I'll take a deep look. Not sure why does it matter with `post-recieve` hook?

[2016-06-01 11:19] elead1 opened #3158 "Remove RUN_USER check on Windows"
- Gogs version (or commit ref): 0.9.13.0319
- Operating system: Windows
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [X] SQLite

## Description

...
Regarding Disqus comment located [here](https://disqus.com/home/discussion/gogsweb/gogs_go_git_service_a_self_hosted_git_service_written_in_go_092/?utm_source=reply&utm_medium=email&utm_content=read_more#comment-2705997342), please remove the RUN_

[2016-06-01 11:22] Unknwon commented on #636
Clean up the code for `http.go` a bit: https://github.com/gogits/gogs/commit/c041273dd334fc7a45ca6cb67ea2c2b492c4a5ed

Still working on the `input, err = ioutil.ReadAll(reqBody)` thing.

[2016-06-01 14:47] hhenkel opened #3159 "Issue count wrong"
- Gogs version (or commit ref): https://github.com/gogits/gogs/commit/c041273dd334fc7a45ca6cb67ea2c2b492c4a5ed with rebased https://github.com/gogits/gogs/pull/2966 applied.
- Git version: 1.8.3.1
- Operating system: Red Hat 7.2
- Database:
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [X] Not rel

[2016-06-01 16:47] hw0930 opened #3160 "源码安装 macaron.v1 ini.v1 卡住"
源码安装 macaron.v1 ini.v1 卡住

[2016-06-01 16:55] #3160 closed

[2016-06-01 17:09] burik666 commented on #1580
+1

[2016-06-01 17:13] ITwrx commented on #649
first, let me say thanks for gogs. It looks very promising for my use case, especially assuming this is implemented.

imho, it would be ideal if permissions could be set thusly for any given repo:

read/write for wiki (public read, write by user, user group or all users)
read/write for issues (public read, write by user, user group or all users)
read/write for repo/code (public read, write by user

[2016-06-01 21:49] nmaas87 commented on #3003
@bkleef I can confirm this, seems to be SSH only.

[2016-06-01 22:15] jsevilleja opened #3161 "Gogs answers to go-get with a 404 when requesting nested packages"
Hi,

when requesting a package like git.jsevilleja.org/golibs/http/handlers gogs answers with a 404, which causes this:

package git.jsevilleja.org/golibs/http/handlers: unrecognized import path "git.jsevilleja.org/golibs/http/handlers" (parse https://git.jsevilleja.org/golibs/http/handlers?go-get=1: no go-import meta tags)
package git.jsevilleja.org/golibs/http/utils: unrecognized import path "gi

[2016-06-02 09:16] bkcsoft commented on #636
The issue is the callback is reading refname, oldsum and newsum from the http-request. This is why it needs to store it (unless you do magic), unless you use the `post-recieve`-hook which would give us this automagically :)

Also, I'm still working on this :laughing:

[2016-06-02 15:33] b-connect commented on #776
+1

[2016-06-02 17:27] lukeawyatt commented on #1820
**+1** on this, issue management over multiple organizations will make a huge difference in personal workflow.  In addition, a milestone filter accompanying this would also be beneficial.

[2016-06-02 17:35] DeKugelschieber opened #3163 "Assign organisation member to issue"
- Gogs version (or commit ref): 0.9.13.0318
- Operating system: Ubuntu 14.04 LTS Server
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite

## Description

I cannot assign an organisation member to an issue within a repository which belongs to the organisation. The only user listed when trying to assign him is me. I couldn't reproduce it on try.gogs.io. Should I upgrade?

Edit:
The repo h

[2016-06-02 19:19] Unknwon commented on #636
@bkcsoft oops, hope does not break your code too much.... :sweat:

[2016-06-02 21:08] strk opened #3164 "Misplaced "Gravatar email" field in settings page"
The "Gravatar email" field in the user setting page is part of the user profile form, but there is a _separate_ form for the avatar settings (submitted by "Update Avatar Settings").

I  think it would make sense for "Gravatar email" to be part of "Avatar Settings" instead of the profile.
In particular, it should be made part of a "Gravatar" setting which should be mutually exclusive with "Custom A

[2016-06-02 21:17] strk commented on #3161
I *think* github support is built into "go get" (hard-coded).
It would be nice to provide some mechanism to make what you'r asking for possible though.
It takes exposing a "go-import" meta tag, like here: http://strk.kbt.io/projects/go/libravatar/ (view sources)

The only thing to deal with would be either letting the user decide whether or not to enable the "go-import" tag (which only makes sense

[2016-06-02 21:21] strk commented on #3161
Oops sorry, I see it's already implemnted via go-get param as per #1878 (is this  a duplicate of that ticket, btw?)

[2016-06-03 02:11] wj5346599 commented on #3143
同样是这个问题。

[2016-06-03 03:00] cmpis opened #3165 "Cannot clone repository with `ssh://` in front of url"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.6.1.0325 Beta
- Git version: git version 1.7.10.4
- Operating system: Debian; Linux s2 2.6.32-042stab113.21 #1 SMP Wed Mar 23 11:05:25 MSK

[2016-06-03 08:07] smcquay opened #3166 "hand in gogs sera when pushing to large repo"
- Gogs version (or commit ref): first noted in c041273dd334fc7a45ca6cb67ea2c2b492c4a5ed
- Git version: git version 2.7.4
- Operating system: Ubuntu 16.04 LTS
- Database:
  - [X ] PostgreSQL
- Can you reproduce the bug at http://try.gogs.io:
  - [X ] Yes (provide example URL): https://try.gogs.io/smcquay/go

## Description

When I try to push a commit to a large repo (i.e. the go source tree) and p

[2016-06-03 08:31] merlin-tc commented on #3013
I'd be really interested in that too.

[2016-06-03 11:13] goriy commented on #1926
I've got (maybe) similar issue.
There are two repositories:

`https://example.com/myuser/repo1`
and
`https://example.com/myuser/repo2`

At root of repo1 there's `.gitmodules` file:

    [submodule "shared/repo2"]
        path = shared/repo2
        url = ../repo2
        branch = master

When I do `git clone  --resursive` on client it works right for both `https` and `ssh` urls.

When I look at re

[2016-06-03 12:15] bkcsoft commented on #636
@Unknwon some breakage, easy to fix though :smiley:
and I need to refactor anyhow :laughing:

[2016-06-03 16:02] tomterl commented on #2164
We were hoping to deploy gogs inhouse, but this issue is a showstopper -- is there progress? Maybe something a go-beginner can work on?

[2016-06-03 19:34] Lednerb commented on #2953
Can confirm this.
Same issue here.

This also happens when the submodule is also hosted on the same gogs installation.

[2016-06-04 03:54] vitorsilvalima commented on #3152
Further Information:
+ git clone -b 0.10.2 https://github.com/Masterminds/glide /tmp/go/src/github.com/Masterminds/glide
Cloning into '/tmp/go/src/github.com/Masterminds/glide'...
Note: checking out '2d0eb388e16d833ba3c55068335b3577b6b09ff0'.

You are in 'detached HEAD' state. You can look around, make experimental
changes and commit them, and you can discard any commits you make in this
state wit

[2016-06-04 04:36] vitorsilvalima commented on #3152
I ran 'ls -lah' inside the directory to see the symbolic links and this is what I got. There is no glide.yaml inside that directory

+ go install
+ mkdir -p /tmp/go/src/github.com/gogits/
+ ln -s /app/gogs/ /tmp/go/src/github.com/gogits/gogs
+ cd /tmp/go/src/github.com/gogits/gogs
+ ls -lah .
total 24764
drwxr-xr-x    6 root     root        4.0K Jun  4 04:28 .
drwxr-xr-x    3 root     root

[2016-06-04 05:03] vitorsilvalima commented on #3152
I think it isn't an error. I have just tested it again.
Follow the steps bellow:
1- git clone git@github.com:gogits/gogs.git
2 - cp Dockerfile.rpi Dockerfile
3 - docker build --tag='gogs' .

It correctly worked for me.

[2016-06-04 05:55] benoitjupille opened #3167 "New access rights : only issues"
Hi,

I was wondering if it would be a good idea to create a new access right, to authorize a user to see only issues.

With this functionnality, we could give access to gogs to customers, or beta-testers, but without giving them access to the source code. They can only read / post / edit issues.

Some thoughts for a "issues-only" user :

- When he access a repo, only "Issues" and "Wiki" tabs are s

[2016-06-04 07:59] atomi commented on #3152
I think my Pi is burnt out I'm not able to test it again.
By the way you can tell docker build to use just the .rpi file
`docker build -t my/gogs -f Dockerfile.rpi .`
But i don't think our errors were similar anyway.

[2016-06-04 12:18] NAAVOO opened #3168 "Emojify is not defined & can't add SSH key"
- Gogs version (or commit ref): 0.9.13.0318
- Git version: 2.7.4
- Operating system: Ubuntu 16.04
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
### Emojify is not defined
![image](http://i.imgur.com/2l64rBB.png)

### Can't add SSH key
When I

[2016-06-04 13:57] jsevilleja commented on #3161
I think it is, yes. Sorry for the duplicate. I'm going to close it and continue on #1878

[2016-06-04 13:57] #3161 closed

[2016-06-04 14:02] jsevilleja commented on #1878
I can't clone public subpkgs:

[code]

[2016-06-04 15:48] vitorsilvalima commented on #3152
hahah how did  you burn it? Anyway, I compiled using your command.
docker build -t my/gogs -f Dockerfile.rpi .
Sending build context to Docker daemon 16.62 MB
Step 1 : FROM hypriot/rpi-alpine-scratch:v3.2
 ---> f87d69083db4
Step 2 : MAINTAINER jp@roemer.im, raxetul@gmail.com
 ---> Using cache
 ---> 703a0f4bbfa3
Step 3 : ADD https://github.com/tianon/gosu/releases/download/1.9/gosu-armhf /usr/sbin/

[2016-06-04 16:46] atomi commented on #3152
It got too hot.  I'll close this for now. Thanks.

[2016-06-04 16:46] #3152 closed

[2016-06-05 06:13] denisz1 commented on #2986
+1
But keep it simple, just have a link "check for updates", no need to continually poll. Link can point to latest release page.

[2016-06-05 13:44] beniwtv opened #3169 "Rocket.Chat webhook: slack failed with: {"success":true}"
- Gogs version:  0.9.28.0527
- Git version: 2.7.4
- Operating system: Ubuntu 16.04
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log:

"[...rc/runtime/asm_arm.s:990 goexit()] [E] slack failed with: {"success":true}
[T] Hook delivery failed: 1053b9b9-2c6f-48c6-8c40-cb

[2016-06-05 16:37] ghost opened #3170 "FR: API to close already existing issue"
Probably via edit, though it can have endpoint of its own.

[2016-06-05 18:49] stonewareslord opened #3171 "Markdown code blocks not rendered correctly"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.9.30.0601
- Git version: Unknown
- Operating system: Unknown
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduc

[2016-06-05 22:24] mc-crafty commented on #698
For anyone else, I know it's not a great, but a quick workaround I've been using is creating a new branch in your repo called 'bin' or something similar and creating the release for your repo from that

[2016-06-06 03:38] xxxifan commented on #3143
因为你是用的root帐号启动的gogs服务吧，应该用另外的一个帐号
或许使用内置的ssh服务，指定另外的端口也可以，没有试过

[2016-06-06 03:39] xxxifan commented on #3113
我也碰到这种问题，push的时候提示User permission denied,好像几乎都是在组织里面push的时候会出现！

[2016-06-06 18:26] NAAVOO commented on #3168
Already solved, it was my problem with the nginx reverse proxy.

[2016-06-06 18:26] #3168 closed

[2016-06-06 19:23] ronisbr opened #3172 "Plans for a new Gogs release"
Hi guys!

Is there any plans for a new Gogs release? There is some new features committed after the 0.9.13 release that I am really wanting, e.g. https://github.com/gogits/gogs/pull/3000

[2016-06-07 00:24] alfiepates opened #3173 "Gogs not rendering escaped characters in organisation names correctly."
- Gogs version (or commit ref): v0.9.13
- Operating system: Linux, AMD64
- Database: SQLite

## Description

Simple little bug today. I created an organisation, and then edited an apostrophe (`'`) into the organisation's full name. The name was stored and rendered with a `&#39;` in place of the apostrophe, which isn't exactly the prettiest.

Prod example at https://git.alfiepates.me/alfies-dotfile

[2016-06-07 00:38] Rhys commented on #776
I would also appreciate it.

[2016-06-07 02:46] bkcsoft commented on #3173
Closing as duplicate of #1937

[2016-06-07 02:46] #3173 closed

[2016-06-07 04:00] viklele commented on #2210
+1

[2016-06-07 09:24] renewsorensen opened #3175 "Pull request gives Internal Server Error (500)"
- Gogs version (or commit ref): 0.9.13.0319
- Git version: git version 2.5.2.windows.1
- Operating system: Windows Server 2012 R2 Standard
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [x ] No
  - [ ] Not relevant
- Log gist:
2016/06/07 11:20:44 [T] PullRequest[0].testPatch (patchPath): g:\Git\s

[2016-06-07 09:34] renewsorensen commented on #3175
I found that deleting the content of tmp fixed the issue.

[2016-06-07 10:15] socketubs commented on #1518
Loading [Django](https://github.com/django/django) repository (~23k commits) with gogs takes about ~5 seconds.

[2016-06-07 12:59] BurakDev commented on #3166
Duplicate, try using SSH

[2016-06-07 18:35] alfiepates commented on #3173
Apologies, Search didn't turn anything up. Or maybe I didn't search hard enough, one of the two.

[2016-06-07 19:57] strk opened #3177 "Including a slash in a wiki page title results in a 404 on saving the page"
If you include a slash ("/") in a wiki page title, saving the page results in a 404 (unstiled, btw).

[2016-06-07 19:58] strk commented on #3177
For the record: the slash addition was my attempt at doing a wiki hierarchy (see #3087)

[2016-06-08 00:29] bkcsoft commented on #3171
I'll have a look at this tomorrow, but it's most likely a bug in blackfriday (the markdown-parser/renderer) and not Gogs itself.

[2016-06-08 03:12] smcquay commented on #3166
[code]

I believe that is a spelling to use ssh, no?

[2016-06-08 06:17] bkcsoft commented on #3169
Got a link to the docs for that quote? :smiley:

If it's true then we have a bug that should be fixed :laughing:

[2016-06-08 06:20] bkcsoft commented on #3172
Closing with a semi-answer: Author of gogs is currently busy, no idea when the next release will be

[2016-06-08 06:20] #3172 closed

[2016-06-08 06:37] ciruz opened #3178 "Merging a pull request creates a negative issue count"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.9.28.0527
- Git version:
- Operating system:
- Database:
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] SQLite
- Can you reproduce the bug at htt

[2016-06-08 06:40] bkcsoft commented on #3170
I'll take it.

Note-to-self: https://developer.github.com/v3/issues/#edit-an-issue

[2016-06-08 07:00] olaf1 commented on #2977
### Enabling [MathJax](https://www.mathjax.org/) using Apache mod_ext_filter

The only way I found to globally enable MathJax is to _inject_ a `<script>` tag into each header section of Gog's generated html-files. This is a bit hackish, but is fully practicable, as long as we don't have a realy busy site (the sed script only takes approx. 2ms extra time). It works for me, anyway.

Still I thing Ma

[2016-06-08 07:15] bkcsoft commented on #3157
It should probably re-direct to the new Location (i.e. `/new.org/repo/settings` instead of `/old.org/repo/settings`).

[2016-06-08 07:30] bkcsoft commented on #3171
Yes it's an issue with https://github.com/russross/blackfriday https://gist.github.com/bkcsoft/dce1a2e16db28b46e1ce4c8df18caaba

[2016-06-08 07:36] bkcsoft commented on #3167
Not sure if duplicate or not, you decide :) #3027

[2016-06-08 08:20] mloskot commented on #1433
@Unknwon AFAIS, there seem to be case where linked images don't work.
Here is test README with table and list of badges for variety of CI services build statuses:

https://try.gogs.io/mloskot/test/src/master/README.md

For example, link to Travis CI badge is encoded as follows
[code]
it renders the badge correctly, but if you click on it, it directs to the image itself: https://api.travis-ci.org/l

[2016-06-08 10:32] jmptbl opened #3179 "LDAP auto register toggle"
Hello,

It looks like LDAP auto register control was removed in #1625, although the database table field seems to still work.  How do we control that field without querying the database directly?  The feature was useful to us.  Don't understand the motivation for removing it?

[2016-06-08 11:28] danherd opened #3180 "500 error when attempting to view issues of type 'Mentioning you'"
**Gogs version:** 0.9.28.0527
**Git version:** 1.7.10.4
**OS:** Debian 7
**Database:** MySQL 5.6.29
**Can reproduce at http://try.gogs.io:** Yes
**Reproduce URL:** https://try.gogs.io/dannherd/sdfsddsf/issues?type=mentioned&sort=&state=open&labels=0&milestone=0&assignee=0
**Description:** Whenever I attempt to view issues of type 'Mentioning you', it crashes with a 500 error.
**Log line:** 2016/06

[2016-06-08 12:40] beniwtv commented on #3169
Sure, here you go:
https://api.slack.com/incoming-webhooks
(Scroll down to "Handling errors")

[2016-06-08 20:08] alpettit opened #3181 "Pull request gives 500 error after deleting "base" branch from old pull request"
- Gogs version (or commit ref): 0.9.13.0319
- Git version: 2.8.1.windows.1
- Operating system: Windows Server 2012 R2
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io: https://try.gogs.io/apettit/test500error/
  - [X ] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:[E] NewPullRequest: testPatch: UpdateLocalCopy: Pul

[2016-06-09 12:42] BurakDev commented on #3166
yes, strange. You use openssh or built-in SSH server ?

[2016-06-09 13:48] benoitjupille commented on #3167
Not sure I understand everything, but it seems to be close. :)

I was just thinking about it as a scenario : you create a new user for your customer, assign it to the repo, and set his access to "issues-only". So if you think that's the same, you can close this issue. :)

[2016-06-09 14:02] squarefractal opened #3182 "Allow for displaying tabs as 4 spaces"
Gogs currently shows tabs as `\t`, which is rendered as eight spaces on every browser.

Given that displaying tabs as four spaces is the default in many editors and environments, could there be an option to display them as such?

[2016-06-09 14:21] smcquay commented on #3166
On my instance I use openssh.

[2016-06-09 14:47] andreynering commented on #3182
As I said [here](https://github.com/gogits/gogs/pull/3092#issuecomment-219088923), one possible way is using what is specified in the [.editorconfig file](http://editorconfig.org/). This is how it [work on GitHub](https://github.com/RReverser/github-editorconfig#readme).

[2016-06-09 20:33] bkcsoft commented on #3182
Could be set as a user-setting as well, with default to the current
behaviour. Regexp replace should be fast enough on page-views :)

[2016-06-09 20:35] bkcsoft commented on #3167
From what I can tell it seems to be the same :)

[2016-06-09 22:03] brechsteiner opened #3183 "add xorm.log loglevel settings"
Add a config option to set the loglevel from xorm.log. The loglevel default is debug, this is a very bad idea on productive systems.
- Gogs version: 0.8.43-1456609760.d320915.jessie amd64
- Operating system: Debian 8.4
- Database: PostgreSQL

app.ini
[log]
ROOT_PATH =
MODE =
BUFFER_LEN = 10000
LEVEL = Error

[log.console]
LEVEL = Error

[log.file]
LEVEL = Error
LOG_ROTATE = true
MAX_LINES = 100000

[2016-06-10 05:36] uncled1023 opened #3184 "Repository named 'bin' results in error"
- Gogs version (or commit ref): 1.5.1
- Git version: 1.9.5
- Operating system: Windows Server 2012
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Example Url: https://git.teknik.io/shaggytwodope/bin

## Description

If a user creates a repository named **bin**, whenev

[2016-06-10 05:36] byzheng opened #3185 "Tmp folder with Window service to add a wiki page"
For bug reports, please give the relevant info:

- Gogs version (or commit ref):  0.9.13.0319
- Git version: 2.5.1
- Operating system: Windows 7
- Database:
  - SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Not relevant
- Log gist:
2016/06/10 15:01:22 [...routers/repo/wiki.go:216 NewWikiPost()] [E] AddWikiPage: UpdateLocalWiki: Clone: exit status 128 - fatal: destination path '

[2016-06-10 07:32] benoitjupille commented on #3167
Ok, thanks for that :)

[2016-06-10 07:32] #3167 closed

[2016-06-10 09:06] xor-gate commented on #3159
It is also broken on https://try.gogs.io

* Gogs version: `0.9.30.0601`
* Repo: [admin1/whots](https://try.gogs.io/admin1/whots)

[2016-06-10 16:46] drm commented on #3178
+1
Exact same version, also MySQL.

[2016-06-10 20:26] xPaw commented on #2265
I am running 0.9.13.0318, and this bug still exists. It still does not create webhook event for commits with emoji.

[2016-06-11 00:19] neithere commented on #813
I don't see how Gogs could have any practical value without this feature.

[2016-06-11 06:47] 94else opened #3186 "派生仓库中创建合并请求404"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref):
- Git version: git version 2.7.4 (Apple Git-66)
- Operating system: mac os x ei 10.11.4
- Database:
  - [ ] SQLite
- Can you reproduce the bu

[2016-06-12 09:32] Unknwon commented on #2958
The third-party issue (https://github.com/go-macaron/i18n/issues/4) has been solved, please update this dependency and recompile Gogs to test the change.

[2016-06-12 10:14] Unknwon commented on #3009
Thanks your feedback!

Just want to make sure, will then require specific database charset in order to support unicode?

And why `PostgreSQL` is not chekced?

[2016-06-12 10:16] strk commented on #2958
Confirmed, thanks !

[2016-06-12 10:16] #2958 closed

[2016-06-12 11:31] #2686 closed, assigned to nobody

[2016-06-12 17:57] YamiOdymel commented on #776
Still +1

[2016-06-12 19:21] qbit opened #3187 "Redis cache doesn't seem to actually do anything"
- Gogs version: 0.9.30.0601
- Git version: 2.8.3
- Operating system: OpenBSD-current
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description

Adding the below to my app.ini file results in no entries in db 1 when listing via redis-cli:

[code]

Checki

[2016-06-13 04:09] joneepenk commented on #2097
no one work on this?

[2016-06-13 08:28] patrickreck commented on #1644
+1

[2016-06-13 12:32] BurakDev commented on #3178
Duplicate of #3159

[2016-06-13 17:51] pwFoo commented on #270
Wiki would be great for repository related documentation and howtos!

+1

[2016-06-13 21:29] lnalex commented on #776
Is someone working on it ?

[2016-06-13 23:46] silverwind commented on #3182
The proper way to solve this would be through CSS, so tab characters are preserved:

[code]
Could be easily put in a userstyle as well ;)

[2016-06-14 02:32] congeal commented on #776
+1

[2016-06-14 05:47] SoftCreatR commented on #2062
Any update here?

Btw... This PR seems to do, what i expect: https://github.com/gogits/gogs/pull/3174

[2016-06-14 12:50] tboerger commented on #270
And we can see that you didn't realized that this feature is implemented for ages ;)

[2016-06-14 13:39] pwFoo commented on #270
Thanks... Searched global settings and documentation first without success...
After search again I found it inside the repo configuration...

Gogs is awesome. Looks great and works smooth.

[2016-06-14 21:51] strk commented on #1644
May be possibly implemented via git-appraise ( #2210 )

[2016-06-14 23:20] andreynering commented on #2062
@SoftCreatR Yes, I did the PR for better handling this case (https://github.com/gogits/gogs/pull/3174).

It's already working, just waiting for merge. You could build from source if you don't want to wait.

[2016-06-15 03:43] whosa opened #3188 "查看pull request 时，点击分列视图没反应"
问题重现
https://try.gogs.io/sunmil/testpr/pulls/2/files?style=split

[2016-06-15 04:48] sergey-miryanov commented on #2210
+1

[2016-06-15 05:33] abourget commented on #2210
oh yeah I'd sssoo much love to see that.. I'd even use Gogs merely as a UI for distributed review if we could have that in there ! git-appraise defines a new code review standard IMO

[2016-06-15 08:57] DeKugelschieber commented on #3163
Additionally organisation members can't see repos which have been moved to the organisation.

[2016-06-15 09:59] smith64fx opened #3189 "Sort labels by name"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref):
- Git version:
- Operating system:
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs

[2016-06-15 10:08] drsect0r commented on #1294
@Unknwon @bkcsoft Did you try `git count-objects -v` and `git count-objects -vH`? These come pretty close to their actual value. You may need to run `git gc` before doing this.

[2016-06-15 11:41] amery opened #3190 "master doesn't build"
For bug reports, please give the relevant info:

- Gogs version (or commit ref): 26342b0c2457ba3b8a79e05be75f85258b0e82eb
- Git version: 2.8.3
- Operating system: alpine linux 3.3
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description

`gogs.CreateIs

[2016-06-15 11:49] ptman commented on #2233
It would be nice to be able to disable colors from console logs. Docker captures console output to file and the color escape sequences just make it hard to read.

[2016-06-15 13:11] JocelynDelalande opened #3191 "Javascript is detected as disabled"
Randomly gogs starts telling me « Please enable JavaScript in your browser! » ; then gogs stop working on my browser (as js is a requirement for most actions on gogs).

A browser restart fix the issue.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.9.15.0323
- Browsers tested, facing the bug :
  - firefox 46 (ubuntu 14.04)
 - iceweasel : 31.7 (Debian Jessie)

[2016-06-15 13:18] BurakDev commented on #3191
How is possible ? There is <noscript> tag on the message

[2016-06-15 13:27] JocelynDelalande commented on #3191
I don't know, that's why I'm asking :-) I'm not event telling it's gogs fault, but just noticing that I have the same bug on two different systems.

[2016-06-15 14:41] andreynering commented on #3190
In another repo: https://github.com/gogits/go-gogs-client

You probably just need to run `go get -v -u ./...` to update all dependencies.

[2016-06-15 18:09] strk opened #3192 "Use repository name in repository page html title"
As of Gogs 0.9.27 the html title for a repository page is set to the repository name followed by the global instance description.
It would be useful instead to use the repository description (and maybe also include the namespace, as done on github).

Compare for example:
https://try.gogs.io/strk/postgis ( html title is "postgis - Gogs: Go Git Service" )
https://github.com/strk/postgis ( html title

[2016-06-15 18:12] strk commented on #3192
It looks like the HTML title is in this template: templates/base/head.tmpl
How do I know which variables are available in the template ? And how to make more variables available ?

[2016-06-15 18:15] clone1018 commented on #3192
Here's what you're looking for @strk https://github.com/gogits/gogs/blob/master/routers/repo/view.go#L33

[2016-06-15 18:22] strk commented on #3192
Thanks ! PR ready: #3193

[2016-06-15 20:04] silverwind commented on #3191
Sounds like an issue with your browser, `<noscript>` behaviour is not something controllable from the site.

[2016-06-15 20:53] odinuge commented on #3192
If you look at #2829 , the meta-tag "description" contains what you are looking for. The repo "https://try.gogs.io/strk/postgis" does not have a description, and therefore the meta-tag contains the gogs placeholder info.

Doing the same with the title would also be nice!

[2016-06-15 21:54] strk commented on #3089
I've seen auth.go uses a "redirect_to" cookie, when found.
The only code setting "redirect_to" seems to be repo/issue.go, so you're redirected to "new issues" after login. Should all pages (but the auth one) set "redirect_to" ? What woud the best way be to do that ? Any file that is always included in all page views ?

[2016-06-16 05:54] squarefractal commented on #3182
@silverwind Why not send in a PR with your proposed solution?

[2016-06-16 09:03] theredcat commented on #1644
@strk As an ops, using the git-appraise cli would be fine for me. But some of my devs would like to have a nice UI to do this.

Frontend developpers, you know....

[2016-06-16 09:07] strk commented on #1644
@theredcat yes I understand that, what I'm saying is that Gogs could just add a GUI to the git-appraise tool. That way users have a choice to either use the commandline or the GUI, and peer reviews would go togheter with the code when repository is cloned.

[2016-06-16 09:11] theredcat commented on #1644
@strk Thx for the clarification. This would be, indeed, a very nice approach

[2016-06-16 09:14] toogy commented on #1644
:+1: `git-appraise` with a GUI sounds like the perfect road to follow

[2016-06-16 11:41] amery commented on #3190
@andreynering thanks. I dumbly assumed I had to use what's specified in the `.gopmfile`. updating everything to **master** lets **master** build :)

[2016-06-16 11:41] #3190 closed

[2016-06-16 13:52] cicuz commented on #2910
What would such "workarounds" be?

[2016-06-17 00:50] lgs3137 opened #3195 "Web在线编辑功能"
目前最新的0.9.13.0318版本还没有Web在线编辑功能吧？后期会加入么？

[2016-06-17 02:42] oleersoy opened #3196 "Is it possible to change the Gogs HTTP_PORT for the Docker Install?"
Summary:
http://stackoverflow.com/questions/37872265/is-it-possible-to-change-the-gogs-http-port-for-the-docker-install

Gogs seems like it's hard coded to run on port 3000?  Is this correct?

[2016-06-17 06:43] JocelynDelalande commented on #3191
You're probably right, that remains odd, but maybe too much
irrelevant here. Closing, thanks for answers.

[2016-06-17 08:20] LeKovr commented on #2210
+1

[2016-06-17 08:29] amery commented on #1926
relative url submodules in gogs have only two valid representations. `../foo` becoming `/same-orga/foo` and `../../foo/bar` becoming `/foo/bar`. any other flavour (`./` or more than two `../` blocks) doesn't have place on a gogs server and shouldn't be represented as links at all.

I've tried to make sense of the related code in http://github.com/gogits/git-module but I'm still not sure how to fix

[2016-06-17 08:55] ntomka commented on #2553
According to @galactic-void init.d file is indeed wrong. I used his required-start section and on Ubuntu server this is the bare minimum to run gogs on system startup properly (using mysql as database server), in `/etc/init.d/gogs`

[code]

Then run this as root:

[code]

Notice Default-Start and Default-Stop is set to mysql defaults.

[2016-06-17 14:00] BurakDev commented on #3196
Isn't hardcoded. On your app.ini you can edit the value HTTP_PORT to other value. (0-1024 ports require root or special authorization, don't forget that)

[2016-06-17 16:44] rudineirk commented on #3178
it also happens with postgres

[2016-06-17 16:49] oleersoy commented on #3196
Thanks - I just looked at the Docker log and saw the port 80 could not be bound to as you say.  I'd probably have to do something like this:
http://stackoverflow.com/questions/413807/is-there-a-way-for-non-root-processes-to-bind-to-privileged-ports-1024-on-l

I'll close this issue.  Thanks again.

[2016-06-17 16:49] #3196 closed

[2016-06-17 21:44] James-Gallagher opened #3197 "../../../gopkg.in/gomail.v2/mime.go:7:2: cannot find package "mime/quotedprintable""
:/home/git/go/src/github.com/gogits/gogs# go build
../../../gopkg.in/gomail.v2/mime.go:7:2: cannot find package "mime/quotedprintable" in any of:
	/usr/local/src/go/src/mime/quotedprintable (from $GOROOT)
	/home/git/go/src/mime/quotedprintable (from $GOPATH)
package github.com/gogits/gogs
	imports runtime: C source files not allowed when not using cgo or SWIG: atomic_amd64x.c defs.c float.c heapdu

[2016-06-18 00:33] goriy commented on #1926
Disclaimer: I have no knowledge neither about Go language nor about project internals. I've even never seen any Go code before, but it hadn't stopped me ))

I've installed gogs from source and have tried some quick-and-dirty blind hacking-debuging.

As I can see in the file https://github.com/gogits/git-module/blob/master/submodule.go you mentioned - in function _RefUrl_ (line 32) there's no speci

[2016-06-18 11:38] lambarena commented on #2553
. I fixed this on Debian Jessie by adding `After=mysql.service` to gogs.service.

[2016-06-18 13:07] nkovacs commented on #3197
mime/quotedprintable was added in go 1.5: https://golang.org/doc/go1.5

[2016-06-18 14:25] #3197 closed

[2016-06-18 18:56] Dasoren commented on #3099
I do not want this change, or at lest not as the @misuzu asked for.
Reason: I use a lot of systems and want to know from what system I made the changes on. AKA: dasoren-ctl, dasoren-eps, dasoren-eff. The ctl, eps, eff are 3 of my systems. Those are the names setup in my .gitconfig file on each system.
When I do a push, I see that as the name on the commit and want to see it that way.

I understand

[2016-06-18 19:10] bkcsoft commented on #3195
Correct. #3151 has not been merged yet.

[2016-06-18 19:11] #3191 closed

[2016-06-18 20:18] goriy commented on #1926
There's possibility that it will be changed in future (there are even feature-requests about it - #1061, for example), so I don't think that it's a good idea to restrict number of processed "../" blocks

[2016-06-18 21:09] amery commented on #1926
It was only to simplify the request.

[2016-06-18 21:34] mathwhiz1212 commented on #809
So, how do I import issues from a github repo to a repo in gogs?

[2016-06-18 22:51] goriy commented on #1926
OK. Sorry for my misunderstanding.

[2016-06-19 05:16] lgs3137 commented on #3195
ok，i see！

[2016-06-19 05:32] #3195 closed

[2016-06-20 10:04] venessaj commented on #1268
Hi! I want to ask a question regarding this feature.

I have input all the mandatory fields on : admin setting > authentications for the LDAP simple auth, but whenever I tried to login with my ldap account, it always said user doesn't exists. Is there any way to sync the user from my ldap directory in gogs? need your help

[2016-06-20 10:26] Morpheu5 opened #3198 "Versioning consistency across Github, Docker Hub, and Gogs' footer."
I was wondering why the latest release on Github says 0.9.13, while on Docker Hub it's 0.9.30 but then the app I get pulling that image lists 0.9.28.0527 in its footer. This is all very confusing, can someone explain it?

[2016-06-20 12:14] sirinath commented on #2912
Please re consider.

[2016-06-20 12:18] sirinath commented on #125
It will be good to have Hg support also.

[2016-06-20 17:02] KeldorDE opened #3199 "Invalid SSH clone URL"
Gogs version: 0.9.13.0318
Git version: 2.1.4
Operating system: Rasbian ARM
Database: MySQL 5.5.44
Can you reproduce the bug at http://try.gogs.io: No, can't test the SSH clone (no password ;))

## Description

I'm using Gogs with the SSH clone URL. The URLdoes not work if I use upper case usernames and repository names.

**Example:**
Username: TestUser
Repository name: Test-Respo

This will produc

[2016-06-20 18:21] tkausl commented on #3199
What happens when you try to connect through ssh `ssh git@myhost.ext` ?

[2016-06-20 18:31] KeldorDE commented on #3199
The ssh Login prompt appears, if I Enter the Git Users password I can See the Contents of the Git Users home dir. If I translate the ssh Clone URL to lower case it works like a Charm, the Problem should Be the  lower case of the File System path

[2016-06-20 18:35] tkausl commented on #3199
No, it's not. You're not supposed to log into the git account using the credentials. Infact, you should disable password-login for the `git` user. You __need__ to use a rsa-key to connect which was added (the public-key) to gogs using the web-panel. _Do not_ connect with the credentials and _do not_ add the public-key manually to the authorized_keys file.

[2016-06-20 20:09] panticz commented on #1883
Hi, it would by helpful if you add on the [Installation instructions page](https://packager.io/gh/pkgr/gogs/install?bid=440) in the Debian/Ubuntu section this command

before "# setup mysql server and database" otherwise the https repository can not be used.

[2016-06-20 22:19] clone1018 commented on #3187
Might be relevant https://github.com/gogits/gogs/issues/2363#issuecomment-169854067

[2016-06-21 00:02] DavidVentura commented on #2636
I think the mimetype is wrong for svg images. When accessing a readme file with a linked svg image gogs offers a 'plain' file; even opening it just shows me the text because the mimetype is wrong

[2016-06-21 08:06] KeldorDE commented on #3199
Hi,

thanks for your response but it works when the username and the repo name is in lowercase. In my opinion it is still not a problem with key or password authentication. Please have a look at the following examples:

**This clone URL does not work:**
_This is the one I'm getting from the GOGs clone box._
`git clone git@myhost.ext:TestUser/Test-Repo.git`

**This clone URL works fine:**
_I've con

[2016-06-21 08:15] strk commented on #2988
I was just hit by this again, and found my previously reported issue before filing a new one.
Is a self upvote valid ? :)

[2016-06-21 08:15] tkausl commented on #3199
The clone URL __will__ work if you connect using a rsa key which you added to gogs. As I said, you're not supposed to login using the password, thats not Gogs's problem, if you want to connect using a method which is not supported by gogs and never will be.

[2016-06-21 08:21] tkausl commented on #3199
To understand why: When you add a public key to gogs, gogs will add a special entry to your authorized_keys file which tells your system, to invoke gogs as your login-shell instead of just bash or whatever, so gogs can check your read/write permissions to the requested repository and then redirect your traffic directly to this repository. In this case, the upper-case clone-URL does not matter as g

[2016-06-21 08:27] KeldorDE commented on #3199
Thanks for explanation :) This makes sense, I'll give it a try.

[2016-06-21 09:15] ptallada commented on #662
Yes, we would also consider moving from gitlab to gogs if we could sync LDAP->gog groups :)

[2016-06-21 12:12] rsids opened #3201 "Add option to delete source branch after merge"
It would be nice if the source branch could get deleted when a pull request is approved (as an option). Bitbucket & gitlab both offer this feature.

[2016-06-21 15:41] oleersoy opened #3202 "Feature Request: Direct access to java files (And other resources with no ancestor files)"
With github java classes that are nested deep in a package hierarchy are directly accessible with two clicks.

For example suppose a module only has one file called `hello.java` located at:
`com/example/module/hello/hello.java`

To get to the hello.java file Gogs makes use click `com` then `example` then `module` then `hello` then `hello.java`.  Github realizes that `hello.java` is the first file

[2016-06-21 15:42] alpettit commented on #3201
This would be wonderful!

[2016-06-21 15:58] bkcsoft commented on #3202
There's already an issue for this (and IIRC a PR as well)
On Jun 21, 2016 17:41, "Ole Ersoy" <notifications@github.com> wrote:

[2016-06-21 16:54] KeldorDE commented on #3199
It works, thank you! I did not know that gogs has his one login-shell.

[2016-06-21 18:16] oleersoy commented on #3202
Do you have a link to it?  I scanned the PRs and did not see one ...

[2016-06-22 00:22] SoftCreatR commented on #1723
FYI: I'm currently experiencing the same issue using the latest release.

[2016-06-22 06:59] tkausl commented on #3178
I can not reproduce this on develop-branch

[2016-06-22 14:11] bkcsoft commented on #3202
#2818 is the PR :)
On Jun 21, 2016 20:17, "Ole Ersoy" <notifications@github.com> wrote:

[2016-06-22 16:06] vv01f opened #3204 "create repo on first push"
## Description

tl;dr: would like to create a repo with a first push to make usage of the ui completely obsolete for publishing a project.

must address:
* [ ] support password authentication as in the normal push process
* [ ] double check existing repo names for the addressed account/group
* [ ] create private repo as default without any more requirements

should address:
* [ ] enforce a LICENSE

[2016-06-22 18:24] oleersoy commented on #3202
Thanks - I'll link and close this as duplicate:
https://github.com/gogits/gogs/pull/2818

[2016-06-22 18:24] #3202 closed

[2016-06-22 22:01] panticz opened #3205 "Preassign domain name on googs install page"
Hi, it would by helpful when the domain in "Application General Settings" section on the gogs install page should by preassign with SERVER_NAME variable from webserver instead of "localhost"

[code]
Tested with
gogs version: 0.9.28.0527
OS: Ubuntu (Installed from package)

[2016-06-23 00:43] bkcsoft commented on #2321
I'd really wanna do this in the frontend only, since Gogs as a service don't really care. Anyone against that?

Note to Self: https://github.com/openpgpjs/openpgpjs

[2016-06-23 06:09] k13elle commented on #2973
do not have button in Web GUI?

[2016-06-23 09:32] tosone commented on #342
@Unknwon
i run gogs with supervisor very well. yesterday it can not be get. stop and start gogs, or quit and restart supervisor ican not solve this. after reinstall supervisor,  it runs well.

Sometime i need to reinstall supervisor.

[2016-06-23 16:58] strk commented on #3164
This would be fixed by #3115, which redesigns the forms.

[2016-06-23 19:21] bkcsoft commented on #3204
https://github.com/github/hub - Fork it, change a few endpoints (disable some missing ones), done :trollface:

Serious question though. Why use Gogs if you're not gonna use the UI? (or at least the API)

[2016-06-23 19:42] vv01f commented on #3204
In my mind it is not about a single user, there are different kinds of users. Some prefer GUI, some prefer CLI. This way it may make things more comfortable for the latter.

[2016-06-24 06:39] jhasse commented on #3204
What if I misspelled my origin URL?

[2016-06-24 07:01] vv01f commented on #3204
@jhasse You intend to add a call for drop remote repo? I guess this would be another, although connected, feature.

I do not see a problem in the test case for this feature. Just delete the remote repo and do it again, not necessarily in this order.

[2016-06-24 07:46] jhasse commented on #3204
Correct me if I'm wrong:

You want that when I do

[code]

and `foo/bar` doesn't exist, it gets created automatically? But what if `foo/abr` exist and `foo/bar` was just a typo?

[2016-06-24 10:16] xor-gate opened #3206 "Newlines in commit message when referenced to issue are not properly rendered"
- Gogs version (or commit ref): 0.9.30.0601 (and older self-hosted 0.9.13.0318)
- Git version: n/a
- Operating system: n/a
- Database: n/a
- Can you reproduce the bug at http://try.gogs.io:
  - [X] Yes, https://try.gogs.io/admin1/testnewlines_in_reference/issues/1
## Description

When referencing a issue from a commit message where multiple lines are seperated with a newline character (\n, under l

[2016-06-24 11:43] razvan-cons commented on #3103
This seems to be fixed in PR https://github.com/gogits/gogs/pull/3200

[2016-06-24 12:55] roblabla commented on #3178
[code]

https://github.com/gogits/gogs/blob/e9ae926e040c94ce66666ae6c330c93918fa321c/models/repo.go#L204

`NumOpenIssue (used to calculate the issue count) = num_issues - num_closed_issues`

`num_issues` contains the list of issues that ARE NOT pull request. The problem is, [here](https://github.com/gogits/gogs/commit/e9ae926e040c94ce66666ae6c330c93918fa321c#diff-d4e2553a87eb8b329efd7335f028903cR1

[2016-06-24 14:39] BurakDev commented on #3103
Yes, waiting for @Unknwon merge it

[2016-06-24 15:40] Unknwon commented on #3103
This is claimed to be fixed by merging #3200, please help test on `develop` branch or https://try.gogs.io.

[2016-06-24 15:48] BurakDev commented on #3103
@Unknwon Thanks ! Tested it with XP Chrome - Firefox - Opera - IE, Win10 Chrome - Firefox - Edge and seems fixed now

[2016-06-24 16:13] BurakDev commented on #3159
Pull request fixing this issue is here #3207

[2016-06-24 17:29] tkausl commented on #3178
#3207

[2016-06-24 23:17] agaida commented on #3050
If implemented, a default configuration for default sorting in Admin Panel would be nice too.

[2016-06-25 12:26] BlackVoid opened #3210 "Improve Drone integration"
It would be nice if the integration between gogs and drone CI would improve. I'm currently looking to migrate from Gitlab (+ Gitlab CI) to Gogs and use a reverse proxy to authenticate. However I noticed that you need to enter a username and password on Drone when using gogs and drone, which is not the case when using github or gitlab.

After reading the original issue for integration with drone I

[2016-06-25 17:54] tomas commented on #13
I jumped yesterday into this and got a raw but working implementation of code search via `git grep`. It's a hacky solution but it works, although the search results aren't immediate (takes about 4 secs to search through my ~100 repos on a small VPS).

This is what it looks like:

![screenshot 2016-06-25 at 10 52 47 am](https://cloud.githubusercontent.com/assets/10574/16358246/fee61a52-3ac2-11e6-93

[2016-06-25 17:59] denji commented on #13
https://github.com/etsy/hound ; https://github.com/google/zoekt and https://github.com/google/codesearch (Google Code Search) indexer better prefetch and regex search.

[2016-06-25 23:44] iEFdev opened #3211 "OS X binary - Segmentation fault: 11"
I tried the `gogs_v0.9.13_darwin_amd64.zip` binary file… When running, it returns an error.

	$ ./gogs web
	Segmentation fault: 11

What are the OS X sys requierments? (I use 10.7.5)

- - -

_Using “build from source” works fine, no sqlite3 though so I'll look at using the `-tags` installation option._

[2016-06-26 13:04] redoz commented on #1071
@Unknwon There's also Monaco (MIT licensed): https://github.com/Microsoft/monaco-editor

[2016-06-26 14:13] YugoCode commented on #3198
Is the 0.9.13 binary the latest? I mean it says its from march?
Where can I get the latest binary?

[2016-06-26 18:09] Unknwon commented on #3159
This is claimed to be fixed by merging #3207, please help test on `develop` branch or https://try.gogs.io.

[2016-06-26 20:07] xor-gate commented on #3159
@hhenkel, probably this can be closed as my repo now reports 0 issues instead of -1. With latest 0.9.30.0601 after merge of #3207. Thanks all!

[2016-06-26 20:35] Unknwon commented on #1433
@mloskot yes, currently only `*.svg` images will link to external site not image itself.

[2016-06-26 20:51] Unknwon commented on #809
@mathwhiz1212 you would have to write a script and call API...

[2016-06-27 07:05] BruinY opened #3212 "windows server 2012 r2 1067 error"
use sqlite database ,
RUN_USER = COMPUTERNAME$ is ok .
path in e:\gogs

Try many times, still 1067 cannot be started

[2016-06-27 07:46] BruinY commented on #3212
Create the service configuration path problem has been resolved

[2016-06-27 07:46] #3212 closed

[2016-06-27 07:50] ghost1372 opened #3213 "how to use in windows 10"
how i can use gogs on my windows 10 local?

[2016-06-27 08:39] Unknwon commented on #3192
This is claimed to be fixed by merging #3194, please help test on `develop` branch or https://try.gogs.io.

[2016-06-27 08:40] Unknwon commented on #3212
Why are you having same avatar as mine...

[2016-06-27 08:41] Unknwon commented on #3195
@bkcsoft you can read Chinese?! :trollface:

[2016-06-27 08:47] Unknwon commented on #2995
Don't use `go run` and run as `./gogs web`...

[2016-06-27 09:00] Unknwon commented on #3154
This is claimed to be fixed by merging #3155, please help test on `develop` branch or https://try.gogs.io.

[2016-06-27 09:04] Unknwon commented on #3110
This is claimed to be fixed by merging #3136, please help test on `develop` branch or https://try.gogs.io.

[2016-06-27 09:19] strk commented on #3192
Fixed on try.gogs.io

[2016-06-27 09:19] #3192 closed

[2016-06-27 09:32] Unknwon commented on #1294
@drsect0r thanks!

But after `git gc`:

[code]

[code]

Not sure which value I should trust.

[2016-06-27 09:38] mysiar commented on #2819
I had similar error message on my QNAP NAS with Gogs 0.9.13.
The reason was that my MySQL db serwer was not running

[2016-06-27 13:57] BurakDev commented on #3159
Tested, seems fixed !

[2016-06-27 15:43] Unknwon commented on #1926
This is claimed to be fixed by merging https://github.com/gogits/git-module/pull/14, please help test on `develop` branch or https://try.gogs.io.

Be sure to update dependency `github.com/gogits/git-module`.

[2016-06-27 16:23] Unknwon commented on #2764
This is claimed to be fixed by merging #3100, please help test on `develop` branch or https://try.gogs.io.

[2016-06-27 17:03] strk opened #3214 "Add a vendor/ submodule"
A vendor/ directory lets you publish specific versions of dependencies.
See https://blog.gopheracademy.com/advent-2015/vendor-folder/

Registering it as a submodule allows users to opt-out of them to get the dependencies from their source (for development purpose, for example).

The use of vendor was first proposed on the forum to get reproducible builds:
https://discuss.gogs.io/t/proposal-do-vend

[2016-06-27 17:06] tboerger commented on #3214
Submodules aren't a solution for reproducible builds, if the repo is not available or have been deleted the build is broken, than you can keep it directly like it is

[2016-06-27 17:13] strk commented on #3214
@tboerger maybe I wasn't clear, my proposal is for a _single_ submodule pointing to github.com/gogits/gogs-dependencies, so avaialbility woudl be exactly the same as the one for gogits/gogs. It's a submodule ONLY to let developers choose to build with the newest version of all deps.

[2016-06-27 18:56] mathwhiz1212 commented on #809
@Unknwon That's over my head. I'll wait until it gets implemented.

[2016-06-27 19:04] strk commented on #1433
Does it still depend on a lack of feature in https://github.com/russross/blackfriday/issues ?
Did anyone file it upstream ?

[2016-06-27 19:08] tomas commented on #13
@denji Yeah, using an indexer like Hound would be the ideal solution. Mine is just a temporary one until someone better at Go gives it a shot. Thankfully it works. :)

[2016-06-27 21:09] minecrafter commented on #2798
Still looking to get this fixed.

[2016-06-27 22:42] tboerger commented on #3214
That doesn't make sense at all to me.

[2016-06-27 22:48] mappu opened #3215 "Support binary (non-image) attachments on issues"
Hi,

Right now, images can be attached to issues. Then there's an `<img src` with the same target as the `<a href`. It works great for jpeg/png. But it works badly for other file types (zip/tar, deb, pdf, exe).

It would be good to have full support for uploading binary (non-image) attachments on issues.

Related issues:
- #3065 for attachment icons
- #698 / #1614 for general handling of uploaded

[2016-06-27 23:17] andreynering commented on #3215
Have you tried `*/*` on the `ALLOWED_TYPES` config on `app.ini`?

https://gogs.io/docs/advanced/configuration_cheat_sheet#attachment-(attachment)

[2016-06-28 04:37] strk commented on #3214
@tboerger talking with @Unknwon in chat I understood his goal was to make `go get github.com/gogits/gogs` have the least point of failures. For this reason he limits the dependencies to those hosted on GitHub and BitBucket (https://github.com/gogits/gogs/pull/3115#issuecomment-228786460); but he also accepts pointing to dependencies via gopkg.in (which redirects to github.com), and he also include

[2016-06-28 04:41] novaeye commented on #3153
maybe you need a "ladder"...

[2016-06-28 05:25] mappu commented on #3215
Yes, that was necessary for binary uploads to succeed at all. But when they do upload, then, there's an `<img src` to the same target - it's crazy and meaningless when the uploaded file was e.g. a 50MB zip file.

I suppose that's a more specific description of the issues i faced when trying to use this feature.

[2016-06-28 07:49] goriy commented on #1926
I've checked my example at https://try.gogs.io/illustr/repo1. It seems to work fine

[2016-06-28 11:03] andreynering commented on #3215
I see. So you just want `target="_blank"`?

[2016-06-28 13:48] morrah opened #3216 "Windows-styled directory delimiters in a dumped zip-archive"
- Gogs version: 0.9.13
- Operating system: Windows 7

Command ```gogs dump``` on Windows creates a zip-archive that uses ```\``` delimiters instead of ```/```, so there are problems unpacking it on Linux:
[code]

[2016-06-28 16:39] jbub commented on #3003
Also the same behaviour here. Im using SSH.

[2016-06-28 20:57] oleersoy opened #3217 "Safe Snapshots / Hot Backup of Gogs repositories"
@Unknwon recommended that I create a feature request for Hot backups / Snapshots of the repository.

For example how does Github backup all user repositories while keeping the repositories online?

[2016-06-28 22:17] jag3773 commented on #1770
Just for another reference point, zenhub.io also provides an "epic" feature.  @ChangePlaces it is similar to milestones, but a team following SCRUM would need both Epics and Milestones.

[2016-06-29 03:35] BruinY opened #3218 "Add warehouse history cleaning function"
Need a clear record function, you can specify a delete a time before submit the record, to save disk space

[2016-06-29 05:42] ubiko commented on #2464
@Unknwon
Getting this too in **0.9.28.0527**  almost 50% of the time.
Only getting this error viewing the root of the repository (which is owned by an organization)

### Log
[code]

### Memory:
[code]

Any help?

I'm running on CentOS 7 and MySQL.

[2016-06-29 05:49] mappu commented on #3215
I want the 50MB zip file attachment to not be sent to the browser via `<img src`.
I want some adequate replacement for the `<img` tag, when the uploaded attachment was not an image.

`target="blank"` would be nice on the `<a>`, but i didn't check if it was there already.

[2016-06-29 05:52] mappu commented on #3215
In https://github.com/gogits/gogs/blob/master/templates/repo/issue/view_content.tmpl#L42

All attachments are treated as images since there is an `<img src` tag here. If i upload a non-image attachment, it is treated as an image regardless, the browser wastes time and bandwidth attempting to parse a 50MB zip file as if it were an image.

There is already a `target="blank"`, so that's fine.

[2016-06-29 08:09] ralphtheninja commented on #2175
@Unknwon Is this documented anywhere? I was trying to find out how I could get archives using the 40 char sha1 (I obviously know now ;)) and couldn't find it in the docs

[2016-06-29 10:06] andreynering commented on #3215
@mappu OK, sorry for the misunderstanding. This should not be hard to fix, we could whitelist some extensions (.jpg, .png, etc) to add the img tag or add a link instead.

[2016-06-29 10:37] sbrl commented on #1297
Has any progress been made here? I've been waiting for this for a while now. I'm using Go Git Service for a personal git server, and I don't have the resources to run anything else that I've seen around so far. I really don't want to end up using unsupported software.

[2016-06-29 11:35] strk commented on #1297
I hadn't started, nor I plan to start any soon (and my other PRs are still pending).
@sbrl did you consider giving it a try yourself ? You may go get github.com/yohcop/openid-go/

[2016-06-29 12:01] jsieler commented on #997
Interested too. +1

[2016-06-29 12:02] MitchTalmadge commented on #3007
Huh. Spent the last 30 minutes trying to make post-commit work (not knowing it was a client side hook.. First time using hooks). This would have saved me some time. Glad I saw this issue.

[2016-06-29 12:24] sbrl commented on #1297
@strk I might actually when I get some time. I'd have to read into go first though, which shouldn't be a huge deal. It may not be for some considerable time though, as I'm currently focusing on something for University.

[2016-06-29 12:49] stevenroose commented on #1297
@sbrl That's why you can rebase your code before it is merged ;)

[2016-06-29 13:05] matthewlenz opened #3219 "Hide merged branches in drop down"
We create a new branch for every issue when developing.  That means within a month we could have dozens of new branches showing up in the drop down.  Would it be possible to have a checkbox (static) in the drop down that hides merged branches?

[2016-06-29 14:56] Unknwon commented on #2175
@ralphtheninja it is a visual button:

![image](https://cloud.githubusercontent.com/assets/2946214/16457025/aab6bd5a-3e4c-11e6-9789-5bbc2aa6ba18.png)

[2016-06-29 14:56] Unknwon commented on #2175
For API: https://github.com/gogits/go-gogs-client/wiki/Repositories-Contents#download-archive

[2016-06-29 14:58] Unknwon commented on #2464
@ubiko sorry, but really have no ideas how this problem is caused... maybe there are some limitation options we're not noticed because this is not happening to all machines (that's the hardest part for debugging).

[2016-06-29 15:22] Unknwon commented on #1433
@strk no, I think the problematic method is: https://github.com/gogits/gogs/blob/master/modules/markdown/markdown.go#L174

[2016-06-29 15:26] #3154 closed

[2016-06-29 15:26] #2764 closed

[2016-06-29 15:26] #3110 closed

[2016-06-29 15:33] sbrl commented on #1297
Eh?
On Wed, 2016-06-29 at 05:49 -0700, Steven Roose wrote:

[2016-06-29 18:24] Unknwon commented on #518
You can now test online at https://try.gogs.io

In order to make this change take effect for your instance:

1. Update to `develop` branch
2. Run `go get -u github.com/gogits/git-module` and recompile Gogs
3. Go to admin panel `/admin`, and run operation `Delete all repositories archives`
4. Download desired archives and check

[2016-06-29 19:30] Unknwon commented on #3188
Thanks your feedback! But this is duplicated to https://github.com/gogits/gogs/issues/2790.

[2016-06-29 19:30] #3188 closed

[2016-06-29 19:33] Unknwon commented on #3113
https://unknwon.io/organize-your-teams-with-gogs-organization/#createnewteam

[2016-06-29 19:33] #3113 closed

[2016-06-29 19:35] Unknwon commented on #3143
This expected behavior and the error message already said what's need to be done to fix this problem.

[2016-06-29 19:35] #3143 closed

[2016-06-29 19:36] #2944 closed

[2016-06-29 19:37] Unknwon commented on #2944
@terrywh has said what needs to be said...

[2016-06-29 19:37] Unknwon commented on #3139
Hi, apparently, it could be a disk problem: https://try.gogs.io/unknwon/issue-3139 succeed within seconds...

[2016-06-29 19:37] #3139 closed

[2016-06-29 19:39] Unknwon commented on #3101
Hi, which tool you used to clone the private repository?

[2016-06-29 19:41] Unknwon commented on #3073
Thanks your advice, but please post to https://discuss.gogs.io/ :)

[2016-06-29 19:41] #3073 closed

[2016-06-29 19:41] Unknwon commented on #2976
Please read https://github.com/gogits/gogs/blob/master/.github/ISSUE_TEMPLATE.md

[2016-06-29 19:42] Unknwon commented on #3051
@502647092 has posted the correct way.

[2016-06-29 19:42] #3051 closed

[2016-06-29 19:43] Unknwon commented on #3056
No...

[2016-06-29 19:43] #3056 closed

[2016-06-29 19:44] Unknwon commented on #3036
Please read https://github.com/gogits/gogs/blob/master/.github/ISSUE_TEMPLATE.md

[2016-06-29 19:44] #2997 closed

[2016-06-29 19:46] Unknwon commented on #2945
It is your configuration issue, whatever proxy you're using limited size of HTTP buffer.

[2016-06-29 19:47] Unknwon commented on #2952
What is the content of `C:\Program Files (x86)\gogs\custom\conf\app.ini`?

[2016-06-29 19:48] Unknwon commented on #3153
Connect a VPN...

[2016-06-29 19:48] #3153 closed

[2016-06-29 19:48] #3199 closed

[2016-06-29 19:49] Unknwon commented on #3124
Hi, this is fixed in `master` branch.

[2016-06-29 19:49] #3124 closed

[2016-06-29 19:49] #3148 closed

[2016-06-29 19:50] Unknwon commented on #2941
Hi, hide from where?

[2016-06-29 19:52] Unknwon commented on #3018
Hi,

尚未测试

Please test before posting.

[2016-06-29 19:54] Unknwon commented on #2933
Hi, it is on purpose, to tell you change a user to run Gogs. Make user panic to raise their notice on that field.

I don't consider this is as a bug.

[2016-06-29 19:54] #2933 closed

[2016-06-29 19:56] Unknwon commented on #2949
It is prohibited because the instance (someone else) has went through the install process before you send the form.

[2016-06-29 19:56] #2949 closed

[2016-06-29 19:57] Unknwon commented on #2955
Actually, I don't get your error description... ?

[2016-06-29 19:58] Unknwon commented on #3003
1. How did you add SSH key to Gogs?
2. What is the SSH URL for you to do `git push`?

All you push bypasses Gogs SSH delegation.

[2016-06-29 19:59] Unknwon commented on #3213
Hi, download from https://dl.gogs.io/ , unzip and `./gogs web`.

[2016-06-29 19:59] #3213 closed

[2016-06-29 20:01] Unknwon commented on #3211
I think your OS X is too low, at least 10.8 to use compiled binary, and I don't have that low version to compile.

So... you would have to compile from source code.

[2016-06-29 20:01] #3211 closed

[2016-06-29 20:02] Unknwon commented on #3178
This is fixed in https://github.com/gogits/gogs/pull/3207

[2016-06-29 20:02] #3178 closed

[2016-06-29 20:03] Unknwon commented on #3146
I think this is duplicated to https://github.com/gogits/gogs/issues/1565

[2016-06-29 20:03] #3146 closed

[2016-06-29 20:05] Unknwon commented on #3141
Hi, Glide does not vendor TiDB related repositories, you want have to follow it's instruction to install first: https://github.com/pingcap/tidb/blob/master/docs/QUICKSTART.md

[2016-06-29 20:05] #3141 closed

[2016-06-29 20:06] Unknwon commented on #3126
https://github.com/gogits/gogs/blob/master/docker/s6/gogs/setup

[2016-06-29 20:06] #3126 closed

[2016-06-29 20:07] timshannon commented on #3003
For me I'm just doing a git push in the repo folder, which was cloned from the URL copied from gogs which looks similar to this:

[code]

[2016-06-29 20:10] Unknwon commented on #3090
You can create a personal access token and visit URL with `URL?token=xxx`.

[2016-06-29 20:11] Unknwon commented on #2984
Please post Gogs backend logs here.

[2016-06-29 20:12] Unknwon commented on #3082
There is no fixed place to put your custom app.ini, it is based on your installation.

It is defaulted to `path/to/gogs/custom/conf/app.ini`.

[2016-06-29 20:13] xor-gate commented on #3090
This is a workaround for having a gogs-wide pubkey expose function, but it works. I'm not 100% happy with it as we need to have api-keys floating around. As you see for github anyone is able to access the public keys without any API access token.

[2016-06-29 20:14] Unknwon commented on #2996
Hi. I'm sorry but yes this is on purpose that you can't set text color. Only black/white is much more obvious to me.

[2016-06-29 20:14] #2996 closed

[2016-06-29 20:16] Unknwon commented on #3017
Hi, how did you install Gogs? With help of https://github.com/gogits/gogs/issues/952?

[2016-06-29 20:17] Unknwon commented on #3024
What is your SSH URL for `git push`?

[2016-06-29 20:17] Unknwon commented on #3026
Hi, please post this to https://discuss.gogs.io/ ...

[2016-06-29 20:17] #3026 closed

[2016-06-29 20:18] Unknwon commented on #3029
What is the exact error message?

[2016-06-29 20:20] Unknwon commented on #3041
Hi, actually I don't get this part:

Can you 100% reproduce this and what're the URLs?

[2016-06-29 20:24] Unknwon commented on #3019
3000 is the port inside Docker, and you mapping 10080 to 3000 which mean for outside world, they only know 10080.

For the IP address, I think it's your config/understanding problem of Docker.

[2016-06-29 20:25] Unknwon commented on #2959
@moltam has posted what needs to be said...

[2016-06-29 20:25] #2959 closed

[2016-06-29 20:26] Unknwon commented on #2946
@Nhoya has posted what needs to be said...

[2016-06-29 20:26] #2946 closed

[2016-06-29 20:28] Unknwon commented on #3090
1. Visit any page except login is the purpose of `REQUIRE_SIGNIN_VIEW`.
2. >As you see for github anyone is able to access the public keys without any API access token.

False argument as GitHub does not have such settings, and you can view anyone's public key when `REQUIRE_SIGNIN_VIEW=false`: https://try.gogs.io/unknwon.keys

[2016-06-29 20:34] xor-gate commented on #3090
The token-based approach is not bad, but as mentioned before it adds some extra configuration and management. It improves security because then the usernames can still not be guessed.

[2016-06-29 20:36] Unknwon commented on #3089
Note: Could use HTTP header referrer.

[2016-06-29 20:37] Unknwon commented on #3205
Does `SERVER_NAME` some kind of standard?

[2016-06-29 20:39] Unknwon commented on #3204
Thanks your feedback! But I would rather recommend you follow https://github.com/gogits/gogs/issues/1062

[2016-06-29 20:39] #3204 closed

[2016-06-29 20:49] Unknwon commented on #3003
@timshannon are you able to see push activities on your dashboard if you push through SSH?

[2016-06-29 20:57] oleersoy commented on #3019
The instructions the way they are now will always lead the user to a failed install.  The reason is that Gogs will attempt to complete the install on the port number that is the external host port number, instead of the internal number.  So for example this will work:

http://192.168.99.100:3000/

Or this:
http://127.0.0.1:10080/
http://localhost:10080/

So the recommendation needs to be one of th

[2016-06-29 20:58] timshannon commented on #3003
@Unknwon Yep, all of them.

[2016-06-29 20:59] oleersoy commented on #3019
BTW - Thanks for creating Gogs - to say I'm impressed would be an extreme understatement.

[2016-06-29 21:01] Unknwon commented on #3019
No, the Docker README says very clear where to port 3000, and where to put 10080.

[2016-06-29 21:03] oleersoy commented on #3019
True - but the instructions are wrong.  They mix port 10080 with the Gogs container IP.  Port 10080 should go with the host running the docker container, and port 3000 can be used when accessing the docker container as if it were an external host.

[2016-06-29 21:07] Unknwon commented on #3019
The host IP is not always the Docker container IP, and it normally should not be.

cc/ @0rax

[2016-06-29 21:12] Unknwon commented on #3182
I think it is more nature to set when Gogs supports custom static resources. (have we already supported somehow?)

[2016-06-29 21:12] Unknwon commented on #3182
`.editorconfig` could be another kind of support, too. @andreynering would you mind send a PR for this?

[2016-06-29 21:13] oleersoy commented on #3019
Absolutely true.  And if someone is an advanced user that is setting this up for team use and understands that, then they will be in good shape.  I was following the instructions as written up here:

https://github.com/gogits/gogs/tree/master/docker

And for domain it says:

And for the application URL it says this:

So as you can see this mixes the docker container IP with the port exposed on the

[2016-06-29 21:29] richardskumat commented on #3041
Of course.

All my installs with https://github.com/richardskumat/gogsi have been having the same one time issue regardless of being installed on Centos/RHEL/Debian/Ubuntu/Fedora.

I don't know if it has something to do with the custom app.ini file or not?

Anyway, a few screenshots after a new test:

https://s33.postimg.org/5ls5uyk19/Screenshot_290616_22_15_49.png

https://s33.postimg.org/d4fwhc0

[2016-06-29 21:57] richardskumat commented on #3041
It looks it also happens when not creating an admin during the installation page:

https://s33.postimg.org/juzlidyi5/Screenshot_290616_22_53_56.png

https://s33.postimg.org/i4gkgwgz1/Screenshot_290616_22_54_08.png

https://s33.postimg.org/4otjrg8h9/Screenshot_290616_22_54_28.png

[2016-06-30 00:16] krembo99 commented on #1322
LFS would soon become the standard . IMHO - The faster GOGS will support it - the faster it can grow .

[2016-06-30 03:08] #3036 closed

[2016-06-30 04:10] ncadou opened #3220 "Overspecific validation of SMTP auth user on install page"
- Gogs version (or commit ref): 0.9.30.0601
- Git version: official gogs docker image
- Operating system: official gogs docker image
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
## Description

Upon firing up a brand new gogs instance, on the installation page, fillin

[2016-06-30 04:35] ufosaga commented on #2709
@FibreFoX
The expect result is indeed 'usr cannot log in' because the step 2 in the [Step to reproduce] introduce the white space, which should be able to cause the ldap auth fails.

[2016-06-30 05:05] sapiens-sapide commented on #3017
Hi,
I ran `go get -u github.com/gogits/gogs`

[2016-06-30 05:17] zanjs opened #3221 "wiki 标题含义 # 可以建立但不可以编辑提交"
由于建立了 有 # 号标题的 wiki  编辑不了 也删除不了 ，链接的 是 SQLite，wiki 在哪张表里

[2016-06-30 05:51] sbrl commented on #2959
Ok. Perhaps something small in brackets saying that this is the latest master version would avoid confusion?

[2016-06-30 07:13] Unknwon commented on #3017
Sounds like you would have to use one of helpers in https://github.com/gogits/gogs/issues/952

[2016-06-30 07:14] Unknwon commented on #2959
GitHub releases already listed binary versions: https://github.com/gogits/gogs/releases

[2016-06-30 07:17] Unknwon commented on #2959
README updated: https://github.com/gogits/gogs/tree/develop

[2016-06-30 07:21] Unknwon commented on #3090
I don't understand this sentence...

[2016-06-30 07:23] Unknwon commented on #3003
@timshannon time to check your `path/to/gogs/log/serv.log`, I think there should be quite a lot errors by now...

[2016-06-30 07:26] Unknwon commented on #3019
I don't see any problem with these two descriptions, domain does not have a port, domain and a port becomes an URL. Docker container does not have domain name so uses its IP.

It's more like understanding problem, we should move discussion to https://discuss.gogs.io/

[2016-06-30 07:37] Unknwon commented on #3041
One question first: you're visiting using IP `192.x...`, why do you still have app URL `localhost:3000`?

[2016-06-30 07:39] xor-gate commented on #3090
I will rephrase.

Security is improved when gogs forces api-tokens for access when `REQUIRE_SIGNIN_VIEW` is active. The `client` which has a token is then able to access the user public keys. Without api-token nobody is able to guess/brute-force usernames with public keys.

[2016-06-30 07:43] Unknwon commented on #3090
That is correct... so the issue should be closed I think?

[2016-06-30 07:59] xor-gate commented on #3090
Yeah as you already mentioned this feature is not the path Gogs wants to take. And I agree with this,
as api-token access is implemented.

It should be closed.

Thanks for your feedback!

[2016-06-30 08:01] #3090 closed

[2016-06-30 08:12] Unknwon commented on #3041
For the record, I installed my Gogs again and it redirects to login page correctly.

[2016-06-30 08:14] Unknwon commented on #3221
Hi, this is duplicated to https://github.com/gogits/gogs/issues/3021 .

There is no table for wiki, you can clone to local and delete file, commit and push.

[2016-06-30 08:14] #3221 closed

[2016-06-30 08:19] richardskumat commented on #3041
Localhost:3000 is for binding Gogs to listen on localhost, a choice I made for myself when installing nginx in front of it as reverse proxy. This way it doesn't accept outside connections on port 3000.

That's I guess how it works, but I think nginx misinterprets the request somehow after you click "Install Gogs" on the install page.

From the 404 request URL, it can be seen Gogs redirects to the

[2016-06-30 08:20] #3041 closed

[2016-06-30 08:23] Unknwon commented on #3041
Yeah.... your server setting looks unusual to me..

[2016-06-30 08:30] xor-gate commented on #3171
@bkcsoft is this reported upstream to `russross/blackfriday` ?, this would be a good idea and cross-reference to this issue also.

[2016-06-30 10:16] andreynering commented on #3182
@Unknwon I'll try to implement editorconfig support when have a little free time.

But maybe I should wait for the web editor PR first? #3151

[2016-06-30 12:51] jbub commented on #3003
All my errors were due to incorrect db pooler configuration - i had pgbouncer in front of postgres running in `transaction` pool_mode. Gogs uses prepared statements which pgbouncer supports only in `session` pool_mode. So be aware :)

More here: https://pgbouncer.github.io/faq.html#how-to-use-prepared-statements-with-session-pooling

[2016-06-30 12:52] xdsnet commented on #3101
就是用的sourceTree 1.8.30 内置的git工具，拉数据的时候并没有登陆的

[2016-06-30 13:05] xor-gate commented on #2807
I have tried to create a repository and waited for a few minutes

* On try.gogs.io
* Version 0.9.33.0630

The following html is generated (https://try.gogs.io/admin1 - repo test_issue_2807):
[code]

[2016-06-30 14:41] timshannon commented on #3003
@Unknwon well, I'm not actually using the webhooks now, because they don't work.  I'm using a curl call in the git post-receive hook instead and it's been working fine.

I can try the webhooks again if you like, but I assume I'd be getting the same errors as I submitted above.

[2016-06-30 15:58] oleersoy commented on #3019
Sure - do you have a specific thread you would like to use.  It's really not complicated though.  In the instructions it says to set **domain** to the docker IP address.  So **domain** is the docker container virtual machine.  Trying to access that machine using the `exposed` port value, usually 10080, fails because the **domain** or docker container is listening on port 3000.

[2016-06-30 22:48] Jonny007-MKD commented on #3220
Yeah, I mentioned that in #2777, too.

The user name (`mail.USER`) doesn't have to be an email address, whereas the sender does.

[2016-07-01 03:05] ubiko commented on #2464
@Unknwon

`taskChan := make(chan bool, 2)` is fixing it...but does it mean it's slower than if it was set at 10?

[2016-07-01 05:24] furai commented on #1322
Yeah, LFS is needed. This is a feature right now that keeps us from moving from gitlab to gogs.

[2016-07-01 05:25] falcon0 commented on #1322
+5

[2016-07-01 06:07] wolkenschieber opened #3222 "Organiation members can't see teams"
- Gogs version (or commit ref): 0.9.13.0318
- Git version: 2.7.4
- Operating system: Ubuntu 16.04
- Database: SQLite

## Description

I have created an organization and added people to it. These people are organized in teams.

If a normal user browses the organization site, he sees the members in the people panel, but the teams panel is empty. Only the site admin and the organization owner see the

[2016-07-01 06:36] Unknwon commented on #2464
@ubiko yes, that's right...

[2016-07-01 06:40] Unknwon commented on #3019
By `domain`, it is the domain/IP outside world could access to it, if you use internal IP inside container, that fails obviously...

[2016-07-01 06:45] Unknwon commented on #3101
If you can't reproduce this on https://try.gogs.io , I think there is a config you made for you username and password and remembered in sourceTree for the local URL you tested.

[2016-07-01 06:46] Unknwon commented on #3003
@timshannon yes, try again and check errors in `path/to/gogs/log/serv.log`.

[2016-07-01 06:58] wsw70 opened #3223 "LDAP authentication fails repeatedly, then goes though"
- Gogs version (or commit ref): `0.9.30.0601`
- Git version: `2.6.6`
- Operating system: `Debian`
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant

## Description

Gogs is configured to authenticate against an Active Directory via LDAP. The authentication process fails in

[2016-07-01 07:31] oleersoy commented on #3019
That's what the instructions say to do:

So it's natural to think that the `domain` is the docker IP address ...

I understand exactly what you mean and you understand exactly what you mean and it's obvious to us because we simply get it, but for other people trying to get this running for the first time it's easier to just follow step by step instructions.  I think that more people will fall into

[2016-07-01 07:37] Unknwon commented on #3019
`domain` could be anything that is possible to let outside world visit your Docker container.

[2016-07-01 16:59] oleersoy commented on #3019
I do understand.  I'm sure anyone Google'ing this now will end up here and can read the notes, so if it's OK with you I'll close this.

[2016-07-01 17:21] Unknwon commented on #3019
Yeah. You can close this one..

[2016-07-01 17:48] #3019 closed

[2016-07-01 21:18] stevenleeg commented on #2833
Regardless of the actual implementation of this, I agree that I think it'd be a really good feature to be able to customize the landing page to something other than the Gogs default. It would go a long ways in making installations seem unbranded.

[2016-07-01 22:10] DenisIzmaylov opened #3226 "Re-write UI in React.js"
Dear, nowadays React.js is close to be a standard for UI in JavaScript. It will takes a possibility to quick growth and cheap maintenance. A lot of already-done solutions with great quality.

[2016-07-01 23:56] Xe commented on #3226
Gogs is not facebook, you don't need react. Even using jQuery can be overkill. Maintainers please ignore this ticket.

[2016-07-02 03:19] DenisIzmaylov commented on #3226
So agressive.
React can provide extendable UI layer which allow to make Gogs is more like platform to customize according to business needs.

[2016-07-02 10:16] Unknwon commented on #2947
Hmm... Gogs does not support MySQL as session provider actually...

[2016-07-02 10:23] Unknwon commented on #2947
Comment in the `app.ini` is wrong, sorry about that...

[2016-07-02 10:23] #2947 closed

[2016-07-02 10:25] Unknwon commented on #2964
Duplicated to https://github.com/gogits/gogs/issues/2951...

[2016-07-02 10:25] #2964 closed

[2016-07-02 10:33] Unknwon commented on #2960
Can you given examples on https://try.gogs.io?

[2016-07-02 10:34] Unknwon commented on #2963
Hi, if you're not able to reproduce on demo site, please update to `master` version and try again.

[2016-07-02 10:35] Unknwon commented on #2962
Hi, Gogs only supports standard Markdown syntax as @Gibheer mentioned we use blackfriday, please file issues to upstream repository.

[2016-07-02 10:35] #2962 closed

[2016-07-02 10:39] Unknwon commented on #2970
Hi, one team only has one level of access to repositories it contains, and it is in the team settings page.

I remember there are corresponding issues already, closing this.

[2016-07-02 10:39] #2970 closed

[2016-07-02 10:40] Unknwon commented on #2975
I think this is basically same to https://github.com/gogits/gogs/issues/568...

[2016-07-02 10:40] #2975 closed

[2016-07-02 10:43] Unknwon commented on #2983
Please check if there is any error in `path/to/gogs/log/serv.log`.

[2016-07-02 10:45] Unknwon commented on #2985
Duplicated to https://github.com/gogits/gogs/issues/353...

[2016-07-02 10:45] #2985 closed

[2016-07-02 10:52] everhopingandwaiting commented on #2983
yes ,it cause by issue  #3078

[2016-07-02 10:53] Unknwon commented on #2983
So it is fixed now?

[2016-07-02 10:54] Unknwon commented on #2968
Please test out `develop` branch again.

[2016-07-02 10:56] everhopingandwaiting commented on #2983
yeah. it is, you can close this issue.hha

[2016-07-02 10:57] #2983 closed

[2016-07-02 10:59] Unknwon commented on #2989
Maybe you could just close that...

[2016-07-02 11:00] Unknwon commented on #2994
@eqbala you should update Gogs in any rate if you're not using latest version for bug reporting...

[2016-07-02 11:00] Unknwon commented on #3005
Please read https://github.com/gogits/gogs/blob/master/.github/ISSUE_TEMPLATE.md

[2016-07-02 11:00] #3005 closed

[2016-07-02 11:02] #2669 closed

[2016-07-02 11:11] Unknwon commented on #3027
How `units` affects users? I'm not quite get this part.

[2016-07-02 11:17] strk commented on #2956
So it looks, closing.

[2016-07-02 11:17] #2956 closed

[2016-07-02 11:20] strk commented on #2960
https://try.gogs.io/strk/test2/issues/1 -- see how the reference to `#3` does not include the repository name (`kalxas/OSGeoLive`)

[2016-07-02 11:22] strk commented on #2960
Another test (so it doesn't point to a 404): https://try.gogs.io/strk/test1/issues/1

it would be also nice to get a back-reference, but I guess that's for another ticket ?

[2016-07-02 12:21] andreynering commented on #3226
I dislike this proposal. This would require more maintenance, and I am not sure of the benefits.

We have to remember that many people know HTML, but just a few know React. The may keep away new contributors.

I don't think the statement above is true. I know React and it is not easy to learn for beginners. (This is why I prefer [VueJS][vuejs], but static HTML, when enough, is even better).

It's

[2016-07-02 13:25] pwFoo opened #3228 "500 error after rename repository because of path change"
There is a warning that path will change during rename a repository, but after repo name is changed the user shouldn't get served an 500 error. User should be redirected to the new url instead of the old one.

[2016-07-02 14:53] Unknwon commented on #3228
Please read https://github.com/gogits/gogs/blob/master/.github/ISSUE_TEMPLATE.md

[2016-07-02 14:55] Unknwon commented on #3130
What's this different from https://github.com/gogits/gogs/issues/649 and https://github.com/gogits/gogs/issues/2157?

[2016-07-02 14:57] Unknwon commented on #3074
What about non-test emails?

[2016-07-02 14:58] Unknwon commented on #3010
Feels like your network error to me...

[2016-07-02 14:58] #3010 closed

[2016-07-02 14:59] Unknwon commented on #3011
Please attach a screenshot.

[2016-07-02 15:00] Unknwon commented on #3012
Please give example URLs.

[2016-07-02 15:01] Unknwon commented on #3014
I think you should use Dropbox or Google Drive....

[2016-07-02 15:01] #3014 closed

[2016-07-02 15:04] Unknwon commented on #3020
I think you should request for API for editing labels instead...

[2016-07-02 15:05] Unknwon commented on #3217
Duplicated to https://github.com/gogits/gogs/issues/3034

[2016-07-02 15:05] #3217 closed

[2016-07-02 15:08] Unknwon commented on #3030
How does "Test Delivery" know which endpoint to shoot?

[2016-07-02 15:10] Unknwon commented on #3032
put under `custom/conf/license` requires you changes nothing but restart Gogs.

[2016-07-02 15:10] #3032 closed

[2016-07-02 15:10] Unknwon commented on #3053
I guess it should be `/etc/gogs/conf`?

Please ask questions on https://discuss.gogs.io/

[2016-07-02 15:10] #3053 closed

[2016-07-02 15:12] Unknwon commented on #3054
No, it's not ever possible for a human create two issues in the same nano second.

Please test and verify your situation on https://try.gogs.io or latest `master` branch.

[2016-07-02 15:15] Unknwon commented on #3058
I guess it is not working at all... https://github.com/gogits/gogs/blob/6f6b37f148428eb83cbefdf84253ab7f412e2537/models/issue.go#L506

[2016-07-02 15:16] mcanevet commented on #3030
I was hoping that clicking "test delivery" on one secific webhook, send the payload to this webhook only

[2016-07-02 15:23] Unknwon commented on #3072
Please merge discussion to https://github.com/gogits/gogs/issues/2308

[2016-07-02 15:23] #3072 closed

[2016-07-02 15:26] Unknwon commented on #3052
@Zeeker has posted what needs to be said...

[2016-07-02 15:26] #3052 closed

[2016-07-02 15:29] Unknwon commented on #3070
Feels the same issue to me as well... same argument as https://github.com/gogits/gogs/issues/2950

[2016-07-02 15:29] #3070 closed

[2016-07-02 15:31] Unknwon commented on #3085
I think you should file bug to packager.io...

[2016-07-02 15:32] Unknwon commented on #3077
Close as PR merged.

[2016-07-02 15:32] #3077 closed

[2016-07-02 15:34] Unknwon commented on #3102
I think it is because you did not volume the custom directory... deployment problem please go to https://discuss.gogs.io/...

[2016-07-02 15:34] #3102 closed

[2016-07-02 15:35] Unknwon commented on #3106
I think @xiegeo has given the correct solution... it's more like configuration problem.

[2016-07-02 15:35] #3106 closed

[2016-07-02 15:42] Unknwon commented on #3120
How to generate a PID file?

[2016-07-02 15:45] strk commented on #3130
They all mention different "units". How about keeping them open until all fixed ?
I'd look at #3049 to move this further.

[2016-07-02 15:45] Unknwon commented on #3142
Hi... actually I'm not quite understand what you're trying to describe... but set auth info in `app.ini` would be acceptable, it seems a dirty workaround instead of a solution.

[2016-07-02 15:46] Unknwon commented on #3130
I think this one is duplicated..

[2016-07-02 15:48] Unknwon commented on #3150
Because the member is not in the team that has access to the repository.

[2016-07-02 15:48] #3150 closed

[2016-07-02 15:49] Unknwon commented on #3156
Duplicated to https://github.com/gogits/gogs/issues/1405...

[2016-07-02 15:49] #3156 closed

[2016-07-02 15:50] Unknwon commented on #3128
Have you tested latest `master` branch?

[2016-07-02 15:50] Unknwon commented on #3165
What is your URl?

[2016-07-02 15:51] Unknwon commented on #3165
Use whatever URL Gogs web UI shows you...

[2016-07-02 15:51] #3165 closed

[2016-07-02 15:52] Unknwon commented on #3013
What do you mean by `but that does not seem to work with an unix domain socket`?

[2016-07-02 15:53] Unknwon commented on #3177
I think this is basically same to https://github.com/gogits/gogs/issues/3087

[2016-07-02 15:53] #3177 closed

[2016-07-02 15:54] Unknwon commented on #3175
Hi, this is a fixed issue in `master` branch.

[2016-07-02 15:54] #3175 closed

[2016-07-02 15:56] Unknwon commented on #3179
Hi, what is the motivation for having that?

[2016-07-02 15:58] Unknwon commented on #3166
Hi, this is duplicated to https://github.com/gogits/gogs/issues/2586

[2016-07-02 15:58] #3166 closed

[2016-07-02 16:00] Unknwon commented on #3184
I don't understand this part...

[2016-07-02 16:01] Unknwon commented on #3185
The fail to delete folder on Windows bug is fixed in `master` branch.

[2016-07-02 16:01] #3185 closed

[2016-07-02 16:01] Unknwon commented on #3163
Please upgrade and test again.

[2016-07-02 16:03] Unknwon commented on #3099
So... what now?

[2016-07-02 16:03] Unknwon commented on #3187
Answered by @clone1018 ...

[2016-07-02 16:03] #3187 closed

[2016-07-02 16:04] Unknwon commented on #2988
Can you give an example.... ?

[2016-07-02 16:05] Unknwon commented on #2973
Since it could cause many conflicts, web UI can handle very little, I don't think it is a good idea.

[2016-07-02 16:08] Unknwon commented on #3218
Sorry I don't understand this issue?

[2016-07-02 16:09] Unknwon commented on #3219
If hide in dropdown, where to access them when you need?

[2016-07-02 16:11] Unknwon commented on #3223
From what I experienced, whenever `read: connection reset by peer` occur, that means server declined the request, possibly too many requests and it has to kill some of them.

[2016-07-02 16:19] strk commented on #2988
Your comment arrived with `From: 无闻 <notifications@github.com>` so I guess it could be considered as including the comment author (in the From field). Closing. Will re-file with an example if it doesn't include the author.

[2016-07-02 16:19] #2988 closed

[2016-07-02 16:26] strk commented on #3011
Cannot reproduce with 0.9.30.0601, closing

[2016-07-02 16:26] #3011 closed

[2016-07-02 17:01] DeKugelschieber commented on #3163
Well I'm on 9.13 and waiting for the next version. I'm not in a hurry :)

[2016-07-02 17:12] megaknoc commented on #2308
+1

As the private / protected / public behaviour is exclusive I would change from using a checkbox for the two option to a combobox for choosing one of the three options.

[2016-07-02 18:43] firestalk commented on #3184
as for now, I see at https://git.teknik.io/shaggytwodope/bin normal repo too

[2016-07-02 19:10] matthewlenz commented on #3219
Just a small check box that filters them out in the drop down [X] Hide Merged, maybe?.  It could be unchecked by default.

[2016-07-02 21:00] jmptbl commented on #3179
Our organisation LDAP includes user accounts who shouldn't access our code repositories, so we only enable auto-register when a new user is going to login for the first time.

[2016-07-02 22:56] tcarrio commented on #2972
Issue resolved in referenced commit

[2016-07-02 22:56] #2972 closed

[2016-07-03 05:23] phtan commented on #2863
I want to work on this issue. Nobody has claimed this yet, s'far as I can see.

[2016-07-03 05:59] rgl commented on #3013
To connect to the unix domain socket you have to use the alternative syntax, the URL syntax does not work. Also, the alternative syntax works fine with non-unix domain sockets.

[2016-07-03 08:12] Unknwon commented on #3163
If you can't reproduce on demo site, I'm going to close this...

[2016-07-03 08:16] Unknwon commented on #3219
OK... how to check if a branch is fully merged?

[2016-07-03 08:18] Unknwon commented on #3179
.... even if not auto-registered, the user is still able to view the repositories from what I remember.

[2016-07-03 08:22] Unknwon commented on #2863
@phtan Go ahead :smiley:

[2016-07-03 08:31] Unknwon commented on #3013
How can I find docs about connection string? I remember `"user=git host=/var/run/postgresql port=5432 dbname=gogs sslmode=disable"` is deprecated way and I don't think PostgreSQL guys not even support unix in new connection string format?

[2016-07-03 08:40] Unknwon commented on #3013
Fount it: https://www.postgresql.org/docs/current/static/libpq-connect.html#LIBPQ-CONNSTRING

Also, you still have port number with unix socket seems wrong anyway?

[2016-07-03 09:16] rgl commented on #3013
Having the "port number" is correct as postgres actually uses it. Its described on the link you've found:

[2016-07-03 09:21] Unknwon commented on #3013
OK... good to know. Anyway we have found the cause.

[2016-07-03 12:07] matthewlenz commented on #3219
git branch --merged master will list them. If that isn't sufficient how about tracking it in the database and allowing users to flag as archived? and use an option like [ ] Hide Archived in drop down to filter out "archived" branches.  That way the user has control over it and you don't have to try to guess if it was fully merged.   Not sure where you would allow them to mark it archived though.

[2016-07-03 12:15] DeKugelschieber commented on #3163
Well I couldn't reproduce this on the demo site. I'll try to fix it manually in the database.

[2016-07-03 12:15] #3163 closed

[2016-07-03 13:16] wsw70 commented on #3223
The problem is that this F5 is serving thousands of connections and only the ones from gogs fail

[2016-07-03 14:00] Unknwon commented on #3223
http://stackoverflow.com/questions/1434451/what-does-connection-reset-by-peer-mean

[2016-07-03 14:10] mcheng89 commented on #3013
From Unknwon's link:

Note, however, that the slash is a reserved character in the hierarchical part of the URI. So, to specify a non-standard Unix-domain socket directory, either omit the host specification in the URI and specify the host as a parameter, or percent-encode the path in the host component of the URI:

postgresql:///dbname?host=/var/lib/postgresql
postgresql://%2Fvar%2Flib%2Fpostgres

[2016-07-03 17:16] bkcsoft commented on #3099
How about another user-setting? Either show full name OR username

[2016-07-03 17:21] bkcsoft commented on #3177
@Unknwon IMO this is a bug, and while related to #3087, it is not a duplicate. Gogs should not allow for slashes in the wiki-pages name until it has support for  hierarchy. My 2 cents :smiley:

[2016-07-03 18:14] jmptbl commented on #3179
Nope, if auto-registration is disabled, an LDAP user can't register, and authentication fails for him.

[2016-07-03 18:19] Tmplt opened #3229 "Repositories named '..' and '.' cannot be entered."
- Gogs version (or commit ref): `0.9.13`
- Git version: `2.9.0`
- Operating system: Arch Linux
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [x] Yes: https://try.gogs.io/Tmplt
  - [ ] No
  - [ ] Not relevant
- Log gist: I was unable to find a log which mentioned the created repositories.

## Description
If I create a repository n

[2016-07-03 18:54] bkcsoft commented on #3226
When Gogs JSON-API is fullt implemented one could write their own frontend, so I'd push for that instead if I were you :)

[2016-07-03 19:15] bkcsoft commented on #2464
This is most likely related to `ulimit`, there's a couple of issues about
that already, check them out :smiley:

[2016-07-03 19:19] bkcsoft commented on #1322
I think GitHub has a reference implementation of a lfs-server written in
golang that we could fork and use (without having a separate process :clap:)

[2016-07-03 19:22] bkcsoft commented on #3171
Not yet, I'll do that now :)

[2016-07-03 19:24] YugoCode commented on #2464
@ubiko The line of code you posted is fixing the problem??? I don't care if it's slow, I need it to work at least. Where do I have to put the line? Or could you build a binary with this fixed line?

Thank you :)

[2016-07-03 19:58] sjahreis commented on #2464
@bkcsoft In my case it's not related to ulimit. No limitations configured...

Please add as config option!

[2016-07-04 01:46] ubiko commented on #2464
@Unknown no worries, it's a pretty hard issue to figure out also. I gotta thank you for making Gogs before I'd complain. :+1:

@YugoCode Yes it is fixing it. It's more of a workaround than a fix though, credit goes to: @lucianolorenti (Higher up in the comments) . You can fix it by modifying [tree_entry.go](https://github.com/gogits/git-module/blob/master/tree_entry.go#L129) . You need to work fro

[2016-07-04 07:23] hellochenwang commented on #1071
@Unknwon will @richmahn 's code be merged into the main trunk?

[2016-07-04 08:02] Unknwon commented on #1071
@hellochenwang I can not assure you...

[2016-07-04 08:06] Unknwon commented on #3179
But they can still login...

[2016-07-04 08:07] Unknwon commented on #3177
@bkcsoft I think you won't get 404 anymore on `master`...

[2016-07-04 08:08] Unknwon commented on #3099
@bkcsoft pre-user?

[2016-07-04 08:08] ciruz commented on #2354
Hey @crohr and @Unknwon, I just want to inform you again that the latest packages are failing since a month

https://packager.io/gh/pkgr/gogs

[2016-07-04 08:50] Unknwon commented on #3229
Hi, I think it is browser's automatic behavior, should we disable such names?

[2016-07-04 09:28] Unknwon commented on #3058
You're now able to test on `develop` branch or https://try.gogs.io/ . To change default max response number: https://github.com/gogits/gogs/commit/4b25bdfbc45479d64e3ffb04abbd08672ccc47fb#diff-c4893a32340ee2cee87e664d67f8abf3R350

[2016-07-04 09:28] Unknwon commented on #3059
You're now able to test on develop branch or https://try.gogs.io/ .

[2016-07-04 09:40] amarruedo opened #3230 "Docker build fails, missing go-bindata"
Running docker build returns the following error:

[code]

This can be fixed adding to `docker/build.sh` the following lines after `#Install glide`:

[code]

[2016-07-04 10:11] mbugeia commented on #3222
Hi,
Same issue for me, I think it's a duplicate of #3031 (and maybe fixed by #3048 )

[2016-07-04 10:47] phtan opened #3231 "Translate deletion notices"
After issue #2863 , one expects that the deletion notices will reflect the new behaviour. However, the deletion notices explain the old behaviour, which is the following:

(from https://github.com/gogits/gogs/blob/7049cb9d975505a6f1fa3fad809dd92c1078360f/conf/locale/locale_en-US.ini#L604 )

I suggest a new deletion notice: ' All forks will become independent after deletion '

This requires a trans

[2016-07-04 12:46] DenisIzmaylov commented on #3226
Great. Disagreed with those people who declined React.js because is really biggest UI ecosystem (have a look at jobs trends). React.js code is best for maintenance ever.

But it seems the best idea to keep MSA way. And seperate Gogs as a web service and UI service. Like [Concourse](https://github.com/concourse/concourse).

[2016-07-04 13:02] Unknwon commented on #3230
Hi, bindata.go is generated and commit into repository already, if you need to run that, you somehow changed the file, that's unexpected and thus go-bindata is not a requirement for building Docker image.

[2016-07-04 13:02] #3230 closed

[2016-07-04 13:05] Unknwon commented on #3231
@phtan you only need to change in `en-US`. Please do that in your PR.

[2016-07-04 13:12] Unknwon commented on #518
Close as implemented.

[2016-07-04 13:12] #518 closed

[2016-07-04 13:13] Unknwon commented on #1926
Close as fixed.

[2016-07-04 13:13] #1926 closed

[2016-07-04 13:16] Unknwon commented on #2776
Close as lack of feedback.

[2016-07-04 13:16] #2776 closed

[2016-07-04 13:18] Unknwon commented on #2916
Close as fixed.

[2016-07-04 13:18] #2916 closed

[2016-07-04 13:18] #2945 closed

[2016-07-04 13:18] #2955 closed

[2016-07-04 13:18] #2963 closed

[2016-07-04 13:18] Unknwon commented on #2968
Close as fixed.

[2016-07-04 13:18] #2968 closed

[2016-07-04 13:18] #2984 closed

[2016-07-04 13:19] Unknwon commented on #3003
ping

[2016-07-04 13:19] Unknwon commented on #3006
Close as fixed.

[2016-07-04 13:19] #3006 closed

[2016-07-04 13:19] #3024 closed

[2016-07-04 13:19] #2952 closed

[2016-07-04 13:24] #3218 closed

[2016-07-04 13:24] #3205 closed

[2016-07-04 13:24] #3184 closed

[2016-07-04 13:25] Unknwon commented on #3159
Close as fixed.

[2016-07-04 13:25] #3159 closed

[2016-07-04 13:25] #3130 closed

[2016-07-04 13:25] #3128 closed

[2016-07-04 13:25] Unknwon commented on #3103
Close as fixed.

[2016-07-04 13:25] #3103 closed

[2016-07-04 13:25] #3101 closed

[2016-07-04 13:25] Unknwon commented on #3099
Duplicated to https://github.com/gogits/gogs/issues/2923?

[2016-07-04 13:26] #3054 closed

[2016-07-04 13:26] #3035 closed

[2016-07-04 13:26] #3029 closed

[2016-07-04 13:30] phtan commented on #3231
By PR, you mean my existing PR (https://github.com/gogits/gogs/pull/3232 ) right?

[2016-07-04 13:32] Unknwon commented on #3231
Yes

[2016-07-04 13:32] Unknwon commented on #3231
I think you just remove the existing one and modify it to what you proposed above.

[2016-07-04 13:36] xor-gate commented on #3159
:+1:

[2016-07-04 13:37] panticz commented on #3205
I m not realy familiar with Go but as far i can see is this variable also avaiable in go (see line 122):
https://golang.org/src/net/http/cgi/host.go
see also PHP documentation: http://php.net/manual/en/reserved.variables.server.php

[2016-07-04 13:46] Unknwon commented on #3205
https://golang.org/src/net/http/cgi/host.go

I think you did not look it carefully...

[2016-07-04 13:58] bkcsoft commented on #3099
IMO yes :)

[2016-07-04 14:04] bkcsoft commented on #3229
Yes we should disallow such names :)

[2016-07-04 14:09] sbrl commented on #3130
@Unknwon How does this have anything to do with #3049? I think I'm missing something here.

[2016-07-04 18:04] SeinopSys opened #3234 "HTML align attribute is stripped in markdown"
I'm having a rendering issue using Gogs v0.9.13.0318 which I have sucessfully [reproduced at try.gogs.io](https://try.gogs.io/SeinopSys/HTML-Align-Issue-Demo/src/master/README.md). The following "markdown" code which can be used to center images and headings on GitHub does not work due to the `align` attributes getting stripped during rendering.

In other words, this:

[code]

becomes:

[code]

I'

[2016-07-04 19:42] mbugeia commented on #3031
I confirm it's fixed on https://try.gogs.io.

[2016-07-04 21:43] stevenroose commented on #3142
It just seems to me that authentication settings are part of the installation configuration rather than something to do at runtime. So it should be put in `app.ini` instead of the database.

Many packaged versions of Gogs that are specifically made for a certain software distribution will want to automatically integrate Gogs with the authentication scheme they use during the installation period. T

[2016-07-04 22:59] oleersoy commented on #3034
I wonder how github creates backup of repositories safely?  It's completely transparent to us.  When I asked how to go about doing the same for Gogs, some said to add commit hooks etc. but that requires that the user be responsible for the backup of each repository.  Ideally there's some safe transparent way to do it while keeping Gogs online.

[2016-07-04 23:26] Dasoren commented on #3099
When you say "full name" you mean the name set in the git repo or some other name that is part of the user's data?

If this is going to be a thing, I would like an option to use the name set as the name in the git repo. Thanks.

[2016-07-05 00:54] Andecy commented on #2952
thanks, I fix it with nssm

[2016-07-05 08:43] ewoutp commented on #2927
+1

[2016-07-05 11:16] ptman commented on #776
I think protected branches / branch permissions can be implemented by itself without having to provide much integration with the code review side initially.

[2016-07-05 11:19] xor-gate commented on #3171
Define now @bkcsoft :+)

[2016-07-05 11:41] lnalex commented on #776
@ptman This is not the same need, of course if you are code reviewing your project you have to protect branches but you also need to make comments on the submitted code: both are different feature.

[2016-07-05 12:23] jmgilman commented on #2924
+1 A well tested method would be appreciated rather than trying to cobble my own together

[2016-07-05 12:47] hrobertson commented on #1663
This appears to be a duplicate of https://github.com/gogits/gogs/issues/776 (Protected Branches)

[2016-07-05 12:51] hrobertson commented on #776
@ptman @lnalex As has been said, 'Protected Branches' and 'Line-by-line code comments on the PR' are separate features. Neither _requires_ the other.

If you read the first post of this feature request, it is asking for Protected Branches.
Line-by-line comments are only mentioned as a nice to have:

The existing Pull Requests feature enables commenting, but not line-by-line.

I agree that the abil

[2016-07-05 15:46] STALKER2010 commented on #2080
Implemented this Markdown extension in my local Git repo, along with Wiki sidebar (as on GitHub). Will send PR in a few days.
But the caveat is that GitHub has different ```[[...]]``` syntax. It is ```name|link```, not ```link|name``` as in MediaWiki. I've implemented GitHub one to match my PR related to wiki mirroring.

[2016-07-05 16:20] richmahn commented on #2046
This is also similar to https://github.com/gogits/gogs/issues/3080 which has to do with comparing tags/releases.

[2016-07-05 17:27] timshannon commented on #3003
@Unknwon Sorry I was out on vacation for a bit.  Here's my serv.log

[code]

So it looks like it's expecting a specific response?  I'm not finding any specifics in the documentation as to what kind of return value it's expecting.

[2016-07-06 04:43] Phatalist opened #3236 "Add possibility to use existing repository as template"
It will be cool to get possibility when creating new project to have drop-down list which allow to choose existing repo as template, same way as we can choose Readme.

Our dev team make much small game projects with default project structure like a folders, plugins, target platform.
But also all this projects have same repo structure (branches, privacy, wiki etc), and possibility to create new rep

[2016-07-06 08:16] jeppech commented on #3236
Imo, this sounds more like a job, for some sort of provisioning script/boilerplate generator. Except for the wiki

[2016-07-06 08:24] weihoop commented on #1341
windows下，下载zip包，用360压缩打开没有乱码。不过下载tar.gz包，还是空包。

[2016-07-06 11:03] sunny5156 opened #3237 "CreatePost: driver: bad connection"
...routers/repo/repo.go:101 handleCreateError()] [E] CreatePost: driver: bad connection

How to deal this error ?

[2016-07-06 11:56] freshcn commented on #776
+1

[2016-07-06 12:57] mioga-brian opened #3239 "SSH / Cannot push with git/ssh from Server"
Hello,
I have a ssh issue with my server (ubuntu trusty), when I try to git push a project from the same server where gogs is installed, which display this errors:

fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

Note: From my computer git pushes works fine and gogs works well, too.

[2016-07-06 16:00] richmahn commented on #1071
@Unknwon If it means anything, we have been using this in full production now for a month and released a product that had been pretty much been edited and revised through my online web edit feature. I also just updated my branch for it due to changes in gogits/develop due to the diff update. There are a few fixes I just now saw I need to make, like not having the Edit/Create/Upload buttons if view

[2016-07-06 16:36] richmahn commented on #3182
@andreynering @Unknwon Yeah, this is something I have worked with and fiddled with in the editing feature, and while I separated the JS call to the Wiki editor from the File editor, they are in the same JS file and similar in function. We can change how tabbing works.

[2016-07-06 16:40] richmahn commented on #1071
I've now made those other fixes to properly show and not show the Edit/Upload/New File buttons.

[2016-07-06 16:49] richmahn commented on #1071
@hellochenwang Keep asking. :) I hope more look at this and it gets in. I already am having to keep it updated with other pushes to develop, yet don't know when this much-needed feature will be added.

[2016-07-06 17:10] deanpcmad opened #3240 "Issues API not marking issues as closed"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.9.13.0318
- Git version: 2.9.0
- Operating system: Server is Ubuntu. Client is Mac
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQL

[2016-07-06 17:13] deanpcmad commented on #3240
After further testing it looks like the Issues are marked as closed if I set `closed` to `true` when creating the issues. The API doesn't recognise the `closed` param when editing the issue though

[2016-07-06 17:32] richmahn commented on #3234
I even wonder if "style" would be ok to be allowed. I have wanted to do some styling, but that is also stripped.

[2016-07-06 18:16] deanpcmad commented on #3240
Another update. It works on the current version on try.gogs.io but not on version 0.9.13.0318

[2016-07-06 18:26] deanpcmad commented on #3240
When will a new version of Gogs be released? The last version was released in March...

[2016-07-06 18:40] Refactoring commented on #3015
The problem persists... v0.9.13.0319, Windows Server 2008 R2, Mysql5.6.

`2016/07/07 02:28:38 [I] Log Mode: File(Info)
2016/07/07 02:28:38 [I] Cache Service Enabled
2016/07/07 02:28:38 [I] Session Service Enabled
2016/07/07 02:28:38 [I] Git Version: 2.8.1
2016/07/07 02:28:38 [I] SQLite3 Supported
2016/07/07 02:28:38 [I] Builtin Windows Service Supported
2016/07/07 02:28:38 [I] Run Mode: Production

[2016-07-06 19:41] henkjan commented on #2511
+1 pagination, or user configurable how much items are displayed on the dashboard is highly desired

[2016-07-06 21:52] bkcsoft commented on #3236
Isn't this what forks are for?

[2016-07-07 00:56] andreynering commented on #3182
PR for editorconfig: #3241

[2016-07-07 03:47] Phatalist commented on #3236
@bkcsoft  we can use forks, we can clone existing repo as file/folder structure and paste in current repo folder, we can save archive we repo and use it in new project, we could use many ways to get this. But if we have possibility choose .gitignore and licence from convenient web interface will we do it mannualy? Of course no. Same with project template if we could get way to do it easier, why no

[2016-07-07 09:41] pwFoo commented on #3228
Renamed repo from settings and get an 500 error message after save and page reload.

**Log**
`2016/07/02 09:13:07 [...ters/repo/setting.go:118 SettingsPost()] [E] SaveAddress: Load: open /data/git/gogs-repositories/<GOGS-USERNAME>/<GIT-REPO-NAME>.git/config: no such file or directory`

Running gogs docker image inside a container.

https://discuss.gogs.io/t/500-error-after-rename-repository-becaus

[2016-07-07 09:53] letorbi opened #3242 "Repository names with dots cause internal server error"
I have some repositories that contain dots (".") in their name. This worked once (dunno what version, but AFAIK I've accessed the repos last time in March or April), but getting the repository (`GET https://gogs.letorbi.de/letorbi/reds.web`) now causes a 500 error response.

I'm using version 0.9.28.0527.

[2016-07-07 12:29] Phatalist commented on #3236
Also if it hard to realize that function fast, I suggest making opportunity to choose custom script (as custom README selection from /custom/readme/ folder, same way custom/scripts/ folder) which will be automatical run after repo creating, such way we can do custom action with it.

[2016-07-07 15:43] phtan commented on #3231
@Unknwon done

[2016-07-07 22:41] jag3773 commented on #2049
This would be a huge timesaver for people using Gogs issues for their project management.

[2016-07-07 23:26] #3068 closed

[2016-07-07 23:28] Unknwon commented on #1341
@weihoop can you reproduce this on https://try.gogs.io ?

[2016-07-07 23:34] Unknwon commented on #3229
It's now fixed on `develop` branch.

[2016-07-07 23:35] Unknwon commented on #3242
Please reproduce one on https://try.gogs.io as required.

[2016-07-07 23:42] Unknwon commented on #3130
@sbrl https://github.com/gogits/gogs/issues/3130#issuecomment-230105649

[2016-07-07 23:43] Unknwon commented on #3015
Upgrade to latest `master`.

[2016-07-07 23:50] Unknwon commented on #3222
Thanks @mbugeia !

[2016-07-07 23:50] #3222 closed

[2016-07-07 23:53] Unknwon commented on #3142
Gogs supports theoretically unlimited authentication sources, that's why config in file is not possible.

[2016-07-07 23:54] Unknwon commented on #3099
Please follow on #2923

[2016-07-07 23:54] #3099 closed

[2016-07-08 03:08] Unknwon commented on #3003
The request is simply failed, how did you config Gogs?

[2016-07-08 03:43] Unknwon commented on #3237
I think it is a failure between Gogs and your database, more likely a problem in the DB driver: https://github.com/lib/pq/issues/237

[2016-07-08 03:43] #3237 closed

[2016-07-08 03:43] Unknwon commented on #3239
Post your SSH url.

[2016-07-08 03:46] Unknwon commented on #3234
Note: https://github.com/gogits/gogs/blob/master/modules/markdown/markdown.go#L34

[2016-07-08 03:47] Unknwon commented on #3240
Not sure exactly... If this is not a bug exist in latest `master`, I'm closing this...

[2016-07-08 03:47] #3240 closed

[2016-07-08 04:25] Phatalist opened #3243 "Issues counter at local gogs server"
- Gogs version (or commit ref): 0.9.28.0527
- Operating system: ubuntu
- Database:
MySQL
- Can you reproduce the bug at http://try.gogs.io:
Don't know how.

![issues](https://cloud.githubusercontent.com/assets/5849901/16677308/3962e678-44f6-11e6-8041-32f020021a63.PNG)

[2016-07-08 04:40] clone1018 commented on #3243
This is fixed by https://github.com/gogits/gogs/pull/3207 and caused by Pull Requests being closed @Phatalist

You can wait for a Gogs release or you can build off of the develop branch for the fix :)

[2016-07-08 04:59] #3243 closed

[2016-07-08 05:37] sbrl commented on #3130
@Unknwon I'm confused.

[2016-07-08 05:59] Unknwon commented on #3057
Patch has pushed to fix this issue, please test on `develop` branch or https://try.gogs.io.

[2016-07-08 06:01] Unknwon commented on #1496
What is the status of this issue right now?

[2016-07-08 06:26] strk commented on #1496
I believe this is now fixed, defaulting to Text emails and allowing ENABLE_HTML_ALTERNATIVE config to also include alternative HTML

[2016-07-08 06:48] Unknwon commented on #2789
What is the status of this issue right now with latest `master`?

[2016-07-08 07:41] letorbi commented on #3242
Sry for not reading the requirements - I was in a hurry when posting this issue. I'm unable to reproduce the bug neither on try.gogs.io nor on my own system today. The latter is strange, but anyway. I'm closing this issue and start feeling stupid instead ;)

[2016-07-08 07:41] #3242 closed

[2016-07-08 09:50] chywu opened #3245 "中文用户名"
可否增加中文用户名和仓库名。我们想用GOGS管理一些二进制文件，做一些简单的版本控制管理，库比较多，人员也比较多，全用英文看起来眼花缭乱，如果能支持用户名和仓库名中文就好了。谢谢

[2016-07-08 09:51] jimen0 commented on #3057
Hello, @Unknwon

I've checked it again. Issue seems fixed for me. Nice work! :sunglasses:

Kind regards!

[2016-07-08 09:51] #3057 closed

[2016-07-08 10:39] Unknwon commented on #3242
:joy:

[2016-07-08 10:46] Unknwon commented on #3245
Hi, we have no plan to support this kind of feature, you could use Pinyin with dot (e.g. jinping.xi) instead :).

[2016-07-08 10:46] #3245 closed

[2016-07-08 11:24] mioga-brian commented on #3239
SHH Url: gogs@gogs.domain.de:user/repository.git

[2016-07-08 11:32] Unknwon commented on #3239
Thanks, how did you add your server SSH key itself?

[2016-07-08 12:48] jerrykan commented on #3142
Having to configure the authentication sources in the DB is an impediment to being able to deploy gogs using configuration management tools. I imagine it would be possible to implement any number of authentication sources using the following sort of scheme in the `app.ini`

[code]

the `backend` value in the `[auth]` section defines the priority of the authentication sources that are enabled and a

[2016-07-08 13:06] Unknwon commented on #3142
@jerrykan good point, but I think we probably should just make a new file named `auth_sources.ini`?

[2016-07-08 14:49] mioga-brian commented on #3239
Yes, the HTTP-Url don't work also from my Server, but from my PC works the SSH-Url and the HTTP-Url.

[2016-07-08 15:21] Unknwon commented on #3239
I did not ask a yes/no question...

[2016-07-08 15:29] timshannon commented on #3003
Other than what I put up above, what are you looking for?  How I configured the webhook?

[2016-07-08 15:38] mioga-brian commented on #3239
Sorry, i'm abit tired.
I did this:

[2016-07-08 17:37] Unknwon commented on #3003
Your server is not able to request (HTTP HEAD)  itself with URL http://localhost:443/townsourced/ironsmith/tasks/trigger

[2016-07-08 17:38] Unknwon commented on #3239
Did you add SSH key through web UI?

[2016-07-08 18:34] arno01 opened #3247 "[feature] Support custom profile photo at the commits page"
- Gogs version (or commit ref):
0.9.37.0708 / in docker

- Database:
  - [x] PostgreSQL

## Description

It would be good to have custom profile photo support at the commits page in case when user chooses a custom profile photo. Currently it points to the gravatar.

Thanks!

P.S.
I am new to Gogs (just installed), I might have overlooked something.

[2016-07-08 18:53] dorlovsky commented on #308
+1

[2016-07-09 05:44] Unknwon commented on #3247
Can you give screenshots for exmaple?

[2016-07-09 09:53] phtan commented on #2863
@Unknwon will you close this issue? #3231 - to be closed, too?

[2016-07-09 09:53] #3231 closed

[2016-07-09 11:44] #2863 closed

[2016-07-09 14:02] jerrykan commented on #3142
@Unknwon my personal preference would be to keep everything in `app.ini` so there is only one file to configure/manage, but I don't see any major issues if it were to be implemented in another config file.

[2016-07-09 14:09] berkutta opened #3248 "[feature] Activate/Deactivate Explore"
Couldn't find any option to deactivate the Explore Tab completely or only things like the user list in the Explore Tab.

[2016-07-09 14:14] Unknwon commented on #3248
What is the purpose of deactivate explore?

[2016-07-09 14:15] Unknwon commented on #3142
`app.ini` is more about site configuration, but authentication sources are data in my opinion.

[2016-07-09 14:21] berkutta commented on #3248
I want to give users access to a repository which don't want to publish their e-mail address together with it's name to the internet. Would be nice to deactivate the user list in the explore.

[2016-07-09 15:37] Unknwon commented on #2375
This problem should no longer exists, please re-test with latest `master`.

[2016-07-09 15:39] #1496 closed

[2016-07-09 15:43] Unknwon commented on #3248
You can force any visiter login before view anything by https://github.com/gogits/gogs/blob/master/conf/app.ini#L143

[2016-07-09 18:17] arno01 commented on #3247
@Unknwon here you go:

![tt](https://cloud.githubusercontent.com/assets/3791945/16709478/1dc463d4-4612-11e6-88f1-b2209a6ae1ae.png)

![tt2](https://cloud.githubusercontent.com/assets/3791945/16709481/24e46222-4612-11e6-8e39-ed8b21853c79.png)

[2016-07-09 19:47] Unknwon commented on #3247
I think you do not have same email address?

[2016-07-10 08:44] arno01 commented on #3247
@Unknwon Humm... that explains everything!
Thank you very much for the great product! :-)

[2016-07-10 08:44] #3247 closed

[2016-07-10 13:19] jerrykan commented on #3142
I don't see configuring authentication backends as being any different to configuring the database or mail servers. It is site specific, generally configured during initial setup, and rarely changes. So I wouldn't really consider the it data.

[2016-07-10 15:06] #2789 closed

[2016-07-10 15:10] #2941 closed

[2016-07-10 15:10] #2976 closed

[2016-07-10 15:10] Unknwon commented on #2989
Any updates?

[2016-07-10 15:10] Unknwon commented on #2994
ping

[2016-07-10 15:11] #3009 closed

[2016-07-10 15:11] #3012 closed

[2016-07-10 15:11] #3031 closed

[2016-07-10 15:11] #3058 closed

[2016-07-10 15:11] #3059 closed

[2016-07-10 15:11] #3085 closed

[2016-07-10 15:11] #3229 closed

[2016-07-10 16:21] MojoDwarf opened #3251 "SQL Error after upgrade to 0.9.40"
Gogs version built from source: 0.9.40.0709
Database: MariaDB 10.1.14
OS:  FreeBSD 10.3-RELEASE-p5
GO version: 1.6.2_1,1

 **_[...s/routers/install.go:71 GlobalInit()] [E] Fail to initialize ORM engine: sync database struct error: Error 1064: You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'ADD `enable_prune` T

[2016-07-10 20:54] Unknwon commented on #3251
Maybe because `MariaDB` is not exactly same as `MySQL`? Demo server uses MySQL and upgrades smoothly...

[2016-07-10 20:54] Unknwon commented on #3251
cc/ @lunny

[2016-07-10 21:29] Unknwon commented on #2458
Patch has pushed to fix this issue, please test on `develop` branch or https://try.gogs.io.

[2016-07-10 21:50] Einfach-Ich commented on #936
+1

[2016-07-10 22:17] zcalusic commented on #3251
I'm using PostgreSQL and got the same error an hour before, trying to upgrade from 0.9.34.0630 to 0.9.40.0709

...s/routers/install.go:71 GlobalInit()] [E] Fail to initialize ORM engine: sync database struct error: pq: syntax error at or near ""enable_prune""

[2016-07-10 22:23] Unknwon commented on #3251
@zcalusic can you checkout `github.com/go-xorm/xorm` to revision `8150bebe6a68d3e86a14e3aa0cbac4873c05131d`, then recompile Gogs and restart?

[2016-07-10 22:35] zcalusic commented on #3251
Would love to, but xorm is uncompilable @ that commit:

# github.com/go-xorm/xorm
./engine.go:384: cannot use true (type bool) as type int in assignment
./engine.go:879: cannot use true (type bool) as type int in assignment
./engine.go:884: cannot use true (type bool) as type int in assignment
./engine.go:939: cannot use make(map[string]bool) (type map[string]bool) as type map[string]int in field

[2016-07-10 22:37] Unknwon commented on #3251
OK... maybe you would have to change `github.com/go-xorm/core` back to `edde1c5ab80e3cda107f6b93af6df894caba41ea` as wel...

[2016-07-10 22:40] zcalusic commented on #3251
Yep, that does it! Successfully started 0.9.41.0711

[2016-07-10 22:52] Unknwon commented on #3251
Thanks @zcalusic , i've notified XORM author.

[2016-07-10 23:22] lunny commented on #3251
Please upgrade to xorm latest master to resolve this issue.

[2016-07-10 23:34] zcalusic commented on #3251
I can confirm all is OK again. Tnx for a great support Unknwon & lunny!

[2016-07-10 23:58] MojoDwarf commented on #3251
I can also confirm the problem is corrected on my system as well, built and upgraded to 0.9.41.0711 without issue. Thank you very much for the support.

[2016-07-10 23:59] #3251 closed

[2016-07-11 07:18] babkamen commented on #1639
maybe it's better to add PR letters to button?

[2016-07-11 13:31] MitchTalmadge commented on #308
+1

[2016-07-11 13:52] fsotomsk commented on #3169
May be #3254

[2016-07-11 18:35] lstahlman commented on #3140
I can pick this up.  The new response will include the properties created_at and updated_at.
Example:
`{
  "id":2,
  "owner":{
    "id":1,
    "username":"test",
    "full_name":"",
    "email":"test@localhost",
    "avatar_url":"https://secure.gravatar.com/avatar/30fa571d2f85bb1c5a5b574d5c5c5005"
  },
  "full_name":"test/Test-Repo-1",
  "description":"Some description",
  "private":false,
  "fork

[2016-07-11 19:58] Unknwon commented on #3140
@lstahlman go ahead :)

[2016-07-11 22:19] Unknwon commented on #2586
`git rev-list` is not supported before 1.8 so only newer git client could fix the problem with new patch.

[2016-07-11 22:21] Unknwon commented on #1513
This is claimed to be fixed by merging #3253, please help test on `develop` branch or https://try.gogs.io.

[2016-07-11 23:08] Unknwon commented on #2709
Patch has pushed to fix this issue, please test on `develop` branch or https://try.gogs.io.

[2016-07-11 23:20] bkcsoft commented on #3171
@xor-gate "now" as in *now* :trollface: russross/blackfriday#279

Sorry, other issues have had priority :)

[2016-07-11 23:26] bkcsoft commented on #3066
@Unknwon this requires fiddling with go-gogs-client right?

[2016-07-11 23:30] Unknwon commented on #3066
@bkcsoft Yes, I think so

[2016-07-12 00:09] bkcsoft commented on #1294
`git count-objects -vH` seems almost trustworthy **IF** you add 1MB to the result and round up :laughing:
This is the output for gogs-repo
[code]

[2016-07-12 00:32] bkcsoft commented on #3216
@Unknwon the bug is here: https://github.com/Unknwon/cae/blob/master/zip/zip.go#L196

It should be
[code]

Not entirely sure how that lib works, so `file.Name` might need the same `replace` :smiley:

[2016-07-12 02:38] ryan-bennett commented on #2301
+1

[2016-07-12 06:47] xor-gate commented on #3171
:+1: first things first, good for having this also active upstream.

[2016-07-12 09:06] furai commented on #1322
That would be really handy. Do you have any links to said lfs-server?

[2016-07-12 10:55] flipswitchingmonkey commented on #1322
That sounds more like it? https://github.com/git-lfs/lfs-test-server

Could be a decent starting point.

[2016-07-12 10:57] bkcsoft commented on #1322
Havn't checked the license, but GitLab has a fully working implementation.
*That* is worth a look :wink:

[2016-07-12 11:10] skaren commented on #2989
The problem is still present.

Gogs Version: 0.9.22.0425

![test - gogs go git service 2016-07-12 13-08-43](https://cloud.githubusercontent.com/assets/2912000/16765028/f57444e0-4831-11e6-99f7-8ce3ea8ef129.png)

[2016-07-12 12:03] jortkoopmans commented on #662
I would love this feature!
LDAP group -> Gogs : one-way synchronization.
I'd think that it should check the groups on each login (when it does lookup in ldap anyway?).

Note there's generally 2 direct methods for LDAP/AD groups (that are usually both applied for consistency)

- Specify the 'MemberOf' or 'UniqueMemberOf' attributes on the User (DN). The attribute usually contains one or more CN's t

[2016-07-12 12:36] vonHabsi opened #3257 "How do you close an issue without referencing it via a commit?"
Is there a button or link in the UI that marks an issue as closed?

I can't see one in the UI.

Using a commit to mark an issue as closed feels odd as it requires to make an arbitrary change to the code in for the sake of a commit.

I have asked this question at https://discuss.gogs.io/t/473 but haven't got a response

[2016-07-12 12:51] andreynering commented on #3257
It's at the bottom of the screen. If you can't see it, maybe it's due permission?

![1](https://cloud.githubusercontent.com/assets/7011819/16767451/ebc05cc0-4815-11e6-8190-077cffdf7127.png)

[2016-07-12 13:03] vonHabsi commented on #3257
Seen it, thanks.
How do you as 'fixed', 'won't fixed', 'needs more info', etc as well, ie additional info besides the fact that it is closed?

[2016-07-12 13:11] andreynering commented on #3257
Use labels. Go to `/user/project/labels` URL to see them. (E.g. https://try.gogs.io/andreynering/gogs/labels)

You can pin labels in issues/PRs.

[2016-07-12 13:54] lenisko commented on #211
Would be great to have support for it

[2016-07-12 13:55] #3257 closed

[2016-07-12 15:24] lukasleitsch commented on #2878
I have the same issue. And yes it was an emoji in a commit message. After deleting the lines in the table `actions` gogs runs.

The field `content` was not completely. The content after the emoji had missing.

[2016-07-12 15:36] furai commented on #1322
Gitlab has working "ruby" implementation - it's no use if it's still needs to be rewritten. We were looking for go version of server.

[2016-07-12 15:45] tungh opened #3258 "gogs能够设置里面的项目每次git push后自动同步到固定网站，就像svn的post-commit一样"
gogs能够设置里面的项目每次git push后自动同步到固定网站，就像svn的post-commit一样

[2016-07-12 16:52] jmptbl commented on #3179
I see you are right, however it was not like that in the past. It used to block the login too.

[2016-07-12 17:03] bkleef commented on #3003
@Unknwon some additional info as we have same issue:

[code]

[2016-07-12 17:08] bkleef commented on #3003
@Unknwon some additional info as we have same issue:

[code]

Gogs version: 0.9.30.0601
Git version: 2.9.0
OS: Alpine Linux Edge
Database: PostgreSQL

As said before, this only happens while pushing over SSH. HTTPS works great.

[2016-07-12 17:45] bartlomiej-kurek opened #3259 "/bin/bash in hooks = error: failed to push some refs"
Pushing repository fails due to update hook having shebang set to #!/usr/bin/env bash.
On some systems (e.g. FreeBSD) bash is not installed in default configuration, and it should not be required for such a simple command as:
"/usr/home/git/gogs/gogs" update $1 $2 $3 --config='/usr/home/git/gogs/custom/conf/app.ini'

[2016-07-12 18:54] strk opened #3260 "Web hook on merge push gives an invalid "compare_url""
Then pushing a merge commit, the payload of the corresponding web hook has a bogus "compare_url" and a fake "before". See this example:
[code]

Compare with this other saner one:
[code]

I guess the difference is that the bogus one was triggered by a merge commit, having two parents, and Gogs decided to not compare with any of the two. If that's the case I'd think the first parent should be chosen

[2016-07-12 20:35] captainark commented on #3120
Maybe you could use [this package](https://github.com/facebookgo/pidfile) ?

[2016-07-12 22:34] richmahn opened #3263 "FontAwesome icons are not showing up, all are flags"
This is not only happening on my development copy as of 7/12, but also on try.gogs.io. It appears any button/link that uses a class of "icon fa" and then fa-<icon_name> appears as a flag, because semantic's css file gets priority with this:

[code]
Which is a flag. Not sure why this started happening.

[2016-07-12 22:35] richmahn commented on #3263
See a flag here in the "Watch" button at the top right: https://try.gogs.io/danil/init.el

[2016-07-12 22:52] lenisko opened #3264 "Large directories - long time or 504 error"
- Gogs version (or commit ref): 0.9.28.0527
- Git version: 2.1.4
- Operating system: Debian x86_64
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [x] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant

## Description
When entering large directory I'm getting **504 Gateway Time-out**.
Created mirror of youtube-dl on try.gogs

[2016-07-12 23:11] NPohl commented on #1781
+1

[2016-07-13 00:56] grunmin commented on #3082
用yum安装的，一开始纠结了很久，直到看到你回复其他人包管理器安装的自定义配置文件路径是/etc/gogs/conf/appi.ini

[2016-07-13 00:56] #3082 closed

[2016-07-13 01:16] tkisme commented on #3258
git hook

[2016-07-13 08:34] mojie126 opened #3265 "新建仓库时，仓库语言选项里没有PHP...？"
新建仓库时，仓库语言选项里没有PHP...？
还是我没安装对...

[2016-07-13 10:07] #3258 closed

[2016-07-13 10:40] jhasse commented on #3135
Does the "dont send pull request` label mean you're working on this? :)

[2016-07-13 12:04] richmahn commented on #3263
It appears we shouldn't be using FontAwesome if we are using Semantics. Semantics 2.2.1 contains all FontAwesome 4.5.6 icons, but are named differently: http://semantic-ui.com/elements/icon.html

[2016-07-13 12:04] richmahn commented on #3263
See also: https://github.com/Semantic-Org/Semantic-UI/issues/4251

[2016-07-13 12:12] BurakDev commented on #3264
![image](https://cloud.githubusercontent.com/assets/3963184/16802968/cc3a50c4-4903-11e6-9a54-8d87b5ea0097.png)

What do you think about this ? Can be a nice feature.

[2016-07-13 12:38] richmahn commented on #3263
Fixed in PR #3267. It seems that Semantic UI doesn't have the eye (watching) icon. If i Just removed "fa" from the classes of the icon, it works fine. We don't do any styling based on "fa", only "icon" and "fa-eye"

[2016-07-13 17:39] lenisko commented on #3264
I was rather thinking that there might a bug in code, so that's why it's taking so long to load.
But if there is not bug, this might be only one option.

[2016-07-14 05:23] oleersoy opened #3270 "Invalid csrf token"
If I leave a page open for a while and create an issue, I get a `Invalid csrf token` message.  I then open fresh gogs page at the same URL and I can then submit the issue.

So it seems that all that is needed is a new authentication token.  Is there a way for Gogs to realize that I have not logged out and should not need to get a new token ....

[2016-07-14 09:17] hrobertson opened #3271 "API Commit "author" is actually the committer"
- Gogs version: 0.9.42.0712
- Reproduced at http://try.gogs.io:
https://try.gogs.io/api/v1/repos/hamish.robertson/committer-test/branches/master

Git commits can have a different author and committer.
In the Gogs web interface the author of a commit is shown correctly.
The issue is that retrieving the commit via the API shows the committer's name and email in a property called `"author"`.

**Repro

[2016-07-14 10:13] Phatalist commented on #3236
Soooo? Can we have a hope that function will be realized in future?

[2016-07-14 10:55] chteufleur opened #3272 "Valid link for XMPP"
Hi,

It would be great to add `xmpp:` as a valid link beside `http:` or `mailto:`.
See [http://wiki.xmpp.org/web/XMPP_URIs](http://wiki.xmpp.org/web/XMPP_URIs).

Thanks for your great work.

[2016-07-14 12:06] dakira commented on #2458
Just updated my install to  0.9.42.0712, can confirm this is fixed now.

Just as a sidenote: I couldn't easily upgrade because there were problems with xorm. Looks like a pull was not possible because you edited the history of already published changes which resulted in conflicts. I had to go to `src/github.com/go-xorm/xorm` and run `git fetch --all && git reset --hard origin/master` to fix this.

[2016-07-14 16:15] clone1018 opened #3273 "Created column not updated on new Action"
- Gogs version (or commit ref): 274a2ca5286ca52dd9e30441d8d3b93c9fa013fc
- Git version: 2.9.0
- Operating system: Compiled on Arch, ran on CentOS 7
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant

## Description
When creating a new action (a commit, pull request, issue,

[2016-07-14 16:20] silverwind commented on #853
GitHub has a double render/code view for SVG, but I'd be happy if they were only rendered in Gogs, there's always the `Raw` button to get to the source.

[2016-07-15 02:34] Unknwon commented on #2458
@dakira you can just delete `src/github.com/go-xorm/xorm` and re-run `go get`

[2016-07-15 02:34] #2458 closed

[2016-07-15 02:58] Unknwon commented on #3003
Duplicated to https://github.com/gogits/gogs/issues/3077?

[2016-07-15 03:04] Unknwon commented on #3179
Yeah, so it's not possible anymore.

[2016-07-15 03:28] Unknwon commented on #3216
Please `go get -u github.com/Unknwon/cae` and recompile Gogs.

[2016-07-15 03:31] Unknwon commented on #1294
Hmm, how about use `du` on non-Windows and `git count-objects` on Windows?

[2016-07-15 05:33] #1513 closed

[2016-07-15 05:34] Unknwon commented on #2354
Close since there is basically not much things we can do on Gogs side.

[2016-07-15 05:34] #2354 closed

[2016-07-15 05:34] #2375 closed

[2016-07-15 05:34] Unknwon commented on #3074
ping

[2016-07-15 05:35] #3069 closed

[2016-07-15 05:35] #3223 closed

[2016-07-15 05:36] #3239 closed

[2016-07-15 05:36] #3248 closed

[2016-07-15 05:36] #3179 closed

[2016-07-15 05:36] #3020 closed

[2016-07-15 05:36] #3018 closed

[2016-07-15 05:43] Unknwon commented on #3265
There is simply no `.gitignore` for PHP... but `.gitignore` for PHP frameworks.

[2016-07-15 05:43] #3265 closed

[2016-07-15 05:46] Unknwon commented on #3259
What `-sh` do you have if you don't have `bash`?

[2016-07-15 05:48] Unknwon commented on #3260
What is the definition of your `merge commit`?

[2016-07-15 05:49] Unknwon commented on #3270
Hi, your Gogs version is too old.

[2016-07-15 05:49] #3270 closed

[2016-07-15 05:50] bkcsoft commented on #3259
@Unknwon plain old `sh` :trollface:

[2016-07-15 05:50] bartlomiej-kurek commented on #3259
Hi, on FreeBSD there's just /bin/sh.
-r-xr-xr-x  1 root  wheel  142184 Nov 26  2014 /bin/sh

On Ubuntu /bin/sh is dash:
lrwxrwxrwx 1 root root 4 Jul  8 21:47 /bin/sh -> dash*

I can easily think that different people have ksh, zsh, and whatever they like.
That's why the shell is always linked to /bin/sh, and this it the one that should be used.
The problem with bash is "bashism", if you write the

[2016-07-15 05:51] Unknwon commented on #3259
Change https://github.com/gogits/gogs/blob/master/conf/app.ini#L13 to `sh` should solve your problem.

[2016-07-15 05:57] #3263 closed

[2016-07-15 05:59] Unknwon commented on #3135
@jhasse No, it just mean don't work on it, we will do it eventually.

[2016-07-15 06:01] bartlomiej-kurek commented on #3259
Yes, it solved the problem, thank you. And you meant custom/conf/app.ini, right?
I tried with the default conf/app.ini and it didn't propagate (still got bash).

[2016-07-15 06:01] Unknwon commented on #3264
I think this is duplicated to https://github.com/gogits/gogs/issues/1518

[2016-07-15 06:02] Unknwon commented on #3169
This is claimed to be fixed by merging #3256, please help test on `develop` branch or https://try.gogs.io.

[2016-07-15 06:03] Unknwon commented on #3259
Yes..

[2016-07-15 06:03] #3259 closed

[2016-07-15 06:08] bkcsoft commented on #3264
Agreed

[2016-07-15 06:09] Unknwon commented on #3264
@BurakDev please repost your advice to #1518 :)

[2016-07-15 06:09] #3264 closed

[2016-07-15 06:11] Unknwon commented on #3272
Please give context of what you're talking about...

[2016-07-15 06:34] chteufleur commented on #3272
Ho yes, sorry.

Talking about link in markdown like README.md file or issue. It is possible to make a link like this : `[link](mailto://toto@example.org)`.
It could be usefull to add XMPP link `[link](xmpp://toto@example.org)`.

[2016-07-15 06:38] Unknwon commented on #3272
Please follow issue template to reproduce on demo site.

[2016-07-15 06:38] bkcsoft commented on #3272
See Custom Schemes under `[markdown]` in `app.ini`

[2016-07-15 06:59] chteufleur commented on #3272
Great ! Thanks guys.

[2016-07-15 06:59] #3272 closed

[2016-07-15 07:06] strk commented on #3260
On July 15, 2016 7:49:06 AM CEST, "无闻" <notifications@github.com> wrote:

A commit with 2 parents
--strk;

Sent from device with lame keyboard. Please excuse my brevity.

[2016-07-15 07:49] mioga-brian commented on #3239
Yes, I added the SSH Key on the Web UI, it didnt work.

[2016-07-15 08:16] beniwtv commented on #3169
Seems to work fine now, with the latest compiled version from the repo.
Thanks!

[2016-07-15 08:35] Unknwon commented on #3239
`Didn't work` are vague words.

[2016-07-15 08:37] bkcsoft commented on #3169
Kept open until merged into master :)

[2016-07-15 08:39] Unknwon commented on #3169
Already in.

[2016-07-15 08:40] bkcsoft commented on #3169
Hah! Working hard :thumbup:

[2016-07-15 08:41] #3169 closed

[2016-07-15 08:56] nmaas87 commented on #3003
@Unknwon Very likely. It seems to work on my end now, as soon as the default setting from #3078 / https://github.com/gogits/gogs/commit/6f6b37f148428eb83cbefdf84253ab7f412e2537 was merged. Everyone should check in their app.ini, wheter they set LOCAL_ROOT_URL there statically to some value and change that and update their gogs container :).

[2016-07-15 09:03] Unknwon commented on #2779
The relevant code has been changed a lot, I recommend you upgrade to latest `master` and re-test.

[2016-07-15 09:06] Unknwon commented on #2798
Patch has pushed to fix this issue, please test on `develop` branch or https://try.gogs.io.

[2016-07-15 10:16] bkleef commented on #3003
@Unknwon I can confirm that `LOCAL_ROOT_URL = %(PROTOCOL)s://localhost:%(HTTP_PORT)s/` works for us.

[2016-07-15 10:42] jeppech opened #3274 "Organization webhooks broken"
After I updated to v0.9.42.0712, webhooks for organizations stopped working. The hook can be created just fine, and added to the DB. But when clicking it, a blank page is shown.

When committing to a repo under the organization, then webhook is not triggered either.

The behaviour can be seen here: https://try.gogs.io/org/jeppech-org/settings/hooks

[2016-07-15 10:54] jeppech commented on #3274
Actually Macaron panics, when accessing /org/org-name/settings/hooks/{WEBHOOK_ID}
[code]

[2016-07-15 10:59] dakira commented on #2458
@Unknwon of course that works, too. I just wanted to let you know that it's not good to edit history on public commits. ;)

[2016-07-15 13:08] shyim commented on #2779
I will test it next days

[2016-07-15 16:39] Unknwon commented on #2854
Patch has pushed to fix this issue, please test on `develop` branch or https://try.gogs.io.

[2016-07-15 16:40] #2888 closed

[2016-07-15 16:40] lstahlman commented on #3271
I can pick this up if @bkcsoft doesn't have time for it.

[2016-07-15 16:46] #3003 closed

[2016-07-15 16:47] Unknwon commented on #2458
@dakira I don't maintain XORM.

[2016-07-15 17:03] Unknwon commented on #3274
Patch has pushed to fix this issue, please test on `develop` branch or https://try.gogs.io.

[2016-07-15 17:07] dakira commented on #2458
@Unknwon ouch.. sorry.. I always thought you did ;)

[2016-07-15 20:13] strk commented on #813
How github implements this: https://developer.github.com/v3/repos/statuses/

[2016-07-15 21:13] shurcooL commented on #3171
Thanks for reporting the bug in blackfriday. I've fixed this in https://github.com/russross/blackfriday/pull/280, so this should no longer be an issue.

You'll need to update to latest version if you're vendoring blackfriday.

[2016-07-15 21:16] xor-gate commented on #3171
Nice work @shurcooL !!!

[2016-07-16 00:23] Unknwon commented on #2929
Postponed, this issue should fix together with users can subscribe/unsubscribe an issue thread.

[2016-07-16 02:23] Unknwon commented on #2937
`is_active` is used for check if user has verified the email, added new option `ProhibitLogin` to restrict user login by admin, pushed to `develop` branch.

[2016-07-16 02:57] Unknwon commented on #3171
Looks like fixed: https://try.gogs.io/stonewareslord/test/src/master/test.md

[2016-07-16 08:11] tboerger commented on #813
IMHO this feature can be integrated quite easy if you do it like github

[2016-07-16 11:57] Unknwon commented on #1621
Merge this thread to https://github.com/gogits/gogs/issues/2937 which has implemented this feature.

[2016-07-16 11:57] #1621 closed

[2016-07-17 00:50] #2586 closed

[2016-07-17 00:51] #2709 closed

[2016-07-17 00:51] lstahlman commented on #3228
I could reproduce this. ctx.Repo.Mirror's Repo reference is not updated on the repository name change, so when SaveAddress is called it attempts to look up the git config path using the old name.

[2016-07-17 00:51] #2854 closed

[2016-07-17 00:53] #2937 closed

[2016-07-17 00:54] #3171 closed

[2016-07-17 00:54] #3274 closed

[2016-07-17 01:18] Unknwon commented on #3180
This is claimed to be fixed by merging #3269, please help test on `develop` branch or https://try.gogs.io.

[2016-07-17 01:30] Unknwon commented on #3228
This is claimed to be fixed by merging #3276, please help test on `develop` branch or https://try.gogs.io.

[2016-07-17 03:41] oleersoy commented on #3270
Has the gogs docker image been updated with the fix?

[2016-07-17 03:42] Unknwon commented on #3270
I don't know what to say based the context you give..

[2016-07-17 04:08] doliver3 commented on #3251
This is still broken in 0.9.40.0711 with xorm current master

[2016-07-17 04:51] doliver3 commented on #3251
2016/07/16 02:50:06 [...s/routers/install.go:71 GlobalInit()] [E] Fail to initialize ORM engine: migrate: do migrate: sync: Error 1064: You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'ADD `issue_id` BIGINT(20) NULL' at line 1

It fails in the renamePullRequestFields migration.
In the xorm.log, it shows
[xorm]

[2016-07-17 05:03] oleersoy commented on #3270
I scanned the Gogs docker github commits at:
https://github.com/gogits/gogs/tree/master/docker

It looks like most of them are 5 months old, so I'm just curious as to whether the Docker container downloaded from Docker Hub:
https://hub.docker.com/r/gogs/gogs/

Has been updated to include the fix.

I'm also getting some other strange behavior WRT using SSH keys.  On a new repository that I recently

[2016-07-17 05:04] Unknwon commented on #3270
Just use latest version should be fine.

[2016-07-17 05:05] Unknwon commented on #3251
@doliver3 `master` is not 0.9.40

[2016-07-17 05:07] oleersoy commented on #3270
OK Cool - Thanks

[2016-07-17 05:12] oleersoy commented on #3270
Started a new one - Noticing that the response time on UI clicks is much faster.  Nice!

[2016-07-17 15:59] gramakri opened #3277 "v0.9.46 missing release binaries"
Some binaries including linux_amd64 are missing at https://github.com/gogits/gogs/releases/tag/v0.9.46

Thanks for the release! :tada:

[2016-07-17 17:54] jeppech commented on #3274
Awesome, works for me :)

[2016-07-17 20:41] xp65 commented on #1820
+1 really needed feature

[2016-07-18 07:40] strk commented on #776
It would be worth for the approval system to be driven by external/arbitrary plugins, using an approval API.
The lgtm project does this to drive approvals for github protected branches, for example:
https://github.com/lgtmco/lgtm

[2016-07-18 07:41] strk commented on #1663
Agreed about this being a duplicate of #776

[2016-07-18 07:44] BoboTiG opened #3278 "Gogs 0.9.46 GlobalInit() error"
As there is an error 500 when connected on https://discuss.gogs.io, I post my issue here.

- Gogs version (or commit ref): 0.9.46
- Git version: 2.1.4
- Operating system: Raspbian on Raspberry Pi 2
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist: [d6c3f73707f2

[2016-07-18 07:44] strk commented on #776
Github system documentation: https://help.github.com/articles/about-protected-branches/

[2016-07-18 08:06] bradrydzewski commented on #776
I recommend reviewing the GitHub protected branches functionality. They have iterated on it quite significantly over the past 8 months and it is really shaping up nicely. Here are some quick highlights:

* any branch can be protected
* protected branches cannot be pushed to directly
  * unless the user account is part of a white list (configurable)
  * or unless you are a repository administrator

[2016-07-18 08:33] strk opened #3279 "email notification for new issue does not have issue author as From"
The "From" header of email notification triggered by the creation of a new issue is set to the generic system From rather than being the name of the issue author. This happens as of version 0.9.27.0512

[2016-07-18 09:23] rbukovansky commented on #3074
Sorry, I have missed this... Which action will force Gogs to send e-mail? Thanks.

[2016-07-18 10:02] Unknwon commented on #3074
https://github.com/gogits/gogs/blob/master/conf/app.ini#L141 and will send confirmation email when register.

[2016-07-18 10:05] Unknwon commented on #776
👍  for @bradrydzewski 's comment, but not quite understand this one:

[2016-07-18 10:05] #1663 closed

[2016-07-18 10:06] Unknwon commented on #3270
I can't say anything based the context you provide.

[2016-07-18 10:07] rbukovansky commented on #3074
Well, I will open the registrations for the testing then... Thx.

[2016-07-18 10:09] Unknwon commented on #3278
raspi2 version is not available yet, https://gogs.io/docs/installation/install_from_binary says very clear about which version support what...

[2016-07-18 10:09] #3278 closed

[2016-07-18 10:10] rbukovansky commented on #3074
I tried to register new user as system admin, sent the e-mail about the registration and voila... It came with correct From: e-mail address. Alright then, this issue is officially closed.

Thanks.

[2016-07-18 10:10] #3074 closed

[2016-07-18 10:10] strk commented on #776
On Mon, Jul 18, 2016 at 03:05:32AM -0700, 无闻 wrote:

I guess it means they are rebased to the target branch.
In other words, they can be merged with a fast-forward operation
(no need for a merge commit).

[2016-07-18 10:10] Unknwon commented on #3277
I don't have enough machines and no good internet to setup VMs yet, will upload ASAP.

[2016-07-18 10:10] #3277 closed

[2016-07-18 10:12] Unknwon commented on #776
@strk no merge conflict or...?

[2016-07-18 10:13] Unknwon commented on #3279
Please upgrade to latest version and report, things are changed a bit after 0.9.27

[2016-07-18 10:13] bradrydzewski commented on #776
@Unknwon hopefully this helps clarify  :)

Notice the message below "This branch is out-of-date with the base branch" indicating that I need to rebase with the base branch. This prevents the situation where, for example, you have PR 1 passing, PR 2 merged, and PR 2 has changes that break PR 1.

![7938e8f1-fda2-42ca-b876-c8bb313d9318](https://cloud.githubusercontent.com/assets/817538/16911708/e9dbb

[2016-07-18 10:16] strk commented on #776
Independently of merge conflict, a fast-forward merge
is one from a branch which is based on the top of the
target branch.

Seek "fast-forward" here:
https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging

[2016-07-18 10:21] strk commented on #3279
I've just tried on try.gogs.io and got the same behavior.
The email I received for a new test issue:

[code]

You can see the "From" line is `gogitservice@gmail.com` instead
of `strk2`, which is the issue creator

[2016-07-18 10:22] strk commented on #3279
For the record, try.gogs.io runs Gogs 0.9.46.0717 at the time of the
test

[2016-07-18 10:35] liuyang1 opened #3280 "cannot clone git whose repo's suffix is ".wiki", like "abc.wiki""
- Gogs version (or commit ref): v0.9.0
- Git version: -
- Operating system: linux
- Database: sqlite
- Can you reproduce the bug at http://try.gogs.io: not try
- Log gist:

## Description
I have a repo whose name is "abc.wiki" style. fail to clone it.
when I rename it to "abc_wiki", then it works well everywhere.

I think there should be a bug, for example try to check wiki of this repo.

[2016-07-18 10:39] hrobertson commented on #776
@bradrydzewski Would this 'up-to-date' requirement be an optional setting per protected branch?

Some people may want the option to merge PRs that are behind, so long as there are no merge conflicts.

Assuming this was an option: For branches with this switched on, a new PR would have to be created?
For branches with it switched off, pending PRs should have checks (including CI) re-triggered/re-ev

[2016-07-18 10:39] liuyang1 commented on #3280
check logic in cmd/serve.go 164-170line.
It assume every repo which name's suffix is ".wiki" is a wiki repo.

It's wrong.

at least, need try both these two conditions:

- it's a wiki repo.
- it's a normal repo, but name have ".wiki" suffix by user.

[2016-07-18 11:40] BurakDev commented on #1518
![image](https://cloud.githubusercontent.com/assets/3963184/16913744/16c83bfa-4ced-11e6-83ee-926feed605a7.png)

What do you think about this ? Can be a nice feature for large directories like https://github.com/DefinitelyTyped/DefinitelyTyped

[2016-07-18 11:43] smiquee opened #3281 "Authorized_keys file empty after deleting a user"
- Gogs version (or commit ref): 0.9.13.0318
- Git version: 1.8.3.1
- Operating system: RHEL 7.2
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ X ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [ X ] Not relevant
- Log gist:
 Nothing related to the file appears in the logs. We just see that the HHTP request for deletion returns ok.

#

[2016-07-18 12:26] bradrydzewski commented on #776
It is not an option with GitHub. If you are an administrator, however, you have the ability to override protected branches and merge as long as there are no conflicts.

I can't really argue one way or another since I don't have access to real world usage metrics or feedback. I can only reference the GitHub implementation which prevents merging out-of-date pull requests and does not make this optio

[2016-07-18 12:29] bradrydzewski commented on #776
ok, I take that back, github has added the option to toggle this feature. The feature is in beta and they are changing it on a weekly basis, but I am told it will be out of beta soon. So what you see in the screenshots and read in their official docs is probably pretty close to their final implementation

<img width="776" alt="screen shot 2016-07-18 at 5 27 16 am" src="https://cloud.githubusercont

[2016-07-18 13:15] Unknwon commented on #3280
There is no way to tell when you use `.wiki` as repo name suffix, so I think we should disallow such repo name.

[2016-07-18 13:17] Unknwon commented on #3281
Please upgrade to latest version and re-test..

[2016-07-18 15:36] BurakDev commented on #3277
@Unknwon What do you think about create a building platform like jenkins ?

[2016-07-18 15:46] Unknwon commented on #3277
@BurakDev I need native system to compile, so Jenkins might not help.

[2016-07-18 16:32] techzilla commented on #3277
What about doing some build/release enginering  for the project, or allowing a devops systems engineer to work with you to clean up some of the practices.  We do that, and you can get automated builds and release, and even packaging anywhere you wanted.. or manual, and it would be perfect every time.

[2016-07-18 17:12] xor-gate commented on #3277
Vagrant can be used to build machines and could be jenkins nodes which are controlled from a jenkins master. Probably Gogs can use a build/test system the same as Syncthing does (https://docs.syncthing.net/dev/infrastructure.html).

[2016-07-18 17:14] Xe commented on #3277
I have found that https://drone.io combined with Gogs works extremely well for CI for git repos.

[2016-07-18 18:35] oleersoy commented on #3270
Well you could just leave the ticket open until someone investigates it.

[2016-07-18 19:37] Unknwon commented on #3270
See https://github.com/gogits/gogs/issues/1891

[2016-07-18 21:21] oleersoy commented on #1891
I'm still getting seemingly whenever I try to do something from a fresh tab when Gogs has not been used for a while.  For example:
1) Open new tab and go to gogs URL
2) Try to create an issue or a new repository
3) Get the `invalid csrf token` message

At this point I can just open another fresh tab and now everything works.

So it seems like the first time I open a new tab the connection tries to

[2016-07-18 21:23] oleersoy commented on #3270
OK - I put in an additional observation in that issue.  I'll just comment there as I become aware of more scenarios that trigger the behavior.

[2016-07-19 00:47] liuyang1 commented on #3280
That's OK.

github forbid repo's name end in .wiki. we also could do this style.

[2016-07-19 02:58] Unknwon commented on #1891
@oleersoy are you able to reproduce on https://try.gogs.io?

[2016-07-19 04:41] lstahlman commented on #1692
I would like to assist with this as well.

I started working on extra labels support before I saw @iwanbk's list, so hopefully my work is not overlapping.

[2016-07-19 09:37] klingtnet opened #3282 "Missing release builds for v0.9.46"
The linux and windows [release builds](https://github.com/gogits/gogs/releases) are missing for gogs `v0.9.46`.

[2016-07-19 11:44] BurakDev commented on #3282
Duplicate of #3277

[2016-07-19 11:46] unix4you2 commented on #1891
Hi everyone!

I found that this error message is presented when ther is a difference between the time you logged in GoGs and the actual time in your server.

Hot to reproduce the issue:

1. Login to your GoGs installation
2. Go to your server and change the date/time (in my case I update the time to five hours ago)
3. Try to do any write operation in your repository by web interface (like create a

[2016-07-19 17:32] oleersoy commented on #1891
Does https://try.gogs.io run from the Docker container install?

[2016-07-19 17:40] oleersoy commented on #1891
Just wanted to echo the behavior I'm seeing, since I just performed the experiment again - after not having used Gogs for 12 hours.  I opened a new tab in firefox, filled in the form for a new repository, and when I clicked `submit` I got the `invalid csrf` token message.  After that upon opening another tab everything works fine.

[2016-07-19 18:02] oleersoy commented on #1891
I just looked up how CSRF protection should be implemented here:
http://security.stackexchange.com/questions/162/what-is-the-correct-way-to-implement-anti-csrf-form-tokens

Here's a quote:

If the form token matches, you're clear. If not, you can accept e.g. the previous token as well, to handle the edge cases.

I think the key part is:

It looks like Gogs is not handling this edge case.

[2016-07-19 20:07] strk commented on #3279
The same happens with pull requests (only tested with 0.9.27.0512)

[2016-07-19 20:08] mrdrogdrog opened #3283 "Commit-Message with backslash is rendered wrong"
I found a bug in the list of commits ($server/$repo/commits/$branch) in the latest version of gogs (0.9.46.0717).

I have a commit with a backslash in the message. The backslash is rendered with the "Yen"-Character.
But only on this url in this list.
I tried chrome and firefox on linux.
It seems like the font "Meiryo Ui" causes this bug.

Reproduce:
commit something and put a backslash in your com

[2016-07-19 20:16] DerUser commented on #3283
same bug here
happend with this old-school emoji "\o/"

[2016-07-19 21:01] fanningert opened #3284 "Problem to compile Gogs with Glide"
- Gogs version (or commit ref): 0.9.46
- Git version: 2.9.0
- Operating system: ArchLinux
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [X] Yes (provide example URL) <- no URL (compile error)
  - [ ] No
  - [ ] Not relevant
- Log gist:
https://gist.github.com/jakschu/f66b0b5863d06cf6d61577cd94bc4e41

## Description
When I and oth

[2016-07-19 22:39] richmahn commented on #1071
Two new pull requests have been made for this, to separate the PR into two: PR #3286 and PR #3287

[2016-07-20 00:13] langdead opened #3288 "First registered user can't login, next registration generates "CreateUser: database disk image is malformed""
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref):got by `docker pull gogs/gogs`, log below shows version "Go Git Service 0.9.46.0717"
- Git version: git version 2.7.3
- Operating system: Linu

[2016-07-20 05:18] Unknwon commented on #1891
It sounds reasonable to me, which does the job to protect attacking from expired session.

[2016-07-20 05:37] #3282 closed

[2016-07-20 05:52] Unknwon commented on #3284
Thanks, cloud be because gopkg.in/alexcesaro/quotedprintable.v3 is online, but Docker image building seems using glide as well but without error: https://hub.docker.com/r/gogs/gogs/builds/bxcu3sjadbnwcbloeekwbo6/

[2016-07-20 06:08] #2486 closed

[2016-07-20 06:09] #2779 closed

[2016-07-20 06:09] #3180 closed

[2016-07-20 06:10] #3216 closed

[2016-07-20 06:27] Unknwon commented on #3283
Please reproduce one on demo site as required.

[2016-07-20 06:30] Unknwon commented on #3288
How about destroy container and volumed directory and recreate everything?

[2016-07-20 07:48] xzzv opened #3289 "Error 404 when trying to view a file that has been both modified and renamed"
- Gogs version: 0.9.13.0319
- Operating system: Windows 7 SP1 x64
- Database: SQLite
- Reproduced at http://try.gogs.io:
  https://try.gogs.io/xzzv/FileRenamingTest/commit/aaf49ca73b384cd78db78245d1bc97a2464d9d8c
  https://try.gogs.io/xzzv/FileRenamingTest/src/aaf49ca73b384cd78db78245d1bc97a2464d9d8c/file2.txt
## Description
1. Open the commit page with a file that has been modified and renamed
2.

[2016-07-20 08:04] pierre-imbaud commented on #3087
Same need here.
Any non trivial wiki needs some hierarchy.
It is naturally provided by subdirs in the git repo.
I did not suspect this limitation, so I added files in my local git repo, commited, and ... discovered the links there didnt work.
So the need is manyfold:

* links (within the wiki) need to work.
* _pages should show all the pages.
* page navigation, as stated initially in this issue.
*

[2016-07-20 08:29] akademic opened #3291 "500 error on creating pull request"
- Gogs version (or commit ref): 0.9.46.0717
- Git version: 2.8.1
- Operating system: debian jessie
- Database: Sqlite
- Can you reproduce the bug at http://try.gogs.io: No
- Log gist: https://gist.github.com/akademic/afef02f8954f9b210d1e7146f8fb5480

## Description

Steps for reproduction:
1. user1 create repo1 with commits
2. user2 forks user1/repo1 as user2/repo1
3. user2 adds new commit to user

[2016-07-20 08:52] xzzv commented on #3289
Also, there is no indication on the commit page that the file has been renamed. Only the old file name is shown.

[2016-07-20 09:13] mrdrogdrog commented on #3283
https://try.gogs.io/mrdrogdrog/test

[2016-07-20 10:00] Unknwon commented on #3283
![image](https://cloud.githubusercontent.com/assets/2946214/16982676/c410e71e-4ea3-11e6-8e84-774c653e727e.png)

Like this?

[2016-07-20 10:10] mrdrogdrog commented on #3283
![bildschirmfoto vom 2016-07-20 12-07-44](https://cloud.githubusercontent.com/assets/6124140/16982925/b6c6e620-4e72-11e6-986b-562a16d1c2d3.png)

more like this.

"Helvetica Neue" is a non-free font and not preinstalled on linuxsystems

[2016-07-20 11:28] ollin opened #3292 "SOCAT_LINK does not work with docker embedded DNS"
- Docker Image: gogs/gogs:0.9.46
- Docker: 1.11.2
- Gogs version 0.9.46.0717
- git version 2.6.6

Hello,

I'm using gogs in a docker-compose.yml file. I link postgres:

[code]

but socat is not used. I think the problem is, that since docker 1.10 docker is using an embedded DNS server and the links are not available as environment variables anymore.

If I go into the gogs container via exec, I can

[2016-07-20 11:54] xp65 opened #3293 "Search in issues"
Thanks for the hard work on this great project!
A missing feature is a search in issues. Going over the long list to find issues isn't productive.

[2016-07-20 12:44] ollin commented on #3292
Found a workaround:

``dns_search: .`` removes the search entry from /etc/resolv.conf, which was used in my case

After using that option it was possible to configure postgres via

``HOST     = db:5432``

The final section inside the docker-compose.yml file:

[code]

see
https://docs.docker.com/compose/compose-file/#/dns-search
https://docs.docker.com/v1.11/engine/userguide/networking/default_netw

[2016-07-20 12:44] #3292 closed

[2016-07-20 13:58] oleersoy commented on #1891
It's certainly pretty easy to just open two tabs such that the token refreshes itself, although it seems like there has to be a simple work around for this.  For example if I go to my github account right now (Which I have not done for at least 12 hours) I can create a new repository without getting the invalid CSRF token message.  The same thing goes for any other OAUTH service I use.

I can't re

[2016-07-20 14:59] tkisme commented on #2602
feature needed

[2016-07-20 16:03] langdead commented on #3288
Hi Unknown,
this can always be replicated.
I did destroy the container, rm the folder(I didn't use data volume), rmi the image. But recreating is the same.
I'm on windows 10, using vagrant-coreos.

Thx! Nice dream!

[2016-07-20 16:11] cmtec commented on #3291
I got the same behavior on all my repos when trying create issues (have not tried pull request yet):
`[E] NewIssue: newIssue: GetRepositoryByID: repository does not exist `

I don't know what update broke this but it worked a week ago.

I'm using the gogs docker image.

[2016-07-20 17:00] oleersoy opened #3294 "Failed to execute git command: exit status 128"
I recently upgraded to the most recent docker build.  Now when I clone and push to a new repository I get this when running `git push`:

    No refs in common and none specified; doing nothing.
    Perhaps you should specify a branch such as 'master'.
    fatal: The remote end hung up unexpectedly
    Gogs: Internal error
    Failed to execute git command: exit status 128

This is only when using

[2016-07-20 17:03] Unknwon commented on #3293
Duplicated to https://github.com/gogits/gogs/issues/13?

What is `search in issues`?

[2016-07-20 17:04] oleersoy commented on #3294
I figured out the `origin master` part.  My package manager updated git, and it wanted me to run this to get the old behavior back:
`git config --global push.default matching`

[2016-07-20 17:07] zerowaitstate commented on #2384
The inability to know whether bots are failing login attempts is a deal-breaker for anyone using this for private repos.  I set up a gogs site and within a week it was being crawled by shodan.io.  It's frustrating having to set up a WAF simply because gogs doesn't record login attempts.

[2016-07-20 17:07] xp65 commented on #3293
Yes, that seems to be exactly the requested feature. Search similar as the search implemented with commits. Thanks for the quick follow up.

[2016-07-20 17:46] nrclark opened #3295 "LDAP username issue in v0.9.46"
I'm a big fan of Gogs - I've been using it to host my department's Git repositories for the past 4 months. Gogs 0.9.13 works flawlessly with my company's LDAP server (using the BindDN authentication type).

Using the same settings, LDAP doesn't seem to work for me in Gogs 0.9.46. I tried each of the new "Security Protocol" settings, and also went through all of the TLS checkbox settings for each p

[2016-07-20 18:26] ausbin commented on #3291
Having the same problem when creating new issues on Debian Jessie. Version 0.9.46 here, aka 1c7dcdd6b948b9c177b5ed4e036e612508ee9832.

    [...outers/repo/issue.go:435 NewIssuePost()] [E] NewIssue: newIssue: GetRepositoryByID: repository does not exist [id: 14, uid: 0, name: ]

If I get a moment, I'll try to reproduce it against HEAD.

[2016-07-20 18:54] ausbin commented on #3291
I bisected, and f1b8d52eb3ac230ed5a275f4a844ddb0cf48041e appears to be the offending commit.

[2016-07-20 20:39] ausbin commented on #3291
Aha!

I think I fixed it. I just created #3296; I'd appreciate some feedback.

Seems like the SQLite driver for xorm can't retrieve data once an update occurs. A comment in `issue.go` says as much:

    // During the session, SQLite3 dirver cannot handle retrieve objects after update something.
    // So we have to get all needed labels first.

[2016-07-20 22:32] kardianos opened #3298 "gogs "tmp" must be on same volume as the git repo root dir"
- Gogs version (or commit ref): Gogs version 0.9.46.0717 
- Git version: git version 2.9.2.windows.1 
- Operating system: windows server 2012
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [X] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [X] Not relevant
- Log:
[code]

## Description

When setting up gogs on windows, I found that if t

[2016-07-21 02:54] bulletmark opened #3299 "Gogs pops up "Do you want to leave this site" on login page"
I upgraded from v0.9.13 to v0.9.46 today and immediately noticed a new bug which appears to be due to the changes done for issue #2881.

If I go to my gogs login page then chrome automatically pre-fills my name etc into the login form just like any other site login page. If I immediately try to close the tab, without typing anything, then gogs pops up a "Do you want to leave this site. Changes you

[2016-07-21 05:28] Unknwon commented on #3283
Any thoughts regarding this problem? @Laica-Lunasys

[2016-07-21 05:30] Unknwon commented on #1891
@oleersoy sounds like you have the wrong config, what have you changed?

[2016-07-21 05:32] Unknwon commented on #3288
Does this help? http://stackoverflow.com/questions/5274202/sqlite3-database-or-disk-is-full-the-database-disk-image-is-malformed

[2016-07-21 05:35] #3293 closed

[2016-07-21 06:15] Unknwon commented on #3295
Thanks your feedback!

Patch has pushed to fix this issue, please test on `master` branch or https://try.gogs.io.

[2016-07-21 06:15] barracks510 commented on #2709
This fix did not work for me. Now, completely sane user names are blocked.

[2016-07-21 06:16] Unknwon commented on #2709
https://github.com/gogits/gogs/issues/3295

[2016-07-21 06:16] Unknwon commented on #3294
Please show gogs log as required.

[2016-07-21 06:23] barracks510 commented on #3295
This works now. Thanks!

[2016-07-21 06:27] Unknwon commented on #3291
Patch has pushed to fix this issue, please test on `master` branch or https://try.gogs.io.

[2016-07-21 06:31] Unknwon commented on #3298
Hi, based on the errors in the log you posted, I don't see anything related to `tmp` directory?

[2016-07-21 06:37] Unknwon commented on #3299
Patch has pushed to fix this issue, please test on `master` branch or https://try.gogs.io.

[2016-07-21 07:49] akademic commented on #3291
Testing on c2fb01a257cfcddf5dc279fcd66175280778f7a9 just now
Works fine!

[2016-07-21 08:04] gramakri commented on #3277
@Unknwon thanks for adding them!

[2016-07-21 08:12] cmtec commented on #3291
Works on latest gogs docker (0.9.47.0721)!

[2016-07-21 08:21] #3291 closed

[2016-07-21 08:22] gramakri commented on #3295
Just hit this when updating the cloudron app. For those wondering, the fix is at https://github.com/gogits/gogs/commit/57af7432fc07f630e435228a306a9deeb3fefa1e

[2016-07-21 08:29] #3295 closed

[2016-07-21 08:33] xor-gate commented on #3277
Also thanks from me 👍

[2016-07-21 08:41] mrdrogdrog commented on #3283
Some fonts (e.g. Libersation Sans) are very similar to Helvetica Neue. You could use them as a backup or replacement.

http://graphicdesign.stackexchange.com/a/9054

[2016-07-21 08:45] fanningert commented on #3284
It is really strange. One time it is working. One time I get the error. Did you know a log parameter for 'glide install'? <- Currently I download the dependencies with this command.