[2016-03-07 07:45] mikehaertl commented on #1644
+1
For us this is one of the final main parts to make it basically feature complete. Having comments on code lines (and commits #796) is really a must. Would be a nice bonus for 0.10.0 ;)

[2016-03-07 07:51] sblu opened #2776 "Allow custom the SSH clone URL"
In my environment of gogs I have to change the ssh clone url to get ssh git checkout fully running.

Example:
* git clone git@gogs.local.de:tools/test.git
    * doesn't work
* git clone ssh://git@gogs.local.de/~/app-root/data/gogs-repositories/tools/test.git
    * would work

What I get so far is to set the SSH_DOMAIN in app.ini but this will not include the ssh:// at the beginning and also will c

[2016-03-07 08:12] Techwolf12 commented on #1597
Whooo! Nice work @Unknwon :)

[2016-03-07 08:45] Jonny007-MKD commented on #552
@Unknwon: commits are ready [over here](https://github.com/Jonny007-MKD/gogs/tree/secureheaders).

We need two new settings:

  - frame options (as the user may want to `<iframe>` gogs somewhere)
  - HSTS max age (as the user may want to change this setting)

[2016-03-07 09:35] Twisterat57 commented on #2642
Hi,
OK you are right, it is locked for security reasons by Chrome. When you inspect the page you get the following error at the bottom of the inspector:

8test:1 Not allowed to load local resource:
file://....

@neolit123 is right:
seems that you can only open a file if the link is in "http" and not in "file"

other option is to use the command parameter "--allow-file-access-from-files" when start

[2016-03-07 09:44] tuudik commented on #2767
Oh,

I guess case closed then, is there a feature request somewhere that I can check for updates?

[2016-03-07 09:45] tuudik commented on #2767
Oh,

I guess case closed then, is there a feature request somewhere that I can check for updates?
@SergioBenitez @Unknwon

[2016-03-07 10:21] AndreaGiardini commented on #2384
I think #2291 is a duplicate

[2016-03-07 11:13] biocyberman commented on #2776
Faced the same problem and found the same solution before trying to report the same problem here :)

[2016-03-07 12:06] ChangePlaces commented on #1891
Ohh... It's one of "those" is it!

Well, I just added a comment to an issue from a page that has been open for hours, and it let me do it without the csrf issue which is how I remember seeing the error. So, I guess that's good news at least!

[2016-03-07 12:16] drsect0r commented on #1597
Whooo! Awesome @Unknwon  :+1:

[2016-03-07 12:16] drsect0r commented on #2183
Thanks! Awesome @Unknwon

[2016-03-07 12:21] Jonny007-MKD opened #2778 "Extra pages: Privacy policy & Imprint"
Hi,

in Germany (and maybe other countries, too) websites have to provide the privacy policy and sometimes also an imprint (Datenschutzerklärung & Impressum).

Normally it is enough to link to those pages in the footer. Is there an easy way to create a new page which is linked in the footer and delivered by gogs, so that a normal admin may find it?

A link to another page should be quite easy, but

[2016-03-07 12:35] neolit123 commented on #2642
@Twisterat57,  @Unknwon

to me this looks like a separate issue.

[2016-03-07 12:56] sardaukar commented on #1597
Great job!! Kudos @Unknwon

[2016-03-07 13:01] neolit123 commented on #2642
@Unknwon has better understanding of why this may happen.

i suggest a close of this issue, since:
"Issues with wiki links:" - solved
"Sharing Wiki (read only) and issues (Read/Write) for specific teams:" - duplicate

@Twisterat57

first of all, use the latest gogs (0.9.0):
https://dl.gogs.io/

you might have corrupted your wiki git repository.
try creating the wiki page in a new repository to see

[2016-03-07 14:03] garrett commented on #853
@xor-gate: Every single reasonably modern browser can display SVG natively: http://caniuse.com/#search=svg (this even includes)

--

While diffing, as @Mageti pointed out, would be great, an excellent first step is to simply display the images as-is.

---

Simply displaying SVG requires three things:

1. [ ] display inside the gogs view of the file
2. [ ] setting the mimetype for .svg and .svgz fi

[2016-03-07 14:30] shyim opened #2779 "Database Locked SQLite"
- Gogs version (or commit ref): d324500959c06e975921790f8770aa5d1bdf2344
- Git version: 2.7.2
- Operating system: OSX El Captain
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [X] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [X] Not relevant
- Log gist:
https://gist.github.com/shyim/82947b2751c6c7f86a05

## Description
After some days gogs running, he lock

[2016-03-07 15:48] BLamy commented on #1071
@lavvy As a "techie" I honestly don't understand your use case. It kind of sounds like you're using a git service wrong.

Don't get me wrong an advanced editor would be nice but a simple editor would add  probably 95% of the value that a complex editor would but in 1/10th of the time.

Kinda seems like a no-brainer to me.

[2016-03-07 18:03] lavvy commented on #1071
Please guys don't get me wrong. U guys may have misinterpreted me. I only
wished for a way to edit code through the browser only (just like it is in
the wiki already) . But since @unknown said he would integrate ace editor,
i can't ask for more. In fact
We are all on the same page,  any simple editor at all is cool for the
moment.
On Mar 7, 2016 10:49 AM, "BLamy" <notifications@github.com> wrote:

[2016-03-07 18:09] lavvy commented on #1071
Please guys don't get me wrong. U guys may have misinterpreted me. I only
wished for a way to edit code through the browser only (just like it is in
the wiki already) . But since @unknown said he would integrate ace editor,
i can't ask for more. In fact
We are all on the same page,  any simple editor at all is cool for the
moment

[2016-03-07 19:41] Unknwon commented on #552
@Jonny007-MKD please send an PR so I can put in reivew queue.

[2016-03-07 19:47] Unknwon commented on #2767
@tuudik maybe this? https://github.com/gogits/gogs/pull/2376

[2016-03-07 19:47] #2767 closed

[2016-03-07 19:47] Unknwon commented on #2384
@AndreaGiardini I think this one is the subset of #2291...

[2016-03-07 20:02] Unknwon commented on #2642
@neolit123 yes, @Twisterat57 is using two old version.

[2016-03-07 20:12] Unknwon commented on #2776
Thanks your feedback!

Please read https://discuss.gogs.io/t/how-to-config-ssh-settings/34

[2016-03-07 20:18] sblu commented on #2776
Jep, i read this before I opened this issue. I can't use the build in SSH Server. So there is no solution or change in gogs?

[2016-03-07 20:21] Unknwon commented on #2776
@sblu If use full path solved the problem, it is the problem with `authorized_keys`. Where is this file located in your case?

[2016-03-07 20:36] sblu commented on #2776
Sorry that's not my Problem. I need a URL like explained above because of my openshift environment. I told how it works I just need a possibility to change the git Clone URL like explained above.

[2016-03-07 20:37] Unknwon commented on #2776
It looks like full path to me.

[2016-03-07 20:42] sblu commented on #2776
I ran into a script on git clone called oo-trab-user that disables a git clone without ~ in the URL. Does it help to paste the script part. I can't change this script, just for notice.

[2016-03-07 20:51] Unknwon commented on #2776
OK... I think you're requesting a complete different feature, which allows you custom the SSH URL format. For example, `ssh://git@gogs.local.de/~/app-root/data/gogs-repositories/{owner}/{repo}.git`.

If this is what you want, please change title to `Allow custom the SSH clone URL`.

[2016-03-07 21:48] Jonny007-MKD commented on #2742
So for compatibility I suggest to prepend the sections with `__` as separator, making them uppercase and replace dots with `_`.

Examples:
 -  APP_NAME=Gogs
 -  REPOSITORY__SCRIPT_TYPE=bash
 -  UI_ADMIN__USER_PAGING_NUM=50

these variable have to be read at start, this could happen in setting.go, doing the same as `Cfg.Append`

[2016-03-07 22:18] Jonny007-MKD commented on #2301
:+1:

[2016-03-07 22:19] Jonny007-MKD commented on #2243
Could be solved in #2777

[2016-03-07 22:22] Jonny007-MKD commented on #2211
Could be integrated into #2782:

    if http && redirect enabled {
        send 302 code with https URL
    }

[2016-03-08 06:44] sblu commented on #2776
renamed the title please reopen.

[2016-03-08 06:51] Rukenshia commented on #2732
I'll try to come up with a PR for the issue. Going to have to dig into the whole code to understand it first, though.

[2016-03-08 07:45] 534659123 opened #2784 "docker自定义配置文件无效的问题"
DOCKER的镜像，自定义配置文件目录为/data/gogs/custom/conf/app.ini
配置文件
[code]
环境：Synology docker
GOGS 0.85 ,0.9

![qq 20160308154024](https://cloud.githubusercontent.com/assets/3875853/13595243/9e0dfb42-e544-11e5-92eb-80cb2cf7f8b7.png)

[2016-03-08 08:44] Rukenshia commented on #2696
that would grey out every commit that is merged, not just the "Merge" commit (as shown in your screenshot). The merge commit itself only has a single parent afaik.

[2016-03-08 10:18] Jonny007-MKD commented on #2211
I stumpled upon the *Upgrade-Insecure-Requests* HTTP header. We can support this as well.
https://www.w3.org/TR/upgrade-insecure-requests/#preference

[2016-03-08 10:25] Jonny007-MKD commented on #2211
This redirect feature implicates listening on two ports: 80 and 443. Otherwise no redirect is possible.

[2016-03-08 10:36] evook commented on #1891
It didn't happened during my workflow today. Seems to be fixed.

[2016-03-08 10:44] bouffa commented on #2301
+1

[2016-03-08 12:46] nmaas87 commented on #649
That would be very useful!

[2016-03-08 13:33] BruinY commented on #649
@Unknwon please in 0.10 milestone complete

[2016-03-08 14:25] morph027 commented on #1314
+1 ;)

[2016-03-08 16:41] minecrafter commented on #945
I am interested in working on adding two-factor authentication support to Gogs.

Gogs is nice, but lack of two-factor authentication really sours the deal for me. I know some Go so I am happy to try implementing it.

[2016-03-08 16:45] Unknwon commented on #2784
Hi, you didn't seem like to follow the way that `/docker/README.md` suggests.

Close by

[2016-03-08 16:45] #2784 closed

[2016-03-08 16:49] Unknwon commented on #2696
Hmm.. so how does BitBucket determine that..

[2016-03-08 16:53] Unknwon commented on #649
@BruinY It is not as easy as switch a button or change a value in database, will consider.

[2016-03-08 16:55] Rukenshia commented on #2696
According to #2761 it does seem to work, though, that gets me curious now. When I tested my own solution for that (which basically is the same as #2761), the single commit I merged was greyed out, too.

[2016-03-08 16:55] Unknwon commented on #945
@minecrafter this requires you understand Gogs auth workflow very well... good luck!

[2016-03-08 16:56] Unknwon commented on #2696
@Rukenshia What is your Go version?

[2016-03-08 16:56] minecrafter commented on #945
@Unknwon I realized it was going to be difficult. Let's give it a go though :)

[2016-03-08 16:57] Unknwon commented on #2211
It does not have to, if behind a reverse proxy, Gogs only listen on HTTP, the web server (such as NGINX) handles HTTP.

[2016-03-08 16:58] Rukenshia commented on #2696
1.6, but what does it have to do with it?

[2016-03-08 17:02] Unknwon commented on #2696
@Rukenshia our of ideas..

[2016-03-08 17:08] p-v commented on #2696
@Rukenshia A merge commit will always has more than one parent. Even in the screenshot you can clearly see in the graph on the left that the merge commit has two parents.

[2016-03-08 17:11] Rukenshia commented on #2696
@p-v what I tried locally was the following:

1. Create new Repository
2. Create "README" on master
3. Create new branch
4. Checkout new branch
5. Update "README" file
6. Merge new branch onto master

this will not generate a Merge commit but just merge the commit onto master. It has multiple parents now and, by that criteria, would be marked as a "Merge Commit" albeit it just being a normal commi

[2016-03-08 17:17] p-v commented on #2696
Git by default always does a fast forward merge. A fast forward merge doesn't create a merge commit. You can force git to create a merge commit by passing `--no-ff` flag with your `git merge` command.

In your case the merge commit was never generated since it was a fast forward merge. You don't get a merge commit in that case. It just puts you commit on top of your master.

So, git will not alway

[2016-03-08 17:25] juanfcocontreras opened #2786 "High CPU usage and timeout while repository listing"
- Gogs version (or commit ref): 0.9.0 (also with previous versions: 0.8.43, 0.8.25, 0.8.10, 0.7.33). Both binary and built from source code versions
- Git version: 1.8.2.1 (also with 1.7.1)
- Operating system: CentOS 5.4 2.6.18-238.19.1.el5
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [x] Not relevant

##

[2016-03-08 17:28] Jonny007-MKD commented on #2211
That's true :)

But after a quick search it seems as nginx by default is not telling gogs whether it is serving a http or a https request. If there is more to do in nginx setup than setting `proxy_pass` then the forwarding can be done in nginx as well.

[2016-03-08 17:29] Rukenshia commented on #2696
Alright, I've just tested it myself again. #2761 should work fine as it is and be a proper solution for this issue. Fast-forwarded commits wont be greyed out, as they just have 1 parent.

[2016-03-08 17:31] minecrafter commented on #945
I think I have a decent grip on how authentication works. It wouldn't be difficult to add a second-stage page for two-factor authentication.

For now I'm going to focus on allowing the user to add two-factor access to their account.

[2016-03-08 17:45] Unknwon commented on #2211
@Jonny007-MKD that's the point, this is very very rare case.

[2016-03-08 17:48] Unknwon commented on #2786
Hi, please check gogs server log for "timeout" operations.

[2016-03-08 18:26] juanfcocontreras commented on #2786
Thanks for your prompt reply! Which log file? I have only two log files: http.log is empty, and xorm.log seems to have only sql queries.

[2016-03-08 18:40] Unknwon commented on #2786
`path/to/gogs/log/gogs.log`

[2016-03-08 19:20] juanfcocontreras commented on #2786
I don't have that file. I launch gogs vía a init.d script, and this file is deleted once Gogs is totally launched. Do I launch gogs Cía ./gogs web?

[2016-03-08 19:22] Unknwon commented on #2786
Yes, please do that.

[2016-03-08 19:41] minecrafter commented on #945
I'm going to take a break now, but I managed to insert an authentication page in the process of logging in, but I don't yet have 2FA working.

[2016-03-08 20:01] matunixe opened #2787 "Provided package for amd64 don't work"
Hello there,

I'm unable to launch gogs.
- Gogs version (or commit ref): 0.9.0
- Git version: git-2.6.4
- Operating system: Alpine Linux
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [x] Not relevant
- Log gist: Nothing

## Description
I followed the installation process and when I try to launch the daemon

[2016-03-08 20:07] Unknwon commented on #2787
You need to compile from source inside Alpine Linux in order to run, provided binaries are not static linked.

[2016-03-08 20:07] Unknwon commented on #2787
Close by

[2016-03-08 20:07] #2787 closed

[2016-03-08 20:35] minecrafter commented on #945
Turns out I was generating the wrong secret. Now I have it working :smiley:

Now we turn to adding support to enable and disable 2FA.

[2016-03-08 21:05] Jonny007-MKD commented on #2211
So I'd say as long as gogs doesn't implement a second listener just for this feature it is no case at all.

[2016-03-08 21:09] Fchen48 commented on #2387
1+, if it's possible, add also a server-side git hook for post-release

[2016-03-08 21:11] Unknwon commented on #2211
Yes, might close this issue.

[2016-03-08 23:08] minecrafter commented on #945
I am going to wrap up for today, but I have made some headway.

[2016-03-09 02:12] xdsnet opened #2788 "特性请求：在线编辑源代码"
当前版本只提供了在线浏览代码的功能，而不能在线编辑，对于一些文档类的项目其实不太方便，有时一些小的问题也需要重新拖库提交。github就提供了在线编辑源代码的能力，希望在以后更新升级中能加上这个特性。
谢谢。

[2016-03-09 02:37] Unknwon commented on #2788
Duplicated to https://github.com/gogits/gogs/issues/1071

[2016-03-09 02:37] #2788 closed

[2016-03-09 05:05] Misterke commented on #2513
:disappointed: that this didn't make it into 0.9.0. Is there a plan on when it will be added?

[2016-03-09 05:28] minecrafter commented on #945
Update on my headway: Two-factor authentication can be enabled, disabled, and you will be prompted for a code when logging in.

What's missing: A nice interface for managing two-factor authentication settings, rate limiting, cancelling tokens when they are used, backup codes, and email notifications for when two-factor settings are changed or a backup code is used.

I anticipate being able to get

[2016-03-09 07:04] arkraft commented on #945
To handle the problem with HTTP/HTTPS authentication with 2FA you could use App-Specific-Passwords. Google and Apple are using these for clients which do not support 2FA. You could then generate a new password when enabling 2FA and the user would have to use this password for his git clients.

[2016-03-09 07:38] TilmannBach commented on #235
i can still confirm this 7 byte thing in version 0.9.0

* hosted on windows server 2008 R2 64 bit

[2016-03-09 08:02] joelhy commented on #776
+1

[2016-03-09 08:52] juanfcocontreras commented on #2786
I've doing some research, and I forgot to mention that I'm using gogs via apache. If I use gogs server directly, there aren't timeouts, but loading a repository is very slow. I think that this make apache returns a timout. For example:

Completed /python/issues 200 OK in 34m38.978975763s (issues webpage)
Completed /python 200 OK in 74h0m38.131986309s (repository index)

I have just one repository

[2016-03-09 09:52] ChubbyNinja opened #2789 "Issue count mismatch"
- Gogs version (or commit ref): 0.9.0.0306
- Git version: 1.9.1
- Operating system: Ubuntu 14.04.4 LTS
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [x] No
  - [ ] Not relevant

The Issue count out of sync with the open issues, I do close issues sometimes via the commit message but not a lot!

![capture](https://cloud

[2016-03-09 09:54] mebaumgart opened #2790 "Diff split view not working on pull requests"
The diff split view is not working on pull requests. Clicking on the Split view button does not throw an error, it just shows no difference to the unified view. It does work on single commits though.

I have made an example on try.gogs.io:
https://try.gogs.io/meb/splitViewTest/compare/master...feature/test?style=split

- Gogs version (or commit ref): 0.9.0.0306
- Git version: 2.1.4
- Operating sys

[2016-03-09 10:45] Unknwon commented on #945
@arkraft good point!

[2016-03-09 10:46] Unknwon commented on #235
I don't understand this sentence...

[2016-03-09 10:48] Unknwon commented on #2786
Please do not truncated the log in the way you think it would be nice, I need complete, full dump of log, thanks!

[2016-03-09 11:02] Unknwon commented on #2789
Thanks your feedback!

Are you upgrading from (initially) very old version of Gogs?

[2016-03-09 11:37] juanfcocontreras commented on #2786
Ok, here they are (I've just removed ips and emails from logs).

One user (called pythonuser) with one repository (called python). I've started gogs from scratch (removing previous logs):
- user logs in
- user browse to the repository (fast)
- user browse to issues (very fast)
- user browse back to the repository (very very slow)

Please, tell me if you need more files or tests.

Thanks!

[logs.zi

[2016-03-09 11:44] Unknwon commented on #2786
The log you packaged does not look like the one you posted on your previous comments.

[2016-03-09 11:54] juhanima commented on #2727
I suppose the explanation would be something like this:

The SQL error is caused by the fact that a list of integers as a string ('1,2,3') cannot be used as a bind variable value in PostgreSQL for a statement like this: ...where x in (?). There might be some
conversion function for PostgreSQL, but that would make the SQL PostgreSQL specific, which is not nice.

As @lunny suggested, an easy way out

[2016-03-09 11:57] Unknwon commented on #2727
I think it could be a problem PostgreSQL version too low... my PostgreSQL instance could handle `x where in (1,2)` without error...

[2016-03-09 12:12] juhanima commented on #2727
That's quite possible. My environment is Ubuntu server 15.04 with PostgreSQL 9.4. Good to hear that 9.5 is better.

[2016-03-09 12:19] juanfcocontreras commented on #2786
Yes, because I delete previous logs. These ones are generated from scratch just a moment ago.

[2016-03-09 12:20] Unknwon commented on #2786
OK, the log looks right to me.

[2016-03-09 12:20] Unknwon commented on #2786
Check your anti-virus?

[2016-03-09 12:21] juanfcocontreras commented on #2786
It don't have any anti-virus. Is that normal that an empty repository lasts so much?

[2016-03-09 12:23] Unknwon commented on #2786
Consider upgrade your system.... :sweat:

[2016-03-09 12:23] juanfcocontreras commented on #2786
Do you think it's a matter of CentOS 5?

[2016-03-09 12:24] juanfcocontreras commented on #2786
Or do you think it's a power issue?

Because the first time is loaded well:
[Macaron] Completed /pythonuser/python/issues 200 OK in 1h58m35.815553505s

The second one is:
[Macaron] Completed /pythonuser/python 200 OK in 162h41m30.093555215s

[2016-03-09 12:26] Unknwon commented on #2786
`1h58m35.815553505s` does not look well to me...

[2016-03-09 12:28] Unknwon commented on #2786
How long it takes to run `git version` command?

[2016-03-09 12:29] juanfcocontreras commented on #2786
I can save a screencast for you. I think units are not well. The first webpage is loaded in a couple the seconds. The second time takes more than a minute.

The machine is a node cluster Intel Xeon E5620 2.40GHz with 32 GB with just gogs.

[2016-03-09 12:30] juanfcocontreras commented on #2786
`git version` is run immediately

[2016-03-09 12:30] Unknwon commented on #2786
What is your Go version?

[2016-03-09 12:33] juanfcocontreras commented on #2786
Now I'm running latest binary version (Gogs 1.9), so Go is 1.6. Previous binary versions were compiled in previous Go compiler version. I've also compiled from sources with Go 1.4 with the same result.

[2016-03-09 12:36] Unknwon commented on #2786
I'm out of ideas. Is it possible to remote login a user of your node so I can do some tests?

[2016-03-09 12:43] juanfcocontreras commented on #2786
Sorry, but that is not possible because of security policy. But I could run logs more verbose if you want.

I'm also out of ideas, and that is why I write this issue. I think that is maybe related that Go is not supported in CentOS 5, because no more people seems to have this issue. But upgrading the cluster is not possible right now.

[2016-03-09 12:46] Unknwon commented on #2786
OK, dump log again after some repository view opeations.

[2016-03-09 12:48] juanfcocontreras commented on #2786
Remote login is not possible but you can browse the repository if you want, and I can dump log file for you. How can I give you the details privately?

[2016-03-09 12:49] Unknwon commented on #2786
@juanfcocontreras Let's start with dump log again after some repository view operations first...

[2016-03-09 13:10] TilmannBach commented on #235
Sorry, all i wanted to tell is that the bug mentioned by @thinking-aloud still exists in v0.9.0.

After using gogs for a while we wanted to configure it to use https.

* We created cert, configured the config file and restarted the service.
* problem is now:
  + when accessing the webservice via http (not https) a file with 7 byte of crap are being served
* https for the web service is working

[2016-03-09 13:11] Unknwon commented on #235
@TilmannBach https://unknwon.io/setup-gogs-with-https/

[2016-03-09 13:32] juanfcocontreras commented on #2786
Ok. More logs here:

[logs2.zip](https://github.com/gogits/gogs/files/165193/logs2.zip)

[2016-03-09 13:58] Unknwon commented on #2786
Looks like your system time is messed up, I see 2016-5-1 at the beginning, and 2016-3-xx at the end.

[2016-03-09 14:32] ChubbyNinja commented on #2789
Originally version v0.6.0 - but i have upgraded with every release :) (not missed out any that i'm aware of)

[2016-03-09 15:04] Unknwon commented on #2789
@ChubbyNinja OK, I'll add a count corrector for issues.

[2016-03-09 15:05] ChubbyNinja commented on #1891
This isn't limited to nginx - i am running it on apache2 and i got this - but much less often than when i was running it on nginx

Gogs: 0.9.0.0306
Go: 1.6

[2016-03-09 15:38] xor-gate commented on #945
@Unknwon is there anybody who already did some work on this? I tried to integrate with a existing golang implementation of Google Authenticator style 2FA into gogs and it started to work. Should I create a initial draft as a pull request and reference this issue to it ?

[2016-03-09 16:01] juanfcocontreras commented on #2786
I think that is the reason because time units were wrong. But I don't have any related issue in other software, and I have many installed.

The only thing I think could be is CentOS 5 and Go:
http://dave.cheney.net/2013/06/18/how-to-install-go-1-1-on-centos-5

Does it make sense to you? It's too low-level language for me...

[2016-03-09 16:51] Unknwon commented on #945
@xor-gate cc @minecrafter

[2016-03-09 16:53] Unknwon commented on #2786
I see this in the article...

[2016-03-09 16:56] juanfcocontreras commented on #2786
Yes, but I'm not sure if this is related or not with this issue. I'm very new to Go. I've also read this:

https://www.reddit.com/r/golang/comments/2u3bb7/running_go_on_centos5/

"We use nothing but CentOS 5 for our servers (overdue for an upgrade). We've been doing all sorts of go development with no problems whatsoever."

"We've also used Go 1.2/1.3 in production with RHEL 5.3 and 5.11 for a yea

[2016-03-09 16:56] juanfcocontreras commented on #2786
BTW, I compile Go 1.3 without any issue.

[2016-03-09 16:58] Unknwon commented on #2786
The problematic thing about slow when view repository files is Gogs calling `git xxx` commands through shell. You might have some ideas?

[2016-03-09 17:04] juanfcocontreras commented on #2786
How do you call shell commands? I can make a very simple Go app calling git command within Go and directly in the prompt shell to compare.

[2016-03-09 17:06] Unknwon commented on #2786
Change `RUN_MODE` to `dev` should print commands that are called in console.

[2016-03-09 17:13] juanfcocontreras commented on #2786
initial commit

[git-module] /test/gogs/repositories/pythonuser/python.git: git rev-list --count bc82ce325db8eced1011fe1243987f0086d533ea
[git-module] stdout:
1

[git-module] /test/gogs/repositories/pythonuser/python.git: git ls-tree e36145dddcb6ca653f4e7bbcf5ab4992b14434d9
[git-module] stdout:
100644 blob 7f7cccc3ee86243eec31cbfe384e68f9aa71e055	.gitignore
100644 blob 61ea6dadc474e470429ee5e46624

[2016-03-09 17:14] juanfcocontreras commented on #2786
Command are executed quickly. Problem seems to be related to:

2016/04/16 15:06:09 [T] Doing: MirrorUpdate

The rest of the code is executed immediately. What does it do?

[2016-03-09 17:15] Unknwon commented on #2786
It is very obvious it updates your mirror repositories, but since you have none, it should do nothing.

Again, your system time is very wrong, there is no guarantee everything works as expected.

[2016-03-09 17:18] juanfcocontreras commented on #2786
Any idea of debugging about debugging system time? I don't have any issue in bash scripts, python or php.

[2016-03-09 17:24] Unknwon commented on #2786
I don't think wrong system time is a right environment setup, and the statement ` I don't have any issue in bash scripts, Python or PHP.` is invalid because Gogs is not written in bash scripts, Python or PHP, and even you don't have problem with other Go apps, there is no guarantee Gogs should function the same.

I don't think it is worth investigating until the system time problem is solved.

[2016-03-09 17:38] juanfcocontreras commented on #2786
Yes, I totally agree with you. I think everything could be related to system time, because is something very sensible.

What I meant is that when you say "system time" as something affecting the whole system,  it's something I found very weird because I have a lot of things running in the system without any similar time issue.

So I think is something related to both Gogs and my system. In one han

[2016-03-09 17:40] Unknwon commented on #2786
It's not a good practice to skip my comments...

[2016-03-09 17:42] sapk opened #2791 "Feature request: Directly link to the last folder"
In order to go quickly throw empty sub-folder and directly to the one containing files. It's could be interesting to link to folder containing file when it's a sub-folder of folder containing only one folder. To explain more easely look at this schema showing a folder structure.

/other.file
/etc -> /app -> /sub-folder -> - file.1
                                              - file.2

For example

[2016-03-09 17:49] juanfcocontreras commented on #2786
Sorry, with so many comments, I missed that one.

My exact system is this one "Rocks Cluster Distribution 5.4.3":
ftp://ftp.rocksclusters.org/pub/rocks/rocks-5.4.3/linux/area51+base+bio+condor+ganglia+hpc+java+kernel+os+perl+python+sge+web-server+xen-5.4.3.x86_64.disk1.iso

It's a customized version of CentOS 5.6 for cluster systems. So I think you could use CentOS 5.6:
http://archive.kernel.org/c

[2016-03-09 17:54] Unknwon commented on #2791
Thanks your feedback!

But this is duplicated to https://github.com/gogits/gogs/issues/1149

[2016-03-09 17:54] #2791 closed

[2016-03-09 18:16] McLive commented on #1441
@Unknwon Any plans when this will be added? I'm really looking forward to this feature. :)

[2016-03-09 18:17] Unknwon commented on #1441
@McLive you can use a `post-receive` git hook for now...

[2016-03-09 18:34] Unknwon commented on #2786
I downloaded the FTP one but can't seem to start installing with VirtualBox:

![image](https://cloud.githubusercontent.com/assets/2946214/13646027/a3f6ff2e-e5fb-11e5-91ea-a9a0e9c1e022.png)

[2016-03-09 19:04] juanfcocontreras commented on #2786
Is that Rocks? I think CentOS should work out of the box.

[2016-03-09 19:37] Unknwon commented on #2786
It does but too minimal, looks too different than I would expect, VB plugins are not able to install either so I can't share clipboard which is a huge pain.

I'm closing this since it's more like deployment environment specific issue. Please post future updates on https://discuss.gogs.io/.

[2016-03-09 19:37] #2786 closed

[2016-03-09 19:52] Unknwon commented on #2402
ping @i00

[2016-03-09 19:53] juanfcocontreras commented on #2786
Do you mind if I try to set up a VM for you?

[2016-03-09 19:59] Unknwon commented on #2786
It might be easier for you just find one with correct system time and test again.

[2016-03-09 20:11] juanfcocontreras commented on #2786
Ok, then I'll try another Git system.

If changing a cluster system with several dozens of nodes and users was an option, be sure I didn't waste your time in this thread.

Thanks anyway.

[2016-03-09 20:17] juanfcocontreras commented on #2786
Ok, then I'll try another Git system.

If changing a cluster system with several dozens of nodes and users was an option, be sure I didn't waste your time in this thread.

Thanks anyway.

[2016-03-09 21:32] minecrafter commented on #945
@xor-gate that's actually precisely what I did, and I also added enrollment support. Mine still lacks quite a few features but it is getting there.

[2016-03-09 21:41] xor-gate commented on #945
@minecrafter i tried to look at your gogs fork for the implementation of this but did you push it public yet?

[2016-03-09 21:42] minecrafter commented on #945
@xor-gate It's not currently public, do you want me to push?

[2016-03-09 21:43] xor-gate commented on #945
@minecrafter, then I can have a look and when time permits I can give some feedback and maybe enhance and test it a little.

[2016-03-09 21:54] minecrafter commented on #945
Pushed: minecrafter@5cd299

[2016-03-09 22:00] xor-gate commented on #945
@minecrafter after a quick look i'm pretty impressed by the work you already created. I only took 30 minutes to understand the Gogs auth flow and it is a little tricky but understandable. I think it would be nice to also have some scratchpad tokens and per-app passwords as google/facebook do. But that is a extension when this works correctly.

[2016-03-09 22:15] FuzzyWuzzie commented on #1580
+1

[2016-03-09 23:36] stonerl opened #2792 "Fullname search"
- Gogs version (or commit ref): 0.9.0.0306
- Git version:
- Operating system:
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [x] Yes
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

I would not say that this is a bug but an annoyance. When one tries to invite another user to his team, Gogs only searches for the usernam

[2016-03-10 00:34] saboya opened #2794 "Cannot customize local wiki path"
Currently, the local wiki path is hardcoded to use AppDataPath, and, from what I could test, does not take GOGS_CUSTOM into consideration. So, it will always use the running path for the process + "data/". This leads to permission errors if you are running gogs from a path where the user does not have write permissions.

[2016-03-10 00:56] Unknwon commented on #2302
Starting from 0.9.2, all time are saved in Unix Timestamp format with UTC, the timezone problem caused by database time parse should be fixed with **new** operations, existing ones are not fixed.

[2016-03-10 03:15] minecrafter opened #2798 "Console logging ignores app.ini settings"
- Gogs version (or commit ref): 0.9.0.0306
- Git version: 1.9.1
- Operating system: Ubuntu 14.04 LTS
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [X] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [X] Not relevant
- Log gist:
[code]
## Description

My config is:
[code]

However, when launching Gogs, it does an early initialization of logging (`setting.go`

[2016-03-10 04:19] Unknwon commented on #2727
Push a fix with suggested change by @lunny and @juhanima .

Please help test `develop` again!

[2016-03-10 04:22] Unknwon commented on #2732
This is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2785.

[2016-03-10 07:53] #2732 closed

[2016-03-10 11:56] i00 commented on #2402
Sorry it is private.. Any other way?

[2016-03-10 13:37] Unknwon commented on #2632
This is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2797.

Please help test on `develop` branch or demo site.

[2016-03-10 13:50] Unknwon commented on #2402
OK, I rechecked your screenshot, I think commit time are showing exactly right.

Only the timezone is different.

[2016-03-10 13:54] moltam commented on #2632
It's working:

https://try.gogs.io/
`<title>moltam - Gogs: Go Git Service</title>`

https://try.gogs.io/org/apple/dashboard
`<title>apple - Gogs: Go Git Service</title>`

Altough the profile pages have the same title (username). Isn't this confusing?

[2016-03-10 13:56] Unknwon commented on #2632
@moltam yeah..

cc @allonsy my bad, can you add ` - ctx.Tr("dashboard")` after display name?

[2016-03-10 14:03] moltam commented on #2632
Special chars are also escaped: `<title>Tamás Molnár &amp;amp; &amp;lt; - Gogs: Go Git Service</title>`

[2016-03-10 14:04] ciruz opened #2800 "Repository description encoding / HTML entities"
- Gogs version (or commit ref):
- Git version:
- Operating system:
- Database:
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [X] Yes
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

The repository description is not always encoded the same way. Check out my screenshots:

**Repository description:**
![01_settings](https://cloud.gi

[2016-03-10 14:09] Unknwon commented on #2632
@moltam this is not relevant to this thread, please search on issue tracker.

[2016-03-10 14:11] Unknwon commented on #2800
Thanks your feedback!

Please post links of example on demo site.

[2016-03-10 14:20] ciruz commented on #2800
Here you go https://try.gogs.io/ciruz/dev :smiley:

[2016-03-10 14:51] renothing opened #2801 "remote users can retrieve password from gogs"
- Gogs version (or commit ref):0.9
- Git version:1.8.1
- Operating system:Linux
- Database:Mysql
- Can you reproduce the bug at http://try.gogs.io:
   Not relevant
- Log gist:

## Description
in fact, remote users can not be allowed to retrieve password from gogs. but I found it works fine. the "forgot password" works fine for all reomte users if you know their email.  so it's easy to do email flo

[2016-03-10 14:53] Unknwon commented on #2801
I don't understand this sentence.

I don't think it's Gogs's responsibility to keep your email account not be hacked.

[2016-03-10 15:03] adamdullenty commented on #1891
Seems to happen more frequently for me when I add labels to the issue
before hitting save.

On Wed, Mar 9, 2016 at 3:06 PM, Danny Hearnah <notifications@github.com>
wrote:

[2016-03-10 16:21] rskumar commented on #1496
Can we check mail template for spams - http://www.emailspamtest.com/
Though content would partially be dynamic, but we can make sure the fixed template content does pass spam test.

[2016-03-10 16:22] rskumar commented on #1496
I vote for having HTML along with TEXT (that why most 1st class email clients supports HTML).
And user has option in mail client to only see TEXT version of that mail.

[2016-03-10 16:23] Unknwon commented on #1496
Though content would partially be dynamic, but we can make sure the fixed template content does pass spam test.

Thanks, but what does this to do with Gogs?

[2016-03-10 16:37] masupilamie commented on #2384
I would also like to be able to use fail2ban with gogs

[2016-03-10 17:18] moltam commented on #2632
@Unknwon Sorry, this wasn't meant to be an issue report. I've tested, that special characters are properly escaped.

[2016-03-10 17:31] AndreaGiardini commented on #2384
@Unknwon Why not logging directly the failed attempts in gogs.log?

[2016-03-10 17:58] allonsy commented on #2632
@Unknwon will do, should I submit changes on the merged PR or create a new one?

[2016-03-10 18:02] Unknwon commented on #2632
@allonsy you can't update merged PR, need to send a new one.

[2016-03-10 18:02] masupilamie commented on #2384
I think #2291 would be a very good addition to gogs. But logging a failed attempt with ip has its perks also: fail2ban has the ability to block (or redirect) ports so the "attacker" ip can be completely cut off, plus e-mail notifications out of the box.

[2016-03-10 18:31] xxxtonixxx commented on #2800
When I click on RAW button or "View RAW" should the README file download?? is it a bug? https://try.gogs.io/ciruz/dev/src/master/readme.md

[2016-03-10 18:52] Unknwon commented on #2800
@xxxtonixxx maybe because it has size 0. And this is not relevant to this thread.

[2016-03-10 18:53] Unknwon commented on #2632
Everything should be good now!

[2016-03-10 18:56] xxxtonixxx commented on #2800
@Unknwon Hmmm, ok, sorry!

[2016-03-10 20:55] JonLundy commented on #2550
I am having the same issue.. from what i can tell when i push to a new repository the bare repo is created on the network storage and i can then clone the repository fine. BUT the "is_bare" flag in the repository table in the database is not being changed to 0.

So, even though the git content is there the web is not seeing it..

[2016-03-10 21:16] Unknwon commented on #2550
@JonLundy good tip, thanks.

[2016-03-10 21:18] Unknwon commented on #2800
This is claimed to be fixed by merging #2803 .

[2016-03-11 00:45] bengben commented on #1915
+1 up

[2016-03-11 01:54] bhchew commented on #776
+1, nice to see PR between branches are implemented.

Pending this to prevent manual merges between branches outside PR =)

[2016-03-11 02:03] JonLundy commented on #2164
This feature would be nice when viewing folders with lots of files also.

[2016-03-11 02:05] Unknwon commented on #2164
@JonLundy thanks for the comment but I think that's irrelevant to this thread.

[2016-03-11 02:06] JonLundy commented on #1644
+1

[2016-03-11 02:07] JonLundy commented on #1505
+1

[2016-03-11 02:11] allonsy commented on #2275
@xor-gate I'm unable to reproduce the error as mentioned (see my [mirror here](https://try.gogs.io/allonsy/Eyescale/releases)
Is the problem persisting for you still?

[2016-03-11 02:42] renothing commented on #2801
yes, I know it, but it will take user confusion, I think remote user shouldn't be able to use "forgot password"

[2016-03-11 03:17] zacheryph commented on #2801
Define "remote user" in this case.  How else do you propose someone reset a forgotten password?

[2016-03-11 03:24] zacheryph commented on #2801
Also from what I see (at least in `0.9.1.0306`) this can not be *abused* for "mail bombing" as it does not allow you to request an email be sent multiple times.  I imagine this times out after so long but as of right now I see no obvious cause for concern.

[2016-03-11 05:31] vtolstov commented on #96
Any news?

[2016-03-11 06:14] richmahn commented on #13
What work can I do on this? I am working with our Gogs fork full time for my job, so in a sense paid to make this better. I know as said above this is a big choir, but I have made tons of search engines and displayed results in grids and lists. It is one of our issues, as you can see from the reference I made.

[2016-03-11 07:42] shionphan opened #2805 "Suggest update golang source(net,crypto,text) from github"
Hi,

We have more error about golang.org when install the gogs source, just because of we can not get those from google. but github also has golang source project, why we can not update golang source(net,crypto,text) form github?

if it possible, thanks a lot.

[2016-03-11 07:42] rikvdh opened #2806 "Git Submodules link is wrong"
- Gogs version (or commit ref): v0.9.0
- Git version: 2.1.4
- Operating system: Debian 8
- Database:
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [X] Not relevant
- Log gist:

## Description

We've configured a different hostname for SSH-clone than the root-url for the web-interface (When the web-interface is terminat

[2016-03-11 07:47] shionphan commented on #2805
go on.

We cant find those in here : https://github.com/golang. I think we cant checkout a new branch for Chinese participants. but i have no any idea about that.

[2016-03-11 07:48] rikvdh opened #2807 "Last updated in overview is wrong for Mirror repositories"
- Gogs version (or commit ref): 0.9.0
- Git version: 2.1.4
- Operating system: Debian 8
- Database:
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [X] Yes
  - [ ] No
  - [ ] Not relevant
- Log gist:
## Description

When seeing a repository in an overview it shows e.g. `Updated 2 days ago` when there were commits 1 hour ago.

For example on tr

[2016-03-11 08:27] de-live-gdev opened #2808 "Gogs building issue"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 97c48da49fb8493059d5b52e435fadc508c78966
- Git version: 2.1.4
- Operating system: Debian x64
- Database:
  - [ ] PostgreSQL
  - [x ] MySQL

[2016-03-11 08:31] xor-gate commented on #2806
Like this:
[code]

[2016-03-11 08:34] Unknwon commented on #13
@richmahn do you guys have a IM channel that I can join...?

[2016-03-11 08:48] Unknwon commented on #2805
Hi, there answer is that we're not allowed to do so: https://github.com/golang/crypto/blob/master/ssh/doc.go#L18

Close by

[2016-03-11 08:48] #2805 closed

[2016-03-11 08:51] Unknwon commented on #2808
Hi, looks like you're not having everything up-to-date?

Please do `go get -u .`.

[2016-03-11 09:10] de-live-gdev commented on #2808
I definitely updated every thing (using `go get -u .` and `go get -u ...`) . I even deleted go-oxrm folder and pulled the latest version again using go get. I checked the sha, and its the latest version from master.

[2016-03-11 09:13] Unknwon commented on #2808
What is your Go version?

[2016-03-11 09:32] de-live-gdev commented on #2808
Thanks, updating Go to 1.6 resolved the issue.
Seems like a recent commit made changes that were not compatible with the old version.

[2016-03-11 09:32] #2808 closed

[2016-03-11 09:34] Unknwon commented on #2808
How ` old version` was it？

[2016-03-11 09:38] de-live-gdev commented on #2808
1.4.3

[2016-03-11 09:40] Unknwon commented on #2808
It should work, I use this version compile sometimes...

[2016-03-11 09:55] daniviga commented on #1597
Thank you @Unknwon !!!

[2016-03-11 10:21] jackjackk opened #2809 "Support for .org files markup"
as it is done in github (https://github.com/github/markup).
would it be possible/feasible?

thanks
Giacomo

[2016-03-11 11:43] dakira commented on #1496
@Unknwon using that service you can optimize mail templates so that the resulting mails will less likely be classified as spam.

[2016-03-11 12:01] Unknwon commented on #1496
@dakira OK...

[2016-03-11 12:19] lavvy commented on #353
Codes are costlier than gold. Very nice feature . Any backup button yet?

[2016-03-11 13:56] barracks510 opened #2811 "LDAP User can change his/her password."
- Gogs version (or commit ref): 0.9.0
- Git version: 1.8
- Operating system: GNU/Linux
- Database:
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [x] Not relevant
- Log gist:
No log entry describes the problem

## Description
LDAP Users who click on "Forgot Password" are able to reset his/her password. However, this is

[2016-03-11 14:00] zacheryph commented on #2776
Im not completely understanding of what is going on here.  It looks like you are not letting `gogs serv` handle the SSH session at all.  Due to this new url going directly into the gogs-repositories I am only assuming you are in fact bypassing `gogs serv` and losing all possibilities of permissions, protections, etc.

Given that you are completely bypassing gogs in this matter I can understand why

[2016-03-11 14:06] sblu commented on #2776
HM I'm using gogs in an openshift environment I want to use gogs but if I want to clone a git via SSL i need a ~ in the git clone URL.  https is possible to use in this environment.

[2016-03-11 14:08] zacheryph commented on #2776
Please read up.  Updated to slowly :disappointed:

[2016-03-11 14:11] drsect0r opened #2812 "packets.go:33: unexpected EOF"
- Gogs version (or commit ref): 0.9.0.0306
- Git version: 2.1.4
- Operating system: Debian Jessie 8.3
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [x] Not relevant
- Log gist:
## Description

I'm using Monit to track service behavior. I have seen an increase in Gogs changing it's PID. (it's seems te be res

[2016-03-11 14:14] richmahn commented on #13
@Unknwon We use Slack for our unfoldingWord development communication. It can be joined at http://door43.org/en/slack. You can find me on there as @rich

[2016-03-11 14:16] zacheryph commented on #2776
Either way, I'd personally not enjoy seeing this _feature_ in gogs.  Albeit definable, if it is put in I think it needs to have a giant red flag letting the person know that if they are using this feature they are _HIGHLY_ likely to be bypassing `gogs serv`.  Allowing _anyone_ with an account and ssh key to access any repository regardless of ownership, group/organization membership, and repositor

[2016-03-11 14:29] sblu commented on #2776
Yes but this is restricted via openshift SSH Management

[2016-03-11 14:48] zacheryph commented on #2776
Correct.  _restricted via openshift_.  Openshift is to blame here.  This sounds like it stops any and all intelligent `authorized_keys` command execution, I'm surprised this isn't a known issue in the openshift world.  Or is it?

Their are options for this already.  Use `http[s]://`.  set `DISABLE_SSH = true` in your `app.ini`.  Bypassing all of gogs permissions/visibility settings hardly sounds l

[2016-03-11 14:50] lunny commented on #649
So it needs to redisign repo's permissions.

[2016-03-11 15:06] Unknwon commented on #2776
OK wait, so this is bypassing `gogs serv`? Did not realize that, which is not acceptable...

[2016-03-11 15:24] Unknwon commented on #2812
It would be better if you can dump more logs about what Gogs is doing before this error.

[2016-03-11 15:41] drsect0r commented on #2812
@Unknwon I checked the following log files /var/log/gogs/gogs.log, /var/log/gogs/xorm.log and /var/log/gogs/http.log. These where all empty. I get this error message from /var/log/daemon.log.

I noticed that there seems to be no consistency. I'm the only user of this Gogs installation and it happens without me being active on Gogs. I

[code]
[code]
[code]
[code]
[code]

[2016-03-11 15:45] Unknwon commented on #2812
Thanks, this is indeed very helpful!

[2016-03-11 16:27] faouzzz commented on #1915
+1

[2016-03-11 16:38] zacheryph commented on #552
Maybe this should be something that can just be put into the configuration file to enable?  Possibly even make the values definable (hello HSTS).  Granted most users should want these settings for https though you never know, someone might not want them for environmental specific reasons.

[2016-03-11 17:21] zacheryph commented on #2207
Can you give an example of where this is not obvious? Or where its highlighting as a non-proper language?  Is the file extension not an indicator of what the file is being highlighted as?

[2016-03-11 17:34] yurivict commented on #2207
Most people don't know what most extensions mean. Also some extensions overlap. There are also situations when texts with different syntaxes are embedded in each other, and for example phabricator is able to highlight syntax properly in such situation.

This is why it is a good idea to show the syntax name.

[2016-03-11 17:36] zacheryph commented on #2811
I will claim this ticket.  Will let know if something comes up or have any questions.

[2016-03-11 17:45] BurakDev commented on #1597
Finally, thanks @Unknwon :+1:

[2016-03-11 17:46] andreynering commented on #2207
@zacheryph If you are going to try it, this function should do the trick:

https://github.com/gogits/gogs/blob/master/models/git_diff.go#L170-L172

Gogs uses Highlight.js and I think this already works.

[2016-03-11 20:17] xor-gate commented on #2275
<img width="681" alt="screen shot 2016-03-11 at 21 13 40" src="https://cloud.githubusercontent.com/assets/1050166/13714412/a8a4f06a-e7ce-11e5-804b-9014d876d924.png">
<img width="706" alt="screen shot 2016-03-11 at 21 16 10" src="https://cloud.githubusercontent.com/assets/1050166/13714413/a8a52a8a-e7ce-11e5-9a24-ca484896ca42.png">

[2016-03-11 20:34] Unknwon commented on #13
It is now possible to search repository and user by name on `develop` branch, both on explore and admin panel pages.

[2016-03-11 20:58] ChangePlaces commented on #13
Wow, this a great start to taking gogs to the "next level"! Congratulations @Unknwon and @richmahn

[2016-03-11 21:00] moltam commented on #13
This is great! Thank you guys!

[2016-03-11 21:48] richmahn commented on #13
@ChangePlaces I did nothing, other than push him (I like to think there was some whip cracking, but he was already done before I even got a chance to ask if he had a chance to work on it today, lol), heh. And I tested it with postgres.

[2016-03-11 22:11] allonsy commented on #2275
I'm addressing the time issue in PR #2804

[2016-03-11 22:23] furhouse opened #2813 "SSH links retain [server] DOMAIN after changing [server] ROOT_URL"
For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.9.1.0306
- Git version: 2.6.4
- Operating system: docker gogs/gogs tag latest id cb017a6b346e
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [x] No
  - [ ] Not relevant
- Log gist:

## Description

I've set up a reverse proxy for the doc

[2016-03-11 22:24] richmahn opened #2814 "Allow searching for users by full name"
With the search on the explore/users and admin users page, it would be nice to also be able to search the full_name of the user. Thus the search would search for the username OR the full_name.

[2016-03-11 22:31] Unknwon commented on #2813
Thanks your feedback!

But why it should not retain?

[2016-03-11 22:32] Unknwon commented on #2813
Close by

[2016-03-11 22:32] #2813 closed

[2016-03-11 23:04] furhouse commented on #2813
Thanks, `[server] SSH_DOMAIN` is exactly what I was looking for. It would make a good addition to the FAQ regarding the reverse proxy.

If the IP of the docker/server running gogs would change, you'll end up having to change the remote urls of existing repositories which used ssh, instead of having to purge a single entry from a KnownHost file if it retains.

[2016-03-11 23:08] Unknwon commented on #2813
If you wrong domain, what you put right now is IP, not domain, which should be `git.example.lan`.

[2016-03-12 03:54] BruinY commented on #649
@lunny  the repo's permission in the redesign??

@Unknwon Gogs is good product, Hope to be able to attach importance to this problem, the strengthening of project management features, can make gogs more popular

[2016-03-12 13:26] OhDaeto opened #2817 "Git protocol support"
Will it Gogs support git (git://) protocol in future?

[2016-03-12 14:38] Unknwon commented on #649
Everybody thinks their needs are more important.

[2016-03-12 14:41] BruinY commented on #649
Maybe, but I think to strengthen the function of project management, for gogs will be better, but you still have to decide

[2016-03-12 17:29] wackerm commented on #2678
Problem solved!

Sorry, I've been busy these days..
Since there is a new version 0.90, i completely purged gogs and reinstalled it from binaries...
but we still it seemed i could not use smtp-auth, the error persisted. on the fronted there is no more "500" but "Username or password is not correct." an in the gogs.log:
``2016/03/12 17:52:47 [W] Failed to login 'xyz@example.de' via 'SMTP': Login sou

[2016-03-12 18:08] Unknwon commented on #2678
i changed it and.... smtp-auth in gogs is working! nice!

Thanks for the info!

So basically the login attempt was failed, right?

[2016-03-12 18:51] Unknwon commented on #2098
Alpha support for custom templates has been pushed to `develop` branch, you can put template file with same under your `custom/templates` directory.

Some warnings:

- Make as minimal changes as possible
- No guarantee for compatibility with future changes
- Do not rely on template variables as much as possible, just change static content is recommended

Example usage:

- Custom version of your ho

[2016-03-12 18:51] Unknwon commented on #1286
Alpha support for custom templates has been pushed to `develop` branch, you can put template file with same name/path under your `custom/templates` directory.

Some warnings:

- Make as minimal changes as possible
- No guarantee for compatibility with future changes
- Do not rely on template variables as much as possible, just change static content is recommended

Example usage:

- Custom version

[2016-03-12 19:32] petarov commented on #1891
I had this issue today occurring once on `0.8.43` and then on `0.9.0.0306`. It happened upon creating a new repo or sending test mail from **Configuration**. Restarting gogs or nginx didn't fix the issue, but a log out and log in again did. Maybe it's user session related.

[2016-03-12 23:05] Unknwon commented on #1314
So... how would the URL be look like?

`https://try.gogs.io/pages/hi.html`?

[2016-03-13 00:30] dakira commented on #1891
I can still reproduce this in 0.9.1.0306.

[2016-03-13 00:31] Unknwon commented on #1891
@dakira 100% after refresh the page?

[2016-03-13 00:34] dakira commented on #1891
@Unknwon No. Force-refreshing now allows me to proceed (before I had to log out and back in to get rid off the error).

[2016-03-13 00:35] Unknwon commented on #1891
Damn this bug... :sob:

[2016-03-13 01:03] ChangePlaces commented on #1891
Could it be caused by the way nginx handles cookies / sessions differently than to apache?

[2016-03-13 01:21] Unknwon commented on #1891
Had discussion with @dakira on gitter, found one possible reason, fixing.

[2016-03-13 01:56] Unknwon commented on #1891
OK guys, let's try 0.9.8!

[2016-03-13 02:33] #2800 closed

[2016-03-13 07:07] morph027 commented on #1314
Sure, why not. Any reverse proxy can take care of other DNS targets...

[2016-03-13 09:19] Vorlif opened #2819 "Fail to initialize ORM after Upgrade"
## System Information
- Gogs version: 0.9.8.0312
- Git version: 2.1.4
- Operating system: Debian 8.3
- Database:
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [x] Not relevant

## Logs
### gogs.log
[code]

## Description
After Upgrade from Version 0.9.1 to 0.9.8 I get the error described.

[2016-03-13 12:20] stonerl commented on #2814
#2792

[2016-03-13 12:22] stonerl commented on #2817
#1929

[2016-03-13 12:45] richmahn commented on #2814
@stonerl: This is a little different. This is regarding the new search field at the top of expore/users and the users page in the admin tools, not when adding a user to a team.

[2016-03-13 13:29] stonerl commented on #2814
@richmahn I know, but I think that this feature should not only be available in certain parts of gogs but in general. Therefore I referenced the issue I opened, because both have the request for full name search in common.

[2016-03-13 15:02] dakira commented on #1891
I just updated. Can't find any cookies anymore being set at all for the domain I have gogs running under.

[2016-03-13 15:50] xxxtonixxx commented on #2098
Ok, so thanks for this feature! :smile:

[2016-03-13 18:06] saboya commented on #2819
Probably related to cb1eadc2768ea5ffb2967eb4262e96730c3f9ba5

[2016-03-13 19:12] Unknwon commented on #1891
@dakira https://github.com/gogits/gogs/blob/master/conf/app.ini#L209

[2016-03-13 19:14] Unknwon commented on #2817
@stonerl thanks, couldn't find it yesterday, here we go.

[2016-03-13 19:14] #2817 closed

[2016-03-13 19:17] Unknwon commented on #2819
Have you updated all deps?

[2016-03-13 19:17] McLive commented on #1441
@Unknwon Ok but not to have to do this for every repository would be nice. :smile:

[2016-03-13 19:18] Unknwon commented on #1441
@McLive Not everybody needs this well.

[2016-03-13 20:43] Vorlif commented on #2819
I have use [Gogs Docs](https://gogs.io/docs/upgrade/upgrade_from_source) to upgrade gogs. How can i update the deps?

[2016-03-13 20:50] Unknwon commented on #2819
If you have used `go get -u github.com/gogits/gogs`, should be updated.

What is your PostgreSQL version?

[2016-03-13 21:01] Unknwon commented on #2302
Any updates?

[2016-03-13 21:08] Vorlif commented on #2819
Version: 9.4.6

[2016-03-13 21:14] Unknwon commented on #2819
@Vorlif Do you mind upgrade to 9.5.0? I have tested with this version without error, no pro on db so not sure if this could be the problem.

[2016-03-13 21:44] Vorlif commented on #2819
I'm sorry but an update is not possible. It's a productiv system for other services.

I am also not a db pro. But I can not find a `_unix` inside my db.

From my currently db backup:
[code]

Maybe a issue with the migrations? But why I'm the only one?

[2016-03-13 21:46] Unknwon commented on #2819
Of course you can't find because it's a migration. which should create this new column for you.

cc @lunny can you help look into XORM migration problem?

[2016-03-13 21:51] Vorlif commented on #2819
Okay. I understand.

[2016-03-13 22:00] Unknwon commented on #2819
I downloaded 9.4.6 and tested without error... there is some information missing...

[2016-03-13 22:01] naggie commented on #813
Very glad to see this has been added to a milestone. Great, thanks!

[2016-03-13 22:12] syscrusher commented on #2819
I can reproduce on Postgres 9.5, using the same Gogs/Git/Debian versions as @Vorlif.
Occurs after upgrading from source. Source was fetched with `go get -u`.

[2016-03-13 22:46] syscrusher commented on #2819
The error is returned from [migrations.go#L668](https://github.com/gogits/gogs/blob/master/models/migrations/migrations.go#L668). I don't know much about xorm or gogs architecture, but am familiar with go and psotgres so I will keep looking around.

[2016-03-13 22:47] Unknwon commented on #2819
The real failure is here: https://github.com/gogits/gogs/blob/master/models/migrations/migrations.go#L618

This call should have created the new column.

[2016-03-14 00:28] shionphan opened #2820 "config ssl main domain and subdomain bug"
- Gogs version (or commit ref): 0.9.1.0306
- Git version: 1.9.1
- Operating system: Ubuntu 14.4
- Database:
  - [ ] PostgreSQL
  - [+] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [+] No
  - [ ] Not relevant
- Log gist:

## Description

Setup Nginx reverse proxy for gogs, I configed ssl on the nginx server, everything is ok.

This is app.ini:

[code]

Th

[2016-03-14 00:58] hosiet opened #2821 "Subtle register captcha url problem"
- Gogs version (or commit ref): packages.io latest (201603)
- Git version: debian unstable latest
- Operating system: Debian unstable
- Database:
  - [ ] PostgreSQL
  - [ X ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [ X ] Not relevant
- Log gist:

## Description
I have noticed that gogs was smart enough to rewrite all its URL by adding URL

[2016-03-14 01:06] Unknwon commented on #2820
Gogs can work with or without a domain, and I don't think it has anything to do with SSL...

Basically I don't know what are you talking...

Close by

[2016-03-14 01:06] #2820 closed

[2016-03-14 01:09] Unknwon commented on #2821
Hi,

Captcha does have reverse sub-path support. I think it's your config problem for `ROOT_URL`.

Close by

[2016-03-14 01:09] #2821 closed

[2016-03-14 02:03] hosiet commented on #2821
I'm sure that `ROOT_URL` is correctly set (e.g., `https://example.com/git/`). Anyway, we could just leave this issue here and see if there could be more similar cases in the future.

[2016-03-14 02:26] Unknwon commented on #2819
Can you guys update `go get -u .` again and try? XORM just pushed a fix.

[2016-03-14 02:31] syscrusher commented on #2819
Fixed here. Much appreciated, keep up the hard work.

[2016-03-14 03:42] Unknwon commented on #809
Update: https://github.com/gogits/go-gogs-client/wiki/Issues

[2016-03-14 03:42] Unknwon commented on #1692
Basic CRUD for issues: https://github.com/gogits/go-gogs-client/wiki/Issues

[2016-03-14 06:34] Unknwon commented on #2302
Close as fixed.

[2016-03-14 06:34] #2302 closed

[2016-03-14 06:36] Unknwon commented on #2402
Close due to lack of feedback.

[2016-03-14 06:36] #2402 closed

[2016-03-14 06:37] Unknwon commented on #2623
Close as fixed.

[2016-03-14 06:37] #2623 closed

[2016-03-14 06:38] Unknwon commented on #2727
Close as fixed.

[2016-03-14 06:38] #2727 closed

[2016-03-14 06:38] Unknwon commented on #2794
Close as merged.

[2016-03-14 06:38] #2794 closed

[2016-03-14 06:38] Unknwon commented on #2801
Close due to lack of feedback.

[2016-03-14 06:38] #2801 closed

[2016-03-14 08:43] dafes opened #2822 "Problems with '#' in branch name"
- Gogs version (or commit ref):  0.9.0.0306
- Operating system: debian
- GIT: 2.14
- Database:
  - MySQL
- Can you reproduce the bug at http://try.gogs.io:
  - [X ] Yes

Hi,
with an '#' in the Tag name a diff and Pull-Requests creation are not possible.
You only receive a Page Not Found 404
Example:
https://try.gogs.io/dafes/test123/compare/test#11...master

[2016-03-14 09:39] wackerm commented on #2678
The login failed, because the remote smtp server did not provide any auth method.  But in the logs there was only the error message "Login source is unknown"...

[2016-03-14 11:26] joubertredrat commented on #1322
+1 sound like good this

[2016-03-14 12:24] Rukenshia commented on #1518
This is still a thing: https://try.gogs.io/Rukenshia/loonix

It is impossible to browse this repository properly. Loading the "Documentation" folder takes over 45 seconds for me. I dont know how gogs handles viewing the tree, but maybe an idea would be some kind of loading the file info delayed (last commit on that file/directory). I think GitLab does this too.

@Unknwon can you tell me whether go

[2016-03-14 14:08] hasufell commented on #1518
Yeah, I too think that caching is not the only answer. The answer is to just show a loading icon for the git commit info, have the information being gathered in the background and just show it when it's available, while still allowing other operations that don't need that information.

[2016-03-14 15:19] Vorlif commented on #2819
Here also fixed. Thanks for the hard work and quick response.
Issue can be closed from my side.

[2016-03-14 15:33] cameron314 commented on #1518
Gogs finds only the information necessary for the immediate files in the folder being displayed, not the whole tree. But internally, git itself goes through its entire history looking for each child file/folder to get the most recent commit. Git's data structures are really not made for that kind of query.

[2016-03-14 15:36] hasufell commented on #1518
I don't think you need commit hash, commit message and modification date to just browse the repository, do you? So these information can be loaded while the tree itself is already shown.

[2016-03-14 15:44] cameron314 commented on #1518
Sorry, I wasn't clear. I meant as opposed to loading the information for the whole tree, as Rukenshia was wondering.

I agree that if the information cannot be obtained instantly, preventing the UI from blocking by fetching it in the background is a good idea.

[2016-03-14 19:00] rschmukler opened #2825 "Always respond with go-import metadata when go-get=1"
## Description

When requesting a private repo with authorization credentials (eg. `Authorization: Basic ...`) it would be nice if gogs would respond with the relevant meta tags instead of redirecting via 302.

Alternatively, gogs could serve the meta tags regardless of whether the repo actually exists thereby mitigating the security concerns discussed in #816

[2016-03-14 19:07] bradrydzewski commented on #2825
I agree that if the same behavior is present for all repositories, even when the repository does not even exist, there would technically be no data leak. My proposal is if `?go-get=1` then always serve a page with `go-import` meta tags and return a 200 status code, even if the user is unauthenticated, and even if the repository does not exist

[2016-03-14 19:31] odinuge commented on #1327
I think this was sorted out in [blackfriday](https://github.com/russross/blackfriday) some time ago. See commit  [#_1337886_](https://github.com/russross/blackfriday/commit/133788657b0ddebf0e884571fc99a5528e55a10f) and [_#15eb452_](https://github.com/russross/blackfriday/commit/15eb452ae4d56122e8f4ddb29f9787345fceff34)

Anyway, it works on [try.gogs.io](https://try.gogs.io/odinuge/markdown-testing

[2016-03-14 20:26] Unknwon commented on #2678
But your database filed value was wrong, right?

[2016-03-14 20:33] neolit123 commented on #1327
@remexre, the exact code block you have posted in the issue description indeed does not produce the "code" tag with class="language-java" at try.gogs.io.

but if i move the trailing [backquote][backquote][backquote] to be at the start of a line (i.e. at the 1st column) it produces the correct result.

it seems that the blackfridayparser is slightly less flexible compared to the github parser which

[2016-03-14 20:33] Unknwon commented on #2819
Thanks for the confirmation!

[2016-03-14 20:33] #2819 closed

[2016-03-14 20:41] Unknwon commented on #1518
I might use https://github.com/src-d/go-git to test see if we can get performance gain.

[2016-03-14 20:44] Unknwon commented on #2811
This is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2823, please help test under `develop` branch.

[2016-03-14 20:49] Unknwon commented on #2670
This is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2824, you can test on https://try.gogs.io/

[2016-03-14 20:51] Unknwon commented on #1327
Thanks your info! @odinuge  @neolit123

[2016-03-14 20:53] Unknwon commented on #2825
@rschmukler  Somehow, I think basic auth already works: https://github.com/gogits/gogs/blob/master/modules/auth/auth.go#L122

@bradrydzewski any use cases?

[2016-03-14 21:02] cameron314 commented on #1518
I tried at one point to implement the same functionality using the git C API directly (from C code), taking in the whole list of files as input instead of a single one at a time. No matter what I tried, it was still slower than invoking the git process one file at a time, which of course is already too slow.

Fundamentally, whatever client is used, git's data structures don't allow this sort of qu

[2016-03-14 21:06] Unknwon commented on #1518
@cameron314 One git process execution is under 100ms on my dev machine, and I can speed up with unlimited processes running at the same time, but this cause many problems on machines with small memory, so right now it is hard limited to 10 at maximum.

Therefore, I think cache layer is the ultimate solution, and cache ahead browsing, is another way to improve view experience.

[2016-03-14 21:15] bradrydzewski commented on #2825
We give the ability (with Drone) to authenticate with a netrc file. This enables cloning multiple private repositories over git+https without prompting the end user for a username / password. This works well because git uses curl under the covers which respects the authentication profiles defined by netrc files.

While there are multiple approaches to git authentication, the use of a netrc is pret

[2016-03-14 21:37] Unknwon commented on #2825
@bradrydzewski thanks for the detail!

I think this is not supported, only standard format `Authorization: Basic xxx`.

OK make sense, let's wait for @rschmukler 's response.

[2016-03-14 21:41] gdf65gdgfhgjhku opened #2826 "LibreJS"
Please add a license to your javascript files, such that they can comply with LibreJS

http://www.gnu.org/software/librejs/free-your-javascript.html
https://www.gnu.org/software/librejs/manual/html_node/Setting-Your-JavaScript-Free.html

[2016-03-14 21:48] rschmukler commented on #2825
Ah, I actually had only also tested it with Drone's injected `netrc` file (which uses `x-oauth-basic`). I have the same use-case as @bradrydzewski mentioned (as I actually ran into this while trying to get drone + gogs working with private gogs repos).

Another reason that this would be nice is that some of the tooling around vendoring also expect `go get` to work so relying on `git clone <repo>.g

[2016-03-14 21:51] Unknwon commented on #2825
OK, maybe you want to change issue title to `Always response go-import metadata when go-get=1`?

[2016-03-14 21:52] Unknwon commented on #2826
Hi, I think the license claim in README has explained everything?

https://github.com/gogits/gogs#license

[2016-03-14 21:58] rschmukler commented on #2825
@Unknwon done :+1:

[2016-03-14 22:13] lammas opened #2827 "Error when user is in multiple teams in the organization"
- Gogs version (or commit ref): 0.9.0
- Git version: 2.1.4
- Operating system: Debian jessie
- Database: PostgreSQL
- Can you reproduce the bug at http://try.gogs.io: No
- Log gist:

    [...routers/user/home.go:336 showOrgProfile()] [E] GetUserRepositories: get repositories: pq: invalid input syntax for integer: "1,3"

## Description
When user is in multiple teams the organization dashboard gives

[2016-03-14 22:38] FSMaxB commented on #2826
This is about the JavaScript that get's delivered to the browser of Gogs users. They usually don't get to see the readme.

Also it's good practice to put the license conditions in every file in order to make it indesputable that the license applies to it.

[2016-03-14 23:18] Unknwon commented on #2826
Anyone minds send a PR?

[2016-03-14 23:19] Unknwon commented on #2827
Duplicated to https://github.com/gogits/gogs/issues/2727

[2016-03-14 23:19] #2827 closed

[2016-03-14 23:27] Unknwon commented on #1772
Note: http://yuku-t.com/jquery-textcomplete/

[2016-03-15 00:29] georgesuba commented on #1071
1+ for code editor. Gogs could be such a powerful tool but without editor and adding files over web interface, I dont know. Please add code editor. Massive thanks.

[2016-03-15 00:52] georgesuba opened #2828 "https://dl.gogs.io/ downloads not updated"
Current binary packages on https://dl.gogs.io/ are 0.9.0

- can you give out update please? Thanks.

[2016-03-15 01:03] Unknwon commented on #2828
We only provide binaries for releases currently. No releases since 0.9.0 yet.

[2016-03-15 01:03] #2828 closed

[2016-03-15 06:14] moltam commented on #2670
If a repo description is empty, you get something like this:
`<meta name="description" content="yii2 - " />` (reponame - )

I don't know how important to fix this.

Apart from this looks good to me!

[2016-03-15 06:25] richmahn commented on #2713
@Unknwon Would this also be applicable to forking a repo? Or is that different in its mechanics? We would like a Wiki to come along with a forked repo. It actually does in GitHub, yet you have to create a page for the upstream wiki to show up...not sure why.

[2016-03-15 06:26] Unknwon commented on #2713
@richmahn technically, yes it is possible with fork as well.

[2016-03-15 11:09] dakira commented on #1891
Well, strange. Chrome doesn't show me any cookies for the domain but everything looks to be working. I can't reproduce the error anymore.

[2016-03-15 14:51] odinuge commented on #2641
Need any help on this?

Have been looking into implementing the ability to append '.patch' and '.diff' to the url. Would be great for quickly getting a  .patch file, or getting the _whole_ diff.

[2016-03-15 15:01] maxchill opened #2833 "Customizable Landing Page"
I think it would be a great feature to allow choosing a git repository that hosts a markdown landing page.  Home/index.md for example.

You can then configure this landing repo/page in settings and customize it, to provide documentation to new users, and point users to the most noteworthy git repo's, etc.  This homepage repository, could also eventually allow gogs be able to act by default as a de

[2016-03-15 15:06] cmtec commented on #2833
+1

[2016-03-15 15:19] zacheryph commented on #2826
I personally take issue with issues like this.  It should at the very least be tagged as low-priority.  I see zero benefits or drawbacks for [not] implementing this listed at all.

* User account is random
* User has existed for one single day
* Users _only_ activity on github is the creation of this issue

[2016-03-15 15:20] cmtec commented on #13
Search in admin panel only displays public repos. Is this intended?

[2016-03-15 15:28] FSMaxB commented on #2826
That's quite strange indeed.

I still think that it might be a good idea to put a license disclaimer in the JavaScript. As far as I can see right now it's only one file: `public/js/gogs.js`. It should contain the same header as all the go files or better: Just put the entire license in the header.

[2016-03-15 15:56] zacheryph commented on #2826
From what I gather, this has nothing to do with putting the license info at the top of the file.  It appears to involve editing the DOM to say what license the JS is.  Either way, pull requests welcome.  This is definitely not something I find worth spending time on, even if it only takes 2 minutes.

[2016-03-15 16:49] ChangePlaces commented on #13
Oh, actually, it may be worth pointing out that SQLite has problems with fulltext support. If I remember correctly, it needs a separate table for full text indexed columns.

[2016-03-15 17:20] geromueller opened #2834 "Add mattermost integration"
http://www.mattermost.org/ is a perfect match to gogs, as it is also in Go and uses same databases ~~and is MIT licencend~~.

Mattermost should be Slack compatible, but currently it does not work.

The response is 500 "Channel not found.".

[2016-03-15 17:46] Unknwon commented on #1891
@dakira yes, you need to find cookie in the icon near URL, not in response header.

[2016-03-15 17:51] FSMaxB commented on #2826
Well, let's wait if @gdf65gdgfhgjhku has to say anything, it's not like this is important to me.

[2016-03-15 18:23] Unknwon commented on #13
@cmtec good point! Just pushed a fix to `develop`.

@ChangePlaces any pointers?

[2016-03-15 18:38] Unknwon commented on #2822
This is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2830, you can test on the demo site.

[2016-03-15 18:42] Unknwon commented on #2641
@odinuge yes, please go ahead :smiley:

[2016-03-15 18:43] Unknwon commented on #2833
Duplicated to https://github.com/gogits/gogs/issues/2098?

[2016-03-15 19:51] richmahn commented on #2833
I was actually thinking of this feature, and mentioned it to you Unknwon. Already for someone to else in my organization to change something on the home page, they have to send me the info, I then after to make the changes, sometimes a day later. If there was some way for admin to edit a repo of content for the home page and maybe help page, that would be great....and to do it in a Markdown editor

[2016-03-15 19:51] richmahn commented on #2833
So I would say this is not a duplicate, @Unknwon

[2016-03-15 19:53] richmahn commented on #2833
Default private repo owned by user 1 where the Wiki pages can each have a tab at the top, ,and the "Home" wiki page is the landing page? I know, maybe too complicated, but is what I even thought of seeing if I could make happen before seeing this issue.

[2016-03-15 19:55] richmahn commented on #2713
@Unknwon Is it technically possible for someone with only access to the front end to fork the wiki with the repo? I can copy the wiki.git file to the other repo manually on the file systme, but not in the UI.

[2016-03-15 19:57] Unknwon commented on #2713
Out of scope of this thread. You can discuss this on the forum.

[2016-03-15 20:16] richmahn opened #2837 "When forking a repository with a wiki, also copy the wiki and have it enabled"
Would like for when a user forks a repository that has a Wiki that the Wiki repo also gets forked to the new repo. Currently the Wiki is empty after forking a with-wiki repo.

I noticed how Github does this, in a weird way, is that the Wiki of the forked repo will look empty, but once you make a Wiki page, the rest of the pages appear from upstream. I don't like how that works, for how do you a) k

[2016-03-15 21:44] Unknwon commented on #2545
This is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2836, you can test on demo site: https://try.gogs.io/exmex/issue-2545-test/src/master/File%20Definitions/FPM/fpm%20Definition.md

[2016-03-15 21:55] Unknwon commented on #2670
@moltam should be fixed by https://github.com/gogits/gogs/pull/2829

[2016-03-15 23:41] Unknwon commented on #2814
This is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2831, you can test on demo site.

[2016-03-15 23:41] Unknwon commented on #2792
This is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2831, you can test on demo site.

[2016-03-16 02:15] aroma890225 commented on #2275
1. Create a release from one branch.
2. Delete this release.
3. Create a new release from other branch using the same Tag.

[2016-03-16 03:08] wenerme opened #2838 "Gogs page load very slow."
## Problem
[code]

## Config
[code]

Download from main site.

## System status

[code]

[code]

## Request log

[code]

![image](https://cloud.githubusercontent.com/assets/1777211/13800757/21e77628-eb67-11e5-8e4a-a496a655616b.png)

[2016-03-16 03:09] Unknwon commented on #2838
Duplicated to https://github.com/gogits/gogs/issues/1518?

[2016-03-16 03:15] wenerme commented on #2838
Not sure is this the same as #1518

This is a very small repo

![image](https://cloud.githubusercontent.com/assets/1777211/13800914/5ebaf218-eb68-11e5-8434-763fd26f23eb.png)

But still

[code]

[2016-03-16 03:17] Unknwon commented on #2838
How long for you to execute `git log -1` on any repo in the same machine?

[2016-03-16 03:22] wenerme commented on #2838
Same machine, under the gogs's repo dir

[code]

[2016-03-16 03:28] Unknwon commented on #2838
How about other pages?

[2016-03-16 03:30] wenerme commented on #2838
Other page is normal, the sub dir of repo is also slow,but better than the repo home page.

[2016-03-16 03:33] Unknwon commented on #2838
Can you change `RUN_MODE` to `dev` and `[log] LEVEL = Trace` then dump log here again?

[2016-03-16 04:11] sunzhiguang opened #2839 "exec: "git": executable file not found in $PATH"
whereis git
git: /usr/local/git

输入git
git version 2.7.0

path
/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/go/bin:/usr/local/nginx/sbin:/usr/local/mongodb/bin:/usr/local/git/bin:/root/bin:/usr/local/go/bin:/usr/local/nginx/sbin:/usr/local/git/bin:/usr/local/mongodb/bin:/usr/local/go/bin:/usr/local/nginx/sbin:/usr/local/git/bin:/usr/local/mongodb/bin:/usr/local/go/bin:/u

[2016-03-16 04:16] wenerme commented on #2838
[code]

[2016-03-16 04:19] Unknwon commented on #2838
Thanks, can you try some of the commands in the log, see if they are slow?

[2016-03-16 04:21] Unknwon commented on #2839
Hi, if you start with script, you need to add `git` path to your `PATH` as well.

Close by

[2016-03-16 04:21] #2839 closed

[2016-03-16 04:29] sunzhiguang commented on #2839
start with  sudo ./gogs web  then....

[2016-03-16 04:31] Unknwon commented on #2839
`sudo` does not guarantee have `git` in `PATH`.

[2016-03-16 04:35] sunzhiguang commented on #2839
but  login with user git
echo path
show /usr/local/go/bin:/usr/local/nginx/sbin:/usr/local/git/bin/:/usr/local/mongodb/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin

[2016-03-16 04:36] Unknwon commented on #2839
1. I don't understand why you use `sudo`.
2. `sudo` does not guarantee have `git` in `PATH`.

[2016-03-16 04:36] allonsy commented on #2275
Hmm, unable to reproduce still. Are you using the most recent develop code? Are you able to provide some screenshots?

[2016-03-16 04:38] sunzhiguang commented on #2839
start ./gogs web
install
Connect to database: Fail to create directories: mkdir data: permission denied

[2016-03-16 04:38] Unknwon commented on #2839
Give the permission to `git` user then.

[2016-03-16 04:39] Unknwon commented on #2839
http://stackoverflow.com/questions/12996397/command-not-found-when-using-sudo

[2016-03-16 04:39] ChangePlaces commented on #13
@Unknwon A really simple breakdown of it - http://blog.xojo.com/2014/03/14/full_text_search_with_sqlite/

There's also details about FTS5 - full-text-search module 5, SQLite's module for full-text searches. I'm not sure if it's compiled in by default, but I seem to remember it is.

https://www.sqlite.org/fts5.html

I remember having to completely restructure my SQLite tables to take account of ful

[2016-03-16 04:40] wenerme commented on #2838
I extract all commands in `cmds`
[code]

[2016-03-16 04:41] Unknwon commented on #13
@ChangePlaces thanks! Does search not work in SQLite3 right now?

[2016-03-16 04:45] Unknwon commented on #2838
What is your definition of `normal`?

[2016-03-16 04:53] wenerme commented on #2838
Pages like this that not include repos
[code]
About 200m avg.

Notice this is also slow
[code]

Even a un init repo will took 1s.
![image](https://cloud.githubusercontent.com/assets/1777211/13802320/9830c402-eb75-11e5-86cb-3ea79ecd43d4.png)

[2016-03-16 04:56] Unknwon commented on #2838
How did you install Gogs?

[2016-03-16 04:57] wenerme commented on #2838
[code]

[2016-03-16 04:58] Unknwon commented on #2838
Can you try MySQL as backend?

[2016-03-16 05:11] sunzhiguang commented on #2839
thanks

[2016-03-16 05:22] wenerme commented on #2838
I don't have MySQL now,this is company internal server.

[2016-03-16 06:48] biji commented on #2641
when implemented, maybe adding explicit link to .patch and .diff would be great. so this is not a hidden feature :smile:

[2016-03-16 07:04] biji commented on #1891
@Unknwon I want to try version 0.9.8, but can not find in releases
thanks

[2016-03-16 07:33] renewsorensen commented on #776
+1

[2016-03-16 08:27] ChangePlaces commented on #13
@Unknwon do you mean if searching works in gogs with sqlite? i'm not sure, I don't use SQLite with it, but just wanted to point it out!

[2016-03-16 08:39] dakira commented on #1891
@biji It's a development version that you manually have to compile. This will probably soon released as a regular package when @Unknwon is convinced this is fixed. I tested this for three days now and couldn't find any problems.

[2016-03-16 08:51] novaeye commented on #2769
@githublaohu

pam-1.1.1-20.el6_7.1.x86_64
[root@iZ11rl3hsntZ ~]# cd /data/olds/
du-tomcat/ gogs/ gogs_v0.8.43_linux_386.tar.gz tomcat/

看上去是在64位linux上运行32位版本的gogs?

[2016-03-16 09:36] ibotty opened #2840 "build problem with 0.9.0"
- Gogs version (or commit ref):
   git tag 0.9.0
- Operating system:
  Alpine v3.3
- Database:
  Not relevant
- Can you reproduce the bug at http://try.gogs.io:
  Not relevant
- Log gist:

[code]

## Description
I cannot build gogs 0.9.0 using go 1.5.3 on docker hub.

See the full log on https://hub.docker.com/r/ibotty/gogs/builds/bbzvwlxkycnzgq9mhtvdboq/

The docker file is on https://github.com/

[2016-03-16 10:11] ibotty commented on #2840
I can reproduce the bug using go 1.5.3 in fedora 23.

[2016-03-16 12:52] stonerl commented on #2792
Looks good.

[2016-03-16 13:04] stonerl opened #2841 "Display full name"
For bug reports, please give the relevant info:

- Gogs version (or commit ref):
- Git version: 0.9.0
- Operating system: Ubuntu 14.04
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [x] Yes
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

This is somewhat similar to this issue #2792. When one hovers over an username, e

[2016-03-16 15:55] sluedecke opened #2842 "raw link 'broken' when filename contains spaces"
- Gogs version (or commit ref): 0.9.0.0306
- Git version: any
- Operating system: Server -> Archlinux, Debian // Client -> Archlinux, Windows
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [X] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [X] Yes  -> https://try.gogs.io/scnet/linkTest
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

When adding a binary file with a na

[2016-03-16 16:33] richmahn commented on #2814
This is not working for me...I just updated from develop, did a rebuild...restarted server...still nothing: http://test.door43.org:3000/explore/users?q=Admini (yet if you remove the last 'i' it finds admin)

[2016-03-16 16:37] richmahn commented on #2814
hmm, but it does work on try.gogs.io. Maybe doesn't work with Postgres? Will troubleshoot.

[2016-03-16 16:49] moltam commented on #2814
I think it is PostgreSQL specific, the search is case sensitive: `SELECT count(*) FROM user WHERE ((lower_name like ?) OR (full_name like ?)) AND (type = ?)`.

Because the keyword is [transformed into lower case](https://github.com/odinuge/gogs/blob/6ccb2d36cfbe030cb1a72263d6889e79d738df3f/models/user.go#L1131) the search only finds lower case names with PostreSQL.

[2016-03-16 17:06] j4 commented on #936
+1

[2016-03-16 17:31] drsect0r opened #2843 "Incorrect diff after rebase"
- Gogs version (or commit ref): 0.9.0.0306
- Git version: 2.1.4
- Operating system: Debian Jessie 8.3
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [x] Not relevant
- Log gist:
## Description

After rebasing (private server) I noticed  that the diff is showing incorrect information. In my rebase work I chan

[2016-03-16 19:12] odinuge commented on #2814
That could be the case... I dont have PostgreSQL accessible right now, so i can't test.

Here is a patch you can try: [search-sql-case](https://github.com/odinuge/gogs/tree/search-sql-case)

[2016-03-16 19:35] Unknwon commented on #2838
OK.... then try install from source code with SQLite3: https://gogs.io/docs/installation/install_from_source

[2016-03-16 19:47] Unknwon commented on #2814
Looks like a workaround: http://stackoverflow.com/questions/7005302/postgresql-how-to-make-not-case-sensitive-queries

[2016-03-16 20:04] Unknwon commented on #2840
Hi, please update all deps with `go get -u .`.

[2016-03-16 20:04] #2840 closed

[2016-03-16 20:05] Unknwon commented on #2842
Hi, I can't reproduce on Chrome.

[2016-03-16 20:06] Unknwon commented on #2843
Hi, I think you can reproduce an example on http://try.gogs.io?

[2016-03-16 20:29] moltam commented on #2814
It works with `LOWER(full_name) like ?`.

[2016-03-16 20:36] tuudik opened #2844 "LDAP - Confirm if user belongs to group, without memberOf overlay"
Please help me understand what filter to use to check if logged in user belongs to certain group (in my case group with gid number 10007),
without using memberOf overlay. Is it even possible? If yes, then how?

Currently I have tried it with using filter:
[code]

Here's a flow how application is currently logging in user through LDAP.

Logging user in:
[code]

Check if user belongs to group with g

[2016-03-16 20:39] Unknwon commented on #2814
Not sure... have not tested...

[2016-03-16 20:41] moltam commented on #2814
@Unknwon I tested it, and it does :)

[2016-03-16 20:42] Unknwon commented on #2844
cc @nanoant @SergioBenitez can you guys help, thx!

[2016-03-16 20:46] richmahn commented on #2814
Is it also calling LOWER() on the search term?

[2016-03-16 20:47] tuudik commented on #2844
Actually I would like to note out, perhaps it would be better, if the admin filter would work, by comparing the user to users in group that is defined as Admin group.

[2016-03-16 20:47] moltam commented on #2814
Search term is already in lower case for lower_name search. No need for calling LOWER on it.

[2016-03-16 20:48] richmahn commented on #2814
Right, I realize that is the reason this is failing, because the search term is always lower.

[2016-03-16 20:48] richmahn commented on #2814
Is there a pull request for the fix?

[2016-03-16 20:52] Unknwon commented on #2814
Looks like MySQL,SQLite3 and PostgreSQL all have `LOWER()`, I'm working on it.

[2016-03-16 20:53] moltam commented on #2841
Do you mean this part (hovering on an avatar)?

![41d92ace_o](https://cloud.githubusercontent.com/assets/4578365/13828339/509b3702-ebc1-11e5-9b68-6588f1f3e5ed.png)

@Unknwon I can do this.

[2016-03-16 20:54] stonerl commented on #2841
@moltam Yes.

[2016-03-16 20:55] Unknwon commented on #2814
@richmahn can you pull `develop` again?

[2016-03-16 20:55] sluedecke commented on #2842
I'm using Firefox, maybe it's a problem of this browser.

On March 16, 2016 9:06:20 PM GMT+01:00, "无闻" <notifications@github.com> wrote:

--
Sascha Lüdecke
+49 179 9210765

[2016-03-16 20:57] Unknwon commented on #2842
Thanks, I'll take a look.

[2016-03-16 20:59] SergioBenitez commented on #2844
@tuudik: That's much too specific, constricting, and a potential security vulnerability. The current implementation allows you to do this and more.

By the way, do your LDAP user entries have a `gidNumber` attribute? Have you tried your query using `ldapsearch`? The query (of course, using a different server/binddn/base) works for me. Your base looks a bit odd, by the way: there's no user group.

[2016-03-16 21:09] tuudik commented on #2844
Here's my LDAP structure, perhaps this would help to understand the situation:)
[code]

[2016-03-16 21:11] SergioBenitez commented on #2844
Did you try the commands? That doesn't help very much.

[2016-03-16 21:19] Unknwon commented on #2841
This is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2845, you can test on demo site.

[2016-03-17 04:57] unclegaara opened #2847 "gogs start wihout http in docker"
For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.9.9.0313
- Git version: 2.6.4
- Operating system: docker gogs/gogs
- Database:
    - [ ] MySQL
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Not relevant
- Log gist:

## Description

Hello, i'm added smtp settings at app.ini then rerun container with gogs, but container was started without http server.

[2016-03-17 05:31] richmahn commented on #2814
@Unknwon Done. It works! :+1:

[2016-03-17 05:36] Unknwon commented on #2847
You somehow used outdated version of `templates` directory, try to backup your current data, delete container and fetch again.

Close by

[2016-03-17 05:36] #2847 closed

[2016-03-17 07:18] ibotty commented on #2840
That does not work when building from a release (i.e. w/o .git directory):

    package github.com/gogits/gogs: directory "/tmp/go/src/github.com/gogits/gogs" is not using a known version control system

Furthermore, I don't think that a docker build (that starts pristine) has stale go dependencies somewhere. Maybe I don't quiet understand go's build system.

[2016-03-17 07:26] ibotty commented on #2840
Running (locally) `go get -u ...` resets my v0.9.0 checkout to master and builds fine. When I check v0.9.0 out again and `go get ...` without `-u`, I get the mentioned error. How can one build the v0.9.0 release? Is there some arcane command line switch to `go get` to check out versions that work together?

[2016-03-17 08:20] sluedecke commented on #2842
I tested with other browsers, all are working: MSIE 11, Safari, rekonq and the Android Marshmellow built-in browser.  Only firefox fails on the filename

[2016-03-17 09:14] mikehaertl commented on #2267
I think that's a duplicate of #1743?

[2016-03-17 09:19] mikehaertl commented on #1743
More permissions:

* Manage Labels (create + update)
* Manage Milestones (create + update)
* Assign/remove labels to/from issues
* Assign/remove milestones to/from issues

[2016-03-17 11:08] neolit123 commented on #2842
firefox exhibits semi-broken behavior in my option.
if you copy-paste a URL with spaces from the address bar it is escaped with %20, but if you click a link with spaces it's not escaped. what chrome and other browsers do is that when a link is clicked it becomes escaped. chrome also always escapes a URL once you navigate to it.

it's probably a safe bet to pre-escape **all** generated URLs just in

[2016-03-17 11:42] MrDark commented on #2636
Found the same problem in the latest develop build (0.9.12.0316)

Markdown:
`[![Alt Text](http://image_url)](http://google.com)`
Html:
`<p><a href="http://google.com" rel="nofollow"></a><a href="http://image_url" rel="nofollow"><img src="http://image_url" alt="Alt Text"></a></p>`

For full example:
https://try.gogs.io/Mr_Dark/Markdown-Test/src/master/README.md

[2016-03-17 12:09] stonerl commented on #2792
Closing this one.

[2016-03-17 12:09] #2792 closed

[2016-03-17 13:26] ypnos-web opened #2848 "Outdated .gopmfile CSRF dependency"
In b4f47a762338abe6ce3a6e3d6d0896b8a387228d you introduced dependency to a newer version of CSRF.

The commit for that version is go-macaron/csrf@6a9a7df172cc1fcd81e4585f44b09200b6087cc0
It needs to be updated here: https://github.com/gogits/gogs/blob/9bd9ad420582a7a34d18011847bb789f64271b1f/.gopmfile#L10

Right now the build with get_gopm leads to an unusable binary.

[2016-03-17 13:43] ufy7weyfufhsjd commented on #2826
@zacheryph

too bad for you if you have these kind of problems. This is not a random account, but it certainly is a throwaway account. I've created this account only to open this issue indeed, because I don't use GitHub, I don't care about GitHub, and I don't want to be locked into some proprietary and useless piece of software/service. On top of that, I find it rather problematic that the only wa

[2016-03-17 14:04] stonerl commented on #2841
Looks good, closing this one.

[2016-03-17 14:04] #2841 closed

[2016-03-17 14:37] drsect0r commented on #2843
@Unknwonnot at the moment, will try to reproduce after the weekend.

[2016-03-17 15:08] saboya commented on #2826
Well, developer said pull requests are welcome, and the code is under MIT license, so... Freel free to fork it I guess?

[2016-03-17 15:26] lucacervasio commented on #1597
thanks

[2016-03-17 16:04] maxchill opened #2849 "Issue creation hooks feature"
Would be helpful for integration to have a global issue creation hook.  Information related to project and issue can be passed to hook, to then be used to sync the issue with another system.

[2016-03-17 16:11] toogy commented on #2727
I stumbled upon this issue today after installing gogs and setting things up.

Do you plan on releasing the fix soon? :smiley:

Thanks again @Unknwon

[2016-03-17 16:12] maxchill commented on #662
I'm interested in this as well.  However, I wanted to ask, does Gogs even have a self hosted Groups feature at the moment to build this LDAP group support on top of?  Perhaps that feature should be a seperate task from this?

[2016-03-17 17:10] redoz opened #2850 "Concurrency issue when cloning using built-in SSH server"
- Gogs version (or commit ref):
Reproduced on: 0.8,0.9

- Git version:
git version 2.6.2.windows.1

- Operating system:
Windows Server 2012

- Database:
SQLite

- Can you reproduce the bug at http://try.gogs.io:
Haven't tried, not sure if try.gogs.io uses the built-in SSH server or not.

What happens is that I clone repository X but what actually gets cloned is repository Y. It appears that the re

[2016-03-17 18:09] Unknwon commented on #2840
@ibotty Why not use 0.9.0 official Docker image?

[2016-03-17 18:11] Unknwon commented on #2636
I think I said something very clear...

[2016-03-17 18:16] Unknwon commented on #2727
@toogy early next week I think...

[2016-03-17 18:23] Unknwon commented on #2267
@mikehaertl I think this one is more general?

[2016-03-17 18:24] Unknwon commented on #2849
Duplicated to https://github.com/gogits/gogs/issues/2319

[2016-03-17 18:24] #2849 closed

[2016-03-17 18:29] #2545 closed

[2016-03-17 18:29] #2848 closed

[2016-03-17 18:29] Unknwon commented on #2848
Thanks, should work now!

[2016-03-17 18:46] andryyy commented on #2065
Just ran into it today. You cannot spawn ports <1024 with an unprivileged user. You would need to start it on 2222 etc. and nat' it to 22. :)

[2016-03-17 19:14] rskumar opened #2851 "Wiki link in md files (inside repo) does not work"
- Gogs version (or commit ref):
- Git version: 0.8.43.0223
- Operating system: Ubuntu Linux
- Database: PostgreSQL
- Can you reproduce the bug at http://try.gogs.io: Yes

In any MD pages stored in repo, link to wiki page not working.
Example, lets say I have a **repo** with path -

`repo.domain.com/username/repo_a.git`

The project **wiki repo** would be

`repo.domain.com/username/repo_a.wiki.git`

[2016-03-17 19:16] rskumar commented on #2851
last two links are -
`[`Home`|`Wiki`](`Home`)`
`[`Home`|`Wiki`]``(`wiki`/`Home`)`

[2016-03-17 19:30] zacheryph commented on #2826
I enjoy using free software.  Gogs is free.  I use it.  Every day.  I don't see how this request makes it _more_ free?

But again, feel free to use a throw away account to make a pull request.

[2016-03-17 20:00] rreuvekamp commented on #2826
@zacheryph It doesn't really make it more free indeed. It only makes it clearer that is it free. I agree with the issue starter, I too would like to see this. You could indeed say that it is already clear enough that Gogs is free software. But this change as proposed in this issue would help people using addons like GNU's LibreJS: to make the addon also detect Gogs is free software. It is not the

[2016-03-17 20:50] ibotty commented on #2840
Reasons ;). In short, it does too much and runs as root. My image can be run either as ssh container or gogs container. Both run as non-root and run only one process. They have to use the same uid and access the same file system/volume though. Kubernetes' Pod abstraction allows that. (I plan to wrap the actual uid with nss_wrapper, so it can be specified by the cluster orchestration)

The most imp

[2016-03-17 21:01] Unknwon commented on #2840
You could try fetch dependencies though gopm, other ways... I don't know...

[2016-03-17 21:06] ibotty commented on #2840
Ah, I see. So there is no way for standard go to specify dependency version ranges? That's unexpected. I'll have to rethink my approach on how I docker-package go applications... Thank you for your input.

[2016-03-17 21:09] Unknwon commented on #2840
No way, indeed...

[2016-03-18 07:31] mikehaertl commented on #2267
@Unknwon Hmm, but aren't both about a permission system? Even if it's more general, both solve the same problem, no?

[2016-03-18 08:03] Unknwon commented on #2267
@mikehaertl no, I think #1743 only takes about repo-related.

[2016-03-18 08:14] mikehaertl commented on #2267
@Unknwon
Hmm, the first line of this issue here:

Even if they don't : You will probably not implement 2 independent permission systems, right? :) So I think, there will be only one permission system in the end with granular actions for each role. I'd say, we should discuss this in a single Issue.

[2016-03-18 08:19] tcpluess opened #2853 "Cannot run as service"
When I try to run Gogs as service with the script provided, I get the error:

"[...s/setting/setting.go:419 NewContext()] [E] Expect user(root) but current user is:"

I am using Centos 6.7. Unfortunately it seems impossible to autostart the Gogs service with this script.

[2016-03-18 08:22] Unknwon commented on #2267
Hmm, you're right, closing.

[2016-03-18 08:22] #2267 closed

[2016-03-18 08:23] Unknwon commented on #2853
Hi, you did not set `USER` env var in your script.

Close by

[2016-03-18 08:23] #2853 closed

[2016-03-18 08:56] Refactoring commented on #2309
@Unknwon
今天在Win2008上部署v0.9.0，PUSH后提示#2309类似的错误，问题原因应该是内存不足。
我看了下gogs进程，它使用**4倍**于提交文件大小的内存(应该不止4倍.)。
这次造成问题的原因比较明确了，想问问：接受PUSH数据的这块逻辑是否有改进的空间？

**cmd result**
[code]
**http.log**
[code]
![qq 20160318095153](https://cloud.githubusercontent.com/assets/451129/13872993/6212f6f0-ed29-11e5-87e3-0dba9da69e82.png)

[2016-03-18 09:12] Unknwon commented on #2309
暂时没有改进空间。。。先改用 SSH 吧 0.0

[2016-03-18 09:21] Refactoring commented on #2309
好的，谢啦.

[2016-03-18 10:13] Unknwon commented on #2850
Please help test `develop` branch again.

[2016-03-18 10:30] faouzzz opened #2854 "No mail notification when issue is closed/reopened"
Hi and thank you for Gogs !
I don't know if it is a bug or no.

- Gogs version (or commit ref): Gogs Version: 0.9.0.0306
- Git version: git version 2.6.1.windows.1
- Operating system: Windows server 2012
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [x] Yes
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

When i push

[2016-03-18 10:34] Unknwon commented on #2854
Hi, where is example commit on demo site?

[2016-03-18 10:36] faouzzz commented on #2854
https://try.gogs.io/faouzzz/issue_2636/issues/2

[2016-03-18 10:39] Unknwon commented on #2854
What is the `notification` you are talking?

I can see https://try.gogs.io/faouzzz?tab=activity you have a news feed that says you closed issue 2

[2016-03-18 10:39] faouzzz commented on #2854
Mail notification

[2016-03-18 11:32] shomodj opened #2855 "LDAP admin right after first login"
When using LDAP with admin filter gogs will create a "local clone" LDAP user with admin parameter (modules/login.go:296) but if the user is not in the admin group at the time of the first login he/she is created without admin privileges.

But if you add that user later in admin group in LDAP, gogs will check if user is in admin group but it will not sync the data, so user will never be admin even

[2016-03-18 11:36] carbontwelve opened #2856 "Suggestion: display git repository disk size stats"
It would be useful within the admin panel to see a breakdown of the repository size on disk with an overall total.

[2016-03-18 11:46] aclindsa opened #2857 "Support HTTP HEAD requests"
- Gogs version (or commit ref): v0.9.0
- Git version: 0ea0c5ec4f24f0fc5ef3231085c74b33a16f98ec
- Operating system: Arch Linux
- Database: MySQL
- Can you reproduce the bug at http://try.gogs.io: Yes
## Description

Gogs does not support HEAD requests (https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4). While not typically used by common web browsers, it is commonly used by testing and

[2016-03-18 12:06] Unknwon commented on #2856
Duplicated to https://github.com/gogits/gogs/issues/1158

[2016-03-18 12:06] #2856 closed

[2016-03-18 12:07] Unknwon commented on #2857
If you want to do health check, do

[code]

[2016-03-18 12:28] aclindsa commented on #2857
Supporting HEAD HTTP requests is the standard and widely-accepted way to check if you're able to connect to a service without returning all the data from a given URL. It is supported by every other web service I've tried it with (try my `curl --head` command with any other website to see for yourself, github.com for example), and a wide variety of tools therefore expect it to be supported. Since i

[2016-03-18 12:30] Unknwon commented on #2857
It's not about how others do, but why they do that.

Since your purpose is health check and avoid load full content, `/healthcheck` is more than enough.

[2016-03-18 12:49] aclindsa commented on #2857
My point is not that /healthcheck doesn't serve a similar purpose as HEAD requests. It does [1]!

However, web standards exist for a reason. My point is that in order to work well with monitoring tools which frequently assume the service you're monitoring follows common web conventions, it would be helpful for Gogs to support HEAD requests.

[1] Though it is not quite as flexible - HEAD allows you

[2016-03-18 12:53] Unknwon commented on #2857
Gogs does not have any special care to not return the message body.

[2016-03-18 12:57] aclindsa commented on #2857
I don't think I understand. What do you mean when you say "does not have any special care"?

[2016-03-18 13:04] Unknwon commented on #2857
By definition, server should only return header right? But Gogs always return full content.

[2016-03-18 13:36] joeblew99 commented on #1322
@ellis i think its important that gogs uses the LFS implementation so that its agnostic between the LFS support that github and bitbucket offers. This helps because it ensures interoperability and no locking.
Maybe later it can be extended of course as a separate type of LFS, but i feel its important to have a interoperable base initially.

Having said that. Yeah LGTM on this.

[2016-03-18 13:42] aclindsa commented on #2857
Yes, that's correct. In order to support HTTP HEAD, Gogs would have to omit the content for those requests.

[2016-03-18 13:53] Unknwon commented on #2857
That feels not worth for me.

[2016-03-18 18:08] graywolf336 commented on #2834
Since both Mattermost and Rocket.Chat accept Slack's format of webhooks, I would like the option to turn the Slack webhook option into one where we can just input the url where we want the webhook to be posted to. This way we can ideally use it for both Mattermost and Rocket.Chat without much work.

[2016-03-18 18:15] geekgonecrazy commented on #2834
This would be great, looks like its just pulling the team name and id out of the url.  So if we could just accept the URL as is?

@geromueller just a note.  Only the binary they(mattermost) distributes is MIT.  The rest AGPLv3 :frowning: got me at first too.

[2016-03-18 19:51] engelgabriel commented on #2834
It would be awesome to include Rocket.Chat integration too, should we open another issue for the feature request?

[2016-03-18 20:01] graywolf336 commented on #2834
@engelgabriel The way I suggested in my comment above would eliminate the need to have chat specific plugins and instead have a "slack payload format", which both Rocket.Chat and Mattermost are able to use those.

[2016-03-18 20:29] engelgabriel commented on #2834
Yes, understood, but it if is not clearly stated that users can use Rocket.Chat, it may not be used. They can use the same code, but it would be nice if the name Rocket.Chat appears on the list.

[2016-03-18 20:45] smasherprog opened #2858 "gogs V.9.0 windows service fails to run"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): .9.0
- Git version:
- Operating system: Windows 7
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ X ] SQLite
- Can you reproduce the bug a

[2016-03-18 21:20] Eeems commented on #2858
Make sure the user the service is running as has permission on the folders used (logs etc).

Also make sure the binPath is 'C:\path\to\gogs.exe web --config C:\path\to\app.ini' or something similar.

[2016-03-18 21:59] xor-gate commented on #945
@minecrafter any offline progress on integration, or had no time yet?

[2016-03-18 22:02] minecrafter commented on #945
I've run out of time to work on this.

On 03/18/2016 06:00 PM, Jerry Jacobs wrote:

[2016-03-18 22:04] xor-gate commented on #945
Yeah I understand, it would be a shame if your work gets lost and delved in the moving develop branch. @Unknwon are there other people who have some time left to assist in integration ?

[2016-03-18 22:34] Unknwon commented on #2858
Hi, please always check Gogs log, nothing else help debug.

Close by

[2016-03-18 22:34] #2858 closed

[2016-03-19 16:06] rnarian commented on #1339
:+1:

[2016-03-19 17:44] Unknwon commented on #1327
Close as already possible.

[2016-03-19 17:44] #1327 closed

[2016-03-19 17:46] Unknwon commented on #1891
OK, I'm closing this right now.

Just to note, change of `SECRET` in `app.ini` can cause this error as well, but that's the fault of Gogs.

[2016-03-19 17:46] #1891 closed

[2016-03-19 17:47] Unknwon commented on #2632
Close as fixed.

[2016-03-19 17:47] #2632 closed

[2016-03-19 17:49] Unknwon commented on #2850
Close as fixed.

[2016-03-19 17:49] #2850 closed

[2016-03-19 17:51] Unknwon commented on #2844
ping @tuudik

[2016-03-19 17:51] Unknwon commented on #2838
ping @wenerme

[2016-03-19 17:52] Unknwon commented on #2822
Close as fixed.

[2016-03-19 17:52] #2822 closed

[2016-03-19 17:54] Unknwon commented on #2814
Close as implemented.

[2016-03-19 17:54] #2814 closed

[2016-03-19 17:54] Unknwon commented on #2811
Close as fixed.

[2016-03-19 17:54] #2811 closed

[2016-03-19 17:56] Unknwon commented on #2692
Moved discussion to https://discuss.gogs.io/t/iis-7-5-reverse-proxy-clone-fails-401-unauthorized/77

[2016-03-19 17:56] #2692 closed

[2016-03-19 17:56] Unknwon commented on #2671
Any updates on this?

[2016-03-19 17:56] Unknwon commented on #2670
Close as implemented.

[2016-03-19 17:56] #2670 closed

[2016-03-19 22:03] saboya commented on #2834
Well, it already works. Just select Slack and set the payload URL to yout Mattermost webhook URL. I tested this today and it worked fine. Customizing icon URL did not work, but I'm unsure if this is a Gogs problem. More investigation is needed.

[2016-03-19 22:31] rnarian opened #2859 "Feature request: Tags order"
I think it would make more sense to reverse the order of the tags so that newer versions are always on top.

**Gogs:**
![image](https://cloud.githubusercontent.com/assets/1174951/13901637/9b974d5c-ee2a-11e5-9335-fbc0856128a6.png)

**Github** (for example):
![image](https://cloud.githubusercontent.com/assets/1174951/13901629/85b51654-ee2a-11e5-9836-63a50bc6a342.png)

[2016-03-19 23:10] Jonny007-MKD commented on #2857
Implementing this common web standard is one line of code:

https://go-macaron.com/docs/middlewares/routing

    m := New()
    m.SetAutoHead(true)
    m.Get("/", func() string {
        return "GET"
    }) // HEAD method for path "/" is now registered as well.

It is true that there is no advantage for gogs to support the HEAD method (the amount of computation stays the same, the template still h

[2016-03-19 23:13] Unknwon commented on #2857
Someone sent a PR before but I rejected.

I of course know that's just one line of change because I wrote Macaron.

[2016-03-19 23:15] Jonny007-MKD commented on #2857
Oh, I didn't know you're the author of Macaron :)

Then why don't you want to implement the HEAD method? It is audio used by caching servers to check the validity of their stored information.

[2016-03-19 23:20] Unknwon commented on #2857
What is worth having two identical methods return the same thing?

[2016-03-19 23:24] Jonny007-MKD commented on #2857
The PR was #2676 (for reference)

Well, GET returns the header and the body and HEAD only returns the body. So HEAD is a lightweight version of GET that is used to reduce the amount of bits bring transferred when someone is only interested in the headers (like caching proxies and monitor daemins)

[2016-03-19 23:40] Jonny007-MKD commented on #997
Does gomail (@alexcesaro) have any ambitions to support the sendmail binary? Or is it only targeted for SMTP connections?

[2016-03-19 23:45] Jonny007-MKD commented on #2857
After some thinking about the rejected PR:

I've got no overview about the responses which gogs gives in the various situations (404 if no access to private repositories and so on). As the HEAD method is processed completely identical to the GET method, no information is leaked nor any security issue is introduced, are they?

[2016-03-19 23:46] Unknwon commented on #2857
I know the definitions, but Gogs always returns everything, wich make HEAD useless.

[2016-03-19 23:50] Jonny007-MKD commented on #2857
gogs returns everything to Macaron, is this correct? This is necessary to calculate the correct size value in the header, so I see no problem.
But Macaron must not send everything to the client, which makes HEAD useful.

[2016-03-19 23:54] Unknwon commented on #2857
Now we are talking, I suggest file an issue on Macaron for this, and reference that issue on this thread.

[2016-03-20 02:50] graywolf336 commented on #2834
Due to @saboya's comment, I decided to give it another shot and it worked nicely with Rocket.Chat! The channel, username, icon url, and color all worked like one would expect them to on the push event (I haven't tested the Create event). So, maybe just a wording change is all that would be helpful for others.
![screen shot 2016-03-19 at 9 47 08 pm](https://cloud.githubusercontent.com/assets/850391

[2016-03-20 07:28] mbi commented on #2654
@crohr hello, it looks like your cron job is failing to run again, the last build on packager.io is two weeks old :disappointed:

[2016-03-20 11:44] Jonny007-MKD opened #2860 "Log level not working as expected"
- Gogs version: 0.9.13.0318
- Git version: 2.1.4
- Operating system: Debian 8
- Database:
  - [x] MySQL
- Can you reproduce the bug at http://try.gogs.io:
  - [x] Not relevant
- Log gist:

## Description

The log level is not doing what I exepect it to do. I tried setting it to `Trace` and to `Warn` but I experience not difference in the output of gogs on the console (aside from the Log Mode state

[2016-03-20 11:49] Jonny007-MKD opened #2861 "Ability to remove timestamp from log line"
- Gogs version: 0.9.13.0318
- Git version: 2.1.4
- Operating system: Debian 8
- Database:
  - [x] MySQL
- Can you reproduce the bug at http://try.gogs.io:
  - [x] Not relevant

## Description

My gogs instance is started by systemd. gogs' log mode is set to console, so that every message is stored by journald. As the journal stores the timestamp of each printed line, I see two timestamps in my log

[2016-03-20 11:58] Jonny007-MKD opened #2862 "Move DISABLE_ROUTER_LOG to [Log]"
I don't know how well the macaron logger is integrated with the gogs logger, but it feels like the `DISABLE_ROUTER_LOG` options belongs into the `[log]` section, not in the `[server]` section.

[2016-03-20 12:17] peez80 commented on #2671
It's still working reliably at my site. Sorry I forgot to close the issue. Will do it now ;)

[2016-03-20 12:17] #2671 closed

[2016-03-20 14:39] hasufell opened #2863 "Private forks should not be deletable by upstream"
1. someone writes a latex skeleton (macros and stuff) for a thesis and pushes it to a private repository
2. someone forks it
3. both write their thesis, with completely different content
4. the guy who wrote the initial skeleton is finished first and deletes his repository
5. the guy who forked the skeleton now has a problem, unless his local backup is still intact

And this is just one example ho

[2016-03-20 16:14] alexcesaro commented on #997
You can easily use sendmail with Gomail. You just have to implement the [Sender](https://godoc.org/gopkg.in/gomail.v2#Sender) interface.

Just adapt the `mail` function of the link above to match `Sender.Send` signature and you're done.

[2016-03-20 17:53] ronisbr opened #2864 "Add the feature to obtain raw patch of a commit in Gogs"
Hi guys!

In GitHub, if you add `.patch` after the link of a commit, then you get the raw patch that can be used with `patch` tool. This is a very nice feature that I use a lot. Is it possible to add such option to Gogs?

For example, see these links:

https://github.com/gogits/gogs/commit/004fb30ebe403625b2315b284a85124611ba303b.patch
https://github.com/gogits/gogs/commit/004fb30ebe403625b2315b28

[2016-03-20 19:22] Jonny007-MKD commented on #997
Ok, thank you :) as soon as the other gomail PR is merged, I'll create one for this issue.

[2016-03-20 19:30] Unknwon commented on #2671
:sweat_smile:

[2016-03-20 19:46] Unknwon commented on #2834
So.... what is the situation right now?

[2016-03-20 19:53] Unknwon commented on #2860
Duplicated to https://github.com/gogits/gogs/issues/2798

[2016-03-20 19:53] #2860 closed

[2016-03-20 19:57] Unknwon commented on #2862
It would be better to create a `[macaron]` section, thoughts?

[2016-03-20 19:58] Unknwon commented on #2863
The purpose of fork is to send requests back to upstream, if upstream decide not exist anymore, why should forks do?

[2016-03-20 19:59] Unknwon commented on #2864
Duplicated to https://github.com/gogits/gogs/issues/2641

[2016-03-20 19:59] #2864 closed

[2016-03-20 20:02] hasufell commented on #2863
I think that's an assumption that cannot be verified. That's just one way people use that feature.

[2016-03-20 20:22] saboya commented on #2834
@Unknwon Mattermost uses the same API as Slack for incoming webhooks, so it already works.

[2016-03-20 20:43] Jonny007-MKD commented on #2862
What else would belong into this section?

[2016-03-20 20:58] Unknwon commented on #2834
OK, closing now.

[2016-03-20 20:58] #2834 closed

[2016-03-20 20:58] Unknwon commented on #2862
Currently, only this one.

[2016-03-21 07:00] geromueller commented on #2834
Actually it does NOT work, thats what i wrote in my initial post. MM 2.1 requires the Channel field to be empty, but gogs requires this field. You receive the message "Channel not found!"

[2016-03-21 08:46] Jonny007-MKD commented on #2862
If you think that there are more settings to come I'm positive :+1:

[2016-03-21 09:01] johnnylee opened #2865 "No issues showing up on Issues tab"
- Gogs version (or commit ref): 0.9.13.0318
- Git version: 2.1.4
- Operating system: Debian Jessie
- Database:
  - [X] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [X] No
  - [ ] Not relevant
- Log gist:

## Description

I don't see any issues in the `Issues` tab, even though I have an assigned issue, and an issue in one of my repositor

[2016-03-21 11:06] TilmannBach commented on #1820
do we have a chance for this view in v0.10.0?

[2016-03-21 11:07] TilmannBach commented on #2865
I think its another duplicate to #1820 ?

[2016-03-21 11:54] johnnylee commented on #2865
It looks like it.

[2016-03-21 11:55] johnnylee commented on #1820
I'm including this log line from a duplicate issue:

[code]

It looks like the problem is `issue.repo_id=0`.

[2016-03-21 11:57] saboya commented on #2834
@geromueller I currently have MM 2.1 running, and it works just fine. Where in the documentation it says that channel has to be empty?

http://docs.mattermost.com/developer/webhooks-incoming.html

[2016-03-21 13:03] #2865 closed

[2016-03-21 13:17] engelgabriel commented on #2834
@Unknwon: Is it ok if we submit a PR with the changes on wording to explain that you can use the Slack integration for Rocket.Chat and Mattermost?

[2016-03-21 13:27] Unknwon commented on #2834
@engelgabriel Yes.

[2016-03-21 13:29] Unknwon commented on #2834
Hint:

1. https://github.com/gogits/gogs/blob/master/templates%2Frepo%2Fsettings%2Fhook_slack.tmpl#L2
2. https://github.com/gogits/gogs/blob/master/conf%2Flocale%2Flocale_en-US.ini#L660
3. `make bindata`

[2016-03-21 14:35] engelgabriel commented on #2834
@geekgonecrazy or @geekgonecrazy can you do this?

[2016-03-21 15:04] githublaohu opened #2866 "请问，怎么选择中文"
开始的时候，本来好好的中文。用了几天就英文了。

[2016-03-21 15:06] Unknwon commented on #2866
![image](https://cloud.githubusercontent.com/assets/2946214/13922955/f5883bc0-ef54-11e5-85a8-a05a8db176b9.png)

[2016-03-21 15:06] #2866 closed

[2016-03-21 17:49] geromueller commented on #2834
Since it works for @saboya i played around a bit. It indeed works but:
- the MM docs says you should leave the channel empty, to use the channel assisiated with the api key in the hook (thats what i referred to by the initial post). Since this does not work in gogs you have to provide a channel
- The channel name is all lower cases! That's why it did not work for me. I guess this is kind of of MM

[2016-03-21 18:07] OhDaeto opened #2868 "Correct changelog"
Mistake in release description

"Site admin cannot see private repositories on organization home page" probably points to wrong issue. Maybe to this https://github.com/gogits/gogs/pull/2785

[2016-03-21 19:17] saboya commented on #2834
The "empty channel" instruction is [specific to the GitLab integration](http://docs.mattermost.com/developer/webhooks-incoming.html#connecting-mattermost-to-gitlab-using-slack-ui).

In regular use, the channel has to be the same as displayed in the channel URL. For example:

https://example.mattermostserver.com/<TEAM_NAME>/<CHANNEL_URL>/

<CHANNEL_URL> would be the correct string to use.

[2016-03-21 19:34] Unknwon commented on #2868
You can make a PR for this...

[2016-03-21 20:02] Eeems commented on #2868
@Unknwon I was not aware that PR's allowed you to change release information.

[2016-03-21 20:41] Unknwon commented on #2868
Fixed.

[2016-03-21 20:41] #2868 closed

[2016-03-21 21:19] nd2s opened #2869 "CSS: Use monospace font in wiki editor"
Code snippets, tables and similar are very hard to write without fixed-width font.

[2016-03-21 21:35] richmahn commented on #1071
Just an inquiry on this, mainly for @Unknwon: What is the reason the "Edit" feature with an MD edtor is available for Wiki pages, but hasn't been done or turned-on for repo files? Wouldn't it be about the same? What are the potential problems, if any, of doing the same thing for repo files?

[2016-03-21 21:44] Unknwon commented on #2869
Can you give examples with screenshots?

[2016-03-21 21:48] iBourgeois commented on #1071
@richmahn after an editor is chosen, implementation is similar to the edit feature for the wiki pages. the differences start with the need to configure syntax highlighting per file type, then allow customization of the editor in the users preferences (font, font-size, theme, etc...) as well as some configuration on/around the editor itself (tab-spacing, wrap mode, etc...). from there you can take

[2016-03-21 22:34] drsect0r commented on #2812
@Unknwon _I'm not sure if this is related:_ My infrastructure currently consists of multiple virtual servers all behind a central firewall. My logs are indicating that there are hundreds of packets being blocked flowing from my dedicated Gogs server to my database server.

This is very unusual behavior for the following reasons:

- virtual machines are all behind a DMZ furthermore internally, ever

[2016-03-21 22:36] jag3773 commented on #1071
@iBourgeois I think @richmahn is asking why we can't just enable what currently is setup on the Wiki pages for the repo files.  Granted, it's not a "code editor", but it is a nice Markdown editor.

[2016-03-21 22:42] richmahn commented on #1071
To even be able to just edit the README.md file would be nice. :smile:

[2016-03-21 23:11] #2859 closed

[2016-03-21 23:12] Unknwon commented on #2859
This is claimed to be fixed be merging https://github.com/gogits/git-module/pull/8, you can test on demo site.

[2016-03-21 23:17] iBourgeois commented on #1071
agreed. @Unknwon already said he wanted to keep it simple. now that I have my linux box back up, I'll work on a pull request this week. i've been stuck on a surface tablet for the past few months :frowning:.

he mentioned ace editor earlier on, so I will see what I can do!

[2016-03-22 01:16] localvar opened #2870 "require new user permission level: can only access issues but not code"
my project has some external users, I wish they could submit/modify issues, but I don't want them to clone/view the code. so I'd like to require a new permission level. or is it already exist? thanks.

seems already required by many people. #649

[2016-03-22 02:19] Download-Fritz commented on #2870
You linked the previous issue, which means you saw it. So, why create a second issue for the same thing?

[2016-03-22 06:01] imwower opened #2871 "internal server error after wiki page added"
添加wiki页面并提交之后，服务器显示500错误；现在不能添加wiki页面了。版本号见下面截图。
流程：
1. 点击导航上的”WIKI“，添加一个页面，进入编辑器，输入一些内容，并提交，
![1](https://cloud.githubusercontent.com/assets/1744486/13941714/5166e7f4-f025-11e5-8e81-1bb1e8e7d2f3.jpg)
2. 点击”保存页面“之后，出现500错误，
![unnamed qq screenshot20160322113422](https://cloud.githubusercontent.com/assets/1744486/13943298/14698620-f036-11e5-9e76-ab097eb0df84.png)
3. 以下是控制台输出的错误信息：
![3](https://clou

[2016-03-22 07:11] Gabbalo opened #2872 "Error 500 on creating PULL Request"
For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.9.0
- Git version: 2.7.3.windows.1
- Operating system: Windows Server 2012 R2 SE
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [x] No
  - [ ] Not relevant
- Log gist:

[code]

## Description

Hi,

upon creating a new PULL Request on the

[2016-03-22 07:14] slothbag opened #2873 "Option so wiki edits post in Dashboard / activity feed"
I'd like to be able to see when someone makes an edit in a repo wiki.. Would be great to enable this to show wiki edits in the Dashboard / activity feed.

[2016-03-22 08:11] rnarian commented on #2859
Awesome! Works as expected. :sunglasses: :ok_hand:

[2016-03-22 08:28] enderjo commented on #2743
Application Version:0.9.13release
Mysql config:
sql_mode=ONLY_FULL_GROUP_BY,NO_AUTO_VALUE_ON_ZERO,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,PIPES_AS_CONCAT,ANSI_QUOTES
error Message:
[...routers/user/home.go:57 retrieveFeeds()] [E] GetFeeds: get repositories: Error 1055: 'gogs.repository.owner_id' isn't in GROUP BY

reference:https://dev.mysql.com/doc/refman/5.7/en/group-by-ha

[2016-03-22 10:21] localvar commented on #2870
at first, I use some keywords to search existing issues, but didn't find any related one. so I create this issue, but after that I find 649 by other keywords, then I revised the issue.

[2016-03-22 10:21] #2870 closed

[2016-03-22 12:21] dakira commented on #2869
I think this is a good idea (and extremely easy to implement). Here's an example here on Github:

![current](https://cloud.githubusercontent.com/assets/576555/13951375/d6d9ab96-f030-11e5-9d0f-bb6649166af6.png)

vs.

![monospaced](https://cloud.githubusercontent.com/assets/576555/13951385/eb119e0c-f030-11e5-8c54-f1e9f37455c4.png)

[2016-03-22 12:22] dakira commented on #2873
+1

[2016-03-22 15:27] redoz commented on #2850
Yeah I can no longer reproduce this using the 0.9.13.0319 build.

[2016-03-22 17:13] kpande opened #2874 "Release announcement via email"
I can't determine any way to configure Gogs email servers in the UI.

Also, it would be very nice if it emailed an announcement when a release is created for a project.

I searched but could not find any open issues for these.

[2016-03-22 18:38] cipherboy opened #2875 "Dashboard feeds has unexpected line break on Mac OS X Safari"
- Gogs version (or commit ref): https://try.gogs.io
- Operating system: Mac OS X - 10.11.3 (15D21)
- Can you reproduce the bug at http://try.gogs.io:
  - [x] Yes   -- u: testing-abcde (pictured)
## Description

Safari has a fairly long standing display bug on the dashboard page. The _div.left_ in _div.news_ appears directly above the _div.grid_ elements for all the feed items. It appears that, usi

[2016-03-22 18:55] Eeems commented on #2874
For the releases. You can watch the RSS feed. http://stackoverflow.com/a/20840694

[2016-03-22 19:15] Unknwon commented on #2743
@enderjo please dump your `xorm.log` file here right after this error occur.

[2016-03-22 19:18] Unknwon commented on #2869
I think this only works for ASCII characters? Not very helpful for people who use other languages a lot.

[2016-03-22 19:27] dakira commented on #2869
Just copy and pasting from discuss here:

![bildschirmfoto vom 2016-03-22 20-23-30](https://cloud.githubusercontent.com/assets/576555/13964834/016a67d4-f06c-11e5-8db6-33bc981d52f8.png)

I just changed the style of the textfield to `font-family: monospace`, I don't see why that wouldn't work. Nothing else happens when you display code. You wouldn't be able to use Chinese (or Greek or Cyrilic) chara

[2016-03-22 19:30] Unknwon commented on #2869
Good prove! But the `monospace` font feels not nature to me.

[2016-03-22 19:32] Unknwon commented on #2874
Hi, what `project` you're talking about?

Gogs? Or repositories managed by Gogs?

[2016-03-22 19:34] Unknwon commented on #2871
Hi, please read https://github.com/gogits/gogs/blob/master/.github/ISSUE_TEMPLATE.md

[2016-03-22 19:35] Unknwon commented on #2872
Hi, please read https://github.com/gogits/gogs/blob/master/.github/ISSUE_TEMPLATE.md

[2016-03-22 19:49] Gabbalo commented on #2872
Um ...

_We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist._

??

I don't know, what else is missing from the template, sry. Could you help me out with an a little bit more detailed request? Maybe its because english is not my native language :/

[2016-03-22 20:03] moltam commented on #2869
@Unknwon I thought this first too, but Github uses monospaced font in the wiki editor. Even wikipedia uses monospaced font in their editor.
So this convinced me, that there is nothing wrong with this idea :)

[2016-03-22 20:07] nd2s commented on #2869
markdown is "code" that's why it needs monospace.

[2016-03-22 20:09] dakira commented on #2869
@Unknwon It's only in the editor. Not in the display. Non code content shouldn't be displayed in monospace. But it should be edited in monospace if you ask me (for the reasons already mentioned by others). The same holds true for the issue editor, btw.

[2016-03-22 20:25] nd2s commented on #1496
@rskumar @dakire: mails would be fine if there were correct plaintext parts. No need for some service.

@Unknwon I don't understand why you removed the "bug" tag. The system currently sends HTML code in mails. So every user that reads text mails sees code (= a totally broken mail)!

[2016-03-22 20:27] dakira commented on #1496
I agree with @nd2s. There are only two valid options, either plaintext-only mails or mails that have both, plaintext and html. Everything else is broken, hence this is a bug.

[2016-03-22 20:31] SirCmpwn commented on #1496
Sending HTML emails is a bug in general. Plaintext emails will work fine for any reader.

[2016-03-22 20:43] dakira commented on #1496
@SirCmpwn While I agree, this is just an opinion. Any email sticking to [RFC1521](https://tools.ietf.org/html/rfc1521) is perfectly acceptable, leaving it to the user which part of the multipart-message to display. Sending html-only, though, results in many problems.

Lets say you subscribe a mailinglist to a bug. That mailinglist will strip the html parts, leaving an empty message.

[2016-03-22 20:47] Unknwon commented on #2872
Git version:
Operating system:

[2016-03-22 20:48] Unknwon commented on #2869
OK, @dakira mind send a PR?

[2016-03-22 20:57] richmahn commented on #1071
@iBourgeois Sounds great! We're in need of it with many users. Keep us posted.

[2016-03-22 21:22] dakira commented on #2869
@Unknwon Sure, would this be the right file for the changes? https://github.com/gogits/gogs/blob/master/public/less/_form.less

[2016-03-22 21:57] Nhoya commented on #2723
spaces in name file are considered "good" only from windows users, same for repo names and other stuffs, sapces can deal lots of troubles via command line

[2016-03-22 22:00] DirectorX commented on #2210
+1

[2016-03-22 22:03] garygreen commented on #2723
I'm not talking about changing the paths of the repositories, I'm talking about having this pulled from the database so you can have any kind of name with any character like Gitlab does.

[2016-03-22 22:52] Nhoya opened #2876 "dark theme?"
Lot of us sometimes works at night and open the web page on a dark room is the same to penetrate your eyes with a sword, what about a dark and eye-relaxing theme?

[2016-03-22 23:35] Unknwon commented on #2869
@dakira `make less`.

[2016-03-22 23:36] dinacel commented on #2812
With MariaDB on Debian 8, that's what I have with tcp connection:

[code]

If I connect to MariaDB through an unix socket I have similar results:

[code]

I didn't debug more, but it seems gogs try to used a closed connection (closed by wait_timeout probably).

[2016-03-22 23:37] Unknwon commented on #2876
Thanks your feedback, but this is out of the scope of Gogs core.

Please follow: https://github.com/gogits/gogs/issues/1126

[2016-03-22 23:37] #2876 closed

[2016-03-23 01:57] wenerme commented on #2838
Use gogs installed from source will look template and conf from `/root/go/bin`

[code]

After I copy the templates to `/root/go/bin/`, the 2nd error gone.

[code]

I can start the server by
[code]
![image](https://cloud.githubusercontent.com/assets/1777211/13973410/71809748-f0dd-11e5-9b07-891494b8c9f3.png)

but the web page is broker. event `gogs web` is also broker.

[code]

![image](https://clou

[2016-03-23 02:00] Unknwon commented on #2838
You did not copy `public` directory.

[2016-03-23 02:07] wenerme commented on #2838
Event started with `gogs web -c "/home/apps/gogs/custom/conf/app.ini"`, `git pull` will return

[code]

[2016-03-23 02:09] Unknwon commented on #2838
Because you did not set config point to right path for `ROOT_PATH`.

Regardless of this error, how long it takes to open repository home page?

[2016-03-23 02:37] imwower commented on #2871
已将此求助提交至：[https://discuss.gogs.io/t/wiki-500/157](https://discuss.gogs.io/t/wiki-500/157)
请关闭此issue，谢谢！

[2016-03-23 02:38] #2871 closed

[2016-03-23 02:43] juanfra684 commented on #1518
I have the same problem with a big repo. I uploaded it to try.gogs.io, so you can see the performance in a known machine/config. The same repo works pretty well with cgit (with the cache enabled).

Probably the slowest directory in the repo is this: https://try.gogs.io/juanfra684/openbsd-ports/src/master/devel (Gogs Version: 0.9.14.0321 Page: 118641ms Template: 214ms)

[2016-03-23 05:04] wenerme commented on #2838
4 commits, dev mode , trace log

[code]

277 commits
[code]

[2016-03-23 05:05] Unknwon commented on #2838
I think it's more or less the problem with the system and Go, even templating takes so long.

[2016-03-23 05:05] wenerme commented on #2838
Should I try to upgrade my git ?
[code]

[2016-03-23 05:06] Unknwon commented on #2838
I suggest you change a machine with same system and try again.

[2016-03-23 05:06] wenerme commented on #2838
Home page is fast when there is no other page request
[code]

[2016-03-23 05:11] enderjo commented on #2743
I delete xorm.log then retry the error,there's no xorm.log.
maybe wrong at org.go line:1077, DISTINCT will be better

[2016-03-23 05:14] wenerme commented on #2838
Move to a new server ,save git version, it's way more faster

277 commits
[code]

[2016-03-23 05:15] wenerme commented on #2838
Still don't know why this happen, but I will move on, thanks.

[2016-03-23 05:27] Unknwon commented on #2743
Restart Gogs.

[2016-03-23 05:28] Unknwon commented on #2838
Exact same system?

[2016-03-23 05:56] Gabbalo commented on #2872
:facepalm:
I am really sorry for overseeing that ones -.-

Here you go.

Gogs version (or commit ref): 0.9.0
Git version: 2.7.3.windows.1
Operating system: Windows Server 2012 R2 SE

[2016-03-23 05:58] Unknwon commented on #2872
Does restart fix the problem?

[2016-03-23 05:59] Unknwon commented on #2872
Since you're using 0.9, this should be a fixed issue: https://github.com/gogits/gogs/issues/1738

[2016-03-23 06:41] uname-yang opened #2877 "git clone error in docker env"
- Gogs version (or commit ref): 0.9.13.0319
- Git version:2.6.4
- Operating system:docker in windows
- Database:
   SQLite
- Can you reproduce the bug at http://try.gogs.io:
   No
- Log gist:

## Description
i install gogs in  kitematic .everything in web is ok .but i can't clone the repo which i create on website.
it report a permission error as below.
![capture](https://cloud.githubusercontent.c

[2016-03-23 06:53] Gabbalo commented on #2872
Restart: Won't fix it (tried just now)
Correction: Error 500 shows up upon *submitting* the PULL request, not on *creating* it. Updated screenshot attached.

![gogs](https://cloud.githubusercontent.com/assets/5897819/13977592/cc886bec-f0ca-11e5-8149-caa9e96676dd.PNG)

The repository was neither deleted nor is it actually gone. I checked both, database and explorer, for presence. The entry and file

[2016-03-23 06:56] Unknwon commented on #2872
Delete `tmp\local` should fix your problem.

Check your **Admin -> System Notices** page, there should be a lot of records by now.

[2016-03-23 07:07] Unknwon commented on #2838
OK, sounds like environment issue.

We can move discussion to https://discuss.gogs.io/ and I'm closing this one.

[2016-03-23 07:07] #2838 closed

[2016-03-23 07:07] Unknwon commented on #2877
Why it looks like your do not have permission on the client site?

[2016-03-23 07:11] Gabbalo commented on #2872
Actually, there is not a single record in the System Notice section.
If there should be, I think they are not stored properly in my installation.

Nevertheless: Deleting the tmp-folder *was* the solution. I shut down the server, deleted the folder, started it up again --> PULL request created.

Thank you for your exeptional fast and helpfull (and patient :D ) support on this topic.

[2016-03-23 07:14] Unknwon commented on #2872
OK, I might know the problem. Basically this is same to https://github.com/gogits/gogs/issues/1738.

But that only fixed the new ones (rename repo, rename user) after the fix. I'll push a quick fix to old ones.

[2016-03-23 07:14] wenerme commented on #2838
Ok, thanks for your patient.

[2016-03-23 07:17] Unknwon commented on #2872
Pushed.

[2016-03-23 07:17] #2872 closed

[2016-03-23 07:47] uname-yang commented on #2877
Sorry ,maybe is windows git client error.
Fuck Windows

[2016-03-23 07:47] #2877 closed

[2016-03-23 07:48] Unknwon commented on #2877
..........

[2016-03-23 10:53] olafure opened #2878 "template: user/dashboard/feeds:47:18: executing "user/dashboard/feeds" at <$push.Commits>: nil pointer evaluating *models.PushCommits.Commits"
- Gogs version (or commit ref): gogs_v0.9.13_linux_amd64
- Git version: 2.4.3
- Operating system: Amazon Linux AMI 2015.09
- Database: MySQL
- Can you reproduce the bug at http://try.gogs.io: NO
- Log gist: https://gist.github.com/olafure/b44d1ee8ef450827943c

## Description
After logging in to my gogs installation, I get an empty page containing this message:
template: user/dashboard/feeds:53:18:

[2016-03-23 11:15] andreynering commented on #2869
Because of Windows, sites usually do:

[code]

Because Consolas looks better than Courier New.

[2016-03-23 11:16] dakira commented on #2869
True, I saw that on many sites. Will include that in my pull request.

[2016-03-23 14:22] NiklasRosenstein commented on #2464
I just upgraded to 0.9.13.0318 and it seems to run well, though it feels very slow. When I go to the "Code" page to view the files on the master branch, the page loads in ~1800ms. However, when I go to view a single source file, it loads in ~400ms.

Is this difference in the page load time expected? Note that I do not know how Gogs actually gets the data from git. (Does it check out the whole work

[2016-03-23 14:27] Unknwon commented on #2878
Hi, if you can't reproduce this on http://try.gogs.io, it mostly like not going to be fixed.

What are the commits you push before this error?

[2016-03-23 14:28] Unknwon commented on #2464
@NiklasRosenstein https://github.com/gogits/gogs/issues/1518

[2016-03-23 14:34] Unknwon commented on #2869
This is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2879, you can test on demo site.

[2016-03-23 16:56] smcquay opened #2880 "Cannot click through to Releases page"
- Gogs version (or commit ref): d3db1b25913e06
- Git version: git version 2.5.0
- Operating system: Ubuntu 15.10, up to date
- Database:
  - [X ] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ X] Yes
  - [ ] No
  - [ ] Not relevant
- Log gist:
[...ters/repo/release.go:97 Releases()] [E] GetTagCommit: exit status 128 - fatal: 'refs/tags/' - not a va

[2016-03-23 17:50] Unknwon commented on #2880
Hi, what is the example URL on demo site?

[2016-03-23 17:53] smcquay commented on #2880
to repro on try.gogs.io I just clicked through to the first project:

https://try.gogs.io/danil/dotfiles/releases

Sorry for not including the url initially.

Does that help?

[2016-03-23 17:54] Unknwon commented on #2880
Yes, thanks.

[2016-03-23 18:06] olafure commented on #2878
I'd very much like to replicate this on try.gogs.io, but it's tricky since I don't know what caused this.  We have over 20 repositories and a team of developers making commits to them.

For the record, the error has disappeared.  I'm guessing it's due to new commits being made and the problematic commit is not included in the summary.

The bug is still in Gogs however, and I'd like to help locate

[2016-03-23 18:22] moltam commented on #2869
Looks good!

[2016-03-23 19:32] Unknwon commented on #2878
Any emoji in your commit message?

[2016-03-23 19:37] Unknwon commented on #2880
This should be fixed.

You need do `go get -u github.com/gogits/git-module` and recompile Gogs.

[2016-03-23 19:57] #2869 closed

[2016-03-23 21:26] richmahn commented on #1692
@Unknwon This commit mentioned above causes develop branch to not be able to compile:

[2016-03-23 21:29] olafure commented on #2878
I can't see any emoji in the commit message.
I'm a bit hesitant to share the **action** table data with the rest of the world.

Since this error has gone into hiding, I think the best we can do (within reason) is to increase logging around this error, so the next time this happens the log file will contain more useful information.

[2016-03-23 21:31] dakira commented on #1692
@richmahn
you probably haven't pulled in all changes.

[code]

[2016-03-23 21:32] richmahn commented on #1692
Ah, right, keep forgetting the go get -u. Sorry about that. Thanks for your help.

[2016-03-23 21:37] Unknwon commented on #2878
You can send PM to me via https://gitter.im/Unknwon

[2016-03-23 21:39] smcquay commented on #2880
Works for me. Thanks!!

[2016-03-23 21:39] #2880 closed

[2016-03-24 05:48] Unknwon commented on #2843
ping @drsect0r

[2016-03-24 05:48] Unknwon commented on #2844
Close due to lack of feedback.

[2016-03-24 07:46] tuudik commented on #2844
The first command gives me following response:
[code]

The second command gives me 0 response. But this is also irrelevant command since the base should be actually: "cn=Admin User,ou=Admins,dc=domain,dc=com".

Then the response is also zero. But this is due to that gid is not assigned to user (for this Base).

If I could define Base DN for admin filter as: " cn=GogsAdmins,ou=Groups,dc=domain,dc=c

[2016-03-24 07:47] Unknwon commented on #2844
cc @SergioBenitez

[2016-03-24 08:28] localvar opened #2881 "ask user to confirm when he/she leaves wiki edit page if the page not saved"
I'm editing a wiki page but didn't save it, and hit the backspace outside the edit box by an accident, then I lost all my work.

suggest to save wiki to a local storage like cookie periodic during edit. and ask user to recover when he/she comes back

another way for this issue may be: ask user to confirm when he/she leaves the edit page. this maybe easier to implement.

[2016-03-24 11:30] drsect0r commented on #2843
@Unknwon pong, apologies for the delay. I can reproduce: https://try.gogs.io/testdemo/test/compare/b4cc027402b9c66282f226228c7f23608f7dc7d0...c0c825c9c512be98818297b8f25aefab1796b8a5

[2016-03-24 13:54] Jwrong opened #2882 "我push的时候出现错误"
Gogs: Key permission denied
Cannot push with deployment key: 7
fatal: Could not read from remote repository.
秘钥我已经添加了

[2016-03-24 17:41] Cubox- opened #2884 "Init script for FreeBSD have hardcoded path"
Hi,

The FreeBSD init script have:

`export HOME=/usr/home/${gogs_user}`

My gogs installation is not based on the git user living in /usr/home, but /usr/local/git, which breaks the script.

Thanks!

[2016-03-24 19:58] Unknwon commented on #2843
Thanks, so what is expected "right", and what is "wrong" right now?

[2016-03-24 21:13] Unknwon commented on #2881
Hi,

I suggest your change title of issue to this one. Because save to cookie will not be implemented.

[2016-03-24 21:13] Unknwon commented on #2882
The error is very obvious and said very clear when you add the key, you cannot push with deploy key.

[2016-03-24 21:13] #2882 closed

[2016-03-24 21:18] Unknwon commented on #2884
Hi, the script are not meant to work out of box, just a template and an idea of how it probably works.

[2016-03-24 21:18] #2884 closed

[2016-03-24 23:24] barracks510 commented on #552
That would be pretty much anyone running Gogs behind a reverse proxy on a suburl, including myself. All of these settings are domain specific, and that defeats the purpose of running Gogs on a suburl. For example, the browser will complain if one page has HSTS headers, but all the others do not.

[2016-03-24 23:58] barracks510 opened #2885 "Add config option to set a cookie value indicates login status"
## Description

Currently, there is no trivial way to detect whether a request contains a logged-in user or not. This feature makes caching public pages possible. The status right now is that every unique session gets it's own session cookie that is updated as a user does various tasks. My suggestion is that a secure cookie is set for a cache proxy to differentiate public sessions and private ones

[2016-03-25 00:46] Unknwon commented on #2885
Hi,

What `feature`?

I don't get this part, Gogs is behind proxy, how can it manuplate it?

[2016-03-25 01:12] barracks510 commented on #2885
Does this patch explain what I am trying to do?
[code]

[2016-03-25 01:16] localvar commented on #2881
title updated. in short, what I'm asking for is a way to recover unsaved work, because there are so many cases that user leave the edit page without save it.

[2016-03-25 01:25] Unknwon commented on #2885
Kind of. So why do you need this?

[2016-03-25 01:27] Unknwon commented on #2881
Thanks.

But I think save automatically edit page is somewhat over complicated. But save new page to local storage is acceptable.

Also, current title is not what I suggested, what I suggested is:

[2016-03-25 01:29] barracks510 commented on #2885
Because this way, a webcache can separate the cachable items (for example, an unlogged in index.html)  from a sessioned item (for example, a logged in index.html) via use of cookie. So this way, putting items in a webcache is safe, because it can determine what is user-specific and what is not.

[2016-03-25 01:32] Unknwon commented on #2885
I don't think it can even with this **special** cookie, many pages allows non-log in users to view as well.

[2016-03-25 02:26] barracks510 commented on #2885
I just tested this on my local machine and I realize why you might not understand. Sorry for this confusion, let me try to reexplain this.

A web cache (like Nginx for example), works by saving every request it receives. In practice, this works very well, until the first user logs in. Then, every other user ends up using the cached pages from the first user. The way around this is to "punch a hole

[2016-03-25 02:37] Unknwon commented on #2885
Thanks, I get it now.

[2016-03-25 11:57] srenkens commented on #1221
+1 that would be really nice!

[2016-03-25 12:59] richmahn commented on #2098
@Unknwon Not sure if it make a new Issue or post here, but a custom/templates/base/head.tmpl doesn't work unless templates/base/head.tmpl is deleted, otherwise I get this error message when starting gogs:

`[git@test ~]$ gogs/gogs web
2016/03/25 12:54:33 [T] Custom path: /home/git/gogs/custom
2016/03/25 12:54:33 [T] Log path: /var/log/gogs
2016/03/25 12:54:33 [I] Door43 0.9.15.0323
2016/03/25 12:5

[2016-03-25 13:02] richmahn commented on #2098
Oh, but if I remove templates/base/head.tmpl, it does start gogs, but then going to the home page I get:

html/template:home:1:11: no such template "base/head"

So it isn't looking i my custom directory for it. Is head.tmpl supported for custom templates?

[2016-03-25 17:18] fenque commented on #2401
Same error

[2016-03-25 21:11] Unknwon commented on #2842
This is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2883, you can test on demo site.

[2016-03-26 00:33] neolit123 commented on #2842
the issue in original user report is not fixed:

Also the mimetype appears to be zip for office files.

because it looks to be a Firefox issue:
https://bugzilla.mozilla.org/show_bug.cgi?id=221028
the bugreport talks about "Content disposition" and "quoting" the filename, no idea what that's all about.

a Bitbucket developer says that they have a fix:
https://jira.atlassian.com/browse/BSERV-4985

s

[2016-03-26 00:35] Unknwon commented on #2842
I tested with Firefox developer edition and works, which version are you in?

[2016-03-26 00:36] neolit123 commented on #2842
Windows 7, with a slightly older Firefox - 43.0.

More info about the "Content disposition" part:
http://kb.mozillazine.org/Filenames_with_spaces_are_truncated_upon_download

[2016-03-26 00:37] Unknwon commented on #2842
So sad...

[2016-03-26 00:41] neolit123 commented on #2842
just updated to 45.0 and the issue is still present, at least on Windows.

[2016-03-26 01:18] Unknwon commented on #2842
So what to do next then?

[2016-03-26 01:54] neolit123 commented on #2842
the "quotes" solution proposed here supposedly works:
http://kb.mozillazine.org/Filenames_with_spaces_are_truncated_upon_download

[2016-03-26 02:12] Unknwon commented on #2842
@neolit123 please test the demo link again.

[2016-03-26 06:41] moltam commented on #2842
File name is now correct with demo link (Ubuntu 15.10, Firefox 45.0).

[2016-03-26 08:27] thypon opened #2886 "Gogs panic on 0.9.13.0318"
- Gogs version (or commit ref): 0.9.13.0318
- Git version: 2.6.4
- Operating system: docker image
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:
https://gist.github.com/thypon/364f3cd991a1da092138

## Description

gogs panic on 0.9.13.0318, doesn't happen wi

[2016-03-26 09:32] mkava opened #2887 "Social Tags for Projects/Users"
Enhancement request. This is an extension of issue #2670 with more meta tags.

It would be great to be able to reference projects and users using a Gogs instance on the various social networks and have the appropriate information display properly. Github's implementation of this isn't perfect, but it does implement OpenGraph so most sites are at least able to scrape the page and discern something

[2016-03-26 12:41] Thomasdezeeuw commented on #2885
@Unknwon does the label `dont send pull request` mean you will implement this, or does it mean you won't accept the change?

Because I could really use this feature as well.

[2016-03-26 17:57] Unknwon commented on #2885
@Thomasdezeeuw means I'll do it.

[2016-03-26 18:06] Unknwon commented on #2886
Hi, I think you did not follow what you're asked to do, which is delete old templates directory and copy the new one.

[2016-03-26 18:08] neolit123 commented on #2842
works properly for Firefox 45.0 (Windows 7); nicely done.

[2016-03-26 20:38] thypon commented on #2886
[code]
this was the command line through crane. I volumed only the data directory.

[2016-03-26 20:41] Unknwon commented on #2886
Can you dump directory structure for the `data/gogs` directory?

[2016-03-26 21:24] thypon commented on #2886
http://desktop.pompel.me/gogs.dir

[2016-03-26 21:27] Unknwon commented on #2886
OK, remove the `gogs/templates` directory and try to start again.

[2016-03-26 21:38] Kambaa opened #2888 "Raw Code View UTF8 Problem"
## Description
My code is filled with turkish comments and when i tried to view the code via clicking the 'raw' button, characters are garbled. No problem on default viewing though. Thank you...
![adsiz](https://cloud.githubusercontent.com/assets/5601326/14062544/d16a0b64-f3ab-11e5-8fdb-dd5bb3ace4b3.png)

[2016-03-26 21:45] thypon commented on #2886
seems to work.

[2016-03-26 21:45] #2886 closed

[2016-03-26 21:48] Unknwon commented on #2888
Thanks your feedback!

Can you make up an example on GitHub so I can see how GitHub treats this situation?

[2016-03-27 01:06] joe-french opened #2889 "Reverse Proxy Authentication Clone Password"
- Gogs version (or commit ref): 0.9.0.0306
- Git version: 1.8.3.1
- Operating system: CentOS 7
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  -  Not relevant
- Log gist:
[code]

## Description
I believe there's an issue with authentication when doing a git clone / git pull / etc. on a private

[2016-03-27 09:32] SergioBenitez commented on #2844
@tuudik It seems relatively clear that the schema you're using doesn't include a `gidNumber` field. Thus, nothing will match a query involving the `gidNumber` field. Does that make sense?

This doesn't appear to be a Gogs issue.

[2016-03-27 15:49] Jonny007-MKD commented on #2874
@Unknwon: As he said "a project"  I assume he means projects managed by gogs.

@kpande: the email server that gogs uses can be configured during the install. Besides from install you can only change the INI.

[2016-03-27 16:17] Kambaa commented on #2888
Hello, you can see the github repo file at this address:
https://github.com/Kambaa/gogs-raw-code-test
![adsiz2](https://cloud.githubusercontent.com/assets/5601326/14066370/8107b284-f450-11e5-9e7f-ff6abec54908.png)

My server has the same exact file and it prints raw data like this:
![adsiz](https://cloud.githubusercontent.com/assets/5601326/14066367/60fb1f30-f450-11e5-8dd7-6ca579b56153.png)

[2016-03-27 16:31] joepie91 opened #2892 "Insecure database queries"
The Gogs codebase seems to be very inconsistent in how it generates queries. There are entire [chunks of code](https://github.com/gogits/gogs/blob/master/models/issue.go#L801-L842) where parameterized queries are used alongside string-concatenated queries, and this [has led to SQL injection vulnerabilities in the past](https://www.cvedetails.com/vulnerability-list/vendor_id-14955/product_id-30369/

[2016-03-27 17:28] andreynering commented on #2892
You are right.

I'd say: PRs are welcome if you are willing to help.

[2016-03-27 17:33] joepie91 commented on #2892
Unfortunately, I don't speak Go, otherwise I definitely would've sent in PRs.

It does seem like something that really needs to be prioritized, though - it's relatively little effort to rule out a very large attack surface, as it'd be just a change of syntax for the most part.

[2016-03-27 18:19] tboerger commented on #2892
Do you have any insecure example?

[2016-03-27 18:39] elithrar commented on #2892
The link in the OP to [`issue.go#L805`](https://github.com/gogits/gogs/blob/master/models/issue.go#L805-L817) provides a good example:

[code]

`com.ToStr` naively converts any type to a string, and the code here is just concatenating string - e.g.

[code]

This (and any query like it) needs to be parameterized.

[2016-03-27 19:08] tboerger commented on #2892
We don't need to discuss if that is good code from the perspective of cleanliness or style. But securitywise it's a pretty bad/naive example as it's forced to be an integer value, casted into a string (required for string concat), so it's simply not doable to inject anything here.

[2016-03-27 19:26] joepie91 commented on #2892
@tboerger The fact that there's string-concatenation *at all* is the problem here. Parameterized queries exist for a very good reason - they remove the need to think about the entire code path that a value travels through to assess whether it's "injectable", by treating values as being separate from the query entirely. This is especially important for two reasons:

1. Humans make mistakes. If you

[2016-03-27 19:26] elithrar commented on #2892
@tboerger In this instance, that's correct, but you are **wholly** relying on the object you pass to `com.ToStr` to be of a type that cannot be crafted into an SQLi vector. That is the problem: the code here is brittle. If this was correctly parameterized, you could throw any type through `com.ToStr` and be OK.

[2016-03-27 19:28] tboerger commented on #2892
As i said, the style or current code is everything else than beautiful, but this specific case is not yet a security issue.

[2016-03-27 19:30] joepie91 commented on #2892
This is a security issue, not a style issue. As I've explained in my previous comment.

[2016-03-27 19:38] Unknwon commented on #2874
@Jonny007-MKD Thanks but I need clarification from the original poster...

[2016-03-27 19:39] Unknwon commented on #2888
Got it, thanks.

[2016-03-27 19:40] Unknwon commented on #2888
Hmm? I made a test repo on https://try.gogs.io/unknwon/issue-2888/raw/master/test-code-with-turkish-comments.php, and if I visit, I can see utf-8 characters correctly. Latest chrome...

[2016-03-27 19:44] xinity commented on #2892
@joepie91 any poc maybe to illustrate your thoughts? I'd be very interested for education propose only, as i am evaluating gogs by now

[2016-03-27 19:45] tboerger commented on #2892
This specific example is not an security issue as you simply can not inject anything. It's just really bad practice and not clean code.

[2016-03-27 19:46] Unknwon commented on #2892
Thanks for the comments!

If anyone could explain how to make int values injectable, I would be very happy to mark this as a security issue.

[2016-03-27 19:51] elithrar commented on #2892
The point is not that the int values themselves are injectable, but that the moment anything upstream of this database code changes, you risk an SQLi.

e.g.
[code]

or

[code]

As @joepie91 points out:

The code here (and elsewhere, where the same assumptions are applied) is effectively safe by accident.

[2016-03-27 19:51] moltam commented on #2888
@Unknwon For me this file is displayed with incorrect characters. I tested with Latest Firefox, and Chromium (on Ubuntu).

[2016-03-27 19:52] Unknwon commented on #2892
I think I may need to provide a bit of background of Gogs database design.

Everything ends with `ID` is absolutely `int64` in Go, and is the `id` field in database tables.

[2016-03-27 19:55] elithrar commented on #2892
@Unknwon I get that. The problem is that you are relying on *never* passing anything but an `int64` here. If this code ever changes there is the risk of an SQLi. You are hoping that anyone committing (submitting|reviewing) code against this repo is aware of that.

[2016-03-27 19:58] Unknwon commented on #2888
Maybe latest Chrome is a bit smarter :sweat_smile:

[2016-03-27 20:02] Unknwon commented on #2892
This leads to completely different topic of this thread, you're talking code reviewing now.

I would like to clear my statement again:

[2016-03-27 20:04] moltam commented on #2888
I'll try to fix this, but not today :)

[2016-03-27 20:16] joepie91 commented on #2892
For those who'd like to fix this issue and submit a PR, I *think* the following command will uncover all the instances of string-concatenation in queries:

[code]

[2016-03-27 20:45] PolyFloyd commented on #2892
@joepie91 asked me te have a quick look at the code.

Go's database API has a perfectly usable way of using prepared statements and placeholders. But this seems to be thrown out of the window.

Why? Go's query placeholders are positional.

The way I see it the query concatenation seems to be a solution to building complex parameterized queries. Something that is a lot harder to do using positional

[2016-03-27 20:50] tboerger commented on #2892
@PolyFloyd it can't be written like that within Gogs. Don't think like database/sql, Gogs is using XORM.

[2016-03-27 20:51] andreynering commented on #2892
In GORM, we would write something like this:

[code]

Gogs uses Xorm instead of Gorm. I think it would be possible, the issue may be the JOINS. I don't know how well Gorm and Xorm handle JOINS.

[2016-03-27 20:52] tboerger commented on #2892
I think XORM needs proper handling of conditions for Join. Currently there is code like this:

[code]

As `Join` just accepts a string as a join condition it's not really possible to change that. Instead of relying on a string they should accept the conditions, than you should write something like this:

[code]

[2016-03-27 20:54] andreynering commented on #2892
Gorm would accept something like this:

[code]

[2016-03-27 20:55] tboerger commented on #2892
And XORM got `In`, but not for join conditions.

[2016-03-27 20:57] tboerger commented on #2892
I have created https://github.com/gogits/gogs/pull/2893 as a start to improve the parameter handling. Please take a look. If you would like to see more in it feel free to contribute.

[2016-03-28 01:03] joepie91 opened #2896 "Mirroring *to* a GitHub repository"
On my old Gitolite setup, I had post-receive hooks set up in such a way that every push would also be automatically mirrored (`git push --mirror`) to an equivalent repository on GitHub (where the actual issue management and such lives).

While it's possible to specify this kind of hook manually in each repository's settings, it'd be nicer to have a "mirror to remote Git repository" button to set i

[2016-03-28 01:54] localvar commented on #2881
title updated

[2016-03-28 02:56] Unknwon commented on #2896
Thanks your feedback!

I think this is duplicated to https://github.com/gogits/gogs/issues/96?

[2016-03-28 05:39] barracks510 commented on #2892
The problem with using prepared statements in this program is that we are no longer database agnostic. For example, in MySQL this is a prepared statement:
[code]
While, in PgSQL this is a prepared statement:
[code]
There is no easy way to accommodate for both of these databases without maintaining two versions of the codebase. I think the current approach is completely acceptable (**UNTIL** XORM u

[2016-03-28 05:48] barracks510 opened #2897 "Feature Request: Ability to Freeze Gogs"
The ability to completely freeze Gogs as view only would be incredibly helpful during updates and other maintenance. It seems like this could be a configuration option. This would also allow test instances of Gogs to be archived.

[2016-03-28 05:55] JesseWeinstein commented on #2892
MySQL style prepared statements were already used in the code before this issue was brought up (e.g. https://github.com/gogits/gogs/blame/master/models/issue.go#L817 added back in Nov last year). That ship has sailed, sorry.

(I was also pointed at this thread by @joepie91 .)

[2016-03-28 07:30] tuudik commented on #2844
@SergioBenitez

Never wanted to say it's an issue, but perhaps LDAP auth can be improved for Gogs.

I have also Dokuwiki setup for same LDAP, for different users, different groups, where users have different permissions according to the groups they belong.

I guess dokuwiki logic for LDAP work as following (https://www.dokuwiki.org/plugin:authldap:openldap#with_anonymous_bind_and_filters):

1. Get

[2016-03-28 08:08] joepie91 commented on #2892
For the sake of clarity; due to the request for PRs and me not speaking Go myself, I've asked around a bit to try and find people who can help implement a fix for this. Hence the mentions above :)

@barracks510 I'd imagine it should be relatively easy to abstract away this difference. I understand that XORM might not be feature-complete, but regardless, it's *never* acceptable to string-concatenat

[2016-03-28 08:26] joepie91 commented on #2896
Ah yes, you are correct, that indeed seems like the same request. I searched for a while but I couldn't find a previous issue for this - probably because it was titled 'sync' rather than 'mirror' :)

[2016-03-28 08:30] Unknwon commented on #2896
I don't know about that and looking for a solution, you can post any possible solution to that thread.

[2016-03-28 08:30] #2896 closed

[2016-03-28 08:31] kellpossible opened #2899 "View issues assigned to nobody"
is there currently a way to filter issues assigned to nobody?

[2016-03-28 08:31] Unknwon commented on #2844
@tuudik sounds like you're getting off the primary purpose of this thread (according to the issue title)?

[2016-03-28 08:36] Unknwon commented on #2899
Nope...

[2016-03-28 09:33] kellpossible commented on #2899
cheers, this would be quite useful

[2016-03-28 09:34] joepie91 commented on #96
This can be sidestepped by [changing StrictHostKeyChecking](http://askubuntu.com/a/123080). While that answer is for using SSH manually, you can also [set SSH options for Git](http://stackoverflow.com/a/7772571/1332715).

I'd also be very happy to see this implemented :)

[2016-03-28 10:53] drsect0r commented on #2843
@Unknwon Good question, I'm not sure if it is meant like this but the diff just seemed very odd to me.

- the coloring of the individual letters (I understand that what I did and I understand why the `r` is red and `ic` is green, I just feel that it takes to much thinking for somebody not familiar with my commit what happens here + also why not server with a red `r` and service with green `ic` )
-

[2016-03-28 12:13] tboerger commented on #2892
@JesseWeinstein you are simply wrong. We are not using MySQL prepared statements, we are just using XORM which makes it database agnostic.

[2016-03-28 12:15] tboerger commented on #2892
As far as i can see with my pull requests there are just `GetRepoIssueStats` and `GetUserIssueStats` remaining for a refactoring to get rid of the string concat issues. A first fixing PR is already merged, the next one if open so just one or two need to follow.

[2016-03-28 15:44] gtirloni opened #2901 "Encourage usage of certain licenses"
- Gogs version (or commit ref): 0.9.18.0327
- Git version: N/A
- Operating system: N/A
- Database: N/A
- Can you reproduce the bug at http://try.gogs.io: Yes
- Log gist: N/A

## Description

It would help users if Gogs would provide a set of 3-4 licenses at the top of the license drop-down when creating a new repository, just like GitHub does with Apache, GNU and MIT licenses. It would help preven

[2016-03-28 15:57] rompic commented on #308
+1

[2016-03-28 17:06] aaronshaf opened #2902 "PR merge pre-conditions (forced reviews)"
Many of us are stuck using Gerrit, partly for its feature of forcing a code review before merge / cherry-pick. It'd be great if there was a way to predicate a merge on a +2 / +1 by certain parties.

[2016-03-28 17:32] crrobinson14 opened #2903 "Reserved-words list for repository is very broad"
When creating new repositories in Gogs, a broad list of words is forbidden as repository names, such as `api`, `admin`, etc. Every other major Git service has no problem with names like this, so it's frustrating to migrate because it's common (at least for the projects I oversee) to have these be their original names. As a feature request, it would be VERY nice if Gogs could block only poorly-form

[2016-03-28 17:56] Unknwon commented on #2843
If you run `git diff xxx yyy` with same arguments (commit SHA), what do you get?

[2016-03-28 18:22] nodesocket opened #2904 "S3 support"
Would be cool to be able to provide s3 credentials and have gogs upload all assets to the a provided s3 bucket, and serve from that bucket.

[2016-03-28 19:12] richmahn commented on #1071
@iBourgeois Hey there, just seeing if you had a chance to see if this is doable and if you have made any progress. Let me know if you need any help.

[2016-03-28 19:36] lavvy commented on #1071
Like us too,  we are so in need of this feature
On Mar 28, 2016 3:12 PM, "Richard Mahn" <notifications@github.com> wrote:

[2016-03-28 19:52] tekknolagi commented on #2904
It would be interesting if it also stored git objects on S3 with a cache

[2016-03-28 21:38] iBourgeois commented on #1071
@lavvy @richmahn I made a little progress. This was my first time looking into the code for this project, but I managed to isolate the files that I need and make a few adjustments.

This is also my first time working with golang, lol. Interesting... thus far!

[2016-03-29 01:23] lunny commented on #2892
Hi, I have added join condition parameter supported on go-xorm/xorm@7d2967c78698d206727517c4c3ea318c1564f2c7

[2016-03-29 02:08] iBourgeois commented on #1071
Like I said before, I'm new to golang...

When viewing a file, I have managed to add an `Edit` button that points to the current file and appends `/edit` to the url.

the first problem I have is that I can't figure out where to add the translation. I tried adding it to the  `conf/locale/locale_en-US.ini` file next to the translations for the other buttons (Permalink, History, and Raw), but no dice

[2016-03-29 02:11] iBourgeois commented on #1071
nevermind on the routes... i just found them in `web.go`

[2016-03-29 02:17] Joshua-Anderson commented on #2903
@crrobinson14 Gogs tries to give the shortest URL possible for repositories by not prefixing them with anything. While this is helpful and saves typing, it also gets in the way of some logical and useful urls used by the service. In the `issues` case, the https://gogs.url/issues is a list of issues that the logged in user has created. This is the same behavior as https://github.com/issues. One wou

[2016-03-29 04:05] crrobinson14 commented on #2903
@Joshua-Anderson I hear you... But it seems misguided, just IMHO. People don't type URLs by hand all that often. Remember, they have to type http://git.someurl.com/someorg/somerepo to get to something in the first place. I think if you actually dug into this one, you'd find that people don't hand-type `/issues` any more than they type a repo URL. They go to a Git host and navigate. They bookmark.

[2016-03-29 04:12] crrobinson14 commented on #2903
It's also worth noting that I'm specifically referring to a case where I DO have an organization prefix. Even in a world where you accept that `/api` should be protected, is it still reasonable to say that `/my-project/admin` ALSO needs to be protected? I have something like 4-5 repos in various organizations that I deal with that use "admin" as the name of the project for an admin panel or tool o

[2016-03-29 05:06] i00 opened #2905 "No commit in issue if commit prior to branch publish"
If I am fixing an issue and create a new local branch on my computer then commit changes against it using the issue number in the commit comment, then later publish the branch up to the Git server the issue tracker does NOT include the commit in the issue details.

Kris

[2016-03-29 07:02] tboerger commented on #2892
@lunny really cool

[2016-03-29 08:40] tuudik commented on #2844
@Unknwon Seems so, since I understand now better, how gogs handles LDAP authentication.

Shall I change the title, or just forget it and leave it as is?

[2016-03-29 10:47] lgp171188 opened #2906 "Internal repositories for organizations"
When creating a public repository within an organization, it is visible to everyone. When creating a private repository within an organization, it is not visible even to teams with read access to the organization's repositories.

An internal repository will be visible to only the users in that organization who are in teams which have at least read access to the repositories. They can fork the orga

[2016-03-29 15:18] rnarian commented on #2906
:+1:

[2016-03-29 15:25] rnarian commented on #2905
I did also notice this.

When I push a feature branch which includes a commit that closes an issue: The issue gets closed.

When I don't push the feature branch, merge it back to master and only push the master (which now includes the commit that closes the issue: The issue stays open and no referencing message is added.

[2016-03-29 16:10] Crayon2000 opened #2907 "Webhook: Add commit date"
## Description
In the Webhook JSON payload, the commit date could be useful.

In the commit information section it would be nice to add the commit date, ie:  `"date": "2008-09-08T15:47:31Z"`

Here is an example:
[code]
Thank you.

[2016-03-29 16:13] richmahn commented on #1071
@iBourgeois I don't know if it will help, but here is what I learned about the router and putting a edit icon on the file view page. I got to where I was about to change EditRepo() function from the Wiki edit function. https://github.com/unfoldingWord-dev/gogs/compare/master...unfoldingWord-dev:file-edit

This is not saying this is the way to do it, just what I toyed around with to make sure I und

[2016-03-29 16:19] richmahn commented on #1071
@iBourgeois Also good to always see the functionality of editing files on Github. For example, you can only edit a file that is at the HEAD of a branch, not when viewing a file of a commit that isn't a branch. So we need to make sure that the edit icon only appears when viewing a file of a branch, and not just any commit, and that the /edit/ call has a valid branch name, etc.

[2016-03-29 16:21] richmahn commented on #1071
For example:

Can edit: https://github.com/Door43/d43-en/blob/master/obs.txt
CANNOT edit: https://github.com/Door43/d43-en/blob/ea2c0e967dbf2376813ee711986923568b49e56a/obs.txt

[2016-03-29 18:05] gembin opened #2909 "WebHooks UI is not correctly rendered"
- Gogs version (or commit ref):  0.9.13.0319
- Git version: 1.5.3
- Operating system: Mac OS X - 10.9.5
- Browsers: Safari Version 9.1 (9537.86.5.17.4), Chrome 48.0.2564.116, Firefox 42.0

Screenshot:
<img width="1013" alt="gogs-webhookui" src="https://cloud.githubusercontent.com/assets/26495/14118301/79d9af86-f61b-11e5-98f3-d7042429cb3e.png">

[2016-03-29 19:00] Unknwon commented on #2844
@tuudik since this discussion is quite long, I suggest you close this one and file a new one about **dynamic admin gourp** thing.

[2016-03-29 20:46] Unknwon commented on #2903
Thanks your feedback!

I do, that's the primary reason why Gogs does.

But you bring up an interesting point that reversed words for user names and repo names should be different. Because repository names are already under namespace of user.

[2016-03-29 20:49] Unknwon commented on #2903
Whatever you call (let's say X), you need to reverse X again. Or you maybe think `/my/issues`, then `my` and `issues` are both becoming reversed, which is worse.

[2016-03-29 21:25] Unknwon commented on #2905
Thanks your feedback!

Please try to reproduce on demo site to help clear the situation.

[2016-03-29 22:59] wrouesnel opened #2910 "Ability to pull request between "unrelated" repos"
If I have two independently created repositories with similar content, I currently need to do something of a dance to allow a pull request to be made between them (i.e. delete my repository, fork remote repository, push my content to new repository, pull request).

It would be nice if the pull request page would allow instead to specify an arbitrary repository to pull request against, so these typ

[2016-03-30 01:02] Ancyker commented on #2062
+1 I'd also like to see this

[2016-03-30 04:26] jrmiller82 opened #2912 "Feature Request: mercurial support"
Mercurial support would make you almost equivalent to bitbucket

[2016-03-30 06:18] Unknwon commented on #2912
Thanks your feedback!

But I do not think Gogs will support in near future (I mean in the two to three years), and it loses main focus of development.

[2016-03-30 06:18] #2912 closed

[2016-03-30 08:04] tuudik opened #2913 "LDAP authentication - Dynamic authorization for different groups"
Never wanted to say it's an issue, but perhaps LDAP auth can be improved for Gogs.

I have also Dokuwiki setup for same LDAP, for different users, different groups, where users have different permissions according to the groups they belong.

I guess dokuwiki logic for LDAP work as following (https://www.dokuwiki.org/plugin:authldap:openldap#with_anonymous_bind_and_filters):

1. Get list of groups

[2016-03-30 08:04] tuudik commented on #2844
Feature/enhance request:
https://github.com/gogits/gogs/issues/2913

[2016-03-30 08:04] #2844 closed

[2016-03-30 08:06] julianscheel commented on #518
I'd like to second this request. Not having a root-folder in the tarballs makes them unusable in various buildsystems (like buildroot) which expect archives to have a proper root-node.

[2016-03-30 08:27] rnarian commented on #2905
Sure. Take a look at this: https://try.gogs.io/rnarian/commit-issue

The first issue gets closed via commit (when I push the feature branch).

The second issue stays open even though I also referenced this issue in a commit (see https://try.gogs.io/rnarian/commit-issue/commits/master).

For the first issue I pushed the feature branch. For the second issue I merged the feature branch back to master

[2016-03-30 09:55] redpist commented on #1644
+1

[2016-03-30 10:42] exmex commented on #2909
Maybe related #2465 ?

[2016-03-30 11:32] peponi commented on #936
+1

[2016-03-30 11:34] stephanfriedrich commented on #936
+1

[2016-03-30 13:43] Thomasdezeeuw commented on #2909
Leaving this: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ here, for possible solutions.

[2016-03-30 15:08] seferis101 commented on #2183
Works fine since pages can now be deleted from git by removing the .md file and committing this change. Unfortunately, there is still no direct button in the Wiki-GUI which triggers the removal of the corresponding wiki page.

[2016-03-30 17:37] toddkaufmann commented on #2174
I found this very confusing as well.  Maybe it's more so for docker where there isn't an existing directory with `app.ini`.  The docs that say

led me to think I should create a folder called `custom` at the same level as `conf`.
It would be more clear with a metavariable such as `<gogsRoot>/` or `$gogsRoot/`.

After trying `strace` to see what files `gogs` was trying to read, and reading many mes

[2016-03-30 23:46] eByte23 commented on #2164
I will do this.
Cheers

[2016-03-31 03:30] wkevin commented on #2301
+1

[2016-03-31 06:29] TilmannBach commented on #1580
+1

[2016-03-31 09:33] cjl3230 opened #2915 "迁移外部仓库(比较大时)超时"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref):0.9.13.0318
- Git version:1.7.1
- Operating system:CentOS release 6.6 (Final)
- Database: MySQL
- Can you reproduce the bug at http://try.gogs

[2016-03-31 12:13] mcanevet commented on #165
Has anyone managed to make this work with https://github.com/bitly/oauth2_proxy?

[2016-03-31 18:54] j4 commented on #2809
I'm voting for !

[2016-03-31 22:50] kuuyee opened #2916 "'sort' field missing on issue pagination link"
http://127.0.0.1/developer/zngh_platform_fix/issues?type=all&sort=oldest&state=open&labels=0&milestone=0&assignee=0
![page1](https://cloud.githubusercontent.com/assets/110851/14193114/cdbd9846-f7d4-11e5-81bb-dad721198f99.png)

http://127.0.0.1/developer/zngh_platform_fix/issues?type=all&state=open&labels=0&milestone=0&assignee=0&page=2
![page2](https://cloud.githubusercontent.com/assets/110851/141

[2016-04-01 00:41] lavvy commented on #1071
Hey friends any progress on this

[2016-04-01 02:32] xuhuan opened #2917 "Rapsberry Pi 2 docker build fail"
- Gogs version :v0.9.13
- Operating system: Linux alarmpi 4.1.20-3-ARCH #1 SMP Wed Mar 23 19:01:10 MDT 2016 armv7l GNU/Linux
- Hardware: Rapsberry Pi 2 (armv7)
- Docker version: Docker version 1.10.3, build 20f81dd

### Description

[code]

[2016-04-01 09:46] enderjo commented on #2743
Use  a mysql docker whitout sql_mode=ONLY_FULL_GROUP_BY, It works.

[2016-04-01 11:22] sluedecke commented on #2842
Works with firefox 45.0.1 on Linux (arch) -> no longer an issue

[2016-04-01 14:29] misuzu commented on #2160
Any updates on this issue?

[2016-04-01 16:11] Eng3l commented on #1682
I have the same problem

[2016-04-01 19:43] pnovotnak commented on #13
Thanks for fixing the "only public repos appear in search" issue @Unknwon !

[2016-04-01 20:09] pnovotnak commented on #2776
I think that this is the right GH issue to report my problem... Is it possible to have a custom location for git repositories? In my setup;

`/home/gogs/`
`/mnt/drive/gogs-repositories`

HTTPS works fine, but SSH doesn't because path implicitly starts with `~/`. Is it possible to set the root path for SSH `clone` urls?

[2016-04-01 20:50] posix4e commented on #662
Same we will be moving to gitlab without ldap group integration. Basically we want some groups to see certain repos others cannot

[2016-04-02 04:10] niluanxy opened #2918 "Bug:Centos7 can't auto start"
On centos7,i try many ways to set auto start gogs,like write service,add gogs to rc.d,but all can't auto start gogs. But when i ssh login my server,and run gogs start,it can run.How should i do?

- Gogs version: 0.8.43
- Git version:
- Operating system: centos7 x64
- Database: MySQL
- Run user: git

[2016-04-02 15:18] xxxtonixxx opened #2919 "Preview Markdown in Releases' editor"
## Description
Like in issue's editor, I want to see preview of text that I have written.

An image like always...
- Issues

![pantallazo](https://cloud.githubusercontent.com/assets/7110786/14227140/6ded41dc-f8f6-11e5-8e05-ddcfc83e882c.png)
- Releases
![pantallazo](https://cloud.githubusercontent.com/assets/7110786/14227144/9f22bef8-f8f6-11e5-93b1-42a26818f16c.png)

Thank you! :+1:

[2016-04-02 21:47] Crayon2000 commented on #2907
If you look at the GitHub Push Event Payload (https://developer.github.com/v3/activity/events/types/#pushevent) it uses the word _timestamp_ and not _date_ like my previous example. This is how it looks:
[code]
The timestamp is in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.

[2016-04-02 21:56] Thibauth commented on #1518
An alternative strategy for very large directories, instead of calling git log for every file, would be to walk the git commit history and check for each commit whether or not a file in the directory was modified in this commit. Using the git command, this would be something like:

    git log --name-only --format="%cd" <dirname>

This should be much more efficient than calling `git log` for each

[2016-04-03 06:25] cameron314 commented on #1518
@Thibauth: I tried pretty much this. Using libgit in C. It was slower than invoking git for each file (which doesn't pass through libgit if I understand correctly, but uses even lower level code).

But I like the idea of limiting the search to give a reasonable worst case instead of degenerating.

[2016-04-03 07:15] migibert commented on #813
+1

[2016-04-03 08:34] bzar commented on #1314
+1, currently doing this with git hooks, but it's practically an admin-only feature because of security concerns.

[2016-04-03 17:09] strk commented on #1297
+1

[2016-04-03 19:17] Thibauth commented on #1518
@cameron314 thanks for your answer. It is interesting that you tried and didn't find any performance gain by using libgit. Do you still have the code you experimented with (maybe you can put it on gist or something)? I think there are several ways to go about this and I agree with you that making it efficient will require doing it at a pretty low level, similar to how it is done in git.

Also, fol

[2016-04-04 02:21] cameron314 commented on #1518
@Thibauth Unfortunately I lost the source code. It was just a crude test so I was a little careless with it. I remember basing most of the code on the [log example](https://libgit2.github.com/libgit2/ex/HEAD/log.html), with the key being [`git_pathspec_match_tree`][1] (I tried a few other ways too, can't quite remember now). But even if the path matching could be made very fast, walking the commit

[2016-04-04 03:09] Thibauth commented on #1518
Thanks, I will keep that in mind when experimenting. Regarding the caching, I think the space cost should really be close to negligible: storing the hash of the last commit for each entry in the tree should take the same amount of space as storing a single tree associated with a single commit, so this is basically the size of single commit.

[2016-04-04 07:11] Unknwon commented on #2285
Following along [this thread](https://github.com/coreos/fleet/issues/565#event-609751312), I think upstream repo has fixed the problem.

[2016-04-04 07:11] #2285 closed

[2016-04-04 07:16] Unknwon commented on #2743
@enderjo hmm... not sure what's the default behavior, I use everything default to test.

[2016-04-04 07:22] #2842 closed

[2016-04-04 07:24] Unknwon commented on #2160
@misuzu nothing yet, we need to fix problem on underlying i18n package.

[2016-04-04 07:25] Unknwon commented on #1682
@Eng3l can you update to latest `develop` branch see if error prints more accurately?

[2016-04-04 07:31] Unknwon commented on #2776
Hi @pnovotnak , I think it's probably not the right now. I suggest you post your problem on [the forum](https://discuss.gogs.io/).

[2016-04-04 08:32] renewsorensen commented on #1663
+1

[2016-04-04 08:35] renewsorensen commented on #2387
+1

[2016-04-04 08:40] renewsorensen commented on #813
+1

[2016-04-04 08:58] blinzelaffe commented on #2263
+1

[2016-04-04 11:55] jaydio commented on #2855
This is indeed a problem. The admin filter should be applied on-demand meaning every time a user logs in. That's a typical use case for accessing a directory service as its optimized for read access.

[2016-04-04 12:16] jaydio commented on #1268
Basically all that needs to happen is to send a request to the ldap server using the **User Filter**. Once the result was received iterate through the list of users and disable all local user accounts that are are **not** present within in the list. As for updating/syncing local accounts with the information available in ldap; this should be triggered - (1) every time the user logs in (2) interval

[2016-04-04 12:22] jaydio commented on #2488
@Unknwon When fetched initially the keys should be stored within the MySQL database (not sure if that's already the case, can't check right now). A maintenance task running every 60 or 120 minutes can then fetch all keys from ldap using the **User Filter** and insert/update keys in the mysql database that have changed and write the authorized_keys file **once**.

[2016-04-04 12:33] jaydio opened #2922 "[E] LDAP Admin Search failed"
## Platform Details

* Gogs version (or commit ref):
  * gogs-0.9.13-1458763757.5ec8ef0.centos7.x86_64
* Operating system:
  * CentOS 7
* Database:
  * MariaDB (mariadb-server-5.5.47-1.el7_2.x86_64)

## Description

When using the **Admin Filter** gogs always throws the following error:

<pre>
2016/04/04 19:42:08 [...gogs/models/login.go:267 LoginUserLDAPSource()] [E] LDAP Admin Search failed
2016

[2016-04-04 12:40] jaydio opened #2923 "LDAP: Add Option to Choose which Attributes to use for the Display Name (Feature)"
It would be nice to have an option to choose which LDAP attribute should be used for displaying the username. For instance, when using ```employeeNumber``` as the username attribute, using the username for display looks rather cryptic: ```123456```. Having an option to select the **given name** and **surname** attributes for displaying the user's name would make more sense.

[2016-04-04 12:57] jaydio commented on #2918
Same issue here. As the following log entry suggests this might be because the database socket doesn't exist prior to starting gogs:

<pre>
2016/04/04 20:46:15 [...s/routers/install.go:71 GlobalInit()] [E] Fail to initialize ORM engine: migrate: sync: dial tcp 127.0.0.1:3306: getsockopt: connection refused
</pre>

By the time trying to start gogs manually the database socket already exists.

[2016-04-04 13:51] jaydio commented on #2918
Some packager.io magic might be the cause. I can see systemd and sysvinit files shipped with the rpm. Need to take a closer look but here's a quick workaround. Add the following to the ```[Unit]``` section within ```/etc/systemd/system/gogs.service```:

<pre>
After=mariadb.service
</pre>

Afterwards reload your systemd configuration and reboot ...

<pre>
[root@git01 ~]# systemctl daemon-reload
[ro

[2016-04-04 14:05] Flux159 opened #2924 "Add documentation for manual backup"
Currently, the gogs documentation does not have any documentation on backing up gogs data.

It would be helpful if there was a section covering Administration / Backup practices that also mentions the `./gogs dump` command.

As referenced here: https://discuss.gogs.io/t/suggestion-on-repository-load-balancing-and-replication-hot-backup-strategy/182/8

[2016-04-04 14:07] Flux159 opened #2925 "Restore data from dump command"
Currently there is a ./gogs dump command that will generate a backup, but no way to automatically restore back.

As referenced here: https://discuss.gogs.io/t/suggestion-on-repository-load-balancing-and-replication-hot-backup-strategy/182/8

[2016-04-04 20:03] nithinphilips commented on #211
Agreed with @loongw. [Hugo](https://github.com/spf13/hugo) does something similar for alternative markup formatting. For rst, They basically execute `rst2html` and read the STDOUT.

Here's the hugo method that implements the rst rendering:
https://github.com/spf13/hugo/blob/5d3705df16014c1404282234e30ef9d1c9be9c15/helpers/content.go#L488

`rst2html` is installed as part of the [docutils](https://p

[2016-04-04 23:05] Unknwon commented on #1268
@jaydio thanks your tip!

[2016-04-04 23:06] Unknwon commented on #2488
@jaydio

Yes, it is.

[2016-04-04 23:37] Unknwon commented on #2915
Thanks your feedback!

Please follow in this thread: https://github.com/gogits/gogs/issues/829

[2016-04-04 23:37] #2915 closed

[2016-04-04 23:48] Unknwon commented on #2916
Hi, I've pushed fix to `develop` branch, you can also test on https://try.gogs.io

[2016-04-04 23:49] Unknwon commented on #2917
cc @0rax

[2016-04-05 05:26] sharkrice opened #2926 "当组织把仓库删除后建立一个同名仓库会产生500错误"
- Gogs version (or commit ref): 0.8.25.0129
- Git version: 2.6.4.windows.1
- Operating system: windows
- Database:
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:

## Description
当组织把仓库删除后建立一个同名仓库会产生500错误，在try.gogs.io上不能重现。
...

[2016-04-05 09:17] r0kk3rz opened #2927 "Github Authentication"
Github Authentication will allow people who already have a GitHub Account to create issues, edit wiki, and maybe even fork and submit pull requests on a public Gogs instance.

One of the great things about Github is the community it has, and the ease of which to contribute to existing projects once you're past the account hurdle. This feature will allow Gogs to act as a kind of distributed Github

[2016-04-05 09:25] Unknwon commented on #2926
Hi, your version is too old... duplicated to https://github.com/gogits/gogs/issues/1738

[2016-04-05 09:25] #2926 closed

[2016-04-05 10:38] strk opened #2928 "text/plain email notifications encoded as HTML"
All notifications sent (upon registration and on event) arrive as multipart containing a text/plain and a text/html content-typed elements. But both elements are the same payload: HTML.

Example:
[code]

Note that this only affects MUA that are configured to prefer text/plain over text/html.
The multipart header:
[code]

[2016-04-05 11:25] zorun opened #2929 "Participants of an issue or pull request should receive email notifications"
- Gogs version (or commit ref): 0.8.39.0219
- Git version: 2.1.4
- Operating system: Debian jessie
- Database:
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [X] Yes: https://try.gogs.io/gogs-test-2/Test_PR/issues/1
  - [ ] No
  - [ ] Not relevant
- Log gist:
## Description

Issues and pull requests have a list of "participants" (e.g. the per

[2016-04-05 11:26] zorun commented on #2928
+1, this is annoying. One option is to write templates in HTML, and use some html-to-text library to generate the text/plain part.

[2016-04-05 11:29] jgreth commented on #936
+1

[2016-04-05 11:43] strk commented on #2928
Are saying that the body of those messages come from an HTML template ? Sorry I hadn't setup my own instance of gogs yet so dunno how it works to administer it.

[2016-04-05 12:00] zorun commented on #2928
Yes, in your case, the template is `templates/mail/notify/collaborator.tmpl`.

But my suggestion was not to you, I don't think users are supposed to override templates.

[2016-04-05 12:09] Jonny007-MKD commented on #2917
The HTTPS fetches that failed (`dial tcp 216.58.197.113:443: i/o timeout`) belong to Google. Perhaps that server went away while building?
@xuhuan: Have you tried running it again after a while?

[2016-04-05 12:09] mrkeuz commented on #2929
It seems a duplicate #2854

[2016-04-05 12:17] zorun commented on #2929
Yes, it may be related, but not a duplicate, I believe.

[2016-04-05 12:48] mrkeuz commented on #2929
Yes, related, of course.
Just I've I tried to explore this notification behavior just yesterday (on local instance). And I faced with a similar problem. As I understood when you create or comment an issue, creator in this case not appends to watching list of repo.

[2016-04-05 12:48] Jonny007-MKD opened #2930 "Cannot type \ in issue: it becomes Yen symbol ¥"
- Gogs version (or commit ref): 0.9.13.0318
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
  - [ ] Test later

## Description
Whenever I try to enter a backslash '\' into an issue in gogs it is displayed as ¥. This seems to be some weird encoding issue, but I haven't experienced this in my entire life, yet. German umlauts and so

[2016-04-05 13:03] 0rax commented on #2917
I can just :+1: @Jonny007-MKD comment. It seems like your DNS server became unreachable during your bulding process. Keep us informed if there is more behind this if possible :)

[2016-04-05 14:16] strk commented on #1297
I'd love to be able to login with my own openid provider (not any of the known commercial providers)

[2016-04-05 14:23] Jonny007-MKD commented on #2928
Go library that converts html to text:

https://github.com/jaytaylor/html2text/

[2016-04-05 14:26] Jonny007-MKD commented on #2918
I recommend adding (additionally) `Requires=mariadb.service` as this tells systemd to not even try to start gogs when the database isn't running.

[2016-04-05 14:35] strk commented on #1297
May be useful: https://github.com/emanoelxavier/openid2go

[2016-04-05 14:50] Jonny007-MKD commented on #2930
Now the screenshots:
[gogs](https://s15.postimg.org/6qh7e6o8p/gogs.jpg)
[notepad](https://s15.postimg.org/cz2j7rltl/notepad.png)

[2016-04-05 16:32] rnarian opened #2931 "Feature request: YAML frontmatter in markdown preview"
It would be nice, if markdown preview could display YAML front matter in markdown files as tables. Right now files with YAML front matter seem a little broken.

Gogs:

Github:

[2016-04-05 17:38] Unknwon commented on #2922
cc @SergioBenitez @nanoant

[2016-04-05 17:39] Unknwon commented on #2923
I don't get it... doesn't Gogs allow you specify these attributes already?

[2016-04-05 17:41] Unknwon commented on #2928
This is basically duplicated to https://github.com/gogits/gogs/issues/1496, please merge your comments to that thread.

[2016-04-05 17:45] Unknwon commented on #2930
Why your local font is different from try.gogs.io?

[2016-04-05 17:46] Unknwon commented on #2931
I think it's more like a feature request to https://github.com/russross/blackfriday...

[2016-04-05 18:06] strk commented on #1496
As stated in #2928, one problem here is that the text/plain version of the mail is instead still HTML

[2016-04-05 18:21] zorun commented on #1496
One suggestion from #2928 is to keep the existing HTML templates for emails, and use a html-to-text library to generate the text/plain part. https://github.com/jaytaylor/html2text/ was mentioned, but there may be others.

[2016-04-05 18:22] SirCmpwn commented on #1496
Just don't send HTML emails. HTML emails are the devil and you should feel bad for using them.

[2016-04-05 18:28] strk commented on #1496
I agree with @SirCmpwn, no HTML mails for me please.

[2016-04-05 18:55] nd2s commented on #1496
@zorun : Let's not do that, that's just messy.

[2016-04-05 19:00] Reve opened #2932 "Captcha on Login View."
Hello,

I think there should be a Captcha for the login window since it can be prone to brute force attacks.

Thank you

[2016-04-05 19:30] strk opened #2933 "Unfriendly default value for "Run User" on install"
Upon installation, the default "Repository Root Path" is under the home dir of the user who launched "gogs",  but the default  "Run User" does not that same user. On clicking the "Install" (or is it "create"? I don't remember) a check is made by the code and if "Run User" doesn't match the user who did run "gogs" an error is reported about the mismatch.

So question: why not defaulting to the user

[2016-04-05 22:18] verandaguy commented on #2321
+1. Would be awesome to have this in Gogs now that it's been deployed as a GitHub feature!

[2016-04-06 00:37] jaydio commented on #2923
Well, in hindsight this is more of a general feature rather than being specific to LDAP. When using the employee number as the username it is also used to display the username across the web frontend. I'm sure many people would be prefer a speaking name such as the full name or email address instead while still letting the user authenticate using it's actual username which might be a nickname or i

[2016-04-06 00:38] jaydio commented on #2918
@Jonny007-MKD Well now, that makes perfect sense, thanks.