[2020-01-25 21:42] #5677 closed

[2020-01-25 21:44] unknwon commented on #5677
This is claimed to be fixed by merging #5903, please help test on `master` branch. I'm on a laptop that does not have SSH access to https://try.gogs.io's server, so will update that later.

[2020-01-26 14:27] GongT commented on #5891
/app/gogs/gogs is not related with Docker Volume.

But the separate user can only use uid `1000` which already normally

[2020-01-26 15:37] unknwon commented on #5891
What do you mean by "docker deploy must create /app/gogs/gogs"?

---

I think we need to go back to the original question, why is it important/needed to share SSH port between docker and host?

[2020-01-27 01:31] dalu opened #5909 "Regression: "Repository name has already been taken" when trying to create a repository with the same name but different user/organisation"
**Describe the bug**

My username is *dalu*. A repository by the name of dalu/someproject exists.

- try to create a new repository with the name of someproject but with a different organisation, e.g. angular/someproject or backends/someproject.

Why would a repository name be unique? On github if you create a repository with the name A and I create a repository with the name A this is possible.

[2020-01-27 01:35] dalu commented on #5909
never mind... the repo exists, false positive

[2020-01-27 01:35] #5909 closed

[2020-01-29 08:18] RDCH106 commented on #1322
The ticket was moved to 0.13 milestone, will be included also as an experimental feature in 0.12 release?

[2020-01-29 08:32] unknwon commented on #1322
@RDCH106 Sorry missed it! Was planning mostly bug and security fixes for 0.12.

[2020-01-31 08:57] carl-IOHK commented on #2216
Similar to SourceFourge, Zendesk allows you to watch individual articles or sections on a help centre, which is the equivalent of a GitHub wiki, the user case for this is very strong. I as a user want to know when an article or wiki changes.

We need this feature to find out what is being updated in the wiki by other teams in our decentralized organization so that we can republish those changes in

[2020-01-31 13:28] unknwon opened #5912 "Render emojis natively"
[emojify.js](https://github.com/joypixels/emojify.js) is archived and no longer maintained, we should render it natively, possible via https://github.com/kyokomi/emoji.

[2020-01-31 15:34] unknwon commented on #5318
Thanks again for your feedback! It has been upgraded to the latest 3.4.1 in https://github.com/gogs/gogs/commit/e99f43f59cb25582c85e748d42c1367113d66c31.

[2020-01-31 15:34] #5318 closed

[2020-02-03 06:59] etherealvisage opened #5914 "Randomly clearing files in /tmp/"
**Describe the bug**
All files in `/tmp/` that the user running gogs can access are cleared regularly.

**Gogs version or commit**

0.11.97.1209

**Git version**

[code]

**Operating system**

Debian testing, aarch64

**Database**

sqlite. version information:
[code]

**To Reproduce**
1. Run `./gogs web`, then `mkdir /tmp/a_file` as the same user.
2. Wait.
3. Directory will be removed.

**Can you

[2020-02-03 09:03] unknwon commented on #5914
Thanks for a high quality bug report!

First of all, IIRC, Gogs does not even use the system's `/tmp` directory, it has its own "tmp" subdirectory under the app data path. By default, it is `./data/tmp`:

https://github.com/gogs/gogs/blob/465be9b16ee331c258a5a4fa29921953e64e5266/conf/app.ini#L68

There is only one place trying to delete the "tmp" directory, which is when the Gogs web server starts

[2020-02-03 09:31] etherealvisage commented on #5914
It's empty in the custom configuration path, which would probably be why that's happening, then. :-) I guess the join of the paths `""` and `tmp` is `/tmp`?

[code]

As for _why_ it's like that, I'm not sure. Here's the entire app.ini configuration in case it's relevant (with some paths etc elided):

[code]

[2020-02-03 09:56] unknwon commented on #5914
If the key is not presented in the `custom/conf/app.ini`, it uses the value from the default `conf/app.ini`, which should be "data". And to trigger the "deletion", your Gogs web service has to been restarted. I tested on my mac, with all defaults, a restart won't delete anything in my `/tmp`. So I think it might be something else.

I looked at my admin panel again, I found there is one case that G

[2020-02-03 12:16] etherealvisage commented on #5914
I believe `os.Remove` will also [remove empty directories](https://golang.org/pkg/os/#Remove)? That seems like it could be it, but there were definitely non-empty directories being removed (I first noticed the problem when my `/tmp/tmux-<uid>` directories were disappearing). Of course, there could be _another_ service running on the machine removing things in `/tmp/`, but as much as I'm a fan of g

[2020-02-03 13:58] unknwon commented on #5914
I have no idea what's going at the moment. But I saw you're configured to use builtin SSH server on 22222, so few notes about correct SSH setup off the top of my head:
1. Your clone URL for should looks like `ssh://domain:22222/<owner>/<repo>`.
2. Your `.ssh/authorized_keys` for the user that runs Gogs, should not contain any SSH keys added by Gogs.

[2020-02-03 14:35] etherealvisage commented on #5914
Alright, I've managed to track it down. Doesn't look like it's gogs' fault --- at some point a piece of cryptominer malware, and it appeared to not expect an aarch64 system, which caused it to exhibit the failure mode of repeatedly removing things in `/tmp/`. I've imaged the drive and will be running what forensics I can to figure out if I can figure out where it came from or why it was running un

[2020-02-03 14:35] #5914 closed

[2020-02-03 14:56] unknwon commented on #5914
Ah, good! Could be a RCE in Gogs 😉

[2020-02-03 16:58] #5718 closed

[2020-02-03 16:58] #5891 closed

[2020-02-05 20:06] Silberklinge opened #5915 "REST API auth endpoint returns empty list"
I am currently running the Gogs Docker image. I am trying to use the REST API to script a few things, but when I attempt to obtain an access token for a user 'foo' with password 'foo_password', the API response is always just an empty list:

[code]

Same thing happens if I try to use curl:
[code]

[2020-02-06 07:08] unknwon commented on #5915
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-02-06 07:08] #5915 closed

[2020-02-06 21:43] agajdosi commented on #3877
Hi @zoh48gz04, does your password contain any special characters? It might be the problem. In my experience it is enough to put the password into single quotes. Could you try it please? If it fixes it for you I could create a PR for docs change, it is good to mention it somewhere.

[2020-02-07 07:05] dustinnewman98 opened #5916 "Phonemic transcription is not standard English"
**Describe the bug**
The README transcribes "Gogs" as /gɔgs/, which while not incorrect per se, is a very strange transcription. English prefers its obstruents (like /g/) to match in voicing to adjacent consonants. For example, "dogs" would be /dɑgz/ whereas "cats" would be /kæts/. Note that /d/ is voiced whereas /t/ is voiceless and /z/ (following /d/) is voiced, whereas /s/ (following /s/) is vo

[2020-02-07 07:19] unknwon commented on #5916
Wow, thank you!

[2020-02-07 07:24] unknwon commented on #5916
README updated via fd14ad6.

[2020-02-07 07:24] #5916 closed

[2020-02-08 09:22] unknwon opened #5917 "Overhaul admin subcommands"
Update help usages with examples of gogs admin subcommands.

[2020-02-08 10:01] zoh48gz04 commented on #3877
That did the trick!

Thank you very much. :D

PR created, docs#241

[2020-02-08 10:01] #3877 closed

[2020-02-10 16:15] unknwon commented on #4154
https://github.com/hhatto/gocloc

[2020-02-11 15:04] BorysVrublevskyi opened #5918 "Gogs install error with username non "git""
1. Installer returns error when system user is not "git" (exp "gogs"), even when it exists and have correct permissions.
2. Installation is successful when specified user is "git" even if it does not exists.

[2020-02-11 15:15] unknwon commented on #5918
Hi, this is intentional to make sure you do not run as root by accident.

[2020-02-11 15:15] #5918 closed

[2020-02-11 20:44] BorysVrublevskyi commented on #5918
Understand. But for now gogs checking if "$user = git", but must "$user != root"

[2020-02-11 21:49] evalsocket commented on #5615
@unknwon Would like to work on this. Can this be assigned to me.

[2020-02-11 22:55] unknwon commented on #5615
@evalsocket Yes, please go ahead!

[2020-02-11 22:56] unknwon commented on #5918
"git" is the default, you can change it to whatever you want, and you can still run as "root" if you wish.

[2020-02-11 23:01] BorysVrublevskyi commented on #5918
I mean, during installing I wasn't able to set any other user but "git". **Installer** returns error every time I tried to set existing system user "gogs" with correct rights on folder with repositories.

[2020-02-11 23:04] unknwon commented on #5918
Why can't?

![image](https://user-images.githubusercontent.com/2946214/74287832-de031100-4d65-11ea-8dc2-207b909d8062.png)

[2020-02-12 04:53] unknwon opened #5919 "Support Git Credential Storage to avoid storing them on disk"
For mirrored repositories.

Ref: https://git-scm.com/book/en/v2/Git-Tools-Credential-Storage

[2020-02-13 12:12] BorysVrublevskyi commented on #5918
Yes, this is the error. Specified user has rights to repository root path, but installer doesn't allow to continue installation. So I set user to default "git", which doesn't exists in my system, and installation successfully finished. How can this be?

[2020-02-13 12:50] unknwon commented on #5918
Whatever value put in this input box must match the `$USER` environment variable, by default, it is the system user runs the Gogs. But environment variable can be changed to anything you like.

[2020-02-14 04:11] jmschonfeld commented on #4631
Are there any updates on potentially adding this feature?

[2020-02-14 07:35] unknwon opened #5921 "Switch from russross/blackfriday to yuin/goldmark"

[2020-02-14 14:05] ivanbogomoloff opened #5922 "Wiki markdown auto detect commit hashes when it text equal to UUID"
**Describe the bug**

Wiki page show link to commits when text equal UUID type

**Gogs version or commit**

0.11.97.1209 with (a0342d95278702ae3802723087f41cd1876a8620)

**Git version**

[code]

**Operating system**

ubuntu 18.04

**Database**

mysql

**To Reproduce**
Steps to reproduce the behavior:
1. Go to repository
2. Go to wiki tab
3. Create new page
4. In body enter text 40ed9ba4-561b-ea11-

[2020-02-14 21:58] BorysVrublevskyi commented on #5918
Thanks! Now I understand. Gogs service must be run from user that must be provided during installation.

[2020-02-18 07:53] ItgLvb opened #5923 "API. Protected branches"
Hi.
It will be great if the API allows to edit the list of protected branches.

[2020-02-18 08:15] unknwon commented on #4602
https://github.com/golang/oauth2

[2020-02-18 08:48] CWempe commented on #936
Any news on this one?

[2020-02-18 15:19] linsfg opened #5924 "debug memory leakage"
https://try.gogs.io/debug
https://try.gogs.io/debug/profile/

<img width="383" alt="aa" src="https://user-images.githubusercontent.com/650478/74749540-42adf680-52a5-11ea-8c8a-3305f3db93ec.png">

<img width="1007" alt="bb" src="https://user-images.githubusercontent.com/650478/74749807-af28f580-52a5-11ea-8fdf-9bb8f13f9620.png">

[2020-02-18 16:30] unknwon commented on #5924
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-02-18 16:30] #5924 closed

[2020-02-19 08:04] unknwon commented on #5559
I think this is implemented already!

[2020-02-19 08:04] #5559 closed

[2020-02-19 13:09] dongshimou opened #5925 "docker run gogs with raspberry 4b"
**Describe the bug**
run the cmd `sudo docker run --name=gogs -p 10022:22 -p 10080:3000 -v /var/gogs:/data gogs/gogs`
i get this error: `standard_init_linux.go:211: exec user process caused "exec format error"`

**Gogs version or commit**
last

**Git version**

[code]

**Operating system**
raspberry

**Database**
mysql 5.7

**To Reproduce**
1. `docker pull gogs/gogs`
2. `sudo mkdir -p /var/gogs`
3

[2020-02-19 13:13] unknwon commented on #5925
Hi, have you tried this Docker image? https://hub.docker.com/repository/docker/gogs/gogs-rpi

[2020-02-19 18:09] shouc opened #5926 "Race condition can make MaxCreationLimit useless"
## Description
Users could potentially create more repos than specified in MaxCreationLimit as NumRepos field is not updated in a race-condition-safe cavalier (i.e. row is not locked). Such logic error could be fatal in some specific settings.

## Reason
internal/db/repo.go:1108
[code]

## PoC
Execute following script in the console of the user:
[code]
The resultant NumRepos is less than 10 (it is

[2020-02-19 18:27] unknwon commented on #5926
Thank you for a high quality report!

[2020-02-19 22:04] ElleshaHackett commented on #144
Please support this. I'm happy to help too. This should prevent some users from moving to Gitea as well. It's 2020. That's simply requirement nowadays. Even adaptive (not fully responsive) support or showing less functionality is a start.

[2020-02-20 05:08] unknwon commented on #144
@ElleshaHackett Mobile specific UI is where I plan to use VueJS and GraphQL but my skills on the former is still rough 😅

[2020-02-20 17:20] unknwon opened #5929 "Support code search via Sourcegraph"
1. Use GraphQL API to automatically add repositories to Sourcegraph.
2. Optional: Use explicitly permissions APIs to mirror permissions.

[2020-02-21 05:29] Humng opened #5930 "http://g.huadong.net:3000/net.huadong.template/HD_IDEV8_VUE.git"

[2020-02-21 12:12] dongshimou commented on #5925
@unknwon thanks! it's work fine.
maybe should update the raspberry version README.

[2020-02-21 12:12] #5925 closed

[2020-02-21 12:13] unknwon commented on #5925
Good idea, will do.

[2020-02-21 12:19] unknwon commented on #5925
Updated in https://github.com/gogs/gogs/commit/5b14cc6f0b7b661beb2640a94bd15660cdb48587.

[2020-02-22 02:45] bharatnc commented on #5921
@unknwon would be happy to contribute to this one if it's still relevant and is unassigned.

[2020-02-22 02:46] unknwon commented on #5921
@bharatnc Yes, it is unassigned. Please feel free to send a PR!

[2020-02-22 08:38] ranforce opened #5933 "docker pull update , app.ini isn't work,redirect to install page"
**Describe the bug**

I did some task like these steps:
docker pull gogs/gogs
// mounted /data to volumes and docker-compose up again
After docker container up,when open gogs login page,browser was redirect to /install (install page).
But change docker-compose image from gogs/gogs:last to gogs/gogs:0.11, it works.
Last good version i know is 0.12.0-dev.

**Gogs version or commit**

On branck maste

[2020-02-22 10:46] sebw commented on #5933
My gogs contained gets updated automatically to latest with watchtower.

This morning gogs was reported down, because it's listening on port 3000 while Traefik would expect it to run on port 3001 (per my gogs config file).

gogs is not using my config file anymore and it apparently expects my config file to be located somewhere else:

`2020/02/22 10:29:48 [ WARN] Custom config "/app/gogs/custom/co

[2020-02-22 11:01] unknwon commented on #5933
Thanks for the report! I'm looking into it.

[2020-02-22 11:04] unknwon commented on #5933
The problem seems it is not reading `GOGS_CUSTOM` env var, investigating.

[2020-02-22 11:13] unknwon commented on #5933
Patch pushed: https://github.com/gogs/gogs/commit/d3ecd22dbaa2005d97b4630b3dd4ad1155500257, waiting for Docker Hub to build the image.

[2020-02-22 11:31] unknwon commented on #5933
Image is up! Please do another `docker pull gogs/gogs:latest` to pull the patched version :)

Sorry about down time, doing a lot refactoring recently.

[2020-02-22 13:37] sebw commented on #5933
Thanks for the quick patch! It works, I'm back in business :-)

[2020-02-22 13:38] #5933 closed

[2020-02-22 14:09] KostyaEsmukov commented on #5933
@unknwon Thank you for the fix!

1. The `gogs/gogs:0.11` docker tag is updated 3 years ago, while there's a newer patch version tagged as `gogs/gogs:0.11.91` 6 months ago. Would it be possible to always update the `gogs/gogs:0.11` tag for all patch releases within the 0.11 series, so we could automatically receive patches for the current stable version without changing the tag?
2. I'm considering

[2020-02-22 14:14] unknwon commented on #5933
Yes, it is safe to pin back to 0.11.91.

Good idea, I'll think about it next time cutting a release :+1:

[2020-02-22 14:15] KostyaEsmukov commented on #5933
Great, thank you!

[2020-02-22 17:28] bharatnc commented on #5921
@unknwon thanks for the reply. I'm beginning to work on this. Since this my first contribution to gogs, I wanted to have some context regarding this change. What is the motivation for switching from blackfriday to goldmark? The former seems to give more fine grained control over setting up renderers for which there's no equivalent in goldmark.

For an example, I see that the current Markdown rende

[2020-02-22 17:50] unknwon commented on #5921
Good question! TBH I haven't researched much but saw some trends on this package, that's why it is labeled as "proposal". Hugo.io also made the switch so I believe there are some good reasons.

By looking at its feature list: https://github.com/yuin/goldmark#features, it looks very focusing on the extensibility, which we need.

I guess because goldmark claims to be "Standards-compliant", all of th

[2020-02-22 18:02] unknwon commented on #5921
I took another look, I think the `extension.GFM` is basically what we need to get started.

[2020-02-22 18:17] bharatnc commented on #5921
Thank you @unknwon :

Yes, I have been exactly doing that and trying to figure out what is needed and what is not.

Great! I was thinking around the same lines, was looking at this example provided in the README of goldmark:

[code]

I'll update once I have determined the best way to go about doing this.

Meanwhile, other than the tests that we have for markdown, can visually verify that what chan

[2020-02-22 18:29] unknwon commented on #5921
This one seems very comprehensive: https://try.gogs.io/lb1104/markdown-test

Another good one: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

[2020-02-23 04:13] bharatnc opened #5934 "API for listing Git repository tree"
**Describe the feature**

I'm running into a use case where I would like to fetch all the files in a given repo for a given `ref` (say master)  and then fetch their raw content.

This endpoint: `/api/v1/repos/:user/:repo-name/raw/:refs/:filename`  is very much useful if I actually know which file I need to fetch raw.

It would be useful to have api endpoint which can fetch a list of all files for

[2020-02-23 04:48] unknwon commented on #5934
Thanks for the feedback!

For the API design, I would like to align with GitHub API v3, i.e. https://developer.github.com/v3/git/trees/. It is definitely doable with existing codebase (though we don't need to truncate results in the initial implementation).

Roughly, you would:
1. Get the root tree via: https://github.com/gogs/git-module/blob/f29bce1e3a666c02175d080892be185405dd3af4/repo_tree.go#L

[2020-02-23 05:07] bharatnc commented on #5934
@unknwon thanks for the pointers, I'm going to attempt to take a look.

[2020-02-23 05:16] bharatnc commented on #5921
Great thanks @unknwon . Attempting to get my local dev for testing changes incrementally, But I keep running into a  errors while trying to do a `make web`.
First:

[code]

I was able to modify the Make command to go that one go away:

[code]
But then, I'm running into these build errors.

[code]

Not sure if you have seen this before. But what I realized is `public.go` seems to call AssetInfo and

[2020-02-23 05:36] unknwon commented on #5921
Hmm...

1. `-trimpath` might only be available in Go 1.13, do you have Go 1.12 on your local machine?
2. Gogs uses https://github.com/kevinburke/go-bindata, which is the one used by HomeBrew, not the go-bindata/go-bindata one. Sorry I know it's confusing 😞

[2020-02-23 05:41] bharatnc commented on #5921
Thank you! Agreed, on #1 I use go 1.12, and figured out that's why it's not working - I think it's fine. I will try # 2 based on your inputs.

[2020-02-23 05:51] bharatnc commented on #5921
I just solved the issue. Issue is the path under which I clone the repo.
 1. `~/go/src/gogs.io/gogs` Doesn't work
2. `~/go/src/github.com/gogs` Works perfectly.

Maybe I will add a point to the README to clarify this.

[2020-02-23 05:53] unknwon commented on #5921
I see, you are cloning to the $GOPATH, which makes Go Modules off in Go 1.12 I think. Any path outside the $GOPATH should just work. Yes, would be a good point to add in the doc.

[2020-02-23 20:15] ElleshaHackett opened #5935 "Docker Healthcheck support"
**Describe the feature**
Being able to see a "health status" of the Gogs Docker container.

**Describe the solution you'd like**
I would like support for the Docker Healthcheck (that is also shown in Portainer.io and probably other Docker management software).

**Describe alternatives you've considered**
Alternative is setting up something similarly without the use of the already existing tools wi

[2020-02-24 05:37] EyeOfMidas opened #5936 "EXTERNAL_URL has the server listen port prepended when using unix protocol"
**Describe the bug**
When using the `unix` protocol, the EXTERNAL_URL setting will always include the port even when it's not relevant

**Gogs version or commit**
afc2500aee471faaf17d4d588d4cb6bbc8d6a0c4

**Git version**

[code]

**Operating system**
Debian 10

**Database**
default-mysql-server (MariaDB)

**To Reproduce**
Steps to reproduce the behavior:
1. Edit the /etc/gogs/conf/app.ini file and

[2020-02-24 10:13] ElleshaHackett opened #5938 "Introduction of burndown charts on milestones"
**Describe the feature**
Having a more details view of progress, planning of tasks under a milestone using Burndown charts.

**Describe the solution you'd like**
Burndown charts. It should be easy to implement as Gogs currently already had Milestone support with a due date, issues can already be linked to Milestones. It is only a matter of adding a "start date" on the milestone. Then you can draw

[2020-02-24 10:43] ElleshaHackett opened #5939 "Docker backup cronjob (location, interval, retention)"
**Describe the feature**
Backup options on the Docker container.

**Describe the solution you'd like**
As described here https://discuss.gogs.io/t/how-to-backup-restore-and-migrate/991 it is possible to make and restore backups of Gogs. I'd like to see a few options on the Docker container for that such as `backupInterval`, `backupRetention`, `backupFolder`.

In that case you can just run Docker w

[2020-02-24 11:55] sorenbronsted commented on #4956
I have the same problem (version: 0.11.34) as hhningkid, blade5502 and Vistor2Code

[2020-02-24 12:37] unknwon commented on #4956
@sorenbronsted check errors in `path/to/gogs/log/hooks`, there should be something.

[2020-02-24 12:40] unknwon commented on #5935
Looks like an easy change! PR is welcome :)

[2020-02-24 12:45] unknwon commented on #5936
Thanks for your high quality bug report ❤️

I'm looking into this now.

[2020-02-24 13:15] EyeOfMidas commented on #5936
Thanks for looking into it! If you need any help reproducing or testing, let me know

[2020-02-24 13:15] unknwon commented on #5936
Hi, I'm just about to post that I'm not able to reproduce locally. How did you install your Gogs?

[2020-02-24 13:17] unknwon commented on #5936
NVM, I reproduced with `./gogs web -port xxx`

[2020-02-24 13:22] #5936 closed

[2020-02-24 13:22] unknwon commented on #5936
Patch has been pushed to `master`, you could re-pull it now. If you're using packager.io, it might take hours to have this update available 😞

[2020-02-24 13:45] EyeOfMidas commented on #5936
You're incredible! I am using packager; I'll keep an eye on the build there and let you know when I see it.

[2020-02-24 13:47] unknwon commented on #5936
I just received an email says the build failed with absolutely no reason why. The build process of packager.io feels really flaky to me.

https://packager.io/gh/gogs/gogs/builds/97

[2020-02-24 13:50] unknwon commented on #5939
Thanks for the feedback!

Is there a way to optionally start cronjob in Dockerfile?

[2020-02-24 14:23] EyeOfMidas commented on #5936
I see this error in the packager logs:

[code]

[2020-02-24 15:02] sorenbronsted commented on #4956
Nope it is empty :-(

[2020-02-24 15:03] unknwon commented on #4956
Have you tried to enable trace level logging via `[log] LEVEL = trace` config option, then try to push again. If it's still empty, then there is a problem with your Gogs setup...

[2020-02-24 15:27] sorenbronsted commented on #4956
Thanks. I got it to work because I had some experiment with buildbot in custom_hook.

[2020-02-24 18:59] unknwon commented on #5731
I believe this is no longer a problem.

[2020-02-24 18:59] #5731 closed

[2020-02-24 19:03] unknwon commented on #5165
Hi, is this still a problem?

[2020-02-24 19:15] unknwon commented on #3861
Merge this thread into https://github.com/gogs/gogs/issues/5720.

[2020-02-24 19:15] #3861 closed

[2020-02-24 19:15] unknwon commented on #5720
https://github.com/gogs/gogs/issues/3861#issue-187483652

[2020-02-24 20:12] EyeOfMidas commented on #5936
I just heard back from Cyril at packager.io. The disk space issue is fixed; can you trigger another gogs build and see if it works?

[2020-02-24 20:51] ElleshaHackett commented on #5939
Looking at the codebase for a few minutes I think the best place to do this, is to check in `gogs/docker/finalize.sh` if the described docker environment variables as described above are used and depending on that setup the cronjob. Maybe I will workout a suggestion but I'm very short on time.

But I am not sure if that script only runs on image build or on container startup. In case it is only us

[2020-02-24 22:02] ElleshaHackett commented on #5935
Except that I made a mistake. A HTTP check with curl on port :10022 obviously won't work since it isn't HTTP but SSH protocol. I will look into it later when I have more time.

`HEALTHCHECK --interval=60s --timeout=10s --retries=3 CMD curl -sS http://localhost:10080 || exit 1` will surely work when only considering the HTTP check on the UI.

[2020-02-25 05:21] unknwon commented on #5936
Thanks, triggered a new one here: https://packager.io/gh/gogs/gogs/builds/100

[2020-02-25 05:23] unknwon commented on #5939
I think it is only ran at build time:
https://github.com/gogs/gogs/blob/85f94676baaf9af40ced0f20468d1adb8856ade3/docker/finalize.sh#L2

[2020-02-25 05:27] unknwon commented on #5935
Quick question: is this port supposed to be the one inside the Docker container or the host port binds to the Docker container?

[2020-02-25 09:10] ozzi- commented on #5165
It works with 0.11.91.0811 - nice!
https://i.imgur.com/mZjh5jb.png

[2020-02-25 11:18] unknwon commented on #5165
Nice, thanks for confirming!

[2020-02-25 11:18] #5165 closed

[2020-02-25 13:42] EyeOfMidas commented on #5936
Confirmed fixed! Thanks for all your work!

[2020-02-25 14:19] #5934 closed

[2020-02-25 17:25] unknwon opened #5941 "Support issue start and end date"

[2020-02-25 19:42] ElleshaHackett commented on #5935
It is about the inside of the container meaning that in my example also `curl` needs to be available.

So the used port at host is irrelevant as the inner container port is static.

[2020-02-27 19:52] gromovadarya90 opened #5944 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:01] renata2216 opened #5945 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:22] renata7738 opened #5946 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:35] helen798 opened #5948 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 05:50] bharatnc opened #5949 "Support API `GET /repos/:owner/:repo/contents/:path`"
**Describe the feature**

The gogs content api `GET /repos/:username/:reponame/raw/:ref/:path` returns the raw file contents: https://github.com/gogs/docs-api/blob/master/Repositories/Contents.md.

For my use case, I need  a `Github` style api: https://developer.github.com/v3/repos/contents/#get-contents.

This would be extremely useful because as far as I have explored the gogs api, there isn't a

[2020-02-28 06:26] helen78989 opened #5950 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-02-28 11:55] ChillerDragon commented on #5731
[code]

That still seems to fail but I can not remember where I got that command from. And the instructions on current docs work fine:

[code]

[2020-02-28 11:57] unknwon commented on #5731
Follow the docs is cool 😄

[2020-02-28 15:08] unknwon commented on #5949
Yep, I agree, we should do # 2.

[2020-02-28 15:47] bharatnc commented on #5949
@unknwon thank you for the input. I will update with a PR when I get this working locally.

[2020-02-28 20:50] philjohnstone commented on #5677
Sorry for the late reply. Yes, it's working fine now on try.gogs.io. Thanks for fixing!

[2020-02-28 21:29] jeffersondesmond commented on #5677
please I'm trying to login but forgot my password and resting is creating
problems too.

I need to help me unsubscribe.
On Feb 28, 2020 20:51, "Phil Johnstone" <notifications@github.com> wrote:

[2020-03-01 14:15] sebw opened #5956 ""panic: runtime error: invalid memory address or nil pointer dereference" when pushing with token"
I'm running gogs in Docker and update automatically against the latest branch.

Yesterday, I could push changes with my tokens. My container has been upgraded last night.

Today, I'm getting an error when I try to push.

[code]

Since I'm now running 0.12 and have faced two regressions in a few days, I checked the image tags and 0.12 is not available, I would like to pin my container to the stable

[2020-03-01 17:03] unknwon commented on #5956
Hi, sorry about the regression, 0.12 has not released yet. And you can put back to 0.11 without problems.

The patch has been pushed: https://github.com/gogs/gogs/commit/7382c23a17cad73c137e9bca66be0cd1b04b75fd

[2020-03-01 17:34] sebw commented on #5956
I pulled the image 10 minutes ago and tested but I'm still facing the issue.

I pinned back to develop from 4 months ago, I assume this is considered more "stable"?

Thanks for the quick response!

[2020-03-01 17:40] unknwon commented on #5956
0.11.91 hasn’t been report any fatal issue so far, it’s definitely more stable than the current master as lots of refactoring going on. 😅

Docker Hub is always building things slow, so maybe give it 20 more minuets.

[2020-03-01 17:50] unknwon commented on #5956
I did a fresh `docker run gogs/gogs ...` and could confirm it is fixed.

[2020-03-01 18:01] sebw commented on #5956
I confirm as well! Thanks for the quick patch :D

[2020-03-01 18:01] #5956 closed

[2020-03-02 01:38] bharatnc commented on #5949
@unknwon following the git api v3 spec, I have the following response:
[code]
Do you think everything under `_links` and also `url` `git_url`, `html_url`, `download_url` makes sense to you? Some of these are actually broken, it somehow feels to me if we should omit these and probably just have a `url` that points to the actual content  / project. Wanted to clarify this with you.

[2020-03-02 05:13] unknwon commented on #5949
I think match whatever GitHub API v3 does is the best, and we could still response the API URL in those "url" field, and file issues for them and fix later.

[2020-03-02 09:46] fgm commented on #5956
The packager.io version for Debian still has 0.12.0+dev with that bug, FWIW.

[2020-03-02 09:54] unknwon commented on #5956
It is stuck on a build that never finishes ...

![image](https://user-images.githubusercontent.com/2946214/75665210-c48f1e00-5cae-11ea-87ac-41202422dcfe.png)

I'll shot the site admin an email for help.

[2020-03-02 12:39] fgm commented on #5956
Doesn't seem to improve much, I'm afraid.

![Capture d'écran 2020-03-02 13 39 05](https://user-images.githubusercontent.com/143311/75677236-41a89c00-5c8b-11ea-839a-094cd6b12fff.png)

[2020-03-02 12:41] unknwon commented on #5956
"Open source projects are supported in the best effort", I guess that's how that it. LOL. sometimes pretty fast.

[2020-03-02 12:46] fgm commented on #5956
More generally, I've long been wondering what the recommended practice for deploying Gogs was. The docs describe the process from binaries, sources, or packages, and packages seem by far the easiest way to remain updated, but I've often had the impression these builds were somehow "remote" from the project, and other deployments were recommended. Also, you mention docker in this issue, which is no

[2020-03-02 12:51] unknwon commented on #5956
@fgm Install by binaries is always the preferred, but if you want some kind of `apk update`, Docker is the best suit. Docs are here: https://github.com/gogs/gogs/tree/master/docker

Good point about not mentioning Docker in the website, that was overlooked. 🤔

[2020-03-02 14:56] unknwon commented on #5956
OK, we finally have a successful one: https://packager.io/gh/gogs/gogs/builds/124

[2020-03-02 15:38] achilleas-k opened #5961 "Undefined or incorrect behaviour when both "Allow public access to issues when repository is private" and "Use external issue tracker" are enabled"
**Describe the bug**
Enabling "Allow public access to issues when repository is private" then "Use external issue tracker" makes repositories show up in public listings but the repository page is inaccessible for other users (404).

**Gogs version or commit**
931da04dc2c7bdc078ded191b4d44d1e1f0d161b

**Git version**

[code]

**Operating system**
Alpine Linux (Docker)

**Database**
sqlite3

**To Re

[2020-03-02 15:49] fgm commented on #5956
And I can confirm it fixes the issue: I was able to push again on my server. Thanks a lot.

[2020-03-02 16:48] piyo opened #5962 "Apache-2 with reverse proxy and sub-url broken"
First, thank you for this useful software.

**Describe the bug**
Commit 648d9e25 and after does not write the correct URLs for reverse proxying and sub-url with Apache 2, even after replacing the deprecated app.ini::[Server]ROOT_URL with app.ini::[Server]EXTERNAL_URL, causing the web client to be redirected to unexpected urls.

**Gogs version or commit**
648d9e25  "conf: overhaul server settings (

[2020-03-02 20:28] urda commented on #5962
Upgrading to the `gogs/gogs:latest` docker image exposed this behavior to me. It caused my URLs, redirects, and requests to just ignore `ROOT_URL` and the like.

Current workaround was to downgrade to `gogs/gogs:0.11.91` container.

[2020-03-03 00:49] garyzoar commented on #5962
Downgrading seems to be the normal at the moment!

[2020-03-03 03:45] gemurdock commented on #3716
I think a lot of people would love something like this. I know I use the Kanban board for every project that is not simple.

[2020-03-03 05:59] unknwon commented on #5962
Thanks for your high quality bug report ❤️

My initial suspicion is this line:

https://github.com/gogs/gogs/blob/931da04dc2c7bdc078ded191b4d44d1e1f0d161b/internal/context/auth.go#L43

The `LandingURL` should check against subpath not hard-coded `"/"`. Will investigate further tonight.

[2020-03-03 06:04] unknwon commented on #5962
BTW, it would be very helpful to check your **Server configuration** section on the `/admin/config` page, see if it reads `EXTERNAL_URL` correctly, and of course, the **Landing URL** as well.

[2020-03-03 06:23] unknwon commented on #5961
Thanks for your high quality bug report ❤️

I think this option is expected, could be an easy flip to `false` for **Allow public access to issues when repository is private** when **Use external issue tracker** is selected on form submission.

[2020-03-03 18:01] unknwon commented on #5962
Hmm, I am not able to reproduce with latest `master`, the bug I fixed in #5964 seems irrelevant to this issue.

I set up reverse proxy via Caddy 1 and has `EXTERNAL_URL` as:

[code]

[code]

PS: I'm using localhost for testing, does it matter?

[2020-03-04 12:21] ozzi- commented on #5561
Screenshots
![alt text](https://i.imgur.com/T9KWkNH.png)
![alt text](https://i.imgur.com/59DG6yP.png)

[2020-03-04 18:21] unknwon opened #5966 "APIs for adding release attachments"
I’ve just implemented a CI system and have now reached the point where putting the binaries in the release on the gogs repo would be nice.

Is this still impossible?

_Originally posted by @fizzyade in https://github.com/gogs/gogs/issues/4311#issuecomment-572795229_

[2020-03-05 01:26] Keelan opened #5967 "Support API: `PUT /repos/:owner/:repo/contents/:path`"
**Describe the feature**
Create content/files/folders via the API

**Describe the solution you'd like**
PUT /repos/:owner/:repo/contents/:path

**Additional context**
Any plans to add this, i didnt see it in the API. Only GET

[2020-03-05 06:52] bharatnc commented on #5921
@unknwon just updating on this issue. Was working on this  and I was able to get most of the stuff rendered on Markdown with goldmark. One thing I wasn't able to get working was the link rendering for issues. (Example http://gogs.io/issues/2345 should display as 2345 with hyperlinks). Will open a PR once I can get it working.

[2020-03-05 07:03] unknwon commented on #5921
I never used goldmark in any of my other projects yet, so I can't say what could be the possible cause/solution. Would be good to propose a draft PR and take a look together.

[2020-03-05 10:22] unknwon opened #5968 "GitHub authentication does not respect user info on the code host"
Reported in https://discuss.gogs.io/t/github-authentication/3036.

https://github.com/gogs/gogs/blob/5ad2fdcf0b3334a7b7d5aff8cf57ae49d7f911f8/internal/auth/github/github.go#L29

[2020-03-05 12:38] unknwon commented on #5968
It is working as expected, false positive.

[2020-03-05 12:38] #5968 closed

[2020-03-05 16:36] fearlessxjdx opened #5969 "How to change “Git Clone Operation Timeout” default value?"
This is my steps:
1. create `/data/gogs/custom/conf/app.ini` file in docker container.
2. edit `/data/gogs/custom/conf/app.ini` like is:
[code]
3. execute `docker restart gogs`.

restart success(no error),but the default value didn't change....

[2020-03-05 17:25] unknwon commented on #5969
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-03-05 17:25] #5969 closed

[2020-03-05 18:57] #5949 closed

[2020-03-05 21:34] psyciknz opened #5971 "Using Gogs as a front end for other Git Server"
Can gogs be the front end of an external Git server?

I've successfully in linux and windows run Gogs servers where the git repos are local.   But I'm looking at a situation where I might want gogs running on a windows server (with the web ui and database), but the actual location of the Git repositories are on a linux server somewhere else.

Could this be done?  Preferably without resorting to sa

[2020-03-05 23:29] bharatnc opened #5972 "Support PATCH /repos/:owner/:repo"
Gogs API should support updating a repo as per Github API V3: https://developer.github.com/v3/repos/#update-a-repository

We already have: https://github.com/gogs/docs-api/blob/master/Administration/Repositories.md for POST /repos/:owner/:repo . Support can be the same set of operations for PATCH.

[2020-03-06 10:55] ogomez92 commented on #3340
Any news on this? Is the accessiblity any better nowadays?

[2020-03-06 13:53] unknwon commented on #5971
Hi, if Git data is not available locally, the performance is often like hell. Regardlessly, I don't think it's possible.

[2020-03-06 13:53] #5971 closed

[2020-03-06 23:46] bharatnc commented on #5972
Clarifying, this was supposed to be  PATCH `/admin/users/:username/repos`, updated the issue title/description. I will submit a PR for supporting this when it's ready.

[2020-03-07 00:45] bharatnc commented on #5972
@unknwon it also looks like for this change, I would have to patch the gogs-go-client first: https://github.com/gogs/go-gogs-client/blob/master/repo.go#L64-L81

It's currently being leveraged by gogs to CreateRepo, see:  https://github.com/gogs/gogs/blob/master/internal/route/api/v1/api.go#L383

Do you think that this should be the sequence of changes?
1. Add functionality in gogs-go-client to PAT

[2020-03-07 01:16] clarfon commented on #3340
There's active discussion on https://github.com/go-gitea/gitea/issues/7057 in case you want to follow that

[2020-03-07 04:19] unknwon commented on #5972
We should stop relying on external libs just for type definition, just copy over the struct is fine.

[2020-03-08 13:20] KostyaEsmukov commented on #4234
I've managed to set up postgres as backend for sessions.

Here's what I've had to do:

1. Apply the following patch on the current master and rebuild gogs:

[code]

Without that I've been getting error: `panic: session: unknown provider 'postgres'(forgotten import?)`

2. Create the sessions table (see https://go-macaron.com/middlewares/session#postgresql), I used the same database as gogs:

[code]

[2020-03-09 04:27] zgxu commented on #4229
According to the solution @terzinnorbert posted, he imported the mermaid (a nice opensource textual UML tool) library into gogs.
So you need to follow mermaid syntax like:
[code]
For more information, please visit https://mermaid-js.github.io/mermaid/#/README.

It works perfectly for me.

[2020-03-09 12:41] Sauermann opened #5977 "Clearer doc comments for mirror config options"
**Describe the bug**

The gogs/conf/app.ini file contains two options that appear to contradict each other.

https://github.com/gogs/gogs/blob/e87f1107ca74c267ec0ef07054085b7a7871eb77/conf/app.ini#L400-L402

https://github.com/gogs/gogs/blob/e87f1107ca74c267ec0ef07054085b7a7871eb77/conf/app.ini#L445-L447

The first option indicates that all mirrors get updated every 10 minutes and the second optio

[2020-03-09 14:42] unknwon commented on #5977
The config option name may not be the best. But there are not contradict to each other.

`[cron.update_mirrors] SCHEDULE` is for how often the mirror syncer runs to check if anything needs to update based on schedule, `[mirror] DEFAULT_INTERVAL` is used to set how long until next sync for this single repo (after a successful mirror sync).

[2020-03-09 15:37] TheCasualObserver commented on #5977
Thank you for the reply, perhaps including these short explanations into the variables comments would be beneficial.

[2020-03-09 15:39] Sauermann commented on #5977
Thank you for the reply. Perhaps adding these explanations to the variables comments would be beneficial.

[2020-03-09 15:41] unknwon commented on #5977
haha, PR welcome :)

[2020-03-10 13:23] unknwon opened #5979 "Support API: `GET /repos/:owner/:repo/git/blobs/:file_sha`"
Ref: https://developer.github.com/v3/git/blobs/#get-a-blob

[2020-03-11 11:54] w3bb commented on #2981
Really hope this gets implemented. This is a killer feature for me.

[2020-03-11 18:59] replay111 opened #5984 "Import from local file system or from network file system"
Hi,
is there any way to import local repositories (bare repos) to just started brand new instance of gogs (on docker in my case)?
I was hoping that this tool allows to import already cloned repositories like gitlab - by invoking some command like:

[code]

or by invoking some API url?

[2020-03-12 04:50] unknwon commented on #5984
If you're an admin or have granted permissions to clone by local path, just put the path in the **Clone Address** field in **New migration** form.

[2020-03-12 04:50] #5984 closed

[2020-03-12 08:25] evildecay commented on #3149
This feature is so important, why not merge or develop it early?

[2020-03-12 12:41] unknwon commented on #3149
@evildecay because less is more 😛

[2020-03-12 14:06] evildecay commented on #3149
@unknwon Haha, but I hope to seriously consider this feature, as well as the feature of user notifications, such as commenting on issues and sending notifications to relevant users. The team needs these two features. Thank you!

[2020-03-13 06:41] bharatnc opened #5985 "Group patterns "" and "/*" with "/contents" for the contents API"
**Describe the bug**
 TLDR:  `/contents/*` and `/contents` should both work (Github API v3 works this way)

The contents api should default to the default repository path if `:path` is not present.
Example:
The following should work and point to the contents at the root of the repo
[code]

The following should also work and should point to the actual path specified if exists and is valid.
[code]
G

[2020-03-13 06:42] bharatnc commented on #5985
I have actually tested the fix locally and I will open a PR shortly.

[2020-03-13 06:49] bharatnc commented on #5985
@unknwon  https://github.com/gogs/gogs/pull/5986 thanks!

[2020-03-13 14:37] #5985 closed

[2020-03-13 15:17] unknwon commented on #5912
https://github.com/enescakir/emoji/blob/master/README.md

[2020-03-14 01:06] Megaxela commented on #5796
Changing default branch in repository settings may help

[2020-03-14 13:58] whoo commented on #5962
Hi, it works for me with "EXTERNAL_URL" instead of ROOT_URL

[2020-03-14 17:18] replay111 commented on #5984
Does it mean that gogs will clone and create new copy of that repo?

[2020-03-14 18:50] unknwon commented on #5984
Yes, that is correct.

[2020-03-14 18:56] unknwon commented on #5962
@whoo thanks for the info!

I'm closing this until further input.

[2020-03-14 18:56] #5962 closed

[2020-03-14 19:50] KostyaEsmukov commented on #4702
I've set up a scaled gogs service and so far it seems to be working fine. The balancing model is standby (all requests go to a single gogs process, the first in the pool which is reachable). But I think there should be no problems using roundrobin balancing as well.

Key points:

1. I used postgres for database, and also switched sessions provider to postgres, see https://github.com/gogs/gogs/issu

[2020-03-15 05:16] unknwon commented on #4702
Thanks for sharing @KostyaEsmukov! It's very interesting to see :D

[2020-03-15 14:31] replay111 commented on #5984
ok so this does not the correct solution for me. I was rather expecting to read pointed directory on file system and import information about the repositories located there. I do not want to clone anything as I already did that.

Anyway thanks for response!

[2020-03-15 20:18] lujiaxing opened #5990 "aarch64 release?"
I need gogs v0.11.91 for ARMv8-A.
It seems there's no release for ARMv8 (AARCH64)

I'm trying to compile gogs v0.11.91 but I am living in mainland China and could not be complete "go mod init" because of "THE GREAT FIREWALL", and naturally impossible to accomplish following operations...

can anybody upload a release for aarch64 ?

thx

[2020-03-16 03:52] unknwon commented on #5990
Use goproxy.cn

[2020-03-16 03:52] #5990 closed

[2020-03-16 09:08] lujiaxing commented on #5990
i know to use `go env GOPROXY="https://goproxy.cn,direct"` and `go env -w GO111MODULE=on`
but `go mod init` doesn't recognize GOPROXY. It's a known bug [#33767](https://github.com/golang/go/issues/33767) in GO 1.13.

But finally i got a remote server to finish this job, my problem resolved.

anyway, thanks.

[2020-03-17 04:10] btafoya opened #5992 "External URL incorrect when using gogs behind web proxy after recent upgrade."
**Describe the bug**
The external URl shows as

`http://git.premadev.com:6000/`

While

`ROOT_URL = https://git.premadev.com/`

**Gogs version or commit**
Application version
    0.12.0+dev

apt repo version: 0.11.91-1584338268.c69a3865.xenial amd64

**Go version**
    go1.13.8

**Git version**
    2.7.4

**Operating system**
Ubuntu 16.04

**Database**
Server version: 5.7.29-0ubuntu0.16.04.1 (Ubun

[2020-03-17 04:46] btafoya commented on #5992
I have downgraded to version 0.11.91-1582129253.422a2064.xenial as a temporary fix. Is there a more recent version that is 0.11.19 code, rather than 0.12+dev?

[2020-03-17 05:52] unknwon commented on #5992
Thanks for your high quality bug report ❤️

You should start using `[server] EXTERNAL_URL` and remove the `ROOT_URL` (ref: https://github.com/gogs/gogs/blob/master/CHANGELOG.md), but until 0.13.0, it falls back to `ROOT_URL` if you have configured. I have double checked and couldn't reproduce your scenario, sadly I don't know know how exactly packager.io packages set up Gogs's config files.

In sh

[2020-03-17 06:07] FieldofClay commented on #5992
I just experienced this after upgrading my Docker instance to 0.12.0+dev. I also serve mine out from the subdir /gogs/ and it was incorrectly redirecting up to /, so nothing worked remotely.

Changing ROOT_URL to EXTERNAL_URL fixed it.

[2020-03-18 10:50] unknwon commented on #3525
Note: https://blog.sqreen.com/7-http-headers-to-secure-your-app-for-the-busy-web-developer/

[2020-03-19 20:44] whisperdancer opened #5993 "Server IP change. How to update the url for existing and new repos to reflect the new IP?"
I setup a gogs server on a raspberry pi initially with 192.168.1.209. I subsequently changed the IP to 192.168.1.31. I can get to the web dashboard, but noticed all my existing repos continue to show the .209 in the url and all newly created repos show the .209 also. I looked around, but don't see where I an tell gogs to update the urls to reflect the new IP.
Is there a setting in the UI or anothe

[2020-03-20 04:46] unknwon commented on #5993
https://github.com/gogs/gogs/blob/c69a38652da09cb10bfe31714b6b39fec3f8ede8/conf/app.ini#L14-L15

[2020-03-20 04:46] #5993 closed

[2020-03-20 07:33] sinlov opened #5994 "All configurations fail as `custom` path run in docker, e.g. `custom/conf/app.ini`"
**Describe the bug**

All configurations fail, whatever in right path `custom`, when run in docker

**Gogs version or commit**

[code]

**Git version**

[code]

**Operating system**

[code]

**Database**

SQLite

**To Reproduce**
Steps to reproduce the behavior:
1. docker-compose.yml

[code]

- gogs/gogs               latest               f5089a318904
- gogs/gogs               0.11.91

[2020-03-20 09:15] v-hembade opened #5995 "index"

[2020-03-20 12:56] unknwon commented on #5994
`$GOGS_CUSTOM` itself includes the `custom/` portion, so I think you need `$GOGS_CUSTOM/conf/app.ini`.

[2020-03-20 12:56] #5994 closed

[2020-03-20 12:56] unknwon commented on #5994
BTW, Thanks for your high quality bug report ❤️

[2020-03-20 14:31] XeroHero commented on #1322
What's the story with LFS to date? Did it make it into 0.12?

[2020-03-20 15:36] unknwon commented on #1322
0.12 hasn't been released AFAIK.

[2020-03-20 16:12] #5170 closed

[2020-03-20 16:14] unknwon commented on #5170
OK, finally found a way to reuse the backend HTML sanitizer, it is good now: https://try.gogs.io/testbbar/test-ipynb/src/master/Untitled.ipynb

[2020-03-21 03:47] #5367 closed

[2020-03-21 04:02] unknwon commented on #5367
Changed method to POST:

![image](https://user-images.githubusercontent.com/2946214/77218940-cdfffd80-6b6b-11ea-8c62-f3090dc03ad8.png)

[2020-03-21 17:02] unknwon opened #5999 "Integrate Google Cloud Profiler"
Refs:
- https://cloud.google.com/profiler/
- https://medium.com/google-cloud/continuous-profiling-of-go-programs-96d4416af77b

[2020-03-22 05:40] unknwon opened #6000 "backup: support exclude mirror repositories"
e.g. `./gogs backup --exclude-mirror-repos`.

[2020-03-22 05:46] fishbullet commented on #6000
Want to try this one @unknwon

[2020-03-22 06:09] unknwon commented on #6000
Thanks @fishbullet !

Here are the rough steps:
1. Make a new function to list all non-mirror repositories from the database in `internal/db/repo.go`.
2. Add a new flag to `backup` command in `internal/cmd/backup.go`, and loop over repositories then add them to ZIP archive. Similar to what we do here: https://sourcegraph.com/github.com/gogs/gogs@bugfix/set-engine-panic/-/blob/internal/cmd/backup.g

[2020-03-22 06:21] fishbullet commented on #6000
@unknwon   Sorry, both links are dead :(
https://sourcegraph.com/github.com/gogs/gogs@bugfix/set-engine-panic/-/blob/internal/cmd/backup.go?utm_product_name=GoLand&utm_product_version=GoLand#L123:5-132:10

github.com/unknwon/cae/zip

[2020-03-22 06:23] unknwon commented on #6000
Oops, branch deleted, fixed in my comment. And the second one is not a GitHub link, it's a import path. https://github.com/unknwon/cae

[2020-03-22 14:07] #5366 closed

[2020-03-22 14:09] unknwon commented on #5366
Thanks again for the report!

The patch has been pushed to `master` branch, and you shouldn't be able to create any **new** webhooks without an admin account.

[2020-03-23 11:10] evdenis opened #6007 "500 when get commits info of submodule"
**Describe the bug**

Gogs fails to display repo in web interface and raises 500 error. This happens when gogs fails to fetch commits info from git submodules in bare repo. Gogs worked correctly two of three versions back on debian 10.

**Gogs version or commit**

Gogs: Go Git Service 0.12.0+dev

**Git version**

git version 2.20.1

**Operating system**

Debian GNU/Linux 10 (buster)

**Additional

[2020-03-23 14:18] #5397 closed

[2020-03-23 14:35] unknwon commented on #6007
Can you reproduce the bug at try.gogs.io?

[2020-03-23 15:13] evdenis commented on #6007
Yes. Look at the repo: https://try.gogs.io/dimorphus/test

[2020-03-23 15:28] unknwon commented on #6007
Thanks 👍

[2020-03-24 01:57] chenguanri11 opened #6009 "http://39.100.97.35:3000/witsoft/ibs-web.git"

[2020-03-24 12:46] junes commented on #3880
+1

[2020-03-24 14:03] #6000 closed

[2020-03-24 14:15] unknwon commented on #5398
After some digging, I think this is already addressed in the recent releases.

[2020-03-24 14:15] #5398 closed

[2020-03-24 15:52] fishbullet commented on #5923
May I try to take this issue? @unknwon

[2020-03-24 15:58] unknwon commented on #5923
Thanks @fishbullet!

[2020-03-24 23:02] numbworks opened #6010 "Error: "Permissions 0755 for '/data/ssh/ssh_host_rsa_key' are too open.""
Hello guys!

In the first place, **thank you** for the amazing work so far!
GOGS is blazing fast and my issue tracker of choice since quite a lot of time!

**Goal**
I'm a digital nomad and I use three different Windows laptops to do my development work, and I would like to share my GOGS data among them (issues, repositories, etc).

Until now my GOGS container has been running on my QNAP NAS server

[2020-03-25 11:30] unknwon commented on #6010
Hi, AFAIK there is no solution to permissions problem on a portable device with Docker. (I encounter the same thing with running GitLab inside Docker container.)

The ultimate solution I have in mind is to directly run Gogs binary, and not use the SSH feature at all.

[2020-03-25 11:30] #6010 closed

[2020-03-25 14:29] unknwon commented on #6007
Interestingly... I couldn't reproduce locally. Which makes me wonder if it's a problem with old Git. The demo server is using git 1.8.3.1, which Git binary version do you have on your server?

[2020-03-25 15:10] evdenis commented on #6007
Debian 10. git version 2.20.1

[2020-03-25 15:57] unknwon commented on #6007
OK, problem found!

[2020-03-25 16:02] #6007 closed

[2020-03-25 17:41] fgm opened #6012 "Support API: `GET /repos/:user/:repo/releases`"
The API is currently missing the releases endpoint at `/repos/:user/:repo/releases`, at least in its basic form exposing the list of releases.

See https://developer.github.com/v3/repos/releases/#list-releases-for-a-repository

**Additional context**

This prevents use of Goreleaser with Gogs, although it is available in Gitea, causing Gitea to be supported there but not Gogs.

[2020-03-25 18:51] fishbullet commented on #5923
@unknwon Hey!
Can I ask about some guide how to do it?

We have a list of protected branches
Like this

![Screenshot_2020-03-25_21-49-13](https://user-images.githubusercontent.com/3471384/77574022-90d89a00-6ee2-11ea-83a9-0db887327aaa.png)

From the UI we able to edit a list.

I can't get what to do.  :smile:

[2020-03-25 18:53] unknwon commented on #5923
Maybe it's not a good time to implement APIs for it, protected branches in Gogs currently missing a lot features compare to GitHub: https://developer.github.com/v3/repos/branches/

[2020-03-25 18:55] fishbullet commented on #5923
@unknwon feel free to suggest me something, I want to help.

[2020-03-25 18:57] unknwon commented on #5923
What I really want to say it... while extending more features, some design will break, and I don't want to promise API interface for such uncertainty.

[2020-03-25 18:59] unknwon commented on #6012
@fishbullet This one feels more intuitive and straightforward, WDYT?

[2020-03-25 19:00] fishbullet commented on #6012
@unknwon I'm on it, any advice how to done it right?

[2020-03-25 19:03] unknwon commented on #6012
- Routes for repo-related APIs lives in https://github.com/gogs/gogs/tree/master/internal/route/repo.
- DB methods for releases lives in https://github.com/gogs/gogs/blob/master/internal/db/release.go.

[2020-03-27 12:59] turbokernel opened #6023 "[bug]database host is too long"
**Describe the bug**

**Gogs version or commit**

**Git version**

[code]

**Operating system**

**Database**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Can you reproduce the bug at https://try.gogs.io?**

**Expected behavior**

**Actual behavior**

**Screenshots**

**Additional context**

[2020-03-27 12:59] #6023 closed

[2020-03-28 06:50] roberChen commented on #4631
I hope that this feature can be implement quickly since this is a really important function for developing project based on an online git server.

[2020-03-28 13:06] christopherstock commented on #1644
Any updates on this major missing feature in Gogs? :D <3

[2020-03-28 13:56] #6012 closed

[2020-03-28 19:20] unknwon commented on #5917
https://github.com/manifoldco/promptui

[2020-03-29 02:11] yohix opened #6028 "Admin (Progress/Performance) bar Implementation"
**Describe the feature**

It would be great if Gogs have Admin (Progress/Performance) bar in the top of the screen

**Describe the solution you'd like**

With the help of the admin bar, the admin can see their platform performance like

Admin can disable the Admin bar using the keyboard shortcut, GitHub and GitLab use `pb` as a shortcut.

- Current working branch
- Version of Go
- Total Render Tim

[2020-03-29 03:53] onedou opened #6029 "template: repo/diff/box:82:21: executing "repo/diff/box" at <call $.IsImageFile $file.Name>: error calling call: revision does not exist"
template: repo/diff/box:82:21: executing "repo/diff/box" at <call $.IsImageFile $file.Name>: error calling call: revision does not exist

[2020-03-29 03:59] zTrix commented on #6029
Just got same issue here. To provide more information, the situation occurred when creating pull request, when selected some branch and click that, the page jumped and showed something like this:

<img width="622" alt="2020-03-29_11-57" src="https://user-images.githubusercontent.com/471934/77839964-8bb26e00-71b4-11ea-88da-6f0bd8294255.png">

[2020-03-29 05:30] unknwon commented on #6028
Thanks for the idea!

Since they both written in Rails, some of them do not apply to a Go application, more specifically, not apply to Gogs.

Few points I think might worthing showing (I assume they all scope to current request):
- Number of SQL queries executed
- Number of Go Routines spawned
- Number of Git calls
- Number of cache hits/missed

[2020-03-29 05:47] unknwon commented on #6029
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-03-29 05:47] #6029 closed

[2020-03-29 13:06] yohix commented on #6028
Great @unknwon,

What about the current working branch?

I think it is always in `master` branch!

Then why GitHub shows the branch in it :thinking:

[2020-03-29 13:08] unknwon commented on #6028
Haha, I don't know, you may have to email support@github.com for an answer, LOL.

[2020-03-29 13:13] yohix commented on #6028
Instead of showing the branch Gogs can show the current version, like GitHub Enterprise shows!

[2020-03-29 13:19] unknwon commented on #6028
Build version (commit, Go, app) is static and not request specific, I don't think it's worth showing them in the performance bar. Besides, they're in the admin dashboard already.

[2020-03-29 13:31] yohix commented on #6028
I like to work on this Issue! I'll submit basic PR tonight IST 😎

[2020-03-29 14:04] zTrix opened #6034 "Failed to display commit with template error"
When creating pull request by click "New Pull Request" button, gogs shows a web page for selecting base branch and compare branch. However after selecting the compare branch, the web page always jump to some error page like showed below.

<img width="622" alt="2020-03-29_11-57" src="https://user-images.githubusercontent.com/471934/77850913-415adc80-7208-11ea-94a4-565b99c5396e.png">

**Git version*

[2020-03-29 14:25] unknwon commented on #6028
It is quite hard to gather these info in current Gogs, good luck :) But we can always start small and do incremental improment.

[2020-03-29 14:32] zTrix commented on #6034
Just tried `docker pull gogs/gogs:0.11.91` and everything goes ok.

[2020-03-29 16:13] unknwon commented on #6034
Thanks for the feedback!

Are you doing cross-repo PR or within the same repository?

[2020-03-29 23:18] zTrix commented on #6034
Same repo.

[2020-03-30 00:57] xZero707 commented on #6034
Having the same issue with my instance of Gogs.
In my case it also occurs when I click on some specific commits.

Following is for branch compare:
`template: repo/diff/box:82:21: executing "repo/diff/box" at <call $.IsImageFile $file.Name>: error calling call: revision does not exist`

When I click on some commit (the same error):
eg. https://git.example.com/Someone/SomeRepo/commit/964f4a07d55b3a7

[2020-03-30 01:39] onedou commented on #6034
My situation is:
First
![image](https://user-images.githubusercontent.com/3422640/77867496-143f1600-726a-11ea-8992-820552216a54.png)
Then
![image](https://user-images.githubusercontent.com/3422640/77867522-2e78f400-726a-11ea-8f45-7960eec16be0.png)

[2020-03-30 04:36] unknwon commented on #6034
@onedou only this specific commit has this problem, or all commits? Would you mind post the patch of the commit here?

[2020-03-30 06:39] onedou commented on #6034
only this specific commit @unknwon

[2020-03-30 06:42] unknwon commented on #6034
OK, would you mind post the patch of the commit here?

[2020-03-30 06:43] onedou commented on #6034
http://git.bel.org.cn/big/school-chat/commit/bcb722edd2f8fbdaf2b9c8449a7f8c6c0ef352a1 @unknwon

[2020-03-30 07:40] zTrix commented on #6034
Another commit resulting the same error: http://git.bel.org.cn/big/school-chat/commit/d3ec1322f3d1b2daf5d827e4a668f50c55c51f7c

[2020-03-30 07:58] unknwon commented on #6034
Awesome! Thanks @onedou and @zTrix, will look into this tonight.

[2020-03-30 10:02] zTrix commented on #6034
After some debugging, I think this is a upstream bug of  https://github.com/gogs/git-module

The issue happens when there are `rename` operation in git repo.

[2020-03-30 10:41] xZero707 commented on #6034
@zTrix Then it makes sense. I've done a lot of refactoring recently, including renaming. That explains semi-random occurrence.
Btw amazing work. Never seen anyone looking into issue this fast!
So, should we create a new issue on gogs/git-module ?

[2020-03-30 11:21] zTrix commented on #6034
Agreed.

I think the following steps should be a minimal setup for reproducing the issue:

1. create a new git branch from some existing repo
2. git rename some file and commit
3. visit http://127.0.0.1:3000/<repo>/<project>/compare/master...<repo>:some_branch

[2020-03-30 12:01] unknwon commented on #6034
No need, that's just a subproject of Gogs.

[2020-03-30 13:04] zTrix commented on #6034
Actually for old working version (maybe git-module@0.8.3), when some git rename happens, `IsImageFile` would not handle the logic either. However, the old version `IsImageFile` just ignores the err and returns `false`, that's why this issue only occurs now.

https://github.com/gogs/git-module/blob/f29bce1e3a666c02175d080892be185405dd3af4/commit.go#L79

[2020-03-30 13:48] xZero707 commented on #5939
I can help with that. Starting on it ASAP.

[2020-03-30 17:06] unknwon commented on #5939
@xZero707 thank you!

[2020-03-30 18:15] unknwon commented on #6034
Good find!

[2020-03-30 19:17] unknwon commented on #6034
Tracked down the root issues (actually two bugs), with some improvements about handling file rename. PR coming soon.

[2020-03-30 20:51] #6034 closed

[2020-03-30 20:52] unknwon commented on #5056
Should be fixed by https://github.com/gogs/gogs/pull/6048.

[2020-03-30 20:52] #5056 closed

[2020-03-30 20:54] unknwon commented on #3289
Fixed by https://github.com/gogs/gogs/pull/6048.

[2020-03-30 20:54] #3289 closed

[2020-03-30 20:56] unknwon commented on #6034
It now works! https://try.gogs.io/unknwon/template-error/commit/d3ec1322f3d1b2daf5d827e4a668f50c55c51f7c

[2020-03-30 22:54] ElleshaHackett commented on #5939
Nice :)

[2020-03-30 23:59] zTrix commented on #6034
Great! Thanks!

[2020-03-31 08:33] BigGitWorld opened #6050 "[TRACE] SSH: Handshaking for <IP>:<PORT>"
Hello everyone.
I installed the Gogs in my VPS successfully and it is working fine.
But I don't know what is the below messages in the logging when run the Gogs by ``./gogs web``.
Where the ``<ip-X>`` and ``<port-X>`` are unknown for me!
These messages are repeated periodically.
[code]
What is this?Is this a **Security vulnerability** in the Gogs?

[2020-03-31 09:34] unknwon commented on #6050
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-03-31 09:34] #6050 closed

[2020-03-31 18:10] xZero707 commented on #6034
Wow. You're amazing! Thanks a lot!

[2020-04-01 01:22] ranforce commented on #5933
Thank you, 0.11.91 will be much better.

[2020-04-01 01:30] ranforce commented on #5933
I used cron to pull gogs/gogs:latest like this:
[code]
And I found this issue and thoung the tag latest was not designd to be stable ,then drop cron.
Thanks anyway.

[2020-04-01 09:54] sherlockbear opened #6052 "合并请求出现500报错"
**Describe the bug**

尝试进行库合并时，都会跳转至500界面
甚至派生库界面点击合并请求即会发生报错

某次的报错如下：
An error has occurred : AddRemote: exit status 1 - ssh: Could not resolve hostname f: \262\273\326\252\265\300\325\342\321\371\265\304\326\367\273\372\241\243 fatal: Could not read from remote repository. Please make sure you have the correct access rights and the repository exists. error: Could not fetch 1585733088740218900

[2020-04-01 10:07] lbwlyt opened #6053 "http://1.119.134.166:36000/rptrs/rptrs-jep.git"

[2020-04-01 13:51] unknwon commented on #6052
Do you have problem just with this single repository, or every repository on your Gogs instance?

[2020-04-02 05:41] sherlockbear commented on #6052
Every repository.

[2020-04-02 05:46] sherlockbear commented on #6052
And I encounter this issue through every version of gogs that I have ever updated.

[2020-04-02 09:04] unknwon commented on #6052
Thanks, it looks like it is a problem with Windows or Windows settings.

How did you set up your Gogs? Please provide every step with the command.

[2020-04-02 09:53] sherlockbear commented on #6052
I think I followed the instructions of the official website step by step. Now it has been more than a year since I set up, and I can't clearly remember the specific operation at that time.

[2020-04-02 09:59] unknwon commented on #6052
Gotcha. Could you try to set up with the latest master again see if anything changed? Otherwise I think I’ll be helpless.

[2020-04-02 11:10] sherlockbear commented on #6052
OK, let me try.

[2020-04-02 12:19] sherlockbear commented on #6052
I found some useful stuff here <https://zhuanlan.zhihu.com/p/81039716>.

I refer to it, and now the error has become

An error has occurred : AddRemote: exit status 1 - ssh: Could not resolve hostname f: Name or service not known fatal: Could not read from remote repository. Please make sure you have the correct access rights and the repository exists. error: Could not fetch 1585829896502184400

H

[2020-04-02 12:26] MohammadMehdiLotfi opened #6054 "How to use stored files by gogs in some specific repository??"
is this possible to access files that created by gogs, on server??
i mean comitted files and changes???

[2020-04-02 12:33] unknwon commented on #6052
Thanks for the link! Does your file system path contains non-ASCII characters?

[2020-04-02 12:34] unknwon commented on #6054
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-04-02 12:34] #6054 closed

[2020-04-02 12:38] sherlockbear commented on #6052
Nope, here is the config

![2020-04-02_远程桌面_82](https://user-images.githubusercontent.com/20009607/78250058-e1bf4280-7521-11ea-8c1b-3268af0e7d37.png)

[2020-04-02 12:46] unknwon commented on #6052
I think the problem is your SSH installation believes `F:/` is an URL not a file path. BTW, the config file does not look like you've had a fresh Gogs installation from the latest `master`.

[2020-04-02 12:50] sherlockbear commented on #6052
Yepe, I just try reinstallation in a new folder but it wasn't help. So I change back to the older one.

[2020-04-02 13:00] sherlockbear commented on #6052
Should I supposed to know? 🤣

[2020-04-02 13:16] unknwon commented on #6052
Hmm, if you're using "VS Code Remote Development", then it could be related.

[2020-04-02 13:27] sherlockbear commented on #6052
Is there a conflict between them? But shouldn't VScode RC be just a plugin？

[2020-04-03 17:09] pycycle opened #6057 "PGSQL auth fails"
**Describe the bug**
When configuring the PostgreSQL database I see the following error:
[code]
As fare as I can tell the error only shows up if I use SCRAM-SHA-256 authentication for the database. After some googling I assume that the currently used pg library does not support this authentication.
Could you possibly verify if this is the problem and if so, are there plans to update the pg library

[2020-04-04 09:50] alpencrossi commented on #5977
I'd like to open a PR with something like:

`[cron.update_mirrors] SCHEDULE`
SCHEDULE defines how often the mirror syncer checks if any mirror needs to be synchronized (based on the mirror update interval)

`[mirror] DEFAULT_INTERVAL`
Defines (in hours) the default interval until the next synchronization for a mirror (after a successful mirror sync). Can be overridden individually for each mirror

[2020-04-04 16:14] #1322 closed

[2020-04-04 16:45] unknwon commented on #1322
HTTP support has been added to the `master`, so far is a very preliminary version. I'm able to follow https://github.com/git-lfs/git-lfs/wiki/Installation and https://github.com/git-lfs/git-lfs/wiki/Tutorial to push and pull LFS objects in my test repository.

I will continue iterating LFS support in the coming weeks. Things on my plan before 0.12 release:
1. Request ID for easier debuging
2. Opti

[2020-04-04 17:28] unknwon opened #6063 "LFS: Support SSH authentication"
### What is missing?

The `git-lfs-authenticate` command:
[code]

### What is the problem?

We do not and simply can not just response user's true username and password in the response JSON, thus we have to have a way to generate and recycle token (ideally with scopes, for this case `"scopes": ["lfs"]`) with lifetime.

### Implementation notes

Assuming we have recyclable token system in place, we

[2020-04-04 17:44] unknwon opened #6064 "LFS: Support file locking APIs"
### Implementation notes

1. Add new routes `r.Post("/locks"...`:
https://github.com/gogs/gogs/blob/bae1d6ccd81cd427382a2456e7c3646bdac9cf46/internal/route/lfs/route.go#L22

2. Add a new table `lfs_file_lock`:

[code]

---

Ref: https://github.com/git-lfs/git-lfs/blob/master/docs/api/locking.md

[2020-04-04 17:55] unknwon opened #6065 "LFS: Support storing objects on OSS"
### What is the problem?

Currently, [it is hard-coded to store LFS objects to local file system](https://github.com/gogs/gogs/blob/bae1d6ccd81cd427382a2456e7c3646bdac9cf46/internal/db/lfs.go#L51). However, LFS objects are prefect use cases for OSS (Object Storage Service) like S3.

### What is missing?

We should first abstract out LFS storage, roughly an interface (NOT final):

[code]

[2020-04-04 21:19] unknwon commented on #6057
Hi, thanks for the feedback!

The latest `master` uses `lib/pq` v1.3.0 which should have SCRAM support:  https://github.com/gogs/gogs/blob/bae1d6ccd81cd427382a2456e7c3646bdac9cf46/go.mod#L35

[2020-04-04 21:19] #6057 closed

[2020-04-05 06:48] eightpigs opened #6067 "Using root to create /data directory in docker causes permission error"
**Describe the bug**

**Gogs version or commit**

[07818d5f](https://github.com/gogs/gogs/commit/07818d5fa5aef7dd7dca1d556f59c7a146a9b00c)

**Git version**

[code]

**Operating system**

Alpine Linux (Docker)

**Database**

MySQL

**To Reproduce**
Steps to reproduce the behavior:
1. Non-root users (docker group) create directories: ./gogs/data
2. The Volumes : `./gogs/data:/data` in docker-compose

[2020-04-05 12:48] eightpigs commented on #6067
<img width="742" alt="add ssh_key bug" src="https://user-images.githubusercontent.com/7269913/78498752-c7ce6b80-777e-11ea-9708-303ca54aa30d.png">

[2020-04-06 06:48] #5977 closed

[2020-04-06 06:52] Sauermann commented on #5977
Thank you for resolving this issue!

[2020-04-06 13:56] cryobry commented on #1062
+1. I rarely use the gogs GUI, I use gogs as a bare repo manager that happens to ship with a nice web-based GUI. Being able to handle everything from the command line would be ideal.

[2020-04-06 15:41] Jacox98 opened #6074 "Broken LDAP Auth"
**Describe the bug**
Hello,
I noticed a problem with the configuration and use of the LDAP server.
When trying to edit or add a method the server responds with the following error
An error has occurred: sql: Scan error on column index 5, name "cfg": unsupported Scan, storing driver.Value type [] uint8 into type * core.Conversion

The fact is highly blocking because it makes the platform unusable,

[2020-04-06 15:54] unknwon commented on #6074
Thanks for the feedback! I've reproduced on my dev machine, working on fix now.

[2020-04-06 16:29] #6074 closed

[2020-04-06 16:29] unknwon commented on #6074
Patch has been merged to `master`, please wait for ~20mins for Docker Hub to finish building the new image.

[2020-04-06 22:25] teknofile commented on #5032
And also with MariaDB 10.4.12

`# mariadb --version
mariadb  Ver 15.1 Distrib 10.4.12-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
`

[2020-04-06 22:45] ly4096x commented on #2050
+1

[2020-04-07 07:03] Jacox98 commented on #6074
Hi thanks for the quick fix, but I seem that the image is always broken even by downloading it again from the docker hub

[2020-04-07 07:12] #6067 closed

[2020-04-07 07:12] unknwon commented on #6074
Hmm... which image version have you pulled to your local machine?

[2020-04-07 07:15] unknwon commented on #6074
OK, looks like Docker Hub has been failing to build image since yesterday, let me see what's going on.

[2020-04-07 09:29] unknwon commented on #6074
Docker Hub seems taking forever to build an image :(

[2020-04-07 10:33] Jacox98 commented on #6074
Ouroboros has updated the container now everything works thanks a lot.
Good day

[2020-04-07 12:06] alpencrossi commented on #5961
I think the same applies to the wiki settings when **Use external wiki** is selected and also if the wiki or the issues are disabled.

Could be fixed in the **where clause** while fetching the repos.
https://github.com/gogs/gogs/blob/6a096811ffb658f575525921fd49bd7f4f0d45a5/internal/db/repo.go#L1784-L1787
Pro: User settings don't have to be changed. Con: Additional checks have to be evaluated each

[2020-04-07 12:18] unknwon commented on #5961
@alpencrossi Thanks! I think flip to false on write is more desirable, given this issue is also not critical/blocker.

[2020-04-07 13:38] mhshd commented on #4718
I had the same issue. I used these commands and it worked:
git remote remove origin
git remote add origin https://github..com/user/repo
git push --set-upstream origin master

source : [https://stackoverflow.com/questions/15240815/git-fatal-the-remote-end-hung-up-unexpectedly](url)

[2020-04-08 08:57] juja256 commented on #308
+1

[2020-04-08 20:16] #5961 closed

[2020-04-09 15:12] Bappy1988 opened #6082 "Cannot run on docker on windows"
I have tried to run the gogs docker image on my windows 10 docker machine and whatever way I try to run it I get the following error;

[code]
I've tried all the ways in the readme for creating a volume, and even tried sharing a local drive path, run as admin or regular user, always the same.

Any ideas?

[2020-04-09 15:15] ibearth2025 commented on #6082
On Thu, 9 Apr 2020 at 8:43 PM, Bappy1988 <notifications@github.com> wrote:

Yes , you have to allow chmod permission or they to run it by allowing in
in administrator mode

[2020-04-09 15:20] Bappy1988 commented on #6082
ah, any advice on how to do that?  I've created a docker volume called gogs-data as per the instructions and theres no info on chmod??

[2020-04-10 11:15] unknwon commented on #6082
Hi @Bappy1988 I don't use Windows on daily basis, and never used Docker on Windows. It's probably way easier to just download and run the compiled binaries from https://github.com/gogs/gogs/releases.

With that said, thanks @ibearth2025 for the tip, but unfortunately, I have no answer to that.

[2020-04-10 11:17] unknwon commented on #6082
This commit (https://github.com/gogs/gogs/commit/f3b05961aae82fa3e19c47f03c78974cf793fda3) could be related, but I'm not knowledge to offer any useful help here :(

[2020-04-10 14:14] unknwon commented on #6065
`Storager` interface has been added since https://github.com/gogs/gogs/commit/9a5b227f3ee2b2a3854d3aec022cc9a0cf0868b3:
https://github.com/gogs/gogs/blob/9a5b227f3ee2b2a3854d3aec022cc9a0cf0868b3/internal/lfsutil/storage.go#L19-L31

[2020-04-10 14:59] unknwon commented on #6082
Should be fixed by https://github.com/gogs/gogs/pull/6085, Docker Hub takes about 30 mins to build a new image.

[2020-04-10 14:59] #6082 closed

[2020-04-10 23:49] Starwars63 opened #6089 "triton.inf-cv.uni-jena.de/LifelongLearning/gpEMOCreg."

[2020-04-11 08:31] chickenandpork opened #6091 "ORM engine: migrate schemes: duplicate column name: id"
**Describe the bug**
Gogs is exiting fatally with a error containing the text at subject:
[code]

**Gogs version, commit or Docker image SHA**
broken:  Gogs 0.12.0+dev    gogs/gogs:8be46f3aa2ce
working:  Gogs 0.12.0+dev    gogs/gogs:39ac52096fc8

**Git version**
`git version 2.22.2` from inside the docker image

**Operating system**
Alpine Linux v3.10.4 from inside the gogs/gogs container

**Datab

[2020-04-11 10:06] unknwon commented on #6091
Thanks for your high quality bug report ❤️

It is interesting that SQLite3 breaks on auto migration... because unit tests are ran against a real SQLite3 backend 🤦 Let me see what's going on...

[2020-04-11 10:28] unknwon commented on #6091
Hmm, I just pulled gogs/gogs:8be46f3aa2ce (the current gogs/gogs:latest), can I can restart the container as many times as I want, with SQLite3 as database. Something is missing from my environment.

[2020-04-11 11:12] #5992 closed

[2020-04-11 14:22] nricheton commented on #6091
Hello,

I got the same issue here today :
Using Gogs with Docker,  image goes/gogs:latest, with sqlite3 database.

Updated today to  image c275d7ee307e /  git rev 41f56ad05d12520bb90f91889fa979465d0b3d6b

Gogs cannot start with the following errors in log :

**gogs.log**
[code]

**gorm.log**
`2020/04/11 14:15:27 [err] [gogs.io/gogs/internal/db/db.go:161] duplicate column name: id
`

My last previo

[2020-04-11 14:31] unknwon commented on #6091
Thanks @nricheton! Would you be able to dump your SQLite3 table schemas out of your Docker container? My current guess is that there are legacy columns somehow causes GORM to have problems.

[2020-04-11 14:44] nricheton commented on #6091
Hi @unknwon

Here is the dump :
`
CREATE TABLE `user` (`id` INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, `lower_name` TEXT NOT NULL, `name` TEXT NOT NULL, `full_name` TEXT NULL, `email` TEXT NOT NULL, `passwd` TEXT NOT NULL, `login_type` INTEGER NULL, `login_source` INTEGER DEFAULT 0 NOT NULL, `login_name` TEXT NULL, `type` INTEGER NULL, `location` TEXT NULL, `website` TEXT NULL, `rands` TEXT NULL,

[2020-04-11 14:45] unknwon commented on #6091
Thank you very much! I'm taking a look.

[2020-04-11 15:18] unknwon commented on #6091
@nricheton I looked down the root problem, which is GORM thinks the `id` column does not exist by the way it queries the SQLite3 DB, and it could be caused by the file format has changed since your Gogs instance created the SQLite3 DB.

Could you run this query and post the result here?
[code]

[2020-04-11 15:45] #6091 closed

[2020-04-11 15:45] unknwon commented on #6091
The latest `master` now only uses GORM to create tables when they are not exist, so should resolve the immediate problem. Docker Hub takes ~30 mins to build a new image.

[2020-04-11 16:07] nricheton commented on #6091
Here is the result :

[code]

[2020-04-11 16:16] nricheton commented on #6091
gogs/gogs:latest image with the fix works.
Thank you @unknwon  !

[2020-04-11 17:19] SurtursRevenge opened #6093 "RPM from Packager.io installes wrong Build"
Hello,

i am trying to install gogs stable on centos 7 via repository from packager.io (https://packager.io/gh/gogs/gogs/builds/221/install/centos-7)

The package is tagged as version  0.11.91 but 1.12+dev version gets installed with this package.
What am i doing wrong ? This happens on update with yum and also on fresh install.

[2020-04-11 21:28] unknwon commented on #6093
It's the the current version per se, packager.io uses the latest tag for some reason.

[2020-04-11 21:28] #6093 closed

[2020-04-11 21:44] unknwon commented on #6091
@nricheton Good to know it works :)

For the record, the way GORM to determine if a column exists in SQLite3 (didn't check other dialects) is pretty buggy as of v1.9.12. It will try to find both `sql LIKE '%"id" %'` and `sql LIKE '%id %'` but not "id" with backquotes and could over match other columns ends "id" (e.g. "uid").

[2020-04-12 01:17] chickenandpork commented on #6091
wow, that's a fast fix.  Thanks!

[2020-04-12 15:37] ruianderson commented on #5877
Hey, I want to start contributing to gogs. Can I take this one? If not recommended as a first issue, is there any other I could take?

[2020-04-12 18:19] Izzette commented on #4631
Me too I'd love this feature !  It feels like a no-brainier to me, but maybe it's just the workflow I'm used to.

### :+1:

[2020-04-12 18:52] unknwon commented on #5877
@ruianderson Thanks for asking! You can give it a try, and post questions here or on Discord.

[2020-04-13 13:45] showgp opened #6096 "Webhook doesn't auto-trigger when using gogs docker image"
**Describe the bug**

Webhook is not triggered automatically when use the latest version of gogs docker image.

**Gogs version, commit or Docker image SHA**

The output of `docker image inspect gogs/gogs` command:

[code]

**Operating system**

Centos 7.0

**Database**

MySQL

**To Reproduce**
Steps to reproduce the behavior:

1. create & run the gogs container (latest version):
[code]
1. create &

[2020-04-13 14:32] unknwon commented on #6096
Thanks for your high quality bug report ❤️

---

1. Have you turned on "Require sign-in view" during installation?
2. Could you provide logs in the `/data/gogs/log/hooks/post-receive.log` (path inside your Docker container)?

[2020-04-13 23:39] brandonpoc opened #6098 "Fall back to default time format when misconfigured"
**Describe the bug**
In Ubuntu 16.04.6 LTS, with the latest gogs release (gogs 0.11.91-1586665127.d19287d5.xenial), the service fails to start because a dependency, the gogs web server, fails with the following errors:

2020/04/13 23:36:20 [FATAL] [...i3d/opt/gogs/internal/cmd/web.go:161 runWeb()] Failed to initialize application: init configuration: unrecognized '[time] FORMAT':

FIX: Commenting

[2020-04-14 01:41] unknwon commented on #6098
Thanks for your high quality bug report ❤️

---

I think this is packager.io specific problem, but the workaround is easy, just fall back to use `time.RFC3339`:
https://github.com/gogs/gogs/blob/659acd48b1a131476fd98a54604fa6416b1cef9d/internal/conf/conf.go#L296-L297

PR is welcome :)

[2020-04-14 03:55] unknwon commented on #5615
I believe this is now resolved in `master`.

[2020-04-14 03:55] #5615 closed

[2020-04-14 03:56] unknwon commented on #5179
I think this is addressed long time ago, closing.

[2020-04-14 03:56] #5179 closed

[2020-04-14 22:00] #5877 closed

[2020-04-14 23:49] ly4096x opened #6104 "`sshd` starts regardless of whether `START_SSH_SERVER` is set or not when running in docker"
**Describe the bug**

When running in docker, `sshd` starts regardless of whether `START_SSH_SERVER` is set or not.

**Gogs version and commit**

083ecb7244486d530ddc8587b6b4776d21616353

**Git version**

2.22.2

**Operating system**

CentOS 8 with Docker

**Database**

SQLite

**To Reproduce**

Steps to reproduce the behavior:
1. Set `START_SSH_SERVER = false` in `app.ini`
2. Start the container

[2020-04-14 23:53] unknwon commented on #6104
Thanks for your high quality bug report ❤️

---

OpenSSH is a separate application from Gogs, so Gogs's configuration does not and should not have effect on it. And in fact `START_SSH_SERVER = false` is made for builtin SSH server.

If you don't want to expose SSH access to your Gogs instance, you can simply not expose the SSH port when you start the Docker container.

[2020-04-14 23:53] #6104 closed

[2020-04-15 16:09] cryobry commented on #5035
I just ran into this problem and fixed it by killing the `git fsck` process. I am running on gogs on a very thinly-provisioned web server and whenever `git fsck` is started it locks the database and I cannot push commits. I am guessing that this process finishes quickly on most machines but on my server it can take hours. There are some gogs config settings that allow you to configure if/when `git

[2020-04-15 16:55] glamax13 opened #6108 "[DOCKER] Looping after configuration: Log mode: File (Info)"
Building on my development computer when well.
But i am currently trying to deploy a gogs container with docker on my production server and it stays stuck on with the message:
2020/04/15 15:31:51 [TRACE] Log mode: File (Info)

Environment:

Following this command:

and after having correctly configured the database connection (wrong settings fails correctly), then:
I am supposed to be welcome with

[2020-04-15 17:04] #6108 closed

[2020-04-15 17:07] glamax13 commented on #6108
I don't know what it was but i just append to deleted my production docker environment, refresh the postgres image, used simple testing logins and it just append to... work?! I might reopen it if it fails again.

[2020-04-16 16:36] HelloWorldlsla opened #6109 "Require_Signin_view does not work"
I installed gogs with `docker pull gogs/gogs`.
Then I run it.
Then I opened my browser (which is always in anonymous) in `localhost:8080/install`
I enabled the `Require_Signin_view` option, configured the Database to sqlite3 and clicked on Finish.
I created a new git repository (in public mode) and a new account (called toto).

I logged out and closed the browser. Then i opened it again and I open

[2020-04-16 17:53] unknwon commented on #6108
FYI, log goes into `/app/gogs/log/gogs.log`.

[2020-04-16 17:54] unknwon commented on #6109
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

---

FYI, this option requires restarting Gogs 😞

[2020-04-16 17:54] #6109 closed

[2020-04-16 17:55] #6096 closed

[2020-04-17 00:48] lian88jian opened #6111 "配置文档地址是什么...以前的不行了."
配置的文档在哪. 找不到了.
之前找到的是 https://gogs.io/docs/advanced/configuration_cheat_sheet
现在不行了

[2020-04-17 02:15] unknwon commented on #6111
https://github.com/gogs/gogs/blob/master/conf/app.ini

[2020-04-17 02:15] #6111 closed

[2020-04-17 03:13] eightpigs commented on #5739
Supplement, view the raw of the symbol file:

`gogs  | 2020/04/17 11:01:35 [ERROR] [.../internal/route/repo/download.go:54 SingleDownload()] get blob: the entry is not a blob`

![image](https://user-images.githubusercontent.com/7269913/79528176-e1838300-809b-11ea-8a87-c870602450c3.png)

[2020-04-17 11:27] jukisu23 opened #6114 "Repository browsing still very slow"
When I open any repository it takes a very long time.
For a full repo with a lot of files it's around ~8min and for a completely empty repo it still takes ~25sec.
Anything unrelated to repositories responds very fast (eg settings, profile,...)

[code]
2020 Gogs Version: 0.11.91.0811

**Operating system**
Windows Server 2012 on local Network

**Database**
10.4.11-MariaDB

**To Reproduce**
1. Go to

[2020-04-17 18:13] unknwon commented on #6114
Thanks for the feedback!

I think this is duplicated to https://github.com/gogs/gogs/issues/1518.

[2020-04-17 18:13] #6114 closed

[2020-04-17 18:39] unknwon opened #6115 "auth: convert `LoginSource` to be an interface"
Draft interface:

[code]

## TODOs

- Get rid of `LoginVia*` functions.
- Call of `Authenticate` should only validate/return user credentials, do not couple user creation process inside authentication.
- Add additional unit tests for `Users.Authenticate` method.

[2020-04-18 00:15] kousikmitra commented on #6098
If no one has worked on this I would like to raise a PR!

[2020-04-18 02:12] unknwon commented on #6098
@kousikmitra That would be great, thank you!

[2020-04-18 02:40] unknwon opened #6117 "Proposal: Remove `db.User.LoginType` field"
The [only use case of this field](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/gogs/gogs%24%40master+.LoginType+&patternType=literal) is to help determine if a user is a local account, i.e.

https://github.com/gogs/gogs/blob/fa497b16332c24bc4d9e788c64bda94e3c1499a7/internal/db/user.go#L143-L146

The same thing can be achieved by the following:

[code]

Thus, propose to remove this field.

[2020-04-18 04:09] unknwon opened #6118 "Render issue links in commit messages"
https://github.com/gogs/gogs/blob/9d64d222a8c30db5076a591981ad7cfe672ba6f1/internal/route/repo/commit.go#L37-L39

Blocked by https://github.com/gogs/gogs/issues/5921

[2020-04-18 05:39] unknwon commented on #3340
Chrome's DevTools to explore the accessibility tree: https://developers.google.com/web/tools/chrome-devtools/accessibility/reference#pane

[2020-04-18 07:19] #6098 closed

[2020-04-18 07:58] kousikmitra commented on #6117
@unknwon would like to work on this!

[2020-04-18 08:01] unknwon commented on #6117
Thanks @kousikmitra!

[2020-04-18 12:28] DrJHD opened #6121 "Error when starting does not appear in systemd output"
To replicate:
Create a new Debian server.
Enable ssh on the server generally.
Install gogs according to the instructions with internal ssh disabled.
Install the gogs.system file per the documentation.
Reboot to confirm that gogs starts automatically.
Edit app.ini to enable the internal ssh server.
Restart gogs using systemctl.
Immediate use of systemctl status gogs will show it starting, but after

[2020-04-18 15:55] unknwon commented on #6121
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-04-18 15:55] #6121 closed

[2020-04-18 19:28] xZero707 commented on #5939
_Just small update:_
I was kept very busy recently, so this is slightly delayed, however, I expect to deliver this quite soon.
Currently working on retention policy and rotation.

[2020-04-18 20:43] #6117 closed

[2020-04-19 06:43] unknwon opened #6124 "Proposal: Introduce concept of application cache"
As of now (0.12.0+dev), there is no application data is cached, everything is recomputed on every single request. It has caused pains in viewing large repositories in particular https://github.com/gogs/gogs/issues/5455.

Rough ideas:
1. Macaron's cache middleware could be used
2. Add additional support for https://github.com/golang/groupcache

[2020-04-20 14:46] lisihe opened #6125 "config ''C:/gogs/custom/conf/app.ini'' not found"
在`authorized_keys`文件中生成的指令
[code]
中`'C:/gogs/custom/conf/app.ini'`多一对引号。
如果有这个引号，ssh执行时会报
```Custom config ''C:/gogs/custom/conf/app.ini'' not found, ignore this if you're running first time```
错误，这样ssh提交就一直失败。
如果手动修改`authorized_keys`文件，将多余的一对引号出掉就不会报错。
gogs将`'C:/gogs/custom/conf/app.ini'`整个字符串当做文件名查找了。
请问有解决方案吗？

[2020-04-20 20:33] kousikmitra commented on #6064
@unknwon would like to pick this one! Can you give some context about this use case?

[2020-04-20 23:37] unknwon commented on #6064
@kousikmitra

Everything I have it the official document: https://github.com/git-lfs/git-lfs/blob/master/docs/api/locking.md, and as far as I understand, this file locking API is based on "good faith".

Unless the server (i.e. Gogs) could identify individual files that are being pushed, which by itself is a hard work IMO (but we don't need to care about this for implementing file locking APIs).

[2020-04-20 23:40] unknwon commented on #5939
Thanks for the update @xZero707!

Yeah, I don't think minute basis is practical and as useful. And retention based on days makes most sense to me.

[2020-04-21 02:32] loved3d opened #6126 "hooks can not work in a mirror repository"
**Describe the bug**
hooks can not work in a mirror repository

**Gogs version and commit**
Gogs: 0.11.91.0811

**Git version**
git version 2.17.1

**Expected behavior**
Hooks can take effect in the mirror repository

[2020-04-21 04:14] unknwon commented on #6126
Webhook or githook? If it's a git hook, which hook in specific?

[2020-04-21 04:16] unknwon commented on #6125
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-04-21 04:16] #6125 closed

[2020-04-21 04:58] loved3d commented on #6126
git hook. maybe post-receive. Actually I don't know what hooks can be triggered when the repository is synchronized?

[2020-04-21 05:02] unknwon commented on #6126
I guess that is the `post-merge`, which is not currently supported. Ref: https://gist.github.com/sindresorhus/7996717

[2020-04-21 05:28] loved3d commented on #6126
I know that the command to update the mirror repository is `git remote update`

and the gogs does the timing update function, I'm not sure if `post-merge` right.

[2020-04-21 05:35] unknwon commented on #6126
Which of current three git hooks you have tried?

[2020-04-21 05:51] BokalaQuan opened #6127 "Windows版本Pull Request自动合并时提示需要冲突，本地合并无冲突"
如题，OS版本为WIN10家庭版，DB为PostgreSQL10，Gogs版本为0.11.91.0811

[2020-04-21 05:51] loved3d commented on #6126
I check the Sync Now button on the Mirror Settings, and None of the three git hooks are working.

[2020-04-21 06:19] unknwon commented on #6127
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-04-21 06:19] #6127 closed

[2020-04-21 09:02] ElleshaHackett commented on #5939
Looks good. I would suggest to suggest more dynamic input. For example is "h", I would like to make a back-up every 2-4 hours when I have many developers actively changing stuff. Just for the sake of not loosing the work. I would allow any hour input. Maybe to simplify allow integer input only on both values, for example in hours.

[2020-04-21 12:14] aice09 opened #6129 "[Features] Hosted Repo :)"
**Describe the feature**

Is their way to host repository in gogs, the same way the the Github do it but also execute other language like .py .php that Heroku do it?
1. Hosted a website like github pages
 e.g. repo1.localhost:3000
2. Enables to run other language to hosted website like Heroku that run .php, .py, .go etc
3. Enable database connection of hosted repo
4. Enable custom domain

**Descri

[2020-04-21 12:42] rajvijay68 commented on #1324
Any solution to this? This problem occurs randomly. Once I restart my system, it starts working.

[2020-04-21 13:36] unknwon commented on #6129
Thanks for the suggestion! However, I think this is far beyond what Gogs is intended. You should instead use whatever tool good at doing hosted repo and connect to Gogs.

[2020-04-21 13:36] #6129 closed

[2020-04-21 17:45] achilleas-k commented on #1692
Org and team management endpoints are currently available only for site admins (under the `/admin` path).  I think these should be made available for all org owners.

I can prepare a PR if you agree.

[2020-04-21 20:55] unknwon commented on #6126
Whoever wants to take a look on this, please first verify `post-merge` is the right Git hook after executing `git remote update`.

[2020-04-21 20:57] unknwon opened #6130 "Support HTTP Git protocol v2"
"Git-Protocol" HTTP header and use its value as the "GIT_PROTOCOL"
environment variable :)

_https://github.com/sourcegraph/sourcegraph/issues/10045#issuecomment-617403753_

https://github.com/sourcegraph/sourcegraph/pull/10278/files#diff-9d44f2c3343c4ce9fff4473aa0f20a26R97-R99

Docs from GitLab: https://docs.gitlab.com/ee/administration/git_protocol.html

[2020-04-21 21:22] masoudmero32 opened #6131 "09129175600"
**Describe the bug**

**Gogs version and commit**

**Git version**

[code]

**Operating system**

**Database**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Can you reproduce the bug at https://try.gogs.io?**

**Expected behavior**

**Actual behavior**

**Screenshots**

**Additional context**

[2020-04-21 21:29] #6131 closed

[2020-04-22 00:07] geekfred commented on #4105
I know this is an old thread, but I wanted to let you know what I did since I was having the same problems regarding Webhooks for specific branches. It turns out that AWS CodeCommit and Azure Devops both let you set up Webhooks per branches, so what I did was to hook up one of this services as extra remotes and it works great, I keep using my GitHub repo as my main repo but if I work on the develo

[2020-04-22 07:17] fanghj90 opened #6132 "Hope to support go-import"
**Describe the feature**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-04-22 22:29] xZero707 commented on #5939
@ElleshaHackett You misunderstood me.

I said:

And not:

 Backup interval can be run on hourly, daily or weekly basis. With Xh, Xd, Xw respectively.

Backup retention value is in days, fixed.

[2020-04-23 00:17] psyciknz opened #6133 "Gogs post receive hook for mirroring on windows"
Gogs 0.11.91.0811 on Windows
I'm trying to set up a gogs mirror to a Git Linux Server.

I have a custom post-receive hook defined in the repository for:
[code]

When I, as me, run git push --mirror server:/GIT/Reports it works fine.
When I, do a commit to trigger the post-receive hook, I see an error for
[code]

Now I'm assuming this is because gogs is running under Local System for windows.   So

[2020-04-23 00:33] unknwon commented on #6133
Hi, have you tried with just echo?

[code]

What do you get? (please paste output or log)

[2020-04-23 00:44] psyciknz commented on #6133
I found that it wasn't posting receive into the log that I expected...but did see it on session where I was puhing the commit.   Once I saw that happing I started adding a bunch of commands to the post-receive hook, including explicit ssh commands and debugging.

What finally ended up working for me was to ssh to the server (before the git push command) with
[code]
This looked like it connected, a

[2020-04-23 05:44] unknwon commented on #6133
Ah! I see, this was the actual error:
[code]

[2020-04-23 05:44] #6133 closed

[2020-04-24 11:32] unknwon opened #6134 "500 when comparing commits with 00000"
Example: https://mygogs.com/gogs/git-module/compare/0000000000000000000000000000000000000000...9f1f40c60ac68319b12f3c02e095c5ac4f617e76

The solution here would be special case `0000000000000000000000000000000000000000` and show all changes up to `9f1f40c60ac68319b12f3c02e095c5ac4f617e76`.

[2020-04-24 20:27] oiricaud commented on #4105
any ideas how you can do this with tekton?

[2020-04-25 09:38] kousikmitra commented on #6064
@unknwon looks like I need better understanding of git in this case. Will revert back to this if I get time or you can assign to someone else. 🙂

[2020-04-25 10:27] NMTuan opened #6136 "能否支持群晖的chat, need webhook for synology chat."
群晖chat, 类似Slack.
synology chat. like Slack.

https://www.synology.com/zh-cn/knowledgebase/DSM/tutorial/Collaboration/How_to_configure_webhooks_and_slash_commands_in_Chat_Integration#t2.1

[2020-04-25 18:57] anderbubble opened #6137 "packager.io builds for raspberry pi / raspbian"
**Describe the feature**

I want to install Gogs on a Raspberry Pi using Salt. There are a few formulae that install from the github builds, but since there are packager.io packages I'd like to try to build a formula around them. However, I don't see a build for the Raspberry Pi / Raspbian. (Presumably the Debian build would work as long as it was built for arm vs x86_64.)

**Describe the solution

[2020-04-26 00:45] unknwon commented on #6137
Thanks for the feedback!

This is the file configures the target system to build on packager.io: https://github.com/gogs/gogs/blob/master/.pkgr.yml. However, I do not know if they ever support ARM, which has to be researched.

[2020-04-26 05:03] anderbubble commented on #6137
I went poking around on the packager.io site and can't find any references to either arm or raspberry. It appears it can only do x86_64 builds; so I guess this is a non-starter.

[2020-04-26 05:03] #6137 closed

[2020-04-26 16:27] changloong commented on #5149
+1

[2020-04-28 21:25] xZero707 commented on #5939
**Update**:

Everything is done. Now testing. Welcome test if you want (build from my repo needed).

**Outcome**:
* **BACKUP_INTERVAL** supports interval in hours (h), days (d), months (M).
**eg.** 3h **_or_** 7d **_or_** 3M
* **BACKUP_RETENTION** now supports expressions in minutes (m) and days (d).
**eg.** 360m **_or_** 2d

[2020-04-29 00:31] psyciknz opened #6138 "Pull Request Error -500 Server Error"
Getting the following error when trying to run a pull request on a repository:
[code]
Is that trying to do something with some PDFs in the repository, or is it something else?
How can I resolve?

Version is 2020 Gogs Version: 0.11.91.0811
Can i exclude, or remove any PDFs file in the repo is that is the problem?

[2020-04-29 00:45] xZero707 commented on #5939
Testing is so far so good :tada:

[2020-04-29 08:49] xZero707 opened #6139 "Backup and restore are broken in latest release"
**Describe the bug**

In latest version (build hash dbe373af6f2132bb4fba4e108180cab23c7e4d80) `./gogs backup` now fails with an error:
[code]

This happens with either new or upgraded gogs install.

I haven't tested with other database than Postgres.
I haven't tested binary directly but only docker release.

**Gogs version and commit**

Gogs version: 0.12.0+dev

Commit: dbe373af6f2132bb4fba4e10818

[2020-04-29 08:53] xZero707 commented on #6139
I found this while testing #5939. The error occurred after merging upstream to my fork.
Before merging, backups was working smoothly.

Then I spun up the official image and confirmed it happens there as well.
I've also tested with new/fresh install.

[2020-04-29 10:44] brianpierson2020 commented on #5939
Looking good @xZero707, nice work! :) Hope it will soon be stable and released.

[2020-04-29 13:31] unknwon commented on #6138
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-04-29 13:31] #6138 closed

[2020-04-29 16:03] CoolSuplex commented on #4718
@mhshd above commands did not worked for me :(

[2020-04-30 03:11] elico commented on #5602
@unknwon  Was this fixed?

[2020-05-01 03:25] unknwon commented on #5602
@elico I don't think so, but I'm currently working on backup&restore related things, will take a look.

[2020-05-01 10:57] RobertKosten opened #6141 "404 when comparing tags"
---
name: 404 when comparing tags
about: The `/compare/`endpoint balks when comparing tags instead of branch names (offered through the UI)

---

**Describe the bug**
When viewing a tag the compare button offers to compare the tag to master, e.g. `https://try.gogs.io/RobertKosten/example-project/compare/master...tag`, which leads to a 404. It works fine when comparing branches, but tags seem to al

[2020-05-01 12:30] unknwon commented on #6141
Thanks for the feedback!

Which button? Can you provide a screenshot?

Why can't? You can create "release" which creates a tag or just `git push --tags` from your local repository.

[2020-05-01 12:44] RobertKosten commented on #6141
Thanks for gogs ;-)

Sure, here it is on my local installation:
![6141](https://user-images.githubusercontent.com/45453466/80806081-f5f66e00-8bb9-11ea-8931-3b843a20a070.png)

How do I create a release from the UI?

I can't clone to local (I have added my ssh key, of course):
[code]

[2020-05-01 13:02] unknwon commented on #6141
Turns out to be a problem when requests are proxied by Cloudflare, I have disabled it for try.gogs.io, should work after few hours. 😞

[2020-05-01 13:04] RobertKosten commented on #6141
Nice :-P

[2020-05-01 13:21] unknwon commented on #6139
Thanks for the report! I'm aware of this bug and working on it (just very slow as my availability isn't much recently).

[2020-05-01 15:02] xZero707 commented on #6139
Great work @unknwon. Let me know if I can help.

[2020-05-01 16:43] unknwon opened #6145 "Add PostgreSQL support for cache provider"
Related #4234

[2020-05-02 20:11] #2025 closed

[2020-05-02 23:41] elico commented on #5602
@unknwon Thanks.

[2020-05-03 03:31] nmay231 commented on #5814
The alternative described is certainly easier to implement, i.e. changing the message to be `File diff suppressed because it has too many lines or some that are too long`

Is that the approach you wish to take @unknwon ?

[2020-05-03 03:49] unknwon commented on #5814
@nmay231 Thanks for taking a look!

Unfortunately, none of the solution is as straightforward as it might look. The very first step is to make the underlying [git-module function that parses diff](https://github.com/gogs/git-module/blob/master/diff.go) report what exactly the "problem" is, i.e. "line too long" or "too many lines".

[2020-05-03 04:23] nmay231 commented on #5814
@unknwon Fair enough.

I still think it would be easier and just as legitimate to "expand" the meaning of the message so it is a little more clarifying. Then let the user figure out which of the two it is just like jondo was suggesting.

However, if we were to pursue the other approach, I have to say I don't know where I would start :smile:.

[2020-05-03 04:55] unknwon commented on #5814
@nmay231 I have no strong feeling here, if you're willing to take a try on this issue, please go ahead and hack on it!

[2020-05-03 10:44] MasterTalon opened #6146 "Restore wrongly reports 'Current Gogs version is lower than backup version'"
**Describe the bug**
Attempting to restore a backup from version 0.11.68.1023, to a brand new install of version 0.12.0+dev, I received the fatal error message, "Current Gogs version is lower than backup version...".

**Gogs version and commit**
Version: 0.12.0+dev
Commit: 82ffca3fc9988345016c8033f7f65c5b028dfe10

**Git version**
git version: 2.26.2

**Operating system**
FreeBSD 11.2-RELEASE-pl5

[2020-05-03 14:48] unknwon commented on #6146
Thanks for the report! Will look into this.

[2020-05-04 08:25] #5602 closed

[2020-05-04 08:25] #6139 closed

[2020-05-04 08:26] unknwon commented on #5602
Should work with latest `master` :) If not, please let me know!

[2020-05-04 08:26] unknwon commented on #6139
Everything should work as before in the latest `master`. If not, please let me know!

[2020-05-04 08:28] unknwon commented on #5602
Just a heads up, there is another blocker before you wanna try again: https://github.com/gogs/gogs/issues/6146

[2020-05-04 10:12] festum commented on #5269
Is Gogs still not support git v2?

[2020-05-04 10:48] #6146 closed

[2020-05-04 15:11] unknwon commented on #5269
"Git-Protocol" HTTP header and use its value as the "GIT_PROTOCOL"
environment variable :)

_https://github.com/gogs/gogs/issues/6130_

https://github.com/sourcegraph/sourcegraph/pull/10278/files#diff-9d44f2c3343c4ce9fff4473aa0f20a26R97-R99

Docs from GitLab: https://docs.gitlab.com/ee/administration/git_protocol.html

[2020-05-04 15:11] #6130 closed

[2020-05-04 19:58] thedmo commented on #4531
Hey, its 2020 and this issue still seems to be around.
We're using  2020 Gogs Version: 0.11.91.0811
I use the Github Desktop Client now but did try it with Cong and gitG aswell. after changing the status to private, it just worked ^^"

[2020-05-05 17:18] dalu commented on #5992
I just changed the "deprecated" options in app.ini, and this lead to gogs wanting a new install.
The changelog says that ROOT_URL will be removed in 13.0 but it's removed in 12.0 already.

There has to be an automatic configuration update or all gogs installations will fail once 13.0 comes.

[2020-05-06 02:24] unknwon commented on #5992
"new install" sounds like a completely different problem that your Gogs is being pointed to a wrong/non-exist app.ini.

[2020-05-06 10:38] coldlin opened #6148 "关于 GET /repos/:username/:reponame/contents/:path"
因为开发系统需要使用到该接口来获取仓库文件列表, 但是目前Release版本并不支持该接口, 请问什么时候能够出最新版本改善该特性

[2020-05-06 10:43] unknwon commented on #6148
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-05-06 10:43] #6148 closed

[2020-05-06 13:38] cci-help opened #6149 "Failed on uploading a large (1GB+) file in Releases"
**Describe the bug**
When uploading a large file in Releases (after raising the default limit), the upload times out with the error message:

`[ERROR] [reflect/value.go:460 call()] parse multipart form: multipart: NextPart: stream error: stream ID 39; CANCEL`

or, in a similar vein:

`[reflect/value.go:460 call()] parse multipart form: multipart: NextPart: stream error: stream ID 81; CANCEL`

**Go

[2020-05-06 17:09] unknwon commented on #6149
Code handles release upload is here:
https://github.com/gogs/gogs/blob/9fd4f5562d7a59abbef5e78d44fb85a0041e0733/internal/cmd/web.go#L326

[2020-05-06 18:06] wbollock commented on #6149
Further testing has it stop at around 1.3GB or so. But it's variable, seems like a client timeout if a certain amount of time is spent uploading? I'm not well versed in Go.

[2020-05-07 08:12] sebhof opened #6150 "git operations using a username in URL lead to HTTP 500"
**Describe the bug**
Performing a git command while giving only the username in the git URL leads to a 500 server error instead of asking for the users password

**Gogs version and commit**
0.11.91-158858931

**Git version**

[code]

**Operating system**
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.12 (stretch)
Release:	9.12
Codename:	stretch

**Database**
postgresql               9.6+18

[2020-05-07 08:20] unknwon commented on #6150
Hi, this error log does not look like you're running 0.11.91.

Please report the version show on your admin dashboard (`/admin`).

[2020-05-07 08:27] sebhof commented on #6150
Interesting... I installed the Debian-Package from
[code]
dpkg told me, 0.11.91-1588589312.9fd4f is installed.

But in the /admin I see:
[code]

[2020-05-07 08:33] peter-snr opened #6151 "Permanently deleting file from Git not removing from Gogs /data/tmp/local-repo"
**Describe the bug**

A file that was inadvertantly introduced to the repository has been deleted from Git history and branches using instructions from this Url: [removing-sensitive-data-from-a-repository](https://help.github.com/en/github/authenticating-to-github/removing-sensitive-data-from-a-repository#using-filter-branch) executing commands from items 1 - 6.

However although the file (a large

[2020-05-07 09:06] unknwon commented on #6150
Thanks! Anyway, looks like a bug, will fix before 0.12 release.

[2020-05-07 09:08] unknwon commented on #6151
Hi, `/data/tmp/` only gets cleaned up on a restart of Gogs. Generally, you can delete this directory freely, but it's safer to just restart Gogs :)

[2020-05-07 09:08] #6151 closed

[2020-05-07 09:16] sebhof commented on #6150
Thanks! Let me know if additional input is required.

[2020-05-07 14:47] peter-snr commented on #6151
Thank you for the swift response!

[2020-05-07 15:05] unknwon opened #6152 "Proposal: add shellcheck as a linter in GitHub Action"
- Repository: https://github.com/koalaman/shellcheck
- Example: https://github.com/sourcegraph/sourcegraph/pull/9903

### How?

Add a new workflow file under [.github/workflow](https://github.com/gogs/gogs/tree/master/.github/workflows) directory named `shell.yml`.

[2020-05-08 17:10] neier- opened #6154 "全量备份很大概率性报错，文件或者目录找不到"
Gogs 版本：0.12.0+dev
Go 版本: go1.14.2
数据库：8.0
问题描述：备份未停机，备份的时候经常出错找不到文件或者目录，报错 Failed to save backup archive/no such file or directory。命令是：/app/gogs/gogs backup --tempdir /data/tmp_backups --target /data/backups
![err](https://discuss.gogs.io/uploads/default/original/2X/e/e8125adf95d39f677039378c8d93791e67793cdc.png)

[2020-05-09 02:22] sanger89 commented on #5597
I have the same questions. And i trying in the https://try.gogs.io , it isn't work, So I think gogs don't support clone the HTTPS objects.

[2020-05-09 10:53] dalu commented on #5992
no the app.ini was where it always was just the "deprecated" stuff isn't deprecated. But this ROOT_URL is alreayd deprecated despite you writing that it's going to be removed in 13.0

So when you change all the "deprecated" configuration variables gogs wants to start a new install. comprende?

It's not a "completely different problem" it's a result of the variables being replaced with what the doc

[2020-05-09 13:25] unknwon commented on #6154
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-05-09 13:25] #6154 closed

[2020-05-09 13:26] unknwon opened #6155 "Backup should ignore session data"

[2020-05-09 13:26] unknwon commented on #6154
https://github.com/gogs/gogs/issues/6155

[2020-05-09 13:53] unknwon commented on #5992
https://try.gogs.io is still using the old `app.ini` created in 2015. I think this ticket is very specific to packager.io deployment, which I currently have no clue how it actually works.

[2020-05-09 13:59] btafoya commented on #5992
This is not a docker deployment but installed via the apt repository. I have the version held back at the last functional build for the time being and will re-evaluate at a future date. :)

[2020-05-10 02:55] techy121592 commented on #4384
I don't mean to be bump an old issue, but this has become relevant to me so I was wondering what the status of this is.

[2020-05-10 02:57] unknwon commented on #4384
@techy121592 Status: I do not think anyone is actively working on this.

[2020-05-10 10:43] unknwon opened #6157 "Proposal: Only generate one action per repository"
Instead of X actions for X repository watchers.

This has known to cause performance problem when say 5k users are watching a repository, and create every new issue resulted in 5k rows in `action` table.

[2020-05-10 12:30] unknwon opened #6159 "LFS: User settings stats page"
Display how much space each repositories and in total for the user has consumed for Git LFS.

[2020-05-10 12:30] unknwon opened #6160 "LFS: Repository settings stats page"
Display how much space the repository has consumed for Git LFS.

[2020-05-10 12:31] unknwon opened #6161 "LFS: Space limit for user"
A default settings and also able to configure per user by site admin.

[2020-05-10 12:32] unknwon opened #6162 "LFS: Space limit for repository"
A default settings and also able to configure per repository by site admin.

[2020-05-10 12:37] unknwon opened #6163 "LFS: Admin operation to delete LFS objects that lost files"
### How?

1. Add a new item in admin dashboard page (`/admin`).
2. Scan through the `lfs_object` table `WHERE storage = 'local'` whose file no longer exists on the file system, and delete them.

[2020-05-10 18:31] bibo38 commented on #4384
Jep, thats correct... I've worked on it last year and functionality wise it is about 90% complete (i think the biggest issue was, that I didn't save the destination redirect after the WebAuthn login, it simply forwards you to the base url). On the code side it needs to be cleaned up (and the commits need to be squashed/reordered, currently they are just messy). And of course it needs to be updated

[2020-05-11 02:23] kaspersky1111 opened #6164 "Option to send notification for every Clone/Fork/Push"
Hi, I would like to ask if gogd has already this feature to send notification for every Clone/Fork/Push ,etc. Thank you.

[2020-05-11 03:52] unknwon commented on #6164
Hi, currently no. What kind of notifications?

[2020-05-11 04:01] kaspersky1111 commented on #6164
Hi, like when someone is going to clone a repository, it will notify the repository owner.

[2020-05-11 04:02] kaspersky1111 commented on #6164
because currently the notification available is if someone has been added as the collaborator, regitration confirmation, activation of email. No options for notifying if someone pushes a repo or clone a repo.

[2020-05-11 04:14] unknwon commented on #6164
Related: https://github.com/gogs/gogs/issues/1441

[2020-05-11 04:14] unknwon commented on #6164
Blocked by https://github.com/gogs/gogs/issues/2109.

[2020-05-11 04:14] unknwon commented on #1441
Blocked by #2109.

[2020-05-11 06:52] lz1974 commented on #6096
我也遇到这个问题，post-receive.log我查看了下大小是0KB

[2020-05-11 06:53] lz1974 commented on #6096
I also encountered this problem. I checked the size of post-receive.log as 0kb

[2020-05-11 06:56] lz1974 commented on #6096
我也遇到这个问题，想请教下后续你是怎么解决的?

[2020-05-11 09:20] unknwon commented on #6096
@lz1974 Upgrade to latest `master`.

[2020-05-12 09:10] turbopixel commented on #4886
Is there any new developments on this issue? I also have the ui problem at version 1.12.7:

![grafik](https://user-images.githubusercontent.com/15839724/81665221-bf81e400-9440-11ea-97d4-c27c0307c2c5.png)

[2020-05-13 06:59] marcinkunert commented on #5733
Hey @achilleas-k ! Any progress on the PR?

[2020-05-13 07:24] xZero707 commented on #5939
@ElleshaHackett @brianpierson2020 FYI - This was released few days ago :tada:

@unknwon This issue can be closed now, I suppose?

[2020-05-13 10:30] achilleas-k commented on #5733
Thanks for the reminder.  This task got lost in a lot of other higher priority stuff, but I'll move it up.

[2020-05-13 14:03] unknwon commented on #5939
Thanks @xZero707, closing!

[2020-05-13 14:03] #5939 closed

[2020-05-14 10:08] jcolomb commented on #5884
It would also be great to set labels automatically from specific issue template, like on github.

[2020-05-14 15:35] achilleas-k commented on #5733
I've been prototyping this a bit today and while I have some opinions and preferences about how this should work exactly, I think it might be best to discuss some of the details (especially if @unknwon has a preference on any of the choices).

## DB
On the DB/ORM side, I'm undecided about whether this should be a separate column/field (`IsUnlisted`), that works in a similar way to the private flag

[2020-05-15 09:00] johnTux opened #6165 "Invalid Credentials"
**Describe the bug**

LDAP Result Code 49 "Invalid Credentials"

**Gogs version and commit**

0.11.91.0811

**Git version**

[code]

**Operating system**

CentOS Linux release 7.8.2003

**Database**

MariaDB-server-10.4.13

**Screenshots**

https://imgur.com/a/SGrjMO1

hi,
command ldapsearch returend next info (deleted some filed values)
[code]
dn: cn=Name Surname,ou=users,ou=SAMBA,dc=company
cn:

[2020-05-15 09:35] unknwon commented on #6165
Hi, what LDAP service you're using? Have you looked at this page? https://support.jumpcloud.com/support/s/article/ldap-connection-attempt-results-in-invalid-credentials-49---cannot-bind1

Basically saying credentials are indeed invalid.

[2020-05-15 10:16] johnTux commented on #6165
i'm using openldap-servers-2.4.44

[2020-05-15 10:38] unknwon commented on #6165
Thanks for the info, I'm not very familiar with LDAP, how do you 100% verify the credentials are valid?

[2020-05-15 11:04] johnTux commented on #6165
I use similar services for example redmine with ldap auth. And works fine.

[2020-05-16 08:00] unknwon commented on #5733
@achilleas-k Thanks for the excellent details!

I think we need to first define what is "unlisted". To me, it just should be not listed in "list views", basically what you described in **Behaviour** section (though maybe not all of them would make sense right now but mostly).

Based on that, I believe it is an additional attribute of a repository and independent of repository's visibility (though

[2020-05-16 16:25] achilleas-k commented on #5733
In the [`unlisted-repositories` branch](https://github.com/achilleas-k/gogs/tree/unlisted-repositories) in my fork I took a stab at both ways, first by adding an `unlisted` column and then by instead having a `visibility` column with 3 potential values.

I think internally both ways take similar amounts of work.  For instance, we can go through all the views and every private/public check in the c

[2020-05-16 16:46] unknwon commented on #5733
Thanks for putting thinking into this problem!

A repository can be both private and unlisted, and forget about private, it is in fact "visibility + unlisted".

[2020-05-16 17:04] achilleas-k commented on #5733
What would the unlisted option change when a repository is already private?  I might be thinking about this differently, so I think it would be good to clarify.

I understand the option on the repository settings page is called "Visibility", but I'm generally referring to the `db.Repository.IsPrivate` field or the underlying database `is_private` column when I talk about a repository being private

[2020-05-16 19:09] unknwon commented on #5733
The database column is just implementation detail. It is a Boolean just because we only have private and public as visibility. It will be an enumeration in the future if we also have organizational, internal, etc.

[2020-05-16 19:52] achilleas-k commented on #5733
So how do you imagine `unlisted`?  Would it be separate from the visibility?  Might be good to know what you're imagining for the future of visibility.

[2020-05-17 08:06] unknwon commented on #5733
I'm kinda lost what is core thing we're discussing here... I thought I've said "Based on that, I believe it is an additional attribute of a repository and independent of repository's visibility", in other words, another field, i.e. `repository.is_listed`. And future visibilities are _organizational, internal, etc._.

[2020-05-17 14:54] achilleas-k commented on #5733
I thought perhaps that, since you also said

now would be a good time to switch to an enumeration in preparation for future changes.  Or even better, perhaps we could define those future changes and include them in this change.

I also wanted to get your thoughts on the UI details, which necessarily have to be included in this change.  My long comments and thoughts are an attempt to settle on deta

[2020-05-18 15:02] unknwon commented on #5733
Do one thing at a time, smaller PRs are easier to get reviewed and merged :)

[2020-05-19 14:16] iamhosseindhv opened #6167 "Docker docs point to non-existing URL"
**Describe the bug**
On docker page there's a link to `app.ini`'s documentation which resolves to a 404 page. more details below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [docker README.MD](https://github.com/gogs/gogs/tree/master/docker#settings)
2. Click on the link stating: "Full documentation of application settings can be found [here](https://gogs.io/docs/advanced/configura

[2020-05-20 08:29] JaneYork opened #6168 "组织权限不起作用"
系统：
云服务器centos6.9 64位
git2.26.2
mysql8.0.20社区版
gogs0.11.91（git下载的二进制release版）
部署步骤：
https://blog.csdn.net/qq_31708763/article/details/104814669
亲测，单人均可操作。在团队协作，创建新组织

新建团队，赋予写入权限，可以clone但是无法推送仓库。只能是赋予owner团队才可以推送。这显然是 不对的。
@unknwon @clee

图片截图：
https://img-blog.csdnimg.cn/20200520163831919.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3FxXzM

[2020-05-20 08:52] unknwon commented on #6168
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-05-20 08:52] #6168 closed

[2020-05-20 09:51] JaneYork opened #6169 "Organizational authority does not apply"
**Describe the bug**

Hi, guys！Organizational authority does not apply. I've created a new team and given write access to clone, but not push. Unfortunately, I did the same on the website. Only by joining the Owners team can you push. This is clearly unreasonable.
Is it my operation problem? I feel not, but I wonder, if it is really a bug, why no one mentioned it for so long.
**Gogs version and co

[2020-05-20 09:57] JaneYork commented on #6168
Thank you for your prompt reply. But I know you know Chinese.

[2020-05-20 10:08] JaneYork commented on #6169
Does each warehouse have to be set up separately? If so, what is the point of the organization and the team?

[2020-05-20 12:34] JaneYork commented on #6169
oh,shit！I found out that I can't operate the problem, hidden really deep. But I want to add all the features, one by one add a good trouble!
![在这里插入图片描述](https://img-blog.csdnimg.cn/20200520203349384.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3FxXzMxNzA4NzYz,size_16,color_FFFFFF,t_70)
https://img-blog.csdnimg.cn/20200520203349384.png?x-os

[2020-05-20 12:34] #6169 closed

[2020-05-20 12:44] #6167 closed

[2020-05-20 12:44] unknwon commented on #6167
Good catch! Fixed.

[2020-05-20 17:12] clee commented on #6168
I certainly don't. I have no idea why I was tagged :)

[2020-05-22 08:41] anshulOpscale commented on #837
@unknwon hi, is this feature not added yet?

[2020-05-22 08:42] unknwon commented on #837
@anshulOpscale Please see my comment: https://github.com/gogs/gogs/issues/837#issuecomment-289522232

[2020-05-22 08:47] anshulOpscale commented on #837
@unknwon thanks for replying, is there any hope soon?

[2020-05-22 08:48] unknwon commented on #837
No :)

[2020-05-22 14:29] JReaney3 opened #6172 "Inability to access gogs server"
I've had trouble pushing my git repository to gogs, and cannot access the website when I try from the virtual machine website.

[2020-05-22 20:19] unknwon commented on #6172
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-05-22 20:19] #6172 closed

[2020-05-24 16:34] philidor-green commented on #6155
@unknwon I'm on it.

[2020-05-25 08:47] johnTux commented on #6165
configured ldap (via BindDN) auth, in field Bind DN wrote that is in /etc/openldap/slapd.conf line rootdn

[2020-05-25 12:01] snowdon-dev opened #6175 "Gogs is sending blank web hook requests"
**Describe the bug**
I've seen multiple others report this issue, however I can't find a solution in my case. The logs aren't helpful to myself and you'll see the only thing recorded in log file are not from this occurrence

**Gogs version and commit**
I can't find a checksum but
[code]

**Git version**

[code]

**Operating system**
bash-5.0# cat /proc/version
Linux version 4.19.97-v7+ (dom@buildb

[2020-05-26 02:27] unknwon commented on #6175
Hi!

According to the error in your screenshot, it seems Gogs itself can't send requests to http://0.0.0.10080. Can you fix that?

What does it mean "requesting another container"?

[2020-05-26 07:40] #6165 closed

[2020-05-26 22:37] achilleas-k commented on #5733
Little update on this: It's basically done, with a few caveats.  I want to test all the combinations before opening the PR (probably tomorrow).  I'll include screenshots for settings for review.

One minor detail I'd like some feedback on is regarding the repository icon for unlisted repositories.  I think it makes sense to show the user when a repo is unlisted (much like the padlock shows when it

[2020-05-27 03:48] JaneYork commented on #6168
Oh, I'm terribly sorry.
Maybe your name is high on the list
Hi guys, cheer up!

[2020-05-27 08:00] boltronics commented on #5912
Under Debian GNU/Linux 10 (at least), Emojies are not working properly in Chrome and Chromium if the user uses the OS X emoji picker to insert an emoji into a PR comment.

![image](https://user-images.githubusercontent.com/250531/82992605-b862f480-a042-11ea-9aa9-a526fc219076.png)

Not sure the extent of this issue as we only started using Gogs today. The OS X one was only showing two black empty b

[2020-05-27 08:15] boltronics commented on #5775
GitHub also has most of these options. I've had users coming from GitHub confused how to approve a PR after reviewing, so would be great to have an option for users to submit their approval (or rejection) and have that be visible on the PR - even if (as a starting point) it did nothing more than that.

[2020-05-27 08:28] snowdon-dev commented on #6175
Sorry that was not the best explanation. There is no links between the containers. So the it just makes a request to the service via its hosts IP address.

That error is from previous test I think. I'm giving Gogs a proper IP address.

[2020-05-28 05:07] unknwon commented on #5733
I've always been wanted to upgrade Octicons to the latest. But 4.3.0 seems the last version they release font format. Right now they use SVG and it takes extra effort to update all places in Gogs (PR welcome!).

[2020-05-28 05:09] unknwon commented on #5912
@boltronics thanks for the info! So if I understand correctly, using real images are actually better in your case?

[2020-05-28 05:14] unknwon commented on #6175
Sorry I'm 100% lost what is going on here.

1. Could you describe how you deploy your Gogs instance. Is it `docker run ...`?
2. What URL you use to access your Gogs instance?
3. The log output you provided seems incomplete, you should have a line contains "Listen on ...", can you provider a more complete one?

[2020-05-28 07:54] boltronics commented on #5912
@unknwon No problem!

Sorry, so to clarify, this is what I see when I view source of the one that doesn't work properly (the top one added by the OS X emoji picker):

![image](https://user-images.githubusercontent.com/250531/83112993-54a3fe80-a10a-11ea-9507-2e1d3ec08485.png)

And this is the one that's working fine, which I just typed by hand (as I have no emoji picker tool on GNU/Linux set up, so

[2020-05-28 09:53] yayv opened #6177 "go build error"
#go build -o gogs
can't load package: package gogs.io/gogs: build constraints exclude all Go files in /data/projects/gogs

[2020-05-28 10:23] achilleas-k commented on #5733
Interesting.  I'll have a look.

[2020-05-29 06:37] achilleas-k opened #6178 "Upgrade to svg octicons"
I've always been wanted to upgrade Octicons to the latest. But 4.3.0 seems the last version they release font format. Right now they use SVG and it takes extra effort to update all places in Gogs (PR welcome!).

_Originally posted by @unknwon in https://github.com/gogs/gogs/issues/5733#issuecomment-635103984_

I did some light research on the move from icon fonts to svg (looks like a good move, af

[2020-05-29 06:39] achilleas-k commented on #5733
Opened a separate issue for the octicons upgrade discussion.

[2020-05-31 04:06] Nakrez opened #6182 "Dockerfiles for ARM do not build"
The Dockerfiles for ARM use golang:1.14 which is based on debian.
They are meant to be used with alpine.

[code]

[2020-05-31 18:02] kfreidank opened #6184 "Raspbian Build Broke after commit 648d9e253c192 Sat Feb 22"
**Describe the bug**

Source build breaks with the error.
"can't load package: package gogs.io/gogs: build constraints exclude all Go files in /home/git/gogs"

**Gogs version and commit**

commit
648d9e253c1924b832248f26fee42b2fb64dc3bc

**Git version**

[code]

**Operating system**

$ cat /etc/os-release
PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"
NAME="Raspbian GNU/Linux"
VERSION_ID="10"
VERSIO

[2020-05-31 18:05] kfreidank commented on #6184
The "Actual Behavior" line is missing the error line:  can't load package: package gogs.io/gogs: build constraints exclude all Go files in /home/git/gogs

[2020-06-01 04:18] zhantss opened #6185 "Edit Team, response 500, error "a pointer to a pointer is not allowed""
**Describe the bug**

gogs response 500 error when I edit team
log file show error "a pointer to a pointer is not allowed"

**Gogs version and commit**

Gogs version   0.12.0+dev
Git version   2.24.3
Go version   go1.14.2
Build commit   d28101ee66ff0be8e8944ea3cc519558ac10e760

**Operating system**
Debian 9

**Database**
PostgreSQL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'org/{

[2020-06-01 15:59] unknwon commented on #6184
Hi, Gogs requires Go 1.14 (`master`) and Go 1.12 for https://github.com/gogs/gogs/commit/648d9e253c1924b832248f26fee42b2fb64dc3bc.

[2020-06-01 15:59] #6184 closed

[2020-06-01 16:03] unknwon commented on #6177
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-06-01 16:03] #6177 closed

[2020-06-02 00:46] c0redump-gh opened #6186 "Files and directories with same content shown with the same name in web interface"
Hello,
I installed current gogs master (158dd33) and I'm facing an issue: if I create two files or directories with identical content they are shown with the same name in the gogs web interface as you can see in the screenshot below.

![gogs](https://user-images.githubusercontent.com/24260696/83467639-d4b7c480-a47a-11ea-9034-5fd52b40a86c.JPG)

This behaviour seems similar to an old issue opened at

[2020-06-03 16:16] smavridis opened #6187 "Corrupted database after upgrade."
**Describe the bug**
After update, database is corrupted, no webui/ssh, or backup through cli.
Error:
`[FATAL] Fail to dump database: dump table 'Repository': no such column: use_custom_avatar`

**Gogs version and commit**
[code]
(Archlinux package)
**Git version**

[code]

**Operating system**
ArchLinux

**Database**
[code]

**Can you reproduce the bug at https://try.gogs.io?**
No, as it was caus

[2020-06-05 06:40] crazyzh1984 commented on #829
Need this feature. Migration large repo time out.

[2020-06-05 06:52] iamprathamesh commented on #5979
Hi @unknwon ,
could you please elaborate the issue?

[2020-06-05 16:16] dependabot-preview[bot] opened #6189 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/gogs/update-logs/35864584).

[2020-06-05 21:46] SurtursRevenge opened #6190 "MFA login support"
**Describe the feature**
It would be great to have native Multi Factor Authentication Support for Login with Username and Password via Web and HTTPS. General speaking having MFA Support wherever you dont log in with a key. For me MFA Support is a major thing and i think it is mandatory.
I realy love gogs, but not having MFA makes me consider to move to another solution.

**Describe the solution yo

[2020-06-06 12:41] smavridis commented on #6187
Not sure what changed, bu it seems to work today :-S

[2020-06-06 12:41] #6187 closed

[2020-06-07 02:25] unknwon commented on #829
@crazyzh1984 that is a different problem, you need to increase migration timeout: https://github.com/gogs/gogs/blob/158dd33a2557bab406f7670a57be99d7dca9c3e3/conf/app.ini#L459

[2020-06-08 02:22] #6175 closed

[2020-06-08 08:44] dre2004 commented on #6152
Hi, I'd like to work on this one if possible.

[2020-06-09 21:08] andreanidouglas commented on #5769
@unknwon this was merged on pull #5773. Issue fixed!

[2020-06-09 23:27] Megavolv commented on #1324
I have the same problem.

[2020-06-10 06:05] GrahamDumpleton opened #6192 "Remove OpenShift link from README as is for version of OpenShift that no longer exists."
**Describe the bug**

``README`` contains a link for OpenShift under cloud providers to:

* https://github.com/tkisme/gogs-openshift

That repository describes use of OpenShift 2 (from before Kubernetes version). OpenShift 2 no longer exists as a service, so the link should be removed.

[2020-06-10 16:06] gerald-dotcom opened #6193 "Run user isn't the current user"
I was able to deploy Gogs in Heroku; however, it asks for username at install page, and I tried following usernames (Of course, I excluded the :: parts),

git
gogs
admin
root:x:0:0:root:/root:/bin/bash
daemon:x:1:1:daemon:/usr/sbin:/bin/sh
bin:x:2:2:bin:/bin:/bin/sh
sys:x:3:3:sys:/dev:/bin/sh
sync:x:4:65534:sync:/bin:/bin/sync
games:x:5:60:games:/usr/games:/bin/sh
man:x:6:12:man:/var/cache/man:/bi

[2020-06-11 08:06] unknwon commented on #5769
@andreanidouglas Thanks! Closing :)

[2020-06-11 08:06] #5769 closed

[2020-06-11 08:08] unknwon commented on #6152
@dre2004 Thanks for asking! Please go ahead :)

[2020-06-11 08:08] unknwon commented on #5979
@iamprathamesh What questions do you have in particular?

[2020-06-11 08:27] unknwon commented on #5912
@boltronics Thanks, will think about it!

[2020-06-11 14:36] unknwon commented on #6193
Thank you for the feedback! However, I'm closing this thread according to the [issue template](https://github.com/gogs/gogs/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-06-11 14:36] #6193 closed

[2020-06-11 14:38] unknwon commented on #6192
Thanks! Fixed in https://github.com/gogs/gogs/pull/6194.

[2020-06-11 14:39] #6192 closed

[2020-06-11 14:46] unknwon commented on #6190
Hi, Gogs has 2FA support, isn't that MFA?

[2020-06-11 14:54] unknwon commented on #6189
Resolved.

[2020-06-11 14:54] #6189 closed

[2020-06-11 15:10] #6182 closed

[2020-06-11 15:10] gerald-dotcom commented on #6193
FUCK YOU!

[2020-06-11 15:13] gerald-dotcom opened #6195 "GOGS IS CHINESE STATE BACKED VIRUS!!"
That's why they close issues and don't want to run in Heroku. Fuck you!

[2020-06-11 15:16] gerald-dotcom opened #6196 "STAY AWAY FROM THIS VIRUS!!!"

[2020-06-11 15:18] unknwon commented on #6186
Hi, can you push your demo repo to https://try.gogs.io/ so can I clone to my dev machine?

[2020-06-11 15:20] gerald-dotcom commented on #6190
@unknwon  FUCK YOU!

[2020-06-11 23:31] c0redump-gh commented on #6186
Hello unknwon,
I pushed my demo repo here: https://try.gogs.io/c0redump/issue6186

I can see the same issue I'm facing on my local gogs installation.

Thanks in advance.

[2020-06-12 10:47] lukamukaguka opened #6197 "Directory removal"
https://github.com/gogs/gogs/blob/9fd4f5562d7a59abbef5e78d44fb85a0041e0733/internal/db/repo.go#L1002

If dir exists it will be removed next step with RemoveAllWithNotice. And after will be all good. Hm...  Is it ok?

[2020-06-12 11:52] pmall opened #6198 "Docker + traefik - unable to install with path prefix"
Hi,

Im using docker compose + traefik reverse proxy to install gogs with a path prefix. Here's my docker compose:

[code]

However, when going to `http://myapphost/gogs` I'm redirected to `http://myapphost/install` which of course is not the intended behavior.

I cant figure out a way to specify the `ROOT_URL` *before* installing.

[2020-06-12 14:04] unknwon commented on #6186
@c0redump-gh thanks! I'll take a look ASAP.

[2020-06-12 14:11] unknwon commented on #6198
Hi, what about you visit `http://myapphost/gogs/install` directly?

[2020-06-12 14:13] unknwon commented on #6197
Hi, it could contain previous Git repo and naively remove the directory could lose your data.

[2020-06-12 14:13] #6197 closed

[2020-06-12 15:16] Apokalyptica79 commented on #4494
Thanks @cez81, your response works for me :)

[2020-06-12 21:42] pmall commented on #6198
I tried and it redirected to `http://myapphost/install` too.

I ended up using a gitea container because it allows to set the `ROOT_URL` with an env variable. I had to set up a nginx container to reverse proxy to the gitea container but it worked then.

[2020-06-12 23:32] unknwon commented on #6198
Ah, cool! Good to know.

[2020-06-12 23:32] #6198 closed

[2020-06-13 14:56] dre2004 commented on #6152
https://github.com/gogs/gogs/pull/6202

[2020-06-14 05:20] ivanbogomoloff commented on #1644
i start made this feature, but my progress is slow
my progress on this video https://youtu.be/2Prxnibd8IM
branch here https://github.com/ivanbogomoloff/gogs/commits/feature/1644/ability-comment-pr

nowaday i implemented:
- simple ui on html+js (add, delete, markdown render)
- http post endpoint with send comment data and response rendered code comment
but now it very raw

i plan finish this featur

[2020-06-17 08:29] SurtursRevenge commented on #6190
Its kind of.

"The difference between MFA and 2FA is simple. Two-factor authentication always utilizes two of these factors to verify the user’s identity. Multi-factor authentication could involve two of the factors or it could involve all three. “Multi-factor” just means any number of factors greater than one"

But thanks for the hint. While browsing the settings i found the google auth integrati

[2020-06-18 03:33] iPhonePKAndroid opened #6204 "建议增加全局项目代码搜索功能，非常需要"
建议增加全局项目代码搜索功能，非常需要，
类似于GITHUB搜索code，commit等等之类的功能！

[2020-06-18 14:22] frosteyes commented on #6185
I have the same issue.

Application version 0.12.0+dev
Git version 2.24.3
Go version go1.14.4
Build time 2020-06-13 05:58:46 UTC
Build commit 2fe4d075995995fd0309ec8964aa06c9c90433f8

Trying to change a team inside an organization returns the 500 - a pointer to a pointer is not allowed

[2020-06-19 20:14] robindegen commented on #4387
Indeed any mention of this would be nice. It just silently fails through the API. Also the ENABLE_LOCAL_PATH_MIGRATION should be under the [Security] header

[2020-06-20 17:08] Kosadchiy opened #6209 "Timestamp doesn’t updates on issue editing"
Timestamp db field "updated_unix" doesn’t updates on issue editing.

**Gogs version and commit**
[code]
2fe4d07

**Git version**

[code]

**Operating system**
[code]

**Database**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an issue
2. Edit issue and change title
3. Save changes
4. "created_unix" is equal to "updated_unix"

**Can you reproduce the bug at https://try.gogs.io

[2020-06-21 18:43] teterina20 opened #6211 "k.i.m."

[2020-06-27 09:04] #4599 closed

[2020-06-28 01:56] StevenBase opened #6214 "Go编译时报错"
Go编译时报错
Get "https://proxy.golang.org/github.com/%21masterminds/semver/v3/@v/v3.1.0.mod": dial tcp 34.64.4.113:443: i/o timeout

[2020-06-29 07:10] Liu-Alan opened #6215 "团队创建后不能修改，修改报500报错"
团队创建后不能修改，修改报500报错
使用版本信息如下
应用程序版本 0.12.0+dev
Git 版本 2.24.3

[2020-06-30 00:45] justchen commented on #6204
同,这个功能很有必要

[2020-06-30 03:29] #5036 closed

[2020-07-01 08:18] taopoppy opened #6217 "调用/admin/users 接口返回403"
提供的接口无法创建用户，返回的是403，好像有权限验证，不知道为什么注册用户还要验证什么权限

[2020-07-02 07:18] AndyLin0128 opened #6218 "Add online browsing word, PPT, xls and other files"
If you can increase online browsing, it will be more convenient to view word XLS documents,tks!

[2020-07-02 07:54] kniec opened #6219 "Backup: User configured to run Gogs is "git", but the current user is """
**Describe the bug**

**Gogs version and commit**

[code]

**Operating system**

[code]

**Database**

sqlite3

**To Reproduce**

When running `/app/gogs/gogs backup --verbose` I get the following error, even though the user I am running is `git`.

[code]

**Can you reproduce the bug at https://try.gogs.io?**

**Expected behavior**

The backup should be done

**Actual behavior**

Seems like `gogs`

[2020-07-02 09:59] nasserpp22 commented on #6219
G

[2020-07-03 08:28] jingray opened #6220 "Fail to save backup archive"
git version:  1.8.3.1
gogs version :gogs_0.11.91
db_type: sqlite3

When I execute the backup command, the following error appears, I don’t know what caused it.

**Fail to save backup archive 'gogs-backup-20200703162023.zip': open /tmp/cae/gogs-backup-20200703162023.zip/gogs- backup/metadata.ini: no such file or directory**

![image](https://user-images.githubusercontent.com/11806737/86448762-cb579

[2020-07-03 12:04] #6220 closed

[2020-07-03 20:31] DavyGuedes commented on #4415
Hi @BartWillems
Did you get a solution?
Same issue here.

[2020-07-03 20:35] BartWillems commented on #4415
@DavyGuedes it was a DNS timeout, I can't remember exactly how, but you can set the timeout to a higher number in the settings a

[2020-07-05 06:49] lemmy04 opened #6221 "gogs in a docker container: unable to edit server configuration"
**Describe the bug**
I have gogs running in a docker container, I am logged in on the administrator account, but I can't change any server settings - I'm trying to configure gogs for skipping tls cert validation for smtp, and enable https...

**Gogs version and commit**

Anwendungsversion
    0.12.0+dev
Git-Version
    2.24.3
Go-Version
    go1.14.4
Build-Zeit
    2020-06-29 04:29:19 UTC
Build-Com

[2020-07-05 06:54] lemmy04 opened #6222 "gogs in a docker container: custom/conf/app.ini is ignored"
**Describe the bug**
I've created a custom/conf/app.ini file as described in the FAQ to enable https, but it is ignored.

**Gogs version and commit**
Anwendungsversion
0.12.0+dev
Git-Version
2.24.3
Go-Version
go1.14.4
Build-Zeit
2020-06-29 04:29:19 UTC
Build-Commit
a7afa11

**Git version**

[code]
2.24.3

**Operating system**
openSUSE Leap 15.2 running docker, gogs running whatever is inside the c

[2020-07-05 18:35] lemmy04 commented on #6222
I found the bit in the readme that talks acout where the custom cinfig goes on the containerized gogs.
Closing this.

[2020-07-05 18:35] #6222 closed

[2020-07-06 01:05] heping-yang commented on #6214
设置环境变量
export GOPROXY=https://mirrors.aliyun.com/goproxy/

[2020-07-06 07:09] RDCH106 commented on #3028
What about solving the issue like this https://github.com/go-gitea/gitea/pull/8867#issuecomment-551198787?

Would it be an acceptable solution? What do you think @unknwon?

[2020-07-06 07:46] tahirzia commented on #6186
I am having same issue with all my repositories. Which ever repo i pushed multiple times have multiple files of same files. and Even directories are multiple.

[2020-07-08 01:18] qiangxxyh opened #6223 "https://git.linktone.top/jm_bomb/libsigrok/wiki/ScopesNote"

[2020-07-08 01:19] #6223 closed

[2020-07-09 02:45] XUPTSunHui opened #6224 "建议支持网页端上传文件夹功能"
**Describe the feature**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-07-09 06:48] zarte opened #6225 "git push report fail if the Last letter of passwd is ".""
the fail message is :

error: RPC failed; HTTP 401 curl 22 The requested URL returned error: 401
fatal: the remote end hung up unexpectedly
fatal: the remote end hung up unexpectedly
Everything up-to-date

[2020-07-10 12:43] poteenoka opened #6226 "RestoreFromBackup"
**Describe the bug**

When restoring from backup
FATAL] Fail to import database: fail to insert strcut: mssql: Cannot insert explicit value for identity column in table 'user' when IDENTITY_INSERT is set to OFF.

Gogs version 0.11.91.0811

**Operating system**
Windows2019

**Database**
Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)

**To Reproduce**
1. Backup working GOGS using command: .\Gog

[2020-07-10 21:25] Aspie96 commented on #4437
This is a great idea.

Is there any progress on this issue?

[2020-07-11 02:21] syf2005 opened #6227 "Please Support Arm64 Release 请支持ARM64"
RPI 4B with Raspberry OS 64 bit Beta or Ubuntu 20.04 LTS has already switch to aarch64 instruction set of ARMv8. There is no releases can be installed.
It is very difficult to compile and install something with Go language in China.
I have compiled one with RPI 4B. Hope it can help.

[Download URL](https://pan.syf.ink/#/s/qKH7)  Passwd: 5wkqh7

[2020-07-11 11:30] cjslep commented on #4437
FYI: the github.com/go-fed/activity library has been released at `v1.0.0`, which includes complete support for the ForgeFed Vocabulary.

[2020-07-11 18:36] misterbigstuff commented on #5366
wow, why hasn't this been pushed in a new release?

[2020-07-13 09:04] LeDistordu opened #6228 "The Captcha of the registration form is not effective"
The Captcha of the registration form is not effective, I had 300 registrations, robot accounts. Many solutions :

- Strengthen Captcha
- Ability to include Google captcha natively

[2020-07-13 10:14] dehghani-mehdi opened #6229 "Is there any documentation for database and its tables?"
Thanks for gogs, it is great. I could not find anything about database and its tables and of course its fields, is there documentation fot it?

[2020-07-16 09:42] intern opened #6230 "mysql error (Got an error reading communication packets)"
I use gogs in docker, database use mariadb. when i push git code source to gogs server. the mysql have error log, But the gogs web page is worked!

Please fix it!

docker log
<pre>
compose-daemon-gogs | Jul 16 09:31:52 sshd[3322]: Accepted publickey for git from 182.138.101.72 port 21225 ssh2: RSA SHA256:0ZfbkQRrwa3WP3Td3DN0NlIMSEjG16g+xy4kg9Pwk6Q
compose-daemon-mysql | 2020-07-16 17:31:53 732 [Wa

[2020-07-17 03:37] lpyedge opened #6231 "项目批量操作"
项目移动到不同组织和个人，以及组织内的项目批量分配给组织内不同团队的操作非常繁琐。
是否考虑实现批量选择的操作界面。

[2020-07-17 08:04] chainder opened #6232 "使用服务器本地路径作为仓库的远程地址进行迁移，提示路径不存在"
Gogs 版本：0.11.91.0811
系统类型及版本：debian
数据库：postgresql
问题描述：ENABLE_LOCAL_PATH_MIGRATION已设置为true，用的是管理员身份，但是依旧无法利用本地路径作为仓库的远程地址进行迁移
![123](https://user-images.githubusercontent.com/68222723/87763279-1d6ae780-c847-11ea-8227-47eeb18fc813.png)

[2020-07-17 09:06] travishein opened #6233 "It seems unable to initialize gogs (in docker) with a postgresql database"
**Describe the bug**

When trying to start up a new gogs instance in docker, with postgresql database
**Gogs version and commit**

I was able to repropduce this on the current master, "latest" docker image built from git commit a7afa1161071e2a41e969ddd24d29661435f1747

gogs/gogs:latest
DIGEST:sha256:77dc760b6004c96731dd89043dddba32fc9036151f8a0eab53b1073476051c6b

I was also able to reproduce this

[2020-07-17 09:20] 18616505009 opened #6234 "view_file does not render in docker container"
**Describe the bug**

I have add .uml render function to my gogs.It works properly when I start gogs by cli.But it does not work in docker container,I mean especially the frontend template.
**Gogs version and commit**

0.12.0

**Git version**

[code]

**Operating system**

macos
**Database**

mysql
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down t

[2020-07-17 21:51] fc-dev commented on #3716
+1

[2020-07-18 04:37] chill1n opened #6235 "Adding two empty dummy files, repeats the same file twice in UI."
Application version: 0.12.0+dev
Git version: 2.24.3
Go version: go1.14.6
Build time: 2020-07-17 02:57:14 UTC
Build commit: 90904b3f420d41cf56c62b6d96234b199399f3e4

OS: Ubuntu 20.04
DB:  Sqlite

Issue: Adding (at least) two empty dummy files, repeats the same file twice in UI.

Steps to reproduce the behavior:
1. Create an empty repository in the UI
2. Clone the repo
2. Create two empty files in t

[2020-07-19 06:48] vadimeisenbergibm opened #6236 "Security Vulnerability: JQuery's version is lower than 3.5.0"
JQuery 3.5.0 fixes a security vulnerability, see _Security Fix_ in  https://blog.jquery.com/2020/04/10/jquery-3-5-0-released/.

[2020-07-21 03:26] D-T-Y commented on #5316
这个解决了吗？我发现依然存在这个问题呢

[2020-07-21 09:12] theWayToAI commented on #5020
I have encounted the same issue, and I have waited for more than 10 minutes, but it's still 500 error.What can i do to fix it?And now i even can't delete this repo...

- Gogs Version: 0.11.91.0811

[2020-07-21 09:14] theWayToAI commented on #5020
by the way , i deployed gogs by docker, and i cant wget thie repo so the network should be fine, maybe the repo is too large.What should i do to fix this problem in this case?

[2020-07-23 08:04] jimist commented on #5569
@unknwon
Hi there,
is this feature still needed? if so I could give it a go.

[2020-07-24 12:12] onip opened #6238 "Unable to push PNG files via Git LFS"
**Describe the bug**

adding `.png` files to LFS results in `git push` error

**Gogs version and commit**
[code]

**Git version**

[code]

**Operating system**

Ubuntu 18.04

**Database**

sqlite

**To Reproduce**
[code]

please note that I previously added `'*.bin'` to lfs (as of [lfs tutorial](https://github.com/git-lfs/git-lfs/wiki/Tutorial)) and they were correctly pushed

[code]

**Can you re

[2020-07-24 12:22] onip commented on #6238
same error happens with [try.gogs.io](https://try.gogs.io/onip/png_lfs_test)

[2020-07-24 23:52] xZero707 opened #6240 "Added 3 directories with .gitkeep file, now I randomly see only one directory name 3 times"
**Describe the bug**

I committed the initial directory structure for my project (3 directories), each empty directory containing empty .gitkeep file.
After pushing the changes, in the web interface, I can see only one directory name, three times.
After every few reloads this name will change to name one of three.

**Gogs version and commit**

Gogs version: 0.12.0+dev

Commit: 90904b3f420d41cf56c6

[2020-07-25 00:00] xZero707 commented on #6240
I just realize this is already reported; Seems to be duplicate of #6186

[2020-07-26 10:59] VOCCTQ opened #6241 "Gogs database broken - repositories lost?"
**Described Issue:**
Somehow gogs database is broken just have "gogs-repositories"-folder with repo content.
Is it possible to import repositories in new gogs instance wihout having the database or is all lost?

**Gogs version and commit**
0.12.0+dev
Git-Version 2.24.3
Go-Version go1.14.6
Build-Zeit 2020-07-17 02:57:14 UTC
Build-Commit
90904b3f420d41cf56c62b6d96234b199399f3e4

**Database:** sqlite

[2020-07-29 13:00] jba opened #6242 "support abbreviated hashes"
Support URLs like https://gogs.doschain.org/doschain/slog/src/0af93b84a832/doc.go, where the hash is truncated to 12 characters.

This will enable Go source linking from module information. In Go modules, untagged commits are given a "pseudo-version" which includes only the first 12 bytes of the commit hash. Documentation display sites like [pkg.go.dev](https://pkg.go.dev) would like to link back

[2020-08-02 19:15] Akendo commented on #1640
Any news on this matter?

[2020-08-04 18:16] wdomski opened #6245 "Activity is not displayed in the Dashboard"
I have imported a lot of repositories into the Gogs. This was done manually by editing the DB (sqlite) through a Python script.

Each repo was added by adding a row in *repository* table and then a row in *watch* table.
However, when I commit some changes and push them to the repository nothing appears in the Dashboard. When I enter the repository in Gogs web panel everything is fine, commit histo

[2020-08-05 11:14] ianharrigan commented on #5253
Hi, i think im facing the same problem:

![image](https://user-images.githubusercontent.com/3024242/89406520-96aa7b80-d71d-11ea-86b4-071107f31ae4.png)

This is from source, latest git version,

Any idea how to fix this?

[2020-08-05 11:22] ianharrigan commented on #5253
FYI - this worked for me:

[code]

[2020-08-06 16:56] bibo38 commented on #6241
Is it just Gogs that fails or is the whole sqlite database broken (i.e. can you open it with an SQLite browser)? If a Gogs bug just created some problematic database records, then the whole database may be recovered by just deleting/fixing the broken records.

The Git-Repository can be imported, but the issues are lost as they are stored in the database.
After some tries, I've managed to find a ni

[2020-08-06 17:23] bibo38 commented on #6229
I don't really know about any special documentation about the database and it's tables. Is there anything special you wanna find/change in the database?

In practice the best documentation for the database format is the code, as the database format is built based on the Go structures (this is called [Object-relational mapping](https://en.wikipedia.org/wiki/Object-relational_mapping)/ORM). This has

[2020-08-06 17:42] bibo38 commented on #6221
Can you please point me to the source of this claim?

I only see "So how do you create a custom configuration if you are not allowed to edit conf/app.ini? Well, create custom/conf/app.ini then!" (https://gogs.io/docs/installation/configuration_and_run)

I don't know of any configuration editor in Gogs itself. The page you've mentioned just shows the current running Gogs configuration, so I can che

[2020-08-06 17:56] bibo38 commented on #6228
Some (temporary) solutions:
- Hide behind Cloudflare and let them handle the bots (maybe you know the scanning of your browser on some webpages). In case of doubt they will automatically require a Google ReCaptcha
- Disable registration and build your own custom registration script using whatever verification you like and registering the Users to Gogs via the Gogs-API: https://github.com/gogs/docs

[2020-08-06 18:38] bibo38 commented on #6190
The main problem is that getting users to use 2FA is already hard. Requiring more than two factors isn't practical is most cases (few users, low security improvement compared to 2FA).

The Gogs documentation is not huge. I would say feel free to add documentation ([docs](https://github.com/gogs/gogs/tree/master/docs)-folder).

Sure, but there needs to be someone to be interested in adding it. Eith

[2020-08-06 18:57] bibo38 commented on #6227
Just as a quick hint: Go can be nicely cross-compiled, which allows for compiling on x86 hardware for the Raspberry PI: `GOOS=linux GOARCH=arm64 GOARM=7 go build` creates a nice aarch64 executable. Things like SQLite need a C cross compiler for arm.

This can be used for example to compile Gogs via GitHub Actions.

[2020-08-06 19:10] bibo38 commented on #6214
some other proxies to try:
- https://goproxy.io/
- https://goproxy.cn/

or skip the proxy altogether: `export GOPROXY=direct`

[2020-08-07 04:23] dehghani-mehdi commented on #6229
@bibo38 that was not exactly what I'm looking for, I'm not Go programmer, but is great starting point. thank you.

No, I want to understand every database table and column and the relationship between tables.

[2020-08-07 04:28] #6227 closed

[2020-08-07 08:44] slmint commented on #6204
#13

[2020-08-07 11:16] bibo38 commented on #6219
Gogs currently uses environment variables to determine the current user:

https://github.com/gogs/gogs/blob/90904b3f420d41cf56c62b6d96234b199399f3e4/internal/osutil/osutil.go#L36-L44

As docker doesn't set those environment variables, it is manually added in the Gogs `start.sh` for Docker:

https://github.com/gogs/gogs/blob/90904b3f420d41cf56c62b6d96234b199399f3e4/docker/start.sh#L45

I agree that

[2020-08-07 15:00] achilleas-k commented on #6228
We had a couple of occasions with botnets making mass registration attempts on our instance.  At some point about a year ago there was an incident with about 400-500 total signups, most of which remained inactive after the spammer's mail server stopped delivering emails (instead we started getting bounce-backs of the signup messages).

I added a the ability to block email domains from signing up,

[2020-08-09 21:36] pdergane opened #6247 "incorrect documentation to configure gogs behind apache reverse proxy with subpath"
**Describe the bug**
 Documentation  https://gogs.io/docs/intro/faqs explains how to configure gogs behind an apache reverse proxy. Meanwhile the variable EXTERNAL_URL is not used to compute the subpath. In the source code https://github.com/gogs/gogs/blob/v0.11.91/pkg/setting/setting.go we can read that instead of variable EXTERNAL_URL, the ROOT_URL variable is used. And I confirm that if I set E

[2020-08-13 05:31] Schlomon commented on #144
Any news on this?

[2020-08-13 12:29] deltreey opened #6248 "runtime error: invalid memory address or nil pointer dereference"
**Describe the bug**

I'm getting intermittent errors reported by Jenkins when trying to fetch (and prune) from GoGS.  I think the error is specific to the `--prune` flag

It may or may not be relevant, but I did find it on stack overflow, related to Go code as well: https://stackoverflow.com/questions/16280176/go-panic-runtime-error-invalid-memory-address-or-nil-pointer-dereference

**Gogs versio

[2020-08-13 13:04] deltreey commented on #6248
I discovered that `gogs.err` log file permissions had root as owner.

[code]

I ran chown, so I'm going to watch it for a few days and see if the issue continues or if that fixes it.  Not really sure how that happened.

[2020-08-13 17:09] shadowstepik opened #6249 "https://git.gs-studio.eu/avalonxt/pulse_mmo.git"

[2020-08-13 17:09] #6249 closed

[2020-08-14 02:55] skylarmt commented on #144
My company has switched over to Gitea, a fork of Gogs that has a lot more community involvement, which has led to improvements such as a responsive UI and two-factor authentication. There's also a third-party Gitea Android app in F-Droid called GitNex.

[2020-08-14 11:35] Schlomon commented on #144
Yeah I more and more feel like gitea is the only real option here.

[2020-08-14 14:59] manfer commented on #6235
The problem is on git-module

https://github.com/gogs/git-module/blob/cf0a6d71b880c42c4dd507b59be762c5a05c649a/tree_entry.go#L261-L270

[code]

An entry id is not unique so it should not be used as map key. When on a tree there is a file or folder with same contents its SHA1 hash is equal. This can be tested in any repo with two files with same content executing `git ls-tree HEAD`

Maybe a solutio

[2020-08-14 16:53] manfer commented on #6235
https://github.com/gogs/gogs/issues/6186

[2020-08-16 11:48] unknwon commented on #6190
@SurtursRevenge @bibo38: Thank you both!

While integrating OpenOTP is a very tool technical thing to implement, I think current 2FA is good enough and you may follow https://github.com/gogs/gogs/issues/4384 about FIDO U2F support.

[2020-08-16 11:48] #6190 closed

[2020-08-16 11:59] unknwon commented on #5569
@jimist: If you still have time, yes, please go ahead!

[2020-08-16 12:02] unknwon commented on #5020
@theWayToAI Technically Gogs would clean it up when failed, other cases, you could go to admin (`/admin/repos`) and remove it directly.

[2020-08-16 12:07] unknwon commented on #3028
@RDCH106: Thanks for the link! That sounds good to me 👍

[2020-08-16 13:31] #6185 closed

[2020-08-17 12:33] unknwon commented on #5347
After auditing and testing locally, I think users are not able to use web editor to edit files on protected branch at all (at least on `0.12.0+dev`).

[2020-08-17 12:33] #5347 closed

[2020-08-17 12:43] unknwon commented on #6150
@sebhof: Hi! Getting back to you on this problem, I think the (same) reason you're not able to reproduce on https://try.gogs.io and myself locally is that the underlying error checking bug has been fixed at some point after the version you're currently using.

Would you be able to upgrade your installation see if the problem still presents? Thanks!

[2020-08-17 12:49] unknwon commented on #5569
@jimist: On a second thought, I don't think this is a good idea to have auto-login after signup. With email-verify-required instance, user should first verify the email they've used to sign up, which auto-login would defeat the purpose.

[2020-08-17 12:49] #5569 closed

[2020-08-17 13:09] #5506 closed

[2020-08-17 13:20] deltreey commented on #6248
the issue seems to be gone now.

[2020-08-17 13:26] unknwon commented on #6215
Fixed in latest `master`:)

[2020-08-17 13:26] #6215 closed

[2020-08-18 12:49] deltreey commented on #6248
so the problem reappeared last night.  I'm going to pull down the latest master today as recommended on the discord...

[2020-08-19 13:17] #6219 closed

[2020-08-19 14:28] #6186 closed

[2020-08-19 14:28] #6235 closed

[2020-08-19 14:28] #6240 closed

[2020-08-22 09:22] unknwon opened #6262 "Release 0.12.0"
## Before release

On develop branch:

- [x] Close stale issues with the label [status: needs feedback](https://github.com/gogs/gogs/issues?q=is%3Aissue+is%3Aopen+label%3A%22status%3A+needs+feedback%22).
- [x] Sync locales from [Crowdin](https://crowdin.gogs.io/).
- [x] Update [CHANGELOG](https://github.com/gogs/gogs/blob/master/CHANGELOG.md) to include entries for the current release.
- [x] Cut a

[2020-08-22 14:25] #6262 closed, assigned to unknwon

[2020-08-23 13:48] sbilly opened #6276 "Can not start the latest Gogs's docker image."
**Describe the bug**

Can not start the latest Gogs's docker image.

**Gogs version and commit**

gogs version: Gogs 0.13.0+dev

**Git version**

Attach to the docker instance with `docker exec -ti gogs /bin/bash`, and check git version:

[code]

**Operating system**

Ubuntu 16.04 LTS with docker engine:

[code]

**Database**

sqlite3

**To Reproduce**
Steps to reproduce the behavior:
1. pull the

[2020-08-23 15:22] #6276 closed, assigned to nobody

[2020-08-23 16:34] Meeuwisse opened #6277 "Unable to clone via SSH using `gogs/gogs-rpi`"
**Describe the bug**
First time trying out gogs docker image on raspberry; ssh refuses to work.

Followed the instructions;
`docker run -d --name gogs --publish 8022:22 --publish 3000:3000 --volume /media/seagate/gogs/:/data gogs/gogs-rpi`

Said to not enable SSH server (enabling it later, restarting docker container, or rewriting authorized_keys didn't help);
[code]

**Gogs version and commit**
A

[2020-08-24 03:51] binbin666 commented on #6276
thx, it works for me, just modify the configuration in gogs's app.ini with tips in [v0.12.0 Changed](https://github.com/gogs/gogs/blob/master/CHANGELOG.md#changed-1)

[2020-08-24 06:36] Davidbrcz commented on #6233
I*ve been hit with the same issue when I was running postgresql 10.6 and gogs:latest (sha256:4d610b974050c5cf9c17128237aa2e616936445a2ce8b535d1fecfa2eaa3fbef)

I upgraded to postgresql 10.14 (same issue). Downgrading gogs to 0.11.91 fixes the ssue foe me

[2020-08-24 10:00] sbilly commented on #6276
thx, it works.

[2020-08-24 11:07] #6209 closed

[2020-08-24 11:39] unknwon commented on #6277
I set up Gogs Docker on my Raspberry Pi and found the following log, which seems to be the root cause:

[code]

[2020-08-24 11:42] unknwon commented on #6277
@Meeuwisse Thanks for a high quality bug report BTW! ❤️

[2020-08-24 14:31] unknwon commented on #6277
OK, found the root cause: https://gitlab.alpinelinux.org/alpine/aports/-/issues/11808

Which effectively made "unlock" the user `git` failed:

[code]

[2020-08-24 15:22] unknwon commented on #6277
All of following tags of `gogs/gogs-rpi` are updated: `latest`, `0.12` and `0.12.0`. You can re-pull the Docker image now!

[2020-08-24 15:22] #6277 closed

[2020-08-24 16:41] Meeuwisse commented on #6277
Works! Thanks for the quick turnaround 👍

[2020-08-24 20:07] githubcdr commented on #6276
This gives the enduser pain

[2020-08-24 23:14] pascal-ace commented on #4765
Hello, i've the same problem,
I changed, saved and restarted gogs by hand, but no parameter changes in the interface.
But the EXTERNAL_URL  seems to work. Any idea ?
custom/conf/app.ini
[code]

/conf/app.ini
[code]

[2020-08-25 06:18] sebhof commented on #6150
Hi, sorry for my late response. I updated gogs from the Debian repository to version 0.11.91-1598167677.afb445bb.stretch (0.13.0+dev on /admin page). Unfortunately the error still exists. Same behaviour as before.

But in the meantime we use another workflow and other tools, so that we are not affected by this error anymore. Perhaps it is a special problem in our installation and if no one else is

[2020-08-25 20:55] pascal-ace opened #6279 "custom/conf/app.ini and conf/app.ini without incidence"
**Describe the bug**
when I change the settings in the configuration files, it doesn't change anything on the site (even with the clear cache)

**Gogs version and commit**
Application version 0.13.0+dev
Git version 2.20.1
Go version go1.15

**Operating system**
Debian 10 64bit

**Database**
PostgreSQL

**To Reproduce**
Steps to reproduce the behavior:
1. Install Go
2. go get -u github.com/gogs/gog

[2020-08-26 02:26] ChengLuffy commented on #6279
I have the same question.

Install gogs by docker, edit `/data/gogs/conf/app.ini`

![image](https://user-images.githubusercontent.com/15682381/91248105-71da7e80-e786-11ea-9188-f28139e4932e.png)

But users can still register

[2020-08-26 02:51] ChengLuffy commented on #6279
fixed by install tag:0.12.0

[2020-08-26 08:33] pascal-ace commented on #6279
I'll try in a few hours, I'll keep you informed.

[2020-08-26 12:03] unknwon commented on #6279
Hi, please refer to this comment: https://github.com/gogs/gogs/issues/6276#issuecomment-678787224

Some config options have been renamed since April. Pinning to 0.12.0 will continue to work as that is the last version of supporting those deprecated config options.

[2020-08-26 12:03] #6279 closed

[2020-08-26 17:58] gramakri opened #6280 "0.12.0: cfg field in login_source table created as VARCHAR(255) in MySQL"
**Describe the bug**

* Install latest release of Gogs 0.12.0
* Configure Gogs for MySQL
* The `cfg` field in `login_source` table is created as `VARCHAR(255)`. This used to be TEXT in the previous releases.

**Operating system**
* Ubuntu 18.04 (We found this in the Cloudron package, though  I don't think that matters).

**Database**
MySQL

**To Reproduce**
Steps to reproduce the behavior:
1. Run

[2020-08-27 02:02] unknwon commented on #6280
Thanks! I'll take a look ASAP.

[2020-08-27 02:04] xishengcai opened #6281 "无法获取tag列表"
**Describe the bug**

在你们的api里面没有发现tag， 我这里就认为获取标签列表是用labels

curl -H "Authorization: token xxxxxxx" https://try.gogs.io/api/v1/repos/cai-org/cc/labels
这个返回的是空数组

**Gogs version and commit**

**Git version**

线上环境 https://try.gogs.io/api/v1/

**Operating system**

**Database**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-08-27 03:19] istandthon7 opened #6282 "Add a migration for deprecated configuration options"
**Describe the feature**

I was upgrade to 0.12 from 0.11.9
I cant show web page because of db login error.
I Found in release notes.
Configuration option [database] PASSWD is deprecated and will end support in 0.13.0, please start using [database] PASSWORD.
I think that it is possible replace configuration keys and sections.
If it is saved version info, not difficult.
**Describe the solution you'

[2020-08-27 06:29] #6280 closed

[2020-08-27 06:29] unknwon commented on #6280
Cutting a new patch release 0.12.1 for this.

[2020-08-27 06:36] unknwon opened #6284 "Release 0.12.1"
## Before release

On develop branch:

- [x] Update [CHANGELOG](https://github.com/gogs/gogs/blob/master/CHANGELOG.md) to include entries for the current patch release.

## During release

On release branch:

- [x] Cherry-pick commits from develop branch:
	- [x] https://github.com/gogs/gogs/commit/a02b3e12587f22f5058dec355d8c012659790886
	- [x] https://github.com/gogs/gogs/commit/4ecd588776f6a18c5

[2020-08-27 06:37] unknwon commented on #6281
Gogs currently does not have a API to list Git tags, seems duplicated to https://github.com/gogs/go-gogs-client/issues/109.

[2020-08-27 06:37] #6281 closed

[2020-08-27 07:52] #6284 closed

[2020-08-27 13:51] evdenis opened #6286 "postgresql: Failed to initialize ORM engine"
Gogs fails to connect to psql after an update. Manual connection works as expected.

[code]

[code]

[2020-08-27 16:20] gramakri commented on #6280
@unknwon Thanks for the quick turnaround, I can confirm the patch works.

[2020-08-27 22:22] kinglike1337 opened #6287 "Docker: Backup Rotator"
After pulling the latest docker image the backup rotator scripts creates an error:
find: unrecognized: -mtime +360

I think the quotes added by the the commit 92c5f94fe7fae17620ecb8895e287e9e66fb135c introduced this error:
https://github.com/gogs/gogs/blob/6e1c74a0f25032f43a40c71b78616d7960b3d832/docker/runtime/backup-rotator.sh#L24

The argument "FIND_EXPRESSION" is not correctly passed to the fi

[2020-08-28 03:28] unknwon commented on #6286
Hi, I think it is because 0.13.0+dev stops reading old config option for password (`PASSWD` -> `PASSWORD`), see https://github.com/gogs/gogs/issues/6276#issuecomment-678787224.

Related: https://github.com/gogs/gogs/issues/6282?notification_referrer_id=MDE4Ok5vdGlmaWNhdGlvblRocmVhZDEwOTk5NTQ1MzE6Mjk0NjIxNA%3D%3D&notifications_query=repo%3Agogs%2Fgogs%20is%3Aunread

[2020-08-28 03:28] #6286 closed

[2020-08-28 03:30] unknwon commented on #4765
@pascal-ace If you're running 0.13.0+dev, notice the config option name has moved to `[auth]` not `[service]`. See https://github.com/gogs/gogs/issues/6276#issuecomment-678787224.

[2020-08-28 03:42] unknwon commented on #6287
Thank you! Fix is coming.

[2020-08-28 03:43] #6287 closed

[2020-08-28 03:45] unknwon commented on #6282
Thanks for the suggestion!

I'm going to add a migration in 0.13.0+dev for this. Sorry about any inconvenience caused!

[2020-08-28 06:08] unknwon commented on #6282
On a second thought, I think it is not possible because determine the migration version requires reading from database, which has to load the configuration first. 😞

[2020-08-28 06:08] #6282 closed

[2020-08-28 06:36] unknwon opened #6289 "Push declined with "invalid issue reference""
### Affected versions

All

### Description

When the commit message somehow has a match for the issue pattern regex, then it looks for `#` sign to be included, which is not always the case.

https://github.com/gogs/gogs/blob/b38139a85542389bc593b628fa032e5cc33ee814/internal/db/action.go#L62

### Possible solutions

1. (_preferred_) Instead of returning `InvalidIssueReference`, just return `ErrIss

[2020-08-28 08:15] pascal-ace commented on #4765
@unknwon problem solved when I open my ticket  #6279
I have installed version 0.12 since the releases.
It would have been preferable to change the installation doc to prevent this change.

[2020-08-28 08:19] pascal-ace commented on #6279
I have installed version 0.12 since the releases ([https://github.com/gogs/gogs/releases](url))
It would have been preferable to change the installation doc to prevent this change.

Then it will work after a restart.

from #4765

[2020-08-28 15:03] DelightedD0D opened #6290 "Some listed files are not viewable from the UI giving "File Not Found" when clicked"
Tried the forums but getting "New registrations are not allowed from your IP address (maximum limit reached). Contact a staff member."

When looking at the repo in the UI, all files are shown. However, when I click on the files to view them, about 50% show the file while the other 50% show "File not found" in the browser.

Application version 0.12.0
Git version 2.17.1
Go version go1.15
Build time

[2020-08-28 15:36] unknwon commented on #6290
Hi, can you push the repository in trouble or create a reproduce on https://try.gogs.io/?

[2020-08-28 19:41] joshartman commented on #4765
I had to change the [service] in my app.init to [auth]. Looks like the first time installer creates an incorrect app.ini file.

[2020-08-28 22:47] DelightedD0D commented on #6290
@unknwon I cant upload the actual repo as its' a clients. I created another repo but indeed I'm unable to reproduce the issue there https://try.gogs.io/wesleysmith/larvel-app-test/src/master/config/app.php

[2020-08-28 22:58] istandthon7 commented on #6282
No. Option(e.g. PASSWD or PASSWORD) is sign of version.

[2020-08-29 01:26] unknwon commented on #4765
@joshartman Thanks for pointing out! It is a bug, will work a fix ASAP.

[2020-08-29 01:31] unknwon commented on #6290
How is your reverse proxy set up? Because it ends with a `.php`, I suspect your hosting provider or reverse proxy thought it was a real PHP script instead of redirecting request to Gogs.

The second screenshot does not look like a 404 from Gogs.

[2020-08-29 03:23] DelightedD0D commented on #6290
@unknwon you nailed it, we had this in our nginix config for the subdomain, removing it fixed the issue. Thank you!

[code]

[2020-08-29 03:23] #6290 closed

[2020-08-29 05:34] unknwon commented on #4765
Fixed in https://github.com/gogs/gogs/pull/6293, thanks again!

[2020-08-29 10:56] manfer commented on #6280
Do this solve the issue just for new installs and some older versions?

I mean. I have pulled new changes, I have builded gogs and cfg is still VARCHAR(255). Should I manually edit cfg column or will it eventually turn into TEXT type?

[2020-08-29 12:03] unknwon commented on #6280
@manfer You would need to manually edit the `cfg` column for existing table/database.

[2020-08-29 12:07] unknwon opened #6296 "Recognize `main` as default branch if `master` is not available"
~~New repository should start using `main` as the default branch, fall back to `master` when `main` is not available when the default branch is not set.~~

When detecting the default branch, try `main` if `master` is not available.

[2020-08-30 08:31] unknwon opened #6298 "Commit references in issues are not updated after changing organization name"
### Affected versions

All

### Description

After changing the organization name, the link of commit references in issues are not updated to reflect the change, which leads to 404.

---

_Originally reported in https://discuss.gogs.io/t/topic/3201_

[2020-08-30 15:57] meyca opened #6299 "Yesterdays commit 23ff182 broke existing docker container setups"
**Describe the bug**
Yesterdays commit changed the password configuration for postgresql databases

https://github.com/gogs/gogs/commit/23ff182d1f8df2978785772bc58cf0ebfd2aeb0c#r41892581

After (automatically) upgrading to commit 23ff182 the software flooded the log with

    2020/08/30 00:00:00 [ INFO] Gogs 0.13.0+dev
    2020/08/30 00:00:00 [FATAL] [...o/gogs/internal/route/install.go:75 GlobalI

[2020-08-30 16:00] meyca commented on #6299
Probably a won't fix, but this might help others having the same issue.

As commented on the source:

After changing [data-volume]/gogs/conf/app.ini from PASSWD = ... to PASSWORD = ... my environment is up again.

[2020-08-31 05:06] unknwon commented on #6299
Yeah... sorry for trouble, see https://github.com/gogs/gogs/issues/6276#issuecomment-678787224.

Recommend start using pinned minor version e.g. `gogs/gogs:0.12`.

[2020-08-31 05:06] #6299 closed

[2020-09-01 04:59] liyuan-rey opened #6300 "Auto generated URL of commit SHA references link to wrong address"
**Describe the bug**
Auto generated URL of commit SHA references in markdown link to wrong address

**Gogs version and commit**
Gogs  0.11.91.0811

**Git version**
Git 2.24.1.windows.2

**Operating system**
Windows 10 Home (Chinese) 19041.450

**Database**
Unknown

**To Reproduce**
Steps to reproduce the behavior:
1. Edit README.md file locally, add line with a valid commit SHA value, save file.
2

[2020-09-02 03:05] 4973455 opened #6301 "http://123.139.57.206:13001/xiaoximama/front-InsuranceMall.git"

[2020-09-02 08:08] unknwon commented on #6300
Thanks for the feedback!

Please do so.

[2020-09-03 05:52] liyuan-rey commented on #6300
emm.... try.gogs.io has the same issue.

[2020-09-03 05:53] liyuan-rey commented on #6300
i can't paste the screenshot, please visit https://try.gogs.io/liyuan/issues-6300

[2020-09-03 05:54] liyuan-rey commented on #6300
![Snipaste_2020-09-03_13-49-53](https://user-images.githubusercontent.com/10598397/92076295-e8adf200-edec-11ea-878c-f5971ec2a647.png)

[2020-09-03 06:17] unknwon commented on #6300
@liyuan-rey Thank you!

Note: The correct link should be:

[code]

[2020-09-03 16:38] manfer commented on #6300
https://github.com/gogs/gogs/blob/23ff182d1f8df2978785772bc58cf0ebfd2aeb0c/internal/route/repo/view.go#L85-L101

Not sure if changing line 90 to,

[code]

is a proper solution or if it will have any undesirable effect somewhere else.

[2020-09-03 18:40] unknwon commented on #6300
@manfer Thanks for looking! I think relative links to a file will break, e.g. link to another Markdown, display an image.

Another option seems achievable would be adding something like `repoLink` in the map that is returned by `c.Repo.Repository.ComposeMetas()` (the docstring says it is for the purpose of external issue tracker but we can expand the use cases)?

[2020-09-03 18:53] quincyyhuang opened #6302 "panic: template: base/head:63: function "MD5" not defined"
**Describe the bug**

I was upgrading from 0.11 to the latest 0.12 and I followed the documentation on that. When I try to run `gogs web`, it panicked with the text in title.

**Gogs version and commit**

0.12.1

**Git version**
2.20.1

**Operating system**
Debian 10 x64

**Database**
mysql  Ver 15.1 Distrib 10.3.23-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2

**To Reproduce**
This l

[2020-09-03 19:04] #5733 closed

[2020-09-03 19:08] quincyyhuang commented on #6302
Ok i found what is wrong. I had some templates file in custom folder to customize the home page and those files seem to be causing problems.

Now is there a way to customize the icon, favicon and the home page?

[2020-09-03 19:15] unknwon commented on #5733
Huge thanks to @achilleas-k, it is now supported!

[2020-09-03 19:25] unknwon commented on #6302
Ah, sorry about the service interruption! Should have added this to the CHANGELOG, it was removed in this commit: https://github.com/gogs/gogs/commit/6437d0180b97a26319b50c2e22927dac7c94fcdd#diff-675f585d9cd6a202ba88a50dc67e52ff

Editing template files in customer folder is the correct way according to https://gogs.io/docs/features/custom_template.

[2020-09-03 19:25] #6302 closed

[2020-09-04 12:53] Ellpeck commented on #3866
Why is this not classified as a security issue anymore?

Especially when two-factor authentication is enabled on an account, the username+password approach cannot be used at all when cloning a repository using http. This means that using the access token as the username is the only possibility in that instance.

Either way, thanks so much for all the hard work that you do on Gogs!

[2020-09-05 08:41] unknwon opened #6307 "Change email package"
- https://github.com/xhit/go-simple-mail
- https://github.com/jordan-wright/email
- https://github.com/wneessen/go-mail

Ref: https://mp.weixin.qq.com/s/nxLZ3VEKV_6ory7n8feS9w

[2020-09-05 08:42] unknwon opened #6308 "Change HTTP client package"
Candidates:
- https://github.com/go-resty/resty
- https://github.com/gojek/heimdall

[2020-09-06 09:04] unknwon commented on #6229
**Update**: With merging of https://github.com/gogs/gogs/pull/6310, we can now automatically generate database schema of structs for each driver. See it here: https://github.com/gogs/gogs/blob/main/docs/dev/database_schema.md

More tables will be added to it while migrating towards GORM v2.

[2020-09-06 09:51] dehghani-mehdi commented on #6229
Great, Is there any plan to add short description about each table/column to mention its job?

[2020-09-06 10:18] unknwon commented on #6229
Not on my plan, but good idea, will see :)

[2020-09-07 03:23] mana6666 opened #6311 "can not drop collection"
version 4.0.9:

mongos> db.IPTV_EQUIPMENT_MINUTE_PON.drop();
2020-09-07T10:54:39.642+0800 E QUERY    [js] Error: drop failed: {
	"ok" : 0,
	"errmsg" : "timed out waiting for iptvqoe.IPTV_EQUIPMENT_MINUTE_PON",
	"code" : 46,
	"codeName" : "LockBusy",
	"operationTime" : Timestamp(1599447279, 1),
	"$clusterTime" : {
		"clusterTime" : Timestamp(1599447279, 1),
		"signature" : {
			"hash" : BinData(0,"

[2020-09-07 03:27] mana6666 commented on #6311
this collection is on a sharded mongodb cluster.and is very unbalanced .(the biggest shard has 17900 chunks and the other shard has only 107 chunks. )
I want to  drop the collection and remake a new one.
how can i do?have i got to update the version to higher one?

[2020-09-07 09:46] lpotherat opened #6312 "Release page : Allow sorting of release by version tag"
**Describe the feature**
It would be nice to be able to toggle the sorting algorithm in the releases page between commit number, or tag name.
I made an example on this repo : [https://try.gogs.io/l.potherat/test/releases](https://try.gogs.io/l.potherat/test/releases)
Since I created the tags in this order, and there is no new commit at all (quite not a real use case, but it happen if hotfix are re

[2020-09-07 17:37] zeocrash opened #6313 "404 when comparing Tags while using IIS as a reverse proxy"
**Describe the bug**
I've set up Gogs on my windows server 2019 VM.

I've used IIS with URL rewriting for reverse proxying. This works perfectly for everything except Tag comparison.

If i attempt to perform a tag comparison I receive a 404.7. The 404.7 is provided by IIS not by Gogs.

After much poking around, i have found that the issue is caused by the three full stops in the url (e.g. RepoName

[2020-09-07 17:49] monoflash opened #6314 "Request repository subdir result in `[Macaron] PANIC: Value not found for type *repo.HTTPContext`"
**Describe the bug**
All request https://domain.name/path/repo?go-get=1 ends with error 500

**Gogs version and commit**
Error beginning from version 0.12.0.
In version 0.12.1 also error presented.

**Git version**
git version 2.28.0

**Operating system**
[code]

**Database**
mysql

**To Reproduce**
Steps to reproduce the behavior:
1. upgrade goggs from version 0.11.91 to version 0.12.0 or 0.12.1

[2020-09-07 19:32] unknwon commented on #6314
Hi, are you sure you're running 0.12? There is no such file `routes/repo/http.go` (from your error log): https://github.com/gogs/gogs/tree/release/0.12/internal/routes/repo/http.go

[2020-09-07 20:02] monoflash commented on #6314
Yes, of course.

./gogs --version
```Gogs version 0.12.1```

shasum --binary -a 512 ./gogs
```76bbaab2738f9208d53f7ce5301e0158dac60b76cbef96d6b05f818501bfe0495cdd9d4c301e41f4550dfe0e70c55b7e2130125b53188105a678bbe9378848a8 *./gogs```

shasum --binary -a 256 ./gogs
```f33a3d36c7ea10f723ec4c787559362d7e5989c275b5797ceaf8df00f637eafe *./gogs```

[2020-09-07 20:46] monoflash commented on #6314
Errors from console:
[code]

[2020-09-08 01:18] unknwon commented on #6314
Thanks for the follow up! It is a bug, I'll investigate.

[2020-09-08 04:23] unknwon opened #6315 "Allow setting Git diff operation timeout"
Adds a new key under `[git.timeout]` section:

https://github.com/gogs/gogs/blob/06193ed825094581da4fb5550804d7445fc5ae13/conf/app.ini#L458

This value should be used with [every call of `gitutil.RepoDiff`](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/gogs/gogs%24+gitutil.repoDiff&patternType=literal).

_Originally requested in https://discuss.gogs.io/t/big-pull-requests-get-diff-executi

[2020-09-08 12:51] ZantsuRocks opened #6316 ""pre-receive hook declined" after running Gogs for some time on Windows"
**Describe the bug**
When trying to push some repo to Gogs it throws an error

**Gogs version and commit**
0.12.1 - 43fc8260850090b55d4ee2586a819b3b6c016279 _(The bug never occurred on 0.11.91)_

**Git version**
git version 2.23.0.windows.1 (Windows Client and Windows Server)
and
git version 2.17.1 (Linux Client)

**Operating system**
Pushing PC -> Windows 10, Linux
Repo Server -> Windows Server 2

[2020-09-08 15:10] Crayon2000 commented on #6316
I am currently having the same problem. I need to restart the service each day in order to make push request work. The problem did not occur before updating to 0.12.1. I am also using gogs on Windows.

[2020-09-08 22:17] rsurgiewicz commented on #4751
Hi folks,
Running 0.12.1 and I'm still facing the issue.
After adding ssh key via web interface it does not appear on .ssh/authorized_keys automatically.

However some black magic happens because after some time (1h I guess) authorized_keys are regenerated?
How can I regenerate it manually?

Which logs / data shall I deliver to help You investigate the issue

[2020-09-09 01:17] unknwon commented on #4751
@rsurgiewicz You can regenerate on admin dashboard `/admin`.

<img width="747" alt="Screen Shot 2020-09-09 at 9 17 06 AM" src="https://user-images.githubusercontent.com/2946214/92543157-4757ed80-f27d-11ea-8359-9ea8032a6ab3.png">

[2020-09-09 05:24] rsurgiewicz commented on #4751
Ok thanks.
Anyone know what is the schedule of "automatic `authorized_keys `rewrite" ?

Shall it be considered as a bug or it's just by design?

[2020-09-09 06:16] unknwon commented on #4751
@rsurgiewicz That happens whenever a SSH key is added/removed.

[2020-09-09 06:30] unknwon commented on #6316
Thanks for reporting!

I don't have any clue about the root cause top of my head, but I'll take a look during 0.13 dev cycle.

[2020-09-09 07:38] rsurgiewicz commented on #4751
Ok so in this case it does not happen. At least in my instance.
Manual force rewrite is a workaround

[2020-09-09 07:38] linkdd commented on #4751
@unknown No it's not happening, that was the whole point of the issue.

And sorry but we do not have access to the file system of the demo site to verify the issue. You have the steps to reproduce it, it's not that hard.

But hey, it's been 3 years, no worries, I'm just not using gogs anymore.

[2020-09-09 08:49] unknwon commented on #4751
@rsurgiewicz Just to confirm, manually run the operation on admin dashboard worked for you?

[2020-09-09 08:54] rsurgiewicz commented on #4751
Yes manual trigger works

Dnia 9 września 2020 10:49:31 CEST, "ᴜɴᴋɴᴡᴏɴ" <notifications@github.com> napisał(a):

[2020-09-09 09:58] nerkdesign opened #6317 "500 login page"
**Describe the bug**
When I go to the interface, when i click on Sign In, I have a 500 error page
**Gogs version and commit**
Gogs : version 19 docker

**Git version**
git : 2.24.3

**Operating system**
docker

**Database**
mariadb mysql version 10.3.23

**To Reproduce**

1. Go to gog interface
2. Click on Sign in
3. See error 500

I have this on logs :
2020/09/09 09:24:38 [ERROR] [...gogs/interna

[2020-09-09 11:17] karl0ss commented on #6317
Mine has been doing this for the last week..

If I reinstall using MySQL, I get the same issue, but seems to work fine with SQLlite DB..

[2020-09-09 11:37] unknwon commented on #6317
Hi, what is "Gogs : version 19 docker"? You can use `./gogs --version` to get the current version.

[2020-09-09 11:54] nerkdesign commented on #6317
Ok sorry, i took the version in the database.
For the command you send I have this :

bash-5.0# ./gogs -version
Gogs version 0.13.0+dev

I took it from hub.docker the image is gogs/gogs

@karl0ss thanks ! I took the 12.1 image and it's working again, thanks for your advice

[2020-09-09 11:54] nerkdesign commented on #6317
I close this issue, this must be linked the de dev version.

[2020-09-09 11:54] #6317 closed

[2020-09-09 12:14] #6314 closed

[2020-09-09 12:17] unknwon commented on #6314
The patch to fix this issue will be back ported to 0.12 when next time cut a release branch (scheduled this Saturday, Sept 12, 2020).

[2020-09-09 13:33] frosteyes opened #6319 "Unable to resolve submodule with relative URL"
Having a url like

https://gogs.server.com/org/repo1.git

This has a .gitmodules files with

[code]

for accessing https://gogs.server.com/org/repo2.git

It works when you checkout the archive. But the link from the webinterface on https://gogs.server.com/org/repo1 points to https://gogs.server.com/repo2

The issue has previously been present  - closed with fixed.
https://github.com/gogs/gogs/issu

[2020-09-09 14:00] unknwon commented on #6319
I _think_ the solution is to update this function:

https://github.com/gogs/gogs/blob/594a2dc41f6e70f0cc535b125316d05e12666fda/internal/gitutil/submodule.go#L20

[2020-09-09 14:02] frosteyes commented on #6319
@unknwon agree - this is the place to fix it.

[2020-09-09 18:19] arshsahzad opened #6321 "Remove Port 3000 form External URL"
**Bug Describe**
I updated Gogs app to version 0.12.1 through Cloudron update button, now when I'm fetching, pulling, pushing repository to my private git server (https://git.softretic.com), it is binding with port no 3000 with every repos (http://git.softretic.com:3000/arshsahzad/FamilyDB.git) but when I'm removing port :3000 from URL, everything is working fine

Before Update

![Before](https://

[2020-09-10 01:53] unknwon commented on #6321
Hi, Gogs just reads the value of this config option:

https://github.com/gogs/gogs/blob/594a2dc41f6e70f0cc535b125316d05e12666fda/conf/app.ini#L13-L15

And you can change it easily, check your `custom/conf/app.ini` file :)

[2020-09-10 01:53] #6321 closed

[2020-09-10 01:54] unknwon commented on #6321
Also worth noting: https://github.com/gogs/gogs/blob/main/CHANGELOG.md#changed-1

[2020-09-10 04:53] arshsahzad commented on #6321
Thanks, removing this :%(HTTP_PORT)s/ from
[server]
EXTERNAL_URL = %(PROTOCOL)s://%(DOMAIN)s**:%(HTTP_PORT)s/**

Solved the problem of port attaching to it

[2020-09-10 04:55] arshsahzad commented on #6321
Thanks, removing this :%(HTTP_PORT)s/ from

`[server]
EXTERNAL_URL = %(PROTOCOL)s://%(DOMAIN)s:%(HTTP_PORT)s/`

Solved the problem of port attaching to it

[2020-09-10 06:14] arshsahzad opened #6322 "Unable to clone repo over SSH"
**SSH Problem**
I set-up my Gogs app in Cloudron and have to choose any port (:1024) for SSH but when I'm cloning, pushing to my private Gogs server [SoftRetic](https://git.softretic.com/), I'm getting an error

**Error**
'git clone ssh://git@git.softretic.com:1024/arshsahzad/OnePage.git
Cloning into 'OnePage'...
ssh: connect to host git.softretic.com port 1024: Connection timed out
fatal: Could n

[2020-09-10 07:34] unknwon commented on #6322
Hi, from your screenshot, it does not look like you're starting builtin SSH server, which effectively makes port 1024 useless (i.e. no one is listening to it).

I'm not familiar with Cloudron environment, but generally, if you have SSH server already set up, you should just set to use port 22 for SSH.

[2020-09-10 07:34] #6322 closed

[2020-09-10 08:25] onip commented on #6238
diasabling logs **does not** solve the problem.

[code]

[code]

nothing in the logs as before.

[2020-09-11 06:38] unknwon commented on #6238
@onip Thanks for posting your `.git/config`, I'll take a closer look.

`LFS: Client error` means server returned 4xx status code.

BTW, I do not understand why would "disable logs" would solve any problem, seems irrelevant to me :)

[2020-09-11 07:11] onip commented on #6238
I just wanted to say that gogs logs, at `Trace` level didn't say anything significant, like in the first post.

don't know if it is relevant but I forgot to mention that I am not using ssh authenticate to gogs but http basic auth mechanism

[2020-09-11 14:47] gautam922 opened #6323 "https://git.app.net/git_admin/scapp_android"

[2020-09-11 22:50] quimnut opened #6331 "Failure to start after attempting to connect to sqlite3 with tcp"
Using the gogs/gogs docker I am unable to start the application using sqlite3

Gogs 0.13.0+dev

/app/gogs # tail -n2 $GOGS_CUSTOM/log/gogs.log
2020/09/12 08:39:00 [ INFO] Gogs 0.13.0+dev
2020/09/12 08:39:00 [FATAL] [...o/gogs/internal/route/install.go:75 GlobalInit()] Failed to initialize ORM engine: open database: failed to connect to `host=127.0.0.1 user=gogs database=gogs`: dial error (dial tcp

[2020-09-13 09:00] unknwon commented on #6238
Yes, 4xx is a client error, server doesn't usually record those. You probably meant "enable logs", not "disable logs", which sounds like going the opposite way of trying to get more information.

[2020-09-14 20:32] lucascalion commented on #6331
+1
I updated to version 0.12 and I am also having the exact same problem!

[2020-09-15 06:34] philidor-green commented on #6155
Right now it exclude only `"attachments", "avatars", "repo-avatars"`, do we need some kind of additional flag ?
Could you point me better option ?
https://github.com/gogs/gogs/blob/594a2dc41f6e70f0cc535b125316d05e12666fda/internal/cmd/backup.go#L111-L119

[2020-09-16 11:52] Peyphour opened #6332 "Security Issue"
This is a dummy security issue for tracking purposes.
The details are already in possession of the Gogs team.

[2020-09-16 11:59] kotnik commented on #6331
The same here.

Upgraded from `0.12.0+dev` (build time `2020-06-29 04:29:19 UTC`) and gogs can't start anymore. Using exact config as above.

Switching to `gogs/gogs:0.12.1` Docker image brought the service back.

[2020-09-16 18:26] teknofile opened #6334 "Error 1054: Unknown column 'id' in 'field list'"
After a recent upgrade of the gogs docker container, I can no longer log into the web ui. I upgrade the command essentially by doing a docker rm <container name> and then pull a new one down and point it to a volume on disk that is persistent.

When starting up the container and logging into the container, this is ijn the <volume dir>/gogs/log/gogs.log file:

[code]

The database is an external Ma

[2020-09-17 08:33] shenpeiheng commented on #6334
docker run --name=gogs -p 10022:22 -p 10080:3000 -v /var/gogs:/data gogs/gogs

login

2020/09/17 08:22:01 [ INFO] Gogs 0.13.0+dev
2020/09/17 08:22:01 [ INFO] Git config user.email set to gogs@fake.local
2020/09/17 08:22:01 [ INFO] Git config user.name set to Gogs
2020/09/17 08:22:01 [ INFO] Run mode: Production
2020/09/17 08:22:01 [ INFO] First-time run install finished!
2020/09/17 08:22:16 [ERROR

[2020-09-17 09:23] aoi-umi commented on #2574
i  use absolute path ,but throw this while i pushing
[code]
OS: windows
config
[code]

[2020-09-17 14:06] Vogete opened #6335 "Add stable tag on Docker Hub"
**Describe the feature**
It would be nice to have a `stable` tag for the [Gogs](https://hub.docker.com/r/gogs/gogs/tags) image on Docker Hub that points to the latest stable release. This would ensure that we don't have to continuously specify the version in order to get the latest stable version.

**Describe the solution you'd like**
Please create a `stable` tag on Docker Hub that points to the l

[2020-09-17 14:54] jmk92 commented on #6316
With the same problem, I even tried to restart the service regularly, and I have rolled back to 0.11.91

[2020-09-18 02:27] adaJQD commented on #5884
Any progress？

[2020-09-18 03:03] jiangchao1987 commented on #6334
Me too.

gorm.log
2020/09/18 03:00:28 gogs.io/gogs/internal/db/login_sources.go:276 Error 1054: Unknown column 'type' in 'field list'
[0.00665] [rows:0]

gogs.log
2020/09/18 03:00:28 [ERROR] [...gogs/internal/route/user/auth.go:106 Login()] list activated login sources: Error 1054: Unknown column 'type' in 'field list'

[2020-09-18 07:09] unknwon commented on #6331
Hi, some config options are changed/removed since 0.13, you can pin to 0.12.

https://github.com/gogs/gogs/blob/main/CHANGELOG.md#removed