[2016-02-17 20:34] Unknwon commented on #2642
You can change the title of this issue to about this.

- https://github.com/gogits/gogs/issues/649
- https://github.com/gogits/gogs/issues/2157

[2016-02-17 20:41] Vorlif commented on #2646
Gogs version: 0.8.37.021**7**
Works for me!

Thanks for your work. Gogs is a very cool project!

[2016-02-17 20:48] crohr commented on #2354
Well I'm happy to point the doc to somewhere else (a file in this repo?), so that more people can propose fixes / improvements.

[2016-02-17 20:51] Unknwon commented on #2354
@crohr yes! That would be awesome.

Maybe under `packager/dcs` directory?

And have `centos-6.md`, `centos-7.md`, `ubuntu-12.04.md`, etc?

Or is it better to put in `gogits/docs` repository?

[2016-02-17 21:29] nanoant commented on #2587
Okay, closing this one in favor of #776.

[2016-02-17 21:29] #2587 closed

[2016-02-17 21:42] Unknwon commented on #2587
:smiley:

[2016-02-17 23:31] Unknwon commented on #2569
ping @absolutelyNoWarranty

[2016-02-18 01:48] absolutelyNoWarranty commented on #2569
I asked our guy in charge of the git server if moving to `develop` was possible but he is currently busy with other things. Sorry ... :/

[2016-02-18 01:49] Unknwon commented on #2569
:sweat:...

[2016-02-18 01:58] loxK commented on #2549
Just got the exact same issue upgrading from apt-get.

Disabling GZIP made it work again and it also used to work with GZIP enabled until this update.

[2016-02-18 02:09] loxK commented on #2302
I also face this issue since a while now.

In the dashboard any commit submitted right now says 9 hours from now. But if I click the commit, the date is accurate, as it is when listing a repository's commits.

`# date
jeudi 18 février 2016, 13:06:33 (UTC+1100)
# dpkg -l | grep gogs
ii  gogs                            0.8.25-1454711359.e797a22.trusty amd64        Gogs(Go Git Service) is a painless

[2016-02-18 02:12] MarcosBL opened #2650 "Incorrect Dashboard History (Database)"
## Problem
When I do commits, I can't see them in my dashboard because of a weird database problem

## Versions

- gogs v 0.8.25.0129
- go 1.5.3
- MySQL 5.5.47 - InnoDB

## Repo data

**Username**: MarcosBL
**Email**: soy@marcosbl.com
**Repo**: www.risas.dev
**Repo visibility**: private (doesn't matter in my tests)
**Repo created**: Through web interface
**Organization**: Lab

## Analysis

Tracing

[2016-02-18 02:13] Unknwon commented on #2302
@loxK are you using MySQL?

[2016-02-18 02:15] Unknwon commented on #2650
Thanks your report!

Are you able to reproduce this on https://try.gogs.io ?

[2016-02-18 02:24] MarcosBL commented on #2650
Just tried and it works fine, but it also works fine in some repos at my install... can it be related to logging into the web interface sometimes using my username and sometimes my email? As it works with both of them, maybe the problem is creating the repo after a email login instead of a username login?

Just ask me for any debug/test you need

[2016-02-18 02:31] Unknwon commented on #2650
Possible, can you try this with demo site?

[2016-02-18 02:51] MarcosBL commented on #2650
It also works... no idea on what can be happening

Tried with different repos, all of them shows the history
Tried login with username & email, no difference
The repo that fails to update started updating correctly after i ran the "update..." query shown above

Do you want me to upload a database dump ? I even checked the rows one by one and couldn't find anything different in that repo, not even

[2016-02-18 03:02] MarcosBL commented on #2650
I think I found something, after some more tests.

I had git credential cache set, as you can see in the screenshot above.
I deleted it, no credentials cached, and made a new commit: it showed instantly, with the correct username in the database

So I suppose I used my email and password as credentials in a past commit, as it works, the commit passed, and credentials got stored. But it doesn't sho

[2016-02-18 03:04] Unknwon commented on #2650
Good info!

But that's a bit weird because you have tried use email as username to push, and it does not occur the problem ,right?

[2016-02-18 03:35] Unknwon commented on #2650
You're pushing through by HTTP right?

If yes, I might find the bug, and working on it.

[2016-02-18 03:39] xiuzhifu opened #2651 "git 提交文件有中文名字，web 浏览500"
用最新版本的gogs，windows，
git提交文件有中文名字，web页面就打不开返回500
我在 try.gogs.io 上试了一下，是没问题的，是因为我用了windows？

[2016-02-18 03:47] Unknwon commented on #2650
If possible, please update to `develop` branch and help test again?

[2016-02-18 03:49] Unknwon commented on #2651
Hi, I think this is duplicated to https://github.com/gogits/gogs/issues/2536

[2016-02-18 04:38] xiuzhifu commented on #2651
yes, i closed this one

[2016-02-18 04:38] #2651 closed

[2016-02-18 07:56] wzhuzhu opened #2652 "团队授权问题"
## 操作流程

1. 注册账户A，B，C
2. A添加组织： OA
3. A在OA下创建新团队: read ，授权: 读取权限
4. A在团队中将 用户B，C加入到 read 团队.
5. A在组织OA下创建项目 test

## 问题

 用户B，C通过web访问项目 test,提示<font color=red>404</font>错误

## 我的应用场景

 * 我有用户A，B，C
 * 我创建了项目 test1
 * 我希望A对项目 test1 有读写权限，B,C 只有访问权限.

**是否是我操作有误？**

[2016-02-18 08:08] NiklasRosenstein commented on #2464
I've had the same issue yesterday. My one VPS has 2GB RAM and it couldn't handle the 7MB Repository with 1000 commits. Just as you described in the initial issue description, it showed a 500 Error when browsing the code, but I could visit any other page. The log also mentioned failure to allocate memory.

Now interestingly, the same repository runs smoothly with my other VPS which has 1GB of RAM o

[2016-02-18 08:13] Unknwon commented on #2652
Hi,

You need to add repository `test` to the team as well.

You need to create different team with different access.

[2016-02-18 08:16] Twisterat57 commented on #2642
Ok i have copy/paste the "private repository with public wiki and issues" to one of the already existing issues and renamed this one "Issues with wiki links" :then it will be more clear.

[2016-02-18 08:18] Twisterat57 commented on #649
I would like to be able to share setup links on the wiki page of the projects (ie: we have a team that prepares our Windows CE devices with specific customer applications to be installed on it) and also with Sales team for example.

Sharing Wiki (read only) and issues (Read/Write) for specific teams would be nice:

Those teams should not have access to the source code, but only to the wiki (Read o

[2016-02-18 08:25] Twisterat57 commented on #776
+1, with also the possiblity to make visible as read-only the wiki pages + issues (read + Write) for some teams:
Purpose of having access to wiki pages in read-only is to share internally setup files with non developer teams (ie: device preparators, Commercial team, and why not in the future, a customer). Then gogs would be the "all in one tool" all development team should have! (ok it should be a

[2016-02-18 08:35] MarcosBL commented on #2650
I suppose I can't reproduce because I hadn't stored "wrong" credentials (email & pass instead of username & pass) in the demo.

I use the binary packages but will try to get it working with the dev version as soon as I reach the office, thanks !

[2016-02-18 09:12] pbi-qfs commented on #776
Isn't it possible to implement simple protection (e.g. only allow some users to push to specific branches) via git-hooks on the server?

[2016-02-18 09:16] jeffrey4l opened #2653 "Make clone timeout configurable"
In current implementation, the timeout is fixed to 10 minute[0]. But when cloning a big repository or having a bad network, 10 minute is not enough. So please make the this value configuration in the app.ini file.

thanks alot

[0] https://github.com/gogits/gogs/blob/master/models/repo.go#L645

[2016-02-18 09:23] ciruz opened #2654 "https://packager.io/gh/pkgr/gogs not up to date"
Hey @Unknwon,

the packages on https://packager.io/gh/pkgr/gogs are not up to date, any reason why? :smile:

Thanks.

[2016-02-18 10:01] wzhuzhu commented on #2652
我创建 `test`项目的时候选择的拥有者是： `OA`
请问我如何操作，对于您的回复：
`You need to add repository test to the team as well.`

[2016-02-18 10:08] baby-gnu commented on #2610
Our internal needs are quite low:

* around 300 repositories, 10GB
* around 30 people
* around 1500 push per day, max 300.

I have no idea for the future contrib repositores, we have 3415 users in our Redmine LDAP and I don't know how many will play the game.

Regards.

[2016-02-18 10:30] bkcsoft commented on #2642
This can be fixed (by the gogs admin) by setting adding `file` to `CUSTOM_URL_SCHEMES` in `app.ini`
Like this:
[code]

Though the link has to be written in `[name](url)`-form to work (bug in blackfriday)

[2016-02-18 10:38] goblinslovemarmalade opened #2655 "License +x permissions"
When selecting a license while creating a repository, the license file has +x permissions: Is that supposed to be? Since it's pure text and not meant/possible to be executed, this should probably be changed.

[2016-02-18 11:13] Twisterat57 commented on #2642
Hi @bkcsoft i have tried your suggestion and restarted gogs web. Now each time i save a wiki page, even without any link i get an "500 internal server error" message and the wiki page changes are not applied and if this is a new page, it is not created nor not shown on the wiki tab...

here is the actual gogs Application Version: 0.8.10.1217

of course the url is wrote as expected on the editor:
`

[2016-02-18 12:00] bkcsoft commented on #2642
@Twisterat57 can you paste the logs from gogs?

[2016-02-18 12:19] Twisterat57 commented on #2642
Ooo Seems even if i remove the markdown section from the ini file, i get this 500 error...
here is the log file:
[gogs.txt](https://github.com/gogits/gogs/files/136158/gogs.txt)

[2016-02-18 12:27] moltam commented on #1562
Why the bug label? This is a feature request. Or am I missing something?

Also +1 for this feature :)

[2016-02-18 12:32] bkcsoft commented on #2642
Yeah, seems like the wiki-repo is borken or missing :worried:

[2016-02-18 13:05] eriknelson commented on #2641
+1

Is it possible to generate a .diff or .patch via a commit today? Very useful feature available on Github and Gitlab.

[2016-02-18 13:41] simonreich opened #2656 "Transferring ownership of private repository"
## Gogs Info

- Gogs version (or commit ref): 0.8.31.0205
- Git version: 2.1.4
- Operating system: Debian 8.3
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Log gist:

## Description

Assume the following:
 * I have a Organization called "Org" with two Teams: "Owner" and "Admin Access".
 * "User" is member of "Org" and "Admin Access".

Now, "User" creates a private repository as "Us

[2016-02-18 14:11] genao001 opened #2657 "rtl8188"
Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref):
- Git version:
- Operating system:
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Log gist:

## Description

...

[2016-02-18 14:55] Twisterat57 commented on #2642
The wiki repo is there... Strange thing:
- Existing pages before ini change can be viewed (not possible to edit)
- If there is no wiki page, i have the "welcome to wiki" web page shown to be able to create it: then if i try to create one, i get directly the error 500 and then i always get the error 500 instead of the  "welcome to wiki" web page. The only way to get back the  "welcome to wiki" web

[2016-02-18 16:10] Twisterat57 commented on #2642
in the gogs server console i get:
2016/02/18 16:53:09 [...routers/repo/wiki.go:53 renderWikiPage()] [E] GetBranchC
ommit: exit status 128 - fatal: 'refs/heads/master' - not a valid ref

So i have been navigating trough the directories of the reposiitory and there is no "Master" file in the sub directory "refs\heads" of the repository... gogs seems not to create the Master branch anymore when creat

[2016-02-18 17:27] renewsorensen commented on #2490
I am out of office until next week, but i will test it when i am back...

man. 15. feb. 2016 02.16 skrev 无闻 <notifications@github.com>:

[2016-02-18 18:32] MarcosBL commented on #2650
I wasn't able to compile the develop branch, will try later in a clean VPS, but I can confirm the email issue:

- Created a new repo, used username & password to commit: everything ok
- As soon as I use the email & password combo, commits work, but dashboard doesn't (because of wrong user stored in the database)
- Of course, if I have set the credentials cache, future commits will not work until i

[2016-02-18 19:08] Unknwon commented on #776
@pbi-qfs post-receive hook?

[2016-02-18 19:11] Unknwon commented on #2654
Hi, please follow https://github.com/gogits/gogs/issues/2354#issuecomment-185374807

[2016-02-18 19:11] #2654 closed

[2016-02-18 19:11] Unknwon commented on #2652
You need add both members and repositories to team.

[2016-02-18 19:12] Unknwon commented on #2610
Thanks, if you're going to use HTTP, maybe no luck, but SSH I think it would be OK although I can't be sure.

[2016-02-18 19:13] Unknwon commented on #1562
@moltam you're right :sweat_smile:

[2016-02-18 19:15] Unknwon commented on #2642
@Twisterat57 You need to update to `master` in order to fix that.

[2016-02-18 19:25] Unknwon commented on #2650
Thanks your info!

But you need to update to `develop` and test, all evidence from previous versions are now unimportant.

[2016-02-18 19:30] #2657 closed

[2016-02-18 19:33] Unknwon commented on #2655
Hi, Gogs writes out file with permission 0644: https://github.com/gogits/gogs/blob/master/models%2Frepo.go#L812

So I think there is something else going around?

[2016-02-18 19:36] Unknwon commented on #2656
Thanks your feedback!

I think the problem is the warning here. The behaviour is expected currently.

[2016-02-18 21:22] Unknwon commented on #2331
This issue is claimed to be fixed ber meging https://github.com/gogits/gogs/pull/2659

[2016-02-18 22:01] i00 commented on #2402
commit 6e6ca41128b04289c3e17e2294f9aaa9bc998bdc
Author: Kris Bennett <KrisBennett@i00Productions.org>
Date:   Sun Feb 7 22:55:17 2016 +1000

    Comment follows...

[2016-02-19 09:07] thomas15v commented on #1597
:+1:

[2016-02-19 09:23] rsids commented on #1597
:+1:

[2016-02-19 10:34] Nepochal opened #2661 "Hide mirrors in "My repositories""
It would be nice to have the possibility to hide mirrors in the "My Repositories"-list on the dashboard.
They are currently in both lists "Repository" and "Mirror".

[2016-02-19 10:38] dakira commented on #2464
@ultimatedirty server4you uses Virtuozzo for their VPSs, right?

[2016-02-19 11:27] emansom commented on #2661
+1

[2016-02-19 13:16] djcf commented on #2608
Thank you, yes I was trying to avoid using ssh config files because my developers are not necessarily sys admins and probably don't want the hassle of setting up an ssh config file on every new machine and server they use. I had assumed this might be a common request especially given that other organisations (presumably github and bitbucket for example) presumably have a work around....

Perhaps i

[2016-02-19 13:18] djcf commented on #2608
May I clarify one thing briefly?

When connecting to the gogs server via ssh for code pulls, pushes and clones do all users do so using the git@ user?

[2016-02-19 13:20] Twisterat57 commented on #2642
ok.. done it, now i get:
`
c:\gogs>gogs web
2016/02/19 14:17:34 [T] Custom path: c:/gogs/custom
2016/02/19 14:17:34 [T] Log path: c:/gogs/log
2016/02/19 14:17:34 [I] Avery Dennison's Git service 0.8.37.0217
2016/02/19 14:17:34 [I] Log Mode: File(Info)
2016/02/19 14:17:34 [I] Cache Service Enabled
2016/02/19 14:17:34 [I] Session Service Enabled
2016/02/19 14:17:34 [I] Mail Service Enabled
2016/02/1

[2016-02-19 16:35] vilinski commented on #2469
- created new repo withon Organization with RepoName
- gogs currently creates the file structure like  `gogs-repositories/organization/reponame.git`, which is ok.
- But UI still shows `..Organization/RepoName.git`.
- If click "copy to clipboard" and try to clone with e.g. SourceTree, i become "not a git repository" message.
- changing to lowercase - clone successful.

Can it be fixed or configured

[2016-02-19 16:50] linquize commented on #2469
This feature should be optional.

[2016-02-19 17:09] oneirosFade opened #2662 "SSH commits fail to show until HTTP commit made"
Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.8.25_raspi2
- Git version: 2.1.4
- Operating system: Raspbian, Kernel 4.1.17-v7+
- Database: SQLite

## Description

I create a new repo in gogs, set my remote on the local codebase to the SSH address, commit, and push. At this time, gogs shows an

[2016-02-19 17:17] Unknwon commented on #2608
They do not give you shell access, only git commands.

Possible, but not by Gogs.

I don't understand your question very well. `xx` in `xx@` mean which user SSH connects to.

I'm going to close this issue since it is a configuration and conceptual problem.

[2016-02-19 17:17] #2608 closed

[2016-02-19 17:18] Unknwon commented on #2642
https://gogs.io/docs/installation/install_from_source#build-with-tags

[2016-02-19 17:22] Unknwon commented on #2469
@vilinski what is your Gogs version? That should only happen in old versions.

@linquize it is the problem about the consistency of finding repository on the file system, not a feature that we can provide options.

[2016-02-19 17:36] Unknwon commented on #2662
This issue certainly exists.

Please check your `path/to/gogs/log/serv.log` file.

[2016-02-19 17:37] Unknwon commented on #2661
Mirror is the subset of repositories, when Gogs has pagination for repositories, you're not going to view them all in the dashboard.

[2016-02-19 19:00] oneirosFade commented on #2662
I apologize, I didn't search well enough.
The log has four instances of "[T] No update task is presented:" followed by long IDs.

[2016-02-19 19:04] Unknwon commented on #2662
Thanks, are you use NFS or any sort of mount to store repositories that are managed by Gogs?

[2016-02-19 19:08] oneirosFade commented on #2662
The repositories are on an external drive that is directly mounted to the system gogs lives on as ext4.

[2016-02-19 19:11] Unknwon commented on #2662
OK... I think this is duplicated to https://github.com/gogits/gogs/issues/2550?

[2016-02-19 19:18] oneirosFade commented on #2662
Actually it seems much closer to #1864 (even the fact that it's an ARM device running gogs). The main differences seem to be the gogs version, and mine is a Raspbian system, not Arch-ARM.

[2016-02-19 19:24] Unknwon commented on #2662
No, many people run Gogs on ARM devices without any issue. So I think it is the problem with mount, wheich is #2550.

[2016-02-19 20:05] Unknwon commented on #2505
This feature is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2663

[2016-02-19 21:07] Nhoya commented on #1071
+1

[2016-02-19 22:17] earlye commented on #1597
+1

[2016-02-20 02:25] Unknwon commented on #2148
Close as fixed.

[2016-02-20 02:25] #2148 closed

[2016-02-20 02:27] Unknwon commented on #2485
Close as fixed.

[2016-02-20 02:27] #2485 closed

[2016-02-20 02:28] Unknwon commented on #2620
Close as fixed.

[2016-02-20 02:28] #2620 closed

[2016-02-20 02:29] Unknwon commented on #2646
Close as fixed.

[2016-02-20 02:29] #2646 closed

[2016-02-20 03:16] Unknwon commented on #1655
@hhenkel first working version is now on `develop` branch, please do all kinds of crazy things to help test!

[2016-02-20 06:31] ExiaSR opened #2666 "can't log when using nginx reverse proxy on centos7"
Hi,

I was trying to setup the gogs (from binary) on my server, and I use nginx reverse proxy(to access it with git.domain.com)

I can open up the page with git.domain.com:3000 (the default port), but with git.domain.com I got a 502 error instead.

what can I do?

here's my configuration
[code]
/custom/conf/app.ini
[code]

[2016-02-20 06:35] Unknwon commented on #2666
Because you did not tell NGINX to reload config?

[2016-02-20 06:38] ExiaSR commented on #2666
I've try running both
[code]
OR
[code]
still not working

[2016-02-20 06:43] Unknwon commented on #2666
1. If you are 100% sure Gogs is running on port 3000.
2. Then you must have used the wrong config, or did not include that file in main NGINX conf (normally would be `/etc/nginx/nginx.conf`).

[2016-02-20 06:49] ExiaSR commented on #2666
I'm 100% thay gogs is listening at 3000.

do I have to literally write
[code]
into the configuration file for git.domain.conf

[2016-02-20 06:50] Unknwon commented on #2666
Hmmm... no, that's not what I meant.

I really mean, the configuration of your NGINX for Gogs, is not taking effect...

[2016-02-20 07:54] ExiaSR commented on #2666
alright..it seems like it's all selinus's fault

i just diable it, for now.

[2016-02-20 11:04] bkcsoft commented on #2662
@Unknwon #2550 is about as unrelated as you can get since it's about UNC paths in Windows (`\\server\path`) and not about mounted drives... #1864 is pretty much spot on though...

@oneirosFade can you paste the relevant line(s) from `/etc/fstab` (if it's there) and whatever `mount` is saying about the mount

[2016-02-20 11:08] vilinski commented on #2469
@Unknwon the latest binary version 0.8.25, downloaded from [here](https://dl.gogs.io/gogs_v0.8.25_linux_386.tar.gz)
and yes, currently i can use only absolute path like /git/home/gogs-repositories/OrgName/RepoName.git instead of just orgname/reponame.git. Can't actually solve it using proper ssh key

[2016-02-20 12:34] xoxys opened #2667 "Userprofile not shown for not authenticated user"
Hi,
why is  the profile page from a user not displayed for non authed users? If a user without login explore a repo and clicks on the username it opens the page http://your-domain/username but the page is blank... If a logged in user browse to the profile page he got some informations like full name, username, homepage or mail address. I think it would be nice if all users can get contact informat

[2016-02-20 14:20] oneirosFade commented on #2662
Yeah. The repository root is at `/media/storage/git/` which is on:
`UUID=29bcc075-3d81-4dc4-aece-664c3d249904       /media/storage  auto    auto,nofail,user        0 0`
and reported as:
`/dev/sda1 on /media/storage type ext4 (rw,nosuid,nodev,noexec,relatime,data=ordered)`

On a whim, I just disabled nosuid and noexec which seems to have fixed the issue (allowing the git hooks to run on SSH commit)

[2016-02-20 14:20] #2662 closed

[2016-02-20 14:49] pferraris commented on #649
Different permissions for Issues and Wiki would be great!

[2016-02-20 15:08] dakira commented on #1891
Just to add to what's been said. I get this all the time. Refreshing the page doesn't fix it for me. I need to log out and back in again.

[2016-02-20 15:57] Nepochal commented on #2661
My intention was to have a strict separation between the listings of mirrors and regular repositories on my dashboard.
I have many mirrors that are mixed with my regular repositories in the "My Repositories" list. It is consuming more time to find a specific repository in the list as if the mirrors were only in the mirrors-tab or would have at least another icon before the name.

Thanks for the fa

[2016-02-20 16:13] bernalau opened #2668 "Gogs doesn't work no more... after server reboot."
Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref):aa12135
- Git version:
- Operating system:Debian
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Log gist:

## Description

Hello.

Last week, i have install gogs with the tutorial on your site.
All worked properly... But i have to resta

[2016-02-20 16:18] #2666 closed

[2016-02-20 16:59] #2668 closed

[2016-02-20 17:47] letompouce commented on #49
tl;dr: fill the install form, click `Install`, disregard the « 404 » error because everything went fine anyway.

I followed the instructions for the [Debian 8 package install](https://packager.io/gh/pkgr/gogs/install?bid=418#debian-8-gogs), with `gogs 0.8.25-1454711359.e797a22.jess amd64` using MySQL as backend.

First connection to gogs, got the install page ; fill the forms, hit the `Install` bu

[2016-02-20 18:27] Unknwon commented on #2469
@vilinski you are not allowed to both login shell and use SSH for clone git repositories for same `system user`. That's why you need full path.

[2016-02-20 18:30] Unknwon commented on #2662
This seems to be the real problem :D

[2016-02-20 18:31] Unknwon commented on #1864
Whoever follows this thread, please refer to solution provided on [this comment](https://github.com/gogits/gogs/issues/2662#issuecomment-186614078) see if solves your problem.

[2016-02-20 18:38] Unknwon commented on #2662
Updated toubleshooting here: https://gogs.io/docs/intro/troubleshooting#push-was-successful-but-no-activities-are-shown-on-dashboard

[2016-02-20 18:42] Unknwon commented on #2661
Gogs does have that already.

But OK, sounds reasonable request!

[2016-02-20 18:43] Unknwon commented on #2666
:joy:...

[2016-02-20 18:44] Unknwon commented on #2667
It is a bug fixed yesterday already. Just update to lastest `master`...

[2016-02-20 18:45] Unknwon commented on #2668
....So... what is going on now?

[2016-02-20 19:11] bernalau commented on #2668
i don't know really, but this is a issue with my fail2ban config...
After a reboot, impossible to access and when i fail2ban, after restart gogs : all work fine... even if i start fail2ban...
Certainly config issue.

[2016-02-20 19:13] Unknwon commented on #2668
:sweat_smile: OK!

[2016-02-20 19:57] Unknwon commented on #2628
This is claimed to be implemented be merging https://github.com/gogits/gogs/pull/2634.

Please upgrade to latest `develop` branch to help test!

[2016-02-20 20:10] Unknwon commented on #857
![image](https://cloud.githubusercontent.com/assets/2946214/13198922/f9886066-d7e3-11e5-9700-1648d069c025.png)

You can test on `develop` branch or https://try.gogs.io.

[2016-02-20 20:21] Unknwon commented on #2607
ping @hhenkel

[2016-02-20 20:27] Unknwon commented on #2661
After a rethink, I think `My Repositories` should show all your repositories and it is expected.

What we can do is find a way to filter them like how GitHub does:

![image](https://cloud.githubusercontent.com/assets/2946214/13199014/7b1c5f40-d7e6-11e5-9fa8-863b68d2de95.png)

Thoughts?

[2016-02-20 22:08] MoBe80 opened #2669 "Support differnt shape issue tracker IDs with RegEx"
In our issue tracker of choice (JIRA) we've got several project for different teams (Quality, Support, Development). These project have different "issue id formats" like QM-55, SUP-879 or DEV-357 they should redirect to  a URL like these https://_URL_/browse/DEV-357. So it would be great to take up the idea of @rojaro (in issue #890) again and implement a RegEx based issue ID identification.

[2016-02-20 22:25] Unknwon commented on #2365
As the value is used for registering routers, it is currently impossible to make it take effect without restarting Gogs.

[2016-02-20 22:34] Unknwon commented on #2334
Please help test again on `develop` branch or https://try.gogs.io!

[2016-02-20 22:35] Unknwon commented on #2243
For whoever wants to help, do a regexp check would be sufficient.

[2016-02-20 22:37] Unknwon commented on #2313
Close for now but open for continuing discussion.

[2016-02-20 22:37] #2313 closed

[2016-02-20 22:37] Unknwon commented on #2382
ping @km4efp

[2016-02-20 22:38] Unknwon commented on #2469
Close due to lack of feedback.

[2016-02-20 22:38] #2469 closed

[2016-02-20 22:38] Unknwon commented on #2488
Any thoughts regrading this issue?

[2016-02-20 22:39] Unknwon commented on #2499
ping @lucacervasio

[2016-02-20 22:39] Unknwon commented on #2507
ping @jeppech

[2016-02-20 22:39] Unknwon commented on #2526
Any updates?

[2016-02-20 22:40] Unknwon commented on #2591
Close due to lack of feedback.

[2016-02-20 22:40] #2591 closed

[2016-02-20 22:41] Unknwon commented on #2643
ping @TheCherry

[2016-02-20 22:41] Unknwon commented on #2644
ping @pollend

[2016-02-20 22:42] Unknwon commented on #2655
ping @goblinslovemarmalade

[2016-02-20 22:46] pollend commented on #2644
I tired another computer and it still complains about the token.  It works find with an ssh key though so ill probably just use that. I don't actually know what is wrong.

[2016-02-20 22:47] Unknwon commented on #2644
You should probably check logs from Gogs server, see if any erorrs there.

[2016-02-20 22:56] lucacervasio commented on #2499
ok i'll go this way

[2016-02-20 22:56] #2499 closed

[2016-02-20 23:15] usagirei commented on #2662
@oneirosFade
How's your fstab mount now? I still run on this issue on a Raspbian, with this mount:
`UUID=7664-B942  /mnt/usbdisk    vfat    rw,nodev,relatime,uid=1000,gid=1000,dmask=000,fmask=111 0       0`

[2016-02-20 23:33] oneirosFade commented on #2662
Same as before, but I added the `exec` option. gogs now works just fine. I'm just guessing, but is `fmask=111` does what I *think* it does, then that may be your problem (strips the execution permission from everything on that mount). The git hooks need execution permissions to run (thus pushing via SSH can *write* the files, but can't execute the hooks to update gogs).

[2016-02-20 23:38] usagirei commented on #2662
@oneirosFade yeah, fmask will make all files rw-, since vfat has no individual file permissions, it does infer a little security issue, but then again why *does* it work under https (with fmask rw) is beyond me.

Making fmask 000 (thus everything rwx) does solve the issue

[2016-02-20 23:40] Unknwon commented on #2662
@oneirosFade Can you help put better wording (as I'm not familiar with mount thing)? I think the way I described how to solve this issue has some problem.

https://github.com/gogits/docs/blob/master/en-US/intro/troubleshooting.md

[2016-02-20 23:47] getson commented on #1597
+1

[2016-02-20 23:48] oneirosFade commented on #2662
@usagirei If you're concerned about the security risk of having your entire mount executable (and I don't blame you) you could possibly leverage the user/group settings of the mount. In my case I'd probably have it mounted to the "removable" group (or something like that) with fmask of 101 or 001 (so only the owner and/or group has execute permissions), then adding the gogs user to that group.

@U

[2016-02-21 00:08] enplotz opened #2670 "Set HTML meta values for repository"
Hi there :)
While sharing a gogs link, I noticed that the preview had the generic "Gogs (Go Git Service) is a ..." in it. While I am sure this is nice advertisement :) I would like to propose a feature:

Could the description of the repository and author be included as the value in the HTML meta fields?

So e.g. instead of
[code]

[code]

I realize it's just a small feature, but I find it nice non

[2016-02-21 01:24] Unknwon commented on #2550
@getson can you read through this thread: https://github.com/gogits/gogs/issues/2662

see if possible to solve the issue.

[2016-02-21 01:27] Unknwon commented on #2670
Yep, sounds good!

[2016-02-21 01:52] usagirei commented on #2662
Just letting the feedback that letting the only the user and group with executing permission while mounted as the specific group/user does keeps it working as intended, so there should be no unexpected issues

[2016-02-21 07:56] peez80 opened #2671 "Can't push then 500 error (started with docker)"
I just found gogs and like it.
I'm running it via Docker but Unfortunately I can't push once I'm using volume mapping - no matter if it's host volume or a data volume.

Everything looks good until I do the first push to the repository.

git push fails with this message:

[code]

gogs log looks good in my opinion:
[code]

After this I see a commit at gogs dashboard but when navigating to the repo I

[2016-02-21 08:09] kop commented on #2628
Tested and it works:

[code]

[2016-02-21 08:46] Unknwon commented on #2628
:+1:

[2016-02-21 08:47] Unknwon commented on #2628
Close as fixed.

[2016-02-21 08:47] #2628 closed

[2016-02-21 08:49] Unknwon commented on #2671
Can you check `path/to/volume/log/serv.log` see if any errors there?

[2016-02-21 09:00] peez80 commented on #2671
There is no serv.log. Only gogs.log with the GetBranches error above.

[2016-02-21 09:03] Unknwon commented on #2671
OK, the main problem is `! [remote rejected] master -> master (hook declined)`, you would have to let git accept your push, otherwise, Gogs can't read anything...

From your description, I think post-receive rejected your push somehow.

[2016-02-21 09:05] Unknwon commented on #2671
I see you use `/mnt` so maybe it's hook execution permission problem when you mount?

[2016-02-21 09:11] peez80 commented on #2671
This behaviour is on every repo I create directly after creation. I don't enter any hooks in my test repos. Additionally the repo seems to be damaged (because of the push event in the dashboard but 500 when klicking on the repo). So probably this error message is somehow misleading by the git client?

If it really was some hook problem, shouldn't I see something about that in the log?
I'm not abso

[2016-02-21 09:14] Unknwon commented on #2671
Try to mount to local file system?

[2016-02-21 09:18] peez80 commented on #2671
Yes
The /mnt path is a relic from the time I migrated my server from windows and tried to find an appropriate path for "Drive E". But it's a fixed disk, fstab:

[code]

[2016-02-21 09:19] peez80 commented on #2671
Btw. the same behaviour happens when I use a docker data volume.

[2016-02-21 09:23] Unknwon commented on #2671
Are you pushing by HTTP or SSH?

[2016-02-21 09:26] Unknwon commented on #2671
When `hook declined`, that means one of the Git hooks exit with non-zero status.

And if no errors reported by Gogs, that means it is not `update` hook.

Please check every possible permission and read the link I posted above.

[2016-02-21 09:27] Unknwon commented on #2671
Maybe @0rax can help a bit more?

[2016-02-21 09:34] peez80 commented on #2671
I'm pushing by HTTP.
Hm... According to the link everything looks good. I also checked the permissions already by comparing file permissions inside a container running without volume mount and one container with mounts, but all permissions are the same.

[2016-02-21 09:36] Unknwon commented on #2671
According to the doc, give a try with `exec` permission?

And can you test with a directory without `/mnt` as well?

[2016-02-21 10:11] peez80 commented on #2671
Gave both a try but with same behaviour. :-(

[2016-02-21 10:50] peez80 commented on #2671
The behaviour is reproducible. Just tried it on a clean new docker-machine VM to make sure it's not related to my server:

1. create docker machine:
[code]

2. inside docker machine:
[code]

3. create new repository in gogs UI

4. follow the instructions on the repository home page:
[code]

[2016-02-21 12:25] NiklasRosenstein commented on #2553
It seems to work again, I haven't experienced this issue again. I think it had something to do with permissions in the MySQL database.

[2016-02-21 12:25] #2553 closed

[2016-02-21 15:54] limbo-lab opened #2673 "upgrade from 0.5.13.0212 Beta to 0.8.25 missing collaboration projects"
I'm using 0.5.13.0212 Beta. When I upgraded to the latest 0.8.25, everything seems work but the collaboration projects were missing. And It seems that there is no database migration logs;

[2016-02-21 18:53] TheCherry commented on #2643
send response @Unknwon ?

[2016-02-21 19:29] stubobis1 commented on #1597
+1

[2016-02-21 20:14] thetooth commented on #2671
I have the exact same issue upgrading from 0.7 to 0.8.39.0219, it def something broken in the new version.

Also missing serv.log, nothing odd in any of the log files that are there except for:
`2016/02/21 20:03:13 [...s/middleware/repo.go:198 func1()] [E] GetBranches: exit status 1`

A have a few repos on this installation, after the upgrade they were all fine, but now each time you push that rep

[2016-02-21 21:09] Unknwon commented on #2553
:+1:

[2016-02-21 21:14] Unknwon commented on #2673
0.8 does not support directly upgrade from 0.5.13, you must upgrade to version older than 0.8 first.

[2016-02-21 22:12] stevoh6 commented on #1597
@misugijunz really good explanation. This function is important to many developers :-)

+1

[2016-02-22 01:39] limbo-lab commented on #2673
Thanks! Problem solved by upgrading to 0.7.33 first which run database migrations as expected then 0.8.25.

[2016-02-22 01:40] #2673 closed

[2016-02-22 01:41] Unknwon commented on #2673
I wonder... why you can start directly from an 0.5.x version... I added check but seems not working?

[2016-02-22 01:52] limbo-lab commented on #2673
You mean upgrading from 0.5.x to 0.8.x ? Here are the logs:
[code]

[2016-02-22 01:58] Unknwon commented on #2673
I see... you go the install way..

[2016-02-22 02:01] limbo-lab commented on #2673
Done. These are logs during installation process.

[2016-02-22 03:08] JokerQyou opened #2675 "Ability to import a git repository"
It would be nice to be able to import an external git repository. It's like mirroring an external git repository, but do it only once after creating a project in gogs.
This is useful for this scenario:
- I have a project template as a git repository
- I want to start a new project using this template

[2016-02-22 03:09] royalterra commented on #2675
what do you means? I can import repository from github in my private gogs

[2016-02-22 03:13] JokerQyou commented on #2675
I'm so sorry. I have not been using gogs for quite a while and I failed to do so. Sorry again.

[2016-02-22 03:13] #2675 closed

[2016-02-22 03:33] Unknwon commented on #2675
:joy:

[2016-02-22 04:04] Unknwon commented on #2464
@dakira please do `go get -u github.com/gogits/git-module` and recompile Gogs to help test!

[2016-02-22 04:58] gramakri opened #2677 "Panic with bad .gitmodules file"
Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.8.25
- Git version: 2.5.0
- Operating system: Cloudron
- Database:
  - [ ] PostgreSQL
  - [ X ] MySQL
  - [ ] SQLite
- Log gist:
[code]
## Description
Gogs has a PANIC when loading repositories with bad .gitmodules. See https://git.girish.in/hacks/

[2016-02-22 05:01] gramakri commented on #2677
You can get hold of the repo by
[code]

[2016-02-22 05:09] Unknwon commented on #2677
Thanks your feedback!

Maybe this is same as https://github.com/gogits/gogs/issues/1926?

[2016-02-22 05:16] Unknwon commented on #1270
@nanoant please start a new issue about your comment https://github.com/gogits/gogs/issues/1270#issuecomment-171466348 . I think it is irrelevant to this one, the core problem here is low setting of `ulimit -n`, not the limit of goroutines of git-module package.

[2016-02-22 05:16] #1270 closed

[2016-02-22 05:17] Unknwon commented on #2464
According to https://github.com/docker/docker/issues/8539 , the problem could be the Swap is 0.

Anyone can verify that by give some swap?

[2016-02-22 07:07] Unknwon commented on #2639
Close as fixed.

[2016-02-22 07:07] #2639 closed

[2016-02-22 08:12] jeppech commented on #2507
Well, I think this should be implemented as a plugin. So this might, should be put on hold, until the plugin module for Gogs is ready?

[2016-02-22 08:14] Unknwon commented on #2507
@jeppech yes. But hmm, from my zero knowledge of PHP, what is missing from Gogs side right now?

[2016-02-22 08:25] jeppech commented on #2507
Oh, like that. Well, you don't have to know any PHP at all, this is just a package manager for PHP. I don't see Gogs missing anything, when speaking of the composer integration, besides the plugin system of course.

As of now, I'm not very familiar with the composer internal system, so I'll have to read up on that. I'm unsure whether the composer system should be accessible to Gogs, in order to ma

[2016-02-22 08:30] Unknwon commented on #2507
I'm getting more confused....

[2016-02-22 08:32] jeppech commented on #2507
Uhm well, didn't we agree on that this was a good use case, for a plugin earlier?

[2016-02-22 08:34] Unknwon commented on #2507
Yeah.... will look back again when we have plugin... 0.0

[2016-02-22 08:34] jeppech commented on #2507
Yeah, sorry for confusing you!

[2016-02-22 08:40] Unknwon commented on #1232
I'm closing this as I prefer use Gogs + Drone.io so everyone can work on things they are good at.

[2016-02-22 08:40] #1232 closed

[2016-02-22 08:47] Unknwon commented on #2332
Somehow... it is implmented already..

[2016-02-22 08:47] #2332 closed

[2016-02-22 09:49] mehrad-rafigh commented on #796
+1
With this feature I could persuade our people to use it ;)
BTW! Love this project! Keep up the great work

[2016-02-22 09:55] Unknwon commented on #796
:laughing:

[2016-02-22 09:56] floorish commented on #2464
Well I can confirm that the server has no swap, but I can't add more swap (no permissions, possibly due to OpenVZ?). The other server does have swap and works perfectly.

[2016-02-22 10:04] wackerm opened #2678 "SMTP Authentication not working / Error: Login sourcs is unknown"
Infos:
- Gogs version (or commit ref): 0.8.31.0205
- Git version: 1.7.10.4
- Operating system: Debian Wheezy
- Database: MySQL

We would like to use SMTP authentication agains our own mailserver (postfix/dovecot) with enabled encryption (StartTLS, skip verify, SMTP authentication is active).

Even with log level "trace" the error log contains (beside session and csrf tokens) only one line:
`[...ro

[2016-02-22 10:06] NiklasRosenstein commented on #2464
Both of my servers don't have a swap, not the 2GB neither the 1GB one. As I mentioned above, the same repository "works" (ie. you can view the code) one the server with *less* RAM. There is also a branch with only ~200 commits in the same repository (very outdated) and that *can* be viewed on the 2GB server, so it seems like its not about the overall repository size, but the size of the history th

[2016-02-22 10:07] NiklasRosenstein commented on #2639
Looking good, thanks!

[2016-02-22 11:36] hhenkel commented on #2607
Sorry for the delay, just started testing - so far it looks good to me. Will do some more testing and provide more feedback.

[2016-02-22 13:33] Nepochal commented on #2661
I like that idea. But we would need an obvious term for "non mirror repositories".
Is there something that speaks against adding a fourth tab instead of implementing a whole filter system?

[2016-02-22 13:50] 0rax commented on #2671
@peez80 Just tested with a brand new VM & the latest version of the container (master) and wasn't able to reproduce this with Docker 1.10.1 (latest boot2docker) using your [method](https://github.com/gogits/gogs/issues/2671#issuecomment-186797364).

You can see my tests here: [screenshot 1](https://cloud.githubusercontent.com/assets/2822534/13219797/2c0a3b04-d96a-11e5-91c4-38fb425cab88.png) & [scr

[2016-02-22 15:00] Unknwon commented on #2464
https://try.gogs.io is running on DO $20 w/ 2GB RAM as well, but it has 2GM Swap.

[2016-02-22 15:04] Unknwon commented on #2661
@Nepochal I think the UI is quite compact now to add a checkbox,but we'll see...

[2016-02-22 15:08] galactic-void commented on #2553
Hi,
I had this problem when the server was rebooted. In my case the problem was Gogs starting before Mysql.

My server is running Debian 8 (Jessie) so modifying `/etc/init.d/gogs` Required-Start and adding mysql to it has fixed it:
`# Required-Start:    $syslog $network mysql`

and then run `insserv -d`

So for the op the problem might be with Mysql rather than Gogs.

[2016-02-22 15:10] Unknwon commented on #2678
Hi, are you able to edit and update this SMTP authentication?

The error looks like you have wrong value in database.

[2016-02-22 15:14] Unknwon commented on #2553
@galactic-void maybe you should tell script start Gogs after MySQL?

[2016-02-22 16:35] wackerm commented on #2678
yes i am able to update this and checked it multiple times..
i will now reinstall gogs from scratch

[2016-02-22 17:00] Unknwon commented on #2678
If possible, can you check database table `login_source` and find out what value of field `type` is?

[2016-02-22 17:23] dakira commented on #2507
@Unknwon I have the new build running now.

[2016-02-22 17:23] dakira commented on #2464
@Unknwon I have the new build running now.

[2016-02-22 17:30] wackerm commented on #2678
[code]

[2016-02-22 17:32] Unknwon commented on #2678
The type value is correct... let me check.

[2016-02-22 17:34] rnuske commented on #1306
That bit me AS well

[2016-02-22 17:40] Unknwon commented on #1821
Please update to latest `develop` branch or test on https://try.gogs.io.

[2016-02-22 17:43] bemayr commented on #2671
Maybe it helps if I add my results in analyzing this problem.
I set up a Gogs Instance with Docker last week (on virtualbox) and it worked without any problems. Today I moved to digitalocean and got the exact same error as @peez80 described.

My Gogs configuration:
- *virtualbox*: Gogs Version: 0.8.37.0217 & Gogs Version: 0.8.39.0219 (tried both)
- *digitalocean*: Gogs Version: 0.8.39.0219

My Doc

[2016-02-22 17:51] Unknwon commented on #2678
I just tested by adding Gmail as SMTP login source and it works.

Maybe you have some information that have not shared?

[2016-02-22 18:03] 0rax commented on #2671
Okay thanks for your information will try to reproduce this on Digital Ocean then ! Keep your informed here.

[2016-02-22 18:37] nrclark opened #2679 "Feature request: diffstat or file-list when viewing a specific commit"
You're doing a great job building an awesome tool! Keep up the good work.

When we're working in a team, it's really nice to be able to just glance at a commit and see what files have changed without having to read through an entire diff.

Would it be possible to tweak Gogs so that clicking on a commit-hash takes you to the diffstat instead of to the full diff?

It would be great if clicking on th

[2016-02-22 18:51] gramakri commented on #2677
@Unknwon From the code at https://github.com/gogits/git-module/blob/e092efdab2c2e03bcda02f8d838fa829ac4b64e3/submodule.go#L50, the issue is reproduced as:
[code]

Maybe a hotfix is to change https://github.com/gogits/git-module/blob/e092efdab2c2e03bcda02f8d838fa829ac4b64e3/submodule.go#L52 to have ```&& i < j``.

[2016-02-22 18:55] Unknwon commented on #2677
Code pushed, please do `go get -u github.com/gogits/git-module` and recompile Gogs.

[2016-02-22 18:57] Unknwon commented on #2679
Thanks your feedback!

I think it could be a repository level settings.

[2016-02-22 19:19] mvasu opened #2680 "Duplicates in Pull requests"
- Gogs version (or commit ref): 0.8.10.1217
- Git version: 2.4.1
- Operating system: linux
- Database: MySQL

Creation of pull requests duplicated. we found when we create a pull request, a duplicate with the same number also gets created and it does not happen frequently. When we merge one of the pull request, it is successfully merged and closed, but the duplicate still exists in open pull reque

[2016-02-22 19:41] Unknwon commented on #2680
Thanks your feedback!

But 0.8.10 was released quite a while ago, and I remember someone reported before, but can't find it on GitHub at the moment.

I suggest you first upgrade to 0.8.25 and see if problem still occurs (though we can't fix ones already broken).

[2016-02-22 19:44] seriouz opened #2681 "GitHub like drag & drop for adding a file"
Could you implement  the new "drag & drop" feature of GitHub for adding a file to a repository?

[https://help.github.com/articles/adding-a-file-to-a-repository/](https://help.github.com/articles/adding-a-file-to-a-repository/)

[2016-02-22 20:32] ChangePlaces commented on #1821
good stuff! love the little icon as well.

however, if a comment is added along with the close ("comment and close") instead of it taking two lines in the dashboard, could it be one line: "user foo commented and closed issue 123" with the comment below?

[2016-02-22 20:39] Unknwon commented on #1821
Based on how close issue works, no...

[2016-02-22 21:23] gramakri commented on #2677
Seems to work, thanks!

[2016-02-22 21:23] #2677 closed

[2016-02-22 21:24] Unknwon commented on #2677
:+1:

[2016-02-22 22:20] #857 closed

[2016-02-22 22:31] mbr commented on #1680
I would love to see this future as well. A global option to disable showing the list of organisations a user is in would be a good interim fix as well.

[2016-02-23 00:27] mattddowney opened #2682 "go get meta tag only has a single slash"
- Gogs version (or commit ref): 0.8.42.0222
- Git version: 2.5.3
- Operating system: ubuntu 16.04
- Database: SQLite

## Description

Having a problem with go get.
Adding ?go-get=1 to the end of the URL and inspecting results in the following meta tag:

[code]

Not sure why there would be only a single slash after the protocol, but this is the only thing I can think of that would be causing go get

[2016-02-23 00:57] mattddowney commented on #2682
Reproducable on http://try.gogs.io:

[code]

Produces:

[code]

[2016-02-23 01:06] Unknwon commented on #2682
Thanks your feedback!

But I don't understand the problem here?

What is your definition of `fail`? And what URL you're trying to `go get`?

[2016-02-23 02:30] mattddowney commented on #2682
Upon closer inspection, this appears related to bad TLS configuration on my part:

[code]

It should work with -insecure, but gogs does not supply the meta tags when using http:
[code]

Seems I need to configure TLS and then pass port 443 to the docker container.

[2016-02-23 05:05] Unknwon commented on #2365
Hmm... why do you close this?

[2016-02-23 05:13] Unknwon commented on #2682
Just pushed a fix for the `slash` thing to `develop` branch, and updated https://try.gogs.io as well.

And Gogs does not care you use TLS or not, as long as you have `?go-get=1`.

![image](https://cloud.githubusercontent.com/assets/2946214/13242393/37e570f8-d9c2-11e5-90ed-65bafd568bfe.png)

[2016-02-23 06:32] terrywh commented on #1405
can this feature be applied to tags (compare diff between two tags or one tag and a commit)?

[2016-02-23 07:17] Unknwon commented on #1405
@terrywh I suggest you file another issue for that purpose, as I think the way to compare branches and tags are different.

[2016-02-23 07:26] mbi commented on #2654
@Unknwon I kindly disagree this is the same issue as #2354, which is related to documentation (displayed on packager.io), while this one seems to be a build issue, i.e. automatic builds not happening on packager.io? /cc @crohr

[2016-02-23 07:30] Unknwon commented on #2654
@mbi you're right, but I think people should directly contact support for the service provider? As @crohr seems very busy and can't follow on every issue that meantions him.

[2016-02-23 07:56] crohr commented on #2654
Right now I need to run a cron job to regularly update my fork (at pkgr/gogs) against upstream, which then triggers a build. For some reason this didn't run in the last days and I'll re-enable it.

However it would be easier if gogs enabled gogits/gogs directly on Packager... That would allow anyone to make changes to the package without waiting for me, and you would also have direct control over

[2016-02-23 08:36] hhenkel commented on #2607
@mhartkorn thanks for implementing - this works for me.

@Unknwon closing as resolved.

[2016-02-23 08:36] #2607 closed

[2016-02-23 09:01] hhenkel commented on #1655
Hmm, not sure what I'm doing wrong or if a expect to much, maybe @mhartkorn can enlighten me?

I got a new repo which was initialized with the README. I forked the repo did some minor change to the README file and opened up a pull request against the initial repo.

I'm not able to see the pull via `git ls-remote`:
[code]

According to the github documentation it should be possible to checkout a pu

[2016-02-23 09:56] radicalgeek commented on #1306
I am also experiencing this issue, but I am running on windows with cygwin, I am unable to find an authorised_keys file in any of the user profiles on the system, and I have run the script from the UI many times. Like others, it works when I use the full path, which in my case looks something like mjones@myserver.local:e:/gogs-repositories/mjones/test.git because of windows full path.

is there an

[2016-02-23 10:14] ciruz commented on #2654
@Unknwon I didnt know what or who packager.io is, for me this is was a service where you upload or build the latest gogs release to download for us users. And since you write in documentation, that we can download the latest version from gogs on packager.io (See: https://gogs.io/docs/installation/install_from_packages.html), why should I as a user contact and register myself on packager.io to tell

[2016-02-23 11:52] mhartkorn commented on #1655
Is the project older? It will not work for old Pull Requests that were created before Gogs 0.8.40.

[2016-02-23 11:54] hhenkel commented on #1655
No, I tested with version 0.8.41.0221 (builded it yesterday morning) of gogs and a fresh repository.

[2016-02-23 11:59] Jonny007-MKD commented on #552
Where would you set these headers? In `modules/httplib/httplib.go`?
I would set those headers:

 -  `Strict-Transport-Security: max-age=31536000`

    active: only when CERT_FILE and KEY_FILE are set (so HTTPS is used), otherwise it's an option for the proxy
    Maybe we should an option for the max-age value; I (personally) never change it.

    https://scotthelme.co.uk/hsts-the-missing-link-in-t

[2016-02-23 12:31] mhartkorn commented on #1655
Bug confirmed here on 0.8.43.0223: https://try.gogs.io/mattddowney/go-get-test/pulls/1 I cannot look into it until tomorrow.

[2016-02-23 12:34] ellis commented on #1322
LFS support in Gogs would be great, of course!

However, git-annex can do so much more (e.g. it's better at distributed storage, tracking backups and archives, encryption support, dropbox-like behavior), and it'd really be too bad if it gets passed over entirely...

[2016-02-23 13:41] sleepm opened #2686 "探索没有过滤最大页码"
算是一个小虫子吧。。

[2016-02-23 14:12] genofire opened #2687 "Wrong SSH-URL (:CloneLink.SSH) in templates with gogs-ssh-server and NAT-Firewall"
Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.8.43.0223
- Git version: -
- Operating system: -
- Database:
  - [x] PostgreSQL
  - [x] MySQL
  - [x] SQLite
- Log gist: -

## Description
The Template `CloneLink.SSH` is wrong after firewall (PAT).
There should be a settings for gogs own sshport `

[2016-02-23 14:16] Qapular opened #2688 "Review access without clone permission."
Dear gogs server developer.

Could you tell, is it possible to provide access for some user to review repository via web interface, without (HTTPS/SSH) cloning possibility ?

- Gogs version (or commit ref):0.8.22.0115
- Git version: 2.6.4
- Operating system: FreeBSD
- Database:
  - [ ] PostgreSQL
  - [x ] MySQL
  - [ ] SQLite
- Log gist:

[2016-02-23 14:19] Gfurst commented on #1322
@ellis, they both offer different things, git-annex is more focused on the personal sync style, while it also works, it adds a whole new set of functions, while lfs is better focused for projects and integrates seamlessly with git,

[2016-02-23 14:58] ultimatedirty commented on #2464
FYI: I can't reproduce the problem, too. Updated to 0.8.39.0219. Now it's just horribly slow while browsing the repo. 6 vCores on 100% workload for about 8 minutes and it's still running.

[2016-02-23 15:25] neolit123 opened #2689 "the web-interface does not reflect repository changes"
hello,

my problem is pretty much described here:
https://gogs.io/docs/intro/troubleshooting.html
"Push succeeds, but the dashboard timeline doesn’t update"
but what is explained there doesn't seem to cover my use case.

i've also tried searching for similar reports to no avail.

setup:
[code]

- the first run and user setup via the web interface works great.
- i can confirm this problem:
https://

[2016-02-23 18:35] tebanep commented on #1146
+1

[2016-02-23 19:05] rajder commented on #1146
My use case would be to give specific users read access to some private repos and require pull requests for collaboration.

[2016-02-23 19:18] mkoitka opened #2690 "IP whitelist for REQUIRE_SIGNIN_VIEW"
If using _REQUIRE_SIGNIN_VIEW = true_ it would be nice to have the possibility to set this option to _false_ for some defined IP addresses.

Example option:
_SIGNIN_VIEW_EXCLUSIONS = 192.168.1.0/24, 192.168.2.5_

If this does make sense as an official feature and it is technically possible to implement I could have a look at it and create a pull request.

[2016-02-23 19:31] FyinInc commented on #2400
Odd - I replied to your WildCard question via email - but it didn't make it here.

All I did was follow the same directions for the self signed cert.  I just updated to the most recent GoGS 0.8.25 and I still have the same error when using HTTPS to get files from GIT.

From Console window:
"2016/02/23 19:26:01 http: TLS handshake error from a.b.c.d:39731: remote error: unknown certificate authorit

[2016-02-23 20:12] Unknwon commented on #2689
Hi,

1. How did you push?
2. Please try https://gogs.io/docs/intro/troubleshooting#incorrect-binary-path-for-update-hook

[2016-02-23 20:18] Unknwon commented on #2654
@crohr That is great!

[2016-02-23 20:19] Unknwon commented on #552
This is the part I don't know.... where should these headers be used..?

[2016-02-23 20:22] Unknwon commented on #2464
@ultimatedirty yes, limit 10 concurrent processes right now...

[2016-02-23 20:23] Unknwon commented on #1146
@rajder that would be part of branch protect feature

[2016-02-23 21:02] jlsjonas opened #2691 "SSH config doesn't update on RUN_USER change"
- Gogs version (or commit ref): 0.8.25.0129
- Git version: 1.8.4
- Operating system: OS X 10.11.3
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Log gist: (pretty sure the logs won't do any good, but do request them if required)

## Description

after testing gogs using my own user account I decided to make a git user for it, and move permissions & config over there. However it seem

[2016-02-23 21:51] Zamicol opened #2692 "Clone fails (401 Unauthorized)"
## Relevant info
Gogs version: v0.8.25
Git version: 2.7.0.windows.1
Operating system: Windows Server 2008 R2 Standard
Database: SQLite
Last line in gogs.log: Listen: http://0.0.0.0:3000/gogs

Reversed proxied through IIS 7.5

## Description

### This is what I see on the command line output server side:

[Macaron] Started GET [repo].git/info/refs?service=git-upload-pack for [IP address]:50673
2016

[2016-02-23 22:21] Jonny007-MKD commented on #552
I am absolutely not into macaron, here is what they do:

`
func (ctx *Context) setRawContentHeader() {
	ctx.Resp.Header().Set("Content-Description", "Raw content")
	ctx.Resp.Header().Set("Content-Type", "text/plain")
	ctx.Resp.Header().Set("Expires", "0")
	ctx.Resp.Header().Set("Cache-Control", "must-revalidate")
	ctx.Resp.Header().Set("Pragma", "public")
}
`

So maybe we could register a Middlewa

[2016-02-23 22:21] Unknwon commented on #2607
Thanks your confirmation!

[2016-02-23 22:25] Unknwon commented on #1306
@radicalgeek you can set [this value](https://github.com/gogits/gogs/blob/master/conf/app.ini#L68) to the directory wherever contains the `authorized_keys` file.

[2016-02-23 22:27] Unknwon commented on #2400
"2016/02/23 19:26:01 http: TLS handshake error from a.b.c.d:39731: remote error: unknown certificate authority"

What console? Client? Gogs?

[2016-02-23 22:28] nrclark commented on #2679
That would be perfect!

[2016-02-23 22:28] Unknwon commented on #552
@Jonny007-MKD thanks for the comments.

But I still don't get what does the code you provide to do with security?

[2016-02-23 22:29] neolit123 commented on #2689
thanks for the response,

the standard steps which are shown in the web UI when a new repository is created, except with the full path tweak, as per #1306:
[code]

just tried the two operations and pushed a new commit to the repository.
the push succeeds and i can confirm that the commit is present in test.git, but the dashboard doesn't update.

[2016-02-23 22:32] Jonny007-MKD commented on #552
That's example code from macaron how to set http headers.

We take the headers from my first comment, discuss and test their values and set them in a Middleware for every response.

How each of these headers improves security can be read at the linked sites (see above)

[2016-02-23 22:32] Unknwon commented on #2689
the push succeeds and i can confirm that the commit is present in test.git, but the dashboard doesn't update.

Make sure you run both operations.

And check your `path/to/gogs/log/gogs.log` file.

[2016-02-23 22:33] Unknwon commented on #552
I see.

But how these **security headers** make any differences?

[2016-02-23 22:40] fnkr commented on #1146
@Unknwon I updated [my comment above](#issuecomment-180988947) and added permissions for pull requests.

create pull request - yes - yes - yes
merge/close pull request - no - yes - yes

People with read only permissions should be able to create pull requests.

Do you agree?

[2016-02-23 22:41] neolit123 commented on #2689
running the operations doesn't seem to update gogs.log, it remains at:
[code]

[2016-02-23 22:42] Unknwon commented on #1146
@fnkr LGTM, thanks!

[2016-02-23 22:43] Unknwon commented on #2689
My bad, I edited the comment, please check `path/to/gogs/log/serv.log` file.

[2016-02-23 22:47] Unknwon commented on #1655
I think the problem is current code only create/update and push commits to base repo when user push new code, not when create/close the PR.

[2016-02-23 22:48] Unknwon commented on #1655
Look at code of how testing patch works, may help.

[2016-02-23 22:48] neolit123 commented on #2689
there is no serv.log, but only gogs.log, http.log (which remains always empty) and a xorm.log which does update after the operations:

before:
https://gist.github.com/neolit123/e30940d4263b8d0cda79

after:
https://gist.github.com/neolit123/4916fc45fd61036984ce

[2016-02-23 22:50] Unknwon commented on #2688
No... it is not possible, what is the point that someone can view your repo but can't clone?

[2016-02-23 22:51] Unknwon commented on #2691
Thanks your feedback!

But I think documentation already proposed how to solve this: https://gogs.io/docs/intro/troubleshooting#incorrect-binary-path-for-update-hook

[2016-02-23 22:53] Unknwon commented on #2687
Thanks your feedback!

There should be a settings for gogs own sshport SSH_PORT_GOGS and the public ssh port SSH_PORT.
(Maybe for users too: RUN_USER and SSH_USER)

Actually, I have no idea what is going on for your situation...

[2016-02-23 22:54] Unknwon commented on #2692
Hi, I think you did not config sub-path right.

Git receives 502 for bad gateway as I can think of.

[2016-02-23 22:55] Unknwon commented on #2690
Thanks your feedback!

But what is the use case?

[2016-02-23 22:56] neolit123 commented on #2689
i just did a:
[code]
and the file seems to be missing on the hard drive.

[2016-02-23 22:56] Unknwon commented on #2689
Are you still using full path to push?

[2016-02-23 22:56] neolit123 commented on #2689
yes, the shortened path doesn't seem to work.

[2016-02-23 22:57] Unknwon commented on #2689
If shorthand does not work, everything after that is pointless.

[2016-02-23 22:59] Unknwon commented on #2689
What is the error for using shortpath?

[2016-02-23 23:02] neolit123 commented on #2689
[code]

i'm now trying your SSH_ROOT_PATH suggestion, except that i don't know which path to set...should that be?:
[code]

[2016-02-23 23:05] Unknwon commented on #2689
No, it's SSH root path, usually is `~/.ssh`, but you must give specify path, Gogs does not read env vars like `~`

[2016-02-23 23:05] neolit123 commented on #2689
ok, trying it out.

[2016-02-23 23:05] jlsjonas commented on #2691
Hi, I looked over that title indeed, is does fix the ssh hook for the git user

HOWEVER my regular user ssh is still crippled, even after manually removing the command= & options= part in my authorised_keys file (I knew it must've been somewhere, but couldn't find it)
and after restarting ssh (to be safe)

any ideas for that part?

[2016-02-23 23:07] Unknwon commented on #2691
and after restarting ssh (to be safe)

I don't understand the situation?

[2016-02-23 23:11] neolit123 commented on #2689
i've stopped the server and added the following line in app.ini:
[code]
then restarted the server and changed the path for the remote to the short one. then tried to push, but the error is thrown again.

could this be caused by gitolite, which is also installed here?

[2016-02-23 23:11] jlsjonas commented on #2691
in short:

1. configured everything under my personal user account (jonas)
2. everything worked as expected
3. moved everything to work under "git" user
4. fix in [the docs](https://gogs.io/docs/intro/troubleshooting#incorrect-binary-path-for-update-hook) as reported in above comment fixed git ssh
5. removed `command="/.../gogs sera key-1 --config='/.../custom/conf/app.ini'",no-port-forwarding,no-

[2016-02-23 23:12] Unknwon commented on #2689
After change the configuration, do the same operations asked by https://gogs.io/docs/intro/troubleshooting#incorrect-binary-path-for-update-hook

[2016-02-23 23:14] Unknwon commented on #2691
That means you are not running Gogs as user `git`, or the env var `USER` is wrong.

[2016-02-23 23:14] neolit123 commented on #2689
same push error after running the two operations.

[2016-02-23 23:15] Unknwon commented on #2689
Please dump your `~/.ssh/authorized_kesy` file here.

[2016-02-23 23:16] neolit123 commented on #2689
it's actually empty, for some odd reason.

[2016-02-23 23:16] Unknwon commented on #2689
That means `myuser` is the not the user you run Gogs.

[2016-02-23 23:19] neolit123 commented on #2689
well, the folder "gogs-repositories" was created in /home/myuser.
so there must be something else.

[2016-02-23 23:20] jlsjonas commented on #2691
to clarify

Happens when I issue `ssh jonas@server`

and I verified that gogs is running as git user (hence `ssh git@server` does work):

`ps aux | grep gogs
jonas           95275   0.0  0.0  2434840    780 s010  S+   12:19AM   0:00.00 grep gogs
git             92801   0.0  0.3 573469376  23160 s008  S+   11:55PM   0:00.93 ./gogs web`

[2016-02-23 23:21] Unknwon commented on #2689
The problem is very clear, Gogs is not generating `authorized_keys` file to right place, either you run with wrong user, or you have wrong configuration.

[2016-02-23 23:24] Unknwon commented on #2691
When Gogs says you're running in different user from what you config, you are. Your `.ssh/authorized_keys` file is not cleaned as you stated.

[2016-02-23 23:26] Unknwon commented on #2691
What do you get at this point of you `ssh git@server`?

[2016-02-23 23:29] jlsjonas commented on #2691
I can verify that authorized_keys is cleaned as I previously stated, containing:

as mentioned before on `ssh git@server` I get the expected:

[2016-02-23 23:30] neolit123 commented on #2689
here is the configuration:
https://gist.github.com/neolit123/104c9359a9b0054a905d

the is the same as far as i can tell.

[2016-02-23 23:32] Unknwon commented on #2691
OK, if you do `ssh jonas@server` and Gogs responses, check you SSH server config, I think it is using the wrong authorized_keys file or you think what file it is using is wrong.

[2016-02-23 23:34] Unknwon commented on #2689
Please try https://gogs.io/docs/intro/troubleshooting#connect-to-wrong-sqlite3-database

[2016-02-23 23:38] jlsjonas commented on #2691
well it is that file that I've used to authenticate my key before, anyway I suppose it might be some sort of cache (on OS X's side) so I will try a complete reboot soon. Can't do that at the moment though because of other critical systems.
I will keep you posted on evolvements.

ps: I would suggest adding a line to [this article](https://gogs.io/docs/intro/troubleshooting#incorrect-binary-path-for

[2016-02-23 23:38] jag3773 commented on #2641
Looks like Github accomplishes this by simply allowing you to append '.patch' to the URL, might be a good way to go if you don't want to add a UI for this.

[2016-02-23 23:40] neolit123 commented on #2689
- stopped the server
- modified the DB path to be "/home/lubo/gogs/data/gogs.db"
- started the server and ran the two operations
- authorized_keys is still empty

[2016-02-23 23:43] Unknwon commented on #2689
Content of  `/home/lubo/.ssh/authorized_keys` is empty?

[2016-02-23 23:44] neolit123 commented on #2689
yes

[2016-02-23 23:45] Unknwon commented on #2689
Did you really add public key to Gogs?

[2016-02-23 23:45] Unknwon commented on #2689
Also, if the authorized_keys file is empty, how you able to SSH it?

[2016-02-23 23:48] neolit123 commented on #2689
that's a good set of questions. the only user of this machine is "lubo", and i have zero why the full path SSH push works.

[2016-02-23 23:48] Zamicol commented on #2692
That might be the case.  It's a 500 error, not 502.   Server side it is saying "401 Unauthorized".

It works fine when not using the proxy.

[2016-02-23 23:51] neolit123 commented on #2689
i'm laying this issue to rest for today, as it's 2AM. will check it out again tomorrow.

[2016-02-24 00:02] neolit123 commented on #2689
the cause was a bad copy-paste of the text in "id_rsa.pub"...
the short path push works for me now, so thanks for the help.

for any of the users that reported in #1306 some of the steps in this thread might help.

[2016-02-24 00:04] #2689 closed

[2016-02-24 00:07] Unknwon commented on #2692
It works fine when not using the proxy.

I think your proxy is not sending basic auth header to Gogs?

[2016-02-24 00:08] Unknwon commented on #2689
Because then you bypass the Gogs to do push through normal SSH operations.

How bad....?

[2016-02-24 00:09] neolit123 commented on #2689
i pretty much chopped part of the key, for some reason.

[2016-02-24 00:10] Unknwon commented on #2689
.............................. :flushed:

[2016-02-24 00:13] neolit123 commented on #2689
it *can* happen if you are doing many things at once! :)
sorry for your troubles. tomorrow i'm going to recommend gogs over gitlab to a certain group of people as the performance is simply horrible with gitlab, while being great with gogs.

[2016-02-24 00:37] Unknwon commented on #2689
This how the help reflects its value :eyes:

[2016-02-24 01:30] Unknwon commented on #1821
Close as implemented.

[2016-02-24 01:30] #1821 closed

[2016-02-24 01:33] Unknwon commented on #2331
Close as fixed.

[2016-02-24 01:33] #2331 closed

[2016-02-24 01:35] Unknwon commented on #2334
Close as fixed.

[2016-02-24 01:35] #2334 closed

[2016-02-24 01:35] Unknwon commented on #2490
ping @renewsorensen ....

[2016-02-24 01:35] Unknwon commented on #2505
Close as implemented.

[2016-02-24 01:35] #2505 closed

[2016-02-24 02:20] thetooth commented on #2671
We're also on Digital Ocean behind jwilder/nginx-proxy + cloudflare, so may be something to do with that that specific scenario, could also just be a coincidence. This is using the Ubuntu 14.04.3 LTS image with Docker 1.9.1

[2016-02-24 03:58] ellotheth commented on #774
In English: If you're migrating from an old gitweb or vanilla Git server to `gogs` and you're re-purposing the old Git user, change the login shell from `git-shell` back to Bash:

[code]

[2016-02-24 03:59] Unknwon commented on #774
@ellotheth thanks!

[2016-02-24 08:07] Qapular commented on #2688
The main goal, it is some `code overview`. We need to share our code for brief architecture review. Height level design review.

[2016-02-24 08:28] mkoitka commented on #2690
An organization has a Gogs instance that should require a sign-in by default to view the repositories.
For convenience reasons users with a specific IP address/within an IP range should not have to sign in to view all repositories. Please note that there is no LDAP/Auth server in reach which could be used, so that is no option.

[2016-02-24 08:41] fnkr commented on #698
:+1:

[2016-02-24 09:19] radicalgeek commented on #1306
Still the same behaviour. Gogs is running as local system, where as Cygwin sshd is running as cyg_server. I have tried pointing the SSH_ROOT_PATH at both C:\Users\MLCLUSTERVS108$\.ssh and C:\Users\cyg_server\.ssh. In both instances I can then run the rewrite authorised_keys job from the UI, and see the key in the .ssh directory of the user I point the path at. In both instances though it has not s

[2016-02-24 11:05] frerich commented on #796
+1

[2016-02-24 11:38] trompx commented on #2174
Hello,

I am struggling to run gogs without install step with docker.

So in my Dockerfile I add a custom app.ini in a temporary folder at image build, then in the start.sh, once the /data/gogs folder are created (i added /data/gogs/custom/conf in the create_volume_subfolder function), I sed the custom app.ini file to update variable like domain / db_type and set INSTALL_LOCK = true.

But when I r

[2016-02-24 11:47] adamdullenty commented on #1891
Jumping on this too, I get this and it's not directly related to opening 'new issue' in a new tab either. It happens in the tab which Gogs is already open in, although it's possible that it was opened in a new tab previously before navigating to the issue page.

[2016-02-24 12:09] vladimir-polyakov commented on #1597
+1

[2016-02-24 12:17] genofire commented on #2687
Installation and used urls:
[code]

Installation and showed urls
[code]

APP.INI:
[code]

Needer a section for the web templates in app.ini
(instatt of manuiplate the templates at own,like i do it now):
[code]

With pleasure :)
Do you know what i mean?

[2016-02-24 12:59] mhartkorn commented on #1655
@Unknwon I tried to patch i, should I reopen a new PR?

@hhenkel In the meantime you can try out this patch: https://github.com/mhartkorn/gogs/commit/51f15880d1f25f9d40d93762c5dcb52c2dccac14.patch

[2016-02-24 12:59] okv commented on #1597
+1

[2016-02-24 14:06] NiklasRosenstein commented on #2464
Did any optimizations on this happen in between 8.25 and 8.42 (of which the latter is currently on http://try.gogs.io) ? Unfortunately, I didn't test it on the Gogs Try server before the update. I've mirrored the Git source code here: https://try.gogs.io/niklas/git and it works. It's very slow, but it works (page load ~20s).

[2016-02-24 14:07] Unknwon commented on #2688
If someone can view the repo, they can get the code downloaded anyway, so what is the point of not allow them to clone?

[2016-02-24 14:09] Unknwon commented on #2690
Thanks for clarifying!

[2016-02-24 14:14] Unknwon commented on #1306
@radicalgeek I suggest you use built-in SSH server by setting this value: https://github.com/gogits/gogs/blob/master/conf/app.ini#L65

[2016-02-24 14:18] Unknwon commented on #2174
@trompx For the Docker case, please read https://github.com/gogits/gogs/blob/master/docker/README.md

[2016-02-24 14:20] Unknwon commented on #2687
Thanks for the details.

But what is the problem exactly?

[2016-02-24 14:21] Unknwon commented on #1655
@mhartkorn Yes, please try a new PR, so I can directly help test.

[2016-02-24 14:22] Unknwon commented on #2464
@NiklasRosenstein yes, in the 0.8.42, Gogs no longer uses unlimited subprocesses, but limited to 10 pre time at max.

[2016-02-24 14:33] trompx commented on #2174
I already did, and it's quite unclear.

On this page, Settings - Applications. Are the settings the one we are supposed to fill on the install page ? If yes, that's those variables I'd like to set in a custom app.ini file to not have to fill them at install.
In the same section of the page your mentionned, a link redirect to https://gogs.io/docs/advanced/configuration_cheat_sheet.html which talks

[2016-02-24 14:38] NiklasRosenstein commented on #2464
@Unknwon Oh that is what your previous comment was about! Sorry. Do you think there is room for improving the performance now that the memory issue is solved? Of course fewer processes means slower results, but maybe there's something else that can be looked into.

PS: Is the number of maximum subprocesses configurable?

[2016-02-24 14:47] Unknwon commented on #2174
It is very clear where the custom files are stored:

[code]

[2016-02-24 14:54] priyadarshan commented on #308
👍 Integration with JIRA would be really wonderful.

[2016-02-24 14:56] trompx commented on #2174
At https://gogs.io/docs/advanced/configuration_cheat_sheet.html, `custom/conf/app.ini` is a path.

At https://github.com/gogits/gogs/blob/master/docker/README.md, the directory structure you copied is refered to as the `local path /var/gogs`. And there is not the `custom` folder in any of them.

So you are saying that the `custom` = `var/gogs` ?

[2016-02-24 14:58] Unknwon commented on #2464
@NiklasRosenstein yes, I'm thinking of that, also application cache layer could also improve performance a lot as well. (Gogs has zero cache for data right now, when we have cache, it should feel even faster for most of repo views)

[2016-02-24 14:59] dakira commented on #2464
@Unknwon awesome. Maybe something like russion doll caching would be interesting for Gogs.

[2016-02-24 15:01] Unknwon commented on #2174
You only need to follow the README unless you want to dig into details: https://github.com/gogits/gogs/blob/master/Dockerfile#L9

`custom` is just a name, like computer, you can call it `windows crap` as you prefer, but it is still a computer.

[2016-02-24 15:03] trompx commented on #2174
Thanks for the clarification.

[2016-02-24 15:04] Unknwon commented on #2464
@dakira Mostly likely (simplest) would be LRU cache? At least for the first version I think.

[2016-02-24 15:53] radicalgeek commented on #1306
No, I am afraid that has not resolved it. With these settings..

[repository]
ROOT = E:/gogs-repositories

[server]
DOMAIN = mlclustervs108.ml.local
HTTP_PORT = 80
ROOT_URL = http://mlclustervs108.ml.local/
DISABLE_SSH = false
SSH_PORT = 22
OFFLINE_MODE = false
START_SSH_SERVER = true
SSH_ROOT_PATH = e:/gogs-repositories/

and having disabled the Cygwin ssh service, I can connect to the box but th

[2016-02-24 16:00] Unknwon commented on #1306
@radicalgeek

1. You need to restart
2. Normally Gogs is not allowed to listen on 22, you probably should change it 2222

These are more system admin things than Gogs configuration.

[2016-02-24 16:05] radicalgeek commented on #1306
But it is listening on 22, as the other service is not running and I am getting a response as you can see from the output? What do you mean "not allowed". So long as I don't have another service on this port....

I have rebooted the box, and the behaviour has not changed.

[2016-02-24 16:06] Unknwon commented on #1306
If that is the case, I think you did not add your public key to Gogs at all, that's why it declines.

[2016-02-24 16:09] radicalgeek commented on #1306
no both my public keys (one for my desktop, and one for my laptop) are both still present in the UI. I have also removed them from the authorized_keys file, and run the job to re-add them.

[2016-02-24 16:24] radicalgeek commented on #1306
Ok, I created a new key. I don't get the permission denied now, but nor will it clone the repo with either a relative or absolute path.

![capture](https://cloud.githubusercontent.com/assets/1967630/13292304/214b334e-db13-11e5-8058-e592804b75db.PNG)

[2016-02-24 16:49] Unknwon commented on #1306
Please check logs from Gogs console.

[2016-02-24 16:54] FyinInc commented on #2400
The console window is from GoGS.

We have tested retrieving from GIT over HTTPS SourceTree, TortoiseGIT and GITExt.  SSH does work.  Our self generated CRT does work.

[2016-02-24 17:00] mkoitka commented on #2690
So, you think it's technically possible to implement and worth an official feature? If yes I would take the chance to dig into Go for the first time and create a pull request when I have some spare time.

[2016-02-24 17:19] Unknwon commented on #2400
I think you maybe just should use NGINX or Apache2, Go maybe not support wildcard SSL very well, as I never used so I can't tell...

[2016-02-24 17:21] Unknwon commented on #2690
Yes, I have some ideas about how to implement that, but it might be difficult to write actual code.

[2016-02-24 18:11] mkoitka commented on #2690
Okay, thanks. That's good to know. I will have a look what I can contribute to that.

[2016-02-24 18:17] Zamicol commented on #2692
I think you are probably right.

The logs appear sparse on information to pinpoint the problem.  Any suggestions?

[2016-02-24 18:54] Unknwon commented on #2692
Maybe this helps? http://stackoverflow.com/questions/6264878/no-basic-authentication-choice-available-in-iis7

[2016-02-24 20:16] mehrad-rafigh commented on #936
+1. I need to learn Go man :)

[2016-02-24 21:25] sarneeh opened #2695 "Cannot use apostrophe character"
## Installation info

- Gogs version (or commit ref): 0.8.43
- Git version: 1.9.1
- Operating system: Ubuntu 14.04 x64
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite

## Description
I've just installed Gogs on my server, and i've got this problem:

![issue](http://i.imgur.com/tuKQndf.png)

What can I do to make the " ' " char look normally? I've changed it manually in database - it sa

[2016-02-24 21:30] zacheryph commented on #2695
The error states that the name can only  contain alphanumeric + dash/dot.  This is purposely for a reason, not just cause.  apostrophe is not a valid character to use in the repository name.  This is due to the name being used for the repo AND the url's in accessing the repo.  I would recommend using a dash `-` or dot `.` instead of an apostrophe.  I also would recommend not manually editing the d

[2016-02-24 22:31] SarenCurrie opened #2696 "Show if a commit is a merge in the commit view"
It would be good if merge commits were differentiated in the commit view by being breed out similar to how bitbucket does it:
<img width="1484" alt="screen shot 2016-02-25 at 11 27 24 am" src="https://cloud.githubusercontent.com/assets/8222891/13303254/15ef94c2-dbb3-11e5-91db-493cf02990d3.png">

[2016-02-25 00:35] Unknwon commented on #2695
Thanks your feedback!

But this is duplicated https://github.com/gogits/gogs/issues/1937

[2016-02-25 00:35] #2695 closed

[2016-02-25 00:36] Unknwon commented on #2696
Good suggestion!

But is there an official way from Git to determine if a commit is a merge?

[2016-02-25 03:38] SarenCurrie commented on #2696
I assume if a commit has more than one parent it's a merge?

[2016-02-25 03:46] Unknwon commented on #2696
Yeah, that is a reasonable thought.

Any git experts could help on this?

[2016-02-25 04:59] Unknwon commented on #1531
This is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2660

[2016-02-25 06:52] 0xbaadf00d commented on #776
Is possible to partial implement this feature without real permission ? onyl by specify a list of branch to protect and a list of user allowed to push on ?

[2016-02-25 09:54] radicalgeek commented on #1306
Hummmmm. So it works fine when I run it in a console. It is only when it is running as a service that I am having the issue.

I tried running it from the console as both my domain user account, and a local account called gogs. It worked both times.

When I run as a service it runs under the local computer account. I tried switching it to the local gogs account by updating the app.ini and changing

[2016-02-25 11:01] neolit123 commented on #1701
@Unknwon
i've encountered this bug yesterday.

setup:
[code]

steps:
- create a new repository via the Web UI
- push something
- create a couple of labels for the issue tracker
- create issue
- write some text for the title and message of the issue
- add both labels on the right
- error 500

[code]
if you select only a single or no labels out of the list when creating the issue it does work.

[2016-02-25 11:29] hhenkel commented on #1655
@mhartkorn I just rebuilded the current develop branch (based on d324500959c06e975921790f8770aa5d1bdf2344) with you patch included. I still can't see that the behavior has changed...?

[2016-02-25 11:33] hhenkel commented on #1655
Ah, my bad...let me retry.

[2016-02-25 11:41] carbontwelve commented on #551
Is this still planned for 0.8 or is it getting pushed to a later version?

[2016-02-25 14:48] SirCmpwn commented on #2464
Can reproduce

    2016/02/25 14:47:21 [...routers/repo/view.go:134 Home()] [E] GetCommitsInfo: GetCommitByPath (/arm.gpg): pipe2: too many open files

[2016-02-25 15:57] dakira commented on #2464
@SirCmpwn with which version (in the lower left of the screen). I have *"© 2016 Gogs Version: 0.8.44.0225"* and don't experience this anymore.

[2016-02-25 16:00] SirCmpwn commented on #2464
0.8.10.1217. I'll update and report back.

[2016-02-25 16:05] SirCmpwn commented on #2464
Yep, fixed.

[2016-02-25 16:12] mexthemax opened #2697 "Error on push when closing issue from commit message"
When pushing a commit with a commit message that should close an issue (fixes #issue_id) I get the following error (on the client side that performs `git push`):
[code]

This happens on Version 0.8.43.0223 when pushing to try.gogs.io

The push finishes successfully (commits show up in gogs) and gogs references the commit in the issue but doesn't close the issue.

[2016-02-25 16:17] seferis101 opened #2698 "Feature request: Delete a page in gogs-wiki"
Feature request / user story:

As a user of gogs (my version is 0.8.10.1217), I would like to delete a page from the gogs-wiki of my repository. I want to be asked by the system if I really want to delete the page, before the page is actually deleted.

Possible way to achieve this:
Provide a remove button next to the already existing buttons "Edit" and "New Page" on the wiki-page the user wants to

[2016-02-25 16:28] floorish commented on #2464
Not sure if this is supposed to be fixed, but I just tried binary 0.8.43.0223 and still same problem after adding 2-3 files (consistently):

`[...routers/repo/view.go:136 Home()] [E] GetCommitsInfo: GetCommitByPath (/test3): fork/exec /usr/bin/git: cannot allocate memory`

[2016-02-25 17:03] Unknwon commented on #776
@0xbaadf00d no it's not possible, what does "real permission" mean?

[2016-02-25 17:25] Unknwon commented on #551
Apparently pushed to later version, sorry!

[2016-02-25 18:35] Unknwon commented on #1306
@radicalgeek you need to check `path/to/gogs/log/gogs.log` see if any errors there.

[2016-02-25 18:37] Unknwon commented on #1701
@neolit123 Hi, can you reproduce this on https://try.gogs.io?

I tested create a new issue with two labels and no error occurs.

[2016-02-25 18:40] Unknwon commented on #2464
@floorish it suppose to at least reduce the possibility of occurrence, but we can't reproduce you situation right now... :sweat:

[2016-02-25 18:48] neolit123 commented on #1701
indeed, it doesn't happen on that server.

[2016-02-25 18:50] olafure opened #2699 "All organization's repos are visible to user"
- Gogs version: gogs_v0.8.25 linux/amd64
- Git version: 2.4.3
- Operating system: Amazon Linux 2015.09
- Database: MySQL

## Description
When a user looks at a organization on the Gogs web, he sees **all** it's repositories.  Including repositories which he doesn't have access to.  When he clicks on them, he gets an 404 error (rightly so).

Problem: he shouldn't see repos which he doesn't have acc

[2016-02-25 18:51] 0xbaadf00d commented on #776
Something like this: https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/permissions/permissions.md

[2016-02-25 18:53] neolit123 commented on #1701
@Unknwon, let me know how i can help further with logs, screen captures and so on.

[2016-02-25 19:02] Unknwon commented on #776
@0xbaadf00d I think this feature will come with that directly.

[2016-02-25 19:02] Unknwon commented on #1701
@neolit123 new release was out yesterday, please try again with the new one?

[2016-02-25 19:03] neolit123 commented on #1701
@Unknwon, ok will do later today.

[2016-02-25 19:18] Unknwon commented on #2697
Thanks your report!

I just pushed a fix to `develop` branch and updated https://try.gogs.io.

Please help test again!

[2016-02-25 19:20] Unknwon commented on #2698
Thanks your feedback!

But I think this is duplicated to https://github.com/gogits/gogs/issues/2183

[2016-02-25 19:21] #2698 closed

[2016-02-25 19:22] Unknwon commented on #2699
Thanks your feedback!

Can you reproduce this on https://try.gogs.io?

It should be a fixed issue already.

[2016-02-25 20:00] floorish commented on #2464
Ah right, got it. But don't worry about my situation, I have it installed on a different server and that works perfect :)

[2016-02-25 20:01] 0xbaadf00d commented on #776
ok, nice

[2016-02-25 20:02] olafure commented on #2699
Interesting.  I can't reproduce it on try.gogs.io.  Perhaps the fix didn't make it into the latest release? Anyway, unless I report back on this it should be safe to close this issue.  Thanks for speedy response!

[2016-02-25 20:03] Unknwon commented on #2464
@floorish that is a good news :D

[2016-02-25 20:07] Unknwon commented on #2699
@olafure the latest release was 0.8.43 and published yesterday. :sweat_smile:

[2016-02-25 20:54] genofire commented on #2687
Helps this?:

![gogs-wrong-urls](https://cloud.githubusercontent.com/assets/6905586/13334052/3f05904e-dc0a-11e5-995a-6862d1efd763.png)

[2016-02-25 20:55] neolit123 commented on #1701
@Unknwon, i can reproduce the issue with 0.8.43.0223.

i removed the previous installation folder (i.e. home/myuser/gogs/ which includes the sqlite3 database, custom/conf/app.ini), recreated the server completely and the first thing i've tried is to create a project and an issue with the two labels.

[2016-02-25 22:02] Unknwon commented on #1701
I think it is a SQLite3 specific problem, please file an issue for this.

[2016-02-25 22:04] kpande commented on #1701
This issue has been a major problem for my installation too on sqlite3

[2016-02-25 22:11] neolit123 commented on #1701
@Unknwon

file a new Gogs issue, you mean?

[2016-02-25 22:19] Unknwon commented on #1701
Yes.

[2016-02-25 22:19] neolit123 opened #2700 "Create issue with multiple labels throws an error 500 with sqlite3"
[code]

seems to happen only for sqlite3!

steps:
[code]

[code]

if you select only a single or no labels out of the list when creating the issue it does work.

original thread:
https://github.com/gogits/gogs/issues/1701

[2016-02-26 00:09] Unknwon commented on #2687
@genofire Thanks.

But what I don't know is what is the expected value, and what is Gogs currently presenting?

[2016-02-26 03:50] captbrogers commented on #1891
I have the same issue when adding a webhook.

From a project page:
1. Select settings link
2. Select webhooks link from left-side navigation
3. Select "Gogs" from dropdown
4. Enter information
5. Submit form

Returns invalid csrf token. It will work if, after selecting "Gogs" from the dropdown, the page is refreshed.

[2016-02-26 05:06] congeal opened #2701 "Ability to config test patch timeout"
- Gogs version (or commit ref): 0.8.41.0221
- Git version:2.6.4
- Operating system: Centos 6
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] SQLite
- Log gist:

## Description
Someone pushed a commit into a branch on PR that isn't merged.
Gogs web says 'The conflict checking is still in progress, please refresh page in few moments.'
But, after a long time, it still says the same.
Gogs in term

[2016-02-26 06:20] Unknwon commented on #2701
Thanks your feedback!

How large is your repository?

[2016-02-26 06:55] congeal commented on #2701
The repository size is 243MB, and it has 38638 objects and 3436 commits.
It takes 1min 30sec to clone it.

[2016-02-26 06:58] Unknwon commented on #2701
I see, you can change title of this issue to `Ability to config test patch timeout`.

[2016-02-26 07:03] congeal commented on #2701
Ok. I'll change it.
So, you might solve this issue by letting users change the timeout, right?

[2016-02-26 07:13] Unknwon commented on #2701
Correct, and increase default to 5 minutes may be a good idea too

[2016-02-26 07:15] congeal commented on #2701
Ok. thanks.

[2016-02-26 07:48] ufosaga opened #2702 "LDAP(simple auth) failed on logging in the second time (the first time was OK) with Gogs0.8.43"
## Description

Config the Gogs v0.8.43 with OpenLDAP simple auth.
The ldap user can log on the first time without any problems, however the same user cannot log on again any more once logged out.

This issue does not happen with the previous v0.8.25

## Details
- Gogs version (or commit ref): 0.8.43
- Git version: 1.9.1
- Operating system: Ubuntu 14.04.4 LTS
- Database: MySQL
- Log gist:
[code]

[2016-02-26 08:00] ufosaga commented on #2702
It seems that the problem happens during the post process after retrieving the user info from LDAP server, in other words, the LDAP auth is not to blame.

[2016-02-26 08:35] carbontwelve commented on #551
One of these days I might get round to properly learning go and giving a hand.

[2016-02-26 08:42] ciruz commented on #2033
Why you not just invert the background-color and use this color as text color?

Sadly I'm not familiar with go, but inverting is not hard with JS / PHP, cant be this harder in go:

http://jsfiddle.net/salman/f9Re3/
http://www.mattlag.com/scripting/hexcolorinverter.php
http://www.jonasjohn.de/snippets/php/color-inverse.htm

[2016-02-26 08:55] CapMousse commented on #1891
Same issue when editing project properties

1. Open a project
2. Go to settings
3. Edit main infos of the project
4. Send the form

Gogs version 0.8.43.0223

[2016-02-26 09:23] mexthemax commented on #2697
I tested it on https://try.gogs.io and on my own instance and it works again.

Thanks a lot!

[2016-02-26 09:23] #2697 closed

[2016-02-26 10:19] ciruz opened #2703 "Commits don't closing issues anymore and the dashboard shows empty notification instead of commit message."
- Gogs version (or commit ref):  0.8.43.0223
- Git version: latest
- Operating system: debian 8
- Database:
  - MySQL

## Description
When i commit something with one of the closing keywords (``close``, ``closes``, ``closed``, ``fix``, ``fixes``, ``fixed``, ``resolve``, ``resolves``, ``resolved``) the referenced issue gets linked, but not closed, this worked some versions ago without any problems.

[2016-02-26 10:32] psaavedra opened #2704 "Ability to config migration timeout"
- Gogs version (or commit ref): https://github.com/gogits/gogs/commit/d324500959c06e975921790f8770aa5d1bdf2344
- Git version: 2.1.4
- Operating system: Debian 8.3 into a LXC
- Database:
  - [ ] PostgreSQL
  - [ X] MySQL
  - [ ] SQLite
- Log gist:

[code]

## Description

A 550 internal error is displayed when I perform a mirroring action:

How to reproduce it:

(in the webapp) Go to : mirror -> +

[2016-02-26 10:42] senden9 commented on #1530
I thing i have a similar (same) problem:
Start gogs:
[code]
Do a initial push of a existing repo with a larger file in it (41M): ([ORB_SLAM](https://github.com/raulmur/ORB_SLAM) by the way)
[code]
On the same time on the server:
[code]
Try to any repo on the webinterface:
[code]

As hardware i use a Raspberry Pi. RAM with all services are started normally:
[code]
I need to restart gogs to let the

[2016-02-26 11:11] genofire commented on #2687
Expected: `git@gog.examp.le`
Current presenting: `ssh://nobody@gog.examp.le:8082/`

[2016-02-26 14:01] ChangePlaces commented on #1891
@CapMousse >> The issue only happens when using Nginx

Interesting, I can confirm I'm using nginx too.

[2016-02-26 14:04] LukeMauldin opened #2705 "database table is locked"
- Gogs version: 0.8.25
- Git version: 2.7.1
- Operating system: CentOS
- Database: SQLite
- Log:
2016/02/25 07:11:46 [...routers/repo/repo.go:101 handleCreateError()] [E] CreatePost: database table is locked: repository

Occasionally when trying to create a new repository I get the error above.  Our team using Gogs is small and I am sure that there are not two people trying to create a repository

[2016-02-26 14:23] neolit123 commented on #2704
mirroring smaller repositories works for me on sqlite3, so it could be the massive size of the libreoffice repository.

[2016-02-26 15:12] psaavedra commented on #2704
excuse me,  bad description, the DB is MySQL

[2016-02-26 16:46] seferis101 commented on #2183
As a reminder - copy from description of [Feature request: Delete a page in gogs-wiki](https://github.com/gogits/gogs/issues/2698):

Feature request / user story:

As a user of gogs (my version is 0.8.10.1217), I would like to delete a page from the gogs-wiki of my repository. I want to be asked by the system if I really want to delete the page, before the page is actually deleted.

Possible way t

[2016-02-26 16:49] Unknwon commented on #551
Good for you!

But you might want to choose a easier one...

[2016-02-26 16:50] Unknwon commented on #2033
@ciruz thanks!

[2016-02-26 16:50] Unknwon commented on #2697
Thanks your confirmation!

[2016-02-26 16:54] Unknwon commented on #1530
@senden9 Please use SSH to push large content, HTTP is consuming huge memory with big commits.

[2016-02-26 16:56] Unknwon commented on #2687
Thanks.

There is no such version: 1.5.2.

Upgrade to latest `develop` branch, then you can follow [this post](https://discuss.gogs.io/t/how-to-config-ssh-settings/34) to solve your problem.

[2016-02-26 17:12] Unknwon commented on #2702
@ufosaga I think you have a user with same username `thomas` and is the login type is not LDAP.

[2016-02-26 17:13] Unknwon commented on #2703
Thanks your feedback!

But this is duplicated to https://github.com/gogits/gogs/issues/2697

[2016-02-26 17:13] #2703 closed

[2016-02-26 17:14] Unknwon commented on #2705
Thanks your feedback!

Can you upgrade to 0.8.43 first and test again?

[2016-02-26 17:14] lukasdietrich commented on #2033
Inverting colors is not per se readable. Take for example the color [`#7f7f7f` ](http://jsfiddle.net/3r0q40xu/).
I think a lightness threshold that decides if the text color is white or black would be a better solution.

[2016-02-26 17:15] Unknwon commented on #2704
Thanks your feedback!

Same thing? https://discuss.gogs.io/t/mirroring-a-github-repository/42

[2016-02-26 17:16] Unknwon commented on #2033
@lukasdietrich yes, would `7f7f7f` be a good split point for black and white?

[2016-02-26 17:20] genofire commented on #2687
You are right, it is 1.5.3
Nothing matter.

The Post did not help.
[server] `SSH_PORT` defines which port the SSH service is listening on, this port number is used to be exposed in clone URL.

This Parameter should splitted in two, on for where the service listening on and the other for the exposed clone URL. (Sometime there is a port address translateion (PAT) https://en.wikipedia.org/wiki/Networ

[2016-02-26 17:22] Unknwon commented on #2687
No such version either, Gogs not even reach 1.0. :flushed:

From post:

Please finish reading before talking.

[2016-02-26 17:27] lukasdietrich commented on #2033
@Unknwon I was talking about lightness. See <https://en.wikipedia.org/wiki/Relative_luminance> and <http://jsfiddle.net/3r0q40xu/1/>

[2016-02-26 17:29] Unknwon commented on #2033
:100:

[2016-02-26 17:38] genofire commented on #2687
With:
[code]
I got:
[code]

And with this:
[code]

i got the wrong url:
`ssh://nobody@gog.examp.le:8082/`
----
I got it - i ready the go version (i updated to : 0.8.43.0223)

[2016-02-26 17:40] genofire commented on #2687
If it will work, is there a option to change the user in then url `nobody` is not beautiful.
But it need to be nobody in `RUN_USER`.

[2016-02-26 17:41] psaavedra commented on #2704
Looks similar but the error  in my case is:

  `[...s/middleware/repo.go:198 func1()] [E] GetBranches: exit status 1`

[2016-02-26 17:42] Unknwon commented on #2687
Sorry I edited my last comment but stated in the beginning of the post:

Also stated in my previous comment:

---

It is not Go version, it is Gogs version.

---

Not sure why you keep skipping my comments? ....

[2016-02-26 17:42] Unknwon commented on #2704
@psaavedra it is the same thing when you visit a failed migration repo.

[2016-02-26 17:58] genofire commented on #2687
Now i got it, it's late here sry.
But what is with the username?

[2016-02-26 18:00] Unknwon commented on #2687
@genofire you cannot change `nobody` unless you change the user you run Gogs.

[2016-02-26 18:01] genofire commented on #2687
the build in ssh-server except every username, why should be not the shown url username a other like gogs run with?

[2016-02-26 18:03] Unknwon commented on #2687
@genofire what username you're talking?

[2016-02-26 18:07] genofire commented on #2687
in the shown ssh url `ssh://nobody@gog.examp.le:8082/`

[2016-02-26 18:07] psaavedra commented on #2704
So,  is there a chance to setup that timeout in order to avoid this 500 error?

[2016-02-26 18:08] Unknwon commented on #2687
`nobody` is your `RUN_USER`, it has nothing to do with users in Gogs database, it is SSH protocol.

[2016-02-26 18:10] Unknwon commented on #2704
Currently, not possible.

You can title of this issue to `Ability to config migration timeout`.

[2016-02-26 18:11] genofire commented on #2687
I know
[code]

[2016-02-26 18:12] psaavedra commented on #2704
OK. Title updated. Thanks again for you support.

[2016-02-26 18:12] Unknwon commented on #2687
You configed `git`, so you need to run Gogs use user `git`.

[2016-02-26 18:26] genofire commented on #2687
i want run it with `nobody` but shown in the clone url `git`

[2016-02-26 18:32] Unknwon commented on #2687
@genofire no, it is not possible AFAIK.

[2016-02-26 18:38] genofire commented on #2687
okay, now lets clean up the issue its so ridiculous.

[2016-02-26 18:39] Unknwon commented on #2687
:joy:

So what's now?

[2016-02-26 18:41] genofire commented on #2687
I try to build it and maybe figure out to manipulate the username (without changing the templates) for a pull request.

[2016-02-26 18:43] Unknwon commented on #2687
I don't think users will be able to connect to Gogs without same system user name (from My limited knowledge of how SSH works).

I'm closing this since right now. Have a good night!

[2016-02-26 18:43] #2687 closed

[2016-02-26 19:21] Unknwon commented on #1655
@hhenkel can you test again with `develop` branch?

[2016-02-26 19:48] genofire commented on #2687
i have problems with my internet connection, so i will try it to get run ... #2708 should be the solution for the username.

[2016-02-26 19:49] Unknwon commented on #2687
Thanks, but you have to test and verify first. :smiley:

[2016-02-26 20:14] Download-Fritz commented on #2687
I'm not too 'educated' in the terms of SSH either, but it should be obvious to anyone who thinks about this for longer than a minute that the name is not cosmetical. You can't just use git@ instead of @nobody and expect stuff to work (which is what the PR does). I don't know if one can make accounts on SSH (not OS) base, but I do know that you can't just pick one out of the blue.

So, create a use

[2016-02-26 20:16] peez80 commented on #2671
Just pulled the newest version. Everything's working fine now.

[2016-02-26 20:20] Unknwon commented on #2671
@peez80 :joy: I don't what noticeable things are changed.

[2016-02-26 20:48] peez80 commented on #2671
Funny ;) Nothing changed on my side either. Not even a reboot and used exactly the same start script that pulls and runs gogs/gogs:latest.

[2016-02-26 21:56] renewsorensen commented on #2490
Sorry @Unknown, i did a few tests yesteday and i was not able to reproduce, sø the fix seems to work  :-)

[2016-02-26 21:57] Unknwon commented on #2490
@renewsorensen OK, great!

[2016-02-26 21:57] #2490 closed

[2016-02-26 23:16] ufosaga commented on #2702
@Unknwon my test environment was a clean system without any duplicate user. Gogs has only a 'root' admin account before I add the LDAP source to it.

[2016-02-26 23:31] Unknwon commented on #2702
Both of them have same email addresses?

[2016-02-27 01:08] ufosaga commented on #2702
@Unknwon no, they have different email account.
Per we talked via IM, the reason was I wrongly config the `username` field which can provide the data string may contain white space. I left this field empty and the problem solved.

[2016-02-27 01:08] #2702 closed

[2016-02-27 01:11] Unknwon commented on #2702
I suggest you file another issue or change the title of this issue to `Did not validate attributes fetch from LDAP`, I think username allow whitespace from LDAP is a bug.

[2016-02-27 01:44] ufosaga opened #2709 "Did not validate attributes fetch from LDAP"
## Description
- Gogs version (or commit ref): 0.8.25
- Git version: 1.9.1
- Operating system: Ubuntu 14.04.4 LTS
- Database: MySQL
- Auth type: Simple auth
- User DN: `cn=%s,ou=people,dc=test,dc=com`
- User Filter: `(cn=%s)`
- Username attribute: `displayName`

**[Step to reproduce]**
1. Config the Gogs v0.8.25 with OpenLDAP simple auth.
2. Config the `Username attribute` with a ldap entry which

[2016-02-27 01:45] ufosaga commented on #2702
@Unknwon Done, new issue [https://github.com/gogits/gogs/issues/2709](url) filed.
Thanks a lot for all the help.

[2016-02-27 09:09] genofire commented on #2687
why we speek here? -> now i have test it.

[2016-02-27 13:08] lukasdietrich commented on #2033
See https://github.com/gogits/gogs/pull/2710.

[2016-02-27 14:08] BruinY commented on #2157
gogs function and external system demain point is not the same

[2016-02-27 14:14] MehSha commented on #413
Hi,

trying to send an existing repo to newly created one in 0.8.43 from windows gves me this at about 12 percent:
error: RPC failed; result=22, HTTP code = 413iB

then it continue and at the end says it failed.
trying to use ssh path gives me: fatal: 'me/myrepo.git' does not appear to be a git repository

stuck here

Please help.

[2016-02-27 15:01] sapk commented on #2700
I have the same problem with sqlite (Gogs Version: 0.8.43.0223)

[2016-02-27 15:55] Unknwon commented on #413
@MehSha https://gogs.io/docs/intro/faqs#why-am-i-getting-errors-when-uploading-large-files%3F

[2016-02-27 15:55] Unknwon commented on #2157
What does this mean?

[2016-02-27 15:57] BruinY commented on #2157
#2642 is links in wiki, not gogs function.
Private repository with public wiki is gogs function

[2016-02-27 15:59] Unknwon commented on #2157
See https://github.com/gogits/gogs/issues/2642#issuecomment-185391491

[2016-02-27 16:13] tebanep commented on #1071
+1 for this awesome feature!

[2016-02-27 16:20] #2033 closed

[2016-02-27 16:33] Unknwon commented on #2033
You can now test on https://try.gogs.io/

[2016-02-27 16:34] Unknwon commented on #2033
Quick demo:

![image](https://cloud.githubusercontent.com/assets/2946214/13374014/0296557a-dd46-11e5-966f-7ccf2be4b51d.png)

[2016-02-27 19:21] drym3r opened #2711 "Markdown weird http link render"
Hi,

I'm using notabug.org and I found one rendering problem. I'll give you examples sinces it's a little difficult for me to explain.

In my [cgit repo](http://daemons.cf/cgit/gnusrss/about/#orgheadline3) webpage, you can see the Requirements section correctly rendered. But if you go to the [notabug repo](https://notabug.org/drymer/twitter2rss/src/master/README.md#sec-1-1-3), you can see there's

[2016-02-27 19:55] Unknwon commented on #2711
Thanks your feedback!

However notabug.org is running very outdated version and you should report bug directly to https://notabug.org/hp/gogs/issues.

Unless you can reproduce the same problem on https://try.gogs.io

[2016-02-27 21:30] mxmehl commented on #2050
+1
On a public Gogs instance it can happen spam bots (or people) are flooding the issues. I wouldn't want to have them visible forever. Thanks!

[2016-02-27 22:02] drym3r commented on #2711
Ok, I've tried on https://try.gogs.io and it's rendered ok, i'll open an issue to them. Thanks

[2016-02-27 22:02] #2711 closed

[2016-02-27 22:04] Unknwon commented on #2711
No problem :open_hands:

[2016-02-28 00:15] maxchill opened #2712 "Gogs Dump - Skip Mirrors Flag"
I think it would be a useful feature to allow excluding mirrors from gogs dump.  In my case I'm mirroring some github repo's, and they are less important to backup.  I know they don't have changes because they are inherently readonly.

[2016-02-28 01:51] Unknwon commented on #2179
OK, new methods are implemented now in `develop` branch, everyone watches on this thread please help test!!!

[2016-02-28 01:53] Unknwon commented on #2435
Now this type of key should be supported when you're not using builtin SSH server, please help test.

[2016-02-28 01:54] Unknwon commented on #1531
Close as implemented.

[2016-02-28 01:54] #1531 closed

[2016-02-28 02:05] Unknwon commented on #2435
This post may help as well: https://discuss.gogs.io/t/how-to-config-ssh-settings/34

[2016-02-28 02:05] Unknwon commented on #2179
This post may help as well: https://discuss.gogs.io/t/how-to-config-ssh-settings/34

[2016-02-28 17:25] mxmehl commented on #1286
+1
Especially when hosting a Gogs installation in Germany, users are forced to add "imprint" links on all their websites, linking to their full name, address, phone number etc. A user can be sued if he does not comply to that law. So yes, please enable Gogs users to add HTML code somewhere without manually editing /templates/base files :)

[2016-02-28 17:52] sapk opened #2713 "Feature request: Add ability to migrate wiki when migrating a repo"
Maybe in the migration process we could (optionality) check if a repo with $reponame.wiki exist in the source and clone it as the repo wiki ?

[2016-02-28 18:05] Unknwon commented on #2382
Close due to lack of feedback.

You can continue discussion on https://discuss.gogs.io/.

[2016-02-28 18:05] #2382 closed

[2016-02-28 18:06] Unknwon commented on #2400
You can continue discussion on https://discuss.gogs.io/ since it is a configuration problem.

[2016-02-28 18:06] #2400 closed

[2016-02-28 18:07] Unknwon commented on #2594
Close due to lack of feedback.

You can continue discussion on https://discuss.gogs.io/.

[2016-02-28 18:07] #2594 closed

[2016-02-28 18:07] Unknwon commented on #2610
You can continue the discussion on https://discuss.gogs.io/ since it's a question.

[2016-02-28 18:07] #2610 closed

[2016-02-28 18:08] Unknwon commented on #2644
Close due to lack of feedback.

You can continue the discussion on https://discuss.gogs.io/.

[2016-02-28 18:08] #2644 closed

[2016-02-28 18:08] Unknwon commented on #2650
ping @MarcosBL

[2016-02-28 18:08] Unknwon commented on #2652
Close due to lack of feedback.

You can continue the discussion on https://discuss.gogs.io/.

[2016-02-28 18:08] #2652 closed

[2016-02-28 18:08] Unknwon commented on #2655
Close due to lack of feedback.

You can continue the discussion on https://discuss.gogs.io/.

[2016-02-28 18:08] #2655 closed

[2016-02-28 18:09] #2667 closed

[2016-02-28 18:09] Unknwon commented on #2678
ping @wackerm

[2016-02-28 18:09] Unknwon commented on #2680
ping @mvasu

[2016-02-28 18:09] Unknwon commented on #2682
Close as fixed.

[2016-02-28 18:09] #2682 closed

[2016-02-28 18:09] Unknwon commented on #2688
ping @Qapular

[2016-02-28 18:10] Unknwon commented on #2691
Close by https://discuss.gogs.io/t/how-to-config-ssh-settings/34/1

[2016-02-28 18:10] #2691 closed

[2016-02-28 18:10] Unknwon commented on #2692
ping @Zamicol

[2016-02-28 18:10] Unknwon commented on #2699
Close due to lack of feedback.

You can continue discussion on https://discuss.gogs.io/.

[2016-02-28 18:10] #2699 closed

[2016-02-28 18:11] Unknwon commented on #2705
ping @LukeMauldin

[2016-02-28 18:25] Qapular commented on #2688
Sorry for delay.
 One of the use case is: You have software product. External company needs to get some kind of security and architecture audit of your code. They need code review before :
 a) to buy a product;
 b) to understand could they use your product? Is it safe?;
 c) You need some external code review.

In that case you don't want to provide full read - access.

[2016-02-28 18:26] Qapular commented on #2688
I understand, that you can copy&past all files from web page. But in big project with lots of modules it is really difficult.

[2016-02-28 18:51] thecanadianbaker commented on #813
Has anyone started doing any work on this or is it still available?

[2016-02-28 19:00] casdr opened #2714 "Coffeescript code support"
Currently, coffeescript files are recognized as raw files, it would be nice to be able to read the code in gogs itself.

[2016-02-28 19:15] pollend commented on #2644
thanks for the help anyways. sorry, I couldn't of been of much help resolving this. I couldn't find much in the logs to really help resolve this.

[2016-02-28 19:42] majewsky opened #2715 "want option to create repositories by pushing to them"
Gitolite has a nice option to create a repository when you first push to it. This would be nice for Gogs, too, so that when I want to create a new private repository, I don't need to go through the UI. I just

[code]

[2016-02-28 19:47] SR-G commented on #715
I just had the same error message ("Invalid csrf token.") while uploading an avatar (valid .jpg) for a new organization.

Reopening gogs in a private session solved the problem (but no luck by just refreshing the page).
(under Opera 35.0.2066.68 / Windows 8.1)

[2016-02-28 20:04] Zamicol commented on #2692
Thanks Unknwon,

Basic Authentication is enabled.  I've looked through every IIS option I know of and nothing appears in the IIS logs.  Not sure how to debug from here.

[2016-02-28 20:20] ChangePlaces commented on #715
isn't this a dupe of #1891 ?

[2016-02-28 20:26] initbar opened #2716 "UI: codes appear too cramped to line numbers"
- Gogs version (or commit ref): `2016 Gogs Version: 0.8.47.0227 (latest)`
- Git version: `git version 1.9.1`
- Operating system: `Linux 14.04.1-Ubuntu x86_64`
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite

### Description
I think codes are too close to the line numbers. [For example](https://try.gogs.io/danil/init.el/src/master/my-init.el#L36-L59):

![sample](https://cloud.githubuser

[2016-02-28 20:34] X-Coder commented on #2507
I like the idea of having composer support in gogs which would allow to use gogs as a private/public composer repository similar to packagist.

I have tested the composer wip implementation for gitlab, jeppech mentioned (https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/1921) which works well for me.
Additionally the gitlab implementation generates, if a repository has no composer support, be

[2016-02-28 23:53] chriswatt opened #2718 "Download as archive button on wiki pages downloads main repo archive, not wiki archive"
![gogsdownloadarchive](https://cloud.githubusercontent.com/assets/488912/13382854/5134f17e-de76-11e5-9a87-6195446486b2.PNG)

[2016-02-29 01:23] jdroot commented on #1388
Would there be a downside to `gogs dump` dumping serialized structs instead of SQL? An import/restore feature could then be created that was database agnostic.

[2016-02-29 03:24] bobdog1986 commented on #2556
I meet same issue. After remove space in image file folder ,it works well.

[2016-02-29 03:51] lunny commented on #1388
I will try to implement this on xorm via `engine.DumpAll(w, dbtype)`. @Unknwon

[2016-02-29 05:17] Unknwon commented on #2688
It is a false assumption.

I don't understand business model very much, but in terms of Gogs, it is not a valid feature request...

[2016-02-29 05:19] Unknwon commented on #813
@thecanadianbaker I don't think anyone one is working on it, but it is also not a easy thing to implemented.

[2016-02-29 05:21] Unknwon commented on #2644
@pollend if you're using any reverse proxy, can clone without it, see if it works.

[2016-02-29 05:25] Unknwon commented on #2692
If clone works without IIS, and 500 is not from Gogs, I think it must about configuration stuff.

As I never used IIS, couldn't help very much.... sorry about that.

It may be possible that IIS treats 401 as 500 and response to client, can you check logs from that?

I suggest we move the discussion to https://discuss.gogs.io/ since it is a deploy/config problem.

[2016-02-29 05:34] Unknwon commented on #2507
@X-Coder thanks for the details!

[2016-02-29 05:35] Unknwon commented on #2556
@bobdog1986 I think you just need to read through the comments...

[2016-02-29 05:38] Unknwon commented on #1388
@jdroot SQL isn't 100% compatible across all types of databases, but Gogs understands its convetion.

@lunny Is it possible to dump SQLite3 and import to MySQL?

[2016-02-29 05:41] lunny commented on #1388
@Unknwon I think Yes. The new `DumpAll` method could dump SQL to any xorm supported databases.

[2016-02-29 05:42] Unknwon commented on #1286
This.... is ... real?

[2016-02-29 05:42] Unknwon commented on #1388
@lunny that sounds cool!

[2016-02-29 05:43] Unknwon commented on #2713
Thanks your feedback!

But repository is not always come with a wiki. So I don't think it is a good idea.

[2016-02-29 05:45] Unknwon commented on #2714
Thanks your feedback!

But `Currently` is a vague word.

[2016-02-29 05:46] Unknwon commented on #2715
Thanks your feedback!

Maybe it is a part of https://github.com/gogits/gogs/issues/1062? Or maybe not... never used Gitolite.

[2016-02-29 05:48] Unknwon commented on #2718
I think it is actually a bug to show this button on wiki page.

[2016-02-29 05:57] Coldwings opened #2720 "Commit graphs and heat map"
They are pretty important features to summary report.

Is there any schedule to add these features?

[2016-02-29 06:07] lunny commented on #1388
It's difficult to convert sqlite's datatypes to mysql's datatypes. There are some work to do.

[2016-02-29 06:08] Unknwon commented on #1388
That's why I suggest this issue to dump a in-middle format specifically for Gogs purpose.

[2016-02-29 06:09] Unknwon commented on #2720
Thanks your feedback!

But next time please search first.

- https://github.com/gogits/gogs/issues/1640
- https://github.com/gogits/gogs/issues/1339

[2016-02-29 06:09] #2720 closed

[2016-02-29 06:43] lunny commented on #1388
Another idea, we can generate table creation SQL according Go's struct not from database. And generate Insert SQL from database. I will try this way later.

[2016-02-29 06:46] Unknwon commented on #1388
I think it is a good idea.

[2016-02-29 06:54] casdr commented on #2714
@Unknwon I'm not sure what was wrong with me yesterday, I've updated the message a bit so there is actually an issue :P

[2016-02-29 06:59] majewsky commented on #2715
Oh yeah, that's the same.

[2016-02-29 06:59] #2715 closed

[2016-02-29 07:11] Unknwon commented on #2714
Thanks... but I still don't understand..

Can you give an example on https://try.gogs.io?

[2016-02-29 07:14] casdr commented on #2714
Weird, somehow it works now. This issue can be ignored :)

[2016-02-29 07:14] #2714 closed

[2016-02-29 07:15] Unknwon commented on #2714
:flushed:...........

[2016-02-29 08:18] Unknwon commented on #1825
Just realized this is duplicated to https://github.com/gogits/gogs/issues/360

[2016-02-29 08:18] #1825 closed

[2016-02-29 08:40] martinhpedersen opened #2721 "go get private repos (using application token from ~/.netrc)"
By adding an application token to `~/.netrc` it is now possible to git clone/push private repositories over https. See issue #842.

If this token authentication method was extended to include `https://{host}/{organization}/{repo}?go-get=1`, private repositories would be go get-able :)

This method works for github repositories (see ttps://coderwall.com/p/jtujgw/use-netrc-to-allow-go-get-for-privat

[2016-02-29 09:38] ciruz commented on #2033
Thanks @Unknwon works fine (tested in 0.8.46.0227).

[2016-02-29 09:47] #2688 closed

[2016-02-29 09:48] Qapular commented on #2688
Thanks for your time.

[2016-02-29 10:02] ultralisk- commented on #2718
If no one else has claimed it I'll remove the hide the button.

[2016-02-29 10:12] chriswatt commented on #2718
If no one else has claimed it I'll remove the hide the button.

[2016-02-29 10:23] garygreen opened #2723 "Ability to have custom title on repositories"
It would be nice if you could set a custom title for repositories. Currently it relies on the same name as the file, which means you cannot have spaces etc.

[2016-02-29 10:37] TRex22 commented on #1071
+1 This feature would certainly make my life easier. I am using gogs to allow me to work from behind a proxy to my home server and this would help when I dont have ssh access.

[2016-02-29 10:43] tboerger commented on #1286
That's not entirely true. The imprint is just required if you've got a commercial use for the website/gogs.

[2016-02-29 11:06] thecanadianbaker commented on #813
I agree that the proposed is not easily implemented, but I think we might
be looking at it the wrong way. I think that a much simpler implementation
would be to leave the responsibility of recording and storing the
information regarding builds with the build engine, and instead have Gog's
request that information using a standard internal interface at the time of
display. That means that we can im

[2016-02-29 12:10] mehrad-rafigh commented on #662
+1

[2016-02-29 12:15] mxmehl commented on #1286
Nope, it's not about commercial usage. According to §55(1) RStV you can only leave away the imprint if the website is only for familiar and personal purposes. So offering people to register with one's Gogs installation, or even using it to make one's code public enforces you to have an imprint.

Yes. Of course, private people aren't sued very often but if you want to comply with the law it's neces

[2016-02-29 12:20] mehrad-rafigh commented on #776
+1

[2016-02-29 13:00] LukeMauldin commented on #2705
I have not experienced the problem again in Gogs 0.8.43 although the problem was intermittent before.

[2016-02-29 13:17] LukeMauldin opened #2724 "Does not sync with local changes"
- Gogs version (or commit ref): 0.8.43
- Git version: 2.7.1
- Operating system: CentOS 7
- Database: SQLite

I have used the Gogs interface to create a new Git repository.  If I push into that repository locally from the server using a relative or absolute file path to the repository then Gogs does not "see" the changes and will not display them in the UI.  I have restarted Gogs but it seems like

[2016-02-29 14:05] Unknwon commented on #2705
Thanks for following up!

Please reopen this issue if it occurs again.

[2016-02-29 14:05] #2705 closed

[2016-02-29 14:20] Unknwon commented on #2724
Hi, please read this post: https://discuss.gogs.io/t/how-to-config-ssh-settings/34

[2016-02-29 14:21] Unknwon commented on #2724
It is very common questions and exists a lot in GitHub, so I'm closing this one.

[2016-02-29 14:21] #2724 closed

[2016-02-29 14:48] lunny commented on #1388
I just pushed a commit to xorm 4bcbb95688b3cdb1635915ee8aa78d7f17e31a25, now I think Gogs could implement this feature via `DumpTables`, the usage is below:

[code]

@Unknwon

[2016-02-29 15:00] Unknwon commented on #1388
Thanks, how to import back?

[2016-02-29 15:11] lunny commented on #1388
`engine.Import` or `engine.ImportFile`.

[2016-02-29 15:12] Unknwon commented on #1388
Got it, I'll try that.

[2016-02-29 15:19] jdroot commented on #1388
@Unknwon What I meant by my comment earlier was something like the following. Basically, don't deal with SQL at all. (Code might be bad, I am very new to Go)
[code]

[2016-02-29 15:25] Unknwon commented on #1388
@jdroot Yes, that is my original thought. But if XORM already works with export and import, I don't think gob thing is worth investigating.

[2016-02-29 15:34] Unknwon commented on #813
@thecanadianbaker This feature should be a part of the entire new system like GitHub's pull request merge checks.

Just the hook is easy, but that's not very extendable.

[2016-02-29 17:19] FSMaxB commented on #2435
I currently don't get the development version of gogs to work. I'm using the Archlinux AUR package gogs-git-dev, I'll take a closer look once I find the time.

[2016-02-29 18:36] Unknwon commented on #2718
Fixed by #2722.

[2016-02-29 18:36] #2718 closed

[2016-02-29 20:13] initbar commented on #2716
Should I make a pull request (if my [commit](https://github.com/initbar/gogs/commit/bd46b88a76482a4f1ea0298ae06bd05234afd105) is acceptable)?

[2016-02-29 22:06] Unknwon commented on #2716
Thanks, but I think you patch does not fix anything or maybe I test it wrongly. Can you take a screenshot?

[2016-02-29 23:46] Unknwon commented on #2700
Hi, I just pushed a fix to `develop` branch, please help test again.

[2016-03-01 00:31] Unknwon commented on #2701
Hi, now in `develop` branch, you can increase [this value](https://github.com/gogits/gogs/blob/develop/conf/app.ini#L338) and test again.

[2016-03-01 00:32] Unknwon commented on #2704
Hi, now in develop branch, you can increase [this value](https://github.com/gogits/gogs/blob/develop/conf/app.ini#L336) and test again.

[2016-03-01 00:32] Unknwon commented on #2653
Hi, now in `develop` branch, you can increase [this value](https://github.com/gogits/gogs/blob/develop/conf/app.ini#L336) and test again.

[2016-03-01 00:59] julor opened #2725 "while edit wiki,it return 500"
- Gogs version (or commit ref):0.8.43.0223
- Git version:2.6.3
- Operating system:windows7
- Database:sqlite
  - [ ] PostgreSQL
  - [ ] MySQL
  - [*] SQLite
- Log gist:[...routers/repo/wiki.go:216 NewWikiPost()] [E] AddWikiPage:UpdateLocalWiki:Pull:exit status128 - fatal: Not a git repository (or any of the parent directories): .git

## Description

while New or modify wiki ,gogs will return 500 c

[2016-03-01 08:26] maximaldesign opened #2726 "Error trying to get to Dashboard"
- Gogs version (or commit ref): 0.8.46.0227
- Git version: latest
- Operating system: Ubuntu Apache2
- Database:
  - [ ] PostgreSQL
  - [X ] MySQL
  - [ ] SQLite
- Log gist:

## Description
Everything worked fine at first. After adding two repos i wanted to switch back to the Dashboard and received this message:
```template: user/dashboard/feeds:47:18: executing "user/dashboard/feeds" at <$push.Co

[2016-03-01 08:37] Lafriks commented on #2543
It's related to #1268 where bg process is also required

[2016-03-01 09:55] hhenkel commented on #1655
@Unknwon yes, sorry for the delay, been busy the last few days. I just gave it a try and it seems there is currently an error in develop:

[code]

[2016-03-01 10:03] mhartkorn commented on #1655
@hhenkel The patch is also in `master`.

[2016-03-01 11:16] andreynering commented on #2725
I can confirm, I also experienced this in Windows, but with PostgreSQL.

After few edits, I got the given error.

[2016-03-01 12:53] neolit123 commented on #2700
hello @Unknwon, thanks for looking into this.
i need to find the time to prepare the Gogs build setup to test it, unless you can provide some sort of a daily build (which is a good idea to have on a regular basis at least for Linux-64bit and if automated properly).

in the meantime pinging @kpande, who reported the original issue to see if he has the build setup to quickly test the _develop_ branc

[2016-03-01 15:08] YugoCode commented on #2464
I'm not allowed to install swap on my VPS and still have the described problems on 0.8.43.0223.
dakira said he doesn't experience it anymore on 0.8.44.0225.
Where can I get this version? I would like to install from binary. Can someone please upload it?

[2016-03-01 15:35] Twisterat57 commented on #2642
Ah already back from holidays...

i had file not found issues with tags sqlite and tidb... so i didn't succeed to install from source...
**BUT** i have updated from the new version "0.8.43.0223" and here is the following:

Creating link as follow on the wiki page
`[Link a](file://10.10.10.10/Department$/ServiceSupport/App%20Database/6057/customer/Install.CAB)`

doesn't generate an error 500 wen sa

[2016-03-01 15:54] neolit123 commented on #2700
@Unknwon, i was able to build Gogs (0.8.49.0229) and test it with sqlite3.
the issue seems to be fixed!

[2016-03-01 16:19] Unknwon commented on #1655
@hhenkel you need to update dependencies... `go get -u github.com/gogits/git-module`

[2016-03-01 16:24] Unknwon commented on #2464
@YugoCode the same error doesn't mean same cause, you need to first make sure your VPS has enough free memory.

In terms of this issue, there is no change between 0.8.43 and 0.8.44.

[2016-03-01 16:30] Unknwon commented on #2642
I don't understand this sentence....

`nofollow` only affects search engines.

What happens if you directly open this link on your browser?

[2016-03-01 16:31] neolit123 commented on #2642
TMK, many browsers nowadays don't support direct, out-of-the box support for the file:// scheme.
it would be best to expose the files via http://, really.

[2016-03-01 16:36] Unknwon commented on #2700
@neolit123 thanks your confirmation!

[2016-03-01 16:36] #2700 closed

[2016-03-01 16:43] neolit123 commented on #2642
on *nix, you can create a symbolic link (e.g. named "customer") inside the "gogs/public" folder and link to a mounted location where the actual "10.10.10.10/..../customer/" folder is.
then the user can access the files via the http://<theserver>/customer/somefile.cab

i haven't tried Gogs on Windows, so i'm not sure, but my guess is that you can just copy the CAB files in the "gogs/public/customer

[2016-03-01 16:50] Unknwon commented on #2642
@neolit123 good tip! Never thought of this way :joy:

[2016-03-01 16:52] Unknwon commented on #2725
Thanks your feedback!

Can you reproduce this on https://try.gogs.io?

[2016-03-01 16:54] Unknwon commented on #2726
Thanks your feedback!

Same thing to https://github.com/gogits/gogs/issues/2448?

[2016-03-01 17:01] Unknwon commented on #2716
Thanks for the screenshot, but the final result on DOM does not seem line number has equal padding?

[2016-03-01 17:48] johnnylee opened #2727 "500 error when viewing organization with PostgreSQL"
- Gogs version (or commit ref): 0.8.43.0223
- Git version: 2.1.4
- Operating system: Debian Stable
- Database:
  - [ X] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Log gist:

## Description

When I attempt to view a newly created organization, I get a  500 error. I see the following in the log file:

[code]

This is a fresh install with one user and one organization.

[2016-03-01 18:02] neolit123 commented on #2727
i haven't seen this with sqlite3 or at try.gogs.io, so it must be PostgreSQL issue.
GetUserRepositories() accepts at int64 and is given a bad value.

what are the user names and organization names, any special characters?

[2016-03-01 18:09] initbar commented on #2716
@neolit123 Thanks!

The `10px` padding on left and right looks much better based on the following addition:

[code]

![screenshot](https://cloud.githubusercontent.com/assets/12630151/13436668/6fc5c5da-dfae-11e5-8445-5d1f6ca069dd.png)

[2016-03-01 18:09] johnnylee commented on #2727
Hi. Thanks for the response. The user and organization names are "david" and "Readmore" respectively. No special characters.

[2016-03-01 18:24] neolit123 commented on #2716
@initbar, github also has the ```min-width: 50px;``` for the line number area (e.g. ```.lines-num```).

[2016-03-01 18:44] neolit123 commented on #2727
my suspicion is that the IDs in the tables are fine, but it might be the access operation (with go-xorm) that's causing the error for PostgreSQL.

a text dump of the SQL table might help (e.g. for sqlite3 that's in gogs/data/gogs.db), or uploading the database file itself, somewhere.

[2016-03-01 18:57] johnnylee commented on #2727
I dumped the database. I only modified email addresses and removed password hashes. Sorry.
[db.zip](https://github.com/gogits/gogs/files/153394/db.zip)

[2016-03-01 19:06] initbar commented on #2716
@neolit123 Of course - I think although the `min-width: 50px` doesn't affect the structure initially, but useful for reduced `vw`.

I've made minor adjustments to the colors so that the top bar and line background doesn't look flushed out from the global "white" theme.

[code]

### Before:

![before](https://cloud.githubusercontent.com/assets/12630151/13438200/012f8054-dfb6-11e5-90bf-0ca633517b0c.

[2016-03-01 19:20] initbar commented on #2716
And enhanced top 3 buttons:

[code]

### Before:
![before](https://cloud.githubusercontent.com/assets/12630151/13438715/346ca76a-dfb8-11e5-846f-61b6a81bb450.png)

### After:
![after](https://cloud.githubusercontent.com/assets/12630151/13438714/34469b88-dfb8-11e5-8504-077fdf0ccd21.png)

[2016-03-01 19:24] farhaven opened #2728 "gogs and git-module out of sync"
A fresh checkout from today with `go get -u -tags "sqlite" github.com/gogits/gogs` yields a

[code]

This patch to the `gogs` repo fixes that:

[code]

[2016-03-01 19:26] Unknwon commented on #2716
@initbar Thanks! But we need to do one thing at a time.

You can propose a PR about equal padding first, after that one is merged, then we can think about other changes.

[2016-03-01 19:27] Unknwon commented on #2728
@farhaven thanks! Just sync the `master` branch.

[2016-03-01 19:27] #2728 closed

[2016-03-01 19:29] initbar commented on #2716
@Unknwon Got it - just one question: should I edit and commit just the appropriate `.less` files and you'll generate the resulting `.css` files before the release? Or should I generate, minify, and commit both `.less` and `.css` files to the PR?

[2016-03-01 19:31] Unknwon commented on #2716
@initbar you can generate the `gogs.css` file without minified as you can tell.

[2016-03-01 19:31] neolit123 commented on #2727
thanks, i don't see anything wrong on a quick glance, so it could be one of the go-xorm abstracted operations for PostgreSQL breaking somehow:
https://github.com/gogits/gogs/blob/aa12135b975ff2ebf04acb12cf3b3fd52b6c024a/models/org.go#L1079

TMK, MySQL seems the most stable choice ATM.

[2016-03-01 19:33] initbar commented on #2716
@Unknwon Sounds good I'll make the PR later today

[2016-03-01 19:40] Unknwon commented on #2727
Hi, I just pushed a fix to `develop` branch, please help test again!

[2016-03-01 20:00] neolit123 commented on #2727
@johnnylee

here is download link for the binary of the current ```develop``` branch.
we are both on Debian based distros so this should work (*caught*):
https://dl.dropboxusercontent.com/u/1627980/gogs/gogs_0.8.50.0301_linux_amd64.zip

[code]

might be a good idea to start from a clean DB, also make sure you backup the original ```gogs``` binary.

[2016-03-01 20:17] Unknwon commented on #2727
@neolit123 thanks for the binary!

[2016-03-01 20:43] johnnylee commented on #2727
Hi @neolit123  - Thanks for the binary. I get an error when using it, though:

[code]

[2016-03-01 20:52] neolit123 commented on #2727
@johnnylee, i was considering including the ```./templates/.VERSION``` but i neglected it.

make a backup of the file and copy paste the version of the new binary (e.g. from the zip name) in there.

[2016-03-01 21:01] neolit123 commented on #2727
@johnnylee

i assume you started with a clean DB, recreating the user and organization?

[2016-03-01 21:10] Twisterat57 commented on #2642
@unknown if I copy/paste the link, chrome opens the save file dialog box and file is downloaded (IE also does)

[2016-03-01 21:21] neolit123 commented on #2642
@Twisterat57 the address bar relocation should work, as that's OS integrated. also, if you create the following HTML file (e.g. named ```test.html```):
[code]

and open it locally the ```file://``` URI scheme *should* work.

however, if you upload the file to the web, browsers like chrome will not validate the HREF and the click will not work. there was a security option to enable that for chrome,

[2016-03-01 21:40] neolit123 commented on #2642
it won't work for a lot of modern browsers, including chrome and firefox and that's not Gogs' fault. :)
one of your best options is to simply copy the CAB files to the ```gogs/public``` folder, and link like so:

[code]

something else you can try is the Windows alternative to *nix symbolic links - [mklink](https://technet.microsoft.com/en-us/library/cc753194.aspx)

and create a symbolic link of t

[2016-03-01 21:49] hhenkel commented on #1655
@Unknwon / @mhartkorn sorry, was to busy and distracted at work.

I just gave it a try with the current develop branch and it looks good to me so far:

[code]

[code]

[2016-03-01 21:49] #1655 closed

[2016-03-01 21:59] hhenkel commented on #1146
Is this not also related to #776 ?

[2016-03-01 23:54] igrampe opened #2729 "Organization (with several teams) dashboard Error 500"
- Gogs version: 0.8.46.0227
- Git version: 2.6.4
- Operating system: ubuntu 14.10
- Database:
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Log gist:

## Description
If you have an organization with several teams and you try add one user to two or more teams, when this user try to open organization dashboard, gogs fails with 500.
...

[2016-03-02 00:00] neolit123 commented on #2729
might be related to a possible PostgreSQL-only bug:
https://github.com/gogits/gogs/issues/2727

can you reproduce the same scenario on http://try.gogit.com?

[2016-03-02 00:16] initbar commented on #2716
Oh my goodness.. I'm so sorry about the messy references to this Issue - I've made a mistake with committing and didn't realize the reference was to this page..

The PR should only deal with the latest commit `f027c3c` and the first two `988fa2c` and `bde6661` shouldn't affect with merging.

Once again sorry for the messy references :(

[2016-03-02 00:26] Unknwon commented on #2729
Thanks your feedback!

But as @neolit123 mentions, this one is duplicated to #2727

[2016-03-02 00:26] #2729 closed

[2016-03-02 01:32] Unknwon commented on #2642
@Twisterat57 What happens if you delete `nofollow` attributes through inspection and click that link again?

[2016-03-02 01:34] Unknwon commented on #1146
@hhenkel why?

[2016-03-02 07:07] serkon opened #2731 "Write Access Team Members can't access Labels while add new Issue"
Hi there,

on gogs 0.8.43 under organization repositories: When add a team with read access to a repo, this team members could not see the labels while add new issue. Just has owner permission user can access  the labels.

[2016-03-02 07:53] fnkr commented on #1146
Maybe he means something like:

- Admins should be able to push directly to master
- Admins should be able to merge a merge request with less then two up votes

Could be a good idea. Maybe. Who knows?

[2016-03-02 07:58] johnnylee commented on #2727
I started again with a clean DB, and I have the same problem, but I observed something along the way that might be useful. The organization page was working fine until I added a team with two members. When the team had one member I could view the page, but when it had two members it didn't work.

[2016-03-02 11:52] neolit123 commented on #2642
@Twisterat57

sorry, i misread you comment; was a talking about ```file://``` obviously there.

you can add ```ftp``` to list in CUSTOM_URL_SCHEMES and it *should* work just fine.

there is not much point to enable ```file``` to CUSTOM_URL_SCHEMES, because the moment you enable the server on the web, most users browsers will not allow the ```file://``` links. ```nofollow``` should not make a diffe

[2016-03-02 12:07] neolit123 commented on #2727
hello and thanks for the further feedback. if the error is somehow different make sure you post it here.
@Unknwon, still seems to be PostgreSQL specific.

[2016-03-02 12:08] neolit123 commented on #715
i had this issue today, creating a test organisation @ try.gogs.io.
after changing the name to something random (zzz) it worked:

some ideas about CSRF security:
http://stackoverflow.com/questions/23455780/the-csrf-token-is-invalid-please-try-to-resubmit-the-form

[2016-03-02 12:16] misuzu commented on #2435
Works for me in develop branch.

[2016-03-02 12:23] neolit123 commented on #2731
hello @serkon ,

thanks but your report is incomplete. what OS, database type and git version?

also, can you reproduce the same if you register an account @ http://try.gogs.com, which is a newer version than 0.8.43?

[2016-03-02 13:54] xor-gate opened #2732 "Admin users cannot see organisations private repositories"
- Gogs version: 0.8.43.0223
- Operating system: Debian Linux 8 amd64
- Database:
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] SQLite

## Description

As a Admin user I cannot see the private repositories on the organisation page. When managing teams with repository access the autocomplete is probably also broken due to non-visible private repositories.

To reproduce probably:
* Create organisation
* C

[2016-03-02 13:56] serkon commented on #2731
Hi again,

My gogs versiyon windows 386 0.8.43, mysql,  git version 2.6.2.windows.1.

How could i reproduce the same thing? i am the only one persone at my organization on http://try.gogs.io.

If you want to try it, add some people without owner access permission to organization repository and sign in with one of them account. And try to add new issue. You will see, can not add any label if entere

[2016-03-02 14:14] neolit123 commented on #2731
create a team for this organisation and add me @ http://try.gogs.io, my user is ```neolit123```.

[2016-03-02 14:39] ChubbyNinja opened #2734 "Modal popup of attachment images for issues"
I had a quick search through issues and couldn't find one already for this..

At the moment, attachment images in the issues threads/replies open in a new window - this is OK, but i half expect it to open in a lightbox/modal

A download icon could also be added if needed to not open in modal..

Thoughts on this? I'm happy to do a PR if the necessary people give the go ahead :+1:

[2016-03-02 14:46] rikvdh opened #2735 "Always show commits count of default branch on tab"
- Gogs version: 0.8.43.0223
- Operating system: Debian Linux 8 amd64
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite

## Description

When viewing a certain commit  in the history with: `/<userorcompany>/<repo>/commit/<hash>` the commits button at the top only shows the number of commits from the beginning until this commit instead of the total number of commits. Also when you click on

[2016-03-02 14:50] r0main commented on #1071
+1 We would be very interested by this feature !

[2016-03-02 14:50] neolit123 commented on #2731
scratch that.
bug confirmed with 0.8.49.0229 on my local server.

steps:
[code]

[2016-03-02 15:05] neolit123 commented on #2732
hello,

[code]

i can confirm the above; haven't tried the rest.
perhaps the admin user should be able to view all repositories regardless of the "private" flag.

[2016-03-02 15:07] xor-gate commented on #2732
Yeah you are right about:

[2016-03-02 15:09] Unknwon commented on #1146
@fnkr thanks! But this issue is about collaborators, not admins...

[2016-03-02 15:12] Unknwon commented on #2727
Thanks for the comments, but my question is: have you tested latest `develop` branch?

[2016-03-02 15:13] Unknwon commented on #715
@neolit123 thanks for the tip but this is an old issue, please comment on the latest one #1891

[2016-03-02 15:15] johnnylee commented on #2727
Hi Unknwon - I built and ran the `develop` branch last night after the provided binary didn't work for me (because I'm on a 64-bit Linux system).

[2016-03-02 15:16] neolit123 commented on #2735
confirmed with 0.8.49.0229,

i think the number in the "commits" button should show the total number of commits in the repository at all times and the button should always link to ```<userorcompany>/<repo>/commits/<currentbranch>```

[2016-03-02 15:18] Unknwon commented on #2734
Thanks your feedback!

But open a new windows hurts what?

[2016-03-02 15:19] Unknwon commented on #2727
`didn't work` is a vague word.

[2016-03-02 15:20] johnnylee commented on #2727
I'm sorry - The report that I made above (7 hours ago) was made using the `develop` branch.

[2016-03-02 15:21] ChubbyNinja commented on #2734
It doesn't hurt at all - but say there's 3/4 attachments, i believe it's more intuitive these days to have a modal open and you flick left/right to see the set of images

[2016-03-02 15:21] Unknwon commented on #2731
Thanks your feedback!

But I think Gogs is working as it should, read access is supposed be only have read access, modifying issue labels belong to write access.

[2016-03-02 15:22] Unknwon commented on #2727
`didn't work` are vague words... error message?

[2016-03-02 15:25] Unknwon commented on #2734
I don't understand this sentence...

[2016-03-02 15:26] johnnylee commented on #2727
I apologize. The error hasn't changed since the first message in the thread. I get a 500 error when I attempt to view the organization's page - that is, I click on the organization name.  See the original description above for the log message.

When trying to reproduce the bug I found that it only started to happen after I added a team with two members to the organization.

[2016-03-02 15:27] Unknwon commented on #2732
Thanks your feedback!

Can you make a example organization on https://try.gogs.io?

[2016-03-02 15:29] Unknwon commented on #2735
There is no such thing called `currentbranch` when view a commit. But I think we can use the default branch.

[2016-03-02 15:29] ChubbyNinja commented on #2734
I mean, if there are multiple attachment images like here: [try.gogs.io example](https://try.gogs.io/gogs/gogs/issues/5)

They all open in new windows. It would be better for them to open as modals, i can visualize an example if you need

[2016-03-02 15:31] Unknwon commented on #2727
Thanks, I'll try to locate this problem.

[2016-03-02 15:34] Unknwon commented on #2734
Thanks for the example!

So where should we put button (or whatever forms) to let user open in a new window?

[2016-03-02 15:40] ChubbyNinja commented on #2734
Something like this when you hover on the image:
![hover](https://cloud.githubusercontent.com/assets/6347946/13465317/0b38216e-e08d-11e5-8c6e-8c5315b2adb6.JPG)

The external link icon top right of the image

[2016-03-02 15:40] neolit123 commented on #2735
i think there should be, check github. the total number of commits updates based on the selected branch. on github the "commits" links to ```https://github.com/<user>/<repo>/<tree>/<currentbranch>```

[2016-03-02 17:10] Unknwon commented on #2734
OK, sounds cool!

This link may help: http://semantic-ui.com/modules/modal.html

[2016-03-02 17:11] Unknwon commented on #2735
@neolit123 I don't think you can select a branch while viewing the commit. Git does not have such concept. Branch is just a collection of commits, so one commit can belong to many branches.

[2016-03-02 17:49] xor-gate commented on #2732
@Unknwon I have created:

* Organisation `1337org`
* Private repo `1337privaterepo`
* Public repo `1337publicrepo`

See https://try.gogs.io/1337org/

[2016-03-02 17:55] Unknwon commented on #2732
@xor-gate thanks! As admin, I can navigate to the private repository through admin panel, but yeah, it should be a display problem. Thanks!

[2016-03-02 17:56] xor-gate commented on #2732
You are right about them displaying/showing up under the admin panel. But having them not displayed in the view of the organisation is a bit odd when I first noticed.

[2016-03-02 18:01] neolit123 commented on #2735
@Unknwon, yes of course.

the thing is, there is a number of commits per branch. for github this isn't visible once you enter the UI to view a commit (like you said a commit can belong to many branches). for gogs the "commits (N)" button is visible when a commit is viewed, so either it should be *hidden* or it should show the number of commits for the last branch the user selected - presumably the

[2016-03-02 18:07] Unknwon commented on #2735
@neolit123 That .. could be an option, which I was thinking, when commits number are very large, count operation slows down everything.

It would be better to propose PR for this.

[2016-03-02 20:33] mhartkorn commented on #2435
@FSMaxB Update the dependencies with `go get -v -u ./...` first.

[2016-03-02 21:12] serkon commented on #2731
@neolit123
    actually, i think only the repository owner or collaborators should be able to add labels to an issue.
if at team member has read only access he cannot be a collaborator.

I dont try, but i can say just owners can **select labels**  while adding new issue, so maybe collaborators can't select labels too while adding one.

@Unknwon
I want to select one of labels while add new issue wi

[2016-03-02 21:14] Unknwon commented on #2731
Add or modify, sounds same to. Read access are supposed just do read only operations.

[2016-03-02 21:19] serkon commented on #2731
@Unknwon
I want to **_select one_** of labels....

Maybe i can't explain correctly sorry for english...

[2016-03-02 21:20] Unknwon commented on #2731
@serkon you can't create issue with labels for gogits/gogs can you? That's what i mean.

[2016-03-02 21:23] serkon commented on #2731
Nope. While team members add new issue **can't select any labels** even they have admin rights...

[2016-03-02 21:25] Unknwon commented on #2731
@serkon yes, so the title of this issue should be `Team members with write access should be able to select labels when create issue`

[2016-03-02 21:27] serkon commented on #2731
:) great progress ... So we can close now..

[2016-03-02 21:28] Unknwon commented on #2731
:100:

[2016-03-02 22:15] i00 opened #2737 "Add ability for contributors to add labels to issues"
Currently all contributors can add issues.

It would be nice if there was an option to set permissions for contributors to also:
-Add labels
-Assign milestones
-Delegate (set Assignees')
-And maybe also disable certain users from being able to add issues at all!

I really only need it for labels... but still the others would be good too

Cheers

[2016-03-02 22:16] Jonny007-MKD commented on #552
The links I posted below each header describe their effect quite well.

[2016-03-02 22:18] Unknwon commented on #552
....sorry, I never used any of them, so I have no idea what is the matter if I don't use those headers?

[2016-03-02 22:18] Unknwon commented on #2737
Thanks your feedback!

But I think this is duplicated to https://github.com/gogits/gogs/issues/1146

[2016-03-02 22:20] xxxtonixxx commented on #2734
+1, that is so cool!

[2016-03-02 22:25] hydandata commented on #1597
+1 This is an amazing feature, relying it a lot on GitHub.

[2016-03-02 22:31] Jonny007-MKD commented on #552
The purpose of these headers is to enhance the security of http(s) connections.

 - HSTS (Strict transport security): forces the browser to always use HTTPS in future for this domain. This prevents attackers to e.g. show a false login form during the second visit when the user simply enters the domain in the address bar without https://.
 - CSP (content security policy) defines approved sources of

[2016-03-02 23:39] FSMaxB commented on #2435
@mhartkorn: That isn't the issue I'll probably have to write my own package because the original doesn't work. But misuzu already confirmed that it works, so I guess I'm fine anyway.

[2016-03-03 00:40] shionphan opened #2739 "Nginx反向代理，如何禁止IP访问"
作者你好！

Nginx搞定了反向代理，而且在nginx里面做了禁止IP访问网站，但是gogs原有ip:8080还是能通过ip访问，请问何解，请恕我直接用中文提问。

谢谢

[2016-03-03 03:15] Simlan commented on #2739
可以IPTABLES限制IP访问

[2016-03-03 03:45] shionphan opened #2740 "安装源码遇到的golang.org相关依赖包报错解决办法"
大陆的网络环境安装时会遇到 `crypto`,`net`,`text` 三个相关依赖的报错

[code]
此外go-dift和resize在我环境里报错

[code]

解决办法我列出来了，请参考：

http://www.joomla178.com/joomla-share/research-and-development/651-how-to-install-gogs.html

[2016-03-03 03:45] shionphan commented on #2739
谢了！

[2016-03-03 03:45] #2739 closed

[2016-03-03 05:27] p-v commented on #2696
I noticed in some of my projects that Bitbucket doesn't always grey out the merge commit. Looks like it only greys out when there are no merge conflicts.

[2016-03-03 09:10] i00 commented on #2737
This is specifically for issues not for repos.. as discussed in #1146

[2016-03-03 09:56] Schroedingers-Cat commented on #2727
I just updated to build 0.8.49.0229 and experience at least a related problem. Whenever I try to access the Dashboard or the team page, I get "500" in the browser. The error in the log is different, however:
[code]
I'm using PostgreSQL on Ubuntu Server 14.04 (Linaro/ARM).
I can view my personal repositories, issues and so on. Anything that tries to read something team-related fails.

[2016-03-03 10:29] hhenkel commented on #1146
@Unknwon from my understanding this issue (as described in @fnkr table) should enable us to restrict access to certain functions of a repository. Especially for this case

merge/close pull requests | no | yes | yes

the implemented behavior will have an impact on the implementation of #776?

[2016-03-03 11:28] ChubbyNinja commented on #2734
thanks @Unknwon will get on it :+1: with that

[2016-03-03 11:56] bmerlet90 opened #2741 ""Fatal error: out of memory" when pushing complete repository converted with svn2git"
I converted a svn repository with the svn2git (github repo [here](https://github.com/nirvdrum/svn2git) )

After the conversion was complete I tried to push it to an empty repository on our gogs server using these git commands

[code]

During the process, the server crashed completely with this error:

[code]

Here is the complete stack of the error:
[gogs_fatal_error_stack_trace.txt](https://githu

[2016-03-03 11:58] okket commented on #2727
Same problem here, I am using MariaSQL:

`An error has occurred : GetUserRepositories: get teams: Error 1054: Unknown column 'team`.`id' in 'field list'`

[2016-03-03 14:15] wrouesnel opened #2742 "Support environment variables to override app.ini"
Deploying gogs via docker is a reasonably common mode of operation these days. To better support this type of deployment, it would be excellent if Gogs supported reading configuration from gogs.ini from environment variables instead (as these can be passed to docker containers easily by most orchestration systems).

[2016-03-03 14:35] Unknwon commented on #552
@Jonny007-MKD thanks, though not sounds like a easy thing to implemented for me...

[2016-03-03 14:47] Unknwon commented on #2696
@p-v thanks for the info!

Not dig into it, but feels like complicted things somehow.

[2016-03-03 14:49] Unknwon commented on #2737
Issue or repo, it sounds same thing to in terms of labels, access rights controls both of them.

[2016-03-03 14:52] Unknwon commented on #1146
@hhenkel OK... in the case of protected branch:

1. should add just only allow admin level access to merge
2. or users can choose what's minimal level of access level can merge?

[2016-03-03 14:57] Unknwon commented on #2727
Looks like I have to install PostreSQL...

[2016-03-03 15:13] stubobis1 commented on #1597
Is there any update on this? Is it possible to do?

[2016-03-03 15:15] Unknwon commented on #1597
@stubobis1 not spossible yet.

[2016-03-03 15:15] Totwart opened #2743 "Server Error 500 when viewing dashboard"
Application Version: 0.8.49.0229
- Ubuntu Server 14.04
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Log gogs:
[...routers/user/home.go:57 retrieveFeeds()] [E] GetFeeds: GetUserRepositories: get teams: Error 1054: Unknown column 'team`.`id' in 'field list'
## Description

This Error occurs when someone is entering the overview of their account. Everybody can create Repositories etc

[2016-03-03 15:16] Unknwon commented on #2740
Thanks your info!

However, please post to https://discuss.gogs.io/c/how-tos/how-tos-chinese

[2016-03-03 15:16] #2740 closed

[2016-03-03 15:17] Unknwon commented on #2743
Can you reproduce this on https://try.gogs.io?

And what is the `Overview` you're talking?

[2016-03-03 15:18] Unknwon commented on #2741
Thanks your feedback!

But I think this is duplicted to https://github.com/gogits/gogs/issues/636. And please use SSH for huge repos.

[2016-03-03 15:20] stubobis1 commented on #1597
@Unknwon what sort of changes need to take place?

[2016-03-03 15:20] Totwart commented on #2743
i cant. I set up a fresh installation.
The start page of everybody when you log in.

[2016-03-03 15:21] Unknwon commented on #1597
@stubobis1 thanks for asking but it's a false question, because you're going to have no ideas about what I'm talking in technical details. :sweat:

[2016-03-03 15:22] Unknwon commented on #2743
Thanks, are you sure you're using MySQL?

[2016-03-03 15:24] Unknwon commented on #2390
Somehow, https://github.com/gogits/gogs/pull/2738 solved this.

[2016-03-03 15:42] Totwart commented on #2743
jop, i am sure. The installation created all tables

[2016-03-03 15:47] Unknwon commented on #2743
OK, I reproduced it, feels like recent update of XORM changed something. cc @lunny

[2016-03-03 15:48] Unknwon commented on #2727
Whoever encounter `team.id` thing, please follow on https://github.com/gogits/gogs/issues/2743, that is irrelevant to this thread.

[2016-03-03 15:51] Totwart commented on #2743
ok, all right. Thank you for response!

[2016-03-03 15:57] YugoCode commented on #2464
Thanks for answering :)
free -h shows:
             total       used       free     shared    buffers     cached
Mem:          2.0G       225M       1.8G        68M         0B       165M

[2016-03-03 15:58] Unknwon commented on #2743
Please help test `master` again, did a quick wordaround.

[2016-03-03 15:59] Unknwon commented on #2464
@YugoCode thanks for the prove.

[2016-03-03 16:00] Totwart commented on #2743
Hi, can't test it today. On the road until tomorrow evening :/
Am 03.03.2016 4:58 nachm. schrieb "无闻" <notifications@github.com>:

[2016-03-03 16:01] Unknwon commented on #2743
... OK, I think some others would come to this thread as well.

[2016-03-03 16:01] okket commented on #2743
` 0.8.51.0303` is showing the dashboard again for me (MariaDB).

[2016-03-03 16:10] Unknwon commented on #2743
Thanks @okket

[2016-03-03 16:16] masterodie commented on #2743
For me 0.8.51.0303 seems to fix the issue too. Dashboard is back. (MariaDB, Debian 7.9)

[2016-03-03 16:29] kellpossible commented on #1801
@tboerger maybe @faggy just wants some peace of mind, knowing that they can jump into using this platform without worrying about getting locked in so to speak (an easy way out if things don't work out in the end)?

[2016-03-03 16:52] joshfng commented on #2225
I can confirm that creating a mirror in gogs does not set the default branch to master.

[2016-03-03 17:09] ChangePlaces commented on #1801
That's a good suggestion, but that would still need an import in the other git repository management system to be imported into so this feature would still be useless without that. The data is in a database, manually doing a sql dump isn't difficult and writing an import script wouldn't be difficult. We're coders after all!

[2016-03-03 19:25] Unknwon commented on #2225
This issue is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2744, please help test on `develop` branch or https://try.gogs.io.

[2016-03-03 19:45] Unknwon commented on #2448
Anyone has this issue can you please reproduce on https://try.gogs.io?

[2016-03-03 19:56] esiao commented on #2448
I created a repo to test
https://try.gogs.io/esiao but there's no public feed with my commit messages on my Feed I don't see them even if they're here.
It's only when going to a feed that it crashed (user or dashboard). The commit history is working fine :
https://try.gogs.io/esiao/TestingRepo/commits/49dd62e69bd5b38a0dc2290ef5a56d0bedb1871f

Maybe that can help you if you have a global access and

[2016-03-03 19:59] Unknwon commented on #2448
Thanks @esiao !

What does this mean?

[2016-03-03 20:03] esiao commented on #2448
On my own Gogs Instance when I go to :
https://try.gogs.io/ (Dashboard feed)

I have a list of all the commits. This is where it was crashing because of the emojii inserted directly and not in code form.

The other place where it crashed was on my profile so
https://try.gogs.io/esiao

Because same as above there was a feed of my commits and the emoji inside.

[2016-03-03 20:06] Unknwon commented on #2448
But I don't see any crash on demo site? Only problematic commits are not shown.

[2016-03-03 20:09] esiao commented on #2448
So it's working as you intended. (I was talking about my previous experience).
The commits with the emojiis are not showing up and just did one regular which showed up.

[2016-03-03 20:10] Unknwon commented on #1891
Did an attempt to solve this issue, if it's not working, will be postponed after 0.9 milestone.

You guys can test on https://try.gogs.io as well.

[2016-03-03 20:12] Unknwon commented on #2448
@esiao OK great, so maybe you were using too old version (there is another somewhat related fix about nil object, could be fixed together).

So the problem is no longer existed? Do you want to display something like `broken feed data` or right is good?

[2016-03-03 20:16] Unknwon commented on #2179
OK, at this point, close as fixed.

[2016-03-03 20:16] #2179 closed

[2016-03-03 20:17] Unknwon commented on #2435
OK, close as fixed.

[2016-03-03 20:17] #2435 closed

[2016-03-03 20:21] esiao commented on #2448
@Unknwon The best would have been to strip out the code that make it crash to keep the commit. But not displaying it is not a big issue I guess.

The problem no longer exists because I'm using the code version now like `:bug:` and didn't try with the actual emojii inserted directly since we found out this issue.

[2016-03-03 20:45] Unknwon commented on #2448
@esiao since it breaks JSON somehow, I think it would be impossible to recover the data...

[2016-03-03 20:47] SirCmpwn commented on #936
+1

[2016-03-03 20:52] Unknwon commented on #2448
Did a deep research, so, when you have emoji in a commit message, JSON encoding was failed, so the feed body is empty after all.

Closing this issue since no more crash.

[2016-03-03 20:52] #2448 closed

[2016-03-03 21:23] Eastonboy99 commented on #1071
+1

[2016-03-03 21:27] xxxtonixxx commented on #2225
Works well! :+1: [test](https://try.gogs.io/xxxtonixxx/prueba_master)

[2016-03-03 21:33] Unknwon commented on #2225
Thanks your confirmation!

[2016-03-03 21:33] #2225 closed

[2016-03-04 00:53] earlye commented on #1597
Don't underestimate us. Some of us are willing to help, but without a little direction it's really difficult for us to even get started.

[2016-03-04 02:08] Schroedingers-Cat commented on #2743
0.8.51.0303 works for me, too. Thank you!

[2016-03-04 04:11] saboya commented on #2260
Duplicate for #1149?

[2016-03-04 04:25] Unknwon commented on #2260
@saboya yeah, didn't notice that, thanks!

[2016-03-04 04:25] #2260 closed

[2016-03-04 04:26] Unknwon commented on #2183
Erase entire wiki data is now working both on `develop` branch and https://try.gogs.io/, please help test!

[2016-03-04 04:30] tomas commented on #13
Is anyone working on this? I don't have much experience with Go, but I'm willing to take a dive and see how far I get.

[2016-03-04 04:31] Unknwon commented on #13
@tomas it is a huge huge huge one... Don't recommend.. try some others labeled with `help wanted`.

[2016-03-04 04:33] tomas commented on #13
Haha, is it? Then it should be fun. :)

[2016-03-04 04:35] Unknwon commented on #13
Implement something is easy, implement and follow the convention is hard... which means code review is strict.

[2016-03-04 04:39] Unknwon commented on #2390
Should be fixed by #2738 : https://try.gogs.io/unknwon/issue-2390

[2016-03-04 06:42] hhenkel commented on #1146
@Unknwon imho the second option is what one would want. However it seems like the implementation of protected branches would require more work/thinking on a more sophisticated privilege concept.

[2016-03-04 10:00] jeppech opened #2747 "Migrate MySQL to sqlite"
I've been running my Gogs instance on a MySQL database for some time. I've dump the database to an sqlite file, by using this https://gist.github.com/esperlu/943776 and the structure seems intact. However, when i boot up the Gogs instance with the config changed to
[code]

It throws this error: `[...s/routers/install.go:71 GlobalInit()] [E] Fail to initialize ORM engine: migrate: sync: duplicate c

[2016-03-04 10:47] Jonny007-MKD commented on #552
I did a small test and is really easy! As I [suggested 10 days ago](https://github.com/gogits/gogs/issues/552#issuecomment-187941965)) we can add a middleware that sets these headers. We create a new middleware (e.g. `modules/middleware/secureheaders.go`) with a method like

    func SecureHeaders(ctx *Context) {
        ctx.Resp.Header().Set("Test", "Hallo")
        // here we read the configurat

[2016-03-04 10:58] andreynering commented on #2747
I think this question would be more apropriate in the forum: https://discuss.gogs.io/

Maybe you have better luck letting Gogs create the schema to you? You would run just the `INSERT`s after, skipping `CREATE TABLE`s and all.

Don't know if will work, just something to try.

[2016-03-04 11:05] jeppech commented on #2747
Thanks @andreynering, I'll try that

[2016-03-04 11:30] andreynering opened #2748 "Redirect loop to /"
- Gogs version (or commit ref): Current develop: dfbda48afc805095693ffa21925aea95efc8e5ff
- Git version: 2.7.2
- Operating system: Windows Server 2012
- Database:
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [x] No
  - [ ] Not relevant
- Log gist: https://gist.github.com/andreynering/bc7945bcde1a7148b0a2

## Description

After u

[2016-03-04 13:24] Flare183 opened #2749 "Gogs Crashes on git push via remote"
When I goto push a massive ~200MB music archive that I have versioned with git to my gogs server. It crashes giving me this error:
runtime: memory allocated by OS (1935654912) not in usable range [0x975a8000,0x175a8000)
runtime: out of memory: cannot allocate 268435456-byte block (278921216 in use)
fatal error: out of memory

runtime stack:
runtime.throw(0x8a7ac60, 0xd)
	/usr/local/go/src/runtime/

[2016-03-04 13:34] nightcoding commented on #1597
+1 currently a blocker for us

[2016-03-04 14:08] Unknwon commented on #2747
I'm closing this since it's more like a deployment thing.

Maybe come back to this issue later.

[2016-03-04 14:08] #2747 closed

[2016-03-04 14:15] Unknwon commented on #2748
Just pushed a fix to `develop`, please help test again!

[2016-03-04 14:19] Unknwon commented on #2749
Thanks your feedback!

But if you don't follow issue template, I can't offer any help.

[2016-03-04 14:22] Unknwon commented on #1146
@hhenkel yes, when it comes to protected branch, the access level could be ignored/overwrite, but that's should be discussed under that thread.

[2016-03-04 14:33] andreynering commented on #2748
Perfect, thanks!

[2016-03-04 14:33] #2748 closed

[2016-03-04 14:38] andreynering opened #2750 "Template problem in organization page"
- Gogs version (or commit ref): develop: f6759a731a063d5d2be8a932f8d1e1a784cc0528
- Operating system: any
- Database: any
- Can you reproduce the bug at http://try.gogs.io:
  - [x] Yes
  - [ ] No
  - [ ] Not relevant

## Description

There's something strange with the repo listing in a organization page. Noticed local and on try: https://try.gogs.io/rails

[2016-03-04 16:29] xuanduc987 opened #2751 "Organization page doesn't show repository, creation date 2044 years ago"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.8.51.0303
- Git version: 1.8.3.1
- Operating system: centos 7
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reprodu

[2016-03-04 16:29] xuanduc987 opened #2752 "500 error when viewing Organization with MySQL"
We DO NOT take questions or config/deploy problems on GitHub, please use our forum: https://discuss.gogs.io

Please take a moment to search that an issue doesn't already exist.

For bug reports, please give the relevant info:

- Gogs version (or commit ref): 0.8.51.0303
- Git version: 1.8.3.1
- Operating system: centos 7
- Database:
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] SQLite
- Can you reprodu

[2016-03-04 16:48] Unknwon commented on #2752
Duplicated to https://github.com/gogits/gogs/issues/2743

[2016-03-04 16:48] #2752 closed

[2016-03-04 16:57] Unknwon commented on #2750
Hmm... merge this issue to #2751

[2016-03-04 16:57] #2750 closed

[2016-03-04 17:18] Unknwon commented on #2725
Any updates?

[2016-03-04 18:09] Unknwon commented on #2743
Pushed another fix in case some people still have problem described in this thread.

[2016-03-04 18:10] Unknwon commented on #2751
Pushed fix to `master` and updated https://try.gogs.io.

[2016-03-04 18:12] Unknwon commented on #2727
Please test again with `master` branch!

[2016-03-04 18:32] Unknwon commented on #2183
OK, you should be able to test it on `develop` branch or https://try.gogs.io

[2016-03-04 18:35] Totwart commented on #2743
Dashboard works for me now. Ty

[2016-03-04 18:35] Unknwon commented on #2743
@Totwart Thanks for your confirmation.

[2016-03-04 18:35] #2743 closed

[2016-03-04 18:36] Unknwon commented on #2701
Close as implemented.

[2016-03-04 18:36] #2701 closed

[2016-03-04 18:36] Unknwon commented on #2704
Close as implemented.

[2016-03-04 18:36] #2704 closed

[2016-03-04 18:36] Unknwon commented on #2653
Close as implemented.

[2016-03-04 18:36] #2653 closed

[2016-03-04 19:14] Download-Fritz opened #2754 "[FEATURE] Comment webhook"
Dear developers,

I'm currently working on setting up Jenkins CI to build certain repositories and their Pull Requests hosted via Gogs. To achieve this, I added a post-receive hook to the main repository, which is correctly triggered each time a PR is opened.
Now, the PR may needs to be updated several times to comply with the standards, but the following commits to the PR branch will not be cover

[2016-03-04 19:16] xuanduc987 commented on #2743
@Unknwon

Organization page still error 500

xorm:
[code]

Now `.` is surrounded by 1 pair of backticks instead of 2

ref go-xorm/xorm/#365

[2016-03-04 19:20] xuanduc987 commented on #2751
@Unknwon
Thank you, this issue had been fixed

But I still got #2743  https://github.com/gogits/gogs/issues/2743#issuecomment-192422691

[2016-03-04 19:21] Unknwon commented on #2743
@xuanduc987 I don't think you have updated to latest version of Gogs.

[2016-03-04 19:22] Unknwon commented on #2751
Great!

[2016-03-04 19:22] #2751 closed

[2016-03-04 19:25] xuanduc987 commented on #2743
@Unknwon

I had updated to the latest version of Gogs, and #2751 had been fixed for me too.

In #2752, the error querry is

[code]

and with the latest version:

[code]

You can see that a pair of back tick ` had been deleted compare to the previous version

[2016-03-04 19:29] Unknwon commented on #2743
There is no such thing from my log `team.*`:

[code]

Make sure you updated **everything** by `go get -u`

[2016-03-04 19:30] Unknwon commented on #2754
Thanks your feedback!

But I think this is duplicated to https://github.com/gogits/gogs/issues/2319

[2016-03-04 19:32] Download-Fritz commented on #2754
Yes, you are right
I specifically searched for PRs, so this one did not pop up.

Thanks! :)

[2016-03-04 19:32] #2754 closed

[2016-03-04 19:46] xuanduc987 commented on #2743
I installed with packager, from https://packager.io/gh/pkgr/gogs/
Maybe I should install from source

[2016-03-04 19:47] Unknwon commented on #2743
@xuanduc987 what is the version show on the bottom of the page?

[2016-03-04 19:56] xuanduc987 commented on #2743
@Unknwon

[2016-03-04 19:58] Unknwon commented on #2743
@xuanduc987 looks right to me, but the SQL is obviously seems wrong to me.

[2016-03-04 20:08] xuanduc987 commented on #2743
@Unknwon

Like this page: https://try.gogs.io/rails

I had build gogs from source, using go 1.6 but the results still the same.
When member loged in, then the error occurs when he go to his Org profile page
But if he is not logged in, or if he is an admin then he can view this page normaly

[2016-03-04 20:12] Unknwon commented on #2743
I am running out of ideas.

[2016-03-04 20:12] xuanduc987 commented on #2743
@Unknwon

I don't know `go`
But I think the cause is here
https://github.com/gogits/gogs/blob/master/models/org.go#L1091-L1098

[code]

[2016-03-04 20:16] Unknwon commented on #2743
@xuanduc987 good catch!

BTW, which MySQL version you're running?

[2016-03-04 20:18] xuanduc987 commented on #2743
@Unknwon
I'm runing it on CentOS, so it is actually MariaDB
[code]

[2016-03-04 20:34] mhartkorn commented on #2732
Seems to be working with `master` now.

[2016-03-04 20:42] Unknwon commented on #2732
@mhartkorn really?... I don't fix it at all...

[2016-03-04 20:44] Unknwon commented on #1597
Whoever watches on this thread, please help test `develop` branch or https://try.gogs.io

[2016-03-04 20:46] guillemcanal commented on #1597
@Unknwon I'll for sure ;)

[2016-03-04 20:48] Techwolf12 commented on #1597
@Unknwon I will as well!

[2016-03-04 20:55] bastiao commented on #1597
This is really great news! It seems to work! I will test with more detail for sure.

[2016-03-04 20:55] Techwolf12 commented on #1597
@Unknwon

* When on master and pressing new pull request in the pull request list or pressing the pull request button on the master branch page, url (/techwolf12/test/compare/master...master) gives a 404, it isn't supposed to make a master to master pull request anyway
* When on dev branch, pressing the pull request icon goes to (/techwolf12/test/compare/master...dev) and gives a 404

[2016-03-04 20:56] Unknwon commented on #1597
@Techwolf12 link on https://try.gogs.io?

[2016-03-04 20:58] Techwolf12 commented on #1597
@Unknwon The rest on try.gogs.io is usable for me. Can you create a pull request between branches on my repo? https://try.gogs.io/techwolf12/test I've given you collaborator rights

[2016-03-04 21:00] Unknwon commented on #2743
@xuanduc987 are you able to try `develop` branch again?

[2016-03-04 21:01] Unknwon commented on #1597
@Techwolf12 Yes... https://try.gogs.io/techwolf12/test/compare/master...dev

![image](https://cloud.githubusercontent.com/assets/2946214/13540067/5622d052-e222-11e5-9868-5e7b94c87b0a.png)

[2016-03-04 21:02] Unknwon commented on #1597
@Techwolf12 I might know the problem, let me check.

[2016-03-04 21:03] Techwolf12 commented on #1597
@Unknwon Sure. Please let me know once you want me to test again

[2016-03-04 21:10] mhartkorn commented on #2732
Funny. I checked out the latest Docker container and compiled from source to make sure. I mean, it's working for me at the moment. The corresponding SQL query for getting the repos from organizations also changed which I explicitly checked before updating. Can someone else test it with the latest `master`, please?

[2016-03-04 21:12] Unknwon commented on #2732
@mhartkorn just to clarify, this issue is about site admin, not organization admin.

[2016-03-04 21:13] Techwolf12 commented on #1597
@Unknwon @guillemcanal
After being added to https://try.gogs.io/gogogo/testing-repo (Thanks, Guillem!) I can make a pull request. However I do get a 500 upon creation. I suspect it has something to do with the slash in the branch name: https://try.gogs.io/gogogo/testing-repo/compare/master...feat/add-content-to-readme

[2016-03-04 21:14] Unknwon commented on #1597
@Techwolf12 Updated demo site, you should be able to create PR on your own repository now.

[2016-03-04 21:15] mhartkorn commented on #2732
Oh. Sorry, I mixed up 2 issues. :(

[2016-03-04 21:15] Unknwon commented on #1597
Also, https://try.gogs.io/gogogo/testing-repo/pulls/1 @Techwolf12

[2016-03-04 21:15] Unknwon commented on #2732
:joy:

[2016-03-04 21:17] Techwolf12 commented on #1597
@Unknwon Success! https://try.gogs.io/techwolf12/test/pulls/1#issuecomment-620
However the 500 error is for every branch I try to merge on https://try.gogs.io/gogogo/testing-repo. Can you check in the server logs for me?

[2016-03-04 21:18] Unknwon commented on #1597
@Techwolf12 error:

[code]

[2016-03-04 21:23] Techwolf12 commented on #1597
@Unknwon I am going to try to look into that. An other issue: https://try.gogs.io/techwolf12/test/pulls/2
Merging it manually from command line because of a conflict, it doesn't resolve the pull request and the changed files/commits are on N/A (and non-clickable)

[2016-03-04 21:26] guillemcanal commented on #1597
It look good so far, great job! Merge conflict are properly detected.

[2016-03-04 21:26] Unknwon commented on #1597
@Techwolf12 I think this is expected, you can only view until you solve the conflict and push again.

[2016-03-04 21:28] Techwolf12 commented on #1597
@Unknwon I agree with the part you can only view and needing to merge from command line. However once you do this merge it doesn't show the commits left and you need to manually close it on the PR page. It does however work partially as expected and is not a very blocking issue now.

[2016-03-04 21:41] guillemcanal commented on #1597
@Unknwon @Techwolf12 I may be mistaken, but I solved a merge conflict on that branch an still, I'm not allowed to merge: https://try.gogs.io/gogogo/testing-repo/pulls/3

[2016-03-04 21:42] Unknwon commented on #1597
@guillemcanal close and reopen solve the problem, I'll dig into why.

[2016-03-04 21:43] guillemcanal commented on #1597
@Unknwon Thanks ;)

[2016-03-04 21:43] Unknwon commented on #1597
@guillemcanal did you use `push --force` to solve the conflict?

[2016-03-04 21:43] guillemcanal commented on #1597
@Unknwon yes indeed

[2016-03-04 21:53] Unknwon commented on #1597
@guillemcanal solved.

[2016-03-04 22:01] guillemcanal commented on #1597
@Unknwon just so you know: I had to logout/login to see the merge pull request button. Maybe it's a side effect caused by the client been updated in the process ;)

[2016-03-04 22:04] Unknwon commented on #1597
What is this exactly?

[2016-03-04 22:05] #2749 closed

[2016-03-04 22:08] guillemcanal commented on #1597
@Unknwon Well, on the pull request page, before I logged out, the "merge pull request" (I don't really know if it's the exact phrase for that button) where not present. So, I decided to log out and log back in. Then on the "merge pull request" came back.

[2016-03-04 22:11] Unknwon commented on #1597
I think refresh the page will do the same job, become it was checking conflict at the moment you send the new pull request. But checking is fast enough to show you result in the next refresh.

[2016-03-04 22:24] guillemcanal commented on #1597
@Unknwon So I tested another merge conflict pull request, once resolved, It went as expected. Nice work you did there :+1:

[2016-03-04 22:33] Fristing opened #2756 "Remove Branch in Panel"
## Description
Hi,
I want to delete a branch on my repository, how i do this ?

Best Regards
Quentin Laffont

[2016-03-04 22:49] Unknwon commented on #2756
Hi, it is not possible currently, you can follow on this issue: https://github.com/gogits/gogs/issues/2310

[2016-03-04 22:49] #2756 closed

[2016-03-04 23:07] guillemcanal commented on #1597
@Unknwon One last thing: It seems that collaborators have the right to push commits on the master branch, have you any plans to release a feature to prevent such a thing ? Anyway, nice work so far, Go is a really nice language. I'll give it a try ASAP.

[2016-03-04 23:14] Unknwon commented on #1597
@guillemcanal you can follow https://github.com/gogits/gogs/issues/776

[2016-03-04 23:17] guillemcanal commented on #1597
@Unknwon thanks, subscribed :)

[2016-03-04 23:38] Unknwon commented on #2588
This is claimed to be fixed by merging https://github.com/gogits/gogs/pull/2757.

[2016-03-05 00:14] Unknwon commented on #2569
Close due to lack of feedback.

[2016-03-05 00:14] #2569 closed

[2016-03-05 00:14] Unknwon commented on #2642
Any updates?

[2016-03-05 00:14] Unknwon commented on #2643
Close due to lack of feedback.

[2016-03-05 00:14] #2643 closed

[2016-03-05 00:14] Unknwon commented on #2678
Close due to lack of feedback.

[2016-03-05 00:14] #2678 closed

[2016-03-05 00:15] Unknwon commented on #2680
Close due to lack of feedback.

[2016-03-05 00:15] #2680 closed

[2016-03-05 00:15] Unknwon commented on #2726
Close due to lack of feedback.

[2016-03-05 00:15] #2726 closed

[2016-03-05 00:50] julor commented on #2725
only on my computer! I have several update from last year version.This could cause the problem?

[2016-03-05 00:52] FuzzyWuzzie commented on #2308
+1 million

[2016-03-05 00:52] Unknwon commented on #2725
@julor

1. Update to latest `master`.
1. Restart
2. Try again

[2016-03-05 02:01] joshfng commented on #1597
@Unknwon great work I've been testing locally. One thing I noticed is the activity feed shows "Issue closed" when closing a PR, but it says "Pull Request opened" when opening one.

<img width="745" alt="screen shot 2016-03-04 at 9 00 01 pm" src="https://cloud.githubusercontent.com/assets/302764/13544946/38953370-e24c-11e5-8682-120ee54522d4.png">

[2016-03-05 02:06] Unknwon commented on #1597
@joshfng good catch!

[2016-03-05 05:52] Unknwon commented on #1157
Adjust some changes about avatar, and you can delete current avatar now.

[2016-03-05 05:52] #1157 closed

[2016-03-05 05:59] BruinY opened #2760 "Private repository with public issues"
need private repository with public issues. thanks

[2016-03-05 06:05] Unknwon commented on #2760
Duplicated to https://github.com/gogits/gogs/issues/649

[2016-03-05 06:05] #2760 closed

[2016-03-05 08:28] lavvy commented on #1071
Wow,  still not yet working in gogs. Code  editing with the ability to create files and directories is the only feature stopping us from using Gogs today. I try to imagine how @unknown  don't find this feature important. Gogs is a good os community which should keep improving by the  desires of its  users.

[2016-03-05 12:27] johnnylee commented on #2727
I updated gogs and xorm but I'm still getting the identical error:

[code]

[2016-03-05 16:42] Unknwon commented on #1071
@lavvy just to clarify it's not going to a online IDE.

[2016-03-05 16:43] Unknwon commented on #2727
@johnnylee please dump the `xorm.log` right after you hit this error.

[2016-03-05 16:47] Unknwon commented on #552
@Jonny007-MKD I know where to set, but when and what to set, need a deep understanding and provide appropriate config options.

[2016-03-05 17:16] xuanduc987 commented on #2727
@Unknwon

I got the same error with develop branch:

[code]

[2016-03-05 17:20] Unknwon commented on #2727
@xuanduc987 how do you know this line of log cause the problem?

[2016-03-05 17:20] xuanduc987 commented on #2743
@Unknwon

I got the this error with develop branch:

[code]

empty SELECT part

[2016-03-05 17:28] Unknwon commented on #2743
I don't understand this.

[2016-03-05 17:32] xuanduc987 commented on #2743
@Unknwon

What I mean is this part:
[code]

And this is from gogs.log
[code]

[2016-03-05 17:35] Unknwon commented on #2743
@xuanduc987 http://stackoverflow.com/questions/10439122/select-count-from-select

[2016-03-05 17:38] xuanduc987 commented on #2743
@Unknwon

Sorry, my mistake. I were reading the wrong log file.

Somehow, the error is still the same:

[code]
from gogs.log
[code]

[2016-03-05 17:45] Unknwon commented on #2743
@xuanduc987 looks like you are not on the `develop` branch?

[2016-03-05 17:45] Unknwon commented on #2743
FYI, `develop` is more updated than `master`.

[2016-03-05 17:47] xuanduc987 commented on #2743
@Unknwon
The version number in footer is from `develop` isn't it

[2016-03-05 17:53] Unknwon commented on #2743
Look at the version, yes, please dump full xorm.log after you hit the error.

[2016-03-05 17:59] Unknwon commented on #1597
@joshfng old ones can't fix, but new ones will look like:

![image](https://cloud.githubusercontent.com/assets/2946214/13549401/19fdaab0-e2d2-11e5-9667-778b361a601c.png)

Now on `develop` branch and demo site.

[2016-03-05 18:05] xuanduc987 commented on #2743
@Unknwon

Sorry, it's because I don't know how go build works.
I had forgot to run `go get -u` before build the first time.
I've built again after `go get -u` and now it works as expected

[2016-03-05 18:06] Unknwon commented on #2743
@xuanduc987 :trollface:

[2016-03-05 18:17] Jonny007-MKD commented on #552
Ok. I created a new branch at my place and gave you permissions. I will commit some code for each header and add comments what values I need from the config and what their default should be :) I'll tell you when I'm ready!

[2016-03-05 18:19] Unknwon commented on #552
@Jonny007-MKD Thanks, I'll review after that.

[2016-03-05 18:27] joshfng commented on #1597
:+1:

[2016-03-06 01:42] xxxtonixxx commented on #2588
@Unknwon Ok, I can say that it's okay! And this issue can be closed :+1:

![image](https://cloud.githubusercontent.com/assets/7110786/13551745/e359890c-e344-11e5-8673-c1a1e8be0af9.png)

[2016-03-06 01:46] Unknwon commented on #2588
Thanks your confirmation!

[2016-03-06 01:46] #2588 closed

[2016-03-06 01:49] Unknwon commented on #1146
Whoever watches on this thread, you can now follow [this guide](https://discuss.gogs.io/t/how-to-manage-collaborators/87) to test on `develop` branch or demo site.

[2016-03-06 03:50] xxxtonixxx opened #2763 "Allow to delete current avatar of organizations"
An image
![image](https://cloud.githubusercontent.com/assets/7110786/13552165/d6322736-e356-11e5-98bf-6b34d3747ea8.png)

[2016-03-06 03:52] Unknwon commented on #2763
Same thing has been done for user settings, if someone want to take this, claim and go ahead.

[2016-03-06 03:57] Unknwon commented on #2466
Did find some way to fix two issues you mentioned, so close this one now.

[2016-03-06 03:57] #2466 closed

[2016-03-06 03:57] xxxtonixxx opened #2764 "Translate dialogs without translation"
- Collaborators
![image](https://cloud.githubusercontent.com/assets/7110786/13552176/6e33eaf6-e357-11e5-885d-25839495be3f.png)

- New page's editor of Wiki
![image](https://cloud.githubusercontent.com/assets/7110786/13552199/2096b9e8-e359-11e5-8fde-e61f1e85ec81.png)

- Gravatar email dialog in profile.tmpl (it's a concatenation string)
![image](https://cloud.githubusercontent.com/assets/7110786/13

[2016-03-06 03:59] Unknwon commented on #2764
This is on purpose, I think these English words express things more precise.

[2016-03-06 04:01] Unknwon commented on #2650
Close due to lack of feedback.

[2016-03-06 04:01] #2650 closed

[2016-03-06 04:02] Unknwon commented on #2623
@NiklasRosenstein Hi, sorry I forgot what's the situation of this issue right not, can you recap a bit?

[2016-03-06 04:04] xxxtonixxx commented on #2764
Hmmm, in spanish is common to see "read" and "write" how "lectura" and "escritura". "Admin" is equal, "Administrador".

[2016-03-06 04:11] Unknwon commented on #2623
Pushed a fix to `develop` and you can test on https://try.gogs.io

[2016-03-06 04:15] Unknwon commented on #2402
@i00 is anywhere I can get this repository history?

[2016-03-06 04:20] Unknwon commented on #2764
**Gravatar** is a special term which should not be translated ever.

[2016-03-06 04:20] Unknwon commented on #2764
And.. I really don't understand the issue title....

[2016-03-06 04:23] xxxtonixxx commented on #2764
Yes, but the problem is the order of the strings. In spanish "Gravatar correo electrónico" doesn't have too sense.

[2016-03-06 04:25] xxxtonixxx commented on #2764
Ok, I'm sorry for my bad english... :sweat:

[2016-03-06 04:25] Unknwon commented on #2764
It won't be fixed because that's directly from editor, out of Gogs control.

[2016-03-06 04:26] Unknwon commented on #2764
Will consider the other two though.

[2016-03-06 04:27] xxxtonixxx commented on #2764
Ok, and thanks for all :+1: :sweat_smile:

[2016-03-06 05:51] BruinY commented on #649
Two years ago of demand, although no arrangement..Let a person feel very sorry

[2016-03-06 05:53] BruinY commented on #649
Hope in the near future can solve, this is a very important feature, should need to obtain a higher priority than others, it leads to better reputation

[2016-03-06 07:37] liebo commented on #2387
+1, trigger tag from web ui is quite important

[2016-03-06 08:15] moltam commented on #1146
@Unknwon It seems to working. I tested all use cases in the table with an reader/writer/admin collaborator. I didn't find any problems. Although others should test it too, I may have missed something...

Thank you!

[2016-03-06 08:23] johnnylee commented on #2727
@Unknwon here are the xorm log entries that show up when attempting to render the page:

[code]

[2016-03-06 09:04] moltam commented on #1597
On Github you can choose repos at compare. For example a compare on a forked repo by default looks like this:

![fork-compare-default](https://cloud.githubusercontent.com/assets/4578365/13553151/44a66d9e-e37f-11e5-86c7-cf101da6af6c.png)

You can switch to local compare if you click on 'compare across forks' (Same thing happens if you choose your forked repo as base.):

![fork-compare-local](https:

[2016-03-06 09:18] lunny commented on #2727
It seems there are no error occupation? @johnnylee

[2016-03-06 12:25] johnnylee commented on #2727
@lunny I'm not sure I understand.

Looking at this information, I think that the most likely cause of the error is in the last query, where it appears that xorm is passing the array 1,2 to postgres as a string.

[2016-03-06 14:34] nd2s opened #2765 "Error 500 on wiki - "not a valid ref""
I tried creating a (first) wiki page on a repo and getting error 500 since then when visiting wiki tab.

[code]

Gogs version: 0.8.59.0305 (also happened on a previous version, don't know which one, though).
Git version: 2.7.2
OS: FreeBSD 10.2
DB: PostgreSQL 9.4

Could not reproduce on try.gogs.io.

[2016-03-06 14:59] #2725 closed

[2016-03-06 15:15] lunny commented on #2727
[code]

[2016-03-06 17:18] tuudik opened #2767 "OpenLDAP connection using StartTLS"
- Gogs version (or commit ref): 0.8.55.0304
- Operating system: Ubuntu 14.04 LTS Server
- Database:
  - [X] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [X] Not relevant

## Description

I've tried to configure Gogs to use OpenLDAP as authentication source with following configuration:

Parameter | Value
------------ | -------------
Authentication Type | LDAP (via BindDN)
Authenti

[2016-03-06 17:36] tuudik commented on #2767
Also, if I want to disable "Skip TLS Verify", it's unclear where do I specify the CA certificate, which was used to issue OpenLDAP certificate.

[2016-03-06 17:38] Unknwon commented on #2765
Thanks your feedback!

Is it 100% reproducible for **every new repository and after create first wiki page**?

[2016-03-06 17:47] nd2s commented on #2765
I created a new repository + wiki page and got a different error: turns out `data/tmp` directory was missing (no idea why). I created it with proper permissions, and recreated wiki page of first repo - now everything is working.

Closing this now, thanks.

[2016-03-06 17:47] #2765 closed

[2016-03-06 17:47] Unknwon commented on #2765
:+1:

[2016-03-06 18:01] Nhoya commented on #1071
@Unknwon ok but it will be a realy nice feature, lot of people ask for it, look the +1 on this thread. Gogs is a really good project and adding this feature will be more user friendly, not everyone has the possibility to star a git session everywhere and doing it from the web interface will be really helpful

[2016-03-06 18:03] Unknwon commented on #1597
@moltam it could, but not in near future. :sweat: and out of scope of this thread, you can open another issue to keep the record.

[2016-03-06 18:07] Unknwon commented on #1071
@Nhoya I'll try on 0.10, but no promises.

[2016-03-06 18:08] Unknwon commented on #2727
@lunny any explanation for the fix?

[2016-03-06 18:09] wsidl commented on #1071
@Nhoya I can't quite agree with you. I +1 this because it's a feature to allow for quick edits to a file outside if I'm away from my computer, or to allow inexperienced users to comment or make edits to documentation. Basically, the same reasons why I can edit files in GitHub. I agree with @Unknwon that having full edit support will be a bit tough.

Maybe a start is to allow editing existing files

[2016-03-06 18:09] Unknwon commented on #1146
@moltam thanks for the testing!

[2016-03-06 18:12] denji commented on #776
+1, `git push --force` **will destroy this planet!**

[2016-03-06 18:13] Unknwon commented on #2767
Skip verify means no verify, so you don't need to given CA certificates.

cc @nanoant @SergioBenitez can you guys help?

[2016-03-06 18:15] tuudik commented on #2767
But I want it to check:D But lets try first to get some progrss with skip.

Another question, is there some way to endable debug? I use init.d script to launch gogs.

[2016-03-06 18:17] Unknwon commented on #2767
Change `[log] LEVEL = Trace` and start without daemon, trace log will be printed to console.

[2016-03-06 18:22] githublaohu opened #2769 "二进制安装，异常"
按照

    解压压缩包。
    使用命令 cd 进入到刚刚创建的目录。
    执行命令 ./gogs web，然后，就没有然后了。

在ubuntu14，centos6.5与7。都是64位操作系统。
执行 ./gogs web
error while loading shared libraries: libpam.so.0: cannot open shared object file: No such file or directory

实在找不到问题解决方案。麻烦解决下。
多谢。麻烦了 。

[2016-03-06 18:24] tuudik commented on #2767
Unfortunately nothing extra:(
`
[Macaron] Started POST /user/login for *.*.*.*
2016/03/06 20:22:47 [D] Session ID: 0bbfc4ce55a41760
2016/03/06 20:22:47 [D] CSRF Token: -c7vEcWy_RJ58j8D5BoTAWRvCjk6MTQ1NzI3MDMwMTY5MTgzODI1NA==
2016/03/06 20:22:47 [D] Using TLS for LDAP without verifying: true
2016/03/06 20:22:47 [...gogs/models/login.go:246 LoginUserLDAPSource()] [E] LDAP Connect error, ldap.roksnet

[2016-03-06 18:25] Unknwon commented on #2767
This is the core problem:

[2016-03-06 18:26] Unknwon commented on #2763
This is claimed to be implemented by merging https://github.com/gogits/gogs/pull/2766

[2016-03-06 18:26] Unknwon commented on #2769
Close by

[2016-03-06 18:26] #2769 closed

[2016-03-06 18:29] Unknwon commented on #2769
Possible solutions: http://www-01.ibm.com/support/docview.wss?uid=swg21664818

[2016-03-06 18:30] Unknwon commented on #2183
Close as implemented.

[2016-03-06 18:30] #2183 closed

[2016-03-06 18:32] Unknwon commented on #2390
Close as fixed.

[2016-03-06 18:32] #2390 closed

[2016-03-06 18:50] moltam opened #2770 "Ability to switch between repositories at compare"
This feature was first discussed in #1597. I opened this issue to track this feature separately.

The repo compare function could be extended to support switch between repositories, just like on Github.

For example a compare on a forked repo by default looks like this:

![fork-compare-default](https://cloud.githubusercontent.com/assets/4578365/13553151/44a66d9e-e37f-11e5-86c7-cf101da6af6c.png)

Y

[2016-03-06 18:57] joubertredrat commented on #1071
Guys, you want web IDE? https://icecoder.net/

Be happy.

[2016-03-06 18:59] Unknwon commented on #1071
I'll try to setup Ace Editor first with very basic editing feature.

[2016-03-06 19:09] joubertredrat commented on #1071
@Unknwon, don't listen to the slackers, the original feature to be only a web editor is nice, if they want web editor, have a lot on open source community.

[2016-03-06 20:08] lavvy commented on #1071
Nobody is a slacker here,  everyone cannot be a coder. Just imagine if
everyone on earth knows everything,  it gonna be very boring . Everyone has
his bit.  Noobs shouldn't be crucified. They got to live too.
On Mar 6, 2016 2:10 PM, "Joubert RedRat" <notifications@github.com> wrote:

[2016-03-06 20:36] Unknwon commented on #1891
Please do `go get -u github.com/go-macaron/csrf` and recompile Gogs see if problem solved.

[2016-03-06 20:41] hellochenwang commented on #1071
clearly web editor is very low priority in this project.
if you want free stuff, use github.
if you need web editor in gogs, make one yourself. if you can't code, hire a coder to write a plugin.

[2016-03-06 20:53] AndreaGiardini commented on #2384
I would love to see this in Gogs! I subscribe :+1:

[2016-03-06 22:12] kaini opened #2773 "Users can circumvent the repository limit"
- Gogs version (or commit ref): 0.8.61.0306
- Git version: 2.1.4
- Operating system: up to date Debian 8
- Database:
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] SQLite
- Can you reproduce the bug at http://try.gogs.io:
  - [ ] Yes
  - [ ] No
  - [X] Not relevant (no admin access)
- Log gist: not relevant

## Description

When creating a user with a repository limit of 0, the user cannot create reposi

[2016-03-06 22:17] Unknwon commented on #2773
Duplicated of https://github.com/gogits/gogs/issues/2643 and please follow https://github.com/gogits/gogs/issues/1556

[2016-03-06 22:17] #2773 closed

[2016-03-06 22:58] joubertredrat commented on #1071
@hellochenwang the problem isn't not this, for open soure project always is good to talk about new features, the problem is talking about "the project will be awesome if this feature is in" or "I don't use your project only because don't have this feature".

This kind of talk isn't productive.

Hey @Unknwon I will definitely only use the Gogs when I hover my mouse on logo, it sing a song to my cod

[2016-03-06 23:22] SergioBenitez commented on #2767
@tuudik: Indeed, as @Unknwon has identified, it looks like the machine running the Gogs instance can't connect to your LDAP server. Try using `ldapsearch` on the same machine, if it's installed, to ensure you can connect to the server.

As far as verifying certificates goes, this is actually broken on the current Gogs instance. I've fixed this in my current version (it's a very small fix) but have

[2016-03-07 00:51] Unknwon commented on #2763
Close as implemented.

[2016-03-07 00:51] #2763 closed

[2016-03-07 00:51] Unknwon commented on #1597
Close as implemented.

[2016-03-07 00:51] #1597 closed

[2016-03-07 00:51] Unknwon commented on #1146
Close as implemented.

[2016-03-07 00:51] #1146 closed

[2016-03-07 01:09] lavvy commented on #1071
Gogs is a nice project . but seems some techies locking others out.
Everyone in the community would like to use gogs , but what will weaker
ones do when the barrier is too high. For instance a noob who cannot edit
codes through git will not be able to use it. In this age, every project is
aiming to bring down entry hurdles. The Ace editor is so good enough for
entry level. We love gogs and we want

[2016-03-07 01:12] Unknwon commented on #2737
Close due to lack of feedback.

[2016-03-07 01:12] #2737 closed

[2016-03-07 01:13] Unknwon commented on #2741
Close due to lack of feedback.

[2016-03-07 01:13] #2741 closed

[2016-03-07 01:49] githublaohu commented on #2769
[root@iZ11rl3hsntZ ~]# rpm -qa *Xext*
libXext-1.3.1-2.el6.x86_64
[root@iZ11rl3hsntZ ~]# rpm -qa pam
pam-1.1.1-20.el6_7.1.x86_64
[root@iZ11rl3hsntZ ~]# cd /data/olds/
du-tomcat/                     gogs/                          gogs_v0.8.43_linux_386.tar.gz  tomcat/
[root@iZ11rl3hsntZ ~]# cd /data/olds/gogs
[root@iZ11rl3hsntZ gogs]# ./gogs .web
./gogs: error while loading shared libraries: libpam.

[2016-03-07 01:52] wsidl commented on #1071
@lavvy The techies are not locking you out. The subject of this issue was to implement a web editor for existing files in a repository. What you are asking for is additional features onto this. I'm not denying what you are asking for isn't required. I would love to see such a feature, but that's not the focus here.

What I would recommend is to create multiple Issues along with this for these subj

[2016-03-07 03:05] ChangePlaces commented on #1891
I'd like to help test this, but now confused as to how to recreate the problem. Can we get a list of ways to recreate? I've just opened a list of issues on try.gogs.io and will wait a few hours to then submit a change to an issue as this is the only way I know of causing the bug.

[2016-03-07 03:06] Unknwon commented on #1891
@ChangePlaces Just updated to latest version and use normal, there is no certain way to 100% reproduce this right now...

[2016-03-07 05:30] NephtaliGomez commented on #1071
+1 for this awesome feature!... We're waiting...